<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Ids Form</ids-text>
    </ids-layout-grid>

    <ids-form compact="true">
      <ids-layout-grid auto="true">
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Normal Stacked Form</ids-text>
        </ids-layout-grid-cell>
      </ids-layout-grid>
      <ids-layout-grid auto="true">
        <ids-layout-grid-cell>
          <ids-input id="test-email" type="Email" label="Email" dirty-tracker="true"></ids-input>
          <ids-input id="test-password" type="password" label="Password" dirty-tracker="true"></ids-input>
          <ids-dropdown id="dropdown-1" label="States" value="ca" dirty-tracker="true">
            <ids-list-box>
              <ids-list-box-option id="al" value="al">Alabama</ids-list-box-option>
              <ids-list-box-option id="ak" value="ak">Alaska</ids-list-box-option>
              <ids-list-box-option id="az" value="az">Arizona</ids-list-box-option>
              <ids-list-box-option id="ar" value="ar">Arkansas</ids-list-box-option>
              <ids-list-box-option id="ca" value="ca" selected>California</ids-list-box-option>
              <ids-list-box-option id="co" value="co">Colorado</ids-list-box-option>
              <ids-list-box-option id="ct" value="ct">Connecticut</ids-list-box-option>
              <ids-list-box-option id="de" value="de">Delaware</ids-list-box-option>
              <ids-list-box-option id="dc" value="dc">District Of Columbia</ids-list-box-option>
              <ids-list-box-option id="fl" value="fl">Florida</ids-list-box-option>
              <ids-list-box-option id="ga" value="ga">Georgia</ids-list-box-option>
              <ids-list-box-option id="hi" value="hi">Hawaii</ids-list-box-option>
              <ids-list-box-option id="id" value="id">Idaho</ids-list-box-option>
              <ids-list-box-option id="il" value="il">Illinois</ids-list-box-option>
              <ids-list-box-option id="in" value="in">Indiana</ids-list-box-option>
              <ids-list-box-option id="ia" value="ia">Iowa</ids-list-box-option>
              <ids-list-box-option id="ks" value="ks">Kansas</ids-list-box-option>
              <ids-list-box-option id="ky" value="ky">Kentucky</ids-list-box-option>
              <ids-list-box-option id="la" value="la">Louisiana</ids-list-box-option>
              <ids-list-box-option id="me" value="me">Maine</ids-list-box-option>
              <ids-list-box-option id="md" value="md">Maryland</ids-list-box-option>
              <ids-list-box-option id="ma" value="ma">Massachusetts</ids-list-box-option>
              <ids-list-box-option id="mi" value="mi">Michigan</ids-list-box-option>
              <ids-list-box-option id="mn" value="mn">Minnesota</ids-list-box-option>
              <ids-list-box-option id="ms" value="ms">Mississippi</ids-list-box-option>
              <ids-list-box-option id="mo" value="mo">Missouri</ids-list-box-option>
              <ids-list-box-option id="mt" value="mt">Montana</ids-list-box-option>
              <ids-list-box-option id="ne" value="ne">Nebraska</ids-list-box-option>
              <ids-list-box-option id="nv" value="nv">Nevada</ids-list-box-option>
              <ids-list-box-option id="nh" value="nh">New Hampshire</ids-list-box-option>
              <ids-list-box-option id="nj" value="nj">New Jersey</ids-list-box-option>
              <ids-list-box-option id="nm" value="nm">New Mexico</ids-list-box-option>
              <ids-list-box-option id="ny" value="ny">New York</ids-list-box-option>
              <ids-list-box-option id="nc" value="nc">North Carolina</ids-list-box-option>
              <ids-list-box-option id="nd" value="nd">North Dakota</ids-list-box-option>
              <ids-list-box-option id="oh" value="oh">Ohio</ids-list-box-option>
              <ids-list-box-option id="ok" value="ok">Oklahoma</ids-list-box-option>
              <ids-list-box-option id="or" value="or">Oregon</ids-list-box-option>
              <ids-list-box-option id="pa" value="pa">Pennsylvania</ids-list-box-option>
              <ids-list-box-option id="ri" value="ri">Rhode Island</ids-list-box-option>
              <ids-list-box-option id="sc" value="sc">South Carolina</ids-list-box-option>
              <ids-list-box-option id="sd" value="sd">South Dakota</ids-list-box-option>
              <ids-list-box-option id="tn" value="tn">Tennessee</ids-list-box-option>
              <ids-list-box-option id="tx" value="tx">Texas</ids-list-box-option>
              <ids-list-box-option id="ut" value="ut">Utah</ids-list-box-option>
              <ids-list-box-option id="vt" value="vt">Vermont</ids-list-box-option>
              <ids-list-box-option id="va" value="va">Virginia</ids-list-box-option>
              <ids-list-box-option id="wa" value="wa">Washington</ids-list-box-option>
              <ids-list-box-option id="wv" value="wv">West Virginia</ids-list-box-option>
              <ids-list-box-option id="wi" value="wi">Wisconsin</ids-list-box-option>
              <ids-list-box-option id="wy" value="wy">Wyoming</ids-list-box-option>
            </ids-list-box>
          </ids-dropdown>
          <ids-checkbox label="Remember Me" dirty-tracker="true"></ids-checkbox>
          <ids-button id="test-button-primary" type="submit">
            <span slot="text">Submit</span>
          </ids-button>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-form>

    <hr />

    <ids-from>
      <ids-layout-grid auto="true">
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Compound Fields</ids-text>
        </ids-layout-grid-cell>
      </ids-layout-grid>
      <ids-layout-grid auto="true">
        <ids-layout-grid-cell col-span="3">
          <ids-input id="test-first-name" type="text" label="First Name" dirty-tracker="true" validate="required"></ids-input>
        </ids-layout-grid-cell>
        <ids-lay-cell col-span="3">
          <ids-input id="test-last-name" type="text" label="Last Name" dirty-tracker="true" validate="required"></ids-input>
        </ids-lay-cell>
        <ids-layout-grid-cell col-span="3">
          <ids-checkbox label="Prefered" dirty-tracker="true"></ids-checkbox>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-from>
  </ids-container>
</body>
</html>