<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Ids Form</ids-text>
    </ids-layout-grid>

    <!-- <ids-form compact="true">
      <ids-layout-grid auto="true">
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Normal Stacked Form</ids-text>
        </ids-layout-grid-cell>
      </ids-layout-grid>
      <ids-layout-grid auto="true">
        <ids-layout-grid-cell>
          <ids-input id="test-email" type="Email" label="Email" dirty-tracker="true"></ids-input>
          <ids-input id="test-password" type="password" label="Password" dirty-tracker="true"></ids-input>
          <ids-dropdown id="dropdown-1" label="States" value="ca" dirty-tracker="true">
            <ids-list-box>
              <ids-list-box-option id="al" value="al">Alabama</ids-list-box-option>
              <ids-list-box-option id="ak" value="ak">Alaska</ids-list-box-option>
              <ids-list-box-option id="az" value="az">Arizona</ids-list-box-option>
              <ids-list-box-option id="ar" value="ar">Arkansas</ids-list-box-option>
              <ids-list-box-option id="ca" value="ca" selected>California</ids-list-box-option>
              <ids-list-box-option id="co" value="co">Colorado</ids-list-box-option>
              <ids-list-box-option id="ct" value="ct">Connecticut</ids-list-box-option>
              <ids-list-box-option id="de" value="de">Delaware</ids-list-box-option>
              <ids-list-box-option id="dc" value="dc">District Of Columbia</ids-list-box-option>
              <ids-list-box-option id="fl" value="fl">Florida</ids-list-box-option>
              <ids-list-box-option id="ga" value="ga">Georgia</ids-list-box-option>
              <ids-list-box-option id="hi" value="hi">Hawaii</ids-list-box-option>
              <ids-list-box-option id="id" value="id">Idaho</ids-list-box-option>
              <ids-list-box-option id="il" value="il">Illinois</ids-list-box-option>
              <ids-list-box-option id="in" value="in">Indiana</ids-list-box-option>
              <ids-list-box-option id="ia" value="ia">Iowa</ids-list-box-option>
              <ids-list-box-option id="ks" value="ks">Kansas</ids-list-box-option>
              <ids-list-box-option id="ky" value="ky">Kentucky</ids-list-box-option>
              <ids-list-box-option id="la" value="la">Louisiana</ids-list-box-option>
              <ids-list-box-option id="me" value="me">Maine</ids-list-box-option>
              <ids-list-box-option id="md" value="md">Maryland</ids-list-box-option>
              <ids-list-box-option id="ma" value="ma">Massachusetts</ids-list-box-option>
              <ids-list-box-option id="mi" value="mi">Michigan</ids-list-box-option>
              <ids-list-box-option id="mn" value="mn">Minnesota</ids-list-box-option>
              <ids-list-box-option id="ms" value="ms">Mississippi</ids-list-box-option>
              <ids-list-box-option id="mo" value="mo">Missouri</ids-list-box-option>
              <ids-list-box-option id="mt" value="mt">Montana</ids-list-box-option>
              <ids-list-box-option id="ne" value="ne">Nebraska</ids-list-box-option>
              <ids-list-box-option id="nv" value="nv">Nevada</ids-list-box-option>
              <ids-list-box-option id="nh" value="nh">New Hampshire</ids-list-box-option>
              <ids-list-box-option id="nj" value="nj">New Jersey</ids-list-box-option>
              <ids-list-box-option id="nm" value="nm">New Mexico</ids-list-box-option>
              <ids-list-box-option id="ny" value="ny">New York</ids-list-box-option>
              <ids-list-box-option id="nc" value="nc">North Carolina</ids-list-box-option>
              <ids-list-box-option id="nd" value="nd">North Dakota</ids-list-box-option>
              <ids-list-box-option id="oh" value="oh">Ohio</ids-list-box-option>
              <ids-list-box-option id="ok" value="ok">Oklahoma</ids-list-box-option>
              <ids-list-box-option id="or" value="or">Oregon</ids-list-box-option>
              <ids-list-box-option id="pa" value="pa">Pennsylvania</ids-list-box-option>
              <ids-list-box-option id="ri" value="ri">Rhode Island</ids-list-box-option>
              <ids-list-box-option id="sc" value="sc">South Carolina</ids-list-box-option>
              <ids-list-box-option id="sd" value="sd">South Dakota</ids-list-box-option>
              <ids-list-box-option id="tn" value="tn">Tennessee</ids-list-box-option>
              <ids-list-box-option id="tx" value="tx">Texas</ids-list-box-option>
              <ids-list-box-option id="ut" value="ut">Utah</ids-list-box-option>
              <ids-list-box-option id="vt" value="vt">Vermont</ids-list-box-option>
              <ids-list-box-option id="va" value="va">Virginia</ids-list-box-option>
              <ids-list-box-option id="wa" value="wa">Washington</ids-list-box-option>
              <ids-list-box-option id="wv" value="wv">West Virginia</ids-list-box-option>
              <ids-list-box-option id="wi" value="wi">Wisconsin</ids-list-box-option>
              <ids-list-box-option id="wy" value="wy">Wyoming</ids-list-box-option>
            </ids-list-box>
          </ids-dropdown>
          <ids-checkbox label="Remember Me" dirty-tracker="true"></ids-checkbox>
          <ids-button id="test-button-primary" type="submit">
            <span slot="text">Submit</span>
          </ids-button>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-form>

    <hr />

    <ids-from>
      <ids-layout-grid auto="true">
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Compound Fields</ids-text>
        </ids-layout-grid-cell>
      </ids-layout-grid>
      <ids-layout-grid auto="true">
        <ids-layout-grid-cell col-span="3">
          <ids-input id="test-first-name" type="text" label="First Name" dirty-tracker="true" validate="required"></ids-input>
        </ids-layout-grid-cell>
        <ids-lay-cell col-span="3">
          <ids-input id="test-last-name" type="text" label="Last Name" dirty-tracker="true" validate="required"></ids-input>
        </ids-lay-cell>
        <ids-layout-grid-cell col-span="3">
          <ids-checkbox label="Prefered" dirty-tracker="true"></ids-checkbox>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-from> -->



    <ids-form action="sample-action.php">
      <ids-layout-grid auto="true" id="ids-alert-list" gap="md">
        <ids-layout-grid-cell><ids-alert icon="alert"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="success"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="empty-circle"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="half-empty-circle"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="error"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="info"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="alert"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="new"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="in-progress"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="error"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="success-solid"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="alert-solid"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="error-solid"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="info-solid"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="alert-solid"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="new-solid"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="in-progress-solid"></ids-alert></ids-layout-grid-cell>
        <ids-layout-grid-cell><ids-alert icon="info-field-solid"></ids-alert></ids-layout-grid-cell>
      </ids-layout-grid>
      <!--Alert-->

      <ids-layout-grid cols="3" gap="md">
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Ids Checkbox</ids-text><br />
          <ids-checkbox label="Unchecked"></ids-checkbox>
          <ids-checkbox label="Checked" checked="true"></ids-checkbox>
          <ids-checkbox label="Dirty tracking" dirty-tracker="true"></ids-checkbox>
          <ids-checkbox label="Disabled and unchecked" disabled="true"></ids-checkbox>
          <ids-checkbox label="Disabled and checked" checked="true" disabled="true"></ids-checkbox>
          <ids-checkbox label="Required" validate="required"></ids-checkbox>
        </ids-layout-grid-cell>
  
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Ids Checkbox with no label</ids-text><br />
          <ids-checkbox label="UnChecked" label-audible="true"></ids-checkbox>
          <ids-checkbox label="Checked" checked="true" label-audible="false"></ids-checkbox>
        </ids-layout-grid-cell>
  
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Ids Checkbox - Colored</ids-text><br />
          <ids-checkbox checked="true" color="emerald07" label="Emerald 07"></ids-checkbox>
          <ids-checkbox checked="true" color="amethyst07" label="Amethyst 07"></ids-checkbox>
          <ids-checkbox checked="true" color="azure07" label="Azure 07"></ids-checkbox>
          <ids-checkbox checked="true" color="amber07" label="Amber 07"></ids-checkbox>
          <ids-checkbox checked="true" color="ruby07" label="Ruby 07"></ids-checkbox>
          <ids-checkbox checked="true" color="ruby07" label="Ruby 07 (disabled)" disabled="true"></ids-checkbox>
        </ids-layout-grid-cell>
  
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Ids Indeterminate</ids-text><br />
          <ids-checkbox label="Indeterminate" indeterminate="true" id="cb-indeterminate"></ids-checkbox>
          <ids-button type="secondary" id="btn-set-indeterminate">
            <span slot="text">Set</span>
          </ids-button>
          <ids-button type="secondary" id="btn-remove-indeterminate">
            <span slot="text">Remove</span>
          </ids-button>
  
          <br /><br />
          <ids-text font-size="12" type="h1">Ids Checkbox - Horizontal</ids-text><br />
  
          <ids-checkbox label="Option 1 I am long" horizontal="true"></ids-checkbox>
          <ids-checkbox label="Option 2" horizontal="true" checked="true"></ids-checkbox>
          <ids-checkbox label="Option 3" horizontal="true" checked="true"></ids-checkbox>
        </ids-layout-grid-cell>
  
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Ids Checkbox with Hitbox</ids-text><br />
          <ids-checkbox label="Unchecked" hitbox="true"></ids-checkbox>
          <ids-checkbox label="Checked" checked="true" hitbox="true"></ids-checkbox>
          <ids-checkbox
            label="Can store up to about a gigabyte of text, even though controls on forms and reports can only display the first 64,000 characters."
            checked="true" hitbox="true"></ids-checkbox>
          <ids-checkbox label="Dirty tracking" dirty-tracker="true" hitbox="true"></ids-checkbox>
          <ids-checkbox label="Disabled and unchecked" disabled="true" hitbox="true"></ids-checkbox>
          <ids-checkbox label="Disabled and checked" checked="true" disabled="true" hitbox="true"></ids-checkbox>
          <ids-checkbox label="Required" validate="required" hitbox="true"></ids-checkbox>
        </ids-layout-grid-cell>
      </ids-layout-grid>
      <!--Checkbox-->

      <ids-layout-grid auto="true">
        <ids-layout-grid-cell>
          <ids-checkbox-group label="Choose from these options:">
            <ids-checkbox label="Option 1" checked="false"></ids-checkbox>
            <ids-checkbox label="Option 2" checked="true"></ids-checkbox>
            <ids-checkbox label="Option 3" checked="true"></ids-checkbox>
          </ids-checkbox-group>
      </ids-layout-grid-cell>
      </ids-layout-grid>
      <!--Checkbox Group-->

      <ids-layout-grid auto="true">
        <ids-layout-grid-cell>
          <ids-color-picker id="color-picker-1" label="Regular Color Picker" value="#B94E4E">
            <ids-color hex="#1A1A1A"></ids-color>
            <ids-color hex="#292929"></ids-color>
            <ids-color hex="#383838"></ids-color>
            <ids-color hex="#454545"></ids-color>
            <ids-color hex="#5C5C5C"></ids-color>
            <ids-color hex="#737373"></ids-color>
            <ids-color hex="#999999"></ids-color>
            <ids-color hex="#BDBDBD"></ids-color>
            <ids-color hex="#D8D8D8"></ids-color>
            <ids-color hex="#F0F0F0"></ids-color>
            <ids-color hex="#D66221"></ids-color>
            <ids-color hex="#DE7223"></ids-color>
            <ids-color hex="#E68425"></ids-color>
            <ids-color hex="#EB9728"></ids-color>
            <ids-color hex="#EFAA30"></ids-color>
            <ids-color hex="#F2BC41"></ids-color>
            <ids-color hex="#F4C951"></ids-color>
            <ids-color hex="#F7D475"></ids-color>
            <ids-color hex="#F8E09C"></ids-color>
            <ids-color hex="#FBE9BF"></ids-color>
            <ids-color hex="#880E0E"></ids-color>
            <ids-color hex="#941E1E"></ids-color>
            <ids-color hex="#A13030"></ids-color>
            <ids-color hex="#AD4242"></ids-color>
            <ids-color hex="#B94E4E" checked="true"></ids-color>
            <ids-color hex="#C65F5F"></ids-color>
            <ids-color hex="#D26D6D"></ids-color>
            <ids-color hex="#DE8181"></ids-color>
            <ids-color hex="#EB9D9D"></ids-color>
            <ids-color hex="#F4BCBC"></ids-color>
            <ids-color hex="#0E5B52"></ids-color>
            <ids-color hex="#206B62"></ids-color>
            <ids-color hex="#317C73"></ids-color>
            <ids-color hex="#448D83"></ids-color>
            <ids-color hex="#579E95"></ids-color>
            <ids-color hex="#69ADA3"></ids-color>
            <ids-color hex="#7BBFB5"></ids-color>
            <ids-color hex="#8ED1C6"></ids-color>
            <ids-color hex="#A9E1D6"></ids-color>
            <ids-color hex="#C0EDE3"></ids-color>
            <ids-color hex="#397514"></ids-color>
            <ids-color hex="#44831F"></ids-color>
            <ids-color hex="#56932E"></ids-color>
            <ids-color hex="#66A140"></ids-color>
            <ids-color hex="#76B051"></ids-color>
            <ids-color hex="#89BF65"></ids-color>
            <ids-color hex="#9CCE7C"></ids-color>
            <ids-color hex="#AFDC91"></ids-color>
            <ids-color hex="#C3E8AC"></ids-color>
            <ids-color hex="#D5F6C0"></ids-color>
            <ids-color hex="#4B2A5E"></ids-color>
            <ids-color hex="#5A3A6F"></ids-color>
            <ids-color hex="#6C4B81"></ids-color>
            <ids-color hex="#7D5F92"></ids-color>
            <ids-color hex="#8E72A4"></ids-color>
            <ids-color hex="#A189B8"></ids-color>
            <ids-color hex="#B59ECA"></ids-color>
            <ids-color hex="#C7B4DB"></ids-color>
            <ids-color hex="#DACCEC"></ids-color>
            <ids-color hex="#EDE3FC"></ids-color>
            <ids-color hex="#133C59"></ids-color>
            <ids-color hex="#134D71"></ids-color>
            <ids-color hex="#1D5F8A"></ids-color>
            <ids-color hex="#2876A8"></ids-color>
            <ids-color hex="#2578A9"></ids-color>
            <ids-color hex="#4EA0D1"></ids-color>
            <ids-color hex="#69B5DD"></ids-color>
            <ids-color hex="#8DC9E6"></ids-color>
            <ids-color hex="#ADD8EB"></ids-color>
            <ids-color hex="#C8E9F4"></ids-color>
          </ids-color-picker>
        </ids-layout-grid-cell>
        </ids-layout-grid>
        <!--Color Picker-->

        <ids-layout-grid auto="true" id="ids-data-label-list" gap="md">
          <ids-data-label label="Shipping to" label-position="left">Los Angeles, California 90001 USA</ids-data-label>
          <ids-data-label label="Shipping to">Los Angeles, California 90001 USA</ids-data-label>
        </ids-layout-grid>
        <!--Data Label-->

        <ids-layout-grid auto="true" cols="4">
          <ids-layout-grid-cell>
            <ids-time-picker label="Time Picker - autoselect" autoselect></ids-time-picker>
            <ids-time-picker label="Time Picker - autoupdate" autoupdate value="1:00 AM"></ids-time-picker>
            <ids-time-picker label="Time Picker - disabled" disabled value="12:30 PM"></ids-time-picker>
            <ids-time-picker label="Time Picker - readonly" readonly value="12:30 PM"></ids-time-picker>
            <ids-time-picker label="Time Picker - placeholder" placeholder="Start date"></ids-time-picker>
          </ids-layout-grid-cell>
    
          <ids-layout-grid-cell>
            <ids-time-picker label="Uses Current Locale" id="e2e-timepicker-locale"></ids-time-picker>
            <ids-time-picker label="12 Hour - hh:mm:ss a" format="hh:mm:ss a" value="10:30:00 AM"></ids-time-picker>
            <ids-time-picker label="12 Hour - hh:mm:ss" format="hh:mm:ss" value="10:30:00"></ids-time-picker>
            <ids-time-picker label="12 Hour - hh:mm" format="hh:mm" value="10:30"></ids-time-picker>
          </ids-layout-grid-cell>
    
          <ids-layout-grid-cell>
            <ids-time-picker label="24 Hour - HH:mm:ss" format="HH:mm:ss" value="14:30:00"></ids-time-picker>
            <ids-time-picker label="24 Hour - HH:mm" format="HH:mm" value="14:30"></ids-time-picker>
            <ids-time-picker label="Dirty Tracker" format="hh:mm" value="10:30" dirty-tracker="true"></ids-time-picker>
          </ids-layout-grid-cell>
    
          <ids-layout-grid-cell>
            <ids-time-picker label="5-minute intervals" format="hh:mm" minute-interval="5"></ids-time-picker>
            <ids-time-picker label="15-minute intervals" format="hh:mm" minute-interval="15"></ids-time-picker>
            <ids-time-picker label="5-second intervals" format="hh:mm:ss" second-interval="5"></ids-time-picker>
            <ids-time-picker label="10-second intervals" format="hh:mm:ss" second-interval="10"></ids-time-picker>
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <!--Time Picker-->

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-date-picker id="e2e-datepicker-value" label="Date Field (with value) not tabbable" value="3/4/2016" tabbable="false"></ids-date-picker>
            <ids-date-picker id="e2e-datepicker-required" label="Date Field (required) with placeholder" placeholder="M/d/yyyy" validate="required" show-today="false" first-day-of-week="1"></ids-date-picker>
            <ids-date-picker id="e2e-datepicker-disabled" label="Date Field (disabled) Size lg" value="10/31/2014" disabled size="lg"></ids-date-picker>
            <ids-date-picker id="e2e-datepicker-dirty-tracker" label="Date Field (dirty-tracker)" dirty-tracker="true" value="3/4/2016"></ids-date-picker>
            <ids-date-picker id="e2e-datepicker-readonly" label="Date Field (readonly) Size sm (yyyy-MM-dd)" value="2021-10-18" format="yyyy-MM-dd" readonly size="sm"></ids-date-picker>
            <ids-date-picker id="e2e-datepicker-legend" label="Date Field Legend" value="12/15/2021" size="sm"></ids-date-picker>
           <ids-layout-grid-cell>
        </ids-layout-grid>
        <!--Date Picker-->

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-dropdown id="dropdown-1" label="Normal Dropdown with Dirty Tracker" value="ca" dirty-tracker="true">
              <ids-list-box>
                <ids-list-box-option id="al" value="al">Alabama</ids-list-box-option>
                <ids-list-box-option id="ak" value="ak">Alaska</ids-list-box-option>
                <ids-list-box-option id="az" value="az">Arizona</ids-list-box-option>
                <ids-list-box-option id="ar" value="ar">Arkansas</ids-list-box-option>
                <ids-list-box-option id="ca" value="ca" selected>California</ids-list-box-option>
                <ids-list-box-option id="co" value="co">Colorado</ids-list-box-option>
                <ids-list-box-option id="ct" value="ct">Connecticut</ids-list-box-option>
                <ids-list-box-option id="de" value="de">Delaware</ids-list-box-option>
                <ids-list-box-option id="dc" value="dc">District Of Columbia</ids-list-box-option>
                <ids-list-box-option id="fl" value="fl">Florida</ids-list-box-option>
                <ids-list-box-option id="ga" value="ga">Georgia</ids-list-box-option>
                <ids-list-box-option id="hi" value="hi">Hawaii</ids-list-box-option>
                <ids-list-box-option id="id" value="id">Idaho</ids-list-box-option>
                <ids-list-box-option id="il" value="il">Illinois</ids-list-box-option>
                <ids-list-box-option id="in" value="in">Indiana</ids-list-box-option>
                <ids-list-box-option id="ia" value="ia">Iowa</ids-list-box-option>
                <ids-list-box-option id="ks" value="ks">Kansas</ids-list-box-option>
                <ids-list-box-option id="ky" value="ky">Kentucky</ids-list-box-option>
                <ids-list-box-option id="la" value="la">Louisiana</ids-list-box-option>
                <ids-list-box-option id="me" value="me">Maine</ids-list-box-option>
                <ids-list-box-option id="md" value="md">Maryland</ids-list-box-option>
                <ids-list-box-option id="ma" value="ma">Massachusetts</ids-list-box-option>
                <ids-list-box-option id="mi" value="mi">Michigan</ids-list-box-option>
                <ids-list-box-option id="mn" value="mn">Minnesota</ids-list-box-option>
                <ids-list-box-option id="ms" value="ms">Mississippi</ids-list-box-option>
                <ids-list-box-option id="mo" value="mo">Missouri</ids-list-box-option>
                <ids-list-box-option id="mt" value="mt">Montana</ids-list-box-option>
                <ids-list-box-option id="ne" value="ne">Nebraska</ids-list-box-option>
                <ids-list-box-option id="nv" value="nv">Nevada</ids-list-box-option>
                <ids-list-box-option id="nh" value="nh">New Hampshire</ids-list-box-option>
                <ids-list-box-option id="nj" value="nj">New Jersey</ids-list-box-option>
                <ids-list-box-option id="nm" value="nm">New Mexico</ids-list-box-option>
                <ids-list-box-option id="ny" value="ny">New York</ids-list-box-option>
                <ids-list-box-option id="nc" value="nc">North Carolina</ids-list-box-option>
                <ids-list-box-option id="nd" value="nd">North Dakota</ids-list-box-option>
                <ids-list-box-option id="oh" value="oh">Ohio</ids-list-box-option>
                <ids-list-box-option id="ok" value="ok">Oklahoma</ids-list-box-option>
                <ids-list-box-option id="or" value="or">Oregon</ids-list-box-option>
                <ids-list-box-option id="pa" value="pa">Pennsylvania</ids-list-box-option>
                <ids-list-box-option id="ri" value="ri">Rhode Island</ids-list-box-option>
                <ids-list-box-option id="sc" value="sc">South Carolina</ids-list-box-option>
                <ids-list-box-option id="sd" value="sd">South Dakota</ids-list-box-option>
                <ids-list-box-option id="tn" value="tn">Tennessee</ids-list-box-option>
                <ids-list-box-option id="tx" value="tx">Texas</ids-list-box-option>
                <ids-list-box-option id="ut" value="ut">Utah</ids-list-box-option>
                <ids-list-box-option id="vt" value="vt">Vermont</ids-list-box-option>
                <ids-list-box-option id="va" value="va">Virginia</ids-list-box-option>
                <ids-list-box-option id="wa" value="wa">Washington</ids-list-box-option>
                <ids-list-box-option id="wv" value="wv">West Virginia</ids-list-box-option>
                <ids-list-box-option id="wi" value="wi">Wisconsin</ids-list-box-option>
                <ids-list-box-option id="wy" value="wy">Wyoming</ids-list-box-option>
              </ids-list-box>
            </ids-dropdown>
    
            <ids-dropdown id="dropdown-2" readonly="true" label="Readonly Dropdown" value="opt3">
              <ids-list-box>
                <ids-list-box-option value="opt1" id="opt1-d2">Option One</ids-list-box-option>
                <ids-list-box-option value="opt2" id="opt2-d2">Option Two</ids-list-box-option>
                <ids-list-box-option value="opt3" id="opt3-d2">Option Three</ids-list-box-option>
                <ids-list-box-option value="opt4" id="opt4-d2">Option Four</ids-list-box-option>
                <ids-list-box-option value="opt5" id="opt5-d2">Option Five</ids-list-box-option>
                <ids-list-box-option value="opt6" id="opt6-d2">Option Six</ids-list-box-option>
              </ids-list-box>
            </ids-dropdown>
    
            <ids-dropdown id="dropdown-3" disabled="true" label="Disabled Dropdown" value="opt4">
              <ids-list-box>
                <ids-list-box-option value="opt1" id="opt1-d3">Option One</ids-list-box-option>
                <ids-list-box-option value="opt2" id="opt2-d3">Option Two</ids-list-box-option>
                <ids-list-box-option value="opt3" id="opt3-d3">Option Three</ids-list-box-option>
                <ids-list-box-option value="opt4" id="opt4-d3">Option Four</ids-list-box-option>
                <ids-list-box-option value="opt5" id="opt5-d3">Option Five</ids-list-box-option>
                <ids-list-box-option value="opt6" id="opt6-d3">Option Six</ids-list-box-option>
              </ids-list-box>
            </ids-dropdown>
    
            <ids-dropdown id="dropdown-4" label="Required Dropdown" value="opt1" validate="required">
              <ids-list-box>
                <ids-list-box-option value="blank" id="blank" aria-label="Blank"></ids-list-box-option>
                <ids-list-box-option value="opt1" id="opt1-d4">Option One</ids-list-box-option>
                <ids-list-box-option value="opt2" id="opt2-d4">Option Two</ids-list-box-option>
                <ids-list-box-option value="opt3" id="opt3-d4">Option Three</ids-list-box-option>
                <ids-list-box-option value="opt4" id="opt4-d4">Option Four</ids-list-box-option>
                <ids-list-box-option value="opt5" id="opt5-d4">Option Five</ids-list-box-option>
                <ids-list-box-option value="opt6" id="opt6-d4">Option Six</ids-list-box-option>
              </ids-list-box>
            </ids-dropdown>
    
            <ids-dropdown id="dropdown-5" label="Dropdown with Icons" value="opt2">
              <ids-list-box>
                <ids-list-box-option value="opt1" id="opt1-d5">
                  <ids-icon icon="user-profile"></ids-icon>
                  <span>Option One</span>
                </ids-list-box-option>
                <ids-list-box-option value="opt2" id="opt2-d5">
                  <ids-icon icon="project"></ids-icon>
                  <span>Option Two</span>
                </ids-list-box-option>
                <ids-list-box-option value="opt3" id="opt3-d5">
                  <ids-icon icon="purchasing"></ids-icon>
                  <span>Option Three</span>
                </ids-list-box-option>
                <ids-list-box-option value="opt4" id="opt4-d5">
                  <ids-icon icon="quality"></ids-icon>
                  <span>Option Four</span></ids-list-box-option>
                <ids-list-box-option value="opt5" id="opt5-d5">
                  <ids-icon icon="rocket"></ids-icon>
                  <span>Option Five</span>
                </ids-list-box-option>
                <ids-list-box-option value="opt6" id="opt6-d5">
                  <ids-icon icon="roles"></ids-icon>
                  <span>Option Six</span>
                </ids-list-box-option>
              </ids-list-box>
            </ids-dropdown>
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <!--Dropdown-->

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
    
            <ids-editor id="editor-demo">
              <p>Embrace <a href="http://en.wikipedia.org/wiki/e-commerce" class="hyperlink">e-commerce action-items</a>,
                reintermediate, ecologies paradigms wireless share life-hacks create innovative harness. Evolve solutions
                rich-clientAPIs synergies harness relationships virtual vertical facilitate end-to-end, wireless, evolve
                synergistic synergies.</p>
              <p>Cross-platform, evolve, ROI scale cultivate eyeballs addelivery, e-services content cross-platform leverage
                extensible viral incentivize integrateAJAX-enabled sticky evolve magnetic cultivate leverage; cutting-edge.
                Innovate, end-to-end podcasting, whiteboard streamline e-business social; compelling, "cross-media exploit
                infomediaries innovative integrate integrateAJAX-enabled." Killer interactive reinvent, cultivate widgets leverage
                morph.</p>
            </ids-editor>
    
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <!--Editor-->

        <ids-layout-grid cols="3" gap="md">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h1">Ids Input</ids-text>
            <br>
            <ids-input id="test-input" type="text" label="First Name" placeholder="Normal text Field"></ids-input>
            <ids-input type="text" label="Last Name" validate="required"></ids-input>
            <ids-input type="text" label="Email Address" placeholder="Company@address.com" validate="email required"></ids-input>
            <ids-input type="text" label="Disabled" disabled="true" value="Field not editable"></ids-input>
            <ids-input type="text" label="Readonly" readonly="true" value="02006"></ids-input>
            <ids-input type="text" label="Dirty Tracking" dirty-tracker="true" placeholder="Dirty Tracking" value="02006"></ids-input>
            <ids-input type="text" label="Clearable" placeholder="Clearable text Field" validate="email" clearable="true"></ids-input>
            <ids-input type="text" label="Autoselect" value="Text select on focus" autoselect="true"></ids-input>
          </ids-layout-grid-cell>
    
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Ids Input - Sizes</ids-text>
            <br>
            <ids-input size="xs" label="Xtra Small"></ids-input>
            <ids-input size="sm" label="Small"></ids-input>
            <ids-input size="mm" label="Small - Medium"></ids-input>
            <ids-input size="md" label="Medium"></ids-input>
            <br>
            <ids-text font-size="12" type="h2">Ids Input - Text align</ids-text>
            <br>
            <ids-input label="Default align (left)" value="Default align"></ids-input>
            <ids-input label="Left align" value="Left align" text-align="left"></ids-input>
            <ids-input label="Center align" value="Center align" text-align="center"></ids-input>
            <ids-input label="Right align" value="Right align" text-align="right"></ids-input>
            <br>
          </ids-layout-grid-cell>
    
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Input - Enable/ Disable/ Readonly</ids-text>
            <br>
            <ids-input id="input-toggle-state" label="Text Field" value="Some text"></ids-input>
            <ids-button id="btn-input-enable" type="secondary">
              <span slot="text">Enable</span>
            </ids-button>
            <ids-button id="btn-input-disable" type="secondary">
              <span slot="text">Disable</span>
            </ids-button>
            <ids-button id="btn-input-readonly" type="secondary">
              <span slot="text">Readonly</span>
            </ids-button>
            <br><br>
            <ids-text font-size="12" type="h2">Ids Input - Password</ids-text>
            <br>
            <ids-input id="password-test" label="Password" caps-lock="true" revealable-password="true" password-visible="false" type="password" value="Test"></ids-input>
            <ids-button id="revealable-btn" type="secondary"><span slot="text">Toggle revealable text</span></ids-button>
            <ids-button id="tabbable-btn" type="secondary"><span slot="text">Toggle tabbable</span></ids-button>
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <!--Input-->

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-lookup id="lookup-1" label="Normal Lookup (dirty-tracker)" title="Select an Item" field="description" value="102,103" dirty-tracker="true"></ids-lookup>
            <ids-lookup id="lookup-2" readonly="true" label="Readonly Lookup" value="102"></ids-lookup>
            <ids-lookup id="lookup-3" disabled="true" label="Disabled Lookup" value="103"></ids-lookup>
            <ids-lookup id="lookup-4" label="Required Lookup" validate="required"></ids-lookup>
            <ids-lookup id="lookup-5" label="Custom Lookup">
              <ids-modal slot="lookup-modal" id="custom-lookup-modal" aria-labelledby="custom-lookup-modal-title">
                <ids-text slot="title" font-size="24" type="h2" id="lookup-modal-title">Custom Lookup Modal</ids-text>
                <ids-modal-button slot="buttons" id="modal-cancel-btn" type="primary">
                  <span slot="text">Apply</span>
                </ids-modal-button>
              </ids-modal>
            </ids-lookup>
            <ids-lookup
              id="lookup-6"
              label="Autocomplete Lookup"
              title="Select an Item"
              autocomplete
              field="description"
            >
            </ids-lookup>
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <!--Look up-->

    </ids-form>
   


  </ids-container>
</body>
</html>