@import '../../themes/mixins/ids-hide-mixin';

:host {
  display: block;
}

.ids-time-picker {
  display: inline-block;
  max-width: 100%;

  // Fixes input doesn't stretch to lg size and up
  ids-trigger-field,
  .ids-trigger-field {
    display: inline-block;
    max-width: 100%;
  }

  ids-trigger-field {
    &[size='full'] {
      display: block;
    }
  }

  &.full {
    display: block;

    ids-trigger-field,
    .ids-trigger-field {
      display: block;
    }
  }

  ids-dropdown {
    &::part(trigger-field) {
      display: inline-flex;
      min-width: 75px;
    }
  }

  ids-list-box,
  ids-list-box-option {
    width: 100%;
  }

  ids-popup {
    &::part(popup) {
      margin: var(--ids-space-none);
      padding: var(--ids-space-none);
    }
  }

  .dropdowns {
    display: flex;
    flex-direction: row;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-top: 15px;
  }

  .dropdown::part(trigger-field) {
    justify-content: center;
  }

  // Is open state
  &.is-open {
    ids-trigger-button::part(button) {
      color: var(--ids-time-picker-button-color-background-expanded);
    }

    ids-trigger-field::part(field-container) {
      border-color: var(--ids-time-picker-input-color-border-expanded);
    }
  }

  @include breakpoint-xs-down {
    .dropdowns {
      flex-direction: column;
      align-items: center;
      width: var(--ids-input-width-10);
    }

    .separator {
      display: none;
    }
  }

  // Time Picker Editor Borderless
  &.color-variant-borderless {
    ids-trigger-field::part(input) {
      padding-inline-end: 0 !important;
    }

    &.field-height-lg {
      ids-trigger-field::part(input) {
        padding-inline: 14px;
        height: 50px;
      }
    }

    &.field-height-md {
      ids-trigger-field::part(input) {
        padding-inline: 10px;
        height: 40px;
      }
    }

    &.field-height-sm {
      ids-trigger-field::part(input) {
        padding-inline: 6px;
        height: 35px;
      }
    }

    &.field-height-xs {
      ids-trigger-field::part(input) {
        padding-inline: 2px;
        height: 30px;
      }
    }
  }
}
