@import '../../core/ids-base';
@import '../../themes/mixins/ids-hide-mixin';

:host {
  display: block;
}

.ids-time-picker {
  display: inline-block;
  max-width: 100%;

  // Fixes input doesn't stretch to lg size and up
  ids-trigger-field,
  .ids-trigger-field {
    display: inline-block;
    max-width: 100%;
  }

  ids-trigger-field {
    &[size='full'] {
      display: block;
    }
  }

  &.full {
    display: block;

    ids-trigger-field,
    .ids-trigger-field {
      display: block;
    }
  }

  .popup-btn {
    align-items: center;
    border-top: 1px solid var(--ids-color-palette-slate-30);
    width: 100%;

    &::part(button) {
      @include h-full();
      @include p-0();
      @include text-azure-70();
      @include py-12();

      align-items: center;
      justify-content: center;
    }
  }

  ids-dropdown {
    &::part(trigger-field) {
      @include inline-flex();

      min-width: 75px;
    }
  }

  ids-list-box,
  ids-list-box-option {
    width: 100%;
  }

  ids-popup {
    &::part(popup) {
      @include m-0();
      @include p-0();
    }
  }

  .dropdowns {
    display: flex;
    flex-direction: row;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-top: 15px;
  }

  .dropdown::part(trigger-field) {
    justify-content: center;
  }

  // Is open state
  &.is-open {
    ids-trigger-button::part(button) {
      @include text-azure-60();
    }

    ids-trigger-field::part(field-container) {
      @include border-azure-60();
    }
  }

  .separator {
    width: 12px;
    display: inline-block;
    height: 38px;
    margin-top: 23px;

    &.colons {
      @include text-slate-60();

      width: 17px;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 38px;
    }
  }

  @include breakpoint-xs-down {
    .dropdowns {
      flex-direction: column;
      align-items: center;
      width: var(--ids-input-width-xs);
    }

    .separator {
      display: none;
    }
  }

  // Time Picker Editor Borderless
  &.color-variant-borderless {
    ids-trigger-field::part(input) {
      padding-inline-end: 0 !important;
    }

    &.field-height-lg {
      ids-trigger-field::part(input) {
        padding-inline: 14px;
        height: 50px;
      }
    }

    &.field-height-md {
      ids-trigger-field::part(input) {
        padding-inline: 10px;
        height: 40px;
      }
    }

    &.field-height-sm {
      ids-trigger-field::part(input) {
        padding-inline: 6px;
        height: 35px;
      }
    }

    &.field-height-xs {
      ids-trigger-field::part(input) {
        padding-inline: 2px;
        height: 30px;
      }
    }
  }

  // Themes
  &[mode='dark'] {
    .separator.colons {
      @include text-slate-30();
    }

    .popup-btn {
      border-top-color: var(--ids-color-palette-slate-50);

      &::part(button) {
        @include text-azure-60();
      }
    }

    ids-popup::part(popup) {
      @include bg-slate-80();
    }

    ids-popup::part(arrow)::after,
    ids-popup::part(arrow-bottom)::after {
      border-bottom-color: var(--ids-color-palette-slate-80);
    }
  }

  &[mode='contrast'] {
    .separator.colons {
      @include text-slate-90();
    }

    .popup-btn {
      &::part(button) {
        @include text-azure-90();
      }
    }

    &.is-open {
      ids-trigger-button::part(button) {
        @include text-azure-90();
      }

      ids-trigger-field::part(field-container) {
        @include border-azure-90();
      }
    }
  }
}
