@import '../ids-base/ids-base';

.ids-color {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  width: 20px;
}

.color-check {
  color: var(--ids-color-palette-white);
  opacity: 0;
}

:host([checked]) {
  .color-check {
    opacity: 1;
  }
}
