<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Circular Loading Indicator</ids-text>
    </ids-layout-grid>
    <ids-layout-grid gap="md" cols="3" padding-x="md">
      <ids-layout-grid-cell>
        <div class="circular-progress-container">
          <ids-loading-indicator></ids-loading-indicator>
        </div>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <div class="circular-progress-container">
          <ids-loading-indicator progress="30" id="indicator-01"></ids-loading-indicator>
        </div>
        <div class="loading-indicator-determinate-controls">
          <ids-spinbox
          min="0"
          max="100"
          step="10"
          value="30"
          label-state="collapsed"
          target-id="indicator-01"
          ></ids-spinbox>
        </div>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <div class="circular-progress-container">
          <ids-loading-indicator progress="72" percentage-visible id="indicator-02"></ids-loading-indicator>
        </div>
        <div class="loading-indicator-determinate-controls">
          <ids-spinbox
          min="0"
          max="100"
          step="10"
          value="72"
          label-state="collapsed"
          target-id="indicator-02"
          ></ids-spinbox>
        </div>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Linear Loading Indicator</ids-text>
    </ids-layout-grid>
    <ids-layout-grid gap="md" cols="3" padding-x="md">
      <ids-layout-grid-cell col-span="1">
        <ids-loading-indicator linear></ids-loading-indicator>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell col-span="1">
        <div class="linear-progress-container">
          <ids-loading-indicator linear progress="20" id="indicator-03"></ids-loading-indicator>
        </div>
        <div class="loading-indicator-determinate-controls">
          <ids-spinbox
          min="0"
          max="100"
          step="10"
          value="20"
          label-state="collapsed"
          target-id="indicator-03"
          ></ids-spinbox>
        </div>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell col-span="1">
        <div class="linear-progress-container">
          <ids-loading-indicator linear progress="35" percentage-visible id="indicator-04"></ids-loading-indicator>
        </div>
        <div class="loading-indicator-determinate-controls">
          <ids-spinbox
          min="0"
          max="100"
          step="10"
          value="35"
          label-state="collapsed"
          target-id="indicator-04"
          ></ids-spinbox>
        </div>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell></ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Sticky Loading Indicator</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="3" gap="md" auto-fit="true" padding="md">
      <ids-layout-grid-cell col-span="1">
        <ids-card auto-height="true" no-header="true">
          <div slot="card-content" class="sticky-indicator-container">
            <ids-loading-indicator sticky></ids-loading-indicator>
            <ids-text>Relative-Positioned Content Within the Card component.</ids-text>
          </div>
        </ids-card>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell col-span="1">
        <ids-card auto-height="true" no-header="true">
          <div slot="card-content" class="sticky-indicator-container">
            <ids-loading-indicator sticky progress="10" id="indicator-05"></ids-loading-indicator>
            <ids-text>Relative-Positioned Content Within the Card component.</ids-text>
          </div>
        </ids-card>
        <div class="loading-indicator-determinate-controls">
          <ids-spinbox
          min="0"
          max="100"
          step="10"
          value="10"
          label-state="collapsed"
          target-id="indicator-05"
          ></ids-spinbox>
        </div>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Generative AI Loading Indicator</ids-text>
    </ids-layout-grid>
    <ids-layout-grid gap="md" cols="3">
      <ids-layout-grid-cell>
        <div class="circular-progress-container">
          <ids-loading-indicator generative-ai></ids-loading-indicator>
        </div>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
