<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Loading Indicator</ids-text>
    </ids-layout-grid>
    <ids-layout-grid gap="md" cols="4">
      <ids-layout-grid-cell>
        <div class="circular-progress-container" data-step="10">
          <ids-loading-indicator></ids-loading-indicator>
        </div>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">4.x Loading Indicator</ids-text>
        <p>Click Submit button to see Loading Indicator</p>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <div class="row">
      <div class="one-half column">
        <div class="busy" id="busy-form" data-options="{ 'displayDelay': 100, 'timeToComplete': 100000, 'attributes' : [{ name: 'id', value: 'busyindicator-id-1' }, { name: 'data-automation-id', value: 'busyindicator-automation-id-1' }] }">
          <div class="field">
            <label for="busy-field-name">Name</label>
            <input type="text" id="busy-field-name" name="busy-field-name" value="" />
          </div>
          <div class="field">
            <label for="busy-field-address">Address</label>
            <input type="text" id="busy-field-address" name="busy-field-address" value="" />
          </div>
          <div class="field">
            <label for="busy-field-cats">Number of Cats</label>
            <input type="text" id="busy-field-cats" name="busy-field-cats" value="" />
          </div>
          <div class="field">
            <button type="text" id="submit" class="btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </ids-container>
</body>
</html>
