@import '../../core/ids-base';

.ids-summary-field {
  @include antialiased();
  @include font-sans();

  contain: content;
  margin-bottom: 20px;

  .label {
    &::part(text) {
      margin-bottom: 8px;
    }
  }
}
