<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Counts</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="5" gap="md">
      <ids-layout-grid-cell>
        <ids-counts color="base" href="#">
          <ids-text count-value>7</ids-text>
          <ids-text count-text>Active <br /> Opportunities</ids-text>
        </ids-counts>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-counts color="base" href="#">
          <ids-text count-text>Open <br /> Incidents</ids-text>
          <ids-text count-value>2</ids-text>
        </ids-counts>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-counts color="base" href="#">
          <ids-text count-text>Escalated <br /> Incidents</ids-text>
          <ids-text count-value>4</ids-text>
        </ids-counts>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-counts color="base" href="#">
          <ids-text count-value>7</ids-text>
          <ids-text count-text>Open <br /> Projects</ids-text>
        </ids-counts>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-counts color="base" href="#">
          <ids-text count-value>7</ids-text>
          <ids-text count-text>Active <br /> Contacts</ids-text>
        </ids-counts>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">4.x Counts</ids-text>
    </ids-layout-grid>
    <div class="row l-center">
      <div class="one-fifth column one-half-mobile">
        <a class="hyperlink object-count hide-focus" href="#">
          <span class="xl-text">7</span>
          <span>Active <br/> Opportunities</span>
        </a>
      </div>

      <div class="one-fifth column one-half-mobile">
        <a class="hyperlink object-count hide-focus" href="#">
          <span class="xl-text">2</span>
          <span>Open <br/> Incidents</span>
        </a>
      </div>

      <div class="one-fifth column one-half-mobile">
        <a class="hyperlink object-count hide-focus" href="#">
          <span class="xl-text">4</span>
          <span>Escalated <br/> Incidents</span>
        </a>
      </div>

      <div class="one-fifth column one-half-mobile">
        <a class="hyperlink object-count hide-focus" href="#">
          <span class="xl-text">7</span>
          <span>Open <br/> Projects</span>
        </a>
      </div>

      <div class="one-fifth column one-half-mobile">
        <a class="hyperlink object-count hide-focus" href="#">
          <span class="xl-text">7</span>
          <span>Active <br/> Contacts</span>
        </a>
      </div>

    </div>
  </ids-container>
  <script>
    $('body').initialize();
  </script>
</body>
</html>
