<%= require('html-loader!../layouts/head.html') %>
<ids-layout-grid>
  <h2 class="ids-label ids-text-px-12">Tags</h2>
</ids-layout-grid>
<ids-layout-grid>
  <ids-layout-column>
    <ids-tag>Normal Tag</ids-tag>
    <ids-tag color="secondary">Secondary Tags</ids-tag>
    <ids-tag color="error">Error Tag</ids-tag>
    <ids-tag color="success">Success Tag</ids-tag>
    <ids-tag color="caution">Warning Tag</ids-tag>
    <ids-tag color="#EDE3FC">Custom Tag Color</ids-tag>
    <ids-tag clickable="true" id="ids-clickable-tag">Clickable Tag
      <ids-icon icon="caret-right" compactness="condensed"></ids-icon>
    </ids-tag>
    <ids-tag dismissible="true">
        <span>Dismissible Tags</span>
        <ids-icon icon="close" compactness="condensed" id="ids-closable-btn"></ids-icon>
    </ids-tag>
  </ids-layout-column>
</ids-layout-grid>

<ids-layout-grid>
    <h2 class="ids-label ids-text-px-12">Tag Standalone CSS</h2>
</ids-layout-grid>
<ids-layout-grid>
  <ids-layout-column>
    <span class="ids-tag">Normal Tag</span>
  </ids-layout-column>
</ids-layout-grid>
<%= require('html-loader!../layouts/footer.html') %>
