<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="0" hidden>

    <ids-header>
      <ids-toolbar>
        <ids-toolbar-section>
          <ids-button id="app-menu-trigger" icon="menu">
            <span slot="text" class="audible">Open App Menu</span>
          </ids-button>
        </ids-toolbar-section>
        <ids-toolbar-section type="title">
          <ids-text font-size="20" type="h1">App Menu Example</ids-text>
        </ids-toolbar-section>
        <ids-toolbar-section align="end">
          <ids-theme-switcher mode="light"></ids-theme-switcher>
        </ids-toolbar-section>
      </ids-toolbar>
    </ids-header>

    <ids-app-menu id="app-menu">
      <!-- Avatar/Username Area -->
      <img slot="avatar" id="avatar" alt="Picture of Richard Fairbanks" />
      <ids-text slot="username" font-size="24" font-weight="bold">Richard Fairbanks</ids-text>

      <!-- Header Toolbar -->
      <ids-toolbar slot="header">
        <ids-toolbar-section align="center-even" type="fluid">
          <ids-button id="header-btn-download" icon="download">
            <ids-text slot="text" audible>Download</ids-text>
          </ids-button>
          <ids-button id="header-btn-print" icon="print">
            <ids-text slot="text" audible>Print</ids-text>
          </ids-button>
          <ids-button id="header-btn-purchasing" icon="purchasing">
            <ids-text slot="text" audible>Purchasing</ids-text>
          </ids-button>
          <ids-button id="header-btn-notification" icon="notification">
            <ids-text slot="text" audible>Notification</ids-text>
          </ids-button>
          <ids-button id="header-btn-inventory" icon="inventory">
            <ids-text slot="text" audible>Inventory</ids-text>
          </ids-button>
        </ids-toolbar-section>
      </ids-toolbar>

      <ids-search-field id="search" clearable color-variant="app-menu" label="Application Menu Search" label-state="collapsed" no-margins slot="search"></ids-search-field>

      <!-- Main Content (Accordion Navigation) -->
      <ids-accordion>
        <ids-accordion-panel>
          <ids-accordion-header slot="header" icon="user">
            <ids-text font-size="16">Employee</ids-text>
          </ids-accordion-header>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">My Profile</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">Talent Profile</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">View Compensation</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">RAVE</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">Request Time Off</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">Benefits</ids-text>
            </ids-accordion-header>
            <ids-accordion-panel slot="content">
              <ids-accordion-header slot="header">
                <ids-text font-size="14">My Benefits</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
            <ids-accordion-panel slot="content">
              <ids-accordion-header slot="header">
                <ids-text font-size="14">Dependents and Beneficiaries</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
            <ids-accordion-panel slot="content">
              <ids-accordion-header slot="header">
                <ids-text font-size="14">Life Events</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
            <ids-accordion-panel slot="content">
              <ids-accordion-header slot="header">
                <ids-text font-size="14">Benefits Information</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
          </ids-accordion-panel>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">My Rewards</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">Find a Coworker</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel slot="content">
            <ids-accordion-header slot="header">
              <ids-text font-size="14">My Growth</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
        </ids-accordion-panel>
        <ids-accordion-panel>
          <ids-accordion-header slot="header" icon="distribution">
            <ids-text font-size="16">Manager</ids-text>
          </ids-accordion-header>
        </ids-accordion-panel>
        <ids-accordion-panel>
          <ids-accordion-header slot="header" icon="roles">
            <ids-text font-size="16">Recruiter</ids-text>
          </ids-accordion-header>
        </ids-accordion-panel>
      </ids-accordion>
    </ids-app-menu>

    <ids-layout-grid cols="1">
      <ids-text font-size="12" type="h2">Display Text Sizes</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="1">
      <ids-layout-grid-cell>
        <ids-text font-size="72" font-weight="lighter">Display 01 - 72</ids-text>
        <ids-text font-size="60" font-weight="lighter">Display 02 - 60</ids-text>
        <ids-text font-size="48" font-weight="lighter">Display 03 - 48</ids-text>
        <ids-text font-size="40" font-weight="lighter">Display 04 - 40</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid>
      <ids-text font-size="12" type="h2">Heading Text Sizes</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4">
      <ids-layout-grid-cell>
        <ids-text font-size="32" type="h3">Heading - 32</ids-text>
        <ids-text font-size="28" type="h3">Heading - 28</ids-text>
        <ids-text font-size="24" type="h3">Heading - 24</ids-text>
        <ids-text font-size="20" type="h3">Heading - 20</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="32" font-weight="bold" type="h3">Heading - 32</ids-text>
        <ids-text font-size="28" font-weight="bold" type="h3">Heading - 28</ids-text>
        <ids-text font-size="24" font-weight="bold" type="h3">Heading - 24</ids-text>
        <ids-text font-size="20" font-weight="bold" type="h3">Heading - 20</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid>
      <ids-text font-size="12" type="h2">Body Text Sizes</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4">
      <ids-layout-grid-cell>
        <ids-text font-size="16" type="p">Body Text - 16</ids-text>
        <ids-text font-size="14" type="p">Body SM - 14</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="16" font-weight="bold" type="p">Body Text - 16</ids-text>
        <ids-text font-size="14" font-weight="bold" type="p">Body SM - 14</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid>
      <ids-text font-size="12" type="h2">Body Text Sizes</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4">
      <ids-layout-grid-cell>
        <ids-text font-size="12">Small Text 01 - 12, uppercase</ids-text>
        <ids-text font-size="10">Small 02 - 10, uppercase</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12" font-weight="bold">Small Text 01 - 12 uppercase</ids-text>
        <ids-text font-size="10" font-weight="bold">Small 02 - 10, uppercase</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid>
      <ids-text font-size="12" type="h2" cols="1">Text alignments</ids-text>
    </ids-layout-grid>
    <ids-layout-grid gap="md" cols="1">
      <ids-layout-grid-cell>
        <ids-text font-size="12">Start (default)</ids-text>
        <ids-text>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ex consequat.
        </ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12">Center</ids-text>
        <ids-text text-align="center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ex consequat.
        </ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12">End</ids-text>
        <ids-text text-align="end">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ex consequat.
        </ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12">Justify</ids-text>
        <ids-text text-align="justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ex consequat.
        </ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

  </ids-container>
</body>
</html>
