<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</body>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
      <ids-layout-grid>
        <ids-text font-size="12" type="h1">Ids App Menu</ids-text>
      </ids-layout-grid>

      <ids-layout-grid>
        <ids-layout-grid-cell>
          <ids-button id="app-menu-trigger" icon="menu">
            <span slot="text" class="audible">Open App Menu</span>
          </ids-button>
        </ids-layout-grid-cell>
      </ids-layout-grid>

      <ids-app-menu id="app-menu">
        <img slot="avatar" src="/assets/avatar-placeholder.jpg" alt="Picture of Richard Fairbanks" />
        <ids-text slot="username" font-size="24" font-weight="bold">Richard Fairbanks</ids-text>
        <ids-search-field id="search" color-variant="app-menu" slot="search" label=""></ids-search-field>
        <ids-accordion>
          <ids-accordion-panel id="p1">
            <ids-accordion-header id="h1" slot="header">
              <ids-text>First Pane</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel id="p2">
            <ids-accordion-header id="h2" slot="header">
              <ids-text>Second Pane</ids-text>
            </ids-accordion-header>
          </ids-accordion-panel>
          <ids-accordion-panel id="p3">
            <ids-accordion-header id="h3" slot="header">
              <ids-text>Third Pane</ids-text>
            </ids-accordion-header>
            <ids-accordion-panel slot="content" id="sp1">
              <ids-accordion-header id="sh1" slot="header">
                <ids-text font-size="14">Sub-Pane 1</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
            <ids-accordion-panel slot="content" id="sp2">
              <ids-accordion-header id="sh2" slot="header">
                <ids-text font-size="14">Sub-Pane 2</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
            <ids-accordion-panel slot="content" id="sp3">
              <ids-accordion-header id="sh3" slot="header">
                <ids-text font-size="14">Sub-Pane 3</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
          </ids-accordion-panel>
        </ids-accordion>
      </ids-app-menu>
    </ids-container>
  </body>
  </html>
