<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
    <ids-container role="main" padding="0" hidden scrollable="false">
    <ids-layout-flex direction="column" gap="0" full-height>
      <ids-layout-flex-item>
        <ids-masthead title="Infor Application" icon="logo" role="navigation">
          <ids-toolbar id="my-toolbar">
            <ids-toolbar-section align="start" favor>
              <ids-layout-flex gap="8" align-items="center">
                <ids-layout-flex-item>
                  <ids-button id="logo" class="icon-logo" color-variant="alternate" square="true">
                    <ids-icon icon="logo" viewbox="0 0 32 34" width="32" height="32"></ids-icon>
                    <ids-text audible="true">Masthead logo</ids-text>
                  </ids-button>
                </ids-layout-flex-item>
                <ids-layout-flex-item>
                  <ids-text id="title" color-variant="alternate" font-size="14" font-weight="semi-bold">Infor Application</ids-text>
                </ids-layout-flex-item>
                <ids-layout-flex-item>
                  <ids-button icon="grid"><span class="audible">Grid Button</span></ids-button>
                </ids-layout-flex-item>
              </ids-layout-flex>
            </ids-toolbar-section>

            <ids-toolbar-section type="buttonset" align="start">
              <ids-button id="button-1" icon="home"><span>Home</span></ids-button>
              <ids-button id="button-2" icon="star-outlined"><span>Star</span></ids-button>
              <ids-button id="button-3" icon="info"><span>Info</span></ids-button>
            </ids-toolbar-section>

            <ids-toolbar-section type="buttonset" align="end">
              <ids-button icon="user"><span class="audible">User Button</span></ids-button>
              <ids-button icon="mingle-share"><span class="audible">Mingle Button</span></ids-button>
              <ids-button icon="bookmark-outlined"><span class="audible">Bookmark Button</span></ids-button>
            </ids-toolbar-section>

            <ids-toolbar-more-actions overflow>
              <ids-menu-group>
                <ids-menu-item value="1" disabled>Option One (disabled)</ids-menu-item>
                <ids-menu-item value="2">Option Two</ids-menu-item>
                <ids-menu-item value="3">Option Three</ids-menu-item>
                <ids-menu-item>More Options
                  <ids-popup-menu>
                    <ids-menu-group>
                      <ids-menu-item value="4">Option Four</ids-menu-item>
                      <ids-menu-item value="5" disabled>Option Five (disabled)</ids-menu-item>
                      <ids-menu-item value="6">Option Six</ids-menu-item>
                    </ids-menu-group>
                  </ids-popup-menu>
                </ids-menu-item>
              </ids-menu-group>
            </ids-toolbar-more-actions>
          </ids-toolbar>
        </ids-masthead>
      </ids-layout-flex-item>

      <ids-app-menu-container>
        <ids-app-menu id="app-menu">
          <!-- Avatar/Username Area -->
          <img slot="avatar" id="avatar" alt="Picture of Richard Fairbanks" />
          <ids-text slot="username" font-size="24" font-weight="semi-bold">Richard Fairbanks</ids-text>

          <!-- Header Toolbar -->
          <ids-toolbar slot="header">
            <ids-toolbar-section align="center-even" type="fluid">
              <ids-button id="header-btn-download" icon="download">
                <ids-text audible>Download</ids-text>
              </ids-button>
              <ids-button id="header-btn-print" icon="print">
                <ids-text audible>Print</ids-text>
              </ids-button>
              <ids-button id="header-btn-purchasing" icon="purchasing">
                <ids-text audible>Purchasing</ids-text>
              </ids-button>
              <ids-button id="header-btn-notification" icon="notification">
                <ids-text audible>Notification</ids-text>
              </ids-button>
              <ids-button id="header-btn-inventory" icon="inventory">
                <ids-text audible>Inventory</ids-text>
              </ids-button>
            </ids-toolbar-section>
          </ids-toolbar>

          <ids-search-field id="search" clearable color-variant="app-menu" label="Application Menu Search" label-state="collapsed" no-margins slot="search"></ids-search-field>

          <!-- Main Content (Accordion Navigation) -->
          <ids-accordion>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="user">
                <ids-text font-size="16">Employee</ids-text>
              </ids-accordion-header>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">My Profile</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Talent Profile</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">View Compensation</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">RAVE</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Request Time Off</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Benefits</ids-text>
                </ids-accordion-header>
                <ids-accordion-panel slot="content">
                  <ids-accordion-header slot="header">
                    <ids-text font-size="14">My Benefits</ids-text>
                  </ids-accordion-header>
                </ids-accordion-panel>
                <ids-accordion-panel slot="content">
                  <ids-accordion-header slot="header">
                    <ids-text font-size="14">Dependents and Beneficiaries</ids-text>
                  </ids-accordion-header>
                </ids-accordion-panel>
                <ids-accordion-panel slot="content">
                  <ids-accordion-header slot="header">
                    <ids-text font-size="14">Life Events</ids-text>
                  </ids-accordion-header>
                </ids-accordion-panel>
                <ids-accordion-panel slot="content">
                  <ids-accordion-header slot="header">
                    <ids-text font-size="14">Benefits Information</ids-text>
                  </ids-accordion-header>
                </ids-accordion-panel>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">My Rewards</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Find a Coworker</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">My Growth</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="distribution">
                <ids-text font-size="16">Manager</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="roles">
                <ids-text font-size="16">Recruiter</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
          </ids-accordion>
        </ids-app-menu>

        <ids-layout-flex direction="column" gap="0" full-height>
          <ids-layout-flex-item>
            <ids-header>
              <ids-toolbar>
                <ids-toolbar-section type="button">
                  <ids-button id="app-menu-trigger" icon="menu">
                    <span class="audible">Open App Menu</span>
                  </ids-button>
                </ids-toolbar-section>
                <ids-toolbar-section type="title">
                  <ids-text font-size="20" type="h1">App Menu Example</ids-text>
                </ids-toolbar-section>
                <ids-toolbar-section align="end" type="button">
                  <ids-theme-switcher mode="light"></ids-theme-switcher>
                </ids-toolbar-section>
              </ids-toolbar>
            </ids-header>
          </ids-layout-flex-item>

          <ids-layout-flex-item grow="1" overflow="hidden">
            <ids-scroll-container>
              <ids-layout-grid auto-fit="true" padding="md">
                <ids-text font-size="12" type="h1">IDS Module Nav</ids-text>
              </ids-layout-grid>
              <ids-layout-grid auto-fit="true" gap="md" padding-x="md">
                <ids-layout-grid-cell>
                  <ids-text type="p">Use the Hamburger button in the header to change display.  Also use the browser viewport to observe mobile/responsve behavior.</ids-text>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <ids-text type="p">Fake Content</ids-text>
                  <br>
                </ids-layout-grid-cell>
              </ids-layout-grid>
            </ids-scroll-container>
          </ids-layout-flex-item>
        </ids-layout-flex>
      </ids-app-menu-container>
    </ids-layout-flex>
  </ids-container>
</body>
</html>
