/* Ids Alert Component */
:host,
.ids-alert {
  contain: content;

  &.success,
  [color='success'],
  [icon='success'] {
    color: var(--ids-alert-color-success-default);

    &.disabled {
      color: var(--ids-alert-color-success-disabled);
    }
  }

  &.alert,
  [color='alert'],
  [icon='alert'],
  &.warning,
  [color='warning'],
  [icon='warning'] {
    color: var(--ids-alert-color-warning-default);

    &.disabled {
      color: var(--ids-alert-color-warning-disabled);
    }
  }

  &.caution,
  [color='caution'],
  [icon='caution'] {
    color: var(--ids-alert-color-caution-default);

    &.disabled {
      color: var(--ids-alert-color-caution-disabled);
    }
  }


  &.info,
  [color='info'],
  [icon='info'] {
    color: var(--ids-alert-color-info-default);

    &.disabled {
      color: var(--ids-alert-color-info-disabled);
    }
  }

  &.error,
  [color='error'],
  [icon='error'] {
    color: var(--ids-alert-color-error-default);

    &.disabled {
      color: var(--ids-alert-color-error-default);
    }
  }

  &.new,
  [color='new'],
  [icon='new'] {
    color: var(--ids-alert-color-new-default);

    &.disabled {
      color: var(--ids-alert-color-new-disabled);
    }
  }

  &.in-progress,
  [color='amethyst'],
  [icon='in-progress'] {
    color: var(--ids-alert-color-progress-default);

    &.disabled {
      color: var(--ids-alert-color-progress-disabled);
    }
  }
}
