/* Ids Badge Component */
:host,
.ids-alert {
  contain: content;

  &.success,
  [color='success'],
  [icon='success'] {
    color: var(--ids-color-success-03);

    &.disabled {
      color: var(--ids-color-success-02);
    }
  }

  &.alert,
  [color='alert'],
  [icon='alert'],
  &.warning,
  [color='warning'],
  [icon='warning'] {
    color: var(--ids-color-warning-03);

    &.disabled {
      color: var(--ids-color-warning-02);
    }
  }

  &.caution,
  [color='caution'],
  [icon='caution'] {
    color: var(--ids-color-caution-03);

    &.disabled {
      color: var(--ids-color-caution-02);
    }
  }


  &.info,
  [color='info'],
  [icon='info'] {
    color: var(--ids-color-info-03);

    &.disabled {
      color: var(--ids-color-info-02);
    }
  }

  &.error,
  [color='error'],
  [icon='error'] {
    color: var(--ids-color-error-03);

    &.disabled {
      color: var(--ids-color-error-02);
    }
  }

  &.new,
  [color='new'],
  [icon='new'] {
    color: var(--ids-color-amber-70);

    &.disabled {
      color: var(--ids-color-amber-30);
    }
  }

  &.in-progress,
  [color='amethyst'],
  [icon='in-progress'] {
    color: var(--ids-color-amethyst-70);

    &.disabled {
      color: var(--ids-color-amethyst-30);
    }
  }

  &.empty-circle,
  &.half-empty-circle,
  [icon='empty-circle'],
  [icon='half-empty-circle'] {
    color: var(--ids-subtle-text-color);
  }
}
