@import '../../core/ids-base';

:host,
.ids-alert {
  contain: content;

  &.success,
  &.success-solid,
  [icon='success'],
  [icon='success-solid'] {
    @include text-alert-success();

    &.disabled {
      color: var(--ids-color-palette-emerald-30);
    }
  }

  &.alert,
  &.alert-solid,
  [icon='alert'],
  [icon='alert-solid'] {
    @include text-alert-warning();

    &.disabled {
      color: var(--ids-color-palette-amber-30);
    }
  }

  &.info,
  &.info-solid,
  [icon='info'],
  [icon='info-solid'] {
    @include text-alert-info();

    &.disabled {
      color: var(--ids-color-palette-azure-30);
    }
  }

  &.error,
  &.error-solid,
  [icon='error'],
  [icon='error-solid'] {
    @include text-alert-error();

    &.disabled {
      color: var(--ids-color-palette-ruby-30);
    }
  }

  &.new,
  &.new-solid,
  [icon='new'],
  [icon='new-solid'] {
    color: var(--ids-color-palette-amber-70);

    &.disabled {
      color: var(--ids-color-palette-amber-30);
    }
  }

  &.in-progress,
  &.in-progress-solid,
  [icon='in-progress'],
  [icon='in-progress-solid'] {
    color: var(--ids-color-palette-amethyst-70);

    &.disabled {
      color: var(--ids-color-palette-amethyst-30);
    }
  }

  &.empty-circle,
  &.half-empty-circle,
  [icon='empty-circle'],
  [icon='half-empty-circle'] {
    color: var(--ids-color-palette-slate-80);
  }

  &.empty-circle.dark,
  &.half-empty-circle.dark,
  [mode='dark'][icon='empty-circle'],
  [mode='dark'][icon='half-empty-circle'] {
    color: var(--ids-color-palette-classic-slate-30);
  }

  &.empty-circle.classic.dark,
  &.half-empty-circle.classic.dark {
    color: var(--ids-color-palette-classic-slate-30);

    &.disabled {
      color: var(--ids-color-palette-slate-30);
    }
  }
}
