/* Ids Badge Component */
:host,
.ids-alert {
  contain: content;

  &.success,
  [color='success'],
  [icon='success'] {
    color: var(--ids-alert-success-color);

    &.disabled {
      color: var(--ids-alert-success-disabled-color);
    }
  }

  &.alert,
  [color='alert'],
  [icon='alert'],
  &.warning,
  [color='warning'],
  [icon='warning'] {
    color: var(--ids-alert-warning-color);

    &.disabled {
      color: var(--ids-alert-warning-disabled-color);
    }
  }

  &.caution,
  [color='caution'],
  [icon='caution'] {
    color: var(--ids-alert-caution-color);

    &.disabled {
      color: var(--ids-alert-caution-disabled-color);
    }
  }


  &.info,
  [color='info'],
  [icon='info'] {
    color: var(--ids-alert-info-color);

    &.disabled {
      color: var(--ids-alert-info-disabled-color);
    }
  }

  &.error,
  [color='error'],
  [icon='error'] {
    color: var(--ids-alert-error-color);

    &.disabled {
      color: var(--ids-alert-error-color);
    }
  }

  &.new,
  [color='new'],
  [icon='new'] {
    color: var(--ids-alert-new-color);

    &.disabled {
      color: var(--ids-alert-new-disabled-color);
    }
  }

  &.in-progress,
  [color='amethyst'],
  [icon='in-progress'] {
    color: var(--ids-alert-in-progress-color);

    &.disabled {
      color: var(--ids-alert-in-progress-disabled-color);
    }
  }

  &.empty-circle,
  &.half-empty-circle,
  [icon='empty-circle'],
  [icon='half-empty-circle'] {
    color: var(--ids-alert-empty-color);

    &.disabled {
      color: var(--ids-alert-empty-disabled-color);
    }
  }
}
