/* Ids Icon Component */
:host {
  display: inline-flex;
  align-self: center;
  contain: content;
  place-self: center;
  position: relative;
}

:host([hidden]) {
  display: none;
}

.vertical {
  transform: rotate(90deg);
}

.mirrored {
  transform: scaleX(-1);
}

:host([icon='more']) svg,
:host([icon='vertical-ellipsis']) svg  {
  height: 19px;
}

:host([icon='add']) svg {
  width: 17px;
}

:host([icon^='empty-']) {
  color: var(--ids-icon-empty-color);
}

:host([icon^='empty-'][icon$='-new']) {
  color: var(--ids-icon-empty-new-color);
}

.notification-badge {
  background-color: var(--ids-notification-badge-error-color-background);
  border-radius: var(--ids-notification-badge-border-radius);
  height: var(--ids-notification-badge-size);
  width: var(--ids-notification-badge-size);
  position: absolute;

  // Color notification badges
  &.info,
  &.base {
    background-color: var(--ids-notification-badge-info-color-background);
  }

  &.error {
    background-color: var(--ids-notification-badge-error-color-background);
  }

  &.success {
    background-color: var(--ids-notification-badge-success-color-background);
  }

  &.warning {
    background-color: var(--ids-notification-badge-warning-color-background);
  }

  /**
  * positioning notification badge
  */
  &.top-right {
    bottom: 75%;
    left: 75%;
  }

  &.top-left {
    bottom: 75%;
    left: 0;
  }

  &.bottom-right {
    bottom: 0;
    left: 75%;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
  }
}

:host([disabled]) {
  .notification-badge {
    background-color: var(--ids-alert-color-error-disabled);

    &.info,
    &.base {
      background-color: var(--ids-alert-color-info-disabled);
    }

    &.error {
      background-color: var(--ids-alert-color-error-disabled);
    }

    &.success {
      background-color: var(--ids-alert-color-success-disabled);
    }

    &.warning {
      background-color: var(--ids-alert-color-warning-disabled);
    }
  }
}
