@import '../../core/ids-base';

:host {
  @include inline-flex();
  @include self-center();

  contain: content;
  place-self: center;
  position: relative;
}

:host([hidden]) {
  display: none;
}

.vertical {
  transform: rotate(90deg);
}

.flipped {
  transform: scaleX(-1);
}

.notification-badge {
  @include bg-alert-error();

  border-radius: 4px;
  height: 6px;
  width: 6px;
  position: absolute;

  /**
  * color notification badge
  */
  &.info,
  &.base {
    @include bg-alert-info();
  }

  &.error {
    @include bg-alert-error();
  }

  &.success {
    @include bg-alert-success();
  }

  &.warning {
    @include bg-alert-warning();
  }

  /**
  * positioning notification badge
  */
  &.top-right {
    bottom: 75%;
    left: 75%;
  }

  &.top-left {
    bottom: 75%;
    left: 0;
  }

  &.bottom-right {
    bottom: 0;
    left: 75%;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
  }
}
