/* Ids Icon Component */
:host {
  display: inline-flex;
  align-self: center;
  contain: content;
  place-self: center;
  position: relative;
}

svg {
  color: var(--ids-icon-color-default);
  height: var(--ids-icon-height-default);
  width: var(--ids-icon-width-default);
}

:host([hidden]) {
  display: none;
}

.vertical {
  transform: rotate(90deg);
}

.mirrored {
  transform: scaleX(-1);
}

:host([icon='more']) svg,
:host([icon='vertical-ellipsis']) svg  {
  height: 19px;
}

:host([icon='add']) svg {
  width: 17px;
}

:host([icon='logo']) svg {
  path:nth-child(1) {
    display: none; // hide tradmark
  }
}

:host([icon='favicon']) {
  color: var(--ids-icon-infor-color);

  path:nth-child(2) {
    fill: white;
  }
}

.notification-badge {
  background-color: var(--ids-notification-badge-error-color-background);
  border-radius: var(--ids-notification-badge-border-radius);
  height: var(--ids-notification-badge-size);
  width: var(--ids-notification-badge-size);
  position: absolute;

  // Color notification badges
  &.info,
  &.base {
    background-color: var(--ids-notification-badge-info-color-background);
  }

  &.error {
    background-color: var(--ids-notification-badge-error-color-background);
  }

  &.success {
    background-color: var(--ids-notification-badge-success-color-background);
  }

  &.warning {
    background-color: var(--ids-notification-badge-warning-color-background);
  }

  /**
  * positioning notification badge
  */
  &.top-right {
    bottom: 75%;
    left: 75%;
  }

  &.top-left {
    bottom: 75%;
    left: 0;
  }

  &.bottom-right {
    bottom: 0;
    left: 75%;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
  }
}

:host([disabled]) {
  .notification-badge {
    background-color: var(--ids-alert-color-error-disabled);

    &.info,
    &.base {
      background-color: var(--ids-alert-color-info-disabled);
    }

    &.error {
      background-color: var(--ids-alert-color-error-disabled);
    }

    &.success {
      background-color: var(--ids-alert-color-success-disabled);
    }

    &.warning {
      background-color: var(--ids-alert-color-warning-disabled);
    }
  }
}

// Status Colors
[class^="status-color"] {
  background-color: var(--ids-icon-status-color-blue-color-background);
  color: var(--ids-icon-status-color-blue-color-text);
  border-radius: var(--ids-icon-status-color-border-radius);
  padding: var(--ids-icon-status-color-padding);
}

.status-color-red {
  background-color: var(--ids-icon-status-color-red-color-background);
  color: var(--ids-icon-status-color-red-color-text);
}

.status-color-orange {
  background-color: var(--ids-icon-status-color-orange-color-background);
  color: var(--ids-icon-status-color-orange-color-text);
}

.status-color-green {
  background-color: var(--ids-icon-status-color-green-color-background);
  color: var(--ids-icon-status-color-green-color-text);
}

.status-color-blue {
  background-color: var(--ids-icon-status-color-blue-color-background);
  color: var(--ids-icon-status-color-blue-color-text);
}

.status-color-teal {
  background-color: var(--ids-icon-status-color-teal-color-background);
  color: var(--ids-icon-status-color-teal-color-text);
}

.status-color-purple {
  background-color: var(--ids-icon-status-color-purple-color-background);
  color: var(--ids-icon-status-color-purple-color-text);
}

.status-color-neutral {
  background-color: var(--ids-icon-status-color-neutral-color-background);
  color: var(--ids-icon-status-color-neutral-color-text);
}

.status-color-error {
  background-color: var(--ids-icon-status-color-error-color-background);
  color: var(--ids-icon-status-color-error-color-text);
}

.status-color-warning {
  background-color: var(--ids-icon-status-color-warning-color-background);
  color: var(--ids-icon-status-color-warning-color-text);
}

.status-color-alert {
  background-color: var(--ids-icon-status-color-alert-color-background);
  color: var(--ids-icon-status-color-alert-color-text);
}

.status-color-info {
  background-color: var(--ids-icon-status-color-info-color-background);
  color: var(--ids-icon-status-color-info-color-text);
}

.status-color-success {
  background-color: var(--ids-icon-status-color-success-color-background);
  color: var(--ids-icon-status-color-success-color-text);
}

