<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">IdsFilterField Example</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="md" padding-x="md" padding-y="sm">
      <ids-layout-grid-cell>
        <ids-filter-field id="text-filter-field" label="Text">
          <ids-input id="filter-input"></ids-input>
        </ids-filter-field>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="md" padding-x="md" padding-y="sm">
      <ids-layout-grid-cell>
        <ids-filter-field label="Date">
          <ids-date-picker id="filter-date"></ids-date-picker>
        </ids-filter-field>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="md" padding-x="md" padding-y="sm">
      <ids-layout-grid-cell>
        <ids-filter-field label="Time">
          <ids-time-picker id="filter-time"></ids-time-picker>
        </ids-filter-field>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="md" padding-x="md" padding-y="sm">
      <ids-layout-grid-cell>
        <ids-filter-field label="Dropdown">
          <ids-dropdown value="opt2" id="filter-dropdown">
            <ids-list-box>
              <ids-list-box-option value="opt1">Option One</ids-list-box-option>
              <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
              <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
              <ids-list-box-option value="opt4">Option Four</ids-list-box-option>
              <ids-list-box-option value="opt5">Option Five</ids-list-box-option>
              <ids-list-box-option value="opt6">Option Six</ids-list-box-option>
            </ids-list-box>
          </ids-dropdown>
        </ids-filter-field>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="md" padding-x="md" padding-y="sm">
      <ids-layout-grid-cell>
        <ids-filter-field label="Lookup">
          <ids-lookup id="filter-lookup" title="Select an Item" field="description" value="102,103"></ids-lookup>
        </ids-filter-field>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
