<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true">
      <ids-text font-size="12" type="h1">List Style Pager</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Large - Step: 3</ids-text>
        <ids-pager type="list" step="3" page-size="20" page-number="10" total="1500">
        </ids-pager>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Medium - Step: 2</ids-text>
        <ids-pager type="list" step="2" page-size="20" page-number="10" total="1500">
        </ids-pager>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Small - Step: 1</ids-text>
        <ids-pager type="list" step="1" page-size="20" page-number="10" total="1500">
        </ids-pager>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Show all - Step: 0 (default)</ids-text>
        <ids-pager type="list" step="0" page-size="20" page-number="10" total="500">
        </ids-pager>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Aria-label</ids-text>
        <ids-pager type="list" step="3" page-size="20" page-number="10" total="1500">
        </ids-pager>
      </ids-layout-grid-cell>
    </ids-layout-grid>

  </ids-container>
</body>
</html>
