<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid cols="3" gap="md">
      <ids-text font-size="12" type="h1">List Style Pager</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-pager page-size="20" page-number="10" total="150">
          <ids-pager-button previous></ids-pager-button>
          <ids-pager-number-list></ids-pager-number-list>
          <ids-pager-button next></ids-pager-button>
        </ids-pager>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
