<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
      <ids-layout-grid cols="3" gap="md">
        <ids-text font-size="12" type="h1">Ids Pager</ids-text>
      </ids-layout-grid>

      <ids-layout-grid cols="2" gap="md">
          <ids-pager page-size="20" page-number="10" total="200">
            <ids-pager-button first></ids-pager-button>
            <ids-pager-button previous></ids-pager-button>
            <ids-pager-input></ids-pager-input>
            <ids-pager-button next></ids-pager-button>
            <ids-pager-button last></ids-pager-button>
          </ids-pager>
        </ids-layout-grid-cell>
      </ids-layout-grid>
      <ids-layout-grid auto="true">
        <ids-pager page-size="20" page-number="10" total="300">
          <div slot="start"><ids-text font-size="12">Left Content</ids-text></div>
          <div>
            <ids-pager-button first></ids-pager-button>
            <ids-pager-button previous></ids-pager-button>
            <ids-pager-input></ids-pager-input>
            <ids-pager-button next></ids-pager-button>
            <ids-pager-button last></ids-pager-button>
          </div>
          <div slot="end"><ids-text font-size="12">Right-Menu Content</ids-text></div>
        </ids-pager>
      </ids-layout-grid>
      <ids-layout-grid auto="true">
        <ids-pager page-size="50" page-number="2" total="150">
          <div>
            <ids-pager-button previous></ids-pager-button>
            <ids-pager-number-list></ids-pager-number-list>
            <ids-pager-button next></ids-pager-button>
          </div>
          <div slot="end"><ids-text font-size="12">Right-Menu Content</ids-text></div>
        </ids-pager>
      </ids-layout-grid-cell>
      </ids-layout-grid>
  </ids-container>
</body>
</html>
