<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Home Page - both horizontal/vertical (Default gap: 20)</ids-text>
    </ids-layout-grid>
    <ids-home-page widget-width="250" widget-height="200">
      <ids-widget slot="widget" colspan="3">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - A</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - B</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - C</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - D</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
    </ids-home-page>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Home Page - both horizontal/vertical (gap: 50)</ids-text>
    </ids-layout-grid>
    <ids-home-page widget-width="250" widget-height="200" gap="50">
      <ids-widget slot="widget" colspan="3">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - A</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - B</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - C</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - D</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
    </ids-home-page>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Home Page - horizontal gap (gap-x: 50)</ids-text>
    </ids-layout-grid>
    <ids-home-page widget-width="250" widget-height="200" gap-x="50">
      <ids-widget slot="widget" colspan="3">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - A</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - B</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - C</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - D</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
    </ids-home-page>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Home Page - vertical gap (gap-y: 50)</ids-text>
    </ids-layout-grid>
    <ids-home-page widget-width="250" widget-height="200" gap-y="50">
      <ids-widget slot="widget" colspan="3">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - A</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - B</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - C</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
      <ids-widget slot="widget">
        <div slot="widget-header">
          <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Widget - D</ids-text>
        </div>
        <div slot="widget-content"></div>
      </ids-widget>
    </ids-home-page>
  </ids-container>
</body>
</html>
