<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Home Page Sandbox</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-hyperlink href="./scenario-a.html" target="_blank">Scenario - A</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-b.html" target="_blank">Scenario - B</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-c.html" target="_blank">Scenario - C</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-d.html" target="_blank">Scenario - D</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-e.html" target="_blank">Scenario - E</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-f.html" target="_blank">Scenario - F</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-g.html" target="_blank">Scenario - G</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-h.html" target="_blank">Scenario - H</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-i.html" target="_blank">Scenario - I</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-j.html" target="_blank">Scenario - J</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-k.html" target="_blank">Scenario - K</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-l.html" target="_blank">Scenario - L</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-m.html" target="_blank">Scenario - M</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-n.html" target="_blank">Scenario - N</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-o.html" target="_blank">Scenario - O</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-p.html" target="_blank">Scenario - P</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-q.html" target="_blank">Scenario - Q</ids-hyperlink><br/>
        <ids-hyperlink href="./scenario-r.html" target="_blank">Scenario - R</ids-hyperlink><br/>
        <ids-hyperlink href="./columns-4.html" target="_blank">Columns - 4</ids-hyperlink><br/>
        <ids-hyperlink href="./columns-5.html" target="_blank">Columns - 5</ids-hyperlink><br/>
        <ids-hyperlink href="./columns-6.html" target="_blank">Columns - 6</ids-hyperlink><br/>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Small Size</ids-text>
        <ids-hyperlink href="./small-scenario-d.html" target="_blank">Small Scenario - D</ids-hyperlink><br />
        <ids-hyperlink href="./small-scenario-f.html" target="_blank">Small Scenario - F</ids-hyperlink><br />
        <ids-hyperlink href="./small-scenario-i.html" target="_blank">Small Scenario - I</ids-hyperlink><br />
        <ids-hyperlink href="./small-scenario-r.html" target="_blank">Small Scenario - R</ids-hyperlink><br />
        <ids-hyperlink href="./small-columns-4.html" target="_blank">Small Columns - 4</ids-hyperlink><br />
        <ids-hyperlink href="./small-columns-5.html" target="_blank">Small Columns - 5</ids-hyperlink><br />
        <ids-hyperlink href="./small-columns-6.html" target="_blank">Small Columns - 6</ids-hyperlink>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Events</ids-text>
        <ids-hyperlink href="./events.html" target="_blank">Events</ids-hyperlink>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Add / Remove Card</ids-text>
        <ids-hyperlink href="./add-remove-card.html" target="_blank">Add / Remove Card</ids-hyperlink>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Gap - Horizontal / Vertical</ids-text>
        <ids-hyperlink href="./gap.html" target="_blank">Gap in between cards</ids-hyperlink>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Side-by-Side (web-component and 4.x)</ids-text>
        <ids-hyperlink href="./side-by-side.html" target="_blank">Gap in between cards</ids-hyperlink>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
