<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Hyperlink</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-hyperlink href="http://www.example.com" target="_blank">Normal Hyperlink</ids-hyperlink>
      </ids-layout-grid-cell>
    </ids-layout-grid>

   <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-hyperlink href="http://www.example.com" disabled="true" target="_blank">Disabled Hyperlink</ids-hyperlink>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">4.x Hyperlink</ids-text>
    </ids-layout-grid>
    <div class="svg hidden">
      <div class="svg-icons">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-icons">
          <symbol id="icon-caret-right" viewBox="0 0 18 18"><path d="M4.5 17.5L13 9 4.5.5" stroke="currentColor" fill="none" fill-rule="evenodd" vector-effect="non-scaling-stroke"></path></symbol>
          <symbol id="icon-caret-left" viewBox="0 0 18 18"><path d="M12.5 17.5L4 9 12.5.5" stroke="currentColor" fill="none" fill-rule="evenodd" vector-effect="non-scaling-stroke"></path></symbol>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <a class="hyperlink hide-focus" href="#">Normal Hyperlink</a><p>&nbsp;</p>
        <a class="hyperlink hide-focus" disabled tabindex="-1" href="#">Disabled Hyperlink</a><p>&nbsp;</p>
      </div>
    </div>

    <script>
      $('body').initialize();
    </script>
  </ids-container>
</body>
</html>
