/* Ids Home Page Component */
.ids-home-page {
  position: relative;
  background-color: var(--ids-homepage-color-background-default);

  .widgets {
    position: absolute;
    left: 50%;
  }

  ::slotted(ids-widget) {
    position: absolute;
  }
}
