/* Ids Home page Component */
@import '../../core/ids-base';

.ids-home-page {
  @include relative();

  .cards {
    position: absolute;
    left: 50%;
  }

  ::slotted(ids-card) {
    position: absolute;
  }
}
