@import '../../themes/mixins/ids-core-mixins';

.ids-empty-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 310px;

  .button {
    margin-block-end: var(--ids-empty-message-button-margin-block-end);
  }

  .icon {
    fill: var(--ids-empty-message-color-icon-fill);
    color: var(--ids-empty-message-icon-color);
    margin: var(--ids-empty-message-icon-margin);
    height: var(--ids-empty-message-icon-height);
    width: var(--ids-empty-message-icon-width);
  }

  .label {
    padding: var(--ids-empty-message-label-padding);

    ::slotted(span) {
      font-size: var(--ids-empty-message-label-font-size);
    }
  }

  .description {
    padding: var(--ids-empty-message-description-padding);
    text-align: var(--ids-empty-message-description-font-align);
  }

  @media all and (max-width: $breakpoint-sm) {
    max-width: $breakpoint-xs - 20px;
  }

  @media all and (max-width: $breakpoint-xs) {
    max-width: $breakpoint-xs - 100px;
  }
}
