@import '../../core/ids-base.scss';

.ids-empty-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    margin: 16px;
    height: 80px;
    width: 80px;
    fill: transparent;
    color: #0072ed;
  }

  .label {
    padding: 0 16px 10px 16px;

    ::slotted(span) {
      font-size: 20px;
    }
  }

  .description {
    padding: 0 20px 20px;
  }
}
