// In a CSS only About/Modal, custom sizing/placement CSS is required
// to create similar output to the WebComponent.

#about-example {
  // Position the Popup in the center of the page
  display: flex;
  justify-content: center;
  align-items: center;

  // Enabling scroll for About content area
  pointer-events: unset;

  // Logo spacing, slotted in the WebComponent
  .ids-modal-header {
    svg {
      margin-bottom: 8px;
    }
  }

  // About content paragraph spacing, slotted in the WebComponent
  .ids-modal-content {
    .ids-text:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // Styles for close button, slotted in the WebComponent
  .ids-modal-icon-button {
    position: absolute;
    top: 3px;
    right: 3px;
  }
}
