@import '../../core/ids-base';

.ids-masthead {
  @include px-16();
  @include basic-color-transition();
  @include bg-black();
  @include text-slate-30();

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 40px;

  #logo.icon-logo {
    &::part(button) {
      @include m-0();
      @include p-0();

      opacity: 1;
    }
  }

  #title {
    @include mx-4();
  }

  #more {
    &.hidden {
      display: none;
    }
  }

  ::slotted([slot='more']) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // New Version: Light Mode
  &[mode='light'] {
    @include bg-black();
    @include text-slate-30();
  }

  // New Version: Dark Mode
  &[mode='dark'] {
    @include bg-slate-80();
    @include text-slate-10();
  }

  // New Version: Contrast Mode
  &[mode='contrast'] {
    @include bg-slate-80();
    @include text-slate-30();
  }

  // Classic Version: Light Mode
  &[mode='light'][version='classic'] {
    @include bg-classic-slate-80();
    @include text-graphite-30();
  }

  // Classic Version: Dark Mode
  &[mode='dark'][version='classic'] {
    @include bg-classic-slate-80();
    @include text-slate-10();
  }

  // Classic Version: Contrast Mode
  &[mode='contrast'][version='classic'] {
    @include bg-classic-slate-80();
    @include text-slate-10();
  }
}
