@use '../../themes/mixins/ids-core-mixins' as mixins;

.ids-masthead {
  @include mixins.basic-color-transition();

  background-color: var(--ids-masthead-background-color);
  color: var(--ids-masthead-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-inline: var(--ids-masthead-padding-inline);
  min-height: var(--ids-masthead-min-height);

  #logo.icon-logo {
    padding-inline: var(--ids-masthead-logo-icon-padding-inline);
    position: relative;
    top: var(--ids-masthead-logo-icon-top);

    &::part(button) {
      margin: var(--ids-spacing-none);
      padding: var(--ids-spacing-none);
      opacity: 1;
    }
  }

  #title {
    margin-inline: var(--ids-masthead-title-margin-inline);
  }

  #more {
    &.hidden {
      display: none;
    }
  }

  ::slotted([slot='more']) {
    display: none;
  }
}
