/* Ids Masthead Component */
:host,
.ids-masthead {
  background-color: var(--ids-masthead-color-background);
  color: var(--ids-masthead-color-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-inline: var(--ids-masthead-padding-inline);
  height: var(--ids-masthead-height);
  transition: background-color var(--ids-motion-duration) var(--ids-motion-ease), color var(--ids-motion-duration) var(--ids-motion-ease);

  --ids-button-formatter-color-background-hover: transparant;
  --ids-button-formatter-color-text-hover: var(--ids-masthead-color-hover);
  --ids-button-alternate-color-text-default: var(--ids-color-white-100);
}
