/* Ids Skip Link Component */
@import '../ids-hyperlink/ids-hyperlink';

.ids-skip-link {
  background-color: var(--ids-skip-link-color-background);
  border: 1px solid var(--ids-skip-link-border-color);
  margin: var(--ids-skip-link-margin);
  z-index: var(--ids-z-index-110);
  font-size: var(--ids-skip-link-font-size);
  border-radius: var(--ids-skip-link-border-radius);
  box-shadow: var(--ids-skip-link-shadow);
  left: auto;
  line-height: 30px;
  padding: 0 8px 3px;
  position: absolute;
  top: -65px;
  transition: top 0.6s ease-out 0s, background 0.6s linear 0s;
  flex-direction: row;
  justify-content: flex-end;

  &:focus {
    outline: 0;
    top: -17px;
    transition: top 0.3s ease-in 0s, background 0.3s linear 0s;
  }

  &:not(.ids-hyperlink-color-unset):focus {
    border-color: var(--ids-skip-link-border-color);
  }
}
