/* Ids Tooltip Component - Most Styles are in Popup */
:host {
  display: none;
}

:host([visible]) {
  display: inline;
}

// Used for positioning IdsTooltips in standalone-css mode
.ids-popup.tooltip.standalone {
  position: relative;
}

// Adjust Stuff for RTL
ids-popup[dir='rtl'] {
  &::part(arrow)::after,
  &::part(arrow-top)::after,
  &::part(arrow-right)::after,
  &::part(arrow-bottom)::after,
  &::part(arrow-left)::after {
    display: none;
  }
}
