body {
  height: 100%;
}

#about-example {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: unset;
  height: 100%;
}

#about-example .ids-modal-header svg {
  margin-bottom: 8px;
}

#about-example .ids-modal-content .ids-text:not(:last-child) {
  margin-bottom: 16px;
}
