#about-example {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: unset;
  margin-top: calc(50% - 225px);
}

#about-example .ids-modal-header svg {
  margin-bottom: 8px;
}

#about-example .ids-modal-content .ids-text:not(:last-child) {
  margin-bottom: 16px;
}
