:host(ids-draggable) {
  height: fit-content;
  width: fit-content;
}

:host(ids-draggable:not([handle])) {
  cursor: var(--ids-cursor-move);
  touch-action: none;
}

:host(ids-draggable[disabled]:not([handle])) {
  cursor: inherit;
}

:host(ids-draggable[axis='x']:not([disabled])) {
  cursor: var(--ids-cursor-resize-x);
}

:host(ids-draggable[axis='y']:not([disabled])) {
  cursor: var(--ids-cursor-resize-y);
}

ids-draggable[is-dragging]:not([handle]) {
  cursor: var(--ids-cursor-grabbing);
}
