@import '../../core/ids-base.scss';

.ids-header {
  @include basic-color-transition();
  @include bg-azure-60();
  @include text-white();

  display: flex;
  flex-direction: column;
  width: 100%;

  // New Version: Light Mode
  &[mode='light'] {
    @include bg-azure-60();
    @include text-white();
  }

  // New Version: Dark Mode
  &[mode='dark'] {
    @include bg-azure-60();
    @include text-white();
  }

  // New Version: Contrast Mode
  &[mode='contrast'] {
    @include bg-azure-90();
    @include text-white();
  }

  // Classic Version: Light Mode
  &[mode='light'][version='classic'] {
    @include bg-azure-70();
    @include text-white();
  }

  // Classic Version: Dark Mode
  &[mode='dark'][version='classic'] {
    @include bg-graphite-90();
    @include text-white();
  }

  // Classic Version: Contrast Mode
  &[mode='contrast'][version='classic'] {
    @include bg-azure-90();
    @include text-white();
  }
}

::slotted(ids-toolbar),
.ids-toolbar {
  @include p-12();
}
