/* Ids Header Component */
.ids-header {
  background-color: var(--ids-header-color-background);
  color: var(--ids-header-color-text);
  display: flex;
  flex-direction: column;
  transition: background-color var(--ids-motion-duration) var(--ids-motion-ease), color var(--ids-motion-duration) var(--ids-motion-ease);
  width: 100%;
}

::slotted(ids-toolbar),
.ids-toolbar {
  padding: var(--ids-header-padding);
}
