/* Ids Header Component */
.ids-header {
  background-color: var(--ids-header-background-color);
  color: var(--ids-header-text-color);
  display: flex;
  flex-direction: column;
  transition: background-color var(--ids-transition-length) var(--ids-transition-ease), color var(--ids-transition-length) var(--ids-transition-ease);
  width: 100%;
}

::slotted(ids-toolbar),
.ids-toolbar {
  padding: var(--ids-header-padding);
}
