@import '../ids-base/ids-base';

.ids-color-picker {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.color-popup {
  width: 160px;
  height: 160px;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}

.color-preview {
  border-left: solid 1px var(--ids-color-palette-slate-40);
  border-top: solid 1px var(--ids-color-palette-slate-40);
  border-bottom: solid 1px var(--ids-color-palette-slate-40);
  border-right: solid 0 transparent;
  display: block;
  height: 36px;
  width: 37px;
  margin-top: 3px;
}

.color-input {
  display: block;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.color-input-value {
  display: flex;
}

.color-input-value-no-label {
  padding-top: 24px;
}

.color-container {
  border: 1px solid;
  border-color: var(--ids-color-palette-slate-40);
  background-color: var(--ids-color-palette-white);
  height: 250px;
  overflow: scroll;
  width: 360px;
  position: absolute;
  top: 80px;
  left: 45px;
  border-radius: 2px;
  padding: 3px;
}

.colorpicker-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}
