@import '../ids-base/ids-base';
@import '../ids-input/ids-input.scss';

.ids-color-picker {
  @include mb-16();

  display: block;
}

.color-picker-content {
  @include flex();
  @include antialiased();
  @include bg-white();
  @include box-border();
  @include border-1();
  @include border-slate-40();
  @include border-solid();
  @include font-sans();
  @include rounded-default();
  @include text-16();
  @include text-black();

  align-items: center;
  -webkit-appearance: none;
  border-collapse: separate;
  border-radius: 2px;
  padding-inline-end: calc(var(--ids-number-spacing-base) / 2);

  &:hover {
    @include border-slate-90();
  }
}

:host(ids-color-picker[disabled]) {
  pointer-events: none;
}

ids-input::part(container) {
  margin-bottom: 0;
}

ids-input::part(input) {
  border: none;
  margin-bottom: 0;
}

ids-trigger-field::part(field) {
  @include flex();

  flex-direction: column;
  align-items: flex-start;
}

.color-picker-trigger-btn::part(button) {
  position: relative;
  margin-left: 0;
  z-index: 2;
}

.ids-color-picker:focus-within .color-picker-content {
  @include border-azure-60();
  @include shadow();

  outline: none;
  outline-color: transparent;
}

.ids-color-picker:focus-within ids-input::part(input) {
  box-shadow: none;
}

.color-popup {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(10, 20px);
  overflow: auto;
  padding: var(--ids-number-spacing-base);
  width: 239px;
}

.color-preview {
  display: block;
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.color-input {
  display: block;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.color-input-value {
  display: flex;
}

.color-input-value-no-label {
  padding-top: calc(var(--ids-number-spacing-base) * 3);
}

.color-container {
  border: 1px solid;
  border-color: var(--ids-color-palette-slate-40);
  background-color: var(--ids-color-palette-white);
  height: 250px;
  overflow: scroll;
  width: 360px;
  position: absolute;
  top: 80px;
  left: 45px;
  border-radius: 2px;
  padding: 3px;
}

.colorpicker-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}
