@import '../ids-base/ids-base';

.ids-color-picker {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.color-preview {
  background-color: #000;
  border-width: 1px;
  border-color: var(--ids-color-palette-slate-40);
  display: block;
  height: 38px;
  width: 37px;
  margin-top: 3px;
}

.color-input {
  display: block;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.color-container {
  border: 1px solid;
  height: 150px;
  overflow: scroll;
  position: absolute;
  top: 50px;
  width: 99%;
}

.colorpicker-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

input {
  background-color: transparent;
  border: 0;

  &:focus {
    border: 0;
  }
}

.hide-color-container {
  display: none;
  transition: 1s;
}

.show-color-container {
  display: block;
  transition: 1s;
}

.color-picker-label {
  width: 100%;
  text-align: left;
}
