#ids-colorpicker {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.colorpicker-container {
  border: solid 1px;
  display: flex;
  flex-direction: row;
}

.colorpicker {
  position: relative;
}

.color-preview {
  background-color: #000;
  display: block;
  height: 50px;
  width: 50px;
}

.color-container {
  background-color: turquoise;
  height: 150px;
  left: 50px;
  position: absolute;
  top: 50px;
  width: 175px;
}

.colorpicker-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

input {
  background-color: transparent;
  border: 0;

  &:focus {
    border: 0;
  }
}

.hide-color-container {
  display: none;
}

.show-color-container {
  display: block;
}
