@import '../ids-base/ids-base';
@import '../ids-base/ids-dirty-tracker-mixin';
@import '../ids-base/ids-validation-mixin';

.ids-checkbox {
  @include mb-4();

  label {
    @include cursor-pointer();
    @include no-select();
    @include pl-24();
    @include relative();

    display: inline-block;

    &.required .label-text::after {
      @include absolute();
      @include font-sans();
      @include mx-2();
      @include text-20();
      @include text-alert-danger();

      content: '*';
      right: -13px;
      top: -2px;
    }

    &.no-required-indicator .label-text::after {
      content: '';
    }
  }

  &.disabled label {
    @include cursor-default();

    &.required .label-text::after {
      @include text-ruby-30();
    }
  }

  &.display-inline {
    @include mr-12();

    display: inline-block;
  }

  input[type='checkbox'] {
    @include absolute();
    @include cursor-pointer();
    @include opacity-0();

    height: 0;
    width: 0;

    ~ .checkmark {
      @include checkbox-unchecked();
    }

    &.error ~ .checkmark {
      @include checkbox-unchecked-error();
    }

    &:checked ~ .checkmark {
      @include checkbox-checked();

      &::after {
        @include checkbox-checked-after();
      }
    }

    &.indeterminate ~ .checkmark {
      @include checkbox-indeterminate();

      &::after {
        @include checkbox-indeterminate-after();
      }
    }

    &:disabled {
      ~ .checkmark {
        @include checkbox-disabled-unchecked();
      }

      ~ .label-text {
        @include checkbox-disabled-text();
      }

      &.error ~ .checkmark {
        @include checkbox-disabled-unchecked-error();
      }

      &:checked ~ .checkmark {
        @include checkbox-disabled-checked();
      }
    }

    &:focus:not(.hide-focus) ~ .checkmark {
      @include checkbox-focus();
    }
  }

  // Colored Checkboxes
  @include checkbox-colored();
}

// Keyframes ===========================================
@include keyframes(check) {
  0% {
    height: 0;
    left: 0;
    top: 8px;
    width: 0;
  }

  50% {
    height: 0;
    left: 0;
    top: 8px;
    width: 4px;
  }

  100% {
    height: 10px;
    left: 4px;
    top: 0;
    width: 4px;
  }
}

@include keyframes(checkindeterminate) {
  0% {
    width: 0;
  }

  100% {
    width: 10px;
  }
}
