<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <!-- Opacity 0.2 Message -->
    <ids-message id="message-opacity-2" opacity="0.2" status="error">
      <ids-text slot="title" font-size="24" type="h2" id="message-opacity-2-title">Opacity 20%</ids-text>
      <ids-text class="demo-contents" align="left">This application has experienced a system error due to the lack of internet access.
        Please restart the application in order to proceed.</ids-text>
      <ids-modal-button slot="buttons" type="primary" id="message-opacity-2-ok">OK</ids-modal-button>
    </ids-message>

    <!-- Opacity 0.4 Message -->
    <ids-message id="message-opacity-4" opacity="0.4" status="error">
      <ids-text slot="title" font-size="24" type="h2" id="message-opacity-4-title">Opacity 40%</ids-text>
      <ids-text class="demo-contents" align="left">This application has experienced a system error due to the lack of internet access.
        Please restart the application in order to proceed.</ids-text>
      <ids-modal-button slot="buttons" type="primary" id="message-opacity-4-ok">OK</ids-modal-button>
    </ids-message>

    <!-- Opacity 0.6 Message -->
    <ids-message id="message-opacity-6" opacity="0.6" status="error">
      <ids-text slot="title" font-size="24" type="h2" id="message-opacity-6-title">Opacity 60%</ids-text>
      <ids-text class="demo-contents" align="left">This application has experienced a system error due to the lack of internet access.
        Please restart the application in order to proceed.</ids-text>
      <ids-modal-button slot="buttons" type="primary" id="message-opacity-6-ok">OK</ids-modal-button>
    </ids-message>

    <!-- Opacity 0.8 Message -->
    <ids-message id="message-opacity-8" opacity="0.8" status="error">
      <ids-text slot="title" font-size="24" type="h2" id="message-opacity-8-title">Opacity 80%</ids-text>
      <ids-text class="demo-contents" align="left">This application has experienced a system error due to the lack of internet access.
        Please restart the application in order to proceed.</ids-text>
      <ids-modal-button slot="buttons" type="primary" id="message-opacity-8-ok">OK</ids-modal-button>
    </ids-message>

    <!-- Opacity 1 Message -->
    <ids-message id="message-opacity-10" opacity="1" status="error">
      <ids-text slot="title" font-size="24" type="h2" id="message-opacity-10-title">Opacity 100%</ids-text>
      <ids-text class="demo-contents" align="left">This application has experienced a system error due to the lack of internet access.
        Please restart the application in order to proceed.</ids-text>
      <ids-modal-button slot="buttons" type="primary" id="message-opacity-10-ok">OK</ids-modal-button>
    </ids-message>

    <!-- In-page controls for the messages are below -->

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Message Types</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true" cols="1" gap="md">
      <ids-layout-grid-cell>
        <ids-button type="secondary" id="message-opacity-2-trigger">Opacity 0.2</ids-button>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-button type="secondary" id="message-opacity-4-trigger">Opacity 0.4</ids-button>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-button type="secondary" id="message-opacity-6-trigger">Opacity 0.6</ids-button>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-button type="secondary" id="message-opacity-8-trigger">Opacity 0.8</ids-button>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-button type="secondary" id="message-opacity-10-trigger">Opacity 1</ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
