<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <link rel="stylesheet" href="ids-message.css" />
  <link rel="stylesheet" href="../ids-modal/ids-modal.css" />
  <link rel="stylesheet" href="../ids-overlay/ids-overlay.css" />
  <link rel="stylesheet" href="../ids-popup/ids-popup.css" />
  <link rel="stylesheet" href="../ids-button/ids-button.css" />
  <link rel="stylesheet" href="../ids-text/ids-text.css" />
  <link rel="stylesheet" href="../ids-icon/ids-icon.css" />
  <link rel="stylesheet" href="../ids-container/ids-container.css" />

  <div class="ids-modal ids-message" id="my-message">
    <div class="ids-overlay visible"></div>
    <div class="ids-popup modal visible open position-fixed" id="my-message-popup">
      <div class="ids-modal-container content-wrapper">
        <div class="ids-modal-header">
          <svg class="ids-icon ids-message-status error" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="18"
            width="18" viewBox="0 0 18 18" focusable="false" aria-hidden="true">
            <path
              d="M9 .5A8.5 8.5 0 0117.5 9 8.5 8.5 0 019 17.5 8.5 8.5 0 01.5 9 8.5 8.5 0 019 .5zm0 4.577v5.23m0 1.308v1.308"
              stroke="currentColor" fill="none" fill-rule="evenodd" vector-effect="non-scaling-stroke"></path>
          </svg>
          <h2 class="ids-text ids-text-24">Lost Connection</h2>
        </div>
        <div class="ids-modal-content">
          <span class="ids-text" id="my-message-contents">This application has experienced a system error due to the lack of internet access. Please restart the
          application in order to proceed.</span>
        </div>
        <div class="ids-modal-footer">
          <button class="ids-modal-button btn-secondary">Cancel</button>
          <button class="ids-modal-button btn-primary">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
