<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="sm">
      <ids-text font-size="12" type="h1">Tabs (oveflow menu)</ids-text>
    </ids-layout-grid>
    <ids-tabs-context>
      <ids-tabs>
        <ids-tab value="tab-1">Tab 1</ids-tab>
        <ids-tab value="tab-2">Tab 2</ids-tab>
        <ids-tab value="tab-3">Tab 3</ids-tab>
        <ids-tab value="tab-4">Tab 4</ids-tab>
        <ids-tab value="tab-5">Tab 5</ids-tab>
        <ids-tab value="tab-6">Tab 6</ids-tab>
        <ids-tab value="tab-7">Tab 7</ids-tab>
        <ids-tab value="tab-8">Tab 8</ids-tab>
        <ids-tab value="tab-9">Tab 9</ids-tab>
        <ids-tab value="tab-10">Tab 10</ids-tab>
        <ids-tab value="tab-11">Tab 11</ids-tab>
        <ids-tab value="tab-12">Tab 12</ids-tab>
        <ids-tab-more overflow></ids-tab-more>
      </ids-tabs>
      <ids-tab-content value="tab-1">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 1 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-2">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 2 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-3">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 3 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-4">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 4 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-5">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 5 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-6">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 6 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-7">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 7 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-8">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 8 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-9">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 9 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-10">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 10 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-11">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 11 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
      <ids-tab-content value="tab-12">
        <ids-layout-grid auto-fit="true" padding="sm">
          <ids-text font-size="16" type="p">Tab 12 contents</ids-text>
        </ids-layout-grid>
      </ids-tab-content>
    </ids-tabs-context>
  </ids-container>
</body>
</html>
