<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-tabs value="notes" orientation="vertical" id="ids-tabs-vertical">
      <ids-tab value="contracts">Contracts</ids-tab>
      <ids-tab value="opportunities">Opportunities</ids-tab>
      <ids-tab value="attachments">Attachments</ids-tab>
      <ids-tab value="notes">Notes</ids-tab>
    </ids-tabs>
  </ids-container>
</body>
</html>
