<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-modal id="my-modal" aria-labelledby="my-modal-title">
      <ids-text slot="title" font-size="24" type="h2" id="my-modal-title">Active IDS Modal</ids-text>
      <ids-modal-button slot="buttons" id="modal-close-btn" type="primary">
        <span slot="text">OK</span>
      </ids-modal-button>
      <p align="left">This modal will appear fullsize when the browser viewport is below the <span id="break">Never</span> breakpoint.<br /><br />
        <ids-text font-size="16">Current Window Width:</ids-text>
        <ids-text class="current-window-width" font-size="16" font-weight="bold"></ids-text>
      </p>
    </ids-modal>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Modal (Fullsize Setting)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="16">Current Window Width:</ids-text>
        <ids-text class="current-window-width" font-size="16" font-weight="bold"></ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-radio-group id="sizes" label="IdsModal will become fullsize when the browser viewport is below the selected breakpoint:"></ids-radio-group>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-button id="modal-trigger-btn" type="secondary">
          <span slot="text">Trigger a Modal</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
