# Build and Npm Folders
node_modules/
.git
dist
demo-dist
coverage
test/**/diff
tmp
app
.build-report
build
.nyc_output
out
meta.json
build-stats.json

# OS Setting Files
.DS_Store

# Error Reports from the Test Suite
report.*.json

# AWS
.aws-sam/

# generated docs
apidocs
docs
docs.zip
custom-elements.json
vscode.html-custom-data.json
