<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Scroll View</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4">
      <ids-layout-grid-cell col-span="1">
        <ids-scroll-view>
          <img class="camera-1" slot="scroll-view-item" alt="Slide 1, Sony Camera, Front"/>
          <img class="camera-2" slot="scroll-view-item" alt="Slide 3, Sony Camera, Back Display"/>
          <img class="camera-3" slot="scroll-view-item" alt="Slide 3, Sony Camera, From Top"/>
          <img class="camera-4" slot="scroll-view-item" alt="Slide 4, Olympus Camera, Front"/>
          <img class="camera-5" slot="scroll-view-item" alt="Slide 5, Olympus Camera, Exposed to water"/>
          <img class="camera-6" slot="scroll-view-item" alt="Slide 6, Sony E-mount Camera, Front"/>
        </ids-scroll-view>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
