<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Scroll View</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="1" cols-md="4" padding-x="md">
      <ids-layout-grid-cell col-span="1">

        <ids-scroll-view id="scroll-view">
          <ids-layout-grid
            slot="scroll-view-item"
            cols="4"
            rows="3"
            cols-sm="12"
            rows-sm="2"
            gap="md"
            flow-sm="column"
            flow="row">
            <ids-layout-grid-cell col-span="2">
              <ids-icon icon="clock" height="128" width="128"></ids-icon>
              <ids-text font-size="20" text-align="center">Clock 1</ids-text>
            </ids-layout-grid-cell>
            <ids-layout-grid-cell col-span="2">
              <ids-icon icon="clock" height="128" width="128"></ids-icon>
              <ids-text font-size="20" text-align="center">Clock 2</ids-text>
            </ids-layout-grid-cell>
          </ids-layout-grid>

          <ids-layout-grid
            slot="scroll-view-item"
            cols="4"
            rows="3"
            cols-sm="12"
            rows-sm="2"
            gap="md"
            flow-sm="column"
            flow="row">
            <ids-layout-grid-cell col-span="2">
              <ids-icon icon="clock" height="128" width="128"></ids-icon>
              <ids-text font-size="20" text-align="center">Clock 3</ids-text>
            </ids-layout-grid-cell>
            <ids-layout-grid-cell col-span="2">
              <ids-icon icon="clock" height="128" width="128"></ids-icon>
              <ids-text font-size="20" text-align="center">Clock 4</ids-text>
            </ids-layout-grid-cell>
          </ids-layout-grid>

          <ids-layout-grid
            slot="scroll-view-item"
            cols="4"
            rows="3"
            cols-sm="12"
            rows-sm="2"
            gap="md"
            flow-sm="column"
            flow="row">
            <ids-layout-grid-cell col-span="2">
              <ids-icon icon="clock" height="128" width="128"></ids-icon>
              <ids-text font-size="20" text-align="center">Clock 5</ids-text>
            </ids-layout-grid-cell>
            <ids-layout-grid-cell col-span="2">
              <ids-icon icon="clock" height="128" width="128"></ids-icon>
              <ids-text font-size="20" text-align="center">Clock 6</ids-text>
            </ids-layout-grid-cell>
          </ids-layout-grid>
        </ids-scroll-view>

      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
