/* Ids Container Component */
@use '../../themes/ids-core-mixins' as mixins;

// Host styles are needed here for "placed" components like Popup.
// (acts as a CSS "reset" without needing a real one)
:host {
  display: block;
  contain: content;
  height: 100vh;
  width: 100vw;
}

:host([hidden]) {
  display: none;
}

.ids-container {
  @include mixins.basic-color-transition();

  background-color: var(--ids-body-background-color);
  box-sizing: border-box;
  color: var(--ids-body-text-color);
  height: 100%;
  outline: none;
  overflow: auto;
  padding: var(--ids-spacing-none);
  scroll-behavior: smooth;
  width: 100%;

  &.color-variant-alternate {
    background-color: var(--ids-body-inverse-background-color);
    color: var(--ids-body-inverse-text-color);
  }

  &[scrollable='false'] {
    overflow: hidden;
  }
}

// ids-app-menu pushes the container
:host(.app-menu)::part(container) {
  @media (min-width: mixins.$breakpoint-md) {
    margin-bottom: var(--ids-spacing-none);
    transition: background-color var(--ids-transition-length) var(--ids-transition-ease), color var(--ids-transition-length) var(--ids-transition-ease);
    transition: width var(--ids-transition-length) var(--ids-transition-ease), margin var(--ids-transition-length) var(--ids-transition-ease);
  }
}

:host(.app-menu-is-open)::part(container) {
  @media (min-width: mixins.$breakpoint-md) {
    margin-inline-start: 300px;
    width: calc(100% - 300px);
    transition: width var(--ids-transition-length) var(--ids-transition-ease), margin var(--ids-transition-length) var(--ids-transition-ease);
  }
}
