/* Ids Tag Component */
@import '../../core/ids-base';

// Host styles are needed here for "placed" components like Popup.
// (acts as a CSS "reset" without needing a real one)
:host {
  @include block();

  contain: content;
  height: 100vh;
  width: 100vw;
}

:host([hidden]) {
  display: none;
}

.ids-container {
  @include basic-color-transition();
  @include outline-none();
  @include p-0();

  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  width: 100%;

  &[scrollable='false'] {
    overflow: hidden;
  }
}

// Handle Themes
.ids-container[mode='light'],
.ids-container:not([mode]) {
  @include bg-white();
  @include text-slate-100();

  &.color-variant-alternate {
    @include bg-slate-70();
    @include text-slate-10();
  }
}

.ids-container[mode='dark'] {
  @include bg-slate-90();
  @include text-slate-10();

  &.color-variant-alternate {
    @include bg-black();
    @include text-slate-10();
  }
}

.ids-container[mode='contrast'] {
  @include bg-slate-10();
  @include text-slate-100();

  &.color-variant-alternate {
    @include bg-black();
    @include text-white();
  }
}
