<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Ids Time Picker Popup (Embeddable)</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell id="trigger-field-container">

      <ids-time-picker-popup
        autoupdate="true"
        embeddable="true"
        format="hh:mm:ss a"></ids-time-picker-popup>

      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text id="current-time" font-size="16" type="p">Change the time...</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
