<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Time Picker</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto="true" cols="4">
      <ids-layout-grid-cell>
        <ids-time-picker label="Time Picker - autoselect" id="e2e-timepicker-autoselect" autoselect></ids-time-picker>
        <ids-time-picker label="Time Picker - autoupdate" id="e2e-timepicker-autoupdate" autoupdate value="1:00 AM"></ids-time-picker>
        <ids-time-picker label="Time Picker - required" id="e2e-timepicker-required" validate="required" placeholder="Start time" validation-events="blur"></ids-time-picker>
        <ids-time-picker label="Time Picker - disabled" id="e2e-timepicker-disabled" disabled value="12:30 PM"></ids-time-picker>
        <ids-time-picker label="Time Picker - readonly" id="e2e-timepicker-readonly" readonly value="12:30 PM"></ids-time-picker>
        <ids-time-picker label="Dirty Tracker" format="hh:mm" id="e2e-timepicker-tracker" value="10:30" dirty-tracker="true" tabbable="false"></ids-time-picker>
      </ids-layout-grid-cell>
    </ids-layout-grid>

  </ids-container>
</body>
</html>
