<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Ids Time Picker Popup (Composed with Ids Trigger Field)</ids-text>
        <p><ids-text font-size="16" type="p">The Trigger Fields in this example are NOT IdsTimePicker components. This
            example shares a single IdsTimePickerPopup component across all four trigger fields, demonstrating how to
            use the IdsTimePickerPopup by itself, similar to its usage in IdsDataGrid.</ids-text></p>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell id="trigger-field-container">
        <ids-trigger-field
          id="time-picker-current-time-field"
          size="sm"
          label="Time Picker Current Time"
          placeholder="hh:mm a">
          <ids-trigger-button slot="trigger-end" id="time-picker-current-time-button">
            <ids-text audible="true">Select Time</ids-text>
            <ids-icon icon="clock"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>

        <ids-trigger-field id="time-picker-all-dropdowns-field" size="sm" label="Time Picker (Display all dropdowns)" placeholder="hh:mm:ss a">
          <ids-trigger-button slot="trigger-end" id="time-picker-all-dropdowns-button">
            <ids-text audible="true">Select Time</ids-text>
            <ids-icon icon="clock"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>

        <ids-trigger-field id="time-picker-24-field" size="sm" label="Time Picker (24 Hours)" placeholder="HH:mm">
          <ids-trigger-button slot="trigger-end" id="time-picker-24-button">
            <ids-text audible="true">Select Time</ids-text>
            <ids-icon icon="clock"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
