<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.84.1/dist/js/sohoxi.js"></script>
  <link id="stylesheet" href="https://unpkg.com/ids-enterprise@4.84.1/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Web Component Time Picker</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" cols-md="3" padding-x="md">
      <ids-layout-grid-cell>
        <ids-time-picker label="Time Field"></ids-time-picker>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h2">4.x Time Picker</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="2" cols-md="3" padding-x="md">
      <ids-layout-grid-cell>
        <div class="svg hidden">
          <div class="svg-icons">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-icons">
              <symbol id="icon-dropdown" viewBox="0 0 18 18"><path clip-rule="evenodd" d="M4 6l5 6 5-6H4z" fill="currentColor" fill-rule="evenodd" stroke="none"></path></symbol>
              <symbol id="icon-clock" viewBox="0 0 18 18"><path d="M8.5 4.423V11l4-1.5m5-.5A8.5 8.5 0 019 17.5 8.5 8.5 0 01.5 9 8.5 8.5 0 019 .5 8.5 8.5 0 0117.5 9z" stroke="currentColor" vector-effect="non-scaling-stroke"></path></symbol>
            </svg>
          </div>
        </div>
        <div class="field">
          <label for="time-field-normal" class="label">Time Field</label>
          <input id="time-field-normal" class="timepicker" name="time-field" type="text" data-init="false"/>
        </div>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
