@import '../ids-base/ids-base';

.ids-accordion-header {
  @include border-1();
  @include border-solid();
  @include border-slate-20();
  @include px-16();
  @include py-12();

  align-items: center;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
  display: flex;
}

:host {
  ids-icon {
    margin-left: auto;
    transition: transform $transition-length $transition-ease;
  }
}

:host([aria-expanded='true']) {
  ids-icon {
    transform: rotateX(180deg);
  }
}
