@import '../../core/ids-base';

// ============================================
// Top-level App Menu Accordion Panel Styles
@mixin accordion-panel-app-menu-colors() {
  @include mb-8();

  transition:
    background-color $transition-length $transition-ease,
    height $transition-length $transition-ease,
    padding $transition-length $transition-ease;

  // Light Mode Styles
  &[mode='light'] {
    &.expanded {
      @include py-8();
      @include bg-black();
    }
  }
}

// ============================================
// Sub-level App Menu Accordion Panel Styles
@mixin accordion-panel-sub-menu-colors() {
  @include m-0();
}

// ============================================
// Controls the size of nested accordions
@mixin accordion-pane-standard-size() {
  .ids-accordion-pane-content {
    @include p-16();
  }
}

@mixin accordion-pane-nested-size() {
  .ids-accordion-pane-content {
    @include pl-16();
  }
}

.ids-accordion-panel {
  &:not(.color-variant-app-menu):not(.color-variant-sub-app-menu) {
    @include accordion-pane-standard-size();
  }

  &.color-variant-app-menu {
    @include accordion-panel-app-menu-colors();
    @include accordion-pane-standard-size();
  }

  &.color-variant-sub-app-menu {
    @include accordion-panel-sub-menu-colors();
    @include accordion-pane-nested-size();
  }
}

.ids-accordion-pane {
  @include box-border();

  height: 0;
  overflow: hidden;
  transition: height $transition-length $transition-ease;
}

.ids-accordion-pane-title {
  @include audible();
}
