@import '../../core/ids-base';

// ================================================
// Styles specific to the in-page Accordion

@mixin accordion-header-standard-colors() {
  // Light Mode Styles
  &[mode='light'] {
    @include border-slate-20();

    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;

    &:focus {
      @include shadow();

      border: 1px solid var(--ids-color-palette-azure-70);
    }
  }

  // Dark Mode Styles
  &[mode='dark'] {
    @include text-white();

    border-bottom-color: var(--ids-color-palette-slate-70);

    ids-icon {
      @include text-slate-10();
    }

    &:focus {
      border-bottom-color: var(--ids-color-palette-azure-70);
    }
  }

  // Contrast Mode Styles
  &[mode='contrast'] {
    @include text-black();

    border-bottom-color: var(--ids-color-palette-slate-30);

    ids-icon {
      @include text-slate-100();
    }

    &:focus {
      border-bottom-color: var(--ids-color-palette-azure-80);
    }
  }

  // Classic Light Mode Styles
  &[version='classic'][mode='light'] {
    @include text-graphite-100();

    border-bottom-color: var(--ids-color-palette-graphite-20);

    ids-icon {
      @include text-graphite-100();
    }

    &:focus {
      border-bottom-color: var(--ids-color-palette-azure-70);
    }
  }

  // Classic Dark Mode Styles
  &[version='classic'][mode='dark'] {
    @include text-white();

    border-bottom-color: var(--ids-color-palette-classic-slate-100);

    ids-icon {
      @include text-slate-10();
    }

    &:focus {
      border-bottom-color: var(--ids-color-palette-azure-70);
    }
  }

  // Classic Contrast Mode Styles
  &[version='classic'][mode='contrast'] {
    @include text-black();

    border-bottom-color: var(--ids-color-palette-classic-slate-40);

    ids-icon {
      @include text-slate-100();
    }

    &:focus {
      border-bottom-color: var(--ids-color-palette-azure-80);
    }
  }
}

// ================================================
// Styles specific to the Top-level App Menu Accordions

@mixin acccordion-header-app-menu-colors() {
  @include mx-8();
  @include rounded-md();

  // Light Mode Styles
  &[mode='light'] {
    // Contrasts background of "bg-slate-100()" from the Drawer
    @include bg-slate-100();
    @include border-slate-100();
    @include text-slate-20();

    &.expanded {
      background-color: transparent;
      border-color: transparent;
    }

    &:hover {
      @include bg-slate-90();
      @include border-slate-90();
    }

    &:focus {
      @include text-white();
      @include border-azure-70();
    }

    &[disabled] {
      @include bg-slate-100();
      @include border-slate-100();
      @include text-slate-40();
    }
  }
}

// ================================================
// Styles specific to the Sub-level App Menu Accordions

@mixin accordion-header-sub-level-colors() {
  @include m-0();
}

:host {
  ids-icon {
    transition: transform $transition-length $transition-ease;
    justify-self: end;
  }
}

:host([aria-expanded='true']) {
  ids-icon {
    transform: rotateX(180deg);
  }
}

.ids-accordion-header {
  @include antialiased();
  @include border-1();
  @include border-solid();

  align-items: center;
  cursor: pointer;
  display: flex;
  grid-auto-flow: column;

  ::slotted(ids-text) {
    flex-grow: 1;
  }

  ::slotted(ids-icon) {
    @include mr-8();
  }

  &:focus {
    @include outline-none();
  }

  // In-page Accordions
  &:not(.color-variant-app-menu),
  &:not(.color-variant-sub-app-menu) {
    @include px-16();
    @include py-12();
    @include accordion-header-standard-colors();
  }

  // Top Level App Menu Accordions
  &.color-variant-app-menu {
    @include px-16();
    @include py-12();
    @include acccordion-header-app-menu-colors();
  }

  // Sub-level App Menu Accordions
  &.color-variant-sub-app-menu {
    @include px-12();
    @include py-8();
    @include acccordion-header-app-menu-colors();
  }
}
