@import '../../core/ids-base';

.ids-accordion-pane {
  @include box-border();

  contain: content;
  height: 0;
  overflow: hidden;
  transition: height $transition-length $transition-ease;
}

.ids-accordion-pane-content {
  @include p-16();
}

.ids-accordion-pane-title {
  @include audible();
}
