@import '../../themes/mixins/ids-core-mixins';

// ================================================
// Styles specific to the in-page Accordion

@mixin accordion-header-standard-colors() {
  border-color: transparent;
  border-bottom-color: var(--ids-accordion-header-color-border-bottom);
}

@mixin accordion-header-focus-colors() {
  &:focus {
    border-color: var(--ids-accordion-header-color-border-focus);
    box-shadow: var(--ids-accordion-header-shadow-focus);
  }
}

@mixin accordion-header-disabled-colors() {
  color: var(--ids-accordion-header-color-text-disabled);

  ids-icon {
    color: var(--ids-accordion-header-color-border-disabled);
  }
}

// ================================================
// Styles specific to the Top-level App Menu Accordions

@mixin accordion-header-app-menu-colors() {
  margin-inline: 8px;
  border-radius: 4px;

  // Contrasts background of "bg-slate-100()" from the Drawer
  background-color: transparent;
  border-color: transparent;

  &.expanded {
    background-color: transparent;
    border-color: transparent;
  }

  // Light Mode Styles
  color: var(--ids-app-menu-accordion-header-color-text-default);

  &:hover {
    background-color: var(--ids-app-menu-header-color-background-hover);
    border-color: var(--ids-app-menu-header-color-border-hover);
  }

  &:focus {
    color: var(--ids-app-menu-accordion-header-color-text-focus);
    border-color: var(--ids-app-menu-accordion-header-color-border-focus);
  }

  &.selected {
    color: var(--ids-app-menu-accordion-header-color-text-selected);
  }

  &[disabled] {
    color: var(--ids-app-menu-accordion-header-color-text-disabled);
    background-color: (--ids-app-menu-accordion-header-color-background-disabled);
    border-color: var(--ids-app-menu-accordion-header-color-border-disabled);
  }

  .filter {
    background-color: var(--ids-app-menu-accordion-header-color-background-default);
    color: var(--ids-app-menu-accordion-header-filter-color-text);
    font-weight: bold;
  }

  &.hidden-by-filter.child-filter-match {
    color: var(--ids-app-menu-accordion-header-filter-match-color-text);
  }
}

// ================================================
// Styles specific to the Sub-level App Menu Accordions

@mixin accordion-header-nested-app-menu-colors() {
  margin: 0;
}

:host {
  display: block;

  ids-icon {
    transition: transform $transition-length $transition-ease;
    justify-self: end;
  }
}

:host([aria-expanded='true']) {
  ids-icon[icon='caret-down'] {
    transform: rotateX(180deg);
  }
}

// "Filtered" accordion headers should not be displayed
:host([hidden-by-filter]) {
  display: none;
}

// Parent accordion headers that have children who match the filter
// should be displayed, but their text color is muted
:host([hidden-by-filter][child-filter-match]) {
  display: initial;
}

.ids-accordion-header {
  @include antialiased();

  border-width: 1px;
  border-style: solid;
  align-items: center;
  cursor: pointer;
  display: flex;
  grid-auto-flow: column;
  user-select: none;

  ::slotted(ids-text) {
    flex-grow: 1;
  }

  .ids-accordion-display-icon {
    display: none;
  }

  &:focus {
    outline: 0;
  }

  // In-page Accordions
  &:not(.color-variant-app-menu):not(.color-variant-sub-app-menu) {
    @include accordion-header-standard-colors();

    padding: 12px 16px;

    &:not(.disabled) {
      @include accordion-header-focus-colors();
    }

    &.disabled {
      @include accordion-header-disabled-colors();

      cursor: unset;
    }
  }

  &.selected {
    font-weight: bolder;
  }

  &.has-icon {
    .ids-accordion-display-icon {
      display: flex;
    }
  }

  // Top Level App Menu Accordions
  &.color-variant-app-menu {
    @include accordion-header-app-menu-colors();

    padding: 12px 16px;
  }

  // Sub-level App Menu Accordions
  &.color-variant-sub-app-menu {
    @include accordion-header-app-menu-colors();
    @include accordion-header-nested-app-menu-colors();

    padding: 8px 20px;
  }

  // =========================================
  // Modifications to Expander Icon Types
  &.expander-type-plus-minus {
    .ids-accordion-expander-icon {
      position: relative;
      margin-top: -4px;
      height: 14px;
      width: 14px;
    }
  }
}

// styles for icon spacing
::slotted(ids-icon) {
  margin-inline-end: 12px;
}

.ids-accordion-display-icon {
  margin-inline-end: 12px;
}

.ids-accordion-expander-icon {
  &:first-child {
    margin-inline-end: 8px;
  }
}
