@import '../../themes/mixins/ids-core-mixins';

// ============================================
// Top-level App Menu Accordion Panel Styles

@mixin accordion-panel-app-menu-colors() {
  margin-bottom: 4px;
  background-color: var(--ids-app-menu-accordion-panel-color-background);
  transition:
    background-color $transition-length $transition-ease,
    height $transition-length $transition-ease,
    padding $transition-length $transition-ease;

  &.expanded {
    padding-block: 8px;
  }
}

// ============================================
// Sub-level App Menu Accordion Panel Styles

@mixin accordion-panel-sub-menu-colors() {
  margin: 0;
}

// ============================================
// Module Nav App Menu Accordion Panel Styles

@mixin accordion-panel-module-nav-rules() {
  .ids-accordion-pane-content {
    padding-inline: 0;
  }

  &.nested {
    .ids-accordion-pane-content {
      padding-inline-start: 16px;
      padding-inline-end: 0;
    }
  }
}

@mixin accordion-panel-sub-module-nav-rules() {
  .ids-accordion-pane-content {
    padding-inline: 0;
  }

  &.nested {
    .ids-accordion-pane-content {
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
  }
}

// ============================================
// Controls the size of nested accordions

@mixin accordion-pane-standard-size() {
  .ids-accordion-pane-content {
    padding-inline: 8px;
  }

  &:not(.rtl) {
    &.nested {
      .ids-accordion-pane-content {
        padding-inline-start: 16px;
        padding-inline-end: 0;
      }
    }
  }
}

@mixin accordion-pane-nested-size() {
  // LTR nested styles (default)
  &:not(.rtl) {
    .ids-accordion-pane-content {
      padding-inline-start: 28px;
    }
  }
}

// ============================================
// Controls the size of in-page accordion content area

@mixin accordion-pane-in-page-standard-size() {
  .ids-accordion-pane-content {
    padding-block: 8px;
    padding-inline: 18px;
  }
}

:host {
  display: block;
}

.ids-accordion-panel {
  // ============================================
  // Color Variant Rules
  &:not([class*="color-variant-"]) {
    @include accordion-pane-in-page-standard-size();
  }

  &.color-variant-app-menu {
    @include accordion-panel-app-menu-colors();
    @include accordion-pane-standard-size();
  }

  &.color-variant-sub-app-menu {
    @include accordion-panel-sub-menu-colors();
    @include accordion-pane-nested-size();
  }

  &.color-variant-module-nav {
    @include accordion-pane-standard-size();
    @include accordion-panel-module-nav-rules();
  }

  &.color-variant-sub-module-nav {
    @include accordion-panel-sub-module-nav-rules();
  }

  // ============================================
  // Content Alignment Rules

  &.has-icon {
    // LTR content alignment (padding comes from the left)
    &:not(.rtl) {
      ::slotted(ids-accordion-panel) {
        padding-inline-start: 24px;
      }

      .ids-accordion-panel {
        padding-inline-start: 24px;
      }
    }
  }
}

.ids-accordion-pane {
  box-sizing: border-box;
  contain: content;
  display: none;
  height: 0;
  overflow: hidden;
  transition: height $transition-length $transition-ease;
}

.ids-accordion-pane-title {
  @include audible();
}
