@import '../../core/ids-base';

// ================================================
// Styles specific to the in-page Accordion

@mixin accordion-header-standard-colors() {
  // classic color variables
  --ids-color-palette-classic-azure-50: #54a1d3;
  --ids-color-palette-classic-azure-60: #368ac0;

  border-color: transparent;

  // Light Mode Styles
  &[mode='light'] {
    @include border-slate-20();

    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;

    &:focus {
      @include border-azure-60();
      box-shadow: 0 0 4px 3px rgb(54 138 192 / 30%);
    }
  }

  // Dark Mode Styles
  &[mode='dark'] {
    @include text-white();

    border-bottom-color: var(--ids-color-palette-slate-70);

    ids-icon {
      @include text-slate-10();
    }

    &:focus {
      @include border-azure-60();
      box-shadow: 0 0 4px 2px rgb(141 201 230 / 30%);
    }
  }

  // Contrast Mode Styles
  &[mode='contrast'] {
    @include text-black();

    border-bottom-color: var(--ids-color-palette-slate-30);

    ids-icon {
      @include text-slate-100();
    }

    &:focus {
      @include border-azure-50();
      box-shadow: 0 0 4px 2px rgb(41 41 41 / 30%);
    }
  }

  // Classic Light Mode Styles
  &[version='classic'][mode='light'] {
    @include text-graphite-100();

    border-bottom-color: var(--ids-color-palette-graphite-20);

    ids-icon {
      @include text-graphite-100();
    }

    &:focus {
      border-color: var(--ids-color-palette-classic-azure-60);
    }
  }

  // Classic Dark Mode Styles
  &[version='classic'][mode='dark'] {
    @include text-white();

    border-bottom-color: var(--ids-color-palette-classic-slate-100);

    ids-icon {
      @include text-slate-10();
    }

    &:focus {
      border-color: var(--ids-color-palette-classic-azure-60);
    }
  }

  // Classic Contrast Mode Styles
  &[version='classic'][mode='contrast'] {
    @include text-black();

    border-bottom-color: var(--ids-color-palette-classic-slate-40);

    ids-icon {
      @include text-slate-100();
    }

    &:focus {
      border-color: var(--ids-color-palette-classic-azure-50);
    }
  }
}

// ================================================
// Styles specific to the Top-level App Menu Accordions

@mixin accordion-header-app-menu-colors() {
  @include mx-8();
  @include rounded-md();

  // Light Mode Styles
  &[mode='light'] {
    // Contrasts background of "bg-slate-100()" from the Drawer
    background-color: transparent;
    border-color: transparent;

    @include text-slate-20();

    &.expanded {
      background-color: transparent;
      border-color: transparent;
    }

    &:hover {
      @include bg-slate-90();
      @include border-slate-90();
    }

    &:focus {
      @include text-white();
      @include border-azure-70();
    }

    &.selected {
      @include text-white();
    }

    &[disabled] {
      @include bg-slate-100();
      @include border-slate-100();
      @include text-slate-40();
    }
  }
}

// ================================================
// Styles specific to the Sub-level App Menu Accordions

@mixin accordion-header-nested-app-menu-colors() {
  @include m-0();
}

:host {
  display: block;

  ids-icon {
    transition: transform $transition-length $transition-ease;
    justify-self: end;
  }
}

:host([aria-expanded='true']) {
  ids-icon[icon='caret-down'] {
    transform: rotateX(180deg);
  }
}

.ids-accordion-header {
  @include antialiased();
  @include border-1();
  @include border-solid();

  align-items: center;
  cursor: pointer;
  display: flex;
  grid-auto-flow: column;
  user-select: none;

  ::slotted(ids-text) {
    flex-grow: 1;
  }

  .ids-accordion-display-icon {
    display: none;
  }

  &:focus {
    @include outline-none();
  }

  // In-page Accordions
  &:not(.color-variant-app-menu):not(.color-variant-sub-app-menu) {
    @include px-16();
    @include py-12();
    @include accordion-header-standard-colors();
  }

  &.selected {
    font-weight: bolder;
  }

  &.has-icon {
    .ids-accordion-display-icon {
      display: flex;
    }
  }

  // Top Level App Menu Accordions
  &.color-variant-app-menu {
    @include px-16();
    @include py-12();
    @include accordion-header-app-menu-colors();
  }

  // Sub-level App Menu Accordions
  &.color-variant-sub-app-menu {
    @include px-20();
    @include py-8();
    @include accordion-header-app-menu-colors();
    @include accordion-header-nested-app-menu-colors();
  }

  // =========================================
  // Modifications to Expander Icon Types
  &.expander-type-plus-minus {
    .ids-accordion-expander-icon {
      position: relative;
      margin-top: -4px;
      height: 14px;
      width: 14px;
    }
  }
}

// LTR styles for icon spacing
:not(.rtl) {
  ::slotted(ids-icon) {
    @include mr-12();
  }

  .ids-accordion-display-icon {
    @include mr-12();
  }

  .ids-accordion-expander-icon {
    &:first-child {
      @include mr-8();
    }
  }
}

// RTL styles for icon spacing
.rtl {
  ::slotted(ids-icon) {
    @include ml-12();
  }

  .ids-accordion-display-icon {
    @include ml-12();
  }

  .ids-accordion-expander-icon {
    &:first-child {
      @include ml-8();
    }
  }
}
