/* Ids Data Grid Component - Cells */
.ids-data-grid-cell {
  // Border and Background and Sizing
  align-items: center;
  background-color: var(--ids-data-grid-cell-color-background-default);
  border-inline-start: 1px solid;
  border-block-end: 1px solid;
  border-color: var(--ids-data-grid-cell-color-border);
  display: inline-flex;
  color: var(--ids-data-grid-cell-color-text-default);
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  // Hide first/last border
  &:first-child {
    border-inline-start-width: 0;
  }

  // Reset badge margin to center it vertically
  ids-badge::part(badge) {
    margin-block-end: var(--ids-space-none);
    margin-inline-end: var(--ids-space-none);
  }

  ids-badge {
    padding-inline-start: var(--ids-space-60);
    padding-inline-end: var(--ids-space-60);
  }

  ids-hyperlink {
    margin: var(--ids-space-60);
  }

  .text-ellipsis {
    display: inline-block;
    vertical-align: middle;
    padding-inline-start: var(--ids-space-60);
    padding-inline-end: var(--ids-space-60);
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Text Alignment
  ids-icon {
    vertical-align: middle;

    + span {
      vertical-align: middle;
      line-height: 25px;
      padding-inline: 4px;
    }
  }

  // Text Alignment
  &.align-center > *:first-child {
    display: inline-flex;
    margin: 0 auto;
  }

  &.align-right > *:first-child {
    margin-inline-start: auto;
    margin-inline-end: 0;
  }

  // Readonly and disabled Cells
  &.is-readonly {
    background-color: var(--ids-data-grid-cell-color-background-readonly);
  }

  &.is-disabled {
    color: var(--ids-data-grid-cell-color-text-disabled);

    .editor-cell-icon {
      display: none;
    }
  }

  &.is-uppercase {
    text-transform: uppercase;
  }

  // Focus State
  &:focus,
  &.is-editing:not(.is-inline):focus-within {
    box-shadow: var(--ids-shadow-20);
    outline: 1px solid var(--ids-color-border-focus);
    outline-offset: -1px;
  }

  &.is-editable {
    &.is-inline {
      box-shadow: inset 0 0 0 4px var(--ids-data-grid-cell-color-background-default), inset 0 0 0 5px var(--ids-input-color-border-default);

      ids-icon.editor-cell-icon {
        --ids-trigger-field-button-margin: 0;

        display: inline-flex;
        visibility: visible;
        margin-inline-end: 15px;
      }
    }

    &.is-timepicker,
    &.is-datepicker {
      justify-content: space-between;

      .text-ellipsis {
        padding-inline-end: 0;
      }
    }

    .editor-cell-icon {
      margin-inline-end: 12px;
      margin-block-start: 2px;
      display: none;
    }

    ids-trigger-button::part(button) {
      color: inherit;
    }

    // is-borderless:hover
    &:not(.is-inline):not(.is-invalid):focus,
    &:not(.is-inline):not(.is-invalid):hover {
      .editor-cell-icon {
        display: flex;
      }

      ids-alert {
        margin-inline: calc(100% - 48px);
      }
    }

    &.is-editable.is-invalid {
      justify-content: space-between;

      ids-alert {
        margin-inline-end: var(--ids-space-40);
      }
    }
  }

  &.is-editing ids-checkbox {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    left: 6px;
    top: 4px;
  }

  // Editing with popups
  &.is-editing.is-dropdown,
  &.is-editing.is-timepicker,
  &.is-editing.is-datepicker {
    overflow: visible;
  }

  // Dropdown Editable Cell
  &.is-editable.is-dropdown {
    .dropdown-cell-value {
      width: 100%;
    }
  }

  // Dropdown Editing
  &.is-editing.is-dropdown {
    &.is-dirty::before {
      margin-inline: 3px;
    }
  }

  // Dropdown Editing Borderless
  &.is-editing.is-dropdown:not(.is-inline) {
    border-left-width: 0;
  }

  // Dropdown Editing Inline
  &.is-editing.is-dropdown.is-inline {
    box-shadow: none;

    ids-dropdown {
      padding: 0 4px;
    }

    &.is-dirty::before {
      margin-inline: 6px;
    }
  }

  // Editing Uppercase
  &.is-editing.is-uppercase {
    text-transform: uppercase;

    ids-list-box-option,
    ids-dropdown::part(triggerfield-input),
    ids-input::part(input) {
      text-transform: uppercase;
    }
  }

  // Frozen Cells
  &.frozen {
    background-color: var(--ids-data-grid-cell-color-background-default);
    position: sticky;
    z-index: 3;
  }

  // Change borders for scrolling
  &.frozen-last {
    border-inline-end: 1px solid var(--ids-data-grid-cell-color-border);

    + .ids-data-grid-cell {
      border-inline-start-width: 0;
    }
  }

  &.frozen-left {
    position: sticky;
    left: 0;

    // Dynamically added widths
    @for $i from 2 through 10 {
      &:nth-of-type(#{$i}) {
        left: var(--ids-data-grid-frozen-column-left-width-#{$i});
      }
    }
  }

  &.frozen-right {
    position: sticky;
    right: 0;
  }

  &.is-dirty::before {
    border-color: var(--ids-input-dirty-indicator-color-background-dirty) transparent transparent var(--ids-input-dirty-indicator-color-background-dirty);
    border-style: solid;
    border-width: 5px;
    content: '';
    display: inline-block;
    margin-inline: 2px;
    position: absolute;
    top: 2px;
    z-index: 1;
  }

  &.is-dirty.is-inline::before {
    margin-inline: 6px;
    top: 6px;
  }

  &.is-invalid {
    background-color: var(--ids-data-grid-cell-color-background-error);
  }

  ids-alert {
    margin-top: 3px;
  }
}

[data-row-height='xxs'] {
  .ids-data-grid-cell.is-dirty::before {
    border-width: 4px;
  }

  .ids-data-grid-cell.is-dirty.is-inline::before {
    margin-inline: 3px;
    top: 3px;
  }

  .is-editable.is-inline {
    box-shadow: inset 0 0 0 2px var(--ids-input-color-background-default), inset 0 0 0 3px var(--ids-input-color-border-default);
  }

  ids-button {
    --ids-button-icon-padding: 2px;
  }

  ids-badge {
    --ids-badge-font-line-height: calc(var(--ids-data-grid-row-height-xxs) - 8px);
  }

  ids-input,
  ids-trigger-field {
    --ids-space-20: 0;
    --ids-input-font-size-sm: var(--ids-data-grid-font-size-sm);
  }

  // Adjust non inline editor
  .ids-data-grid-cell.is-editable .editor-cell-icon {
    margin-inline-end: 2px;
  }

  // Adjust dropdown editor
  .ids-data-grid-cell.is-editable.is-inline ids-icon.editor-cell-icon {
    margin-inline-end: 4px;
  }

  .ids-data-grid-cell.is-editable.is-inline {
    --ids-trigger-field-button-margin: -2px;
    --ids-button-tertiary-color-background-hover: transparent;
  }

  .ids-data-grid-cell.is-editing.is-dropdown.is-inline ids-dropdown {
    padding: 0 1px;

    --ids-input-font-size-sm: var(--ids-data-grid-font-size-sm);
  }
}

[data-row-height='xs'] {
  .ids-data-grid-cell.is-dirty::before {
    border-width: 4px;
  }

  .ids-data-grid-cell.is-dirty.is-inline::before {
    margin-inline: 3px;
    top: 3px;
  }

  .is-editable.is-inline {
    box-shadow: inset 0 0 0 2px var(--ids-input-color-background-default), inset 0 0 0 3px var(--ids-input-color-border-default);
  }

  ids-button {
    --ids-button-icon-padding: 3px;
  }

  ids-badge {
    --ids-badge-font-line-height: calc(var(--ids-data-grid-row-height-xs) - 12px);
  }

  ids-input {
    --ids-input-font-size-sm: var(--ids-data-grid-font-size-sm);
  }

  // Adjust non inline editor
  .ids-data-grid-cell.is-editable .editor-cell-icon {
    margin-inline-end: 2px;
  }

  // Adjust dropdown editor
  .ids-data-grid-cell.is-editable.is-inline ids-icon.editor-cell-icon {
    margin-inline-end: 4px;
  }

  .ids-data-grid-cell.is-editable.is-inline {
    --ids-trigger-field-button-margin: -2px;
    --ids-button-tertiary-color-background-hover: transparent;
    --ids-input-font-size-sm: var(--ids-data-grid-font-size-sm);
  }

  .ids-data-grid-cell.is-editing.is-dropdown.is-inline ids-dropdown {
    padding: 0 2px;
  }
}

[data-row-height='sm'] {
  .is-editable.is-inline {
    box-shadow: inset 0 0 0 3px var(--ids-input-color-background-default), inset 0 0 0 4px var(--ids-input-color-border-default);
  }

  .ids-data-grid-cell.is-dirty.is-inline::before {
    margin-inline: 5px;
    top: 5px;
  }

  ids-button {
    --ids-button-icon-padding: 4px;
  }

  // Adjust non inline editor
  .ids-data-grid-cell.is-editable .editor-cell-icon {
    margin-inline-end: 6px;
  }

  // Adjust dropdown editor
  .ids-data-grid-cell.is-editable.is-inline ids-icon.editor-cell-icon {
    margin-inline-end: 6px;
  }

  .ids-data-grid-cell.is-editable.is-inline {
    --ids-trigger-field-button-margin: -1px;
    --ids-button-tertiary-color-background-hover: transparent;
  }
}

[data-row-height='md'] {
  // Adjust dropdown editor
  .ids-data-grid-cell.is-editable.is-inline ids-icon.editor-cell-icon {
    margin-inline-end: var(--ids-data-grid-padding-sm);
  }

  .ids-data-grid-cell.is-editable.is-inline {
    --ids-trigger-field-button-margin: -3px;
    --ids-button-tertiary-color-background-hover: transparent;
  }
}

// List Style Feature
.ids-data-grid.is-list-style {
  // Change Cell Borders/BG
  .ids-data-grid-cell {
    border-inline-start-width: 0;
    border-bottom: 1px solid var(--ids-data-grid-list-cell-color-border);

    &.is-readonly {
      background-color: var(--ids-data-grid-cell-color-background-readonly)
    }

    &.is-disabled {
      color: var(--ids-data-grid-cell-color-text-disabled);
    }
  }

  .ids-data-grid-body .ids-data-grid-row:first-child .ids-data-grid-cell {
    border-top: 0;
  }
}

// Standalone Css
td.ids-data-grid-cell {
  display: table-cell;
  padding-inline-start: var(--ids-space-60);
  padding-inline-end: var(--ids-space-60);
}

// Handle RTL
:host([dir='rtl']) {
  .ids-data-grid.is-list-style {
    .ids-data-grid-cell {
      border-inline-end-width: 0;
    }
  }

  // Negate Borders
  .ids-data-grid-cell {
    &:last-child {
      border-inline-end-width: 0;
    }

    &.is-dirty::before {
      border-color: var(--ids-input-dirty-indicator-color-background-dirty)  var(--ids-input-dirty-indicator-color-background-dirty) transparent  transparent;
    }
  }
}

// Fix slotted trigger button margins when nested within cells
.ids-trigger-field-slot-trigger-end {
  margin-inline-end: 0;
}
