/* Ids Data Grid Component - Header */
.ids-data-grid-header {
  position: sticky;
  top: 0;
  z-index: 4; // Higher than frozen columns
}

// Header Checkbox
.ids-data-grid-header-text .ids-data-grid-checkbox-container {
  width: 20px;

  .ids-data-grid-checkbox:not(.checked):not(.indeterminate) {
    background-color: var(--ids-data-grid-header-checkbox-color-background);
    border-color: var(--ids-data-grid-header-checkbox-color-border);
  }
}

// Grouped Headers
.ids-data-grid-column-groups {
  border-block-end: 1px solid var(--ids-data-grid-header-color-border);
}

// Header Cell Area
.ids-data-grid-header-cell {
  border-inline-start: 1px solid var(--ids-data-grid-header-color-border);
  background-color: var(--ids-data-grid-header-color-background-default);
  min-height: 28px;
  position: relative;

  // Hide first border
  &:first-child {
    border-inline-start-width: 0;
  }

  &:hover {
    background-color: var(--ids-data-grid-header-hover-background-color);
  }

  &.align-center .ids-data-grid-header-cell-content,
  &.align-center .ids-data-grid-header-cell-filter-wrapper {
    justify-content: center;
  }

  &.align-right .ids-data-grid-header-cell-content,
  &.align-right .ids-data-grid-header-cell-filter-wrapper {
    justify-content: flex-end;
  }

  &.align-right .ids-data-grid-header-cell-filter-wrapper {
    ids-menu-button {
      margin-inline-start: 2px;
    }
  }

  // Resizing Cells
  .resizer {
    cursor: var(--ids-cursor-resize);
    display: inline;
    height: 100%;
    position: absolute;
    margin-inline-start: calc(100% - 4px);
    top: 0;
    width: 6px;
    z-index: 2;
  }

  // Reorderable Cells
  .reorderer {
    cursor: var(--ids-cursor-move);
    display: inline;
    height: 34px;
    opacity: 0;
    position: absolute;
    inset-inline-start: var(--ids-space-40);
    top: 0;
    width: 4px;

    ids-icon {
      position: absolute;
      color: var(--ids-data-grid-header-color-icon);
      inset-inline-start: calc(-1 * var(--ids-space-40));
      text-align: center;
      top: calc(50% - 9px);
    }
  }

  &.align-right .reorderer {
    inset-inline-end: 8px;
    inset-inline-start: initial;
  }

  &:last-child .resizer {
    margin-inline-start: calc(100% - 6px); // Prevents un needed scrollbar
  }

  &.dragging {
    background-color: var(--ids-data-grid-header-drag-background-color) !important; // this important is needed for drag styles to work
    border-inline-start: 0;
    display: block;
    left: -1000px;
    position: absolute;
    top: 0;
    width: 110px;
  }

  &.active-drag-column {
    background-color: var(--ids-data-grid-header-color-background-placeholder-dragging);

    .sort-indicator {
      opacity: 0;
    }
  }

  &:hover .reorderer {
    opacity: 1;
  }

  // Reorderable Cells
  &.frozen {
    background-color: var(--ids-data-grid-header-color-background-default);
    position: sticky;
    z-index: 3;
  }

  // Change borders for frozen column scrolling
  &.frozen-last {
    border-inline-end: 1px solid var(--ids-data-grid-header-color-border);

    + .ids-data-grid-header-cell {
      border-inline-start-width: 0;
    }
  }

  &.frozen-left {
    position: sticky;
    left: 0;

    // Dynamically added widths
    @for $i from 2 through 10 {
      &:nth-of-type(#{$i}) {
        left: var(--ids-data-grid-frozen-column-left-width-#{$i});
      }
    }
  }

  &.frozen-right {
    position: sticky;
    right: 0;

    // Wierd centering bug (frozen right)
    .ids-data-grid-header-cell-content {
      display: inline-flex;
    }
  }
}

.ids-data-grid-header-cell-content {
  display: flex;
}

.ids-data-grid-header-text {
  display: block;
  padding: var(--ids-data-grid-header-lg-padding);
  font-weight: var(--ids-font-weight-semibold);
  font-size: var(--ids-data-grid-font-size-sm);
  color: var(--ids-data-grid-header-color-text);
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.ids-data-grid-header-icon {
  align-self: center;
  color: var(--ids-data-grid-header-color-text);
  margin-inline-start: var(--ids-space-30);
  margin-block-start: var(--ids-space-30);
}

// Header sort styles
.sort-indicator {
  position: relative;
  overflow: hidden;
  height: 32px;
  margin-inline-start: 5px;
  width: 18px;
}

// Sort Hover states
.is-sortable {
  .sort-indicator ids-icon {
    color: var(--ids-data-grid-header-color-icon-unsorted);
    opacity: 0;
    transition: opacity 0.3s var(--ids-motion-ease) 0s;

    &:first-child {
      position: relative;
      top: 4px;
      transform: rotate(180deg);
    }

    &:last-child {
      position: relative;
      top: -9px;
    }
  }

  &:hover {
    cursor: pointer;

    .sort-indicator ids-icon {
      opacity: 1;
    }
  }
}

.header-expander {
  display: none;
  max-height: 18px;
  cursor: var(--ids-cursor-pointer);
  color: var(--ids-data-grid-header-expander-color);
  margin-inline-start: var(--ids-space-50);

  &:hover {
    color: var(--ids-data-grid-header-expander-active-color);
  }
}

:host([show-header-expander]) .header-expander,
.column-header-expander .header-expander {
  display: unset;
}

.has-selectioncheckbox .ids-data-grid-header-text {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.is-sortable,
.has-headericon {
  .ids-data-grid-header-text {
    padding-inline-end: 0;
  }
}

// Ascending sort
[aria-sort='ascending'] .is-sortable .sort-indicator ids-icon {
  &:first-child {
    color: var(--ids-data-grid-header-color-icon-sorted);
    opacity: 1;
  }

  &:last-child {
    opacity: 1;
  }
}

// Descending sort
[aria-sort='descending'] .is-sortable .sort-indicator ids-icon {
  &:first-child {
    opacity: 1;
  }

  &:last-child {
    color: var(--ids-data-grid-header-color-icon-sorted);
    opacity: 1;
  }
}

// Drag arrows for sorting
.ids-data-grid-sort-arrows {
  display: none;
  height: 34px;
  position: absolute;
  z-index: 1;

  &::before,
  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    display: inline-block;
    height: 0;
    left: -5px;
    position: absolute;
    width: 0;
  }

  &::before {
    border-top: 5px solid var(--ids-data-grid-header-color-background-default);
    top: -6px;
  }

  &::after {
    border-bottom: 5px solid var(--ids-data-grid-header-color-background-default);
    bottom: -9px;
  }
}

// Standalone Css
tr.ids-data-grid-header {
  position: initial;
}

th.ids-data-grid-header-cell {
  display: table-cell;
}

// List Style Feature
.ids-data-grid.is-list-style {
  // Change Header Color
  .ids-data-grid-header-cell {
    background-color: var(--ids-data-grid-list-header-color-background);
    border-color: var(--ids-data-grid-list-header-color-border);
  }

  .ids-data-grid-header-text {
    color: var(--ids-data-grid-list-header-color-text);
  }

  // Change Sort Icon Colors
  .is-sortable {
    ids-icon {
      color: var(--ids-data-grid-header-color-icon-unsorted);
    }
  }

  [aria-sort='descending'] .is-sortable ids-icon:last-child,
  [aria-sort='ascending'] .is-sortable ids-icon:first-child  {
    color: var(--ids-data-grid-list-header-color-icon-unsorted)
  }

  // Change Header Checkbox
  .ids-data-grid-header-text .ids-data-grid-checkbox-container {
    .ids-data-grid-checkbox:not(.checked):not(.indeterminate) {
      border-color: var(--ids-data-grid-list-header-checkbox-color-background);
    }
  }
}

// Used for Frozen Columns
.ids-data-grid-body {
  min-width: fit-content;
}

// Adjust for Row Heights (large is default)
.ids-data-grid {
  &[data-row-height='md'] {
    .ids-data-grid-header-text {
      padding: var(--ids-data-grid-header-md-padding);
    }

    .reorderer ids-icon {
      inset-inline-start: -11px;
    }

    .sort-indicator {
      margin-inline-start: -6px;
    }
  }

  &[data-row-height='sm'] {
    .ids-data-grid-header-text {
      padding: var(--ids-data-grid-header-sm-padding);
    }

    .reorderer {
      display: none;
    }

    .sort-indicator {
      margin-inline-start: -2px;
    }

    .align-right .sort-indicator {
      margin-inline-start: -4px;
    }
  }

  &[data-row-height='xs'] {
    .ids-data-grid-header-text {
      padding: var(--ids-data-grid-header-xs-padding);
    }

    .reorderer {
      display: none;
    }

    .sort-indicator {
      margin-inline-start: -2px;
      margin-block-start: -2px;
    }

    .ids-data-grid-checkbox-container {
      padding-top: 2px;
    }
  }

  &[data-row-height='xxs'] {
    .ids-data-grid-header-text {
      padding: var(--ids-data-grid-header-xxs-padding);
    }

    .reorderer {
      display: none;
    }

    .sort-indicator {
      margin-inline-start: 0;
      margin-block-start: -5px;
      height: 22px;

      > ids-icon:first-child {
        top: 3px;
      }
    }

    .align-right .sort-indicator {
      margin-inline-start: 0;
    }

    .ids-data-grid-checkbox-container {
      padding-top: 1px;
    }

    // Filter Adjustments
    ids-input {
      --ids-input-height-10: 24px;
    }

    .ids-data-grid-header-cell-filter-wrapper {
      padding-inline-start: calc(var(--ids-data-grid-padding-xxs) + 1px);
      padding-inline-end: calc(var(--ids-data-grid-padding-xxs) + 1px);
      padding-block-end: calc(var(--ids-data-grid-padding-xxs) + 2px);
    }
  }
}

// Handle RTL
:host([dir='rtl']) {
  // Negate right alignment
  .ids-data-grid-header-cell {
    &.align-right .ids-data-grid-header-cell-content,
    &.align-right .ids-data-grid-header-cell-filter-wrapper {
      direction: ltr;
    }

    &:last-child {
      border-inline-end-width: 0;
    }
  }
}
