/* Ids Data Grid Component - Rows */
.ids-data-grid-row {
  display: grid;
  grid-template-columns: var(--ids-data-grid-column-widths); // Filled in dynamically
  width: 100%;

  &.selected:not(.mixed) .ids-data-grid-cell,
  &.activated .ids-data-grid-cell {
    background-color: var(--ids-data-grid-row-color-background-selected);
  }

  &[hidden] {
    display: none;
  }
}

// Grouped Rows
.ids-data-grid-row.is-group-row {
  background-color: var(--ids-data-grid-row-grouped-color-background);
  grid-template-columns: 100%;

  .ids-data-grid-cell {
    color: var(--ids-data-grid-row-grouped-color-text, red);
    font-weight: var(--ids-data-grid-row-grouped-font-weight, 600);
    border-inline-start: 0;
  }
}

// Row Height Feature with Formatters spacing
.ids-data-grid {
  // Large by default
  &[data-row-height='md'] {
    .ids-data-grid-cell {
      height: var(--ids-data-grid-row-height-md);

      .text-ellipsis,
      ids-badge {
        padding-inline-start: var(--ids-data-grid-padding-md);
        padding-inline-end: var(--ids-data-grid-padding-md);
      }

      ids-hyperlink {
        margin: var(--ids-data-grid-padding-md);
      }
    }

    .ids-data-grid-cell:not(.align-center) .ids-data-grid-header-cell-content:not(.vertical-align-center) .ids-data-grid-header-text {
      padding-inline-start: var(--ids-data-grid-padding-md);
      transition: padding var(--ids-motion-duration) var(--ids-motion-ease);
    }

    .ids-data-grid-cell:not(.align-center) .ids-data-grid-header-cell:hover .ids-data-grid-header-cell-content:not(.vertical-align-center).is-reorderable .ids-data-grid-header-text {
      padding-inline-start: var(--ids-data-grid-padding-md);
    }
  }

  &[data-row-height='sm'] {
    .ids-data-grid-cell {
      height: var(--ids-data-grid-row-height-sm);

      .text-ellipsis,
      ids-badge {
        padding-inline-start: var(--ids-data-grid-padding-sm);
        padding-inline-end: var(--ids-data-grid-padding-sm);
      }

      ids-hyperlink {
        margin: var(--ids-data-grid-padding-sm);
      }
    }

    .ids-data-grid-cell:not(.align-center) .ids-data-grid-header-cell-content:not(.vertical-align-center) .ids-data-grid-header-text {
      padding-inline-start: var(--ids-data-grid-padding-sm);
      transition: padding var(--ids-motion-duration) var(--ids-motion-ease);
    }

    .ids-data-grid-cell:not(.align-center) .ids-data-grid-header-cell:hover .ids-data-grid-header-cell-content:not(.vertical-align-center).is-reorderable .ids-data-grid-header-text {
      padding-inline-start: var(--ids-data-grid-padding-sm);
    }
  }

  &[data-row-height='xs'] {
    .ids-data-grid-cell {
      height: var(--ids-data-grid-row-height-xs);
      font-size: var(--ids-data-grid-font-size-sm);

      .text-ellipsis,
      ids-badge {
        padding-inline-start: var(--ids-data-grid-padding-xs);
        padding-inline-end: var(--ids-data-grid-padding-xs);
      }

      ids-hyperlink {
        margin: var(--ids-data-grid-padding-xs);
      }
    }

    .ids-data-grid-cell:not(.align-center) .ids-data-grid-header-cell-content:not(.vertical-align-center) .ids-data-grid-header-text {
      padding-inline-start: var(--ids-data-grid-padding-xs);
      transition: padding var(--ids-motion-duration) var(--ids-motion-ease);
    }

    .ids-data-grid-cell:not(.align-center) .ids-data-grid-header-cell:hover .ids-data-grid-header-cell-content:not(.vertical-align-center).is-reorderable .ids-data-grid-header-text {
      padding-inline-start: var(--ids-data-grid-padding-xs);
    }
  }

  &[data-row-height='xxs'] {
    .ids-data-grid-cell {
      height: var(--ids-data-grid-row-height-xxs);
      font-size: var(--ids-data-grid-font-size-sm);

      .text-ellipsis,
      ids-badge {
        padding-inline-start: var(--ids-data-grid-padding-xxs);
        padding-inline-end: var(--ids-data-grid-padding-xxs);
      }

      ids-hyperlink {
        margin: var(--ids-data-grid-padding-xxs);
      }

      // On 'xxs' row height, inline-editable cells have a slightly wider
      // padding appearance to accommodate the inline display
      &.is-inline {
        .text-ellipsis {
          padding-inline-start: var(--ids-data-grid-padding-xs);
          padding-inline-end: var(--ids-data-grid-padding-xs);
        }
      }
    }

    .ids-data-grid-cell:not(.align-center) .ids-data-grid-header-cell-content:not(.vertical-align-center) .ids-data-grid-header-text {
      padding-inline-start: var(--ids-data-grid-padding-xxs);
      transition: padding var(--ids-motion-duration) var(--ids-motion-ease);
    }

    .ids-data-grid-cell:not(.align-center) .ids-data-grid-header-cell:hover .ids-data-grid-header-cell-content:not(.vertical-align-center).is-reorderable .ids-data-grid-header-text {
      padding-inline-start: var(--ids-data-grid-padding-xxs);
    }
  }
}

// Row Alternate Row Setting Feature
.ids-data-grid.alt-row-shading ids-data-grid-row:nth-child(even) {
  background-color: var(--ids-data-grid-row-alternating-color-background);
}

// Expandable Row
.ids-data-grid-expandable-row {
  border-bottom: 1px solid var(--ids-data-grid-cell-color-border);
  grid-column: 1 / -1;
  padding: 8px;
}

// Standalone Css
tr.ids-data-grid-row {
  display: table-row;
  height: var(--ids-data-grid-row-height-lg);
}

// Row Navigation Styles
.ids-data-grid.row-navigation .ids-data-grid-row {
  &:focus-within {
    transform-style: preserve-3d;

    &::after {
      box-shadow: var(--ids-data-grid-row-shadow-focus);
      content: ' ';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .ids-data-grid-cell:focus {
    box-shadow: none;
    outline: none;
  }

  // Fixes an issue where hyperlinks in row-navigation mode cannot be directly clicked
  ids-hyperlink,
  .ids-hyperlink {
    transform: translateZ(1px);
  }
}
