@import '../../core/ids-base';

.ids-data-grid {
  ::slotted([slot^='filter-']) {
    @include flex();
    @include relative();

    align-items: center;
  }

  .ids-data-grid-header-cell-content.vertical-align-center {
    @include relative();

    top: calc(50% - 16px);
  }

  .ids-data-grid-header-cell-filter-wrapper {
    @include flex();
    @include pb-8();
    @include pl-8();
    @include pr-8();
    @include relative();

    align-items: center;

    &.hidden {
      @include hidden();
    }

    ids-dropdown[compact] ids-list-box-option {
      font-size: unset;
      min-height: 28px;
    }
  }
}
