@import '../../core/ids-base';
@import '../../mixins/sass/ids-checkbox-mixin';
@import '../../mixins/sass/ids-radio-mixin';

$cell-border-color: var(--ids-color-palette-slate-30);
$header-bg-color: var(--ids-color-palette-slate-80);

:host {
  --ids-data-grid-column-widths: repeat(1, minmax(110px, 1fr));
}

:host([virtual-scroll]) .ids-data-grid-body .ids-data-grid-row:last-child {
  border-bottom: solid 1px $cell-border-color;
}

.ids-data-grid {
  // Outside border and Background and sizing
  @include bg-white();
  @include border-1();
  @include border-solid();
  @include rounded-default();
  @include w-full();

  border-collapse: collapse;
  border-color: $cell-border-color;
  contain: content;
  overflow: auto;
  scroll-behavior: smooth;

  // Font Info
  @include antialiased();
  @include font-sans();
  @include text-16();

  // Row Styles
  .ids-data-grid-row {
    @include w-full();

    display: grid;
    grid-template-columns: var(--ids-data-grid-column-widths); // Filled in dynamically

    &.selected:not(.mixed) .ids-data-grid-cell,
    &.activated .ids-data-grid-cell {
      @include bg-azure-10();
    }
  }

  // Row Height Feature
  // Large by default
  .ids-data-grid-body .ids-data-grid-row {
    height: 50px;
  }

  &[data-row-height='md'] .ids-data-grid-body .ids-data-grid-row {
    height: 40px;
  }

  &[data-row-height='sm'] .ids-data-grid-body .ids-data-grid-row {
    height: 35px;
  }

  &[data-row-height='xs'] .ids-data-grid-body .ids-data-grid-row {
    height: 30px;
  }

  // Row Alternate Row Setting Feature
  &.alt-row-shading .ids-data-grid-body [role='row']:nth-child(odd) {
    @include bg-slate-10();
  }

  // Header Styles
  .ids-data-grid-header {
    @include z-2();
    @include sticky();

    top: 0;
  }

  // Header Cell Area
  .ids-data-grid-header-cell {
    @include border-0();
    @include border-l-1();
    @include border-solid();
    @include flex();

    background-color: $header-bg-color;
    border-color: $cell-border-color;
    min-height: 35px;

    // Hide first border
    &:first-child {
      border-left-style: hidden;
    }
  }

  .ids-data-grid-header-text {
    @include block();
    @include px-16();
    @include py-8();
    @include font-bold();
    @include text-14();
    @include text-white();

    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }

  // Header sort styles
  .sort-indicator {
    @include relative();

    height: 16px;
    left: -6px;
    width: 18px;
  }

  // Sort Hover states
  .is-sortable {
    ids-icon {
      color: var(--ids-color-palette-slate-50);
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s;
    }

    ids-icon:first-child {
      @include relative();

      top: 4px;
      transform: rotate(180deg);
    }

    ids-icon:last-child {
      @include relative();

      top: -9px;
    }

    &[aria-sort='descending'] ids-icon {
      &:first-child {
        opacity: 1;
      }

      &:last-child {
        color: var(--ids-color-palette-white);
        opacity: 1;
      }
    }

    // stylelint-disable
    &[aria-sort='ascending'] ids-icon {
      &:first-child {
        color: var(--ids-color-palette-white);
        opacity: 1;
      }

      &:last-child {
        opacity: 1;
      }
    }

    &:hover {
      cursor: pointer;

      .sort-indicator ids-icon {
        opacity: 1;
      }
    }
  }

  // Cell Styles
  .ids-data-grid-cell {
    // Border and Background
    @include border-0();
    @include border-l-1();
    @include border-t-1();
    @include border-solid();
    @include inline-flex();
    @include text-slate-100();

    align-items: center;
    border-color: $cell-border-color;
    overflow: hidden;
    white-space: nowrap;

    // Hide first/last border
    &:first-child {
      border-left-style: hidden;
    }

    // Negate link margins
    ids-hyperlink {
      margin: 8px;
    }

    // Text ellipsis
    .text-ellipsis {
      @include block();
      @include px-16();

      overflow: hidden;
      text-overflow: ellipsis;
    }

    // Readonly Cell
    &.readonly {
      @include bg-slate-20();
    }

    // Focus State
    &:focus {
      @include shadow();
      outline: 1px solid var(--ids-color-palette-azure-60);
      outline-offset: -1px;
    }
  }

  // Selection Checkbox
  .ids-datagrid-checkbox-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ids-datagrid-checkbox {
    @include checkbox-unchecked();
    @include cursor-pointer();
    position: relative;
    left: 0;
    top: 0;

    &.checked {
      @include checkbox-checked();

      &::after {
        @include checkbox-checked-after();
      }
    }

    &.indeterminate {
      @include checkbox-indeterminate();

      &::after {
        @include checkbox-indeterminate-after();
      }
    }
  }

  // Selection Radio
  .ids-datagrid-radio-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ids-datagrid-radio {
    @include radio-unchecked();
    @include cursor-pointer();
    position: relative;
    left: 0;
    top: 0;

    &.checked {
      @include radio-checked();

      &::after {
        @include radio-checked-after();
      }
    }
  }

  // Negates the padding
  .ids-data-grid-header-text .ids-datagrid-checkbox-container {
    margin-left: -3px;
    margin-top: 1px;
    width: 20px;

    .ids-datagrid-checkbox:not(.checked):not(.indeterminate) {
      @include bg-white();
      @include border-white();
    }
  }

  // Standalone Css
  tr.ids-data-grid-header {
    position: initial;
  }

  tr.ids-data-grid-row {
    @include table-row();

    height: 50px;
  }

  td.ids-data-grid-cell,
  th.ids-data-grid-header-cell {
    @include table-cell();
  }

  td.ids-data-grid-cell {
    @include px-16();
  }

  // List Style Feature
  &.is-list-style {
    border-width: 0;

    // Change Header Color
    .ids-data-grid-header-cell {
      @include bg-slate-10();
      @include border-slate-10();
    }

    .ids-data-grid-header-text {
      @include text-slate-100();
    }

    // Change Cell Borders/BG
    .ids-data-grid-cell {
      border-left: 0;
      border-top: 1px solid var(--ids-color-palette-slate-20);

      &.readonly {
        @include bg-slate-10();
      }
    }

    .ids-data-grid-body .ids-data-grid-row:first-child .ids-data-grid-cell {
      border-top: 0;
    }

    // Change Sort Icon
    .is-sortable {
      ids-icon {
        @include text-slate-50();
      }

      &[aria-sort='descending'] ids-icon {
        &:last-child {
          @include text-slate-20();
        }
      }

      &[aria-sort='ascending'] ids-icon {
        &:first-child {
          @include text-slate-20();
        }
      }
    }

    // Change Header Checkbox
    .ids-data-grid-header-text .ids-datagrid-checkbox-container {
      .ids-datagrid-checkbox:not(.checked):not(.indeterminate) {
        @include border-slate-70();
      }
    }
  }
}

// Dark Theme
.ids-data-grid[mode='dark'] {
  @include bg-slate-90();
  @include border-slate-60();

  .ids-data-grid-header-cell {
    @include bg-slate-20();
    @include border-slate-80();
  }

  .ids-data-grid-header-text {
    @include text-slate-100();
  }

  .is-sortable {
    ids-icon {
      @include text-slate-40();
    }

    &[aria-sort='descending'] ids-icon {
      &:last-child {
        @include text-slate-100();
      }
    }

    &[aria-sort='ascending'] ids-icon {
      &:first-child {
        @include text-slate-100();
      }
    }
  }

  .ids-data-grid-cell {
    @include border-slate-60();
    @include text-white();

    &.readonly {
      @include bg-slate-70();
    }
  }

  // List Style Feature
  &.is-list-style {
    // Change Header Color
    .ids-data-grid-header-cell {
      @include bg-slate-80();
      @include border-slate-80();
    }

    .ids-data-grid-header-text {
      @include text-slate-30();
    }

    // Change Sort Icon
    .is-sortable {
      ids-icon {
        @include text-slate-40();
      }

      &[aria-sort='descending'] ids-icon {
        &:last-child {
          @include text-slate-20();
        }
      }

      &[aria-sort='ascending'] ids-icon {
        &:first-child {
          @include text-slate-20();
        }
      }
    }

    // Change Header Checkbox
    .ids-data-grid-header-text .ids-datagrid-checkbox-container {
      .ids-datagrid-checkbox:not(.checked):not(.indeterminate) {
        @include border-slate-40();
      }
    }
  }

  // Selection
  .ids-data-grid-row.selected:not(.mixed) .ids-data-grid-cell,
  .ids-data-grid-row.activated .ids-data-grid-cell {
    // Uses a non pallette color - no better looking ones
    background-color: #334d60;
  }

  .ids-data-grid-cell {
    .ids-datagrid-checkbox {
      @include border-slate-30();
    }

    .ids-datagrid-checkbox.checked {
      @include border-azure-60();
    }
  }

  .ids-datagrid-radio {
    @include border-slate-40();
  }

  .ids-data-grid-header-text .ids-datagrid-checkbox-container .ids-datagrid-checkbox:not(.checked):not(.indeterminate) {
    @include bg-transparent();
    @include border-slate-90();
  }
}

// Contrast Theme
.ids-data-grid[mode='contrast'] {
  @include bg-white();

  .ids-data-grid-header-cell {
    @include bg-slate-70();
    @include border-slate-50();
  }

  .ids-data-grid-header-text {
    @include text-white();
  }

  .is-sortable {
    ids-icon {
      @include text-slate-40();
    }

    &[aria-sort='descending'] ids-icon {
      &:last-child {
        @include text-white();
      }
    }

    &[aria-sort='ascending'] ids-icon {
      &:first-child {
        @include text-white();
      }
    }
  }

  .ids-data-grid-cell {
    @include border-slate-60();
    @include text-slate-100();


    &.readonly {
      @include bg-slate-20();
    }

    &:focus {
      box-shadow: 0 0 0 1px rgba(0, 84, 177, 1);
      outline: 1px solid var(--ids-color-palette-azure-80);
    }
  }

  // List Style Feature
  &.is-list-style {
    // Change Header Color
    .ids-data-grid-header-cell {
      @include bg-slate-30();
      @include border-slate-30();
    }

    .ids-data-grid-header-text {
      @include text-slate-100();
    }

    // Change Cell Borders/BG
    .ids-data-grid-cell {
      &.readonly {
        @include bg-slate-20();
      }
    }

    // Change Sort Icon
    .is-sortable {
      ids-icon {
        @include text-slate-60();
      }

      &[aria-sort='descending'] ids-icon {
        &:last-child {
          @include text-slate-30();
        }
      }

      &[aria-sort='ascending'] ids-icon {
        &:first-child {
          @include text-slate-30();
        }
      }
    }
  }

  // Selection
  .ids-data-grid-row.selected:not(.mixed) .ids-data-grid-cell,
  .ids-data-grid-row.activated .ids-data-grid-cell {
    @include bg-azure-20();
  }

  .ids-data-grid-cell {
    .ids-datagrid-checkbox:not(.checked):not(.indeterminate) {
      @include border-slate-90();
    }
  }
}

// Classic - Light Theme
.ids-data-grid[version='classic'][mode='light'] {
  @include bg-white();

  .ids-data-grid-header-cell {
    @include bg-graphite-70();
    @include border-classic-slate-30();
  }

  .ids-data-grid-header-text {
    @include text-white();
  }

  .is-sortable {
    ids-icon {
      @include text-classic-slate-40();
    }

    &[aria-sort='descending'] ids-icon {
      &:last-child {
        @include text-white();
      }
    }

    &[aria-sort='ascending'] ids-icon {
      &:first-child {
        @include text-white();
      }
    }
  }

  .ids-data-grid-cell {
    @include border-classic-slate-30();
    @include text-graphite-100();

    &.readonly {
      @include bg-graphite-10();
    }
  }

  // List Style Feature
  &.is-list-style {
    background-color: transparent;

    // Change Header Color
    .ids-data-grid-header-cell {
      @include bg-graphite-20();
      @include border-graphite-20();
    }

    .ids-data-grid-header-text {
      @include text-graphite-60();
    }

    // Change Cell Borders/BG
    .ids-data-grid-cell {
      border-top: 1px solid var(--ids-color-palette-graphite-30);

      &.readonly {
        @include bg-graphite-20();
      }
    }

    // Change Sort Icon
    .is-sortable {
      ids-icon {
        @include text-graphite-50();
      }

      &[aria-sort='descending'] ids-icon {
        &:last-child {
          @include text-graphite-30();
        }
      }

      &[aria-sort='ascending'] ids-icon {
        &:first-child {
          @include text-graphite-30();
        }
      }
    }
  }
}

// Handle Classic - Dark Theme
.ids-data-grid[version='classic'][mode='dark'] {
  @include bg-classic-slate-80();

  .ids-data-grid-header-cell {
    @include bg-graphite-30();
    @include border-classic-slate-50();
  }

  .ids-data-grid-header-text {
    @include text-classic-slate-100();
  }

  .is-sortable {
    ids-icon {
      @include text-classic-slate-40();
    }

    &[aria-sort='descending'] ids-icon {
      &:last-child {
        @include text-classic-slate-100();
      }
    }

    &[aria-sort='ascending'] ids-icon {
      &:first-child {
        @include text-classic-slate-100();
      }
    }
  }

  .ids-data-grid-cell {
    @include border-classic-slate-50();
    @include text-white();

    &.readonly {
      @include bg-classic-slate-70();
    }
  }

  // List Style Feature
  &.is-list-style {
    // Change Header Color
    .ids-data-grid-header-cell {
      @include bg-classic-slate-70();
      @include border-classic-slate-70();
    }

    .ids-data-grid-header-text {
      @include text-classic-slate-30();
    }

    // Change Sort Icon
    .is-sortable {
      ids-icon {
        @include text-classic-slate-10();
      }

      &[aria-sort='descending'] ids-icon {
        &:last-child {
          @include text-classic-slate-40();
        }
      }

      &[aria-sort='ascending'] ids-icon {
        &:first-child {
          @include text-classic-slate-40();
        }
      }
    }
  }
}

// Handle Classic - Contrast Theme
.ids-data-grid[version='classic'][mode='contrast'] {
  @include bg-graphite-10();

  .ids-data-grid-header-cell {
    @include bg-graphite-70();
    @include border-graphite-50();
  }

  .ids-data-grid-header-text {
    @include text-white();
  }

  .is-sortable {
    ids-icon {
      @include text-graphite-40();
    }

    &[aria-sort='descending'] ids-icon {
      &:last-child {
        @include text-white();
      }
    }

    &[aria-sort='ascending'] ids-icon {
      &:first-child {
        @include text-white();
      }
    }
  }

  .ids-data-grid-cell {
    @include border-graphite-60();
    @include text-graphite-100();

    &.readonly {
      @include bg-graphite-30();
    }

    &:focus {
      box-shadow: 0 0 0 1px rgba(0, 84, 177, 1);
      outline: 1px solid var(--ids-color-palette-azure-80);
    }
  }

  // List Style Feature
  &.is-list-style {
    // Change Header Color
    .ids-data-grid-header-cell {
      @include bg-graphite-30();
      @include border-graphite-30();
    }

    .ids-data-grid-header-text {
      @include text-graphite-100();
    }

    // Change Cell Borders/BG
    .ids-data-grid-cell {
      &.readonly {
        @include bg-graphite-20();
      }
    }

    // Change Sort Icon
    .is-sortable {
      ids-icon {
        @include text-graphite-60();
      }

      &[aria-sort='descending'] ids-icon {
        &:last-child {
          @include text-graphite-40();
        }
      }

      &[aria-sort='ascending'] ids-icon {
        &:first-child {
          @include text-graphite-40();
        }
      }
    }
  }
}

// Handle RTL
:host([dir='rtl']) {
  // Hide first/last border
  .ids-data-grid-cell {
    &:first-child {
      border-left-style: solid;
    }
    &:last-child {
      border-left-style: hidden;
    }
  }
  .ids-data-grid-header-cell {
    &:first-child {
      border-left-style: solid;
    }
    &:last-child {
      border-left-style: hidden;
    }
  }
}

