@use '../../themes/mixins/ids-core-mixins' as mixins;
@import './ids-data-grid-filters';
@import './ids-data-grid-header';
@import './ids-data-grid-row';
@import './ids-data-grid-cell';
@import '../../components/ids-popup-menu/ids-popup-menu';
@import '../../themes/mixins/ids-checkbox-mixin';
@import '../../themes/mixins/ids-radio-mixin';

:host {
  --ids-data-grid-column-widths: repeat(1, minmax(110px, 1fr));
}

.ids-data-grid {
  // Outside border and Background and sizing
  background-color: var(--ids-data-grid-color-background);
  border: 1px solid var(--ids-data-grid-cell-color-border);
  border-radius: var(--ids-border-radius-01);
  border-collapse: collapse;
  box-sizing: border-box;
  contain: content;
  overflow: auto;
  width: 100%;

  // Needed so sticky header works in safari
  display: inline-grid;
  align-content: flex-start;

  // Font Info
  @include mixins.antialiased();

  font-family: var(--ids-font-family-default);
  font-size: var(--ids-font-size-40);

  // Selection Checkbox
  .ids-data-grid-checkbox-container {
    cursor: var(--ids-cursor-pointer);
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ids-data-grid-checkbox {
    @include checkbox-unchecked();

    &.editable {
      cursor: var(--ids-cursor-pointer);
    }

    border-color: var(--ids-data-grid-cell-checkbox-color-border);
    position: relative;
    left: 0;
    top: 0;

    &.disabled {
      @include checkbox-disabled-unchecked();
    }

    &.checked {
      @include checkbox-checked();

      &::after {
        @include checkbox-checked-after();

        animation: none;
      }

      &.disabled {
        @include checkbox-disabled-checked();
      }
    }

    &.indeterminate {
      @include checkbox-indeterminate();

      &::after {
        @include checkbox-indeterminate-after();

        animation: none;
      }
    }
  }

  // Selection Radio
  .ids-data-grid-radio-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ids-data-grid-radio {
    @include radio-unchecked();

    cursor: var(--ids-cursor-pointer);
    position: relative;
    left: 0;
    top: 0;

    &::after {
      @include radio-unchecked-after();
    }

    &.disabled {
      @include radio-disabled-unchecked();
    }

    &.checked {
      @include radio-checked();

      &::after {
        @include radio-checked-after();
      }

      &.disabled {
        @include radio-disabled-checked();
      }
    }
  }

  // Tree Grid
  .ids-data-grid-cell .ids-data-grid-tree-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    ids-button + .text-ellipsis {
      padding-inline-start: 0;
    }

    ids-button {
      padding-inline: 4px;
    }

    .text-ellipsis {
      // No Ellipsis on tree columns, let links be focusable
      overflow: initial;
      padding-inline-start: 40px;

      ids-hyperlink {
        margin-inline-start: 0;
      }
    }
  }

  // Dynamically added indents
  @for $i from 2 through 8 {
    [aria-level='#{$i}'] .ids-data-grid-cell .ids-data-grid-tree-container .text-ellipsis {
      padding-inline-start: #{(($i - 2) * 27) + 64px};
    }
    [aria-level='#{$i}'] .ids-data-grid-cell .ids-data-grid-tree-container ids-button {
      padding-inline-start: #{(($i - 2) * 27) + 55px};
    }
    [aria-level='#{$i}'] .ids-data-grid-cell .ids-data-grid-tree-container ids-button + .text-ellipsis {
      padding-inline-start: 0;
    }
  }

  // List Style Feature
  &.is-list-style {
    border-width: 0;
  }
}

// Used for Frozen Columns
.ids-data-grid-body {
  min-width: fit-content;
}

// Standalone Css Borders
table.ids-data-grid {
  display: table;
  outline: 1px solid var(--ids-data-grid-cell-color-border);
  outline-offset: -1px;
}

// Empty Message
.ids-data-grid-wrapper.has-empty-message {
  position: relative;
  display: grid;

  ids-empty-message:not([hidden]),
  ::slotted(ids-empty-message:not([hidden])) {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    top: 80px;
    bottom: 20px;
  }

  .ids-data-grid {
    min-height: var(--ids-data-grid-height-min);
  }
}
