/* Ids Data Grid Component - Filter */
.ids-data-grid {
  ::slotted([slot^='filter-']) {
    align-items: center;
    display: flex;
  }

  .ids-data-grid-header-cell-content.vertical-align-center {
    position: relative;
    top: calc(50% - var(--ids-space-60));
  }

  .ids-data-grid-header-cell-filter-wrapper {
    align-items: center;
    display: flex;
    position: relative;
    padding-inline-start: var(--ids-space-40);
    padding-inline-end: var(--ids-space-40);
    padding-block-end: var(--ids-space-40);

    &.hidden {
      display: none;
    }

    ids-dropdown[compact] ids-list-box-option {
      font-size: unset;
      min-height: var(--ids-size-20);
    }
  }

  .ids-data-grid-header-cell.is-uppercase {
    .ids-data-grid-header-cell-filter-wrapper {
      ids-list-box-option,
      ids-dropdown::part(triggerfield-input),
      ids-input::part(input) {
        text-transform: uppercase;
      }
    }
  }
}
