@import '../../core/ids-base';

$cell-border-color: var(--ids-color-palette-slate-30);

// Cell Styles
.ids-data-grid-cell {
  // Border and Background
  @include border-0();
  @include border-l-1();
  @include border-b-1();
  @include border-solid();
  @include inline-flex();
  @include text-slate-100();

  align-items: center;
  border-color: $cell-border-color;
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  // Hide first/last border
  &:first-child {
    border-inline-start-width: 0;
  }

  // Reset badge margin to center it vertically
  ids-badge::part(badge) {
    @include mb-0();
    @include mr-0();
  }

  ids-badge {
    @include px-16();
  }

  ids-hyperlink {
    @include m-16();
  }

  // Text ellipsis
  .text-ellipsis {
    @include block();
    @include px-16();

    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Text Alignment
  &.align-center > *:first-child {
    margin: 0 auto;
  }

  &.align-right > *:first-child {
    margin-inline-start: auto;
    margin-inline-end: 0;
  }

  // Readonly and disabled Cells
  &.is-readonly {
    background-color: rgba(0 0 0 / 0.07);
  }

  &.is-disabled {
    color: var(--ids-color-palette-slate-30);
  }

  // Focus State
  &:focus,
  &.is-editing:not(.is-inline):focus-within {
    @include shadow();

    outline: 1px solid var(--ids-color-palette-azure-60);
    outline-offset: -1px;
  }

  &.is-editable.is-inline {
    box-shadow: inset 0 0 0 4px white, inset 0 0 0 5px var(--ids-color-palette-slate-40);

    ids-icon.dropdown-cell-icon {
      visibility: visible;
      margin-inline-end: 14px;
    }
  }

  &.is-editing ids-checkbox {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    left: 6px;
    top: 4px;
  }

  // Dropdown Editable Cell
  &.is-editable.is-dropdown {
    .dropdown-cell-value {
      @include w-full();
    }

    .dropdown-cell-icon {
      margin-inline-end: 10px;
      visibility: hidden;
    }

    // is-borderless:hover
    &:not(.is-inline):focus,
    &:not(.is-inline):hover {
      .dropdown-cell-icon {
        visibility: visible;
      }

      ids-alert {
        margin-inline: calc(100% - 48px);
      }
    }
  }

  // Dropdown Editing
  &.is-editing.is-dropdown {
    overflow: visible;

    &.is-dirty::before {
      margin-inline: 3px;
    }
  }

  // Dropdown Editing Borderless
  &.is-editing.is-dropdown:not(.is-inline) {
    border-left-width: 0;
  }

  // Dropdown Editing Inline
  &.is-editing.is-dropdown.is-inline {
    box-shadow: none;

    ids-dropdown {
      padding: 0 4px;
    }

    &.is-dirty::before {
      margin-inline: 6px;
    }
  }

  // Frozen Cells
  &.frozen {
    @include bg-white();

    position: sticky;
    z-index: 3;
  }

  // Change borders for scrolling
  &.frozen-last {
    border-inline-end-width: 1px;

    + .ids-data-grid-cell {
      border-inline-start-width: 0;
    }
  }

  &.frozen-left {
    position: sticky;
    left: 0;

    // Dynamically added widths
    @for $i from 2 through 10 {
      &:nth-of-type(#{$i}) {
        left: var(--ids-data-grid-frozen-column-left-width-#{$i});
      }
    }
  }

  &.frozen-right {
    position: sticky;
    right: 0;
  }

  &.is-dirty::before {
    border-color: var(--ids-color-palette-amber-30) transparent transparent var(--ids-color-palette-amber-30);
    border-style: solid;
    border-width: 5px;
    content: '';
    display: inline-block;
    margin-inline: 2px;
    position: absolute;
    top: 2px;
    z-index: 1;
  }

  &.is-dirty.is-inline::before {
    margin-inline: 6px;
    top: 6px;
  }

  &.is-invalid {
    background-color: rgba(232 79 79 / 0.1);
  }

  ids-alert {
    position: relative;
    margin-inline: calc(100% - 24px);
    margin-top: 3px;
  }
}

[data-row-height='xs'] {
  .ids-data-grid-cell.is-dirty::before {
    border-width: 4px;
  }

  .ids-data-grid-cell.is-dirty.is-inline::before {
    margin-inline: 3px;
    top: 3px;
  }

  .is-editable.is-inline {
    box-shadow: inset 0 0 0 2px white, inset 0 0 0 3px var(--ids-color-palette-slate-40);
  }
}

[data-row-height='sm'] {
  .is-editable.is-inline {
    box-shadow: inset 0 0 0 3px white, inset 0 0 0 4px var(--ids-color-palette-slate-40);
  }

  .ids-data-grid-cell.is-dirty.is-inline::before {
    margin-inline: 5px;
    top: 5px;
  }
}

// List Style Feature
.ids-data-grid.is-list-style {
  // Change Cell Borders/BG
  .ids-data-grid-cell {
    border-inline-start-width: 0;
    border-bottom: 1px solid var(--ids-color-palette-slate-20);

    &.is-readonly {
      background-color: rgba(0 0 0 / 0.07);
    }

    &.is-disabled {
      color: var(--ids-color-palette-slate-30);
    }
  }

  .ids-data-grid-body .ids-data-grid-row:first-child .ids-data-grid-cell {
    border-top: 0;
  }
}

// Standalone Css
td.ids-data-grid-cell {
  @include table-cell();
  @include px-16();
}

// Dark Theme
.ids-data-grid[mode='dark'] {
  .ids-data-grid-cell {
    @include border-slate-60();
    @include text-white();

    &.is-readonly {
      background-color: rgba(119 119 124 / 0.18);
    }

    &.is-disabled {
      color: var(--ids-color-palette-slate-50);
    }

    &.frozen {
      @include bg-slate-100();
    }

    &.is-invalid {
      background-color: rgba(232 79 79 / 0.1);
    }

    &.is-dirty::before {
      border-color: var(--ids-color-palette-amber-40) transparent transparent var(--ids-color-palette-amber-40);
    }

    .ids-data-grid-checkbox {
      @include border-slate-40();

      &.disabled {
        @include bg-slate-50();
        @include border-slate-50();
      }
    }

    .ids-data-grid-checkbox.checked {
      @include border-azure-60();

      &.disabled {
        @include bg-slate-50();
        @include border-slate-50();
      }
    }

    &.is-editable.is-inline {
      box-shadow: inset 0 0 0 4px var(--ids-color-palette-slate-100), inset 0 0 0 5px var(--ids-color-palette-slate-40);
    }
  }
}

// Contrast Theme
.ids-data-grid[mode='contrast'] {
  .ids-data-grid-cell {
    @include border-slate-50();
    @include text-slate-100();

    &.is-readonly {
      background-color: rgba(0 0 0 / 0.09);
    }

    &.is-disabled {
      color: var(--ids-color-palette-slate-40);
    }

    &.is-invalid {
      background-color: rgba(232 79 79 / 0.1);
    }

    &.is-dirty::before {
      border-color: var(--ids-color-palette-amber-40) transparent transparent var(--ids-color-palette-amber-40);
    }

    &:focus {
      box-shadow: 0 0 0 1px var(--ids-color-palette-azure-80);
      outline: 1px solid var(--ids-color-palette-azure-80);
    }

    .ids-data-grid-checkbox {
      @include border-slate-90();

      &.disabled {
        @include bg-slate-60();
        @include border-slate-60();
      }
    }

    .ids-data-grid-checkbox.checked {
      @include border-azure-90();

      &.disabled {
        @include bg-slate-60();
        @include border-slate-60();
      }
    }

    &.is-editing:not(.is-inline):focus-within {
      box-shadow: 0 0 0 1px var(--ids-color-palette-azure-80);
      outline: 1px solid var(--ids-color-palette-azure-80);
    }
  }

  // List Style Feature
  &.is-list-style {
    // Change Cell Borders/BG
    .ids-data-grid-cell {
      &.is-readonly {
        background-color: rgba(0 0 0 / 0.09);
      }
    }
  }
}

// Handle RTL
:host([dir='rtl']) {
  .ids-data-grid.is-list-style {
    .ids-data-grid-cell {
      border-inline-end-width: 0;
    }
  }

  // Negate Borders
  .ids-data-grid-cell {
    &:last-child {
      border-inline-end-width: 0;
    }

    &.is-dirty::before {
      border-color: var(--ids-color-palette-amber-30)  var(--ids-color-palette-amber-30) transparent  transparent;
    }
  }

  .ids-data-grid[mode='contrast'] {
    ids-data-grid-cell &.is-dirty::before {
      /* stylelint-disable-next-line max-line-length */
      border-color: var(--ids-color-palette-amber-50)  var(--ids-color-palette-amber-50) transparent  transparent !important;
    }
  }
}
