@import '../ids-base/ids-base';

// Used to make the focus "border" appear to be separated from the button.
@mixin solid-button-shadow() {
  box-shadow:
    0 0 0 2px var(--ids-color-palette-white), // bg color
    0 0 0 3px var(--ids-color-palette-azure-70), // primary color (border)
    0 0 4px 3px var(--ids-color-palette-azure-70) // primary color (shadowy-part)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ids-button {
  @include border-1();
  @include border-solid();
  @include font-normal();
  @include font-sans();
  @include px-28();
  @include py-8();
  @include rounded-default();
  @include text-16();

  // Nothing inside the button itself should accept mouse events
  * {
    pointer-events: none;
  }

  // Base Button styles (default/tertiary)
  @include bg-transparent();
  @include border-transparent();
  @include text-slate-70();

  // Animate BG/Text/Border color changes on all styles
  transition:
    background-color $transition-length $transition-ease,
    border-color $transition-length $transition-ease,
    box-shadow $transition-length $transition-ease,
    color $transition-length $transition-ease,
    opacity $transition-length $transition-ease;

  &:focus {
    @include border-azure-70();
    @include shadow();

    // Disable standard focus state in Chrome
    outline: none;
    outline-color: transparent;
  }

  &:hover {
    @include text-black();
  }

  &[disabled] {
    @include text-slate-50();
  }

  &:not([disabled]) {
    @include cursor-pointer();
  }

  &.btn-primary {
    @include bg-azure-70();
    @include border-azure-70();
    @include text-white();

    &:focus {
      @include solid-button-shadow();
    }

    &:hover {
      @include bg-azure-80();
    }

    &[disabled] {
      @include bg-azure-30();
      @include border-azure-30();
    }
  }

  &.btn-secondary {
    @include bg-slate-30();
    @include bg-slate-30();
    @include text-slate-90();

    &:focus {
      @include solid-button-shadow();
    }

    &:hover {
      @include bg-slate-40();
    }

    &[disabled] {
      @include bg-slate-50();
      @include border-slate-20();
    }
  }

  &.btn-tertiary,
  &.btn-destructive {
    @include border-transparent();

    &:focus {
      @include border-azure-70();
      @include shadow();
    }

    &:hover {
      @include text-black();
    }

    &[disabled] {
      @include text-slate-50();
    }
  }
}
