/**
 * Ids Button Component CSS
 * (Includes standard and icon button rules)
 */
@import './ids-button-base';

:host {
  @include inline-flex();

  ::slotted(span) {
    vertical-align: bottom;
  }

  ::slotted(ids-icon) {
    vertical-align: middle;
  }

  ::slotted(span.audible) {
    @include audible();
  }
}

.ripple-effect {
  @include block();
  @include rounded-round();

  opacity: 0;
  position: absolute;
  transform: scale(0);

  &.animating {
    @include animation(ripple-animation 1.2s ease-out);
  }
}

.ids-button,
.ids-toggle-button,
.ids-menu-button {
  @include ids-base-button-styles();

  // Padding rules for buttons that insert both text/icon into the fallback (unnamed) slot.
  ::slotted(ids-icon:nth-child(2):last-child), // shadowroot + text + icon
  ::slotted(span:nth-child(2):last-child), // shadowroot + icon + text
  ::slotted(span:nth-child(3):last-child) { // shadowroot + icon + (audible text) + text
    @include pl-4();
  }

  .ids-icon {
    @include inline-flex();

    place-self: center;
    vertical-align: middle;
  }

  // Padding rules for standalone CSS buttons (match the rules/style above)
  .ids-icon:last-child,
  span + span,
  span:last-child {
    @include pl-4();
  }

  // Technically not valid
  ::slotted(ids-icon:only-child) {
    @include block();
  }

  .ripple-effect {
    height: 250px;
    width: 250px;
  }
}

.ids-icon-button {
  @include ids-base-button-styles();

  // Everything below is only for icon buttons
  @include px-8();
  @include py-8();

  &:not(.square) {
    @include rounded-round();
  }

  // Fixes an issue that the ripple is not "round" on safari
  -webkit-mask-image: radial-gradient(var(--ids-color-palette-azure-10), var(--ids-color-palette-azure-10));
  mask-image: radial-gradient(var(--ids-color-palette-azure-10), var(--ids-color-palette-azure-10));

  .ids-icon {
    @include block();
    @include pl-0();

    font-size: 0;
  }

  span.audible {
    @include audible();
  }

  .ripple-effect {
    height: 70px;
    width: 70px;
  }
}

@include keyframes(ripple-animation) {
  from {
    @include opacity-50();

    transform: scale(0);
  }

  to {
    @include opacity-0();

    transform: scale(2);
  }
}

// ====================================================
// Swipe Action Buttons (Swipe action component)
.btn-swipe-action-left,
.btn-swipe-action-right {
  @include bg-slate-30();
  @include text-slate-100();

  border-radius: 0;
  display: block;
  padding: 0 8px 8px;
  height: 100%;
  margin: 0;
  white-space: inherit;
  width: 85px;

  ::slotted(ids-icon) {
    display: block;
  }

  &:focus {
    box-shadow: none;
    border-color: transparent;
  }

  &:active {
    @include bg-slate-40();
  }

  &:hover {
    @include bg-slate-40();

    box-shadow: none;
    border-color: transparent;
  }
}

.btn-swipe-action-right {
  @include bg-azure-70();
  @include text-white();

  &:hover {
    @include bg-azure-80();
    @include text-white();
  }

  &:active {
    @include bg-azure-80();
  }
}

.btn-swipe-action-left[mode='dark'] {
  @include bg-slate-60();
}

.btn-swipe-action-right[mode='dark'] {
  @include bg-azure-50();
}

.btn-swipe-action-left[mode='contrast'] {
  @include bg-slate-30();
}

.btn-swipe-action-right[mode='contrast'] {
  @include bg-azure-50();
  @include text-white();
}

.btn-swipe-action-left[mode='light'][version='classic'] {
  @include bg-graphite-30();
}

.btn-swipe-action-right[mode='light'][version='classic'] {
  @include bg-azure-50();
  @include text-white();
}

.btn-swipe-action-left[mode='dark'][version='classic'] {
  @include bg-graphite-60();
}

.btn-swipe-action-right[mode='dark'][version='classic'] {
  @include bg-azure-60();
  @include text-white();
}

.btn-swipe-action-left[mode='contrast'][version='classic'] {
  @include bg-graphite-30();
}

.btn-swipe-action-right[mode='contrast'][version='classic'] {
  @include bg-azure-50();
  @include text-white();
}
