/**
 * Ids Button Base CSS
 * Use these mixins inside Ids Button CSS classes to define their base styles.
 */
@import '../ids-base/ids-base';

// Mixin for a "blank" shadow (same as the standard one with a completely transparent alpha)
@mixin blank-shadow() {
  box-shadow: 0 0 3px 2px rgba(54, 138, 192, 0);
}

// Used to make the focus "border" appear to be separated from the button.
@mixin solid-button-shadow() {
  box-shadow:
    0 0 0 2px var(--ids-color-palette-white), // bg color
    0 0 0 3px var(--ids-color-brand-primary-base), // primary color (border)
    0 0 4px 3px var(--ids-color-brand-primary-base) // primary color (shadowy-part)
}

// Used to include a basic set of ripple-effect styles
@mixin ids-base-ripple-styles() {
  .ripple-effect {
    @include block();
    @include rounded-round();

    height: 250px;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    width: 250px;

    &.animating {
      @include animation(ripple-animation 1.2s ease-out);
    }
  }
}

// Used to include a basic set of button styles within each individual button prototype.
@mixin ids-base-button-styles() {
  @include blank-shadow();
  @include border-1();
  @include border-solid();
  @include font-normal();
  @include font-sans();
  @include inline-flex();
  @include px-28();
  @include rounded-default();
  @include text-16();

  color: var(--ids-color-font-base);
  overflow: hidden;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  // Nothing inside the button itself should accept mouse events
  * {
    pointer-events: none;
  }

  // ====================================================
  // Base Button styles (default/tertiary)

  @include bg-transparent();
  @include border-transparent();

  // Animate BG/Text/Border color changes on all styles
  transition:
    background-color $transition-length $transition-ease,
    border-color $transition-length $transition-ease,
    box-shadow $transition-length $transition-ease,
    color $transition-length $transition-ease,
    opacity $transition-length $transition-ease;
  white-space: nowrap;

  &:focus {
    @include shadow();

    border-color: var(--ids-color-brand-primary-base);

    // Disable standard focus state in Chrome
    outline: none;
    outline-color: transparent;
  }

  &:hover {
    @include text-black();
  }

  &[disabled] {
    @include text-slate-30();
  }

  &:not([disabled]) {
    @include cursor-pointer();
  }

  // ====================================================
  // Standard element types inside the button
  span {
    vertical-align: bottom;

    &.audible {
      @include audible();
    }
  }

  .ids-icon {
    vertical-align: middle;
  }

  // ====================================================
  // Ripple effect customizations per style

  .ripple-effect {
    background-color: var(--ids-color-brand-primary-base);
  }

  // ====================================================
  // Primary Button styles

  &.btn-primary {
    background-color: var(--ids-color-brand-primary-base);
    border-color: var(--ids-color-brand-primary-base);
    color: var(--ids-color-brand-primary-contrast);

    &:focus {
      @include solid-button-shadow();
    }

    &:hover {
      @include bg-azure-80();
    }

    &[disabled] {
      @include bg-azure-30();
      @include border-azure-30();
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-primary-contrast);
    }
  }

  // ====================================================
  // Secondary Button styles

  &.btn-secondary {
    @include bg-slate-30();

    color: var(--ids-color-font-base);

    &:focus {
      @include solid-button-shadow();
    }

    &:hover {
      @include bg-slate-40();
    }

    &[disabled] {
      @include bg-slate-20();
      @include border-slate-20();
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-primary-contrast);
    }
  }

  // ====================================================
  // Tertiary/Destructive Button styles

  &.btn-tertiary,
  &.btn-destructive {
    @include border-transparent();

    &:focus {
      @include border-azure-70();
      @include shadow();
    }

    &:hover {
      @include text-black();
    }

    &[disabled] {
      @include text-slate-30();
    }
  }

  // ====================================================
  // Alignment changes

  &.align-icon-end {
    ids-icon[slot] {
      align-self: flex-end;
    }
  }
}

// Handle Dark Theme
.ids-button[mode='dark'],
.ids-icon-button[mode='dark'],
.ids-menu-button[mode='dark'],
.ids-button.btn-tertiary[mode='dark'],
.ids-icon-button.btn-tertiary[mode='dark'],
.ids-menu-button.btn-tertiary[mode='dark'] {
  @include text-slate-20();

  &[disabled] {
    @include text-slate-40();
  }

  &:hover {
    @include text-white();
  }
}

.ids-button.btn-primary[mode='dark'],
.ids-icon-button.btn-primary[mode='dark'] {
  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-slate-90), 0 0 0 3px var(--ids-color-palette-azure-60), 0 0 4px 2px rgba(141, 201, 230, 0.3);
  }

  &[disabled] {
    @include text-white();
  }
}

.ids-button.btn-secondary[mode='dark'],
.ids-icon-button.btn-secondary[mode='dark'] {
  @include border-slate-30();
  @include bg-slate-30();
  @include text-slate-80();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-slate-90), 0 0 0 3px var(--ids-color-palette-azure-60), 0 0 4px 2px rgba(141, 201, 230, 0.3);
  }

  &[disabled] {
    @include bg-slate-40();
    @include border-slate-40();
  }

  &:hover {
    @include border-slate-40();
    @include bg-slate-40();
  }
}

// Handle contrast Theme
.ids-button[mode='contrast'],
.ids-icon-button[mode='contrast'],
.ids-menu-button[mode='contrast'],
.ids-button.btn-tertiary[mode='contrast'],
.ids-icon-button.btn-tertiary[mode='contrast'] {
  @include text-slate-100();

  &[disabled] {
    @include text-slate-40();
  }

  &:hover {
    @include text-black();
  }
}

.ids-button.btn-primary[mode='contrast'],
.ids-icon-button.btn-primary[mode='contrast'] {
  @include bg-azure-90();
  @include text-white();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-slate-10), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
  }

  &[disabled] {
    @include bg-azure-30();
  }
}

.ids-button.btn-secondary[mode='contrast'],
.ids-icon-button.btn-secondary[mode='contrast'] {
  @include bg-slate-70();
  @include text-white();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-slate-10), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
  }

  &[disabled] {
    @include bg-slate-40();
    @include border-slate-40();
  }
}

// Handle Classic Light Theme
.ids-button[mode='light'][version='classic'],
.ids-icon-button[mode='light'][version='classic'],
.ids-menu-button[mode='light'][version='classic'],
.ids-button.btn-tertiary[mode='light'][version='classic'],
.ids-icon-button.btn-tertiary[mode='light'][version='classic'] {
  @include text-graphite-100();

  &[disabled] {
    @include text-graphite-40();
  }

  &:hover {
    @include text-black();
  }
}

.ids-button.btn-primary[mode='light'][version='classic'],
.ids-icon-button.btn-primary[mode='light'][version='classic'] {
  @include bg-azure-50();
  @include text-white();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-10), 0 0 0 3px var(--ids-color-palette-azure-50), 0 0 4px 2px rgba(54, 138, 192, 0.3);
  }

  &[disabled] {
    @include bg-azure-30();
  }
}

.ids-button.btn-secondary[mode='light'][version='classic'],
.ids-icon-button.btn-secondary[mode='light'][version='classic'] {
  @include bg-graphite-30();
  @include text-graphite-80();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-10), 0 0 0 3px var(--ids-color-palette-azure-50), 0 0 4px 2px rgba(54, 138, 192, 0.3);
  }

  &[disabled] {
    @include bg-graphite-20();
    @include border-graphite-20();
    @include text-graphite-40();
  }
}

// Handle Dark Classic Theme
.ids-button[mode='dark'][version='classic'],
.ids-icon-button[mode='dark'][version='classic'],
.ids-menu-button[mode='dark'][version='classic'],
.ids-button.btn-tertiary[mode='dark'][version='classic'],
.ids-icon-button.btn-tertiary[mode='dark'][version='classic'] {
  @include text-classic-slate-10();

  &[disabled] {
    @include text-classic-slate-50();

    &:hover {
      @include text-classic-slate-50();
    }
  }

  &:hover {
    @include text-white();
  }
}

.ids-button.btn-primary[mode='dark'][version='classic'],
.ids-icon-button.btn-primary[mode='dark'][version='classic'] {
  @include bg-azure-50();
  @include border-azure-50();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-classic-slate-80), 0 0 0 3px var(--ids-color-palette-azure-50), 0 0 4px 2px rgba(141, 201, 230, 0.3);
  }

  &[disabled] {
    @include bg-azure-80();
    @include border-azure-80();
    @include text-classic-slate-40();
  }
}

.ids-button.btn-secondary[mode='dark'][version='classic'],
.ids-icon-button.btn-secondary[mode='dark'][version='classic'] {
  @include bg-classic-slate-30();
  @include border-classic-slate-30();
  @include text-classic-slate-100();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-classic-slate-80), 0 0 0 3px var(--ids-color-palette-azure-50), 0 0 4px 2px rgba(141, 201, 230, 0.3);
  }

  &[disabled] {
    @include bg-classic-slate-50();
    @include border-classic-slate-50();
    @include text-classic-slate-80();
  }
}

// Handle contrast light Theme
.ids-button[mode='contrast'][version='classic'],
.ids-icon-button[mode='contrast'][version='classic'],
.ids-menu-button[mode='contrast'][version='classic'],
.ids-button.btn-tertiary[mode='contrast'][version='classic'],
.ids-icon-button.btn-tertiary[mode='contrast'][version='classic'] {
  @include text-graphite-70();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-20), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
  }

  &[disabled] {
    @include text-graphite-40();
  }

  &:hover {
    @include text-black();
  }
}

.ids-button.btn-primary[mode='contrast'][version='classic'],
.ids-icon-button.btn-primary[mode='contrast'][version='classic'] {
  @include bg-azure-90();
  @include border-azure-90();
  @include text-white();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-20), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
  }

  &[disabled] {
    @include bg-azure-70();
    @include border-azure-90();
  }
}

.ids-button.btn-secondary[mode='contrast'][version='classic'],
.ids-icon-button.btn-secondary[mode='contrast'][version='classic'] {
  @include bg-graphite-70();
  @include border-graphite-70();
  @include text-white();

  &:focus {
    box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-20), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
  }

  &[disabled] {
    @include bg-graphite-50();
    @include border-graphite-50();
    @include text-graphite-20();
  }
}
