/**
 * Ids Toggle Button CSS
 */
@import './ids-button-base';

:host {
  @include inline-flex();
}

::slotted(ids-icon),
::slotted(span) {
  vertical-align: middle;
}

.ripple-effect {
  @include block();
  @include opacity-0();
  @include rounded-round();

  height: 250px;
  position: absolute;
  transform: scale(0);
  width: 250px;

  &.animating {
    @include animation(ripple-animation 1.2s ease-out);
  }
}

.ids-toggle-button {
  @include ids-base-button-styles();
}

@include keyframes(ripple-animation) {
  from {
    opacity: 0.5;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
