/**
 * Ids Button Base CSS
 * Use these mixins inside Ids Button CSS classes to define their base styles.
 */
@import '../ids-base/ids-base';

// Mixin for a "blank" shadow (same as the standard one with a completely transparent alpha)
@mixin blank-shadow() {
  box-shadow: 0 0 3px 2px rgba(54, 138, 192, 0);
}

// Used to make the focus "border" appear to be separated from the button.
@mixin solid-button-shadow() {
  box-shadow:
    0 0 0 2px var(--ids-color-palette-white), // bg color
    0 0 0 3px var(--ids-color-brand-primary-base), // primary color (border)
    0 0 4px 3px var(--ids-color-brand-primary-base) // primary color (shadowy-part)
}

// Used to include a basic set of ripple-effect styles
@mixin ids-base-ripple-styles() {
  .ripple-effect {
    @include block();
    @include rounded-round();

    height: 250px;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    width: 250px;

    &.animating {
      @include animation(ripple-animation 1.2s ease-out);
    }
  }
}

// Used to include a basic set of button styles within each individual button prototype.
@mixin ids-base-button-styles() {
  @include blank-shadow();
  @include border-1();
  @include border-solid();
  @include font-normal();
  @include font-sans();
  @include px-28();
  @include text-16();

  overflow: hidden;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  // Nothing inside the button itself should accept mouse events
  * {
    pointer-events: none;
  }

  // ====================================================
  // Base Button styles (default/tertiary)

  @include bg-transparent();
  @include border-transparent();

  // Animate BG/Text/Border color changes on all styles
  transition:
    background-color $transition-length $transition-ease,
    border-color $transition-length $transition-ease,
    box-shadow $transition-length $transition-ease,
    color $transition-length $transition-ease,
    opacity $transition-length $transition-ease;
  white-space: nowrap;

  &:focus {
    // Disable standard focus state in Chrome
    outline: none;
    outline-color: transparent;
  }

  &:not([disabled]) {
    @include cursor-pointer();
  }

  // ====================================================
  // Standard element types inside the button
  span {
    vertical-align: bottom;

    &.audible {
      @include audible();
    }
  }

  .ids-icon {
    vertical-align: middle;
  }

  // ====================================================
  // Ripple effect customizations per style

  .ripple-effect {
    background-color: var(--ids-color-palette-azure-50);
  }

  // ====================================================
  // Alignment changes

  &.align-icon-end {
    ids-icon[slot] {
      align-self: flex-end;
    }
  }
}

/**
 * Provides the standard color rules for all regular buttons
 */
@mixin ids-standard-button-colors() {
  @include inline-flex();
  @include px-28();
  @include rounded-default();

  color: var(--ids-color-font-base);

  &:focus {
    @include shadow();

    border-color: var(--ids-color-brand-primary-base);
  }

  &:hover {
    @include text-black();
  }

  &[disabled] {
    @include text-slate-30();
  }

  // ====================================================
  // Primary Button styles

  &.btn-primary {
    background-color: var(--ids-color-brand-primary-base);
    border-color: var(--ids-color-brand-primary-base);
    color: var(--ids-color-brand-primary-contrast);

    &:focus {
      @include solid-button-shadow();
    }

    &:hover {
      @include bg-azure-80();
    }

    &[disabled] {
      @include bg-azure-30();
      @include border-azure-30();
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-primary-contrast);
    }
  }

  // ====================================================
  // Secondary Button styles

  &.btn-secondary {
    @include bg-slate-30();

    color: var(--ids-color-font-base);

    &:focus {
      @include solid-button-shadow();
    }

    &:hover {
      @include bg-slate-40();
    }

    &[disabled] {
      @include bg-slate-20();
      @include border-slate-20();
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-primary-contrast);
    }
  }

  // ====================================================
  // Tertiary/Destructive Button styles

  &.btn-tertiary,
  &.btn-destructive {
    @include border-transparent();

    &:focus {
      @include border-azure-70();
      @include shadow();
    }

    &:hover {
      @include text-black();
    }

    &[disabled] {
      @include text-slate-30();
    }
  }

  // ====================================================
  // Dark Mode

  &[mode='dark'] {
    @include text-slate-20();

    &[disabled] {
      @include text-slate-40();
    }

    &:hover {
      @include text-white();
    }
  }

  // ====================================================
  // High-Contrast Mode

  &[mode='contrast'] {
    @include text-slate-100();

    &[disabled] {
      @include text-slate-40();
    }

    &:hover {
      @include text-black();
    }
  }

  // ====================================================
  // "Classic" Light Mode

  &[mode='light'][version='classic'] {
    @include text-graphite-100();

    &[disabled] {
      @include text-graphite-40();
    }

    &:hover {
      @include text-black();
    }
  }

  // ====================================================
  // "Classic" Dark Mode

  &[mode='dark'][version='classic'] {
    @include text-classic-slate-10();

    &[disabled] {
      @include text-classic-slate-50();

      &:hover {
        @include text-classic-slate-50();
      }
    }

    &:hover {
      @include text-white();
    }
  }

  // ====================================================
  // "Classic" High-Contrast Mode

  &[mode='contrast'][version='classic'] {
    @include text-graphite-70();

    &:focus {
      box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-20), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
    }

    &[disabled] {
      @include text-graphite-40();
    }

    &:hover {
      @include text-black();
    }
  }
}

/**
 * Provides the standard color rules for buttons that need box shadow
 */
@mixin ids-standard-contextual-button-colors() {
  &.btn-primary {
    // ====================================================
    // Primary Dark Mode

    &[mode='dark'] {
      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-slate-90), 0 0 0 3px var(--ids-color-palette-azure-60), 0 0 4px 2px rgba(141, 201, 230, 0.3);
      }

      &[disabled] {
        @include text-white();
      }
    }

    // ====================================================
    // Primary High-Contrast Mode

    &[mode='contrast'] {
      @include bg-azure-90();
      @include text-white();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-slate-10), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
      }

      &[disabled] {
        @include bg-azure-30();
      }
    }

    // ====================================================
    // Primary "Classic" Light Mode

    &[mode='light'][version='classic'] {
      @include bg-azure-50();
      @include text-white();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-10), 0 0 0 3px var(--ids-color-palette-azure-50), 0 0 4px 2px rgba(54, 138, 192, 0.3);
      }

      &[disabled] {
        @include bg-azure-30();
      }
    }

    // ====================================================
    // Primary "Classic" Dark Mode

    &[mode='dark'][version='classic'] {
      @include bg-azure-50();
      @include border-azure-50();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-classic-slate-80), 0 0 0 3px var(--ids-color-palette-azure-50), 0 0 4px 2px rgba(141, 201, 230, 0.3);
      }

      &[disabled] {
        @include bg-azure-80();
        @include border-azure-80();
        @include text-classic-slate-40();
      }
    }

    // ====================================================
    // Primary "Classic" High-Contrast Mode

    &[mode='contrast'][version='classic'] {
      @include bg-azure-90();
      @include border-azure-90();
      @include text-white();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-20), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
      }

      &[disabled] {
        @include bg-azure-70();
        @include border-azure-90();
      }
    }
  }

  &.btn-secondary {
    // ====================================================
    // Secondary Dark Mode

    &[mode='dark'] {
      @include border-slate-30();
      @include bg-slate-30();
      @include text-slate-80();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-slate-90), 0 0 0 3px var(--ids-color-palette-azure-60), 0 0 4px 2px rgba(141, 201, 230, 0.3);
      }

      &[disabled] {
        @include bg-slate-40();
        @include border-slate-40();
      }

      &:hover {
        @include border-slate-40();
        @include bg-slate-40();
      }
    }

    // ====================================================
    // Secondary High-Contrast Mode

    &[mode='contrast'] {
      @include bg-slate-70();
      @include text-white();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-slate-10), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
      }

      &[disabled] {
        @include bg-slate-40();
        @include border-slate-40();
      }
    }

    // ====================================================
    // Secondary "Classic" Light Mode

    &[mode='light'][version='classic'] {
      @include bg-graphite-30();
      @include text-graphite-80();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-10), 0 0 0 3px var(--ids-color-palette-azure-50), 0 0 4px 2px rgba(54, 138, 192, 0.3);
      }

      &[disabled] {
        @include bg-graphite-20();
        @include border-graphite-20();
        @include text-graphite-40();
      }
    }

    // ====================================================
    // Secondary "Classic" Dark Mode

    &[mode='dark'][version='classic'] {
      @include bg-classic-slate-30();
      @include border-classic-slate-30();
      @include text-classic-slate-100();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-classic-slate-80), 0 0 0 3px var(--ids-color-palette-azure-50), 0 0 4px 2px rgba(141, 201, 230, 0.3);
      }

      &[disabled] {
        @include bg-classic-slate-50();
        @include border-classic-slate-50();
        @include text-classic-slate-80();
      }
    }

    // ====================================================
    // Secondary "Classic" High-Contrast Mode

    &[mode='contrast'][version='classic'] {
      @include bg-graphite-70();
      @include border-graphite-70();
      @include text-white();

      &:focus {
        box-shadow: 0 0 0 2px var(--ids-color-palette-graphite-20), 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 4px 2px rgba(41, 41, 41, 0.3);
      }

      &[disabled] {
        @include bg-graphite-50();
        @include border-graphite-50();
        @include text-graphite-20();
      }
    }
  }
}

@mixin ids-alternate-button-colors() {
  // ====================================================
  // Primary Button styles

  &.btn-primary {
    background-color: var(--ids-color-brand-primary-contrast);
    // border-color: var(--ids-color-brand-primary-base);
    color: var(--ids-color-brand-primary-base);

    &:focus {
      @include solid-button-shadow();
    }

    &:hover {
    //  border-color: var(--ids-color-palette-azure-80);
      color: var(--ids-color-palette-azure-80);
    }

    &[disabled] {
      opacity: 0.3;
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-primary-base);
    }
  }

  // ====================================================
  // Secondary/Tertiary/Destructive Button styles

  &.btn-secondary,
  &.btn-tertiary,
  &.btn-destructive {
    @include bg-slate-30();

    background-color: var(--ids-color-brand-primary-contrast);
    // border-color: var(--ids-color-brand-secondary-contrast);
    color: var(--ids-color-brand-secondary-contrast);

    &:focus {
      @include solid-button-shadow();
    }

    &:hover {
      // border-color: var(--ids-color-palette-slate-100);
      color: var(--ids-color-palette-slate-100);
    }

    &[disabled] {
      @include bg-slate-20();
      @include border-slate-20();
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-secondary-contrast);
    }
  }
}
