.ids-swaplist {
  box-shadow: var(--ids-swaplist-shadow);
  display: flex;
  flex-direction: row;
}

.swap-buttons {
  margin-inline-start: auto;
}

ids-swappable-item {
  padding: var(--ids-swaplist-item-padding);
  padding-inline-start: var(--ids-swaplist-item-padding-inline-start);
  position: relative;
  margin-block-end: var(--ids-swaplist-item-margin-block-end);

  &.is-hidden {
    height: 0;
    padding: 0;
    border: none;
    overflow: hidden;
  }
}

ids-swappable-item[over] {
  border: var(--ids-swaplist-item-over-border);
}

ids-button {
  position: relative;
  padding: var(--ids-swaplist-toolbar-button-padding);
  height: var(--ids-swaplist-button-height);
  width: var(--ids-swaplist-button-width);

  &::part(button) {
    padding: var(--ids-swaplist-toolbar-button-padding);;
    align-items: center;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: var(--ids-swaplist-button-color-background-hover);
    }
  }
}

ids-card {
  flex: 1;

  &::part(card) {
    margin-block-end: var(--ids-swaplist-card-margin-block-end);
  }

  &::part(header) {
    border-block-end: var(--ids-swaplist-border);
  }

  &::part(content) {
    height: var(--ids-swaplist-card-content-height-min);
  }

  &.card {
    &::part(card) {
      border-radius: var(--ids-swaplist-card-border-radius);
      border-inline-start-width: var(--ids-swaplist-inline-start-border-width);
      box-shadow: var(--ids-swaplist-card-shadow);
    }

    &:first-child {
      &::part(card) {
        border-inline-start-width: var(--ids-swaplist-first-child-inline-start-border-width);
        border-start-start-radius: var(--ids-swaplist-border-radius);
        border-end-start-radius: var(--ids-swaplist-border-radius);
      }
    }

    &:last-child {
      &::part(card) {
        border-start-end-radius: var(--ids-swaplist-border-radius);
        border-end-end-radius: var(--ids-swaplist-border-radius);
      }
    }
  }
}
