.ids-swaplist {
  box-shadow: var(--ids-swaplist-box-shadow);
  display: flex;
  flex-direction: row;
}

.swap-buttons {
  margin-inline-start: auto;
}

ids-swappable-item {
  padding: var(--ids-swaplist-item-padding);
  padding-inline-start: var(--ids-swaplist-item-padding-inline-start);
  position: relative;
  margin-block-end: var(--ids-swaplist-item-margin-block-end);

  &.is-hidden {
    height: 0;
    padding: 0;
    border: none;
    overflow: hidden;
  }
}

ids-swappable-item[over] {
  border: var(--ids-swaplist-item-over-border);
}

ids-button {
  position: relative;
  padding: var(--ids-swaplist-toolbar-button-padding);
  height: var(--ids-swaplist-toolbar-button-height);
  width: var(--ids-swaplist-toolbar-button-width);

  &::part(button) {
    padding: var(--ids-swaplist-toolbar-button-padding);;
    align-items: center;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: var(--ids-swaplist-toolbar-button-hover-background-color);
    }
  }

  &::after,
  &::before {
    background-color: var(--ids-swaplist-toolbar-button-text-color);
    display: inline-block;
    content: '';
    position: absolute;
    top: 8px;
    left: 9px;
    z-index: 1;
  }

  &::after {
    box-shadow:
      0 6px 0 var(--ids-swaplist-toolbar-button-text-color),
      0 12px 0 var(--ids-swaplist-toolbar-button-text-color),
      16px 0 0 var(--ids-swaplist-toolbar-button-text-color),
      16px 6px 0 var(--ids-swaplist-toolbar-button-text-color),
      16px 12px 0 var(--ids-swaplist-toolbar-button-text-color);
    height: 5px;
    width: 2px;
  }

  &::before {
    box-shadow:
      13px 0 0 var(--ids-swaplist-toolbar-button-text-color),
      0 16px 0 var(--ids-swaplist-toolbar-button-text-color),
      13px 16px 0 var(--ids-swaplist-toolbar-button-text-color);
    height: 2px;
    width: 5px;
  }

  &:hover {
    &::after,
    &::before {
      background-color: var(--ids-swaplist-toolbar-button-hover-text-color);
    }

    &::after {
      box-shadow:
        0 6px 0 var(--ids-swaplist-toolbar-button-hover-text-color),
        0 12px 0 var(--ids-swaplist-toolbar-button-hover-text-color),
        16px 0 0 var(--ids-swaplist-toolbar-button-hover-text-color),
        16px 6px 0 var(--ids-swaplist-toolbar-button-hover-text-color),
        16px 12px 0 var(--ids-swaplist-toolbar-button-hover-text-color);
    }

    &::before {
      box-shadow:
        13px 0 0 var(--ids-swaplist-toolbar-button-hover-text-color),
        0 16px 0 var(--ids-swaplist-toolbar-button-hover-text-color),
        13px 16px 0 var(--ids-swaplist-toolbar-button-hover-text-color);
    }
  }
}

ids-card {
  flex: 1;

  &::part(card) {
    margin-block-end: var(--ids-swaplist-card-margin-block-end);
  }

  &::part(header) {
    border-block-end: var(--ids-swaplist-card-header-border-block-end);
  }

  &::part(content) {
    height: var(--ids-swaplist-card-content-height);
  }

  &.card {
    &::part(card) {
      border-radius: var(--ids-swaplist-card-border-radius);
      border-inline-start-width: var(--ids-swaplist-card-border-inline-start-width);
      box-shadow: var(--ids-swaplist-card-box-shadow);
    }

    &:first-child {
      &::part(card) {
        border-inline-start-width: var(--ids-swaplist-card-first-child-border-inline-start-width);
        border-start-start-radius: var(--ids-swaplist-border-radius);
        border-end-start-radius: var(--ids-swaplist-border-radius);
      }
    }

    &:last-child {
      &::part(card) {
        border-start-end-radius: var(--ids-swaplist-border-radius);
        border-end-end-radius: var(--ids-swaplist-border-radius);
      }
    }
  }
}
