@import '../../core/ids-base';

.ids-card {
  @include bg-white();
  @include border-1();
  @include border-slate-30();
  @include border-solid();
  @include rounded-md();
  @include mb-20();

  box-shadow: rgba(0 0 0 / 0.1) 0 0 8px;
  contain: content;
  height: 360px;

  .ids-card-content {
    @include w-full();

    height: 310px;
    overflow: auto;

    &.overflow-hidden {
      overflow: hidden;
    }
  }
}

// Adjust the width/height to parent fit
:host([auto-fit]) {
  .ids-card {
    @include box-border();
    @include h-full();
    @include m-0();

    display: flex;
    flex-direction: column;
    min-height: auto;

    .ids-card-content {
      height: unset;
    }
  }
}

// Adjust the heights with settings
:host([auto-height]) {
  .ids-card {
    min-height: auto;
    height: auto;

    .ids-card-header {
      display: none;
    }

    .ids-card-content {
      height: auto;
    }
  }
}

// Style the title
.ids-card-header {
  @include px-16();
  @include py-12();
  @include border-slate-30();
}

// Handle Themes
.ids-card[mode='dark'] {
  @include bg-slate-90();
  @include border-slate-70();

  box-shadow: 0 0 8px rgba(0 0 0 / 0.7);

  .ids-card-header {
    @include border-slate-70();
  }
}

.ids-card[mode='contrast'] {
  @include bg-white();
  @include border-slate-60();

  box-shadow: 0 0 8px rgba(0 0 0 / 0.1);
}

.ids-card[version='classic'] .ids-card-header {
  @include border-b-1();
}

.ids-card[version='classic'][mode='light'] {
  @include border-graphite-30();
  @include rounded-default();
  @include shadow-none();

  .ids-card-header {
    @include border-graphite-30();
  }
}

.ids-card[version='classic'][mode='dark'] {
  @include bg-classic-slate-80();
  @include border-classic-slate-60();
  @include rounded-default();
  @include shadow-none();

  .ids-card-header {
    @include border-classic-slate-60();
  }
}

.ids-card[version='classic'][mode='contrast'] {
  @include bg-white();
  @include border-classic-slate-60();
  @include rounded-default();
  @include shadow-none();

  .ids-card-header {
    @include border-classic-slate-60();
  }
}
