@import '../ids-base/ids-base.scss';

:host {
  @include block();

  ::slotted(ids-toolbar-section[type='fluid']) {
    flex-grow: 1;
  }
}

.ids-toolbar {
  @include flex();

  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
