@import '../ids-base/ids-base.scss';

:host {
  @include block();
}

.ids-toolbar-section {
  white-space: nowrap;
  width: auto;

  // ================================================
  // Alignments
  &.align-start {
    align-items: flex-start;
  }

  &.align-center {
    align-items: center;
  }

  &.align-end {
    align-items: flex-end;
  }

  // ================================================
  // Built-in Section Type Styles

  // Contains rows of buttons
  &.buttonset {
    @include px-4();
  }

  &.title,
  &.buttonset {
    flex-grow: 1;

    &:not(.favor) {
      overflow-x: hidden;
      overflow-y: auto;
      text-overflow: ellipsis;
    }

    &.static {
      flex-grow: 0;
    }
  }

  // Intended for use by developers that need "custom" sections that stretch to fit.
  // The default functionality is NOT to stretch.
  &.fluid {
    flex-grow: 1;
  }

  // Contains Searchfields
  &.search {
    @include px-12();
  }

  // ================================================
  //
}
