<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-text font-size="12" type="h1">Ids Hierarchy</ids-text>

    <ids-hierarchy-legend>
      <ids-hierarchy-legend-item
        text="Full Time"
        color-variant="full-time"
      ></ids-hierarchy-legend-item>
      <ids-hierarchy-legend-item
        text="Part Time"
        color-variant="part-time"
      ></ids-hierarchy-legend-item>
      <ids-hierarchy-legend-item
        text="Contractor"
        color-variant="contractor"
      ></ids-hierarchy-legend-item>
      <ids-hierarchy-legend-item
        text="Open Position"
        color-variant="open-position"
      ></ids-hierarchy-legend-item>
    </ids-hierarchy-legend>

    <ids-hierarchy>
      <ids-hierarchy-item id="item-1" root-item expanded color-variant="full-time">
        <img src="..../assets/images/images/headshot-1.jpg" alt="item-1" slot="avatar" />
        <ids-text slot="heading">Tony Cleveland</ids-text>
        <ids-text slot="subheading">Director</ids-text>
        <ids-text slot="micro">FT</ids-text>

        <ids-hierarchy-item id="item-2" color-variant="part-time">
          <ids-text slot="heading">Julie Dawes</ids-text>
          <ids-text slot="subheading">Records Clerk</ids-text>
          <ids-text slot="micro">PT</ids-text>
        </ids-hierarchy-item>
        <ids-hierarchy-item id="item-3" color-variant="contractor">
          <ids-text slot="heading">Kaylee Edwards</ids-text>
          <ids-text slot="subheading">Records Manager</ids-text>
          <ids-text slot="micro">C</ids-text>

          <ids-hierarchy-item id="item-4" color-variant="open-position">
            <ids-text slot="heading">Julie Dawes</ids-text>
            <ids-text slot="subheading">Records Clerk</ids-text>
            <ids-text slot="micro">OP</ids-text>

            <ids-hierarchy-item id="item-5" color-variant="contractor">
              <ids-text slot="heading">Tony Cleveland</ids-text>
              <ids-text slot="subheading">Director</ids-text>
              <ids-text slot="micro">C</ids-text>
            </ids-hierarchy-item>
          </ids-hierarchy-item>
        </ids-hierarchy-item>
      </ids-hierarchy-item>
    </ids-hierarchy>
  </ids-container>
</body>
</html>
