<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Toggle Button</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-layout-grid-cell>
        <ids-toggle-button
          id="test-favorite-button"
          icon-on="heart-filled"
          icon-off="heart-outlined"
          color="red"
          text-off="Favorite"
          text-on="Favorited"></ids-toggle-button>
        <ids-toggle-button
          id="test-star-button"
          icon-on="star-filled"
          color="orange"
          icon-off="star-outlined"
          text-off="Star"
          text-on="Starred"></ids-toggle-button>
        <ids-toggle-button
          id="test-filter-button"
          icon-on="filter"
          icon-off="filter"
          text-off="Filter"
          text-on="Filter"></ids-toggle-button>
       <ids-toggle-button
          id="test-disabled-button"
          disabled
          icon-on="filter"
          icon-off="filter"
          text-off="Filter"
          text-on="Filter"></ids-toggle-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
