.ids-draggable-demo-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100vh;
  height: 100vh;
}

ids-draggable {
  position: relative;
  width: 64px;
  height: 64px;
}

ids-draggable:nth-of-type(1) {
  border: 1px dashed var(--ids-color-palette-ruby-40);
}

ids-draggable:nth-of-type(2) {
  border: 1px dashed var(--ids-color-palette-emerald-40);
}

ids-draggable:nth-of-type(3) {
  border: 1px dashed var(--ids-color-palette-azure-40);
}

ids-draggable:nth-of-type(4) {
  border: 1px dashed var(--ids-color-palette-amethyst-40);
}

.draggable-limit-markers {
  position: absolute;
  left: 80px;
  top: 50%;
  width: 500px;
  transform: translateY(-50%);
  color: var(--ids-color-palette-amethyst-90);
}

ids-draggable:nth-of-type(5) {
  border: 1px dashed var(--ids-color-palette-amber-40);
}

.ids-draggable-handle-example {
  display: flex;
  flex-direction: row;
  border: 1px dashed var(--ids-color-palette-ruby-40);
  align-items: center;
  justify-content: center;
}

.ids-draggable-handle-example div:nth-child(2) {
  padding: 16px 8px;
}

.ids-draggable-handle {
  align-items: center;
  margin-right: 8px;
}
