/* Ids Notification Banner Component */
.ids-notification-banner {
  display: flex;
  padding-inline-start: var(--ids-notification-padding);
  align-items: center;
  height: var(--ids-notification-banner-height);
}

ids-alert,
.ids-alert {
  display: flex;
  margin-inline: var(--ids-notification-banner-padding);
}

ids-text::part(text),
.ids-text {
  color: var(--ids-notification-banner-color-text);
}

ids-hyperlink::part(link),
.ids-notification-banner-link a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  top: 2px;
  margin: 0 var(--ids-notification-banner-padding);
}

.ids-notification-banner-button {
  display: flex;
  margin-inline-start: auto;
  margin-inline-end: var(--ids-notification-banner-button-padding);

  ids-button
  .ids-icon-button {
    justify-content: center;
    align-items: center;
  }
}

ids-button::part(button):hover {
  background-color: var(--ids-notification-banner-button-color-background-hover);
}

.ids-notification-banner-message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ids-notification-banner[type='success'],
.ids-notification-banner.success {
  background-color: var(--ids-notification-banner-success-color-background);
}

.ids-notification-banner[type='caution'],
.ids-notification-banner.caution {
  background-color: var(--ids-notification-banner-caution-background-color);
}

.ids-notification-banner[type='warning'],
.ids-notification-banner.warning {
  background-color: var(--ids-notification-banner-warning-color-background);
}

.ids-notification-banner[type='info'],
.ids-notification-banner.info {
  background-color: var(--ids-notification-banner-info-color-background);
}

.ids-notification-banner[type='error'],
.ids-notification-banner.error {
  background-color: var(--ids-notification-banner-error-color-background);
}
