@import '../../core/ids-base';

.ids-notification-banner {
  @include flex();
  @include pl-8();

  align-items: center;
  height: 44px;
}

ids-alert,
.ids-alert {
  @include flex();
  @include mr-8();
}

ids-text::part(text),
.ids-text {
  color: var(--ids-color-palette-slate-80);
}

ids-hyperlink::part(link),
.ids-notification-banner-link a {
  font-weight: 300;
  color: var(--ids-color-palette-slate-80);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
  padding: 0;
  margin: 0 8px;
}

.ids-notification-banner-button {
  height: 100%;
  margin-inline-start: auto;

  ids-button,
  .ids-icon-button {
    height: 100%;
    width: 44px;
  }

  .ids-icon-button {
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
  }
}

.ids-notification-banner-message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ids-notification-banner[mode='light'],
.ids-notification-banner:not([mode]) {
  &[type='success'],
  &[type='alert'],
  &[type='info'],
  &[type='error'],
  &.success,
  &.alert,
  &.info,
  &.error {
    ids-text::part(text),
    .ids-text {
      color: var(--ids-color-palette-slate-80);
    }

    ids-hyperlink::part(link),
    .ids-hyperlink {
      color: var(--ids-color-palette-slate-80);
    }
  }
}

.ids-notification-banner[mode='contrast'] {
  &[type='success'],
  &[type='alert'],
  &[type='info'],
  &[type='error'],
  &.success,
  &.alert,
  &.info,
  &.error {
    ids-text::part(text),
    .ids-text {
      color: var(--ids-color-palette-slate-90);
    }

    ids-hyperlink::part(link),
    .ids-hyperlink {
      color: var(--ids-color-palette-slate-90);
    }
  }
}

.ids-notification-banner[mode='dark'] {
  &[type='success'],
  &[type='alert'],
  &[type='info'],
  &[type='error'],
  &.success,
  &.alert,
  &.info,
  &.error {
    ids-text::part(text) {
      color: var(--ids-color-palette-slate-10);
    }

    ids-hyperlink::part(link) {
      color: var(--ids-color-palette-slate-10);
    }
  }
}

.ids-notification-banner[type='success'],
.ids-notification-banner.success {
  &[mode='light'],
  &:not([mode]),
  &[mode='contrast'] {
    @include bg-emerald-10();
  }

  &[mode='dark'] {
    @include bg-emerald-100();
  }
}

.ids-notification-banner[type='alert'],
.ids-notification-banner.alert {
  &[mode='light'],
  &:not([mode]),
  &[mode='contrast'] {
    @include bg-amber-10();
  }

  &[mode='dark'] {
    @include bg-amber-100();
  }
}

.ids-notification-banner[type='info'],
.ids-notification-banner.info {
  &[mode='light'],
  &:not([mode]),
  &[mode='contrast'] {
    @include bg-azure-10();
  }

  &[mode='dark'] {
    @include bg-azure-100();
  }
}

.ids-notification-banner[type='error'],
.ids-notification-banner.error {
  &[mode='light'],
  &:not([mode]),
  &[mode='contrast'] {
    @include bg-ruby-10();
  }

  &[mode='dark'] {
    @include bg-ruby-100();
  }
}
