@import '../../core/ids-base';

.ids-notification-banner {
  @include flex();
  @include p-8();

  align-items: center;
}

ids-alert {
  @include flex();
  @include mx-8();
}

ids-text::part(text) {
  color: var(--ids-color-palette-slate-80);
}

ids-hyperlink::part(link) {
  font-weight: 300;
  color: var(--ids-color-palette-slate-80);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
  padding: 0;
  margin-left: 5px;
}

.ids-notification-banner-button {
  margin-inline-start: auto;
}

.ids-notification-banner-message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ids-notification-banner[mode='light'] {
  &[type='success'],
  &[type='alert'],
  &[type='info'],
  &[type='error'] {
    ids-text::part(text) {
      color: var(--ids-color-palette-slate-80);
    }

    ids-hyperlink::part(link) {
      color: var(--ids-color-palette-slate-80);
    }
  }
}

.ids-notification-banner[mode='contrast'] {
  &[type='success'],
  &[type='alert'],
  &[type='info'],
  &[type='error'] {
    ids-text::part(text) {
      color: var(--ids-color-palette-slate-90);
    }

    ids-hyperlink::part(link) {
      color: var(--ids-color-palette-slate-90);
    }
  }
}

.ids-notification-banner[mode='dark'] {
  &[type='success'],
  &[type='alert'],
  &[type='info'],
  &[type='error'] {
    ids-text::part(text) {
      color: var(--ids-color-palette-slate-10);
    }

    ids-hyperlink::part(link) {
      color: var(--ids-color-palette-slate-10);
    }
  }
}

.ids-notification-banner[type='success'] {
  &[mode='light'],
  &[mode='contrast'] {
    @include bg-emerald-10();
  }

  &[mode='dark'] {
    @include bg-emerald-100();
  }
}

.ids-notification-banner[type='alert'] {
  &[mode='light'],
  &[mode='contrast'] {
    @include bg-amber-10();
  }

  &[mode='dark'] {
    @include bg-amber-100();
  }
}

.ids-notification-banner[type='info'] {
  &[mode='light'],
  &[mode='contrast'] {
    @include bg-azure-10();
  }

  &[mode='dark'] {
    @include bg-azure-100();
  }
}

.ids-notification-banner[type='error'] {
  &[mode='light'],
  &[mode='contrast'] {
    @include bg-ruby-10();
  }

  &[mode='dark'] {
    @include bg-ruby-100();
  }
}
