<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Bar Chart</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-bar-chart title="A bar chart showing component usage" show-vertical-grid-lines="true" width="800" height="500" id="index-example"></ids-bar-chart>
      </ids-layout-grid-cell>
    </ids-layout-grid>

  </ids-container>
</body>
</html>
