<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Week View</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-week-view
          first-day-of-week="1"
          show-today="true"
          start-date="10/23/2019"
          end-date="11/01/2019"
          show-timeline="false"
        ></ids-week-view>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
