<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid gap="md" cols="2" cols-sm="4" cols-md="7" padding-x="md">
      <ids-layout-grid-cell col-span="1">
        <ids-text type="h2" font-size="12">Initials and Statuses</ids-text>
        <br>
        <ids-image initials="mn" round tabindex="0" color="teal"></ids-image>
        <br>
        <br>
        <ids-image class="ids-img-10" alt="Photo of Evyn" round tabindex="0"></ids-image>
        <br>
        <br>
        <ids-image class="ids-img-10" alt="Photo of Evyn" round user-status="available" tabindex="0"></ids-image>
        <br>
        <br>
        <ids-image class="ids-img-10" alt="Photo of Evyn" round user-status="away" tabindex="0"></ids-image>
        <br>
        <br>
        <ids-image class="ids-img-10" alt="Photo of Evyn" round user-status="busy" tabindex="0"></ids-image>
        <br>
        <br>
        <ids-image class="ids-img-10" alt="Photo of Evyn" round user-status="do-not-disturb" tabindex="0"></ids-image>
        <br>
        <br>
        <ids-image class="ids-img-10" alt="Photo of Evyn" round user-status="unknown" tabindex="0"></ids-image>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
