<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Images</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true" cols="7">
      <ids-layout-grid-cell col-span="1">
        <ids-text type="h2" font-size="14">Initials and Statuses</ids-text>
        <ids-image
          initials="mnmn"
          round
          tabindex="0"
        ></ids-image>
        <br />
        <br />
        <ids-image
          src="/assets/10.jpg"
          alt="Photo of Evyn"
          round
          tabindex="0"
        ></ids-image>
        <br />
        <br />
        <ids-image
          src="/assets/10.jpg"
          alt="Photo of Evyn"
          round
          user-status="available"
          tabindex="0"
        ></ids-image>
        <br />
        <br />
        <ids-image
          src="/assets/10.jpg"
          alt="Photo of Evyn"
          round
          user-status="away"
          tabindex="0"
        ></ids-image>
        <br />
        <br />
        <ids-image
          src="/assets/10.jpg"
          alt="Photo of Evyn"
          round
          user-status="busy"
          tabindex="0"
        ></ids-image>
        <br />
        <br />
        <ids-image
          src="/assets/10.jpg"
          alt="Photo of Evyn"
          round
          user-status="do-not-disturb"
          tabindex="0"
        ></ids-image>
        <br />
        <br />
        <ids-image
          src="/assets/10.jpg"
          alt="Photo of Evyn"
          round
          user-status="unknown"
          tabindex="0"
        ></ids-image>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell col-span="1">
        <ids-text type="h2" font-size="14">Size SM - 60x60</ids-text>
        <ids-image
          id="e2e-image"
          src="/assets/placeholder-60x60.png"
          alt="image-sm 60x60"
          size="sm"
          tabindex="0"
        ></ids-image>
        <ids-text font-size="14">image from src</ids-text>
        <br />
        <br />
        <ids-image
          id="e2e-fallback"
          src="/assets/non-existant.jpg"
          alt="image-sm non-existant"
          size="sm"
          fallback
          tabindex="0"
        ></ids-image>
        <ids-text font-size="14">placeholder via fallback</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell col-span="1">
        <ids-text type="h2" font-size="14">Size MD - 154x120</ids-text>
        <ids-image
          src="/assets/placeholder-154x120.png"
          alt="image-md 154x120"
          size="md"
          tabindex="0"
        ></ids-image>
        <ids-text font-size="14">image from src</ids-text>
        <br />
        <br />
        <ids-image
          id="e2e-placeholder"
          alt="image-md non-existant"
          size="md"
          placeholder
          tabindex="0"
        ></ids-image>
        <ids-text font-size="14">placeholder via attribute</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell col-span="2">
        <ids-text type="h2" font-size="14">Size LG - 300x350</ids-text>
        <ids-image
          src="/assets/placeholder-300x350.png"
          alt="image-lg 300x350"
          size="lg"
          tabindex="0"
        ></ids-image>
        <ids-text font-size="14">image from src</ids-text>
        <br />
        <br />
        <ids-image
          alt="image-lg no src"
          size="lg"
          fallback
          tabindex="0"
        ></ids-image>
        <ids-text font-size="14">placeholder via fallback</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell col-span="2">
        <ids-text type="h2" font-size="14">Size AUTO</ids-text>
        <ids-image
          src="/assets/placeholder-500x200.png"
          alt="image-auto 500x200"
          tabindex="0"
        ></ids-image>
        <ids-text font-size="14">image from src</ids-text>
        <br />
        <br />
        <ids-image
          placeholder
          tabindex="0"
        ></ids-image>
        <ids-text font-size="14">placeholder via attribute</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
