/* Ids Rating Component */

.rating {
  align-items: center;
  display: inline-flex;
  flex-direction: row;

  span {
    display: none;
  }
}

.star {
  cursor: pointer;
  margin-inline: var(--ids-rating-star-margin-inline);
}

.star[icon='star-outlined'] {
  color: var(--ids-rating-star-color-default);

  &:hover {
    color: var(--ids-rating-star-color-hover);
  }

  &:focus-visible {
    outline: none;
    color: var(--ids-rating-star-color-focus);
  }
}

.star[icon='star-filled'] {
  color: var(--ids-rating-star-color-selected);

  &:hover {
    color: var(--ids-rating-star-color-hover);
  }

  &:focus-visible {
    outline: none;
    color: var(--ids-rating-star-color-focus);
    color: black;
  }
}

.star[icon='star-half'] {
  color: var(--ids-rating-star-color-selected);

  &:hover {
    color: var(--ids-rating-star-color-hover);
  }

  &:focus-visible {
    outline: none;
    color: var(--ids-rating-star-color-focus);
  }
}

:host([readonly]) {
  .star {
    cursor: default;
    pointer-events: none;
  }
}

:host([disabled]) {
  .star {
    cursor: default;
    pointer-events: none;

    &[icon] {
      color: var(--ids-rating-star-disabled-color);
    }
  }
}
