/* Ids Rating Component */

.rating {
  align-items: center;
  display: inline-flex;
  flex-direction: row;

  span {
    display: none;
  }
}

.star {
  cursor: pointer;
  margin: 0 var(--ids-spacing-md);
}

.star[icon='star-outlined'] {
  color: var(--ids-icon-color);

  &:hover {
    color: var(--ids-button-primary-background-color);
  }

  &:focus-visible {
    outline: none;
    color: var(--ids-focus-ring-border-color);
  }
}

.star[icon='star-filled'] {
  color: var(--ids-color-warning-40);

  &:hover {
    color: var(--ids-button-primary-background-color);
  }

  &:focus-visible {
    outline: none;
    color: var(--ids-focus-ring-border-color);
  }
}

.star[icon='star-half'] {
  color: var(--ids-color-warning-40);

  &:hover {
    color: var(--ids-focus-ring-border-color);
  }

  &:focus-visible {
    outline: none;
    color: var(--ids-focus-ring-border-color);
  }
}

:host([readonly]) {
  .star {
    cursor: default;
  }

  .star[icon='star-outlined'] {
    &:hover {
      color: var(--ids-icon-color);
    }
  }

  .star[icon='star-filled'] {
    &:hover {
      color: var(--ids-rating-star-background-color);
    }
  }

  .star[icon='star-half'] {
    &:hover {
      color: var(--ids-rating-star-background-color);
    }
  }
}
