.ids-upload {
  position: relative;

  .ids-upload-filetype {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: -webkit-fill-available; // stylelint-disable-line
    z-index: -1;
  }
}
