<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Multiselect Dropdowns</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-multiselect clearable="true" id="dropdown-2" label="Clearable Dropdown (max choices 3)" max="3" dirty-tracker="true">
          <ids-list-box class="selected-options">
            <ids-list-box-option class="multiselect-option" id="nj2" value="nj" tooltip="The State of New Jersey"><ids-checkbox no-margin checked="true" label="New Jersey" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="al2" value="al" tooltip="The State of Alabama"><ids-checkbox no-margin label="alabama" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="ak2" value="ak" tooltip="The State of Alaska"><ids-checkbox no-margin label="Alaska" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="az2" value="az" tooltip="The State of Arizona"><ids-checkbox no-margin label="Arizona" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="ar2" value="ar" tooltip="The State of Arkansas"><ids-checkbox no-margin label="Arkansas" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="ca2" value="ca" tooltip="The State of California"><ids-checkbox no-margin label="California" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="co2" value="co" tooltip="The State of Colorado"><ids-checkbox no-margin label="Colorado" class="justify-center"></ids-checkbox></ids-list-box-option>
          </ids-list-box>
        </ids-multiselect>

        <ids-multiselect clearable="true" id="dropdown-3" tags="true" label="Clearable Dropdown (tags and 10 max choices)" max="10" dirty-tracker="true">
          <ids-list-box class="options">
            <ids-list-box-option class="multiselect-option" id="al3" value="al"><ids-checkbox no-margin label="Alabama" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="ak3" value="ak"><ids-checkbox no-margin label="Alaska" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="az3" value="az"><ids-checkbox no-margin label="Arizona" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="ar3" value="ar"><ids-checkbox no-margin label="Arkansas" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="ca3" value="ca"><ids-checkbox no-margin label="California" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="co3" value="co"><ids-checkbox no-margin label="Colorado" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="nj3" value="nj"><ids-checkbox no-margin label="New Jersey" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="ma3" value="ma"><ids-checkbox no-margin label="Massachusets" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="ny3" value="ny"><ids-checkbox no-margin label="New York" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="nh3" value="nh"><ids-checkbox no-margin label="New Hampshire" class="justify-center"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option class="multiselect-option" id="nm3" value="nm"><ids-checkbox no-margin label="New Mexico" class="justify-center"></ids-checkbox></ids-list-box-option>
          </ids-list-box>
        </ids-multiselect>
      </ids-layout-grid-cell>
    </ids-layout-grid>

  </ids-container>
</body>
