/* Ids Popup Component */
@import './ids-popup-base';

:host {
  // Take the WebComponent out of document flow
  @include absolute();

  display: block;
}

.ids-popup {
  @include fixed();
  @include z-3000();

  display: none;

  // Arrow definition
  .arrow {
    border-width: 8px;
    display: none;
    position: absolute;

    &.bottom,
    &.left,
    &.right,
    &.top {
      @include border-solid();

      border-color: transparent;
      display: block;
      height: 0;
      width: 0;
    }

    &::after {
      @include border-solid();

      border-color: transparent;
      border-width: 8px;
      content: '';
      display: block;
      position: relative;
    }

    // Bottom Alignment
    &.bottom {
      border-top-width: 0;
      left: calc(50% - 9px);
      top: -9px;

      &::after {
        border-top-width: 0;
        left: -8px;
        top: 1px;
      }
    }

    // Left Alignment
    &.left {
      border-right-width: 0;
      right: -9px;
      top: calc(50% - 9px);

      &::after {
        border-right-width: 0;
        left: -9px;
        top: -8px;
      }
    }

    // Right Alignment
    &.right {
      border-left-width: 0;
      left: -9px;
      top: calc(50% - 9px);

      &::after {
        border-left-width: 0;
        left: 1px;
        top: -8px;
      }
    }

    // Top Alignment
    &.top {
      border-bottom-width: 0;
      bottom: -9px;
      left: calc(50% - 9px);

      &::after {
        border-bottom-width: 0;
        left: -8px;
        top: -9px;
      }
    }
  }

  // Actually renders the popup, but doesn't "unhide" it
  &.visible {
    display: unset;
  }

  // Added to ".visible" to animate the opening.
  // Add an "open" state to any CSS class that drives animation.
  // &.open {}

  // Animates X/Y movement, fade in/out of the popup.
  &.animated {
    transition:
      opacity $popup-transition-length $popup-transition-ease,
      transform $popup-transition-length $popup-transition-ease;

    &.open {
      transition:
        opacity $popup-transition-length $popup-transition-ease,
        height $popup-transition-length $popup-transition-ease,
        width $popup-transition-length $popup-transition-ease,
        left $popup-transition-length $popup-transition-ease,
        top $popup-transition-length $popup-transition-ease,
        transform $popup-transition-length $popup-transition-ease;
    }
  }

  // Animation Style: default | 'fade'
  &.animation-fade {
    @include opacity-0();

    &.open {
      @include opacity-100();
    }
  }

  // Animation Style: 'scale-in'
  &.animation-scale-in {
    @include opacity-0();

    // @TODO: re-enable this after better popup container support exists
    // transform: perspective(1000px) translate3d(0, 0, -500px);
    transform: scale(0);

    &.open {
      @include opacity-100();

      // @TODO: re-enable this after better popup container support exists
      // transform: perspective(1000px) translate3d(0, 0, 0);
      transform: scale(1);
    }
  }

  // style: "none" (temporary)
  // maybe makes sense to be "custom"?
  // @TODO remove this or replace it with something that makes more sense.
  &.none {
    @include bg-white();
    @include border-1();
    @include border-solid();
    @include border-emerald-30();
    @include p-12();
  }

  // style: "menu"
  &.menu {
    @include antialiased();
    @include bg-white();
    @include border-1();
    @include border-solid();
    @include font-sans();
    @include py-4();
    @include rounded-default();
    @include shadow();

    border-color: var(--ids-color-border-lighter);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    .arrow.bottom {
      border-bottom-color: var(--ids-color-border-lighter);
    }

    .arrow.bottom::after {
      border-bottom-color: var(--ids-color-palette-white);
    }

    .arrow.left {
      border-left-color: var(--ids-color-border-lighter);
    }

    .arrow.left::after {
      border-left-color: var(--ids-color-palette-white);
    }

    .arrow.right {
      border-right-color: var(--ids-color-border-lighter);
    }

    .arrow.right::after {
      border-right-color: var(--ids-color-palette-white);
    }

    .arrow.top {
      border-top-color: var(--ids-color-border-lighter);
    }

    .arrow.top::after {
      border-top-color: var(--ids-color-palette-white);
    }
  }

  // style: "menu-alt"
  &.menu-alt {
    @include bg-slate-100();
    @include border-1();
    @include border-solid();
    @include font-sans();
    @include p-12();
    @include shadow();
    @include rounded-default();
    @include text-14();
    @include text-white();

    border-color: var(--ids-color-border-darker);

    .arrow.bottom,
    .arrow.bottom::after {
      border-bottom-color: var(--ids-color-border-darker);
    }

    .arrow.left,
    .arrow.left::after {
      border-left-color: var(--ids-color-border-darker);
    }

    .arrow.right,
    .arrow.right::after {
      border-right-color: var(--ids-color-border-darker);
    }

    .arrow.top,
    .arrow.top::after {
      border-top-color: var(--ids-color-border-darker);
    }
  }

  // style: "tooltip"
  &.tooltip {
    @include bg-slate-80();
    @include antialiased();
    @include cursor-pointer();
    @include font-sans();
    @include py-4();
    @include px-8();
    @include rounded-default();
    @include text-16();
    @include text-white();
    @include z-6000();

    .arrow.bottom,
    .arrow.bottom::after {
      border-bottom-color: var(--ids-color-palette-slate-80);
    }

    .arrow.bottom {
      top: -6px;
    }

    .arrow.left,
    .arrow.left::after {
      border-left-color: var(--ids-color-palette-slate-80);
    }

    .arrow.left {
      right: -6px;
    }

    .arrow.right,
    .arrow.right::after {
      border-right-color: var(--ids-color-palette-slate-80);
    }

    .arrow.right {
      left: -6px;
    }

    .arrow.top,
    .arrow.top::after {
      border-top-color: var(--ids-color-palette-slate-80);
    }

    .arrow.top {
      bottom: -6px;
    }
  }

  // style: "tooltip-alt"
  &.tooltip-alt {
    @include bg-white();
    @include font-sans();
    @include p-12();
    @include rounded-md();
    @include text-12();
    @include text-black();
  }

  // style: "modal"
  &.modal {
    @include antialiased();
    @include bg-white();
    @include border-1();
    @include border-solid();
    @include font-sans();
    @include p-8();
    @include rounded-default();
    @include shadow();

    border-color: var(--ids-color-palette-slate-30);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.content-wrapper {
  @include static();
}

// Handle Themes
.ids-popup.menu[mode='dark'] {
  @include bg-slate-70();
  @include border-slate-50();

  box-shadow: 0 2px 5px rgb(239, 239, 240, 0.2);

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-slate-50);

    &::after {
      border-bottom-color: var(--ids-color-palette-slate-70);
    }
  }
}

.ids-popup.tooltip[mode='dark'] {
  @include bg-white();
  @include text-slate-100();

  box-shadow: 0 2px 5px rgb(239, 239, 240, 0.4);

  .arrow.top {
    border-top-color: var(--ids-color-palette-white);

    &::after {
      border-top-color: var(--ids-color-palette-white);
    }
  }

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-white);

    &::after {
      border-bottom-color: var(--ids-color-palette-white);
    }
  }

  .arrow.left {
    border-left-color: var(--ids-color-palette-white);

    &::after {
      border-left-color: var(--ids-color-palette-white);
    }
  }

  .arrow.right {
    border-right-color: var(--ids-color-palette-white);

    &::after {
      border-right-color: var(--ids-color-palette-white);
    }
  }
}

.ids-popup.menu[mode='contrast'] {
  @include bg-white();
  @include border-slate-60();

  box-shadow: 0 2px 5px rgb(239, 239, 240, 0.2);

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-slate-60);

    &::after {
      border-bottom-color: var(--ids-color-palette-white);
    }
  }
}

.ids-popup.menu[version='classic'][mode='light'] {
  @include bg-white();
  @include border-classic-slate-30();

  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-classic-slate-30);

    &::after {
      border-bottom-color: var(--ids-color-palette-white);
    }
  }
}

.ids-popup.tooltip[version='classic'][mode='light'] {
  @include text-classic-slate-80();

  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

  .arrow.top {
    border-top-color: var(--ids-color-palette-classic-slate-80);

    &::after {
      border-top-color: var(--ids-color-palette-classic-slate-80);
    }
  }

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-classic-slate-80);

    &::after {
      border-bottom-color: var(--ids-color-palette-classic-slate-80);
    }
  }

  .arrow.left {
    border-left-color: var(--ids-color-palette-classic-slate-80);

    &::after {
      border-left-color: var(--ids-color-palette-classic-slate-80);
    }
  }

  .arrow.right {
    border-right-color: var(--ids-color-palette-classic-slate-80);

    &::after {
      border-right-color: var(--ids-color-palette-classic-slate-80);
    }
  }
}

.ids-popup.menu[version='classic'][mode='dark'] {
  @include border-graphite-50();
  @include bg-classic-slate-70();

  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-graphite-50);

    &::after {
      border-bottom-color: var(--ids-color-palette-white);
    }
  }
}

.ids-popup.tooltip[version='classic'][mode='dark'] {
  @include bg-white();
  @include text-classic-slate-100();

  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

  .arrow.top {
    border-top-color: var(--ids-color-palette-white);

    &::after {
      border-top-color: var(--ids-color-palette-white);
    }
  }

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-white);

    &::after {
      border-bottom-color: var(--ids-color-palette-white);
    }
  }

  .arrow.left {
    border-left-color: var(--ids-color-palette-white);

    &::after {
      border-left-color: var(--ids-color-palette-white);
    }
  }

  .arrow.right {
    border-right-color: var(--ids-color-palette-white);

    &::after {
      border-right-color: var(--ids-color-palette-white);
    }
  }
}

.ids-popup.menu[version='classic'][mode='contrast'] {
  @include bg-white();
  @include border-classic-slate-30();

  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-classic-slate-30);

    &::after {
      border-bottom-color: var(--ids-color-palette-white);
    }
  }
}

.ids-popup.tooltip[version='classic'][mode='contrast'] {
  @include bg-graphite-80();
  @include text-white();

  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

  .arrow.top {
    border-top-color: var(--ids-color-palette-graphite-80);

    &::after {
      border-top-color: var(--ids-color-palette-graphite-80);
    }
  }

  .arrow.bottom {
    border-bottom-color: var(--ids-color-palette-graphite-80);

    &::after {
      border-bottom-color: var(--ids-color-palette-graphite-80);
    }
  }

  .arrow.left {
    border-left-color: var(--ids-color-palette-graphite-80);

    &::after {
      border-left-color: var(--ids-color-palette-graphite-80);
    }
  }

  .arrow.right {
    border-right-color: var(--ids-color-palette-graphite-80);

    &::after {
      border-right-color: var(--ids-color-palette-graphite-80);
    }
  }
}
