/* Ids Popup Component */
@import '../ids-base/ids-base';

$transition-length: 200ms;

:host {
  display: inline-block;
  position: absolute;
}

.ids-popup {
  background-color: #fff;
  border: 1px solid #2ac371;
  display: none;
  opacity: 0;
  position: fixed;

  // Actually renders the popup, but doesn't "unhide" it
  &.visible {
    display: unset;
  }

  // Added to ".visible" to animate the opening.
  &.open {
    opacity: 1;
  }

  // Animates X/Y movement, fade in/out of the popup.
  &.animated {
    transition: opacity $transition-length cubic-bezier(0.4, 0, 0.6, 1);

    &.open {
      transition: opacity $transition-length cubic-bezier(0.4, 0, 0.6, 1),
        height $transition-length cubic-bezier(0.4, 0, 0.6, 1),
        width $transition-length cubic-bezier(0.4, 0, 0.6, 1),
        left $transition-length cubic-bezier(0.4, 0, 0.6, 1),
        top $transition-length cubic-bezier(0.4, 0, 0.6, 1);
    }
  }
}

.content-wrapper {
  position: static;
}
