/* Ids Popup Component */
@import '../ids-base/ids-base';

$transition-length: 200ms;

:host {
  // Take the WebComponent out of document flow
  @include absolute();

  display: inline-block;
}

.ids-popup {
  @include opacity-0();
  @include fixed();

  display: none;

  // Arrow definition
  .arrow {
    border-width: 8px;
    display: none;
    position: absolute;

    &.bottom,
    &.left,
    &.right,
    &.top {
      @include border-solid();

      border-color: transparent;
      display: block;
      height: 0;
      width: 0;
    }

    &::after {
      @include border-solid();

      border-color: transparent;
      border-width: 8px;
      content: '';
      display: block;
      position: relative;
    }

    // Bottom Alignment
    &.bottom {
      border-top-width: 0;
      left: calc(50% - 7px);
      top: -9px;

      &::after {
        border-top-width: 0;
        left: -8px;
        top: 1px;
      }
    }

    // Left Alignment
    &.left {
      border-right-width: 0;
      right: -9px;
      top: calc(50% - 9px);

      &::after {
        border-right-width: 0;
        left: -9px;
        top: -8px;
      }
    }

    // Right Alignment
    &.right {
      border-left-width: 0;
      left: -9px;
      top: calc(50% - 9px);

      &::after {
        border-left-width: 0;
        left: 1px;
        top: -8px;
      }
    }

    // Top Alignment
    &.top {
      border-bottom-width: 0;
      bottom: -9px;
      left: calc(50% - 7px);

      &::after {
        border-bottom-width: 0;
        left: -8px;
        top: -9px;
      }
    }
  }

  // Actually renders the popup, but doesn't "unhide" it
  &.visible {
    display: unset;
  }

  // Added to ".visible" to animate the opening.
  &.open {
    @include opacity-100();
  }

  // Animates X/Y movement, fade in/out of the popup.
  &.animated {
    transition: opacity $transition-length cubic-bezier(0.4, 0, 0.6, 1);

    &.open {
      transition:
        opacity $transition-length cubic-bezier(0.4, 0, 0.6, 1),
        height $transition-length cubic-bezier(0.4, 0, 0.6, 1),
        width $transition-length cubic-bezier(0.4, 0, 0.6, 1),
        left $transition-length cubic-bezier(0.4, 0, 0.6, 1),
        top $transition-length cubic-bezier(0.4, 0, 0.6, 1);
    }
  }

  // style: "none" (temporary)
  // maybe makes sense to be "custom"?
  // @TODO remove this or replace it with something that makes more sense.
  &.none {
    @include bg-white();
    @include border-1();
    @include border-solid();
    @include border-emerald-30();
    @include p-12();
  }

  // style: "menu"
  &.menu {
    @include antialiased();
    @include bg-white();
    @include border-1();
    @include border-solid();
    @include font-sans();
    @include py-4();
    @include rounded-default();
    @include shadow();

    border-color: var(--ids-color-border-lighter);

    .arrow.bottom {
      border-bottom-color: var(--ids-color-border-lighter);
    }

    .arrow.bottom::after {
      border-bottom-color: var(--ids-color-palette-white);
    }

    .arrow.left {
      border-left-color: var(--ids-color-border-lighter);
    }

    .arrow.left::after {
      border-left-color: var(--ids-color-palette-white);
    }

    .arrow.right {
      border-right-color: var(--ids-color-border-lighter);
    }

    .arrow.right::after {
      border-right-color: var(--ids-color-palette-white);
    }

    .arrow.top {
      border-top-color: var(--ids-color-border-lighter);
    }

    .arrow.top::after {
      border-top-color: var(--ids-color-palette-white);
    }
  }

  // style: "menu-alt"
  &.menu-alt {
    @include bg-slate-100();
    @include border-1();
    @include border-solid();
    @include font-sans();
    @include p-12();
    @include shadow();
    @include rounded-default();
    @include text-14();
    @include text-white();

    border-color: var(--ids-color-border-darker);

    .arrow.bottom,
    .arrow.bottom::after {
      border-bottom-color: var(--ids-color-border-darker);
    }

    .arrow.left,
    .arrow.left::after {
      border-left-color: var(--ids-color-border-darker);
    }

    .arrow.right,
    .arrow.right::after {
      border-right-color: var(--ids-color-border-darker);
    }

    .arrow.top,
    .arrow.top::after {
      border-top-color: var(--ids-color-border-darker);
    }
  }

  // style: "tooltip"
  &.tooltip {
    @include bg-slate-100();
    @include font-sans();
    @include p-12();
    @include rounded-md();
    @include text-12();
    @include text-white();
  }

  // style: "tooltip-alt"
  &.tooltip-alt {
    @include bg-white();
    @include font-sans();
    @include p-12();
    @include rounded-md();
    @include text-12();
    @include text-black();
  }
}

.content-wrapper {
  @include static();
}
