@import '../../core/ids-base';

// The main scrollable container
.ids-scroll-view {
  @include flex();

  outline: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }

  // The items that are adding as slot items
  ::slotted([slot='scroll-view-item']) {
    @include w-full();

    // Remove this if we want items to stretch
    flex-shrink: 0;
    scroll-snap-align: start;

    > * {
      @include block();
      @include m-0();
    }
  }
}

// Remove the scrollbar / we dont want it visible
.ids-scroll-view::-webkit-scrollbar {
  display: none;
}

// The pager controls (circle container)
.ids-scroll-view-controls {
  display: flex;
  justify-content: center;

  &.suppress-controls {
    display: none;
  }

  // The circle buttons and states
  .circle-button {
    [icon] {
      color: var(--ids-color-palette-slate-70);
    }

    &.selected {
      [icon] {
        color: var(--ids-color-brand-primary-base);

        &::part(svg) {
          fill: var(--ids-color-brand-primary-base);
        }
      }
    }
  }
}

// Add Theme support
.ids-scroll-view[mode='dark'] {
  + .ids-scroll-view-controls {
    .circle-button {
      [icon] {
        color: var(--ids-color-palette-slate-40);
      }

      &.selected {
        [icon] {
          color: var(--ids-color-brand-primary-base);
        }

        [icon]::part(svg) {
          fill: var(--ids-color-brand-primary-base);
        }
      }
    }
  }
}

.ids-scroll-view[mode='contrast'] {
  + .ids-scroll-view-controls {
    .circle-button {
      [icon] {
        color: var(--ids-color-palette-slate-70);
      }

      &.selected {
        [icon] {
          color: var(--ids-color-palette-azure-80);
        }

        [icon]::part(svg) {
          fill: var(--ids-color-palette-azure-80);
        }
      }
    }
  }
}
