/* Ids Scroll view Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

// The main scrollable container
.ids-scroll-view {
  display: flex;
  outline: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }

  // The items that are adding as slot items
  ::slotted([slot='scroll-view-item']) {
    // Remove this if we want items to stretch
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 100%;

    > * {
      display: block;
      margin: 0;
    }
  }
}

// The pager controls (circle container)
.ids-scroll-view-controls {
  display: flex;
  justify-content: center;

  &.suppress-controls {
    display: none;
  }

  // The circle buttons and states
  .circle-button {
    [icon] {
      color: var(--ids-scroll-view-color-icon-default);
    }

    &.selected {
      [icon] {
        color: var(--ids-scroll-view-color-icon-selected);

        &::part(svg) {
          fill: var(--ids-scroll-view-color-icon-selected);
        }
      }
    }
  }
}
