<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="0" hidden>
    <ids-module-nav id="module-nav">
      <ids-module-nav-bar>
        <ids-module-nav-switcher
          slot="role-switcher"></ids-module-nav-switcher>

        <ids-search-field
          id="search"
          clearable
          color-variant="module-nav"
          label="Module Nav Search"
          label-state="collapsed"
          no-margins
          slot="search"></ids-search-field>

        <!-- Main Content (Accordion Navigation) -->
        <ids-accordion>
          <!-- Main Section -->
          <ids-accordion-section grow>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="user">
                <ids-text font-size="16">Configuration and Personalization</ids-text>
              </ids-accordion-header>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="database">
                <ids-text font-size="16">Database</ids-text>
              </ids-accordion-header>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="translate">
                <ids-text font-size="16">Data Translation</ids-text>
              </ids-accordion-header>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="security-on">
                <ids-text font-size="16">Security</ids-text>
              </ids-accordion-header>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="line-bar-chart">
                <ids-text font-size="16">Analytics</ids-text>
              </ids-accordion-header>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="import-spreadsheet">
                <ids-text font-size="16">Audit and Monitoring</ids-text>
              </ids-accordion-header>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-accordion-header slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-accordion-header>
              </ids-accordion-panel>
            </ids-accordion-panel>
          </ids-accordion-section>

          <!-- Pinned Footer Section -->
          <ids-accordion-section pinned>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="document">
                <ids-text font-size="16">Documents</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="report">
                <ids-text font-size="16">Reports</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-accordion-header slot="header" icon="notification">
                <ids-text font-size="16">Notification</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
          </ids-accordion-section>
        </ids-accordion>

        <ids-module-nav-settings
          slot="settings"></ids-module-nav-settings>
      </ids-module-nav-bar>

      <ids-module-nav-content offset-content>
        <!-- Page Header -->
        <ids-header>
          <ids-toolbar>
            <ids-toolbar-section type="button">
              <ids-button id="module-nav-trigger" icon="menu">
                <span class="audible">Open Module Nav</span>
              </ids-button>
            </ids-toolbar-section>
            <ids-toolbar-section type="title">
              <ids-text font-size="20" type="h1">Module Nav Example</ids-text>
            </ids-toolbar-section>
            <ids-toolbar-section align="end" type="button">
              <ids-theme-switcher mode="light"></ids-theme-switcher>
            </ids-toolbar-section>
          </ids-toolbar>
        </ids-header>

        <!-- Page Body -->
        <ids-layout-grid auto-fit="true" padding="md">
          <ids-text font-size="12" type="h1">IDS Module Nav</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto-fit="true" padding-x="md">
          <ids-dropdown id="dd-display-mode-setting" label="Display Mode" value="collapsed" dirty-tracker="true">
            <ids-list-box>
              <ids-list-box-option id="dd-display-mode-false" value="">Hidden (false)</ids-list-box-option>
              <ids-list-box-option id="dd-display-mode-collapsed" value="collapsed">Collapsed</ids-list-box-option>
              <ids-list-box-option id="dd-display-mode-expanded" value="expanded">Expanded</ids-list-box-option>
            </ids-list-box>
          </ids-dropdown>
        </ids-layout-grid>

      </ids-module-nav-content>
    </ids-module-nav>
  </ids-container>
</body>
</html>
