<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="0" hidden>
    <ids-module-nav id="module-nav">
      <ids-module-nav-bar>
        <ids-module-nav-switcher
          slot="role-switcher">
          <ids-module-nav-button>
            <ids-icon id="module-switcher-icon" icon="database"></ids-icon>
            <ids-text audible>Standard Module</ids-text>
          </ids-module-nav-button>
          <ids-dropdown
            id="module-nav-role-dropdown"
            dropdown-icon="expand-all"
            color-variant="module-nav"
            label="Select Role"
            value="admin-console"
            show-list-item-icon="false">
            <ids-list-box>
              <ids-list-box-option value="admin-console" id="admin-console">
                <ids-icon icon="database"></ids-icon>
                <span>Admin Console</span>
              </ids-list-box-option>
              <ids-list-box-option value="job-console" id="job-console">
                <ids-icon icon="mail"></ids-icon>
                <span>Job Console</span>
              </ids-list-box-option>
              <ids-list-box-option value="landing-page-designer" id="landing-page-designer">
                <ids-icon icon="settings"></ids-icon>
                <span>Landing Page Designer</span>
              </ids-list-box-option>
              <ids-list-box-option value="process-server-adminisrator" id="process-server-adminisrator">
                <ids-icon icon="database"></ids-icon>
                <span>Process Server Administrator</span>
              </ids-list-box-option>
              <ids-list-box-option value="proxy-management" id="proxy-management">
                <ids-icon icon="mail"></ids-icon>
                <span>Proxy Management</span>
              </ids-list-box-option>
              <ids-list-box-option value="security-system-management" id="security-system-management">
                <ids-icon icon="settings"></ids-icon>
                <span>Security System Management</span>
              </ids-list-box-option>
              <ids-list-box-option value="user-management" id="user-management">
                <ids-icon icon="database"></ids-icon>
                <span>User Management</span>
              </ids-list-box-option>
            </ids-list-box>
          </ids-dropdown>
        </ids-module-nav-switcher>

        <ids-search-field
          id="search"
          clearable
          color-variant="module-nav"
          label="Module Nav Search"
          label-state="collapsed"
          no-margins
          placeholder="Search"
          size="full"
          slot="search"></ids-search-field>

        <!-- Main Content (Accordion Navigation) -->
        <ids-accordion>
          <!-- Main Section -->
          <ids-accordion-section grow>
            <ids-accordion-panel>
              <ids-module-nav-item slot="header" id="l1-expand">
                <ids-text font-size="16">Level 1 (can expand)</ids-text>
              </ids-module-nav-item>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header" id="l2-expand">
                  <ids-text font-size="14">Level 2 (can expand)</ids-text>
                </ids-module-nav-item>
                <ids-accordion-panel slot="content">
                  <ids-module-nav-item slot="header" id="l3-expand">
                    <ids-text font-size="14">Level 3 (can expand)</ids-text>
                  </ids-module-nav-item>
                  <ids-accordion-panel slot="content">
                    <ids-module-nav-item slot="header" id="l4-expand">
                      <ids-text font-size="14">Level 4 (can expand)</ids-text>
                    </ids-module-nav-item>
                    <ids-accordion-panel slot="content">
                      <ids-module-nav-item slot="header" id="l5-expand">
                        <ids-text font-size="14">Level 5 (can expand)</ids-text>
                      </ids-module-nav-item>
                      <ids-accordion-panel slot="content">
                        <ids-module-nav-item slot="header" id="l6-default">
                          <ids-text font-size="14">Level 6 (default)</ids-text>
                        </ids-module-nav-item>
                      </ids-accordion-panel>
                    </ids-accordion-panel>
                    <ids-accordion-panel slot="content">
                      <ids-module-nav-item slot="header" id="l5-default">
                        <ids-text font-size="14">Level 5 (default)</ids-text>
                      </ids-module-nav-item>
                    </ids-accordion-panel>
                  </ids-accordion-panel>
                  <ids-accordion-panel slot="content">
                    <ids-module-nav-item slot="header" id="l4-default">
                      <ids-text font-size="14">Level 4 (default)</ids-text>
                    </ids-module-nav-item>
                  </ids-accordion-panel>
                </ids-accordion-panel>
                <ids-accordion-panel slot="content">
                  <ids-module-nav-item slot="header" id="l3-default">
                    <ids-text font-size="14">Level 3 (default)</ids-text>
                  </ids-module-nav-item>
                </ids-accordion-panel>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header" id="l2-default">
                  <ids-text font-size="14">Level 2 (default)</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
            </ids-accordion-panel>
          </ids-accordion-section>
        </ids-accordion>

        <ids-module-nav-settings
          slot="settings"
          role="button"
          icon="settings"
          id="module-nav-settings-btn"
          menu="module-nav-settings-menu"
          color-variant="module-nav"
          content-align="start"
          no-margins
          no-ripple>
          <ids-text>Settings</ids-text>
        </ids-module-nav-settings>
        <ids-popup-menu
          id="module-nav-settings-menu"
          target="#module-nav-settings-btn"
          trigger-type="click"
          slot="settings">
          <ids-menu-group>
            <ids-menu-item icon="observation-precautions" value="jobs">Jobs</ids-menu-item>
            <ids-menu-item icon="report" value="reports">Reports</ids-menu-item>
            <ids-menu-item icon="isolation" value="actions">Actions</ids-menu-item>
            <ids-menu-item icon="edit" value="personalization">Personalization</ids-menu-item>
            <ids-separator></ids-separator>
            <ids-menu-item value="create-report">Create Report</ids-menu-item>
            <ids-menu-item value="proxy">Proxy</ids-menu-item>
            <ids-menu-item value="set-as-of-date">Set "As Of Date"</ids-menu-item>
            <ids-menu-item value="user-context">User Context</ids-menu-item>
            <ids-separator></ids-separator>
            <ids-menu-item icon="settings" value="settings">Settings</ids-menu-item>
            <ids-menu-item icon="info" value="about">About</ids-menu-item>
            <ids-menu-item icon="help" value="help">Help</ids-menu-item>
          </ids-menu-group>
        </ids-popup-menu>

      </ids-module-nav-bar>

      <ids-module-nav-content offset-content>
        <!-- Page Header -->
        <ids-header>
          <ids-toolbar>
            <ids-toolbar-section type="button">
              <ids-button id="module-nav-trigger" icon="menu">
                <span class="audible">Open Module Nav</span>
              </ids-button>
            </ids-toolbar-section>
            <ids-toolbar-section type="title">
              <ids-text font-size="20" type="h1">Module Nav Example</ids-text>
            </ids-toolbar-section>
            <ids-toolbar-section align="end" type="button">
              <ids-theme-switcher mode="light"></ids-theme-switcher>
            </ids-toolbar-section>
          </ids-toolbar>
        </ids-header>

        <!-- Page Body -->
        <ids-layout-grid auto-fit="true" padding="md">
          <ids-text font-size="12" type="h1">IDS Module Nav (Nested/No Icons)</ids-text>
        </ids-layout-grid>
      </ids-module-nav-content>
    </ids-module-nav>
  </ids-container>
</body>
</html>
