<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="0" hidden>
    <ids-module-nav id="module-nav" responsive>
      <ids-module-nav-bar>
        <!-- Main Content (Accordion Navigation) -->
        <ids-accordion>
          <!-- Main Section -->
          <ids-accordion-section slot="" grow>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-user" slot="header" icon="user">
                <ids-text font-size="16" overflow="ellipsis">My Configuration and Personalization</ids-text>
              </ids-module-nav-item>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-database" slot="header" icon="database">
                <ids-text font-size="16">Database</ids-text>
              </ids-module-nav-item>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-data-translation" slot="header" icon="translate">
                <ids-text font-size="16">Data Translation</ids-text>
              </ids-module-nav-item>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-security" slot="header" icon="security-on">
                <ids-text font-size="16">Security</ids-text>
              </ids-module-nav-item>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-analytics" slot="header" icon="line-bar-chart">
                <ids-text font-size="16">Analytics</ids-text>
              </ids-module-nav-item>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-audit-monitoring" slot="header" icon="import-spreadsheet">
                <ids-text font-size="16">Audit and Monitoring</ids-text>
              </ids-module-nav-item>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
              <ids-accordion-panel slot="content">
                <ids-module-nav-item slot="header">
                  <ids-text font-size="14">Label</ids-text>
                </ids-module-nav-item>
              </ids-accordion-panel>
            </ids-accordion-panel>
          </ids-accordion-section>
        </ids-accordion>

        <!-- Pinned Footer Section -->
        <ids-accordion slot="footer">
          <ids-accordion-section pinned>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-document" slot="header" icon="document">
                <ids-text font-size="16">Documents</ids-text>
              </ids-module-nav-item>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-reports" slot="header" icon="report">
                <ids-text font-size="16">Reports</ids-text>
              </ids-module-nav-item>
            </ids-accordion-panel>
            <ids-accordion-panel>
              <ids-module-nav-item id="item-notification" slot="header" icon="notification">
                <ids-text font-size="16">Notification</ids-text>
              </ids-module-nav-item>
            </ids-accordion-panel>
          </ids-accordion-section>
        </ids-accordion>

        <ids-module-nav-settings
          slot="settings"
          role="button"
          icon="settings"
          id="module-nav-settings-btn"
          menu="module-nav-settings-menu"
          color-variant="module-nav"
          content-align="start"
          no-margins>
          <ids-text>Settings</ids-text>
        </ids-module-nav-settings>
        <ids-popup-menu
          id="module-nav-settings-menu"
          target="#module-nav-settings-btn"
          trigger-type="click"
          slot="settings">
          <ids-menu-group>
            <ids-menu-item icon="observation-precautions" value="jobs">Jobs</ids-menu-item>
            <ids-menu-item icon="report" value="reports">Reports</ids-menu-item>
            <ids-menu-item icon="isolation" value="actions">Actions</ids-menu-item>
            <ids-menu-item icon="edit" value="personalization">Personalization</ids-menu-item>
            <ids-separator></ids-separator>
            <ids-menu-item value="create-report">Create Report</ids-menu-item>
            <ids-menu-item value="proxy">Proxy</ids-menu-item>
            <ids-menu-item value="set-as-of-date">Set "As Of Date"</ids-menu-item>
            <ids-menu-item value="user-context">User Context</ids-menu-item>
            <ids-separator></ids-separator>
            <ids-menu-item icon="settings" value="settings">Settings</ids-menu-item>
            <ids-menu-item icon="info" value="about">About</ids-menu-item>
            <ids-menu-item icon="help" value="help">Help</ids-menu-item>
          </ids-menu-group>
        </ids-popup-menu>

      </ids-module-nav-bar>

      <ids-module-nav-content offset-content>
        <!-- Page Header -->
        <ids-header>
          <ids-toolbar>
            <ids-toolbar-section type="button">
              <ids-button id="module-nav-trigger" icon="menu">
                <span class="audible">Open Module Nav</span>
              </ids-button>
            </ids-toolbar-section>
            <ids-toolbar-section type="title">
              <ids-text font-size="20" type="h1">Module Nav Example</ids-text>
            </ids-toolbar-section>
            <ids-toolbar-section align="end" type="button">
              <ids-theme-switcher mode="light"></ids-theme-switcher>
            </ids-toolbar-section>
          </ids-toolbar>
        </ids-header>

        <!-- Page Body -->
        <ids-layout-grid auto-fit="true" padding="md">
          <ids-text font-size="12" type="h1">IDS Module Nav</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto-fit="true" gap="md" padding-x="md">
          <ids-layout-grid-cell>
            <ids-text type="p">Use the Hamburger button in the header to change Display Mode.  Also use the browser viewport to observe mobile/responsve behavior.</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>
      </ids-module-nav-content>
    </ids-module-nav>
  </ids-container>
</body>
</html>
