:host {
  font-family: var(--ids-swappable-item-font-family);
  border: var(--ids-swappable-item-border-default);
  cursor: var(--ids-swappable-item-cursor-default);
  display: block;
  transition: height 0.4s ease, padding 0.4s ease;
}

:host(:hover) {
  background-color: var(--ids-swappable-item-color-background-hover);
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(5px, -47%);
    font-size: var(--ids-swappable-item-font-size-hover);
    content: var(--ids-swappable-item-content-hover);
  }
}

:host([dir='rtl']:hover) {
  &::before {
    left: unset;
    right: 5px;
    transform: translate(-1px, -47%);
  }
}

:host(:focus) {
  border: var(--ids-swappable-item-border-focus);
  box-shadow: var(--ids-swappable-item-shadow-focus);
  outline: var(--ids-swappable-item-outline-focus);
}

:host([selected]) {
  cursor: var(--ids-swappable-item-cursor-selected);
}

:host([dragging]) {
  opacity: var(--ids-swappable-item-opacity-dragging);
}

:host([dragging]:not(.slotted-ids-tab)),
:host([selected]:not(.slotted-ids-tab)) {
  background-color: var(--ids-swappable-item-color-background-selected);
  color: var(--ids-swappable-item-color-text-selected);
}

:host([over]) {
  border: var(--ids-swappable-item-over-border);
}

:host(.p-8) {
  padding-block: var(--ids-space-40);
  padding-inline-end: var(--ids-space-40);
  padding-inline-start: var(--ids-space-60);
}

:host(.is-hidden) {
  height: var(--ids-space-none);
  padding: var(--ids-space-none);
  border: none;
  overflow: hidden;
}

// Fixes slotted IdsTabs to appear flush with their containers
// (IdsSwappableItem causes a 1px boundary as a result of its required transparent border)
// @TODO: Relocate this to another component / review wrapping, separation of concerns
::slotted(ids-tab) {
  position: relative;
  margin: -1px;
}

:host(.slotted-ids-tab:not(.orientation-vertical)) {
  margin-inline-start: var(--ids-space-30);
}
