@import '../../core/ids-base';

:host {
  display: block;
  border: 1px dashed transparent;
  min-height: 400px;
  margin-bottom: 20px;
}

:host([active]) {
  border-color: var(--ids-color-palette-slate-80);
}
