:host {
  display: inherit;
  border: var(--ids-swappable-active-border);
  height: 100%;
}

:host([active]) {
  border-color: var(--ids-swappable-color-border-active);
}

::slotted(ids-search-field) {
  margin: 0 8px;
  margin-bottom: 8px;
  width: calc(100% - 16px);
}

:host([searchable]) {
  .has-searchfield {
    border-block-end: var(--ids-swaplist-border);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--ids-card-color-background);
  }
}
