<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
    <ids-container role="main" padding="8" hidden>
      <ids-theme-switcher mode="light"></ids-theme-switcher>
      <ids-layout-grid auto-fit="true" padding="md">
        <ids-text font-size="12" type="h1">Tags</ids-text>
      </ids-layout-grid>

      <ids-layout-grid auto-fit="true" padding-x="md">
        <ids-layout-grid-cell>
          <ids-tag>Normal Tag</ids-tag>
          <ids-tag color="secondary">Secondary Tag</ids-tag>
          <ids-tag color="success">Success Tag</ids-tag>
          <ids-tag color="info">Info Tag</ids-tag>
          <ids-tag color="warning">Warning Tag</ids-tag>
          <ids-tag color="caution">Caution Tag</ids-tag>
          <ids-tag color="error">Error Tag</ids-tag>
          <ids-tag color="purple">Purple Tag</ids-tag>
          <ids-tag color="teal">Teal Tag</ids-tag>
          <ids-tag color="#5CC6C7">Custom Tag Color</ids-tag>
          <ids-tag clickable="true" id="ids-clickable-tag">Clickable Tag
            <ids-icon icon="caret-right" size="small"></ids-icon>
          </ids-tag>
          <ids-tag disabled>Disabled
            <span>Disabled Tag 1</span>
            <ids-icon icon="close" size="small"></ids-icon>
          </ids-tag>
          <ids-tag color="secondary" dismissible="true" disabled>
            <span>Secondary Disabled Tag</span>
            <ids-icon icon="close" size="small"></ids-icon>
          </ids-tag>
          <ids-tag dismissible="true">
            <span>Dismissible Tag 1</span>
            <ids-icon icon="close" size="small" id="ids-closable-btn"></ids-icon>
          </ids-tag>
          <ids-tag dismissible="true">
            <span>Dismissible Tag 2</span>
          </ids-tag>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-container>
</body>
</html>
