/* Ids Loader */
@import '../ids-base/ids-base';

$pi: 3.14159265358979;
$circle-radius: 45;

$progress-color: var(--ids-color-palette-azure-70);
$overall-color: var(--ids-color-palette-azure-10);

.ids-loading-indicator {
  @include bg-transparent();
  @include fixed();
  @include h-full();
  @include w-full();

  height: 2px;
  left: 0;
  top: 0;
}

:host(ids-loading-indicator:not([linear]):not([affixed])) {
  width: 50px;
  height: 50px;
}

:host(ids-loading-indicator[linear]),
:host(ids-loading-indicator[affixed]) {
  width: 100%;
}

:host(ids-loading-indicator[affixed]) {
  position: absolute;
  top: 0;
  left: 0;
}

.progress {
  @include z-1();
}

svg.linear-indicator {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6px;

  &.affixed {
    height: 8px;
  }

  .progress {
    fill: $progress-color;
    transform: #{'scaleX(calc(var(--progress) * 1%))'};
  }

  .overall {
    fill: $overall-color;
  }
}

svg.circular-indicator.determinate {
  position: relative;
  overflow: visible;
  width: 50px;
  height: 50px;
  fill: transparent;
  transform-origin: 50% 50%;
  transform: rotateZ(-90deg);

  circle {
    transform-origin: 50% 50%;
  }

  .progress {
    stroke: $progress-color;

    /*
     * circumference is 2πr(45) => 282.74, or 283
     */
    stroke-dasharray: 283;
    stroke-dashoffset: #{'calc(283 - (var(--progress) * 2.83))'};
  }

  .overall {
    stroke: $overall-color;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.ids-loading-indicator-indeterminate {
  @include bg-azure-70();

  &::before {
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    background-color: inherit;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    will-change: left, right;
  }

  &::after {
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
    background-color: inherit;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    will-change: left, right;
  }
}

// Handle Themes
.ids-loading-indicator[mode='dark'] .ids-loading-indicator-indeterminate {
  background-color: var(--ids-color-palette-azure-50);
}

.ids-tag[mode='contrast'] .ids-loading-indicator-indeterminate {
  background-color: var(--ids-color-palette-azure-90);
}

.ids-tag[version='classic'][mode='light'] .ids-loading-indicator-indeterminate {
  background-color: var(--ids-color-palette-azure-70);
}

.ids-tag[version='classic'][mode='dark'] .ids-loading-indicator-indeterminate {
  background-color: var(--ids-color-palette-azure-50);
}

.ids-tag[version='classic'][mode='contrast'] .ids-loading-indicator-indeterminate {
  background-color: var(--ids-color-palette-azure-90);
}
