$hour-row-height: var(--ids-week-view-row-height);

:host {
  contain: content;
  height: 100%;
}

.ids-week-view {
  display: flex;
  background-color: var(--ids-week-view-color-background);
  color: var(--ids-week-view-color-text);
  border: 1px solid var(--ids-week-view-color-border);
  flex-direction: column;
  overflow: hidden;

  // Make the component fit to the height of the viewport
  // excluding component top offset
  max-height: calc(100vh - 25px);

  .week-view-table-header {
    th {
      background-clip: padding-box;
      border-top: 0;
      height: 24px;
      line-height: 24px;
      text-align: left;
      z-index: 3;
    }

    // Times on the right
    .week-view-header-wrapper {
      padding: 0 5px;
      text-align: center;

      .week-view-header-day-of-week {
        line-height: $hour-row-height;
      }

      &.is-day-view .week-view-header-day-of-week.is-emphasis {
        line-height: 40px;
      }
    }

    // All day section
    .week-view-all-day-wrapper {
      position: relative;
      box-sizing: border-box;
      border-color: var(--ids-week-view-color-border);
      height: 44px;
      text-transform: unset;
      border-top-width: 1px;
      border-top-style: solid;
    }

    th:nth-child(1) .week-view-all-day-wrapper {
      border-top-color: transparent;
      padding: 5px;
    }
  }

  .week-view-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    .week-view-allday-row {
      height: 40px;
    }

    .week-view-hour-row,
    .week-view-half-hour-row {
      height: $hour-row-height;
    }

    th,
    td {
      border-bottom: 1px solid;
      border-color: var(--ids-week-view-color-border);
      padding: 0;
      height: $hour-row-height;
    }

    // Legend Row with times
    th:nth-child(1) {
      width: 60px;
    }

    // First column padding
    tr td:nth-child(1) {
      .week-view-cell-wrapper {
        padding: 0 5px;
      }
    }

    // Alternate row style
    tr:nth-child(odd) td {
      border-bottom: 1px solid var(--ids-week-view-row-odd-color-border);
    }

    th:not(:last-child),
    td:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
    }
  }

  .week-view-header-wrapper.is-today {
    color: var(--ids-week-view-today-color);
    box-shadow: 0 4px 0 0 var(--ids-week-view-today-color);
  }

  // Header Section Container with All Day events
  .week-view-container {
    background-color: var(--ids-week-view-color-background);
    overflow: auto;

    th {
      background-color: var(--ids-week-view-header-color-background);
      position: sticky;
      top: 0;
      z-index: 3;
    }
  }

  .week-view-cell-wrapper {
    position: relative;
    padding: 0;
    height: $hour-row-height;
    min-width: 50px;
  }

  // Moving time marker
  .week-view-time-marker {
    display: block;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    border: 1px solid var(--ids-week-view-time-marker-color);
    height: 1px;
    margin-top: -2px;
    top: var(--timeline-shift);
  }
}

ids-toolbar ids-menu-button[menu='view-picker'] {
  margin-inline-end: 8px;
}

// Text direction
:host([dir='rtl']) {
  .week-view-all-day-wrapper {
    text-align: right;
  }

  .ids-week-view .week-view-table {
    th:not(:first-child),
    td:not(:first-child) {
      border-right-width: 1px;
      border-right-style: solid;
    }

    th:first-child,
    td:first-child {
      border-right-width: 0;
    }
  }
}
