@import '../../themes/mixins/ids-radio-mixin';
@import '../../themes/mixins/ids-dirty-tracker-mixin';
@import '../../themes/mixins/ids-validation-mixin';

:host {
  display: block;
  margin-bottom: 16px;
}

.ids-radio-group {
  border: 0;
  display: inline-block;
  position: relative;
  border-width: 0;
  margin: 0;
  padding: 0;

  .group-label-text {
    &.required::after {
      position: absolute;
      font-family: var(--ids-font-family-default);
      margin-inline-start: 2px;
      margin-inline-end: 2px;
      font-size: var(--ids-font-size-50);
      color: var(--ids-input-required-indicator-color-text-default);
      content: '*';
      right: -13px;
      top: -2px;
    }

    &.no-required-indicator::after {
      content: '';
    }
  }

  &.horizontal {
    display: inline-block;
    margin-inline-end: 12px;
  }

  &.disabled {
    .group-label-text {
      @include radio-disabled-text();

      &.required::after {
        color: var(--ids-input-required-indicator-color-text-disabled);
      }
    }
  }
}

// RTL Adjustments
:host([dir='rtl']) {
  .group-label-text.required::after {
    left: -13px;
    right: initial;
  }
}
