@import '../../themes/mixins/ids-radio-mixin';

.ids-radio {
  outline: none;
  margin-block-start: 8px;
  margin-block-end: 8px;

  label {
    cursor: var(--ids-cursor-pointer);
    position: relative;
    padding-inline-start: 24px;
    display: inline-block;
    user-select: none;
  }

  &.disabled label {
    cursor: var(--ids-cursor-default);
  }

  &.horizontal {
    display: inline-block;
    margin-inline-end: 12px;
  }

  input[type='radio'] {
    position: absolute;
    cursor: var(--ids-cursor-pointer);
    opacity: 0;
    height: 0;
    width: 0;

    ~ .circle {
      @include radio-unchecked();

      &::after {
        @include radio-unchecked-after();
      }
    }

    &.error ~ .circle {
      @include radio-unchecked-error-circle();
    }

    &.error ~ .label-text {
      @include radio-unchecked-error-label-text();
    }

    &:checked ~ .circle {
      @include radio-checked();

      &::after {
        @include radio-checked-after();
      }
    }

    // Default focus state (hide-focus behavior is enabled)
    &:focus ~ .circle {
      @include radio-focus();
    }

    &:disabled {
      ~ .circle {
        @include radio-disabled-unchecked();

        box-shadow: none;
      }

      ~ .label-text {
        @include radio-disabled-text();
      }

      &.error ~ .circle {
        @include radio-disabled-unchecked-error-circle();
      }

      &.error ~ .label-text {
        @include radio-disabled-unchecked-error-label-text();
      }

      &:checked ~ .circle {
        @include radio-disabled-checked();
      }
    }
  }

  // Focus state will display a "border" if "hide-focus" behavior is not present
  &:not(.hide-focus) input[type='radio']:focus ~ .circle {
    @include radio-focus-not-hide-focus();
  }
}

// Negate some rules for RTL
:host([dir='rtl']) {
  input[type='radio'] ~ .circle {
    left: initial;
    right: 0;
  }

  label {
    padding-right: 24px;
    padding-left: 0;
  }

  label.required .label-text::after {
    right: initial;
    left: -13px;
  }
}
