/* Ids Separator Component */
@import '../../core/ids-base';

:host {
  display: block;
}

:host([vertical]) {
  justify-self: center;
  align-self: center;
}

.ids-separator {
  @include block();

  background-color: var(--ids-color-brand-secondary-lighter);
  list-style: none;

  &:not(.vertical) {
    @include my-4();

    height: 1px;
  }

  &.vertical {
    @include mx-4();

    width: 1px;
    height: 24px;
  }

  &.color-variant-alternate-formatter {
    background-color: var(--ids-color-palette-slate-80);

    &.vertical {
      align-self: center;
      height: 16px;
    }
  }
}

// Handle Themes
.ids-separator[mode='dark'] {
  @include bg-slate-50();

  &.color-variant-alternate-formatter {
    background-color: var(--ids-color-palette-slate-40);
  }
}

.ids-separator[mode='contrast'] {
  @include text-slate-100();

  &.color-variant-alternate-formatter {
    background-color: var(--ids-color-palette-slate-60);
  }
}
