/* Ids Separator Component */
:host {
  display: block;
}

:host([hidden]) {
  visibility: hidden;
}

:host([vertical]) {
  justify-self: center;
  align-self: center;
}

.ids-separator {
  background-color: var(--ids-separator-color-background);
  display: block;
  list-style: none;

  &:not(.vertical) {
    height: var(--ids-separator-width);

    &:not(.no-margins) {
      margin-block-start: var(--ids-separator-margin);
      margin-block-end: var(--ids-separator-margin);
    }
  }

  &.vertical {
    width: var(--ids-separator-width);
    height: var(--ids-separator-height);

    &:not(.no-margins) {
      margin-inline-start: var(--ids-separator-margin);
      margin-inline-end: var(--ids-separator-margin);
    }
  }

  &.color-variant-alternate-formatter {
    &.vertical {
      align-self: center;
      background-color: var(--ids-separator-alternate-color-background);
      height: 16px;
    }
  }

  &.color-variant-module-nav {
    background-color: var(--ids-module-nav-separator-color);

    &:not(.no-margins) {
      margin-inline: var(--ids-module-nav-separator-expanded-edge-distance);
    }
  }
}
