:host {
  display: block;
  height: 100%;
}

// Picklist
.picklist {
  display: flex;
  height: 100%;
  position: relative;
}

:not(.is-expanded) .picklist-section::before {
  background-color: transparent;
}

.picklist-section {
  height: 100%;
  width: 50%;
  flex: 0 0 50%;

  &:only-child {
    width: 100%;
    flex: 0 0 100%;
  }

  + .picklist-section {
    // section separator
    &::before {
      background-color: var(--ids-color-neutral-30);
      position: absolute;
      content: ' ';
      width: 1px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: calc(75% + 14px);
      top: calc(12.5% - 4px);
    }
  }
}

.picklist-list {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.picklist-item {
  display: flex;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--ids-date-picker-picklist-item-color-text-default);
  padding-block: 1px;
  box-sizing: border-box;
  user-select: none;
  height: 12.5%;
  align-items: center;
  justify-content: center;
  contain: content;
  width: 100%;

  ids-text {
    line-height: 0;
  }

  &.is-selected {
    color: var(--ids-date-picker-picklist-item-color-text-selected);
    background-color: var(--ids-date-picker-picklist-item-color-background-selected);

    ids-text::part(text) {
      font-weight: 600;
    }
  }

  &:focus {
    border-color: var(--ids-date-picker-item-color-border-focus);
    box-shadow: var(--ids-date-picker-item-shadow-focus);
    outline: none;
  }

  &.is-year-nav,
  &.is-month-nav {
    z-index: 1;
  }

  &.is-month-nav {
    width: calc(100% + 1px);
  }
}
