// Date Picker Popup padding reset
ids-popup::part(popup) {
  padding-block: 0;
}

// Remove left/top transforms from animation on this component's popup
ids-popup[visible][animated] {
  transition: none;
}

.ids-date-picker-popup .ids-popup.menu {
  padding-block: 0;
}

ids-month-view {
  width: 100%;
}

#month-year-view-trigger {
  margin: 4px;
}

.ids-date-picker-popup {
  min-width: 350px;

  &:not(.has-time) ids-month-view::part(table-container) {
    margin-bottom: 10px;
  }

  ids-popup::part(popup) {
    padding-block: 0;
  }

  .popup-footer {
    border-top: 1px solid var(--ids-date-picker-popup-footer-color-border);
    display: flex;

    ids-modal-button:not([hidden]) + ids-modal-button,
    .ids-modal-button:not([hidden]) + .ids-modal-button {
      border-left: 1px solid;
      border-left-color: var(--ids-date-picker-popup-footer-color-border);
    }
  }

  .popup-btn {
    width: 100%;
  }
}

.ids-date-picker-content {
  position: relative;
}

// =====================================
// IdsExpandableArea

ids-expandable-area {
  display: block;
}

ids-expandable-area:not([expanded]),
ids-expandable-area[expanded='false'] {
  pointer-events: none;
}

ids-expandable-area::part(container) {
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  z-index: 3;
  border: none;
  left: 0;
  width: 100%;
}

ids-expandable-area::part(header) {
  display: none;
}

ids-expandable-area::part(pane) {
  background-color: var(--ids-date-picker-color-background);
}

ids-expandable-area::part(footer) {
  display: none;
}

ids-expandable-area::part(pane-content) {
  margin-top: 0;
  height: 100%;
}

// =====================================
// Timepicker

ids-time-picker {
  display: flex;
  justify-content: center;
}

// =====================================
// Footer buttons

.btn-today {
  margin-right: -7px;

  &::part(button) {
    padding: 2px 4px;
    margin: 3px;
  }
}

.btn-today-text {
  color: var(--ids-date-picker-popup-button-today-color-text);
}

.btn-previous,
.btn-next {
  padding-inline-start: 0;
  margin: 3px;

  &::part(button) {
    padding: 0;
    width: 44px;
    height: 44px;
  }
}
