@import '../../core/ids-base';

:host {
  @include block();
  @include h-full();
}

// Picklist
.picklist {
  @include h-full();
  @include relative();

  display: flex;
}

:not(.is-expanded) .picklist-section::before {
  @include bg-transparent();
}

.picklist-section {
  @include h-full();

  width: 50%;
  flex: 0 0 50%;

  &:only-child {
    width: 100%;
    flex: 0 0 100%;
  }

  + .picklist-section {
    &::before {
      @include bg-slate-30();

      position: absolute;
      content: ' ';
      width: 1px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: calc(75% + 14px);
      top: calc(12.5% - 4px);
    }
  }
}

.picklist-list {
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.picklist-item {
  @include cursor-pointer();
  @include border-1();
  @include border-solid();
  @include border-transparent();
  @include text-slate-80();
  @include py-1();
  @include box-border();

  user-select: none;
  display: flex;
  height: 12.5%;
  align-items: center;
  justify-content: center;
  contain: content;
  width: 100%;

  ids-text {
    line-height: 0;
  }

  &.is-selected {
    @include text-white();
    @include bg-azure-60();

    ids-text::part(text) {
      font-weight: 600;
    }
  }

  &:focus {
    @include border-azure-60();

    box-shadow: 0 0 4px 3px rgb(54 138 192 / 0.3);
    outline: none;
  }

  &.is-year-nav,
  &.is-month-nav {
    @include z-1();
  }

  &.is-month-nav {
    width: calc(100% + 1px);
  }
}
