@import '../../core/ids-base';

.ids-date-picker {
  // Fixes input doesn't stretch to lg size and up
  ids-input {
    max-width: 100%;
  }

  // Is calendar toolbar
  &.is-calendar-toolbar {
    @include flex();
    @include border-solid();
    @include border-1();
    @include border-transparent();
    @include pl-8();
    @include ml-4();

    align-items: center;
    outline: none;
    outline-color: transparent;

    .datepicker-text {
      @include leading-none();
      @include mr-2();
    }

    .datepicker-icon {
      @include mb-2();
    }

    &:focus {
      @include border-azure-60();

      box-shadow: 0 0 4px 3px rgba(54 138 192 / 0.3);
    }

    &[mode='dark'] {
      &:focus {
        @include border-azure-60();

        box-shadow: 0 0 4px 2px rgba(141 201 230 / 0.3);
      }
    }

    &[mode='contrast'] {
      &:focus {
        @include border-azure-90();

        box-shadow: 0 0 4px 2px rgba(41 41 41 / 0.3);
      }
    }
  }

  // Is open state
  &.is-open:not(.is-dropdown) {
    ids-trigger-button::part(button) {
      @include text-azure-60();
    }

    ids-trigger-field::part(content) {
      @include border-azure-60();
    }
  }

  &[mode='contrast'].is-open:not(.is-dropdown) {
    ids-trigger-button::part(button) {
      @include text-azure-90();
    }

    ids-trigger-field::part(content) {
      @include border-azure-90();
    }
  }

  // Popup related
  ids-month-view {
    @include w-full();

    max-width: 330px;
  }

  ids-popup::part(popup) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &[mode='dark'] ids-popup::part(popup) {
    @include bg-slate-80();
  }

  .popup-footer {
    @include flex();
  }

  .popup-btn {
    width: 50%;
  }

  .popup-btn::part(button) {
    @include flex();
    @include py-12();
    @include rounded-none();

    justify-content: center;

    &:not(:focus) {
      @include border-1();
      @include border-transparent();

      border-top-color: var(--ids-color-palette-slate-30);
    }
  }

  &[mode='dark'] .popup-btn::part(button):not(:focus) {
    border-top-color: var(--ids-color-palette-slate-50);
  }

  .popup-btn-start::part(button) {
    @include text-slate-60();

    &:not(:focus) {
      border-right-color: var(--ids-color-palette-slate-30);
    }

    &:hover {
      @include text-slate-100();
    }
  }

  &[mode='dark'] .popup-btn-start::part(button) {
    @include text-slate-30();

    &:not(:focus) {
      border-right-color: var(--ids-color-palette-slate-50);
    }

    &:hover {
      @include text-white();
    }
  }

  &[mode='contrast'] .popup-btn-start::part(button) {
    @include text-slate-80();

    &:hover {
      @include text-slate-50();
    }
  }

  .popup-btn-end::part(button) {
    @include text-azure-70();
  }

  &[mode='dark'] .popup-btn-end::part(button) {
    @include text-azure-60();
  }

  &[mode='contrast'] .popup-btn-end::part(button) {
    @include text-azure-90();
  }
}

// Dropdown
.ids-date-picker.is-dropdown {
  // Button
  .dropdown-btn::part(button) {
    @include rounded-default();
    @include text-slate-100();
    @include p-4();

    border: none;

    &:focus {
      box-shadow: 0 0 0 2px transparent, 0 0 0 1px var(--ids-color-palette-azure-60), 0 0 4px 3px rgb(54 138 192 / 0.3);
    }
  }

  &.is-expanded {
    .dropdown-btn::part(button) {
      @include text-azure-60();
    }

    .dropdown-btn-icon {
      transform: rotate(180deg);
    }
  }

  &[mode='dark']:not(.is-expanded) .dropdown-btn::part(button) {
    @include text-white();

    &:focus {
      box-shadow:
        0 0 0 2px transparent,
        0 0 0 1px var(--ids-color-palette-azure-60),
        0 0 4px 2px rgb(141 201 230 / 0.3);
    }
  }

  &[mode='contrast']:not(.is-expanded) .dropdown-btn::part(button) {
    @include text-black();

    &:focus {
      box-shadow: 0 0 0 2px transparent, 0 0 0 1px var(--ids-color-palette-azure-90), 0 0 4px 2px rgb(41 41 41 / 0.3);
    }
  }

  &[mode='contrast'].is-expanded .dropdown-btn::part(button) {
    @include text-azure-90();
  }

  // Expandable area
  ids-expandable-area::part(container) {
    @include absolute();
    @include m-0();
    @include p-0();
    @include w-full();
    @include z-2();

    border: none;
    top: 44px;
    left: 0;
  }

  ids-expandable-area::part(header) {
    display: none;
  }

  ids-expandable-area::part(pane) {
    @include bg-white();
  }

  &[mode='dark'] ids-expandable-area::part(pane) {
    @include bg-slate-80();
  }

  // Picklist
  .picklist {
    @include flex();
  }

  .picklist-section {
    @include h-full();

    width: 50%;
    flex: 0 0 50%;

    &:first-child::after {
      @include absolute();
      @include border-l-1();

      content: ' ';
      border-left-color: var(--ids-color-palette-slate-30);
      height: calc(100% - 25px);
      left: calc(50% - 1px);
      top: 15px;
    }
  }

  .picklist-list {
    @include flex();

    list-style: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0 0;
    margin-top: 0;
    margin-bottom: 0;
    height: calc(100% - 10px);
  }

  .picklist-item {
    @include flex();
    @include cursor-pointer();
    @include border-1();
    @include border-solid();
    @include border-transparent();
    @include text-slate-80();
    @include py-1();
    @include px-8();

    border-radius: 14px;
    user-select: none;
    height: calc(100% / 12);
    align-items: center;

    ids-text {
      line-height: 0;
    }

    &.is-selected {
      @include text-white();
      @include bg-azure-60();

      ids-text::part(text) {
        font-weight: 600;
      }
    }

    &:focus {
      @include border-azure-60();

      box-shadow: 0 0 4px 3px rgb(54 138 192 / 0.3);
      outline: none;
    }
  }

  &[mode='dark'] {
    .picklist-section:first-child::after {
      border-left-color: var(--ids-color-palette-slate-50);
    }

    .picklist-item {
      &:not(.is-selected) {
        @include text-slate-30();
      }

      &.is-selected:focus {
        box-shadow: 0 0 4px 2px rgb(141 201 230 / 0.3);
      }
    }
  }

  &[mode='contrast'] {
    .picklist-section:first-child::after {
      border-left-color: var(--ids-color-palette-slate-30);
    }

    .picklist-item {
      &:not(.is-selected) {
        @include text-black();
      }

      &.is-selected {
        @include bg-azure-90();
      }

      &.is-selected:focus {
        @include border-azure-100();

        box-shadow: 0 0 4px 2px rgb(41 41 41 / 0.3);
      }
    }
  }
}

:host([is-calendar-toolbar='true']) {
  @include flex();
}

// Text direction
:host([dir='rtl']) {
  .ids-date-picker {
    .popup-btn-start::part(button):not(:focus) {
      border-right-color: transparent;
      border-left-color: var(--ids-color-palette-slate-30);
    }

    &[mode='dark'] .popup-btn-start::part(button) {
      &:not(:focus) {
        border-left-color: var(--ids-color-palette-slate-50);
      }
    }
  }
}
