@import '../../core/ids-base';

.ids-date-picker {
  // Fixes input doesn't stretch to lg size and up
  ids-input {
    max-width: 100%;
  }

  ids-month-view {
    width: 100%;
    max-width: 330px;
  }
}
