/* Ids Date Picker Component */
:host {
  display: block;
}

:host([size='full']) {
  width: 100%;

  ::part(container) {
    display: block;
  }
}

.ids-date-picker {
  display: inline-block;
  max-width: 100%;

  // Fixes input doesn't stretch to lg size and up
  ids-trigger-field,
  .ids-trigger-field {
    display: inline-block;
    max-width: 100%;
  }

  ids-trigger-field {
    &[size='full'] {
      display: block;
    }
  }

  &.full {
    display: block;

    ids-trigger-field,
    .ids-trigger-field {
      display: block;
    }
  }

  // Is open state
  &.is-open:not(.is-dropdown) {
    ids-trigger-button::part(button) {
      color: var(--ids-date-picker-open-trigger-button-color-text);
    }

    ids-trigger-field::part(field-container) {
      border-color: var(--ids-date-picker-color-border);
    }
  }

  // Popup related
  ids-month-view {
    width: 100%;
  }

  &:not(.has-time) ids-month-view::part(table-container) {
    margin-bottom: 10px;
  }

  ids-popup::part(popup) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .popup-footer {
    display: flex;
  }

  .popup-btn {
    width: 100%;
  }

  .popup-btn::part(button) {
    display: flex;
    padding-block: var(--ids-space-50);
    border-radius: 0;
    justify-content: center;

    &:not(:focus) {
      border: 1px solid transparent;
      border-top-color: var(--ids-date-picker-popup-button-color-border);
    }
  }

  .popup-btn:not(.popup-btn-apply)::part(button) {
    color: var(--ids-date-picker-popup-button-color-text-default);

    &:hover {
      color: var(--ids-date-picker-popup-button-color-text-hover);
    }
  }

  .popup-btn:not([hidden]):not(:last-child):not(:focus)::part(button) {
    border-inline-end-color: var(--ids-date-picker-popup-button-color-border);
  }

  .popup-btn-apply:not([disabled])::part(button) {
    color: var(--ids-date-picker-popup-button-primary-color-text);
  }

  .popup-btn-apply[disabled]::part(button) {
    color: var(--ids-date-picker-popup-button-primary-color-text-disabled);
  }

  ids-time-picker {
    display: flex;
    justify-content: center;
  }
}

// Dropdown
.ids-date-picker.is-dropdown {
  // Button
  .dropdown-btn::part(button) {
    color: var(--ids-date-picker-dropdown-button-color-text);
    padding: 4px;
    border: none;
    border-radius: var(--ids-border-radius-01);

    &:focus {
      box-shadow: 0 0 0 2px transparent, 0 0 0 1px var(--ids-date-picker-dropdown-color-focus), 0 0 4px 3px rgb(54 138 192 / 0.3);
    }
  }

  .dropdown-btn-text,
  .dropdown-btn-icon {
    padding-inline-start: 0;
  }

  .dropdown-btn-icon {
    margin-top: 2px;
  }

  &.is-expanded {
    .dropdown-btn::part(button) {
      color: var(--ids-button-tertiary-color-text-hover);
    }

    .dropdown-btn-icon {
      transform: rotate(180deg);
    }
  }

  // Expandable area
  ids-expandable-area::part(container) {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    z-index: 3;
    border: none;
    top: 43px;
    left: 0;
  }

  ids-expandable-area::part(header) {
    display: none;
  }

  ids-expandable-area::part(pane) {
    background-color: var(--ids-color-background-default);
  }

  ids-expandable-area::part(pane-content) {
    margin-top: 0;
  }

  // Picklist
  .picklist {
    display: flex;

    &::after {
      background-color: var(--ids-date-picker-picklist-separator-color-background);
      position: absolute;
      content: ' ';
      width: 1px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: calc(75% + 14px);
      top: calc(12.5% - 4px);
    }
  }

  &:not(.is-expanded) .picklist::after {
    background-color: transparent;
  }

  .picklist-section {
    height: 100%;
    width: 50%;
    flex: 0 0 50%;
  }

  .picklist-list {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  }

  .picklist-item {
    border: 1px solid transparent;
    box-sizing: border-box;
    display: flex;
    cursor: var(--ids-cursor-pointer);
    color: var(--ids-date-picker-picklist-item-color-text-default);
    padding-top: 1px;
    padding-bottom: 1px;
    user-select: none;
    height: 12.5%;
    align-items: center;
    justify-content: center;
    width: 100%;

    ids-text {
      line-height: 0;
    }

    &.is-selected {
      color: var(--ids-date-picker-picklist-item-color-text-selected);
      background-color: var(--ids-date-picker-picklist-item-color-background-selected);

      ids-text::part(text) {
        font-weight: 600;
      }
    }

    &:focus {
      border-color: var(--ids-date-picker-item-color-border-focus);
      box-shadow: var(--ids-date-picker-item-shadow-focus);
      outline: none;
    }

    &.is-year-nav,
    &.is-month-nav {
      z-index: 1;
    }

    &.is-month-nav {
      width: calc(100% + 1px);
    }
  }
}

:host([is-calendar-toolbar='true']) {
  display: flex;
}

// Text direction
:host([dir='rtl']) {
  .ids-date-picker {
    .popup-btn + .popup-btn::part(button):not(:focus) {
      border-left-color: transparent;
    }
  }
}

// Date Picker Editor Borderless
.ids-date-picker.color-variant-borderless {
  ids-trigger-field::part(container) {
    margin: 1px 0;
  }

  ids-trigger-field::part(field-container) {
    border: none;
  }

  ids-trigger-field::part(input) {
    padding-inline-end: 0 !important;
  }

  &.field-height-lg {
    ids-trigger-field::part(input) {
      padding-inline: 16px;
      height: 50px;
    }
  }

  &.field-height-md {
    ids-trigger-field::part(input) {
      padding-inline: 12px;
      height: 40px;
    }
  }

  &.field-height-sm {
    ids-trigger-field::part(input) {
      padding-inline: 8px;
      height: 35px;
    }
  }

  &.field-height-xs {
    ids-trigger-field::part(input) {
      padding-inline: 4px;
      height: 30px;
    }
  }
}
