@import '../../core/ids-base';

:host {
  display: block;
}

:host([size='full']) {
  @include w-full();

  ::part(container) {
    display: block;
  }
}

.ids-date-picker {
  display: inline-block;
  max-width: 100%;

  // Fixes input doesn't stretch to lg size and up
  ids-trigger-field,
  .ids-trigger-field {
    display: inline-block;
    max-width: 100%;
  }

  ids-trigger-field {
    &[size='full'] {
      display: block;
    }
  }

  &.full {
    display: block;

    ids-trigger-field,
    .ids-trigger-field {
      display: block;
    }
  }

  // Is calendar toolbar
  &.is-calendar-toolbar {
    @include flex();
    @include border-solid();
    @include border-1();
    @include border-transparent();
    @include pl-8();
    @include ml-4();

    align-items: center;
    outline: none;
    outline-color: transparent;

    .datepicker-text {
      @include leading-none();
      @include mr-2();
    }

    .datepicker-icon {
      @include mb-2();
    }

    &:focus {
      @include border-azure-60();

      box-shadow: 0 0 4px 3px rgba(54 138 192 / 0.3);
    }

    &[mode='dark'] {
      &:focus {
        @include border-azure-60();

        box-shadow: 0 0 4px 2px rgba(141 201 230 / 0.3);
      }
    }

    &[mode='contrast'] {
      &:focus {
        @include border-azure-90();

        box-shadow: 0 0 4px 2px rgba(41 41 41 / 0.3);
      }
    }
  }

  // Is open state
  &.is-open:not(.is-dropdown) {
    ids-trigger-button::part(button) {
      @include text-azure-60();
    }

    ids-trigger-field::part(field-container) {
      @include border-azure-60();
    }
  }

  &[mode='contrast'].is-open:not(.is-dropdown) {
    ids-trigger-button::part(button) {
      @include text-azure-90();
    }

    ids-trigger-field::part(field-container) {
      @include border-azure-90();
    }
  }

  // Popup related
  ids-month-view {
    @include w-full();
  }

  &:not(.has-time) ids-month-view::part(table-container) {
    margin-bottom: 10px;
  }

  ids-popup::part(popup) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &[mode='dark'] {
    ids-popup::part(popup) {
      @include bg-slate-80();
    }

    ids-popup::part(arrow)::after,
    ids-popup::part(arrow-bottom)::after {
      border-bottom-color: var(--ids-color-palette-slate-80);
    }
  }

  .popup-footer {
    @include flex();
  }

  .popup-btn {
    @include w-full();
  }

  .popup-btn::part(button) {
    @include flex();
    @include py-12();
    @include rounded-none();

    justify-content: center;

    &:not(:focus) {
      @include border-1();
      @include border-transparent();

      border-top-color: var(--ids-color-palette-slate-30);
    }
  }

  &[mode='dark'] .popup-btn::part(button):not(:focus) {
    border-top-color: var(--ids-color-palette-slate-50);
  }

  .popup-btn:not(.popup-btn-apply)::part(button) {
    @include text-slate-60();

    &:hover {
      @include text-slate-100();
    }
  }

  .popup-btn:not([hidden]):not(:last-child):not(:focus)::part(button) {
    border-right-color: var(--ids-color-palette-slate-30);
  }

  &[mode='dark'] .popup-btn:not(.popup-btn-apply)::part(button) {
    @include text-slate-30();

    &:hover {
      @include text-white();
    }
  }

  &[mode='dark'] .popup-btn:not([hidden]):not(:last-child):not(:focus)::part(button) {
    border-right-color: var(--ids-color-palette-slate-50);
  }

  &[mode='contrast'] .popup-btn:not(.popup-btn-apply)::part(button) {
    @include text-slate-80();

    &:hover {
      @include text-slate-50();
    }
  }

  .popup-btn-apply:not([disabled])::part(button) {
    @include text-azure-70();
  }

  .popup-btn-apply[disabled]::part(button) {
    @include text-azure-30();
  }

  &[mode='dark'] .popup-btn-apply:not([disabled])::part(button) {
    @include text-azure-60();
  }

  &[mode='contrast'] .popup-btn-apply:not([disabled])::part(button) {
    @include text-azure-90();
  }

  ids-time-picker {
    display: flex;
    justify-content: center;
  }
}

// Dropdown
.ids-date-picker.is-dropdown {
  // Button
  .dropdown-btn::part(button) {
    @include text-slate-100();
    @include p-4();

    border: none;
    border-radius: var(--ids-border-radius-xs);

    &:focus {
      box-shadow: 0 0 0 2px transparent, 0 0 0 1px var(--ids-color-palette-azure-60), 0 0 4px 3px rgb(54 138 192 / 0.3);
    }
  }

  .dropdown-btn-text,
  .dropdown-btn-icon {
    padding-inline-start: 0;
  }

  .dropdown-btn-icon {
    @include mt-2();
  }

  &.is-expanded {
    .dropdown-btn::part(button) {
      @include text-azure-60();
    }

    .dropdown-btn-icon {
      transform: rotate(180deg);
    }
  }

  &[mode='dark']:not(.is-expanded) .dropdown-btn::part(button) {
    @include text-white();

    &:focus {
      box-shadow:
        0 0 0 2px transparent,
        0 0 0 1px var(--ids-color-palette-azure-60),
        0 0 4px 2px rgb(141 201 230 / 0.3);
    }
  }

  &[mode='contrast']:not(.is-expanded) .dropdown-btn::part(button) {
    @include text-black();

    &:focus {
      box-shadow: 0 0 0 2px transparent, 0 0 0 1px var(--ids-color-palette-azure-90), 0 0 4px 2px rgb(41 41 41 / 0.3);
    }
  }

  &[mode='contrast'].is-expanded .dropdown-btn::part(button) {
    @include text-azure-90();
  }

  // Expandable area
  ids-expandable-area::part(container) {
    @include m-0();
    @include p-0();
    @include w-full();

    position: absolute;
    z-index: 3;
    border: none;
    top: 43px;
    left: 0;
  }

  ids-expandable-area::part(header) {
    display: none;
  }

  ids-expandable-area::part(pane) {
    @include bg-white();
  }

  ids-expandable-area::part(pane-content) {
    @include mt-0();
  }

  &[mode='dark'] ids-expandable-area::part(pane) {
    @include bg-slate-80();
  }

  // Picklist
  .picklist {
    @include flex();

    &::after {
      @include bg-slate-30();

      position: absolute;
      content: ' ';
      width: 1px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: calc(75% + 14px);
      top: calc(12.5% - 4px);
    }
  }

  &:not(.is-expanded) .picklist::after {
    @include bg-transparent();
  }

  .picklist-section {
    @include h-full();

    width: 50%;
    flex: 0 0 50%;
  }

  .picklist-list {
    @include flex();

    list-style: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  }

  .picklist-item {
    @include flex();
    @include cursor-pointer();
    @include border-1();
    @include border-solid();
    @include border-transparent();
    @include text-slate-80();
    @include py-1();
    @include w-full();
    @include box-border();

    user-select: none;
    height: 12.5%;
    align-items: center;
    justify-content: center;

    ids-text {
      line-height: 0;
    }

    &.is-selected {
      @include text-white();
      @include bg-azure-60();

      ids-text::part(text) {
        font-weight: 600;
      }
    }

    &:focus {
      @include border-azure-60();

      box-shadow: 0 0 4px 3px rgb(54 138 192 / 0.3);
      outline: none;
    }

    &.is-year-nav,
    &.is-month-nav {
      @include z-1();
    }

    &.is-month-nav {
      width: calc(100% + 1px);
    }
  }

  &[mode='dark'] {
    .picklist::after {
      @include bg-slate-50();
    }

    .picklist-item {
      &:not(.is-selected) {
        @include text-slate-30();
      }

      &.is-selected:focus {
        box-shadow: 0 0 4px 2px rgb(141 201 230 / 0.3);
      }
    }
  }

  &[mode='contrast'] {
    .picklist::after {
      @include bg-slate-30();
    }

    .picklist-item {
      &:not(.is-selected) {
        @include text-black();
      }

      &.is-selected {
        @include bg-azure-90();
      }

      &.is-selected:focus {
        @include border-azure-100();

        box-shadow: 0 0 4px 2px rgb(41 41 41 / 0.3);
      }
    }
  }
}

:host([is-calendar-toolbar='true']) {
  @include flex();
}

// Text direction
:host([dir='rtl']) {
  .ids-date-picker {
    .popup-btn + .popup-btn::part(button):not(:focus) {
      border-left-color: transparent;
      border-right-color: var(--ids-color-palette-slate-30);
    }

    &[mode='dark'] .popup-btn + .popup-btn::part(button) {
      &:not(:focus) {
        border-right-color: var(--ids-color-palette-slate-50);
      }
    }
  }
}

// Date Picker Editor Borderless
.ids-date-picker.color-variant-borderless {
  ids-trigger-field::part(container) {
    margin: 1px 0;
  }

  ids-trigger-field::part(field-container) {
    border: none;
  }

  ids-trigger-field::part(input) {
    padding-inline-end: 0 !important;
  }

  &.field-height-lg {
    ids-trigger-field::part(input) {
      padding-inline: 16px;
      height: 50px;
    }
  }

  &.field-height-md {
    ids-trigger-field::part(input) {
      padding-inline: 12px;
      height: 40px;
    }
  }

  &.field-height-sm {
    ids-trigger-field::part(input) {
      padding-inline: 8px;
      height: 35px;
    }
  }

  &.field-height-xs {
    ids-trigger-field::part(input) {
      padding-inline: 4px;
      height: 30px;
    }
  }
}
