<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Buttons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-button-default">
          <span>Default Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-button-primary" type="primary">
          <span>Primary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-button-secondary" type="secondary">
          <span>Secondary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-button-tertiary" type="tertiary">
          <span>Tertiary Button</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Disabled Buttons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-disabled-button-default" disabled="true">
          <span>Default Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-disabled-button-primary" type="primary"  disabled="true">
          <span>Primary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-disabled-button-secondary" type="secondary"  disabled="true">
          <span>Secondary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-disabled-button-tertiary" type="tertiary"  disabled="true">
          <span>Tertiary Button</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Icon Only Buttons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-icon-only-button-default">
          <span class="audible">Default Button</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-only-button-primary" type="primary">
          <span class="audible">Primary Button</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-only-button-secondary" type="secondary">
          <span class="audible">Secondary Button</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-only-button-tertiary" type="tertiary">
          <span class="audible">Tertiary Button</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Icon + Text Buttons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-icon-button-default">
          <ids-icon icon="settings"></ids-icon>
          <span>Default Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-button-primary" type="primary">
          <ids-icon icon="settings"></ids-icon>
          <span>Primary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-button-secondary" type="secondary">
          <ids-icon icon="settings"></ids-icon>
          <span>Secondary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-button-tertiary" type="tertiary">
          <ids-icon icon="settings"></ids-icon>
          <span>Tertiary Button</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Text + Icon Buttons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-icon-end-button-default" icon-align="end">
          <span>Default Button</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-end-button-primary" icon-align="end" type="primary">
          <span>Primary Button</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-end-button-secondary" icon-align="end" type="secondary">
          <span>Secondary Button</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-end-button-tertiary" icon-align="end" type="tertiary">
          <span>Tertiary Button</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
