<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>

    <ids-layout-grid cols="4" gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <p>
          <ids-text font-size="12" type="h1">Primary</ids-text>
        </p>
        <p>
          <ids-button id="test-button-primary" appearance="primary">
            <span>Button label</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-primary" appearance="primary" disabled>
            <span>Button label</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-button-icon-primary" appearance="primary">
            <ids-icon icon="folder"></ids-icon>
            <span>Button label</span>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p>
          <ids-text font-size="12" type="h2">Secondary</ids-text>
        </p>
        <p>
          <ids-button id="test-button-secondary" appearance="secondary">
            <span>Button label</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-secondary" appearance="secondary" disabled>
            <span>Button label</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-button-icon-secondary" appearance="secondary">
            <ids-icon icon="folder"></ids-icon>
            <span>Button label</span>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p>
          <ids-text font-size="12" type="h2">Tertiary</ids-text>
        </p>
        <p>
          <ids-button id="test-button-tertiary" appearance="tertiary">
            <ids-icon icon="folder"></ids-icon>
            <span>Button label</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-tertiary" appearance="tertiary" disabled>
            <ids-icon icon="folder"></ids-icon>
            <span>Button label</span>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p>
          <ids-text font-size="12" type="h2">Icon</ids-text>
        </p>
        <p>
          <ids-button id="test-button-icon">
            <ids-icon icon="folder"></ids-icon>
            <span class="audible">Button label</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-icon" disabled>
            <ids-icon icon="folder"></ids-icon>
            <span class="audible">Button label</span>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p>
          <ids-text font-size="12" type="h2">Destructive Primary</ids-text>
        </p>

        <p>
          <ids-button id="test-button-primary-destructive" appearance="primary-destructive">
            <span>Button label</span>
          </ids-button>
        </p>

        <p>
          <ids-button id="test-button-disabled-primary-destructive" appearance="primary-destructive" disabled>
            <span>Button label</span>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p>
          <ids-text font-size="12" type="h2">Destructive Tertiary</ids-text>
        </p>

        <p>
          <ids-button id="test-button-tertiary-destructive" appearance="tertiary-destructive">
            <ids-icon icon="folder"></ids-icon>
            <span>Button label</span>
          </ids-button>
        </p>

        <p>
          <ids-button id="test-button-disabled-tertiary-destructive" appearance="tertiary-destructive" disabled>
            <ids-icon icon="folder"></ids-icon>
            <span>Button label</span>
          </ids-button>
        </p>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
