<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>

    <ids-layout-grid-cell col-span="4">
      <ids-button appearance="primary">
        <span>Primary Button</span>
      </ids-button>
      <ids-button appearance="primary">
        <span>Primary Button</span>
      </ids-button>
      <ids-button appearance="primary">
        <span>Primary Button</span>
      </ids-button>
    </ids-layout-grid-cell>
    <ids-layout-grid-cell col-span="4">
      <ids-button appearance="primary" icon="refresh">
        <span>Primary Button</span>
      </ids-button>
      <ids-button appearance="primary">
        <span>Primary Button</span>
      </ids-button>
      <ids-button appearance="primary">
        <span>Primary Button</span>
      </ids-button>
    </ids-layout-grid-cell>
    <ids-layout-grid-cell col-span="4">
      <ids-button appearance="secondary">
        <span>Secondary Button</span>
      </ids-button>
      <ids-button appearance="secondary">
        <span>Secondary Button</span>
      </ids-button>
      <ids-button appearance="secondary">
        <span>Secondary Button</span>
      </ids-button>
    </ids-layout-grid-cell>
    <ids-layout-grid-cell col-span="4">
      <ids-button appearance="secondary" icon="refresh">
        <span>Secondary Button</span>
      </ids-button>
      <ids-button appearance="secondary">
        <span>Secondary Button</span>
      </ids-button>
      <ids-button appearance="secondary">
        <span>Secondary Button</span>
      </ids-button>
    </ids-layout-grid-cell>

    <ids-layout-grid-cell col-span="4">
      <ids-button appearance="secondary">
        <span>Secondary Button</span>
      </ids-button>
      <ids-button appearance="secondary">
        <span>Secondary Button</span>
      </ids-button>
    </ids-layout-grid-cell>
    <ids-layout-grid-cell col-span="4">
      <ids-button appearance="secondary">
        <span>Secondary Button</span>
      </ids-button>
      <ids-button appearance="primary">
        <span>Primary Button</span>
      </ids-button>
    </ids-layout-grid-cell>
    <ids-layout-grid-cell col-span="4">
      <ids-button appearance="primary">
        <span>Primary Button</span>
      </ids-button>
      <ids-button appearance="primary">
        <span>Primary Button</span>
      </ids-button>
    </ids-layout-grid-cell>
  </ids-container>
</body>
</html>
