<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h2">Ids Button With Loading Indicator</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="md">
      <ids-layout-grid-cell>
        <p>
          <ids-text font-size="18" type="h2">Show Loading Indicator Initially</ids-text>
        </p>
        <p>
          <ids-text font-size="18" type="h2">With Text</ids-text>
        </p>
        <p>
          <ids-button show-loading-indicator="true" type="primary">
            <span>Primary</span>
          </ids-button>
          <ids-button show-loading-indicator="true" type="secondary">
            <span>Secondary</span>
          </ids-button>
          <ids-button show-loading-indicator="true" type="tertiary">
            <span>Tertiary</span>
          </ids-button>
          <ids-button show-loading-indicator="true">
            <ids-icon icon="folder"></ids-icon>
            <span class="audible">Icon</span>
          </ids-button>
          <ids-button show-loading-indicator="true" type="primary-destructive">
            <span>Primary Destructive</span>
          </ids-button>
          <ids-button show-loading-indicator="true" type="tertiary-destructive">
            <span>Tertiary Destructive</span>
          </ids-button>
        </p>
        <p>
          <ids-text font-size="18" type="h2">Without Text</ids-text>
        </p>
        <p>
          <ids-button show-loading-indicator="true" loading-indicator-replace-text="true" type="primary">
            <span>Primary</span>
          </ids-button>
          <ids-button show-loading-indicator="true" loading-indicator-replace-text="true" type="secondary">
            <span>Secondary</span>
          </ids-button>
          <ids-button show-loading-indicator="true" loading-indicator-replace-text="true" type="tertiary">
            <ids-icon icon="folder"></ids-icon>
            <span>Tertiary</span>
          </ids-button>
          <ids-button show-loading-indicator="true" loading-indicator-replace-text="true">
            <ids-icon icon="folder"></ids-icon>
            <span class="audible">Icon</span>
          </ids-button>
          <ids-button show-loading-indicator="true" loading-indicator-replace-text="true" type="primary-destructive">
            <span>Primary Destructive</span>
          </ids-button>
          <ids-button show-loading-indicator="true" loading-indicator-replace-text="true" type="tertiary-destructive">
            <span>Tertiary Destructive</span>
          </ids-button>
        </p>
        <p>
          <ids-text font-size="18" type="h2">Custom</ids-text>
        </p>
        <p>
          <ids-button show-loading-indicator="true" type="primary">
            <span>Custom</span>
            <ids-icon icon="pending" slot="loading-indicator"></ids-icon>
          </ids-button>
        </p>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <p>
          <ids-text font-size="18" type="h2">Click To Start/Stop Loading</ids-text>
        </p>
        <ids-button type="primary" class="btn-click-to-load">
          <span>Action</span>
        </ids-button>
        <ids-button type="primary" class="btn-click-to-load" loading-indicator-replace-text="true">
          <span>Action</span>
        </ids-button>
        <ids-button type="tertiary" class="btn-click-to-load">
          <span>Action</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-input type="text" label="Input" placeholder="Normal text Field"></ids-input>
        <ids-button type="primary" class="btn-trigger-to-load">
          <span>Load</span>
        </ids-button>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-trigger-field tabbable="false" label="Trigger Field">
          <ids-trigger-button slot="trigger-end">
            <ids-text audible="true">Trigger Field</ids-text>
            <ids-icon icon="camera"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>
        <ids-button type="primary" class="btn-trigger-to-load">
          <span>Load</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
