<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="18" type="h1">IdsButton Example Matrix</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="6" gap="md">
      <ids-layout-grid-cell>
        <p><ids-text font-size="12" type="span">Default</ids-text></p>
        <p>
          <ids-button id="test-button-default">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-default" disabled="true">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-only-button-default">
            <span class="audible">Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-button-default">
            <ids-icon icon="settings"></ids-icon>
            <span>Action</span>
          </ids-button>
        </p>
        <p>
        <ids-button id="test-icon-end-button-default" icon-align="end">
          <span>Action</span>
          <ids-icon icon="settings"></ids-icon>
        </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p><ids-text font-size="12" type="span">Primary</ids-text></p>
        <p>
          <ids-button id="test-button-primary" type="primary">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-primary" type="primary" disabled="true">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-only-button-primary" type="primary">
            <span class="audible">Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-button-primary" type="primary">
            <ids-icon icon="settings"></ids-icon>
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-end-button-primary" icon-align="end" type="primary">
            <span>Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p><ids-text font-size="12" type="span">Secondary</ids-text></p>
        <p>
          <ids-button id="test-button-secondary" type="secondary">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-secondary" type="secondary" disabled="true">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-only-button-secondary" type="secondary">
            <span class="audible">Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-button-secondary" type="secondary">
            <ids-icon icon="settings"></ids-icon>
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-end-button-secondary" icon-align="end" type="secondary">
            <span>Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p><ids-text font-size="12" type="span">Tertiary</ids-text></p>
        <p>
          <ids-button id="test-button-tertiary" type="tertiary">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-tertiary" type="tertiary" disabled="true">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-only-button-tertiary" type="tertiary">
            <span class="audible">Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-button-tertiary" type="tertiary">
            <ids-icon icon="settings"></ids-icon>
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-end-button-tertiary" icon-align="end" type="tertiary">
            <span>Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p><ids-text font-size="12" type="span">Primary Destructive</ids-text></p>
        <p>
          <ids-button id="test-button-primary-destructive" type="primary-destructive">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-primary-destructive" type="primary-destructive" disabled="true">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-only-button-primary-destructive" type="primary-destructive">
            <span class="audible">Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-button-primary-destructive" type="primary-destructive">
            <ids-icon icon="settings"></ids-icon>
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-end-button-primary-destructive" icon-align="end" type="primary-destructive">
            <span>Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <p><ids-text font-size="12" type="span">Tertiary Destructive</ids-text></p>
        <p>
          <ids-button id="test-button-tertiary-destructive" type="tertiary-destructive">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-disabled-button-tertiary-destructive" type="tertiary-destructive" disabled="true">
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-only-button-tertiary-destructive" type="tertiary-destructive">
            <span class="audible">Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-button-tertiary-destructive" type="tertiary-destructive">
            <ids-icon icon="settings"></ids-icon>
            <span>Action</span>
          </ids-button>
        </p>
        <p>
          <ids-button id="test-icon-end-button-tertiary-destructive" icon-align="end" type="tertiary-destructive">
            <span>Action</span>
            <ids-icon icon="settings"></ids-icon>
          </ids-button>
        </p>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
