<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container color-variant="alternate" role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1" color-variant="alternate">Buttons (Alternate Color Variant)</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-button-default" color-variant="alternate">
          <span slot="text">Default Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-button-primary" type="primary" color-variant="alternate">
          <span slot="text">Primary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-button-secondary" type="secondary" color-variant="alternate">
          <span slot="text">Secondary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-button-tertiary" type="tertiary" color-variant="alternate">
          <span slot="text">Tertiary Button</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1" color-variant="alternate">Disabled Buttons</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-disabled-button-default" disabled="true" color-variant="alternate">
          <span slot="text">Default Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-disabled-button-primary" type="primary" disabled="true" color-variant="alternate">
          <span slot="text">Primary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-disabled-button-secondary" type="secondary" disabled="true" color-variant="alternate">
          <span slot="text">Secondary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-disabled-button-tertiary" type="tertiary" disabled="true" color-variant="alternate">
          <span slot="text">Tertiary Button</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1" color-variant="alternate">Icon Only Buttons</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-icon-only-button-default" color-variant="alternate">
          <span class="audible">Default Button</span>
          <ids-icon slot="icon" icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-only-button-primary" type="primary" color-variant="alternate">
          <span class="audible">Primary Button</span>
          <ids-icon slot="icon" icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-only-button-secondary" type="secondary" color-variant="alternate">
          <span class="audible">Secondary Button</span>
          <ids-icon slot="icon" icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-only-button-tertiary" type="tertiary" color-variant="alternate">
          <span class="audible">Tertiary Button</span>
          <ids-icon slot="icon" icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1" color-variant="alternate">Icon + Text Buttons</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-icon-button-default" color-variant="alternate">
          <ids-icon slot="icon" icon="settings"></ids-icon>
          <span slot="text">Default Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-button-primary" type="primary" color-variant="alternate">
          <ids-icon slot="icon" icon="settings"></ids-icon>
          <span slot="text">Primary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-button-secondary" type="secondary" color-variant="alternate">
          <ids-icon slot="icon" icon="settings"></ids-icon>
          <span slot="text">Secondary Button</span>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-button-tertiary" type="tertiary" color-variant="alternate">
          <ids-icon slot="icon" icon="settings"></ids-icon>
          <span slot="text">Tertiary Button</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1" color-variant="alternate">Text + Icon Buttons</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>
        <ids-button id="test-icon-end-button-default" icon-align="end" color-variant="alternate">
          <span slot="text">Default Button</span>
          <ids-icon slot="icon" icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-end-button-primary" icon-align="end" type="primary" color-variant="alternate">
          <span slot="text">Primary Button</span>
          <ids-icon slot="icon" icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-end-button-secondary" icon-align="end" type="secondary" color-variant="alternate">
          <span slot="text">Secondary Button</span>
          <ids-icon slot="icon" icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-button id="test-icon-end-button-tertiary" icon-align="end" type="tertiary" color-variant="alternate">
          <span slot="text">Tertiary Button</span>
          <ids-icon slot="icon" icon="settings"></ids-icon>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
