@import '../ids-menu/ids-menu-base';
@import '../../mixins/sass/ids-hide-mixin';

:host {
  &:not([hidden]) {
    @include block();
  }
}

:host(.hide-sm-down) {
  @include hide-sm-down();
}

.ids-popup-menu {
  text-align: start;

  &:not([hidden]) {
    @include block();

    z-index: 1000;
  }

  .ids-menu {
    position: relative;
  }
}
