@import '../ids-menu/ids-menu-base';
@import '../../mixins/sass/ids-hide-mixin';

:host(.hide-sm-down) {
  @include hide-sm-down();
}

:host {
  @include absolute();
}

.ids-popup-menu {
  @include relative();

  ids-popup:not([hidden]) {
    @include block();

    z-index: 1000;
  }

  .ids-menu {
    position: relative;
  }
}
