@mixin event-border-accent($color) {
  &:not(.calendar-event-continue):not(.calendar-event-ends) {
    border-inline-start-width: 5px;
    border-inline-start-color: $color;

    &:focus {
      border-inline-start-color: var(--ids-calendar-event-focus-border-color);
    }
  }

  &:focus {
    box-shadow: var(--ids-box-shadow-md);
    border-color: var(--ids-calendar-event-focus-border-color);
    outline: none;
  }
}

// Calendar Event Type Themes
.ids-calendar-event:not([color]) {
  @include event-border-accent(var(--ids-calendar-event-border-color));

  background-color: var(--ids-calendar-event-background-color);
}

.ids-calendar-event[color='azure'] {
  @include event-border-accent(var(--ids-calendar-event-azure-border-color));

  background-color: var(--ids-calendar-event-azure-background-color);
}

.ids-calendar-event[color='amber'] {
  @include event-border-accent(var(--ids-calendar-event-amber-border-color));

  background-color: var(--ids-calendar-event-amber-background-color);
}

.ids-calendar-event[color='amethyst'] {
  @include event-border-accent(var(--ids-calendar-event-amethyst-border-color));

  background-color: var(--ids-calendar-event-amethyst-background-color);
}

.ids-calendar-event[color='emerald'] {
  @include event-border-accent(var(--ids-calendar-event-emerald-border-color));

  background-color: var(--ids-calendar-event-emerald-background-color);
}

.ids-calendar-event[color='ruby'] {
  @include event-border-accent(var(--ids-calendar-event-ruby-border-color));

  background-color: var(--ids-calendar-event-ruby-background-color);
}

.ids-calendar-event[color='turquoise'] {
  @include event-border-accent(var(--ids-calendar-event-turquoise-border-color));

  background-color: var(--ids-calendar-event-turquoise-background-color);
}

.ids-calendar-event[color='slate'] {
  @include event-border-accent(var(--ids-calendar-event-slate-border-color));

  background-color: var(--ids-calendar-event-slate-background-color);
}

.ids-calendar-event {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  background: var(--ids-calendar-event-background-color);
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--ids-calendar-event-text-color);
  height: 20px;
  overflow: hidden;
  text-decoration: none;

  .calendar-event-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 2px 5px;

    ids-text {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .calendar-event-icon {
    vertical-align: bottom;

    &[icon='success-alert'] {
      color: var(--ids-calendar-event-icon-success-color);
    }

    &[icon='alert-alert'] {
      color: var(--ids-calendar-event-icon-alert-color);
    }

    &[icon='clock'] {
      color: var(--ids-calendar-event-icon-clock-color);
    }

    &[icon='pending'] {
      color: var(--ids-calendar-event-icon-pending-color);
    }
  }

  .calendar-event-title {
    line-height: 12px;

    &::part(text) {
      text-transform: initial;
    }
  }

  // Styles for intraday events
  &.is-cutoff {
    border-radius: 3px 3px 0 0;
  }

  &.is-ellipsis {
    .calendar-event-content {
      white-space: nowrap;
    }
  }

  &.reduced-padding {
    .calendar-event-content {
      padding: 0 5px;
    }

    .calendar-event-title {
      position: relative;
      top: -1.6px;
    }
  }
}

// All day event styles
.ids-calendar-event.all-day {
  top: 1px;

  &.calendar-event-start,
  &.calendar-event-continue,
  &.calendar-event-ends {
    border-radius: 0;
  }

  // first of multi day
  &.calendar-event-start {
    border-start-start-radius: 3px;
    border-end-start-radius: 3px;
  }

  &.calendar-event-continue {
    width: calc(100% + 2px);
    margin-inline-start: -1px;
  }

  // end of multiday
  &.calendar-event-ends {
    border-end-end-radius: 3px;
    border-start-end-radius: 3px;
  }

  &.calendar-event-continue,
  &.calendar-event-ends {
    ids-icon {
      visibility: hidden;
    }

    .calendar-event-title {
      color: transparent;
    }
  }
}

// Month View Styles
.ids-calendar-event.is-month-view {
  $month-margin: 5px;
  position: absolute;
  display: block;
  height: 16px;

  &:not(.all-day) {
    width: calc(100% - ($month-margin * 2));
    margin: 0 $month-margin;
  }

  &.calendar-event-start,
  &.calendar-event-continue,
  &.calendar-event-ends {
    width: calc(100% - $month-margin);
  }

  &.calendar-event-start {
    margin-inline-start: $month-margin;
  }

  &.calendar-event-continue {
    width: 100%;
    margin-inline-start: 0;
  }

  &.calendar-event-ends {
    margin-inline-end: $month-margin;
  }

  &.hidden {
    display: none;
  }

  .calendar-event-content {
    padding: 0 5px;
  }
}
