@import '../../themes/mixins/ids-core-mixins';

// Mixin for palettes
@mixin palette-colors($prefix, $property, $suffix:null) {
  #{$prefix}[color='azure']#{$suffix} {
    #{$property}: var(--ids-color-azure-60);
  }

  #{$prefix}[color='amber']#{$suffix} {
    #{$property}: var(--ids-color-amber-60);
  }

  #{$prefix}[color='amethyst']#{$suffix} {
    #{$property}: var(--ids-color-amethyst-60);
  }

  #{$prefix}[color='emerald']#{$suffix} {
    #{$property}: var(--ids-color-emerald-60);
  }

  #{$prefix}[color='ruby']#{$suffix} {
    #{$property}: var(--ids-color-ruby-60);
  }

  #{$prefix}[color='turquoise']#{$suffix} {
    #{$property}: var(--ids-color-turquoise-60);
  }

  #{$prefix}[color='slate']#{$suffix} {
    #{$property}: var(--ids-color-neutral-60);
  }
}

.ids-calendar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.calendar-legend-pane,
.calendar-details-pane {
  display: none;
  width: 220px;
  height: auto;
}

.ids-calendar.show-legend .calendar-legend-pane,
.ids-calendar.show-details .calendar-details-pane {
  display: block;
}

.calendar-contents {
  flex-grow: 1;
}

.calendar-toolbar-pane {
  display: block;
  border-width: 1px 1px 0;
  border-style: solid;
  background-color: var(--ids-calendar-toolbar-color-background);
  border-color: var(--ids-calendar-toolbar-color-border);
  left: 0;
  top: 0;
  z-index: 4;
  flex-shrink: 0;
}

ids-toolbar-section::part(container),
.ids-toolbar-section {
  align-items: center;
}

.calendar-details-pane {
  @include palette-colors('ids-accordion-header', background-color, '::part(header)');

  ids-accordion-header::part(header) {
    color: var(--ids-color-neutral-00);
  }

  ids-accordion-header ids-text::part(text) {
    overflow: hidden;
    width: 150px;
    white-space: nowrap;
  }

  .panel-content {
    padding-top: 15px;
    padding-bottom: 15px;

    hr {
      border-bottom: none;
      margin: 20px 0;
    }
  }
}

ids-accordion-panel::part(content) {
  padding: 4px 0;
}

.btn-previous,
.btn-next {
  height: 36px;
}

.btn-today-text {
  color: var(--ids-color-azure-60); // token
}

.calendar-events-list {
  @include palette-colors('.detail-item', border-inline-start-color);

  margin-top: 20px;
  padding: 0;

  .detail-item {
    background-color: var(--ids-calendar-toolbar-color-background);
    border-style: solid;
    border-color: var(--ids-calendar-toolbar-color-border);
    border-width: 1px;
    border-inline-start-width: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 15px;

    &:focus {
      border-color: var(--ids-color-primary);
      outline: none;
    }
  }

  .calendar-detail-content {
    flex-grow: 1;
  }

  .detail-item-duration {
    padding: 0 8px;
  }
}

.event-type-label,
.event-types-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.event-types-legend {
  @include palette-colors('.event-type-color', background-color);

  display: none;
  padding: 10px;
}

.event-type-label {
  margin: 0 8px;
}

.event-type-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin: 0 3px;
}

.inline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Calendar event form styles
$event-form-width: 320px;
$event-form-padding: 20px;
$event-form-input-width: $event-form-width - ($event-form-padding * 2);

#event-form-popup {
  width: $event-form-width;

  &::part(popup) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#event-form-header {
  align-items: center;
  color: var(--ids-color-neutral-10);
  height: 40px;
  padding-inline-start: 16px;
  padding-inline-end: 8px;

  ids-icon[data-action='close'] {
    color: var(--ids-color-neutral-10);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(0 0 0 / .1)
    }
  }
}

#event-form {
  @include palette-colors('#event-form-header', background-color);

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  ids-list-box {
    max-width: $event-form-input-width - 2;
  }

  ids-list-box-option {
    text-align: left;
  }

  ids-date-picker,
  ids-time-picker {
    max-width: 128px;
  }
}

#event-form-content {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 12px 20px;
  position: relative;
}

#event-form-actions {
  ids-button {
    flex-grow: 1;
    border: 1px solid var(--ids-color-neutral-40);
    border-bottom-width: 0;

    &::part(button) {
      border-radius: 0;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

  ids-button[data-action='close'] {
    border-inline-start-width: 0;
  }

  ids-button[data-action='submit'] {
    border-inline-end-width: 0;
    margin-inline-start: -1px;

    &::part(button) {
      color: var(--ids-color-azure-70);

      &:hover {
        color: var(--ids-color-azure-80);
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .ids-calendar {
    display: block;
  }

  .ids-calendar.show-legend .calendar-legend-pane {
    display: none;
  }

  .calendar-view-pane,
  .calendar-details-pane {
    width: 100%;
  }

  #event-form-popup {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &::part(popup) {
      height: 100%;
      width: 100%;
    }
  }

  #event-form-content {
    ids-date-picker,
    ids-time-picker {
      max-width: unset;
    }

    .inline-container {
      display: block;
    }
  }
}
