@import '../../core/ids-base';

@mixin event-border-accent($color) {
  // direction ltr
  &:not(.rtl):not(.calendar-event-continue):not(.calendar-event-ends) {
    border-left-width: 5px;
    border-left-color: $color;
  }

  // direction rtl
  &.rtl:not(.calendar-event-continue):not(.calendar-event-ends) {
    border-right-width: 5px;
    border-right-color: $color;
  }

  &:focus {
    @include shadow();

    border-color: $color;
    outline: none;
  }
}

// Calendar Event Type Themes
.ids-calendar-event:not([color]),
.ids-calendar-event[color='azure'] {
  @include event-border-accent(var(--ids-color-palette-azure-70));

  background: var(--ids-color-palette-azure-20);
}

.ids-calendar-event[color='amber'] {
  @include event-border-accent(var(--ids-color-palette-amber-70));

  background: var(--ids-color-palette-amber-30);
}

.ids-calendar-event[color='amethyst'] {
  @include event-border-accent(var(--ids-color-palette-amethyst-70));

  background: var(--ids-color-palette-amethyst-30);
}

.ids-calendar-event[color='emerald'] {
  @include event-border-accent(var(--ids-color-palette-emerald-70));

  background: var(--ids-color-palette-emerald-30);
}

.ids-calendar-event[color='ruby'] {
  @include event-border-accent(var(--ids-color-palette-ruby-70));

  background: var(--ids-color-palette-ruby-30);
}

.ids-calendar-event[color='turquoise'] {
  @include event-border-accent(var(--ids-color-palette-turquoise-70));

  background: var(--ids-color-palette-turquoise-30);
}

.ids-calendar-event[color='slate'] {
  @include event-border-accent(var(--ids-color-palette-slate-70));

  background: var(--ids-color-palette-slate-30);
}

.ids-calendar-event {
  @include absolute;
  @include box-border;
  @include w-full;
  @include z-1;

  background: var(--ids-color-palette-azure-20);
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--ids-color-palette-slate-100);
  height: 20px;
  overflow: hidden;
  text-decoration: none;

  .calendar-event-content {
    @include box-border;
    @include h-full;
    @include w-full;

    padding: 2px 5px;
  }

  .calendar-event-icon {
    @include align-bottom;

    &[icon='success-alert'] {
      color: var(--ids-color-palette-emerald-60);
    }
  }

  .calendar-event-title {
    line-height: 12px;

    &::part(text) {
      text-transform: initial;
    }
  }

  // Styles for intraday events
  &.is-cutoff {
    border-radius: 3px 3px 0 0;
  }

  &.is-ellipsis {
    .calendar-event-content {
      white-space: nowrap;
    }
  }

  &.reduced-padding {
    .calendar-event-content {
      padding: 0 5px;
    }

    .calendar-event-title {
      @include relative;

      top: -1.6px;
    }
  }
}

// All day event styles
.ids-calendar-event.all-day {
  top: 1px;

  // first of multi day
  &.calendar-event-start {
    border-radius: 3px 0 0 3px;

    &.rtl {
      border-radius: 0 3px 3px 0;
    }
  }

  // middle of multi day
  &.calendar-event-continue {
    border-radius: 0;
  }

  // end of multiday
  &.calendar-event-ends {
    border-radius: 0 3px 3px 0;

    &.rtl {
      border-radius: 3px 0 0 3px;
    }
  }

  &.calendar-event-continue,
  &.calendar-event-ends {
    width: calc(100% + 1px);

    .calendar-event-title {
      color: transparent;
    }

    &:not(.rtl) {
      left: -1px;
    }

    &.rtl {
      right: -1px;
    }
  }
}
