@mixin event-border-accent($color) {
  &:not(.calendar-event-continue):not(.calendar-event-ends) {
    border-inline-start-width: 5px;
    border-inline-start-color: $color;

    &:focus {
      border-inline-start-color: var(--ids-calendar-event-color-border-focus);
    }
  }

  &:focus {
    box-shadow: var(--ids-shadow-20);
    border-color: var(--ids-calendar-event-color-border-focus);
    outline: none;
  }
}

// Calendar Event Type Themes
.ids-calendar-event:not([color]) {
  @include event-border-accent(var(--ids-calendar-event-color-border-default));

  background-color: var(--ids-calendar-event-color-background);
}

.ids-calendar-event[color='blue'] {
  @include event-border-accent(var(--ids-calendar-event-color-border-accent-bluet-blue));

  background-color: var(--ids-calendar-event-color-background-accent-blue);
}

.ids-calendar-event[color='orange'] {
  @include event-border-accent(var(--ids-calendar-event-color-border-accent-orange));

  background-color: var(--ids-calendar-event-color-background-accent-orange);
}

.ids-calendar-event[color='purple'] {
  @include event-border-accent(var(--ids-calendar-event-color-border-accent-purple));

  background-color: var(--ids-calendar-event-color-background-accent-purple);
}

.ids-calendar-event[color='green'] {
  @include event-border-accent(var(--ids-calendar-event-color-border-accent-green));

  background-color: var(--ids-calendar-event-color-background-accent-green);
}

.ids-calendar-event[color='red'] {
  @include event-border-accent(var(--ids-calendar-event-color-border-accent-red));

  background-color: var(--ids-calendar-event-color-background-accent-red);
}

.ids-calendar-event[color='teal'] {
  @include event-border-accent(var(--ids-calendar-event-color-border-accent-turqoise));

  background-color: var(--ids-calendar-event-color-background-accent-turqoise);
}

.ids-calendar-event[color='neutral'] {
  @include event-border-accent(var(--ids-calendar-event-color-border-accent-gray));

  background-color: var(--ids-calendar-event-color-background-accent-gray);
}

.ids-calendar-event {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  background: var(--ids-calendar-event-color-background);
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--ids-calendar-event-color-text);
  height: 20px;
  overflow: hidden;
  text-decoration: none;

  &.standalone {
    display: block;
    position: relative;
    height: unset;
  }

  .calendar-event-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 2px 5px;

    ids-text {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .calendar-event-icon {
    vertical-align: bottom;

    &[icon='success-alert'] {
      color: var(--ids-calendar-event-color-icon-success);
    }

    &[icon='alert-alert'] {
      color: var(--ids-calendar-event-color-icon-alert);
    }

    &[icon='clock'] {
      color: var(--ids-calendar-event-color-icon-clock);
    }

    &[icon='pending'] {
      color: var(--ids-calendar-event-color-icon-pending);
    }
  }

  .calendar-event-title {
    line-height: 12px;

    &::part(text) {
      text-transform: initial;
    }
  }

  // Styles for intraday events
  &.is-cutoff {
    border-radius: 3px 3px 0 0;
  }

  &.is-ellipsis {
    .calendar-event-content {
      white-space: nowrap;
    }
  }

  &.reduced-padding {
    .calendar-event-content {
      padding: 0 5px;
    }

    .calendar-event-title {
      position: relative;
      top: -1.6px;
    }
  }
}

// All day event styles
.ids-calendar-event.all-day {
  top: 1px;

  &.calendar-event-start,
  &.calendar-event-continue,
  &.calendar-event-ends {
    border-radius: 0;
  }

  // first of multi day
  &.calendar-event-start {
    border-start-start-radius: 3px;
    border-end-start-radius: 3px;
  }

  &.calendar-event-continue {
    width: calc(100% + 2px);
    margin-inline-start: -1px;
  }

  // end of multiday
  &.calendar-event-ends {
    border-end-end-radius: 3px;
    border-start-end-radius: 3px;
  }

  &.calendar-event-continue,
  &.calendar-event-ends {
    ids-icon {
      visibility: hidden;
    }

    .calendar-event-title {
      color: transparent;
    }
  }
}

// Month View Styles
.ids-calendar-event.is-month-view {
  $month-margin: 5px;

  position: absolute;
  display: block;
  height: 16px;

  &:not(.all-day) {
    width: calc(100% - ($month-margin * 2));
    margin: 0 $month-margin;
  }

  &.calendar-event-start,
  &.calendar-event-continue,
  &.calendar-event-ends {
    width: calc(100% - $month-margin);
  }

  &.calendar-event-start {
    margin-inline-start: $month-margin;
  }

  &.calendar-event-continue {
    width: 100%;
    margin-inline-start: 0;
  }

  &.calendar-event-ends {
    margin-inline-end: $month-margin;
  }

  &.hidden {
    display: none;
  }

  .calendar-event-content {
    padding: 0 5px;
  }
}
