@import '../ids-drawer/ids-drawer';

.ids-app-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
}

.ids-app-menu-footer,
.ids-app-menu-header,
.ids-app-menu-search,
.ids-app-menu-user {
  flex-grow: 0;
}

.ids-app-menu-content {
  overflow: auto;
  flex-grow: 1;
}

// Setup padding to reclaim space
.ids-app-menu-user > * {
  padding: 0 var(--ids-space-md);
  padding-bottom: 0;
  display: block;
}

.ids-app-menu-search {
  padding: var(--ids-space-xs);
}

// Add some padding and sizing on Avatar Icons
::slotted(ids-icon[slot='avatar']) {
  padding: var(--ids-space-xs);
}

::slotted(img[slot='avatar']) {
  display: block;
  margin-block-start: var(--ids-space-md);
  border-radius: var(--ids-border-radius-circle);
  height: 40px;
  width: 40px;
}

::slotted([slot='username']) {
  display: block;
  margin-block-start: var(--ids-space-xxs);
  margin-block-end: var(--ids-space-md);
}

::slotted(ids-toolbar) {
  padding-inline: var(--ids-space-xs);
  margin-block-end: var(--ids-space-xs);
}

// Style Sub Components
:host {
  position: absolute;
  z-index: 600;

  // Buttons
  --ids-button-color-text-default: var(--ids-button-app-menu-color-text-default);
  --ids-button-tertiary-color-text-default: var(--ids-button-app-menu-color-text-default);
  --ids-button-tertiary-color-background-hover: var(--ids-button-app-menu-color-background-hover);
  --ids-button-tertiary-color-text-hover: var(--ids-button-app-menu-color-text-hover);
  --ids-button-tertiary-color-text-disabled: var(--ids-button-app-menu-color-text-disabled);
  --ids-button-tertiary-color-border-hover:var(--ids-button-app-menu-color-background-hover);

  // Search Field
  --ids-search-field-header-color-icon-hover: var(--ids-button-app-menu-color-background-hover);
  --ids-button-formatter-color-text-hover: var(--ids-button-app-menu-color-text-default);
}
