@import '../ids-drawer/ids-drawer';

.ids-app-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
}

.ids-app-menu-footer,
.ids-app-menu-header,
.ids-app-menu-search,
.ids-app-menu-user {
  flex-grow: 0;
}

.ids-app-menu-content {
  overflow: auto;
  flex-grow: 1;
}

.ids-app-menu-user {
  padding: var(--ids-space-80);
}

.ids-app-menu-search {
  padding: var(--ids-space-40);
}

// Add some padding and sizing on Avatar Icons
::slotted(ids-icon[slot='avatar']) {
  padding: var(--ids-space-40);
}

::slotted(img[slot='avatar']) {
  border-radius: var(--ids-border-radius-circle);
  height: 40px;
  width: 40px;
}

::slotted(ids-toolbar) {
  padding-inline: var(--ids-space-40);
  margin-block-end: var(--ids-space-40);
}

// Style Sub Components
:host {
  // Buttons
  --ids-button-color-text-default: var(--ids-button-app-menu-color-text-default);
  --ids-button-tertiary-color-text-default: var(--ids-button-app-menu-color-text-default);
  --ids-button-tertiary-color-background-hover: var(--ids-button-app-menu-color-background-hover);
  --ids-button-tertiary-color-text-hover: var(--ids-button-app-menu-color-text-hover);
  --ids-button-tertiary-color-text-disabled: var(--ids-button-app-menu-color-text-disabled);

  // Search Field
  --ids-search-field-header-color-icon-hover: var(--ids-button-app-menu-color-background-hover);
  --ids-button-formatter-color-text-hover: var(--ids-button-app-menu-color-text-default);
}
