<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Texts / Typography</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="72">Size 72</ids-text>
        <ids-text font-size="60">Size 60</ids-text>
        <ids-text font-size="48">Size 48</ids-text>
        <ids-text font-size="40">Size 40</ids-text>
        <ids-text font-size="32">Size 32 (xl)</ids-text>
        <ids-text font-size="28">Size 28</ids-text>
        <ids-text font-size="24">Size 24 (lg)</ids-text>
        <ids-text font-size="20">Size 20</ids-text>
        <ids-text font-size="16">Size 16 (base)</ids-text>
        <ids-text font-size="14">Size 14 (sm)</ids-text>
        <ids-text font-size="12">Size 12 (xs)</ids-text>
        <ids-text font-size="10">Size 10</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Tooltips (when ellipsis text)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="9" gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text overflow="ellipsis" tooltip="true">Some long text that is overflowing and long</ids-text>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <ids-text overflow="ellipsis" tooltip="true" tooltip-placement="bottom">Placement should be on the bottom.</ids-text>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <ids-text overflow="ellipsis" tooltip="true" tooltip-placement="right">Placement should be on the right.</ids-text>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text
          max-width="250px"
          data-testid="text-tooltip"
          overflow="ellipsis"
          tooltip-placement="right"
          tooltip="Bibendum ut tristique et egestas quis ipsum. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi.
          Massa tempor nec feugiat nisl pretium fusce id velit ut. Non tellus orci ac auctor augue mauris augue neque."
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Volutpat lacus laoreet non curabitur gravida. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum.
          Elit sed vulputate mi sit amet mauris commodo. Fusce id velit ut tortor pretium viverra.
          Magna fringilla urna porttitor rhoncus dolor. Auctor neque vitae tempus quam pellentesque nec nam.
        </ids-text>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
