<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Text</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="72">Size 72</ids-text>
        <ids-text font-size="32">Size 32 (xl)</ids-text>
        <ids-text font-size="24">Size 24 (lg)</ids-text>
        <ids-text font-size="16">Size 16 (base)</ids-text>
        <ids-text font-size="14">Size 14 (sm)</ids-text>
        <ids-text font-size="12">Size 12 (xs)</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">4.x Component Text</ids-text>
    </ids-layout-grid>
    <div class="row">
      <div class="twelve columns">
        <div class="fieldset">
          <span class="label font-size-px-72">Size 72</span>
          <span class="label font-size-px-32">Size 32</span>
          <span class="label font-size-px-24">Size 24</span>
          <span class="label font-size-px-16">Size 16</span>
          <span class="label font-size-px-14">Size 14</span>
          <span class="label font-size-px-12">Size 12</span>
        </div>
      </div>
    </div>

    <script>
      $('body').initialize();
    </script>
  </ids-container>
</body>
</html>
