<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Text (Translations)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="16" translate-text="true">BrowserLanguage</ids-text>
        <ids-text font-size="16" translate-text="true">ClearFormatting</ids-text>
        <ids-text font-size="16" translate-text="true">StringNotFound</ids-text>
        <ids-text font-size="16" translate-text="true">TestLocaleDefaults</ids-text>
     </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
