<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Typographic Scale</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h2">Display Text Sizes</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="72" font-weight="lighter">Display 01 - 72</ids-text>
        <ids-text font-size="60" font-weight="lighter">Display 02 - 60</ids-text>
        <ids-text font-size="48" font-weight="lighter">Display 03 - 48</ids-text>
        <ids-text font-size="40" font-weight="lighter">Display 04 - 40</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h2">Heading Text Sizes</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" cols-md="4" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="32" type="h3">Heading - 32</ids-text>
        <ids-text font-size="28" type="h3">Heading - 28</ids-text>
        <ids-text font-size="24" type="h3">Heading - 24</ids-text>
        <ids-text font-size="20" type="h3">Heading - 20</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="32" font-weight="semi-bold" type="h3">Heading - 32</ids-text>
        <ids-text font-size="28" font-weight="semi-bold" type="h3">Heading - 28</ids-text>
        <ids-text font-size="24" font-weight="semi-bold" type="h3">Heading - 24</ids-text>
        <ids-text font-size="20" font-weight="semi-bold" type="h3">Heading - 20</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h2">Body Text Sizes</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" cols-md="4" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="16" type="p">Body Text - 16</ids-text>
        <ids-text font-size="14" type="p">Body SM - 14</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="16" font-weight="semi-bold" type="p">Body Text - 16</ids-text>
        <ids-text font-size="14" font-weight="semi-bold" type="p">Body SM - 14</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h2">Body Text Sizes</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" cols-md="4" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12">Small Text 01 - 12, uppercase</ids-text>
        <ids-text font-size="10">Small 02 - 10, uppercase</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12" font-weight="semi-bold">Small Text 01 - 12 uppercase</ids-text>
        <ids-text font-size="10" font-weight="semi-bold">Small 02 - 10, uppercase</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h2">Color variations</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" cols-md="8" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text>Descriptive Text</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text><ids-hyperlink href="#">Linked Text</ids-hyperlink></ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text disabled>Muted Text</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text color="ruby-60">Alert Text</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-weight="semi-bold">Strong Text</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h2">Status</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" cols-md="8" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text status="base">Base</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text status="error">Error</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text status="info">Info</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text status="success">Success</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text status="warning">Warning</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="20">Badge<ids-badge color="info" shape="round">5</ids-badge></ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h2">Text alignments</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" cols-md="8" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12">Start (default)</ids-text>
        <ids-text>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ex consequat.
        </ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12">Center</ids-text>
        <ids-text text-align="center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ex consequat.
        </ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12">End</ids-text>
        <ids-text text-align="end">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ex consequat.
        </ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12">Justify</ids-text>
        <ids-text text-align="justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ex consequat.
        </ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

  </ids-container>
</body>
