@import '../ids-modal/ids-modal';

:host {
  display: block;
}

.ids-message-status {
  @include pr-8();

  color: var(--ids-color-palette-black);

  &.default {
    color: var(--ids-color-brand-secondary-base);
  }

  &.error {
    @include text-alert-error();
  }

  &.warning {
    @include text-alert-warning();
  }

  &.alert {
    @include text-alert-warning();
  }

  &.success {
    @include text-alert-success();
  }

  &.info {
    @include text-alert-info();
  }
}

.ids-modal-container {
  max-width: 400px;
}
