@import '../ids-modal/ids-modal';

:host {
  display: block;
}

.ids-message-status {
  padding-inline-end: 8px;
  color: var(--ids-message-text-color);

  &.error {
    color: var(--ids-message-error-icon-color);
  }

  &.warning {
    color: var(--ids-message-warning-icon-color);
  }

  &.alert {
    color: var(--ids-message-alert-icon-color);
  }

  &.success {
    color: var(--ids-message-success-icon-color);
  }

  &.info {
    color: var(--ids-message-info-icon-color);
  }
}

.ids-message-content {
  max-width: 400px;
}
