@import '../ids-modal/ids-modal';

:host {
  display: block;
}

.ids-message-status {
  padding-inline-end: 8px;
  color: var(--ids-message-color-text);

  &.error {
    color: var(--ids-message-color-icon-error);
  }

  &.warning {
    color: var(--ids-message-color-icon-warning);
  }

  &.success {
    color: var(--ids-message-color-icon-success);
  }

  &.info {
    color: var(--ids-message-color-icon-info);
  }
}

.ids-message-content {
  max-width: 400px;
}
