<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container padding="8" role="main" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid cols-md="4" cols-sm="2" cols-xs="2" gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Checkbox States</ids-text><br />
        <ids-checkbox label="Unchecked"></ids-checkbox>
        <ids-checkbox label="Checked" checked="true"></ids-checkbox>
        <ids-checkbox label="Disabled and unchecked" disabled="true"></ids-checkbox>
        <ids-checkbox label="Disabled and checked" checked="true" disabled="true"></ids-checkbox>
        <ids-checkbox label="Required" validate="required"></ids-checkbox>
        <ids-checkbox label="Not Animated" no-animation="true"></ids-checkbox>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Checkbox with no label</ids-text><br />
        <ids-checkbox label="UnChecked" label-state="hidden"></ids-checkbox>
        <ids-checkbox label="Checked" label-state="hidden" checked="true"></ids-checkbox>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Colored Checkbox</ids-text><br />
        <ids-checkbox checked="true" color="green" label="Green"></ids-checkbox>
        <ids-checkbox checked="true" color="purple" label="Purple"></ids-checkbox>
        <ids-checkbox checked="true" color="blue" label="Blue"></ids-checkbox>
        <ids-checkbox checked="true" color="orange" label="Orange"></ids-checkbox>
        <ids-checkbox checked="true" color="red" label="Red"></ids-checkbox>
        <ids-checkbox checked="true" color="red" label="Red (disabled)" disabled="true"></ids-checkbox>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Indeterminate Checkbox</ids-text><br />
        <ids-checkbox label="Indeterminate" indeterminate="true" id="cb-indeterminate"></ids-checkbox>
        <ids-button appearance="secondary" id="btn-set-indeterminate">
          <span>Set</span>
        </ids-button>
        <ids-button appearance="secondary" id="btn-remove-indeterminate">
          <span>Remove</span>
        </ids-button>

        <br /><br />
        <ids-text font-size="12" type="h1">Horizontal Checkbox</ids-text><br />

        <ids-checkbox label="Option 1 I am long" horizontal="true"></ids-checkbox>
        <ids-checkbox label="Option 2" horizontal="true" checked="true"></ids-checkbox>
        <ids-checkbox label="Option 3" horizontal="true" checked="true"></ids-checkbox>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
