<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="20" type="h1">Ids Checkbox Examples</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-demo-listing label="Checkbox Examples" component-name="ids-checkbox">
        </ids-demo-listing>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
