@import '../../core/ids-base';

:host {
  contain: content;
}

.ids-month-view {
  @include flex();
  @include bg-white();
  @include w-full();
  @include box-border();

  flex-direction: column;
  overflow: auto;
  max-width: inherit;

  .month-view-header {
    @include bg-white();

    height: 50px;
    flex-shrink: 0;
  }

  .month-view-btn-text {
    @include text-azure-60();
  }

  .month-view-container {
    @include bg-white();

    flex-shrink: 0;
  }

  .month-view-table-header {
    th {
      background-clip: padding-box;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 14.3%;
    }
  }

  .month-view-table {
    @include w-full();

    border-spacing: 0;
    border-collapse: collapse;
  }

  .datepicker-section {
    @include flex();

    align-items: center;
  }

  .trigger-icon {
    @include text-azure-60();
  }

  // Legend mutual
  .month-view-legend {
    margin: 0 auto;
    padding: 10px 5px 0;
  }

  .month-view-legend-swatch,
  .month-view-legend-item,
  .month-view-legend-text {
    display: inline-block;
  }

  .month-view-legend-item {
    @include mb-2();
  }

  .month-view-legend-swatch {
    background-color: var(--legend-color);
    opacity: 0.3;
    width: 16px;
    height: 16px;
  }

  .month-view-legend-item.event-type .month-view-legend-swatch {
    border-radius: 10px;
    opacity: 1;
    width: 14px;
    height: 14px;
  }

  .month-view-legend-text {
    @include relative();
    @include text-slate-80();

    padding: 0 10px 0 8px;
    top: -2px;
  }

  .events-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    .events-overflow {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      text-indent: 12px;
    }

    ids-text::part(text) {
      text-transform: capitalize;
    }
  }
}

// Compact view
.ids-month-view.is-compact {
  @include relative();

  .month-view-table-header th {
    line-height: unset;
    vertical-align: top;
    height: 22px;
  }

  .month-view-table {
    margin-top: 13px;
  }

  td {
    width: 44px;
    height: 44px;
    text-align: center;

    &:not(.is-disabled):hover {
      @include cursor-pointer();
    }

    .day-container {
      @include relative();
      @include rounded-round();
      @include border-transparent();
      @include border-1();
      @include border-solid();

      display: inline-block;
      margin: 5px 0;
    }

    .day-text {
      @include relative();
      @include z-2();
      @include rounded-round();
      @include m-2();
      @include text-slate-80();

      display: inline-block;
      white-space: nowrap;
      transition: 0.2s background-color ease;
    }

    &.alternate .day-text {
      @include text-slate-40();
    }

    &.is-disabled .day-text {
      @include bg-slate-10();
      @include text-slate-30();
    }

    ids-text::part(text) {
      @include rounded-round();
      @include box-border();

      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      display: inline-block;
    }

    &.is-selected {
      &:focus {
        outline: none;
        outline-style: none;
      }

      &:not(.is-disabled):not(.range-selection):focus {
        ids-text::part(text) {
          width: 31px;
          height: 31px;
          line-height: 31px;
        }

        ids-text {
          margin: 1px;
        }

        .day-container {
          @include border-azure-60();
          @include z-2();

          box-shadow: 0 0 4px 3px rgb(54 138 192 / 0.3);
        }
      }

      &:not(.range-selection) .day-text {
        @include text-white();
        @include bg-azure-60();
      }
    }

    &.is-today:not(.is-selected) .day-text::part(text) {
      @include border-1();
      @include border-solid();
      @include border-slate-30();
    }

    &:not(.is-disabled):not(.is-selected):not(.has-legend):not(.range-selection):hover .day-text,
    &:not(.is-disabled):not(.is-selected):not(.has-legend):not(.range-selection):active .day-text {
      @include bg-slate-20();
    }

    // Legend in compact mode
    &.has-legend:not(.is-disabled):hover {
      .day-container::after {
        @include opacity-70();
      }
    }

    &.has-legend .day-container {
      &::after {
        @include rounded-round();
        @include absolute();

        content: '';
        background-color: var(--legend-color);
        display: inline-block;
        width: 35px;
        height: 35px;
        overflow: hidden;
        opacity: 0.3;
        transition: 0.2s opacity ease;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }

    // Range selection
    &.range-selection + .range-selection,
    &.range-next:not(:first-of-type),
    &.range-prev:not(:last-of-type) {
      @include relative();

      &::before {
        @include absolute();
        @include w-full();
        @include z-1();

        content: '';
        display: inline-block;
        height: 35px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    &.is-disabled.range-selection.not-included + .range-selection,
    &.is-disabled.range-prev.not-included {
      &::before {
        content: none;
      }
    }

    &:not(.is-disabled.not-included).range-prev .day-text,
    &:not(.is-disabled.not-included).range-next .day-text,
    &:not(.is-disabled.not-included).range-next:not(:first-of-type)::before,
    &.range-prev:not(:last-of-type)::before {
      @include text-slate-80();
      @include bg-slate-20();
    }

    &.range-selection:not(:first-of-type)::before,
    &:not(.is-disabled.not-included).range-selection .day-text {
      @include bg-azure-60();
    }

    &.range-selection:not(.alternate):not(.is-disabled.not-included) .day-text {
      @include text-white();
    }

    &.range-selection:not(:first-of-type)::before,
    &.range-next:not(:first-of-type)::before {
      right: 50%;
    }

    &.range-prev:not(:last-of-type)::before {
      right: -50%;
    }

    &.range-selection .day-text,
    &.range-prev .day-text,
    &.range-next .day-text {
      @include rounded-round();
      @include z-2();

      transition: none;
    }
  }

  th,
  td {
    @include p-0();
  }

  &.range-select-week td .day-text {
    transition: none;
  }

  .btn-today {
    margin-right: -7px;

    &::part(button) {
      @include px-4();
      @include py-2();

      margin: 3px;
    }
  }

  .btn-previous,
  .btn-next {
    @include pl-0();

    margin: 3px;

    &::part(button) {
      @include p-0();

      width: 44px;
      height: 44px;
    }
  }

  .month-view-legend {
    padding-top: 27px;
    max-width: 300px;
  }
}

// Full size view
.ids-month-view.is-fullsize {
  @include border-t-1();
  @include border-r-1();
  @include border-l-1();
  @include border-slate-20();

  .month-view-header {
    @include border-b-1();
    @include border-slate-20();
  }

  td {
    @include border-b-1();
    @include border-r-1();
    @include border-l-1();
    @include relative();

    transition: 0.1s background-color ease-out;

    &:last-child {
      border-right: 0;
    }

    &:first-child {
      border-left: 0;
    }

    height: 99px;
    width: 14.3%;
    overflow: hidden;
    user-select: none;

    &:not(.is-selected):not(.has-legend):hover,
    &:not(.is-selected):not(.has-legend):active {
      background-color: rgb(240 240 240 / 0.5);
    }

    &.is-disabled {
      @include bg-opacity-50();
      @include bg-slate-20();
    }

    &.is-selected:not(.has-legend) {
      @include bg-slate-10();
    }

    &.is-selected {
      box-shadow: inset 0 5px 0 0 var(--ids-color-palette-azure-60);

      &:not(.is-disabled):focus {
        @include border-transparent();

        box-shadow: 0 0 2px 2px rgb(54 138 192 / 0.3), inset 0 5px 0 0 var(--ids-color-palette-azure-60);
      }

      &:focus {
        outline: none;
      }

      ids-text::part(text) {
        font-weight: 600;
      }
    }

    &.has-legend {
      &::after {
        @include absolute();
        @include w-full();

        background-color: var(--legend-color);
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.3;
      }

      &.is-selected::after {
        top: 5px;
      }

      &:hover::after {
        @include opacity-70();
      }
    }

    .weekday-text,
    &:not(.alternate) .day-text {
      @include text-slate-80();
    }

    &.alternate .day-text {
      @include text-slate-60();
    }

    .day-text {
      @include absolute();
      @include cursor-pointer();
      @include z-1();

      left: calc(100% - 25px);
      top: var(--ids-month-view-day-text-top, 13px);
      width: 10px;
      text-align: center;
    }

    &.month-label .day-text {
      left: auto;
      width: 100%;
      text-align: right;
    }

    &.month-label ids-text::part(text) {
      font-weight: 600;
      padding-right: 10px;
    }
  }

  th,
  td {
    @include p-0();
    @include border-b-1();
    @include border-slate-20();
  }

  // Legend in full size mode
  &.has-legend .month-view-container {
    @include border-b-1();

    border-bottom-color: var(--ids-color-palette-slate-20);
  }
}

// Used in a day picker
.ids-month-view.is-date-picker {
  overflow: visible;

  .month-view-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  td .day-container {
    @include m-0();
  }

  ids-date-picker {
    margin-left: 12px;
  }
}

// Legend for full size view and if it's in a datepicker
.ids-month-view.is-date-picker,
.ids-month-view.is-fullsize {
  .month-view-legend {
    text-align: center;
  }
}

// Legend for month
.month-view-legend-item.event-type .month-view-legend-swatch {
  border-radius: 10px;
  opacity: 1;
}

// Themes
.ids-month-view[mode='dark'] {
  @include bg-slate-80();
  @include border-slate-70();

  .month-view-header {
    @include border-slate-70();
    @include bg-slate-80();
  }

  .month-view-container {
    @include bg-slate-80();
  }

  .month-view-btn-text {
    @include text-azure-60();
  }

  // Compact view dark theme
  &.is-compact {
    .weekday-text,
    .day-text {
      @include text-slate-30();
    }

    td.alternate .day-text {
      @include text-slate-50();
    }

    td.is-selected:not(.alternate) .day-text {
      @include text-white();
    }

    td:not(.is-selected).is-disabled .day-text {
      @include bg-slate-70();
      @include text-slate-10();
    }

    td:not(.is-disabled):not(.is-selected):not(.has-legend):not(.range-selection):hover .day-text,
    td:not(.is-disabled):not(.is-selected):not(.has-legend):not(.range-selection):active .day-text {
      @include bg-slate-70();
    }

    td:not(.is-selected):not(.alternate):hover .day-text,
    td:not(.is-selected):not(.alternate):active .day-text {
      @include text-white();
    }

    td:not(.is-disabled.not-included).range-prev .day-text,
    td:not(.is-disabled.not-included).range-next .day-text,
    td:not(.is-disabled.not-included).range-next:not(:first-of-type)::before,
    td.range-prev:not(:last-of-type)::before {
      @include text-slate-30();
      @include bg-slate-70();
    }

    td.range-selection:not(:first-of-type)::before,
    td:not(.is-disabled.not-included).range-selection .day-text {
      @include bg-azure-70();
    }
  }

  // Full size view dark theme
  &.is-fullsize {
    th,
    td {
      @include border-slate-70();
    }

    th .weekday-text,
    td:not(.alternate) .day-text {
      @include text-slate-30();
    }

    td {
      &.alternate .day-text {
        @include text-slate-50();
      }

      &:not(.is-selected):not(.has-legend):hover,
      &:not(.is-selected):not(.has-legend):active {
        background-color: rgb(49 50 54 / 0.2);
      }

      &.is-selected:not(.has-legend) {
        @include bg-slate-70();
      }

      &.is-selected:not(.is-disabled):focus {
        box-shadow: 0 0 2px 2px rgb(141 201 230 / 0.3), inset 0 5px 0 0 var(--ids-color-palette-azure-60);
      }

      &.is-disabled {
        @include bg-slate-80();
      }
    }

    &.has-legend .month-view-container {
      border-color: var(--ids-color-palette-slate-70);
    }
  }

  .month-view-legend-text {
    @include text-slate-30();
  }
}

.ids-month-view[mode='contrast'] {
  @include bg-white();
  @include border-slate-30();

  .month-view-header {
    @include border-slate-30();
    @include bg-white();
  }

  .month-view-container {
    @include bg-white();
  }

  .month-view-btn-text,
  &.is-compact .trigger-icon {
    @include text-azure-90();
  }

  // Compact view contrast theme
  &.is-compact {
    .weekday-text,
    .day-text {
      @include text-black();
    }

    td.alternate .day-text {
      @include text-slate-50();
    }

    td.is-selected:not(.alternate) .day-text {
      @include bg-azure-90();
      @include text-white();
    }

    td.is-selected:not(.is-disabled):not(.range-selection):focus .day-container {
      @include border-azure-100();

      box-shadow: 0 0 4px 2px rgb(41 41 41 / 0.3);
    }

    td.is-disabled .day-text {
      @include bg-slate-20();
      @include text-slate-100();
    }

    td.is-today:not(.is-selected) .day-text::part(text) {
      @include border-slate-100();
    }

    td:not(.is-disabled):not(.is-selected):not(.has-legend):not(.range-selection):hover .day-text,
    td:not(.is-disabled):not(.is-selected):not(.has-legend):not(.range-selection):active .day-text {
      @include bg-slate-30();
    }

    td:not(.is-selected):not(.alternate):not(.range-selection):hover .day-text,
    td:not(.is-selected):not(.alternate):not(.range-selection):active .day-text {
      @include text-black();
    }

    td:not(.is-disabled.not-included).range-prev .day-text,
    td:not(.is-disabled.not-included).range-next .day-text,
    td:not(.is-disabled.not-included).range-next:not(:first-of-type)::before,
    td.range-prev:not(:last-of-type)::before {
      @include text-black();
      @include bg-slate-30();
    }

    td.range-selection:not(:first-of-type)::before,
    td:not(.is-disabled.not-included).range-selection .day-text {
      @include bg-azure-90();
    }
  }

  // Full size view contrast theme
  &.is-fullsize {
    th,
    td {
      @include border-slate-30();
    }

    th .weekday-text,
    td:not(.alternate) .day-text {
      @include text-black();
    }

    td {
      &.alternate .day-text {
        @include text-slate-50();
      }

      &:not(.is-selected):not(.has-legend):hover,
      &:not(.is-selected):not(.has-legend):active {
        background-color: rgb(74 74 74 / 0.1);
      }

      &.is-selected {
        box-shadow: inset 0 5px 0 0 var(--ids-color-palette-azure-90);
      }

      &.is-selected:not(.is-disabled):focus {
        box-shadow: 0 0 2px 2px rgb(41 41 41 / 0.3), inset 0 5px 0 0 var(--ids-color-palette-azure-90);
      }
    }

    &.has-legend .month-view-container {
      border-color: var(--ids-color-palette-slate-30);
    }
  }

  .month-view-legend-text {
    @include text-black();
  }
}

ids-toolbar ids-menu-button[menu='view-picker'] {
  margin-inline-end: 8px;
}

// Text direction
:host([dir='rtl']) {
  .ids-month-view {
    &.is-fullsize td {
      .day-text {
        left: unset;
        right: calc(100% - 25px);
      }

      &.month-label .day-text {
        right: auto;
        text-align: left;
      }

      &.month-label ids-text::part(text) {
        padding-right: unset;
        padding-left: 10px;
      }

      &:last-child {
        border-left: 0;
      }
    }

    &.is-date-picker {
      ids-date-picker {
        margin-left: 0;
        margin-right: 12px;
      }

      .btn-today {
        margin-right: 0;
        margin-left: -7px;
      }
    }
  }
}
