:host {
  contain: content;
}

.ids-month-view {
  display: flex;
  background-color: var(--ids-calendar-month-view-color-background-default);
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  overflow: auto;
  max-width: inherit;

  .month-view-container {
    background-color: var(--ids-calendar-month-view-color-background-default);
    flex-shrink: 0;
  }

  .month-view-table-header {
    th {
      background-clip: padding-box;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 14.3%;
    }
  }

  .month-view-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  .trigger-icon {
    color: var(--ids-color-azure-60);
  }

  // Legend mutual
  .month-view-legend {
    margin: 0 auto;
    padding: 10px 5px 0;
  }

  .month-view-legend-swatch,
  .month-view-legend-item,
  .month-view-legend-text {
    display: inline-block;
  }

  .month-view-legend-item {
    margin-bottom: 2px;
  }

  .month-view-legend-swatch {
    background-color: var(--legend-color);
    opacity: 0.3;
    width: 16px;
    height: 16px;
  }

  .month-view-legend-item.event-type .month-view-legend-swatch {
    border-radius: 10px;
    opacity: 1;
    width: 14px;
    height: 14px;
  }

  .month-view-legend-text {
    position: relative;
    color: var(--ids-calendar-month-view-legend-color-text);
    padding: 0 10px 0 8px;
    top: -2px;
  }

  .events-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    .events-overflow {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      text-indent: 12px;
    }

    ids-text::part(text) {
      text-transform: capitalize;
    }
  }
}

// Compact view
.ids-month-view.is-compact {
  position: relative;

  .month-view-table-header th {
    line-height: unset;
    vertical-align: top;
    height: 22px;
  }

  .month-view-table {
    margin-top: 13px;
  }

  .weekday-text {
    color: var(--ids-calendar-month-view-weekday-color-text-compact);
  }

  td {
    width: 44px;
    height: 44px;
    text-align: center;

    &:not(.is-disabled):hover {
      cursor: pointer;
    }

    .day-container {
      display: inline-block;
      position: relative;
      border-radius: 50%;
      border: 1px solid transparent;
      margin: 5px 0;
    }

    .day-text {
      display: inline-block;
      position: relative;
      z-index: 2;
      border-radius: 50%;
      margin: 2px;
      color: var(--ids-calendar-month-view-color-text-default);
      white-space: nowrap;
      transition: 0.2s background-color ease;
    }

    &.alternate .day-text {
      color: var(--ids-calendar-month-view-color-text-compact);
    }

    &.is-disabled .day-text {
      background-color: var(--ids-color-neutral-10);
      color: var(--ids-color-neutral-30);
    }

    ids-text::part(text) {
      border-radius: 50%;
      box-sizing: border-box;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      display: inline-block;
    }

    &:hover {
      .day-text {
        color: var(--ids-calendar-month-view-weekday-color-text-compact-hover);
      }
    }

    &.is-selected {
      .day-text {
        color: var(--ids-calendar-month-view-weekday-color-text-compact-selected-hover);
        background-color: var(--ids-calendar-month-view-day-color-background-compact-selected);
      }

      &:focus {
        outline: none;
        outline-style: none;
      }

      &:not(.is-disabled):not(.range-selection):focus {
        ids-text::part(text) {
          width: 31px;
          height: 31px;
          line-height: 31px;
        }

        ids-text {
          margin: 2px;
        }

        .day-container {
          border-color: var(--ids-calendar-month-view-day-color-background-compact-selected);
          z-index: 2;
          box-shadow: 0 0 2px 0 var(--ids-calendar-month-view-day-color-background-compact-selected);
        }
      }
    }

    &.is-today:not(.is-selected) .day-text::part(text) {
      border: 1px solid var(--ids-calendar-month-view-today-color-border-compact);
    }

    &:not(.is-disabled):not(.is-selected):not(.has-legend):not(.range-selection):hover .day-text,
    &:not(.is-disabled):not(.is-selected):not(.has-legend):not(.range-selection):active .day-text {
      background-color: var(--ids-calendar-month-view-day-color-background-compact-hover);
    }

    // Legend in compact mode
    &.has-legend:not(.is-disabled):hover {
      .day-container::after {
        opacity: 0.7;
      }
    }

    &.has-legend .day-container {
      &::after {
        border-radius: 50%;
        position: absolute;
        content: '';
        background-color: var(--legend-color);
        display: inline-block;
        width: 35px;
        height: 35px;
        overflow: hidden;
        opacity: 0.3;
        transition: 0.2s opacity ease;
        inset: 0;
        margin: auto;
      }
    }

    // Range selection
    &.range-selection + .range-selection,
    &.range-next:not(:first-of-type),
    &.range-prev:not(:last-of-type) {
      position: relative;

      &::before {
        position: absolute;
        width: 100%;
        z-index: 1;
        content: '';
        display: inline-block;
        height: 35px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    &.is-disabled.range-selection.not-included + .range-selection,
    &.is-disabled.range-prev.not-included {
      &::before {
        content: none;
      }
    }

    &:not(.is-disabled.not-included).range-prev .day-text,
    &:not(.is-disabled.not-included).range-next .day-text,
    &:not(.is-disabled.not-included).range-next:not(:first-of-type)::before,
    &.range-prev:not(:last-of-type)::before {
      background-color: var(--ids-calendar-month-view-range-color-background-compact);
    }

    &.range-selection:not(:first-of-type)::before,
    &:not(.is-disabled.not-included).range-selection .day-text {
      background-color: var(--ids-calendar-month-view-range-color-background-compact-selected);
    }

    &.range-selection:not(.alternate):not(.is-disabled.not-included) .day-text {
      color: var(--ids-calendar-month-view-range-color-text-compact-selected);
    }

    &.range-selection:not(:first-of-type)::before,
    &.range-next:not(:first-of-type)::before {
      right: 50%;
    }

    &.range-prev:not(:last-of-type)::before {
      right: -50%;
    }

    &.range-selection .day-text,
    &.range-prev .day-text,
    &.range-next .day-text {
      border-radius: 50%;
      z-index: 2;
      transition: none;
    }
  }

  th,
  td {
    padding: 0;
  }

  &.range-select-week td .day-text {
    transition: none;
  }

  .btn-today {
    margin-right: -7px;

    &::part(button) {
      padding-inline: 4px;
      padding-block: 2px;
      margin: 3px;
    }
  }

  .btn-previous,
  .btn-next {
    padding-inline-start: 0;
    margin: 3px;

    &::part(button) {
      padding: 0;
      width: 44px;
      height: 44px;
    }
  }

  .month-view-legend {
    padding-top: 27px;
    max-width: 300px;
  }

  .week-num-cell {
    border-inline-end: 1px solid var(--ids-calendar-month-view-color-border);

    ids-text {
      color: var(--ids-month-view-week-number-text-color);
      cursor: default;
    }
  }
}

// Full size view
.ids-month-view.is-fullsize {
  border-style: solid;
  border-width: 1px 1px 0;
  border-color: var(--ids-calendar-month-view-color-border);

  .weekday-text {
    color: var(--ids-calendar-month-view-weekday-color-text);
  }

  .day-text {
    color: var(--ids-calendar-month-view-color-text-default);
  }

  td {
    border-style: solid;
    border-width: 0 1px 1px;
    position: relative;
    transition: 0.1s background-color ease-out;

    &:last-child {
      border-right: 0;
    }

    &:first-child {
      border-left: 0;
    }

    height: 99px;
    width: 14.3%;
    overflow: hidden;
    user-select: none;

    &:not(.is-selected):not(.has-legend):hover,
    &:not(.is-selected):not(.has-legend):active {
      background-color: var(--ids-calendar-month-view-color-background-hover);
    }

    &.is-disabled {
      opacity: 0.5;
      background-color: var(--ids-calendar-month-view-color-background-disabled);
    }

    &.is-selected:not(.has-legend) {
      background-color: var(--ids-calendar-month-view-color-background-selected);
    }

    &.is-selected {
      box-shadow: inset 0 5px 0 0 var(--ids-calendar-month-view-color-selected);

      &:focus {
        outline: none;
      }

      ids-text::part(text) {
        font-weight: 600;
      }
    }

    &.has-legend {
      &::after {
        position: absolute;
        width: 100%;
        background-color: var(--legend-color);
        content: '';
        inset: 0;
        opacity: 0.3;
      }

      &.is-selected::after {
        top: 5px;
      }

      &:hover::after {
        opacity: 0.7;;
      }
    }

    &.alternate .day-text {
      color: var(--ids-calendar-month-view-color-text-alternate);
    }

    .day-text {
      position: absolute;
      cursor: pointer;
      z-index: 1;
      left: calc(100% - 25px);
      top: var(--ids-month-view-day-text-top, 13px);
      width: 10px;
      text-align: center;
    }

    &.month-label .day-text {
      left: auto;
      width: 100%;
      text-align: right;
    }

    &.month-label ids-text::part(text) {
      font-weight: 600;
      padding-right: 10px;
    }
  }

  th,
  td {
    padding: 0;
    border-bottom: 1px solid;
    border-color: var(--ids-calendar-month-view-color-border);
  }

  // Legend in full size mode
  &.has-legend .month-view-container {
    border-bottom: 1px solid var(--ids-calendar-month-view-color-border);
  }
}

// Used in a day picker
.ids-month-view.is-date-picker {
  overflow: visible;

  .month-view-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  td .day-container {
    margin: 0;
  }

  ids-date-picker {
    margin-left: 12px;
  }
}

// Legend for full size view and if it's in a datepicker
.ids-month-view.is-date-picker,
.ids-month-view.is-fullsize {
  .month-view-legend {
    text-align: center;
  }
}

// Legend for month
.month-view-legend-item.event-type .month-view-legend-swatch {
  border-radius: 10px;
  opacity: 1;
}

ids-toolbar ids-menu-button[menu='view-picker'] {
  margin-inline-end: 8px;
}

// Text direction
:host([dir='rtl']) {
  .ids-month-view {
    &.is-fullsize td {
      .day-text {
        left: unset;
        right: calc(100% - 25px);
      }

      &.month-label .day-text {
        right: auto;
        text-align: left;
      }

      &.month-label ids-text::part(text) {
        padding-right: unset;
        padding-left: 10px;
      }

      &:last-child {
        border-left: 0;
      }
    }

    &.is-date-picker {
      ids-date-picker {
        margin-left: 0;
        margin-right: 12px;
      }

      .btn-today {
        margin-right: 0;
        margin-left: -7px;
      }
    }
  }
}
