@import '../ids-button/ids-button';

:host {
  button {
    height: auto;
    width: auto;
  }
}

:host([compact]),
:host([field-height='xs']),
:host([field-height='sm']) {
  .ids-trigger-button.ids-icon-button {
    padding: var(--ids-space-none);

    &:not(.square) {
      border-radius: var(--ids-trigger-field-button-border-radius);
    }
  }
}

.ids-trigger-button {
  align-items: center;
  background-color: transparent;
  display: flex;
  color: var(--ids-trigger-field-icon-color);
  justify-content: center;

  &.ids-icon-button {
    padding: var(--ids-space-30);

    &[disabled] {
      color: var(--ids-trigger-field-color-text-disabled);
    }

    &[readonly] {
      &:hover {
        color: var(--ids-trigger-field-icon-color);
        cursor: var(--ids-cursor-default);
        background-color: transparent;
      }
    }
  }

  // ===================================================
  // Inline Style: Show a border on the trigger button's inner-edge
  &.style-inline {
    border: 0;
    padding: var(--ids-space-none);
    border-radius: var(--ids-trigger-field-button-border-radius);
    margin: var(--ids-space-none);

    &.ids-icon-button {
      padding: var(--ids-space-none);
    }

    &.square {
      border-radius: 0;
    }

    // ===================================================
    // Field Heights

    &.field-height-xs,
    &.field-height-xs.compact {
      height: calc(var(--ids-input-height-10) - 2px);
      width: calc(var(--ids-input-height-10) - 2px);
    }

    &.field-height-sm {
      height: calc(var(--ids-input-height-20) - 2px);
      width: calc(var(--ids-input-height-20) - 2px);
    }

    &.field-height-md {
      height: calc(var(--ids-input-height-30) - 2px);
      width: calc(var(--ids-input-height-30) - 2px);
    }

    &.field-height-lg {
      height: calc(var(--ids-input-height-40) - 2px);
      width: calc(var(--ids-input-height-40) - 2px);
    }

    &.compact,
    &.field-height-sm.compact,
    &.field-height-md.compact,
    &.field-height-lg.compact {
      height: var(--ids-input-height-10);
    }
  }

  &.inline-end {
    border-inline-start: 1px solid;
  }

  &.inline-start {
    border-inline-end: 1px solid;
  }

  &.color-variant-alternate-formatter {
    padding: var(--ids-space-20);
  }

  // ===================================================
  // Inherit Color setting
  // Reset themed button colors on Trigger Buttons,
  // which are presumably slotted into another component
  // that should inherit colors from its parent.

  &.inherit-color {
    color: currentColor;
  }
}
