@import '../../core/ids-base';
@import '../ids-input/ids-input';

// Ability to center label
:host([part='trigger-field']) {
  justify-content: flex-start;
}

.ids-trigger-field {
  justify-content: inherit;
}

.ids-trigger-field-slot-trigger-start,
::slotted(*[slot='trigger-start']:first-of-type:not([inline]):not([compact]):not([field-height='xs'])) {
  @include ml-4();
}

.ids-trigger-field-slot-trigger-end,
::slotted(*[slot='trigger-end']:last-of-type:not([inline]):not([compact]):not([field-height='xs'])) {
  @include mr-4();
}

.ids-input[mode='light'].color-variant-alternate-formatter,
.ids-input:not([mode]).color-variant-alternate-formatter,
.ids-input[mode='dark'].color-variant-alternate-formatter,
.ids-input[mode='contrast'].color-variant-alternate-formatter {
  &:focus-within {
    .field-container {
      box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-60);
    }

    .ids-input-field {
      box-shadow: none;
    }
  }
}
