@import '../../core/ids-base';
@import '../ids-input/ids-input';

.ids-trigger-field {
  @include flex();
  @include mb-16();

  align-items: flex-start;
  flex-direction: column;

  &[no-margins] {
    @include mb-0();
  }
}

:host(ids-trigger-field[disabled]) {
  pointer-events: none;
}

.ids-trigger-field-content {
  @include antialiased();
  @include bg-white();
  @include box-border();
  @include border-1();
  @include border-slate-40();
  @include border-solid();
  @include font-sans();
  @include flex();
  @include rounded-default();
  @include text-16();
  @include text-black();

  align-items: center;
  -webkit-appearance: none;
  border-collapse: separate;
  border-radius: 2px;
  height: $input-field-height-md;
  width: 100%;

  &:hover {
    @include border-slate-90();
  }

  &[disabled] {
    @include border-slate-30();
    @include text-slate-30();
  }

  &[readonly] {
    @include bg-slate-20();
    @include text-black();
    @include border-slate-40();
  }

  // input message: [alert, error, info, success]
  &.alert,
  &.alert:hover {
    @include border-alert-warning();
    @include text-alert-warning();

    &:focus-within {
      @include border-alert-warning();

      box-shadow: rgba(249, 131, 0, 0.3) 0 0 3px 2px;
    }

    &[disabled] {
      @include border-amber-30();
      @include text-amber-30();
    }
  }

  &.error,
  &.error:hover {
    @include border-alert-danger();
    @include text-alert-danger();

    &:focus-within {
      @include border-alert-danger();
      @include shadow-error();
    }

    &[disabled] {
      @include border-ruby-30();
      @include text-ruby-30();
    }
  }

  &.info,
  &.info:hover {
    @include border-alert-info();
    @include text-alert-info();

    &:focus-within {
      @include border-alert-info();

      box-shadow: rgba(0, 102, 212, 0.3) 0 0 3px 2px;
    }

    &[disabled] {
      @include border-azure-30();
      @include text-azure-30();
    }
  }

  &.success,
  &.success:hover {
    @include border-alert-success();
    @include text-alert-success();

    &:focus {
      @include border-alert-success();

      box-shadow: rgba(42, 195, 113, 0.3) 0 0 3px 2px;
    }

    &[disabled] {
      @include border-emerald-30();
      @include text-emerald-30();
    }
  }
}

// input sizes: [xs, sm, mm, md, lg, full]
.ids-trigger-field.xs .ids-trigger-field-content {
  max-width: $input-size-xs;
}

.ids-trigger-field.sm .ids-trigger-field-content {
  max-width: $input-size-sm;
}

.ids-trigger-field.mm .ids-trigger-field-content {
  max-width: $input-size-mm;
}

.ids-trigger-field.md .ids-trigger-field-content {
  max-width: $input-size-md;
}

.ids-trigger-field.lg .ids-trigger-field-content {
  max-width: $input-size-lg;
}

.ids-trigger-field.full .ids-trigger-field-content {
  max-width: $input-size-full;
}

.ids-trigger-field:focus-within,
.ids-trigger-field.is-active {
  .ids-trigger-field-content:not(.error):not(.info):not(.success) {
    @include border-azure-60();
    @include shadow();

    outline: none;
    outline-color: transparent;
  }
}

::slotted(ids-trigger-button) {
  @include relative();

  flex: 0;
  z-index: 2;
}

::slotted(ids-input) {
  @include relative();

  flex: 1;
  max-width: $input-size-default;
  z-index: 1;
}

// Handle Themes
.ids-trigger-field[mode='dark'] .ids-trigger-field-content {
  @include bg-transparent();
  @include border-slate-40();
  @include text-white();

  &[disabled] {
    @include border-slate-60();
    @include text-slate-60();
  }

  &[readonly] {
    @include bg-slate-70();
    @include border-slate-40();
    @include text-slate-10();
  }

  &.bg-transparent {
    @include bg-transparent();
  }

  &:focus-within {
    @include border-azure-60();
  }
}

.ids-trigger-field[mode='contrast'] .ids-trigger-field-content {
  @include bg-white();
  @include border-slate-40();
  @include text-black();

  &[disabled] {
    @include border-slate-30();
    @include text-slate-30();
  }

  &[readonly] {
    @include bg-slate-20();
    @include border-slate-40();
    @include text-slate-100();
  }

  &.bg-transparent {
    @include bg-white();
  }

  &:focus-within {
    @include border-azure-90();
  }
}

.ids-trigger-field[version='classic'][mode='light'] .ids-trigger-field-content {
  @include bg-transparent();
  @include border-graphite-40();
  @include text-graphite-100();

  &[disabled] {
    @include border-graphite-30();
    @include text-graphite-40();
  }

  &[readonly] {
    @include bg-graphite-20();
    @include border-graphite-40();
    @include text-classic-slate-100();
  }

  &.bg-transparent {
    @include bg-transparent();
  }

  &:focus-within {
    @include border-azure-60();
  }
}

.ids-trigger-field[version='classic'][mode='dark'] .ids-trigger-field-content {
  @include bg-transparent();
  @include border-slate-40();
  @include text-white();

  &[disabled] {
    @include border-classic-slate-40();
    @include text-classic-slate-50();
  }

  &[readonly] {
    @include bg-classic-slate-60();
    @include border-classic-slate-40();
    @include text-white();
  }

  &.bg-transparent {
    @include bg-transparent();
  }

  &:focus-within {
    @include border-azure-60();
  }
}

.ids-trigger-field[version='classic'][mode='contrast'] .ids-trigger-field-content {
  @include bg-white();
  @include border-graphite-80();
  @include text-graphite-100();

  &[disabled] {
    @include bg-transparent();
    @include border-slate-50();
    @include text-graphite-80();
  }

  &[readonly] {
    @include bg-slate-30();
    @include border-slate-80();
    @include text-graphite-100();
  }

  &.bg-transparent {
    @include bg-white();
  }

  &:focus-within,
  &:focus[readonly] {
    @include border-azure-60();
  }
}

// Not sure why we need to do this
.validation-message {
  margin-bottom: 12px;
  margin-top: -12px;
}
