@import '../ids-button/ids-button';

:host {
  button {
    height: auto;
    width: auto;
  }
}

.ids-trigger-button {
  @include bg-transparent();
  @include flex();

  align-items: center;
  color: currentColor;
  justify-content: center;

  &.ids-icon-button {
    @include p-4();
  }

  // ===================================================
  // Inline Style: Show a border on the trigger button's inner-edge
  &.style-inline {
    @include border-0();
    @include p-0();
    @include m-0();
    @include rounded-none();

    &.ids-icon-button {
      @include p-0();
    }
  }

  &.inline-end {
    @include border-l-1();
  }

  &.inline-start {
    @include border-r-1();
  }

  // ===================================================
  // Field Heights

  &.field-height-xs {
    &.style-inline {
      height: $input-field-height-xs - 2px;
      width: $input-field-height-xs - 2px;
    }
  }

  &.field-height-sm {
    &.style-inline {
      height: $input-field-height-sm - 2px;
      width: $input-field-height-sm - 2px;
    }
  }

  &.field-height-md,
  &.compact {
    &.style-inline {
      height: $input-field-height-md - 2px;
      width: $input-field-height-md - 2px;
    }
  }

  &.field-height-lg {
    &.style-inline {
      height: $input-field-height-lg - 2px;
      width: $input-field-height-lg - 2px;
    }
  }
}
