<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Card (Fixed Height)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4" gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <ids-card actionable="true" height="100" href="#" target="_self">
            <div slot="card-content">
             <ids-text type="h2" font-size="16" font-weight="semi-bold" color="slate-100">Card Title</ids-text>
              <ids-text type="h2" font-size="16" color="slate-60">Additional Card Info</ids-text>
            </div>
        </ids-card>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
