<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Card</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" gap="md">
      <ids-layout-grid-cell>
        <ids-card>
          <div slot="card-header">
            <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Card Title One</ids-text>
          </div>
          <div slot="card-content">
          </div>
        </ids-card>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-card>
          <div slot="card-header">
            <ids-text font-size="20" type="h2">Card Title Two</ids-text>
          </div>
          <div slot="card-content">
          </div>
        </ids-card>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">4.x  Card</ids-text>
    </ids-layout-grid>
    <div class="svg hidden">
      <div class="svg-icons">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-icons">
          <symbol id="icon-more" viewBox="0 0 18 18"><path d="M16.5 7a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM9 7a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM1.5 7a1.5 1.5 0 110 3 1.5 1.5 0 010-3z" fill="currentColor" fill-rule="evenodd" stroke="none"></path></symbol>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="one-third column">
        <div class="card">
          <div class="card-header">
              <h2 class="widget-title">Card Title</h2>
              <button class="btn-actions" type="button" id="btn-1">
                <span class="audible">Actions</span>
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-more"></use>
                </svg>
              </button>
              <ul class="popupmenu">
                <li><a href="#" id="action-1">Action 1</a></li>
                <li><a href="#" id="action-2">Action 2</a></li>
                <li><a href="#" id="action-3">Action 3</a></li>
                <li><a href="#" id="action-4">Action 4</a></li>
                <li><a href="#" id="action-5">Action 5</a></li>
                <li><a href="#" id="action-6">Action 6</a></li>
                <li><a href="#" id="action-7">Action 7</a></li>
                <li><a href="#" id="action-8">Action 8</a></li>
                <li><a href="#" id="action-9">Action 9</a></li>
                <li><a href="#" id="action-10">Action 10</a></li>
                <li><a href="#" id="action-11">Action 11</a></li>
                <li><a href="#" id="action-12">Action 12</a></li>
              </ul>

          </div>
          <div class="card-content">

          </div>
        </div>
      </div>
      <div class="two-thirds column">
        <div class="card">
          <div class="card-header">
              <h2 class="widget-title">Card Title</h2>
              <button class="btn-actions" type="button" id="btn-2">
                <span class="audible">Actions</span>
                <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                  <use href="#icon-more"></use>
                </svg>
              </button>
              <ul class="popupmenu">
                <li><a href="#" id="action-one">Action One</a></li>
                <li><a href="#" id="action-two">Action Two</a></li>
              </ul>
          </div>
          <div class="card-content">

          </div>
        </div>
      </div>
    </div>
  </ids-container>
</body>
</html>
