<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../ids-layout-grid/ids-layout-grid.css"/>
  <link rel="stylesheet" href="../ids-text/ids-text.css"/>
  <link rel="stylesheet" href="ids-card.css"/>
  
</head>
<body>
  <div>
    <div class="ids-layout-grid">
      <h1 class="ids-text ids-text-12">Card Standalone CSS</h1>
    </div>
    <div class="ids-layout-grid ids-grid-gap-md">
      <div class="ids-layout-grid-cell">

        <div class="ids-card">
          <div class="ids-card-header">
            <h2  class="ids-text ids-text-20">Card Title</h2>
          </div>
          <div class="ids-card-content">
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>