@import '../../core/ids-base';
@import '../ids-input/ids-input.scss';

.ids-color-picker {
  @include mb-16();

  display: block;
}

ids-input::part(container) {
  margin-bottom: 0;
}

ids-input::part(input) {
  border: none;
  margin-bottom: 0;
}

.color-picker-trigger-btn::part(button) {
  @include mx-8();

  position: relative;
  z-index: 2;
}

.ids-color-picker:focus-within ids-input::part(input) {
  box-shadow: none;
}

.color-popup {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(10, 20px);
  overflow: auto;
  padding: var(--ids-number-spacing-base);
  width: 239px;
}

.color-preview {
  display: block;
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.color-input {
  display: block;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.color-input-value {
  display: flex;
}

.color-input-value-no-label {
  padding-top: calc(var(--ids-number-spacing-base) * 3);
}

.color-container {
  border: 1px solid;
  border-color: var(--ids-color-palette-slate-40);
  background-color: var(--ids-color-palette-white);
  height: 250px;
  overflow: scroll;
  width: 360px;
  position: absolute;
  top: 80px;
  left: 45px;
  border-radius: 2px;
  padding: 3px;
}

.colorpicker-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}
