@import '../ids-input/ids-input';

.ids-color-picker {
  @include mb-16();

  display: block;
  width: $input-size-sm;
}

ids-input::part(container) {
  margin-bottom: 0;
}

.color-picker-trigger-btn::part(button) {
  @include ml-1();
  @include mr-1();

  position: relative;
  z-index: 2;
}

.ids-color-picker:focus-within ids-input::part(input) {
  box-shadow: none;
}

.color-popup {
  contain: content;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(10, 20px);
  overflow: auto;
  padding: var(--ids-number-spacing-base);
  width: 239px;
}

.color-preview {
  display: block;
  height: $input-field-height-md - 4;
  margin: 0 1px;
  width: $input-field-height-md - 4;
  cursor: pointer;
}

ids-trigger-button .color-preview {
  display: block;
  height: 36px;
  width: 36px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.color-input {
  display: block;
  opacity: 0;
}

.color-input-value {
  display: flex;
}

.color-container {
  border: 1px solid;
  border-color: var(--ids-color-palette-slate-40);
  background-color: var(--ids-color-palette-white);
  height: 250px;
  overflow: scroll;
  width: 360px;
  position: absolute;
  top: 80px;
  left: 45px;
  border-radius: 2px;
  padding: 3px;
}

.colorpicker-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}
