@use '../../themes/mixins/ids-checkbox-mixin' as checkbox;
@use '../../themes/mixins/ids-validation-mixin' as valid;

:host(.justify-center) .ids-checkbox .checkmark,
:host(.justify-center) .ids-checkbox:not([color]) input[type='checkbox'] ~ .checkmark {
  top: calc(50% - 8px);
}

:host([no-margin]) .ids-checkbox {
  margin: var(--ids-space-none);
}

.ids-checkbox {
  margin-bottom: var(--ids-space-xs);

  label {
    cursor: var(--ids-cursor-pointer);
    user-select: none;
    padding-block-start: 1px;
    padding-inline-start: 25px;
    margin-inline-end: 10px;
    position: relative;
    display: inline-block;

    &.empty::before {
      content: '\00a0';
    }

    &.required .label-checkbox::after {
      position: absolute;
      font-family: var(--ids-font-family-default), var(--ids-font-family-system-sans);
      font-size: var(--ids-font-size-md);
      color: var(--ids-input-required-indicator-color-text-default);
      content: '*';
      right: -10px;
      top: -3px;
    }

    &.no-required-indicator,
    &.empty {
      .label-checkbox::after {
        content: '';
      }
    }
  }

  &.disabled label {
    cursor: var(--ids-cursor-default);
    opacity: var(--ids-checkbox-opacity-disabled);

    &.required .label-checkbox::after {
     color: var(--ids-input-required-indicator-color-text-disabled);
    }
  }

  &.hitbox {
    padding-top: var(--ids-space-12);
    padding-bottom: var(--ids-space-12);

    label {
      padding-inline-start: 42px;

      span.checkmark {
        margin-inline-start: 14px;
      }
    }

    .validation-message {
      margin-inline-start: 14px;
    }
  }

  &.horizontal {
    margin-inline-end: var(--ids-space-12);
    display: inline-block;
  }

  input[type='checkbox'] {
    position: absolute;
    cursor: var(--ids-cursor-pointer);
    opacity: 0;
    height: 0;
    width: 0;

    ~ .checkmark {
      @include checkbox.checkbox-unchecked();
    }

    &.error ~ .checkmark {
      @include checkbox.checkbox-unchecked-error();
    }

    &:checked ~ .checkmark {
      @include checkbox.checkbox-checked();

      &::after {
        @include checkbox.checkbox-checked-after();
      }
    }

    &.indeterminate ~ .checkmark {
      @include checkbox.checkbox-indeterminate();

      &::after {
        @include checkbox.checkbox-indeterminate-after();
      }
    }

    &:focus ~ .checkmark {
      @include checkbox.checkbox-focus();
    }

    &:focus.error ~ .checkmark {
      @include checkbox.checkbox-focus-error();
    }

    &:disabled {
      ~ .checkmark {
        @include checkbox.checkbox-disabled-unchecked();
      }

      ~ .label-checkbox {
        @include checkbox.checkbox-disabled-text();
      }

      &.error ~ .checkmark {
        @include checkbox.checkbox-disabled-unchecked-error();
      }

      &:checked ~ .checkmark {
        @include checkbox.checkbox-disabled-checked();
      }
    }
  }

  &.no-animation {
    input[type='checkbox']:checked ~ .checkmark::after {
      animation: none;
    }
  }

  // Colored Checkboxes
  @include checkbox.checkbox-colored();

  .validation-message {
    margin-top: var(--ids-space-2xs);
    margin-inline-start: -1px;
  }

  &.has-focus {
    input[type='checkbox'] ~ .checkmark {
      border-color: var(--ids-checkbox-focus-border-color);
      box-shadow: var(--ids-checkbox-focus-box-shadow);
    }
  }
}

:host-context(form) {
  display: flex;
}

// Negate some rules for RTL
:host([dir='rtl']) {
  input[type='checkbox'] ~ .checkmark {
    left: initial;
    right: 0;
  }

  label.required .label-checkbox::after {
    right: initial;
    left: -13px;
  }
}

// Multiselect checkbox
:host(.multiselect-checkbox) {
  input[type='checkbox']:not(:checked):not(:disabled) ~ .checkmark {
    background-color: var(--ids-checkbox-color-background-multiselect);
  }

  .ids-checkbox label {
    padding-inline-start: var(--ids-space-sm);
  }
}

:host(.multiselect-loaded) {
  .ids-checkbox {
    text-indent: 0;
    margin-inline-start: 8px;

    label {
      margin-inline-end: 0;
      padding-inline-start: 12px;
    }
  }
}
