.demo-splitter {
  border: 1px dotted #b7b7ba;
  max-width: 800px;
  min-height: 300px;
  margin-bottom: 20px;
}

.demo-splitter-4x {
  bottom: unset;
  max-height: 400px;
  max-width: calc(100% - 60px) !important;
  margin: 20px !important;
}
