.demo-splitter {
  border: 1px dashed var(--ids-card-color-border);
  max-width: 800px;
  min-height: 300px;
  margin-bottom: 20px;
}

.demo-splitter-4x {
  bottom: unset;
  max-height: 400px;
  max-width: calc(100% - 60px);
  margin: 20px;
}
