<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Breadcrumb</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-breadcrumb truncate="true">
        <ids-hyperlink font-size="14" color="unset" href="#">First Item</ids-hyperlink>
        <ids-hyperlink font-size="14" color="unset" href="#">Second Item</ids-hyperlink>
        <ids-hyperlink font-size="14" color="unset" href="#">Page Pane Test</ids-hyperlink>
        <ids-hyperlink font-size="14" color="unset" href="#">Products for Jamis Bikes</ids-hyperlink>
        <ids-hyperlink font-size="14" color="unset" href="#">Basic Form</ids-hyperlink>
        <ids-hyperlink font-size="14" color="unset" href="#">Bar Chart List</ids-hyperlink>
        <ids-hyperlink font-size="14" color="unset" href="#">Three Element Overlapped Bar List</ids-hyperlink>
        <ids-hyperlink font-size="14" color="unset" href="#">Three Element Bar No Legend List</ids-hyperlink>
        <ids-hyperlink font-size="14" color="unset" href="#">Bar Chart No Legend List</ids-hyperlink>
      </ids-breadcrumb>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
