{{> ../layouts/head.html }}

<ids-layout-grid auto="true">
  <ids-text font-size="12" type="h1">Breadcrumb</ids-text>
</ids-layout-grid>

<ids-layout-grid auto="true">
  <ids-breadcrumb>
    <ids-hyperlink font-size="14" color="unset" href="#">First Item</ids-hyperlink>
    <ids-hyperlink font-size="14" color="unset" href="#">Second Item</ids-hyperlink>
    <ids-hyperlink font-size="14" color="unset" href="#">Page Pane Test</ids-hyperlink>
    <ids-hyperlink font-size="14" color="unset" href="#">Products for Jamis Bikes</ids-hyperlink>
    <ids-hyperlink font-size="14" color="unset" href="#">Basic Form</ids-hyperlink>
    <ids-hyperlink font-size="14" color="unset" href="#">Bar Chart List</ids-hyperlink>
    <ids-hyperlink font-size="14" color="unset" href="#">Three Element Overlapped Bar List</ids-hyperlink>
    <ids-hyperlink font-size="14" color="unset" href="#">Three Element Bar No Legend List</ids-hyperlink>
    <ids-hyperlink font-size="14" color="unset" href="#">Bar Chart No Legend List</ids-hyperlink>
  </ids-breadcrumb>
</ids-layout-grid>

{{> ../layouts/footer.html }}
