@import '../../core/ids-base';

.ids-list-builder {
  border-radius: 2px;
  border: 1px solid gray;

  .header {
    background-color: gray;

    ids-icon {
      color: white;
    }
  }

  .content {
    background-color: transparent;
  }

  .ids-list-view {
    overflow: auto;

    ul {
      @include list-none();
      @include px-0();
      @include m-0();
    }

    li {
      @include py-12();
      @include px-20();
      
      &[selected='selected']{
        background-color: rgba(51, 170, 51, 0.8);
      }

      &:hover {
        // TODO: make RTL version
        &::before {
          position: absolute;
          left: 0;
          transform: translate(100%, -8%);
          content: '⁞';
          font-size: 24px;
          cursor: move;
        }
      }

      &:hover:not(:focus) {
        background-color: yellow;
        cursor: pointer;
      }

      &:focus:not([selected='selected']) {
        background-color: rgba(132, 218, 132, 0.4);
      }

      &:focus[selected='selected'] {
        background-color: rgba(51, 170, 51, 1);
      }

      ids-text::part(text) {
        display: inline;
        user-select: none;
      }
    }
  }
}
