.slidecontainer {
  width: 100%; /* Width of the outside container */
  position: relative;
  align-items: center;
  display: flex;
  margin: 25px;
  // justify-content: space-between; 

  .tick {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #0072ED;
    position: absolute;
    z-index: 40;
    
    &.start {
      left: 2px;
    }

    &.end {
      right: 2px;
    }
  }

  .tooltip {
    width: 25px;
    height: 25px;
    background-color: #606066;
    color: white;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 200%;
    border-radius: 5px;
    left: calc(var(--value) * 1%);
    vertical-align: middle;
    line-height: 25px;
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    // appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background-color: #97979B; /* Grey background */
    border-radius: 2px;
    outline: none; /* Remove outline */
    // opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    // -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    cursor: pointer;
    // z-index: 10;
    // overflow: hidden;
  }
  .slider:focus::-webkit-slider-runnable-track {
    // border: 5px solid red;
  }
  .slider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #0072ED calc(var(--value) * 1%), transparent 0%);
    background-position: left;
    height: 4px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin: -6px 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #0072ED;
    cursor: pointer !important;
    transition: box-shadow .2s;
    
    // z-index: 30;
    &:active {
      border: 6px solid #0072ED;
    }

    &:hover {
      box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
      // border: 6px solid red;
    }

  }

  
  .slider::-moz-range-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    z-index: 20;
    background: #0072ED;
    cursor: pointer;
  }

  .label {
    display: flex;
    position: absolute;
    top: 100%;
    margin: 15px 0;
  }
}


// .range {
//   height: 4px;
//   // width: 98%;
//   left: 1%;
//   background-color: red;
//   position: absolute;
//   // padding: 0 2px;
//   z-index: 10;
// }


