@import '../../themes/mixins/ids-core-mixins';

:host {
  position: relative;
  width: 100%;
}

.ids-slider {
  display: flex;
  justify-content: center;

  .tick {
    background-color: var( --ids-slider-tick-color-background-default);
  }

  .thumb-shadow {
    background-color: var(--ids-slider-thumb-color-shadow-default);
    border-color: var(--ids-slider-thumb-color-border-default);
  }

  .thumb {
    background-color: var(--ids-slider-thumb-color-background-default);

    &:hover {
      box-shadow: var(--ids-slider-thumb-shadow-hover);
    }
  }

  .track {
    background-color: var(--ids-slider-track-color-background-default);
  }

  .track-progress {
    background-color: var(--ids-slider-track-color-background-progress);
  }

  // horizontal slider rules only
  &:not(.vertical) {
    width: 100%;

    .thumb {
      cursor: ew-resize;
    }
  }

  // Vertical slider rules only
  &.vertical {
    height: 300px;

    .thumb {
      cursor: ns-resize;
    }
  }

  // Animates some parts of the shadow root when applied to the `.container` element
  &.animated {
    .thumb-draggable {
      transition: transform $transition-length $transition-ease;
    }

    &:not(.vertical) {
      .track-progress {
        transition:
          transform $transition-length $transition-ease,
          width $transition-length $transition-ease;
      }
    }

    &.vertical {
      .track-progress {
        transition:
          transform $transition-length $transition-ease,
          height $transition-length $transition-ease;
      }
    }
  }

  // Disabled cursor rules
  &.disabled {
    color: var(--ids-slider-color-disabled);

    .label {
      cursor: default;
    }

    .tick {
      background-color: var(--ids-slider-tick-color-background-disabled);
    }

    .thumb-shadow {
      display: none;
    }

    .thumb {
      background-color: var(--ids-slider-thumb-color-background-disabled);
      cursor: default;

      &:hover {
        box-shadow: none;
      }
    }

    .track-area {
      cursor: default;
    }

    .track {
      background-color: var(--ids-slider-track-color-background-disabled);
    }

    .track-progress {
      background-color: var(--ids-slider-track-color-background-progress-disabled);
    }
  }

  // Readonly cursor rules
  &.readonly {
    color: var(--ids-slider-color-readonly);

    .label {
      cursor: default;
    }

    .tick {
      background-color: var(--ids-slider-tick-color-background-readonly);
    }

    .thumb {
      background-color: var(--ids-slider-thumb-color-background-readonly);
      cursor: pointer;
    }

    .thumb-shadow {
      background-color: var(--ids-slider-thumb-color-shadow-readonly);
      border-color: var(--ids-slider-thumb-color-border-readonly);
      cursor: pointer;
    }

    .track {
      background-color: var(--ids-slider-track-color-background-readonly);
    }

    .track-progress {
      background-color: var(--ids-slider-track-progress-color-background-readonly);
    }

    .track-area {
      cursor: default;
    }
  }
}

.slider {
  display: inline-flex;
  position: relative;
  width: 92%; // horizontal
  margin: 25px 4% 50px;
  justify-content: center;
  align-items: center;

  &.vertical {
    height: 92%; // vertical
  }

  .tick-container {
    display: flex;
    position: absolute;
    width: 100%; // horizontal
    justify-content: space-between;

    &.vertical {
      height: 100%; // vertical
      flex-direction: column; // vertical
      align-items: center; // vertical
    }
  }

  .tick {
    display: flex;
    width: var(--ids-slider-tick-size);
    height: var(--ids-slider-tick-size);
    border-radius: var(--ids-border-radius-circle);
    z-index: 40;
    justify-content: center;
  }

  .label {
    cursor: pointer;
    position: absolute;
    transform: translate(0, 100%); // horiz

    &::part(text) {
      white-space: nowrap;
    }

    &.vertical {
      transform: translate(-50px, -25%); // vert
      min-width: 50px; // vert
      text-align: right; // vert
    }
  }

  .tooltip {
    background-color: var(--ids-slider-tooltip-color-background);
    color: var(--ids-slider-tooltip-color-text);
    display: flex;
    justify-content: center;
    position: absolute;
    width: auto;
    padding: var(--ids-space-10);
    height: auto;
    text-align: center;
    margin: auto;
    border-radius: var(--ids-border-radius-01);
    vertical-align: middle;
    line-height: 30px;
    max-width: 300px;
    min-width: 40px;
    transition: opacity 0.2s ease;
    opacity: 0;
    bottom: 175%; // horizontal
    left: -12px; // horizontal
    user-select: none;

    &.vertical {
      bottom: unset;
      left: 200%;
      transform: translate(0, -25%);
    }

    .pin {
      position: absolute;
      width: 0;
      height: 0;
      bottom: -6px; // horizontal
      margin-top: 1px; // horizontal
      left: 14px; // horizontal
      border-left: 6px solid transparent; // horizontal
      border-top: 6px solid var(--ids-slider-tooltip-color-background); // horizontal
      border-right: 6px solid transparent; // horizontal

      &.vertical {
        left: unset;
        bottom: unset;
        margin-top: unset;
        border-top: 6px solid transparent;
        border-right: 6px solid var(--ids-slider-tooltip-color-background);
        border-bottom: 6px solid transparent;
        right: 100%;
        transform: translate(0, 10px);
      }
    }
  }

  .thumb-draggable {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: none;
    position: absolute;
  }

  .thumb {
    width: var(--ids-slider-thumb-size);
    height: var(--ids-slider-thumb-size);
    border-radius: 50%;
    z-index: 50;
  }

  .thumb-shadow {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-width: var(--ids-space-10);
    border-style: solid;
    transition: transform $transition-length $transition-ease;
    transform: scale(0);

    &.active {
      transform: scale(1);
    }
  }

  .track-area {
    width: 100%; // horizontal
    height: var(--ids-space-80); // horizontal
    &.vertical {
      height: 100%; // vert
      width: var(--ids-space-80); // vert
    }

    background-color: transparent;
    align-items: center; // horizontal
    justify-content: center; // vertical
    display: flex;
    position: absolute;
    z-index: 50;
    cursor: pointer;
  }

  .track {
    display: flex;
    align-items: center; // horizontal
    justify-content: flex-start; // horizontal
    height: var(--ids-space-30); // horizontal
    width: calc(100% - (var(--ids-slider-thumb-size) / 2)); // horizontal
    &.vertical {
      justify-content: center; // vertical
      width: var(--ids-space-30); // vert
      height: calc(100% - (var(--ids-slider-thumb-size) / 2)); // vert
    }

    position: absolute;
    z-index: 30;
    border-radius: var(--ids-border-radius-01);

    .track-progress {
      height: inherit;
      position: absolute;
      /* stylelint-disable-next-line custom-property-pattern */
      width: calc((var(--percentEnd) - var(--percentStart)) * 1%); // horiz

      &.vertical {
        /* stylelint-disable-next-line custom-property-pattern */
        height: calc((var(--percentEnd) - var(--percentStart)) * 1%); // vert
        width: 100%; // vert
        bottom: 0%; // vert
      }
    }
  }
}
