
ids-slider {
  position: relative;
}

.ids-slider {
  display: flex;
  justify-content: center; // horizontal
  width: 100%; // horizontal
  &.vertical {
    height: 300px; // vertical
  }
}

.slider {
  --tick-size: 8px;
  --thumb-size: 16px;

  display: inline-flex;
  position: relative;
  width: 92%; // horizontal
  &.vertical {
    height: 92%; // vertical
  }
  margin: 25px 4% 50px;
  justify-content: center;
  align-items: center;

  .tick-container {
    display: flex;
    position: absolute;
    width: 100%; // horizontal
    justify-content: space-between;

    &.vertical {
      height: 100%; // vertical
      flex-direction: column; // vertical
      align-items: center; // vertical
    }

    .tick {
      display: flex;
      width: var(--tick-size);
      height: var(--tick-size);
      border-radius: 50%;
      background-color: #0072ED;
      z-index: 40;
      
      .label {
        position: absolute;
        transform: translate(-50%, 100%); // horiz
        &.vertical {
          transform: translate(-150%, -25%); // vert
          min-width: 50px; // vert
          text-align: right; // vert
        }
      }
    }
  }

  .tooltip {
    display: flex;
    justify-content: center;
    position: absolute;
    width: auto;
    padding: 1px;
    height: auto;
    background-color: #47474C;
    color: white;
    text-align: center;
    margin: auto;
    bottom: 175%;
    border-radius: 2px;
    vertical-align: middle;
    line-height: 30px;
    max-width: 300px;
    min-width: 40px;
    transition: opacity 0.2s ease;
    opacity: 0;
    left: -12px;
    

    .pin {
      position: absolute;
      width: 0; 
      height: 0; 
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #47474C;
      left: 14px;
      bottom: -6px;
      margin-top: 1px;
    }
  }
  
  .thumb-draggable {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: none;
    position: absolute;
    
    --blue-shadow: rgba(0 ,114 ,237, 0.1) 0px 0px 0px 8px;
    
    .thumb-shadow {
      position: absolute;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: rgba(0, 114, 237, 0.1);
      border: 1px #0072ed solid;
    }
    
    .thumb {
      width: var(--thumb-size);
      height: var(--thumb-size);
      border-radius: 50%;
      background: #0072ED;
      cursor: pointer !important;
      z-index: 50 !important;
      
      &:hover {
        box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
      }
    }
    
  }

  .track-area {
    width: 100%; // horizontal
    height: 24px; // horizontal
    &.vertical {
      height: 100%; // vert
      width: 24px; // vert
    }
    background-color: transparent;
    align-items: center; // for horizontal slider
    justify-content: center; // for vertical slider
    display: flex;
    position: absolute;
    z-index: 50;

    &:hover {
      background-color:rgba(0 ,114 ,237, 0.1);
    }
  }
  
  .track {
    display: flex;
    align-items: center; // horizontal
    justify-content: flex-start; // horizontal
    height: 4px; // horizontal
    width: calc(100% - (var(--thumb-size) / 2)); // horizontal
    &.vertical {
      justify-content: center; // vertical
      width: 4px; // vert
      height: calc(100% - (var(--thumb-size) / 2)); // vert
    }
    position: absolute;
    z-index: 30;
    border-radius: 2px;
    background-color: #97979B;
    
    .track-progress {
      height: inherit;
      position: absolute;
      width: calc((var(--percentEnd) - var(--percentStart)) * 1%); // horiz
      // left: 0%; // TODO: need solution for RTL; replaced by flex-start in .track

      &.vertical {
        height: calc((var(--percentEnd) - var(--percentStart)) * 1%); // vert
        width: 100%; // vert
        top: 0%; // vert
      }

      // background: linear-gradient(to right, transparent 0% calc(var(--percentStart) * 1%), #0072ed calc(var(--percentStart) * 1%) calc(var(--percentEnd) * 1%), transparent calc(var(--percentEnd) * 1%) 100%);    // -webkit-animation: Animation 5s ease infinite;
      // width: 100%;
      // left: 50%;
      // right: 80%;
      background-color: yellow;
      // transition: left 1s ease; 
    }
  }
}
