<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid cols="1" cols-md="3" padding="md">
      <ids-layout-grid-cell>
        <ids-upload id="upload-1" label="Regular Upload" placeholder="This upload's label is visible"
          validate="required"></ids-upload>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-upload id="upload-2" label="Upload with hidden label" label-state="hidden"
          placeholder="This upload's label is hidden" validate="required"></ids-upload>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-upload id="upload-3" label="Upload with collapsed label" label-state="collapsed"
          placeholder="This upload's label is collapsed" validate="required"></ids-upload>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
