/* Ids Area Chart Component */
@import '../../components/ids-axis-chart/ids-axis-chart';
@import '../../components/ids-line-chart/ids-line-chart';

.ids-axis-chart {
  .areas {
    fill-opacity: 0.2;

    [part='area'] {
      outline: none;
    }

    @for $i from 1 through 21 {
      path.color-#{$i} {
        /* stylelint-disable-next-line custom-property-pattern */
        fill: var(--ids-chart-color-#{$i});
      }
    }
  }

  .animate {
    animation: fadein 2.8s cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards;
  }
}

.ids-chart-container.selectable {
  .ids-axis-chart .areas [part='area'] {
    cursor: pointer;

    &.selected,
    &[selected] {
      opacity: 1;
    }

    &.not-selected {
      opacity: 0.35;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
