/* Ids Tree Component */
@import './ids-tree-shared';

.ids-tree {
  @include tree-node-badge();

  list-style-type: none;
  margin-bottom: var(--ids-space-10);
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

@include tree-node-badge();
