/* Ids Tree Node Component */
@import './ids-tree-shared';

.ids-tree-node {
  display: block;
  list-style-type: none;
  user-select: none;

  .node-container {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    padding: var(--ids-space-xxs);
    color: var(--ids-tree-node-color-text-default);
    align-items: baseline;
    margin-bottom: var(--ids-space-xxxxs);
    border-radius: var(--ids-border-radius-xxs);
    transition: background-color var(--ids-motion-duration) var(--ids-motion-ease), opacity var(--ids-motion-duration) var(--ids-motion-ease);

    .icon,
    .toggle-icon {
      padding-top: var(--ids-space-xxxxs);
      flex: 0 0 auto;
      margin-inline-end: 8px;
      transition: fill var(--ids-motion-duration) var(--ids-motion-ease);
      place-self: flex-start;
    }

    .toggle-icon {
      &.rotate-forward {
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-name: keyframes-rotate-forward;
      }

      &.rotate-backward {
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-name: keyframes-rotate-backward;
      }
    }

    .text {
      border-bottom: 1px solid transparent;
      flex-grow: 1;
      margin-inline-end: 2px;
      transition: border var(--ids-motion-duration) var(--ids-motion-ease), color var(--ids-motion-duration) var(--ids-motion-ease);
    }

    &:hover,
    &:active {
      color: var(--ids-tree-node-color-text-hover);

      .text {
        border-color: var(--ids-tree-node-color-border-hover);
      }
    }

    &:focus {
      border-color: var(--ids-tree-node-color-border-focus);
      box-shadow: var(--ids-tree-node-shadow-focus);
      outline: none;
    }
  }

  .group-nodes {
    display: block;
    overflow: hidden;
    padding-inline-start: 24px;
    transition: max-height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }

  &:not(.expanded) .group-nodes {
    max-height: 0;
    display: none;
  }

  &[selected] {
    .node-container {
      background-color: var(--ids-tree-node-color-background-selected);
      color: var(--ids-tree-node-color-text-selected);
    }
  }

  &[disabled] {
    .node-container {
      color: var(--ids-tree-node-color-text-disabled);
      cursor: default;
      pointer-events: none;
      user-select: none;

      &:hover,
      &:active {
        color: var(--ids-tree-node-color-text-disabled);
      }

      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
}

ids-checkbox::part(root) {
  margin-bottom: var(--ids-space-none);
}

@include tree-node-badge();
