// Keyframes for the "plusminus" icon animation
@keyframes keyframes-rotate-forward {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes keyframes-rotate-backward {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// Adjust badge rules for tree node
@mixin tree-node-badge() {
  ids-badge::part(badge) {
    border-width: var(--ids-border-width-none);
    margin: 0;
    margin-inline-end: 8px;
  }

  ::slotted(ids-badge) {
    align-self: center;
  }
}
