/* Ids Switch Component */

$slider-width: 40px;
$slider-height: 24px;
$slider-compact-height: 20px;
$slider-compact-width: 34px;

// hidden input margin from label position end
$slider-start-extra-padding: 7px;

.ids-switch {
  color: var(--ids-switch-label-color-text-default);
  margin-block-end: var(--ids-space-sm);

  // SWITCH DEFAULT STATE
  label {
    cursor: pointer;
    user-select: none;
    padding-inline-start: calc($slider-width + var(--ids-space-xs));
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;

    ~ .slider {
      width: $slider-width;
      height: $slider-height;
      position: absolute;
      inset-inline-start: 0;
      background-color: var(--ids-switch-pole-color-background-default);
      border-radius: var(--ids-border-radius-circle);
      border: 1px solid var(--ids-switch-pole-color-border-default);
      box-sizing: border-box;
      transition: all var(--ids-motion-duration) var(--ids-motion-ease);

      &::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        inset-inline-start: 1px;
        top: 1px;
        background-color: var(--ids-switch-toggle-color-background-default);
        border-radius: var(--ids-border-radius-circle);
        box-shadow: 0 0 2px 0 var(--ids-color-gray-40);
        transition: all var(--ids-motion-duration) var(--ids-motion-ease);
      }
    }

    &:focus {
      ~ .slider {
        box-shadow: var(--ids-switch-shadow-focus);
      }
    }
  }

  // SWITCH ON STATE
  input[type='checkbox']:checked {
    ~ .slider {
      border-color: var(--ids-color-action-default);
      background-color: var(--ids-color-action-default);

      &::after {
        inset-inline-start: 17px;
      }
    }
  }

  &.compact input[type='checkbox']:checked {
    ~ .slider::after {
      inset-inline-start: 15px;
    }
  }

  // SWITCH COMPACT STATE
  &.compact {
    label {
      padding-inline-start: calc($slider-compact-width + var(--ids-space-xs));
    }

    input[type='checkbox'] {
      ~ .slider {
        width: $slider-compact-width;
        height: $slider-compact-height;

        &::after {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  // SWITCH DISABLED STATE
  &.disabled {
    opacity: var( --ids-switch-disabled-opacity);

    label {
      cursor: default;
    }
  }
}

// label position start
:host([label-position='start']) {
  .ids-switch {
    label {
      padding-inline-start: 0;
    }

    &:not(.compact) {
      label {
        padding-inline-end: calc($slider-width + var(--ids-space-xs) + $slider-start-extra-padding);
      }
    }

    &.compact {
      label {
        padding-inline-end: calc($slider-compact-width + var(--ids-space-xs) + $slider-start-extra-padding);
      }
    }

    input[type='checkbox'] {
      margin: 0;

      ~ .slider {
        inset-inline-start: unset;
        inset-inline-end: 0;
      }
    }
  }
}

// sizes
:host([size]) {
  &, .ids-switch, label {
    width: 100%;
    box-sizing: border-box;
  }
}

:host([size='xs']) label {
  max-width: var(--ids-input-width-10);
}

:host([size='sm']) label {
  max-width: var(--ids-input-width-20);
}

:host([size='mm']) label {
  max-width: var(--ids-input-width-30);
}

:host([size='md']) label {
  max-width: var(--ids-input-width-40);
}

:host([size='lg']) label {
  max-width: var(--ids-input-width-50);
}

:host([size='full']) label {
  max-width: var(--ids-input-width-full);
}
