@import '../../core/ids-base';

:host(ids-pager-number-list) {
  box-sizing: border-box;
  flex-basis: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
}

ids-button::part(button) {
  max-width: 40px;
  padding: 6px 8px;
}

ids-button:not([selected]):not([disabled])::part(button) {
  @include text-azure-60();
}

ids-button[selected]::part(button) {
  @include font-bold();
}

ids-button:not([selected]):hover {
  @include border-none();
  @include border-b-1();
  @include border-azure-60();
}
