/* Ids Pager Number List Component */
:host(ids-pager-number-list) {
  box-sizing: border-box;
  flex-basis: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
}

ids-button::part(button) {
  max-width: 40px;
  padding: 6px 8px;
}

ids-button:not([selected]):not([disabled])::part(button) {
  color:  var(--ids-hyperlink-color-text-default);
}

ids-button[selected]::part(button) {
  font-weight: var(--ids-font-weight-semibold);
}

ids-button:not([selected]):hover {
  border: none;
  border-bottom: 1px solid var(--ids-color-border-focus);
}

.divider {
  display: inline-flex;
}
