:host(ids-pager),
.ids-pager {
  // Alignment and Display
  align-items: center;
  contain: content;
  display: flex;
  justify-content: center;

  // Sizing
  height: 38px;
  margin: 6px 0;
  width: 100%;
}
