/* Ids Pager Input Component */
:host(ids-pager-input) {
  display: inline-flex;
  align-items: center;
}

.ids-pager-input,
ids-input::part(container) {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
  margin-block-end: 0;
}

.ids-pager-input input,
ids-input::part(input) {
  padding-block-start: 0;
  padding-block-end: 0;
  margin-block-end: 0;
  min-width: 40px;
}

.ids-pager-input label,
ids-input::part(label) {
  margin-block-end: 0;
  height: 0;
}

.ids-pager-input,
ids-input::part(field-container) {
  margin-block-end: 0;
}

ids-text {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}
