@import '../../themes/mixins/ids-core-mixins';

.ids-expandable-area {
  border-bottom: var(--ids-expandable-area-border-bottom);
  contain: content;
  padding: calc(var(--ids-space-40) * 3) var(--ids-space-none);

  .expandable-pane-content {
    margin-block-start: calc(var(--ids-space-40) * 2);
  }
}

:host([type='toggle-btn']) {
  .ids-expandable-area-header {
    margin-block-end: var(--ids-space-40);
  }
}

:host([type='partial']) {
  .ids-expandable-area-visible-pane .expandable-pane-content {
    margin-block-start: calc(var(--ids-space-40) * 3);
  }

  .ids-expandable-area-pane .expandable-pane-content {
    margin-block-start: var(--ids-space-none);
  }
}

.ids-expandable-area-header ::slotted(ids-text) {
  display: block;
  margin-block-end: var(--ids-space-40);
}

.ids-expandable-area-footer ::slotted(ids-hyperlink),
.ids-expandable-area-footer ::slotted(ids-text) {
  display: block;
  margin-block-start: var(--ids-space-none);
  margin-block-end: calc(var(--ids-space-40) * -1); // -8px
}

[data-expander='link'] {
  display: inline-block;

  &[aria-expanded='true'] {
    margin-block-start: var(--ids-space-40);
  }
}

[data-expander='header'] {
  pointer-events: none;
}

[data-expander='header'] [name='header'] {
  pointer-events: initial;
}

.ids-expandable-area-pane {
  height: var(--ids-space-none);
  overflow: hidden;
  transition: height $transition-length $transition-ease;
}
