.ids-draggable-demo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-style: dashed;
}

.ids-draggable-demo-content {
  display: flex;
  flex-direction: row;
}

ids-draggable:not(:first-child) .ids-draggable-demo-box {
  margin-left: 8px;
}

ids-draggable:nth-of-type(1) .ids-draggable-demo-box {
  border-color: rgba(255, 0, 0, 0.25);
}

ids-draggable:nth-of-type(2) .ids-draggable-demo-box {
  border-color: rgba(0, 255, 0, 0.25);
}

ids-draggable:nth-of-type(3) .ids-draggable-demo-box {
  border-color: rgba(0, 0, 255, 0.25);
}
