<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Splitter</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter>
          <ids-splitter-pane id="p1"></ids-splitter-pane>
          <ids-splitter-pane id="p2"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Multiple</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter>
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Vertical</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter axis="y">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Nested</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter>
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane>
            <ids-splitter axis="y">
              <ids-splitter-pane size="70%"></ids-splitter-pane>
              <ids-splitter-pane></ids-splitter-pane>
            </ids-splitter>
          </ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
