<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="0" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-layout-grid-cell>
        <ids-button id="expand-collapse-btn" appearance="secondary">
          <ids-icon icon="menu"></ids-icon>
          <span class="audible">Expand Collapse</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-splitter height="calc(100dvh - 128px)">

      <ids-splitter-pane size="25%" id="left-pane">
        <ids-layout-grid auto-fit="true" padding-x="sm">
          <ids-layout-grid-cell>
            <ids-tree id="tree" label="Tree"></ids-tree>
          </ids-layout-grid-cell>
        </ids-layout-grid>
      </ids-splitter-pane>

      <ids-splitter-pane id="right-pane">
        <ids-list-view item-height="76" selectable="single">
          <template>
            <ids-text font-size="16" type="h2" font-weight="semi-bold">${name}</ids-text>
            <ids-layout-grid cols="1" padding-y="xxs">
              <ids-layout-grid-cell>
                <ids-text font-size="16" type="span">${type}</ids-text>
                <ids-text font-size="14" type="span">${location}</ids-text>
              </ids-layout-grid-cell>
            </ids-layout-grid>
          </template>
        </ids-list-view>
      </ids-splitter-pane>

    </ids-splitter>
  </ids-container>
</body>
</html>
