<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Splitter Sandbox</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter id="splitter-basic">
          <ids-splitter-pane id="basic-p1"></ids-splitter-pane>
          <ids-splitter-pane id="basic-p2"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Initial Size</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter>
          <ids-splitter-pane size="30%"></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Minimum / Maximum (min: 10%, max:80%)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter id="splitter-minmax">
          <ids-splitter-pane id="minmax-p1" min-size="10%" max-size="80%"></ids-splitter-pane>
          <ids-splitter-pane id="minmax-p2"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Collapsed</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter id="splitter-collapsed">
          <ids-splitter-pane collapsed></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Multiple</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter id="splitter-multiple">
          <ids-splitter-pane id="multiple-p1"></ids-splitter-pane>
          <ids-splitter-pane id="multiple-p2"></ids-splitter-pane>
          <ids-splitter-pane id="multiple-p3"></ids-splitter-pane>
          <ids-splitter-pane id="multiple-p4"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Vertical</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter axis="y">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Nested</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter>
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane>
            <ids-splitter axis="y">
              <ids-splitter-pane size="70%"></ids-splitter-pane>
              <ids-splitter-pane></ids-splitter-pane>
            </ids-splitter>
          </ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Custom (aria-label) for Splitter Bar</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter label="Custom Resize Text">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Resize on Drag End</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter resize-on-drag-end>
          <ids-splitter-pane class="dark" size="30%"></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12">Disable / Enable</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-button id="btn-splitter-disable-enable" appearance="secondary">
          <span>Enable Splitter</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <div class="demo-splitter">
        <ids-splitter id="splitter-disable-enable">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2" class="inline">Events</ids-text>
        <ids-text font-size="14" class="inline">(watch the logs for the events in console)</ids-text><br />
        <ids-text font-size="14" font-weight="semi-bold" class="inline">&mdash; beforecollapsed:</ids-text>
        <ids-text font-size="14" class="inline">Fire before collapse and can prevent by passing boolean value.</ids-text>
        <br />
        <ids-radio-group horizontal="true" id="radio-splitter-evt-beforecollapsed">
          <ids-radio value="true" label="True" checked="true"></ids-radio>
          <ids-radio value="false" label="False"></ids-radio>
        </ids-radio-group>
        <ids-text font-size="14" font-weight="semi-bold" class="inline">&mdash; collapsed:</ids-text>
        <ids-text font-size="14" class="inline">Will fire after collapse the splitter pane.</ids-text><br />
        <ids-text font-size="14" font-weight="semi-bold" class="inline">&mdash; beforeexpanded:</ids-text>
        <ids-text font-size="14" class="inline">Fire before expand and can prevent by passing boolean value.</ids-text>
        <br />
        <ids-radio-group horizontal="true" id="radio-splitter-evt-beforeexpanded">
          <ids-radio value="true" label="True" checked="true"></ids-radio>
          <ids-radio value="false" label="False"></ids-radio>
        </ids-radio-group>
        <ids-text font-size="14" font-weight="semi-bold" class="inline">&mdash; expanded:</ids-text>
        <ids-text font-size="14" class="inline">Will fire after expand the splitter pane.</ids-text><br />
        <ids-text font-size="14" font-weight="semi-bold" class="inline">&mdash; beforesizechanged:</ids-text>
        <ids-text font-size="14" class="inline">Fire before the size change and can prevent by passing boolean value.</ids-text>
        <br />
        <ids-radio-group horizontal="true" id="radio-splitter-evt-beforesizechanged">
          <ids-radio value="true" label="True" checked="true"></ids-radio>
          <ids-radio value="false" label="False"></ids-radio>
        </ids-radio-group>
        <ids-text font-size="14" font-weight="semi-bold" class="inline">&mdash; sizechanged:</ids-text>
        <ids-text font-size="14" class="inline">Will fire after the splitter pane size changed.</ids-text><br />
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-layout-grid-cell>
        <ids-button id="btn-splitter-collapse-expand" appearance="secondary">
          <span>Collapse</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter id="splitter-events">
          <ids-splitter-pane class="splitter-evt-p1"></ids-splitter-pane>
          <ids-splitter-pane class="splitter-evt-p2"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Save Position</ids-text>
        <ids-text>1. Drag the Splitter Bar to move panes and leave at different position then origin</ids-text>
        <ids-text>2. At this point it should be saved the current position to local storage</ids-text>
        <ids-text>3. Refresh or close/open the page, and see the same Splitter</ids-text>
        <ids-text>4. It should have previously saved positions</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-layout-grid-cell>
        <ids-menu-button appearance="secondary" id="btn-splitter-save-clear" menu="menu-splitter-save-clear" trigger-type="click" dropdown-icon>
          <span>Clear saved position</span>
        </ids-menu-button>
        <ids-popup-menu id="menu-splitter-save-clear" target="#btn-splitter-save-clear">
          <ids-menu-group>
            <ids-menu-item id="clear-saved-splitter-1" value="clear-saved-splitter-1">Clear position for saved Splitter(1)</ids-menu-item>
            <ids-menu-item id="clear-saved-splitter-2" value="clear-saved-splitter-2">Clear position for saved Splitter(2)</ids-menu-item>
            <ids-menu-item id="clear-saved-splitter-all" value="clear-saved-splitter-all">Clear position for all saved Splitters</ids-menu-item>
          </ids-menu-group>
        </ids-popup-menu>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text>1. Choose Splitter(1), Splitter(2) or all saved Splitters to clear from menu button</ids-text>
        <ids-text>2. Refresh or close/open the page, and see the same Splitter</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text>Save Position - Splitter(1)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter id="splitter-save1" unique-id="some-uniqueid-1" save-position>
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text>Save Position - Splitter(2)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <div class="demo-splitter">
        <ids-splitter id="splitter-save2" unique-id="some-uniqueid-2" save-position>
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

  </ids-container>
</body>
</html>
