<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Splitter Sandbox</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter id="splitter-basic">
          <ids-splitter-pane id="basic-p1"></ids-splitter-pane>
          <ids-splitter-pane id="basic-p2"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Align (end)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter align="end">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Initial Size</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter>
          <ids-splitter-pane size="30%"></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Minimum / Maximum (min: 10%, max:80%)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter id="splitter-minmax">
          <ids-splitter-pane id="minmax-p1" min-size="10%" max-size="80%"></ids-splitter-pane>
          <ids-splitter-pane id="minmax-p2"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Collapsed</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter>
          <ids-splitter-pane min-size="20%" collapsed></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Multiple</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter id="splitter-multiple">
          <ids-splitter-pane id="multiple-p1"></ids-splitter-pane>
          <ids-splitter-pane id="multiple-p2"></ids-splitter-pane>
          <ids-splitter-pane id="multiple-p3"></ids-splitter-pane>
          <ids-splitter-pane id="multiple-p4"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Vertical</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter axis="y">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Vertical (align end)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter align="end" axis="y">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Nested</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter>
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane>
            <ids-splitter axis="y">
              <ids-splitter-pane size="70%"></ids-splitter-pane>
              <ids-splitter-pane></ids-splitter-pane>
            </ids-splitter>
          </ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Custom (aria-label) for Splitter Bar</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter label="Custom Resize Text">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12">Resize on Drag End</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter resize-on-drag-end>
          <ids-splitter-pane class="dark" size="30%"></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid>
      <ids-layout-grid-cell>
        <ids-text font-size="12">Disable / Enable</ids-text>
        <br />
        <ids-button id="btn-splitter-disable-enable" type="secondary">
          <span slot="text">Enable Splitter</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter id="splitter-disable-enable">
          <ids-splitter-pane></ids-splitter-pane>
          <ids-splitter-pane></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2" class="inline">Events</ids-text>
        <ids-text font-size="14" class="inline">(watch the logs for the events in console)</ids-text><br />
        <ids-text font-size="14" font-weight="bold" class="inline">&mdash; beforecollapsed:</ids-text>
        <ids-text font-size="14" class="inline">Fire before collapse and can prevent by passing boolean value.</ids-text>
        <br />
        <ids-radio-group horizontal="true" id="radio-splitter-evt-beforecollapsed">
          <ids-radio value="true" label="True" checked="true"></ids-radio>
          <ids-radio value="false" label="False"></ids-radio>
        </ids-radio-group>
        <ids-text font-size="14" font-weight="bold" class="inline">&mdash; collapsed:</ids-text>
        <ids-text font-size="14" class="inline">Will fire after collapse the splitter pane.</ids-text><br />
        <ids-text font-size="14" font-weight="bold" class="inline">&mdash; beforeexpanded:</ids-text>
        <ids-text font-size="14" class="inline">Fire before expand and can prevent by passing boolean value.</ids-text>
        <br />
        <ids-radio-group horizontal="true" id="radio-splitter-evt-beforeexpanded">
          <ids-radio value="true" label="True" checked="true"></ids-radio>
          <ids-radio value="false" label="False"></ids-radio>
        </ids-radio-group>
        <ids-text font-size="14" font-weight="bold" class="inline">&mdash; expanded:</ids-text>
        <ids-text font-size="14" class="inline">Will fire after expand the splitter pane.</ids-text><br />
        <ids-text font-size="14" font-weight="bold" class="inline">&mdash; beforesizechanged:</ids-text>
        <ids-text font-size="14" class="inline">Fire before the size change and can prevent by passing boolean value.</ids-text>
        <br />
        <ids-radio-group horizontal="true" id="radio-splitter-evt-beforesizechanged">
          <ids-radio value="true" label="True" checked="true"></ids-radio>
          <ids-radio value="false" label="False"></ids-radio>
        </ids-radio-group>
        <ids-text font-size="14" font-weight="bold" class="inline">&mdash; sizechanged:</ids-text>
        <ids-text font-size="14" class="inline">Will fire after the splitter pane size changed.</ids-text><br />
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-button id="btn-splitter-collapse-expand" type="secondary">
          <span slot="text">Collapse</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <div class="demo-splitter">
        <ids-splitter id="splitter-events">
          <ids-splitter-pane class="splitter-evt-p1"></ids-splitter-pane>
          <ids-splitter-pane class="splitter-evt-p2"></ids-splitter-pane>
        </ids-splitter>
      </div>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
