@import '../ids-modal/ids-modal';

.ids-modal-header {
  background-color: var(--ids-action-panel-header-color-background);
  border-bottom: 1px solid var(--ids-action-panel-header-color-border);
  padding: 0;
  height: var(--ids-action-panel-header-height)
}

.ids-modal-content {
  padding-inline: 0;
  height: calc(100% - var(--ids-action-panel-header-height));
  background-color: var(--ids-action-panel-content-background-color);
}

.ids-modal-footer {
  margin-top: 0;
}

::slotted(ids-toolbar) {
  padding-inline: var(--ids-action-panel-header-padding) 0;
  height: 100%;
}
