<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid
      auto-fit="true"
      padding="md"
    >
      <ids-grid-cell>
        <ids-text font-size="12" type="h1">Trigger Field</ids-text>
      </ids-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid
      cols="1"
      cols-md="4"
      padding-x="md"
    >
      <ids-layout-grid-cell>
        <ids-trigger-field id="trigger-field-1" size="sm" tabbable="false" label="Date Field">
          <ids-trigger-button slot="trigger-end">
            <ids-text audible="true">Date Field trigger</ids-text>
            <ids-icon icon="schedule"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>

        <ids-trigger-field disabled id="trigger-field-4" size="md" label="Disabled Trigger Field" value="Enter Album Name">
          <ids-trigger-button slot="trigger-end" disabled>
            <ids-text audible="true">Select Image</ids-text>
            <ids-icon icon="camera"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-trigger-field id="trigger-field-2" label="Timepicker" size="md" type="text">
          <ids-trigger-button slot="trigger-end">
            <ids-text audible="true">Timepicker trigger</ids-text>
            <ids-icon icon="clock"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>

        <ids-trigger-field id="trigger-field-5" label="Two Trigger Buttons" placeholder="Enter Product" size="md">
          <ids-trigger-button slot="trigger-start">
            <ids-text audible="true">Products left trigger button</ids-text>
            <ids-icon icon="caret-down"></ids-icon>
          </ids-trigger-button>
          <ids-trigger-button slot="trigger-end">
            <ids-text audible="true">Products right trigger button</ids-text>
            <ids-icon icon="caret-down"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-trigger-field id="trigger-field-3" label="Photos" placeholder="Enter Album Name" validate="required">
          <ids-trigger-button slot="trigger-end">
            <ids-text audible="true">Select Image</ids-text>
            <ids-icon icon="camera"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>

        <ids-trigger-field id="trigger-field-6" size="md" label="Read-only Trigger Field" readonly>
          <ids-trigger-button slot="trigger-end">
            <ids-text audible="true">Read-only Trigger Button</ids-text>
            <ids-icon icon="rename"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-trigger-field
          id="trigger-field-7"
          placeholder="Type an input..."
          size="md"
          label="Autocomplete Trigger Field"
          autocomplete
          search-field="label">
          <ids-trigger-button slot="trigger-end">
            <ids-text audible="true">Autocomplete Trigger Field</ids-text>
            <ids-icon icon="camera"></ids-icon>
          </ids-trigger-button>
        </ids-trigger-field>

        <ids-trigger-field
        id="ids-trigger-field-8"
        size="md"
        label="Menu Trigger Field">
        <ids-trigger-button id="ids-trigger-button-8" slot="trigger-end">
          <ids-text audible="true">Menu Trigger Field</ids-text>
          <ids-icon icon="camera"></ids-icon>
        </ids-trigger-button>
      </ids-trigger-field>
      <ids-popup-menu
        id="icon-menu"
        target="#ids-trigger-button-8"
        align="bottom, right"
        trigger-type="click">
        <ids-menu-group>
          <ids-menu-item value="1">Option One</ids-menu-item>
          <ids-menu-item value="2">Option Two</ids-menu-item>
          <ids-menu-item value="3">Option Three</ids-menu-item>
        </ids-menu-group>
      </ids-popup-menu>

    </ids-layout-grid>

  </ids-container>
</body>
</html>
