<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">List View - wrapped in ids-card</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="2" gap="xl" padding-x="md">
      <ids-layout-grid-cell col-span="1">
        <div class="parent-container">
          <ids-card>
            <div slot="card-header">
              <ids-text font-size="20" type="h2">Product List</ids-text>
            </div>
            <div slot="card-content">
              <ids-search-field
                placeholder="Search my products"
                label="List view search field thru id"
                color-variant="card"
                label-state="collapsed"
                id="lv-search-field"
                size="full"
                clearable
                no-margins
              ></ids-search-field>
              <div class="list-container has-pager">
                <ids-list-view id="lv-search-thru-id" search-field-id="lv-search-field" pagination="standalone" page-size="10" no-margins>
                  <template>
                    <ids-text font-size="16" type="h2">${productName}</ids-text>
                    <ids-text font-size="12" type="span">Count: ${units}</ids-text>
                    <ids-text font-size="12" type="span">Price: $ ${unitPrice}</ids-text>
                  </template>
                </ids-list-view>
              </div>
            </div>
            <div slot="card-footer" no-padding>
              <ids-pager type="list"></ids-pager>
            </div>
          </ids-card>
        </div>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
