<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">List View</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="2" gap="xl">
      <ids-layout-grid-cell col-span="1">
        <div class="parent-container border">
            <ids-list-view virtual-scroll="true" item-height="76">
              <template>
                <ids-text font-size="16" type="h2">${productName}</ids-text>
                <ids-text font-size="12" type="span">Count: ${units}</ids-text>
                <ids-text font-size="12" type="span">Price: $ ${unitPrice}</ids-text>
              </template>
            </ids-list-view>
        </div>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
