/** Chart Legends Mixin */
.chart-legend {
  @include flex();

  flex-direction: row;
  justify-content: flex-start;
  margin-inline-start: 68px;
  width: inherit;

  a {
    @include flex();
    @include antialiased();
    @include font-sans();
    @include text-14();
    @include text-slate-60();

    align-items: center;
    text-decoration: none;
  }

  .swatch {
    @include inline-flex();
    @include mr-8();
    @include ml-20();

    height: 12px;
    width: 12px;

    @for $i from 1 through 21 {
      &.color-#{$i} {
        background-color: var(--color-#{$i});
      }
    }
  }
}

// Move the legend in the 4 directions
.ids-chart-container {
  display: flex;
  flex-direction: column;

  &.legend-top {
    @include mb-8();

    flex-direction: column-reverse;

    .chart-legend {
      margin-inline-start: 0;
      justify-content: end;
    }
  }

  &.legend-right,
  &.legend-left {
    flex-direction: row;

    .chart-legend {
      margin-inline-start: 0;
      flex-direction: column;
      justify-content: center;

      a {
        @include mb-8();

        width: max-content;
      }
    }
  }

  &.legend-left {
    flex-direction: row-reverse;
  }
}

// Handle Themes
:host([mode='dark']) {
  // Text Color
  .chart-legend a {
    @include text-slate-10();
  }
}
