@import '../../core/ids-base';

.icon-dirty {
  @include absolute();
  @include m-2();

  color: var(--ids-color-palette-amber-30);
  left: -3px;
  top: -3px;

  &.rtl {
    @include transform(rotate(90deg))
  }
}

// Radio
.ids-radio-group {
  .icon-dirty {
    margin: 8px 0 0 -2px;
    top: auto;
  }

  &.first-item-checked .icon-dirty {
    margin: 7px 0 0 -3px;
    z-index: 1;
  }
}

// Checkbox
.ids-checkbox {
  &.hitbox {
    input[type='checkbox'] {
      &:checked ~ .icon-dirty {
        left: 10px;
        top: 10px;
      }
    }
  }

  input[type='checkbox'] {
    ~ .icon-dirty {
      @include z-1();

      left: -2px;
      top: 0;
    }

    &:checked ~ .icon-dirty {
      left: -4px;
      top: -2px;
    }
  }
}

// General Dirty-Tracker icon placement
.field-container .icon-dirty {
  left: -2px;
  top: -2px;
}

.ids-color-picker {
  .icon-dirty {
    top: -2;
  }

  &:not(.rtl) {
    .icon-dirty {
      left: 34px;
    }
  }

  &.rtl {
    .icon-dirty {
      right: 34px;
    }
  }
}

// Editor
.ids-editor .icon-dirty {
  left: -2px;
}
