/**
 * Css for clearable mixin
 */
@import '../../core/ids-base';

.ids-input,
.ids-textarea {
  .ids-input-field,
  .ids-textarea-field {
    ~ .btn-clear {
      @include outline-none();

      color: inherit;
      position: absolute;
      right: 0;
      margin-top: -15px;

      &.is-empty {
        display: none;
      }

      [slot='icon'] {
        @include ml-0();

        color: inherit;
      }
    }

    &.has-clearable {
      @include pr-32();

      &.has-triggerfield {
        padding-right: 55px;
      }

      &.has-triggerfield ~ .btn-clear {
        margin-top: 0;
        right: -8px;
      }

      &.has-no-trigger-button ~ .btn-clear {
        right: 0;
      }
    }
  }
}

// Handle Themes
.ids-input[mode='dark'],
.ids-textarea[mode='dark'] {
  .ids-input-field,
  .ids-textarea-field {
    ~ .btn-clear {
      [slot='icon'] {
        @include text-slate-40();
      }

      &:hover [slot='icon'] {
        @include text-white();
      }
    }
  }
}

.ids-input[mode='contrast'],
.ids-textarea[mode='contrast'] {
  .ids-input-field,
  .ids-textarea-field {
    ~ .btn-clear {
      [slot='icon'] {
        @include text-slate-60();
      }

      &:hover [slot='icon'] {
        @include text-slate-100();
      }
    }
  }
}

.ids-input[version='classic'][mode='light'],
.ids-textarea[version='classic'][mode='light'] {
  .ids-input-field,
  .ids-textarea-field {
    ~ .btn-clear {
      [slot='icon'] {
        @include text-graphite-60();
      }

      &:hover [slot='icon'] {
        @include text-graphite-100();
      }
    }
  }
}

.ids-input[version='classic'][mode='dark'],
.ids-textarea[version='classic'][mode='dark'] {
  .ids-input-field,
  .ids-textarea-field {
    ~ .btn-clear {
      [slot='icon'] {
        @include text-classic-slate-30();
      }

      &:hover [slot='icon'] {
        @include text-white();
      }
    }
  }
}

.ids-input[version='classic'][mode='contrast'],
.ids-textarea[version='classic'][mode='contrast'] {
  .ids-input-field,
  .ids-textarea-field {
    ~ .btn-clear {
      [slot='icon'] {
        @include text-graphite-100();
      }

      &:hover [slot='icon'] {
        @include text-graphite-60();
      }
    }
  }
}
