/**
 * CSS for loading indicator mixin
 */
@import '../../core/ids-base';

// Common
:host(:not([show-loading-indicator='true'])) {
  ::slotted(.slot-loading-indicator),
  ::slotted(ids-loading-indicator) {
    display: none;
  }
}

:host([show-loading-indicator='true']) {
  ::slotted(ids-loading-indicator) {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

// Buttons
:host(ids-button[show-loading-indicator='true'][loading-indicator-replace-text='true']) {
  ::slotted(*:not(.slot-loading-indicator)) {
    visibility: hidden;
  }
}

:host(ids-button[show-loading-indicator='true']:not([loading-indicator-replace-text='true'])) {
  ::slotted(.slot-loading-indicator) {
    margin-inline-start: 6px;
  }
}

:host(ids-button[show-loading-indicator='true']:not([loading-indicator-replace-text='true']):is([type='primary'], [type='secondary'], [type='primary-destructive'])) {
  &::part(button) {
    padding-inline-start: 20px;
    padding-inline-end: 12px;
  }

  ::slotted(.slot-loading-indicator) {
    margin-inline-start: 10px;
  }
}

:host(ids-button[loading-indicator-replace-text='true']) {
  ::slotted(.slot-loading-indicator) {
    @include absolute();

    margin-inline-start: auto;
    margin-inline-end: auto;
    left: 0;
    right: 0;
  }
}

// Input, Trigger Field
:host(:is(ids-input[show-loading-indicator='true'], ids-trigger-field[show-loading-indicator='true'])) {
  pointer-events: none;

  ::slotted(ids-trigger-button[slot='trigger-end']) {
    display: none;
  }

  ::slotted(.slot-loading-indicator) {
    @include mr-12();
    @include ml-8();
  }
}

:host(:is(ids-input[show-loading-indicator='true'][field-height='xs'], ids-trigger-field[show-loading-indicator='true'][field-height='xs'])) {
  ::slotted(.slot-loading-indicator) {
    @include mx-4();
  }
}

:host(:is(ids-input[show-loading-indicator='true'][field-height='sm'], ids-trigger-field[show-loading-indicator='true'][field-height='sm'])) {
  ::slotted(.slot-loading-indicator) {
    @include mr-8();
    @include ml-4();
  }
}
