/**
 * Switch Mixins.
 */

@import '../../mixins/sass/ids-general-mixins';

// Off
@mixin switch-off {
  @include absolute();
  @include bg-slate-40();

  border-radius: 4px;
  display: inline-block;
  height: 4px;
  left: 0;
  top: 10px;
  width: 31px;
}

@mixin switch-off-after {
  @include absolute();
  @include bg-white();
  @include border-1();
  @include border-slate-30();
  @include border-solid();
  @include rounded-round();
  @include switch-transition();

  content: '';
  height: 14px;
  left: 0;
  top: -7px;
  width: 14px;
}

// On
@mixin switch-on {
  @include bg-azure-30();
  @include switch-transition();
}

@mixin switch-on-after {
  @include bg-azure-60();
  @include border-azure-60();
  @include switch-transition();

  left: 15px;
}

// Disabled
@mixin switch-disabled-off {
  @include bg-slate-30();
  @include border-slate-30();
  @include cursor-default();
}

@mixin switch-disabled-off-after {
  @include bg-slate-20();
  @include shadow-none();
}

@mixin switch-disabled-on-after {
  @include border-azure-30();
  @include bg-azure-30();
}

@mixin switch-disabled-on {
  @include border-azure-20();
  @include bg-azure-20();
}

@mixin switch-disabled-text {
  @include cursor-default();
  @include text-slate-30();
}

// Hover
@mixin switch-hover-after {
  @include switch-hover-shadow();
}

// Focus
@mixin switch-focus-after {
  @include switch-focus-shadow();
}

// Helper ===========================================
// Box Shadow
@mixin switch-focus-shadow {
  box-shadow:
    0 0 0 3px var(--ids-color-palette-azure-20),
    0 0 0 4px var(--ids-color-palette-azure-60),
    0 0 4px 6px var(--ids-color-palette-slate-20);
}

@mixin switch-hover-shadow {
  box-shadow: 0 2px 5px var(--ids-color-palette-slate-30);
}

// Transition
@mixin switch-transition {
  @include css3(transition, all 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s);
}
