/**
 * Ripple Mixin
 */
.is-rippling {
  @include relative();

  overflow: hidden;
}

.ripple-effect {
  @include absolute();
  @include block();
  @include opacity-0();
  @include rounded-round();

  background-color: var(--ids-color-palette-azure-70);
  transform: scale(0);

  &.animating {
    @include animation(ripple-animation 1.2s ease-out);
  }
}

@include keyframes(ripple-animation) {
  from {
    opacity: 0.3;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
