<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Radio</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-radio-group label="Disabled Item">
          <ids-radio value="opt1" label="Option one"></ids-radio>
          <ids-radio value="opt2" label="Option two" checked="true"></ids-radio>
          <ids-radio value="opt3" label="Option three" disabled="true"></ids-radio>
        </ids-radio-group>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">4.x Radio</ids-text>
    </ids-layout-grid>
    <div class="row">
      <div class="twelve columns">
        <fieldset class="radio-group">
          <legend>Select delivery method</legend>
          <input type="radio" class="radio" name="options" id="option1" data-automation-id="option1-automation" value="option1" />
          <label for="option1" class="radio-label">Option one</label>
          <br/>
          <input type="radio" class="radio" name="options" id="option2" data-automation-id="option2-automation" value="option1" checked="true" />
          <label for="option2"  class="radio-label">Option two</label>
          <br/>
          <input type="radio" class="radio" name="options" id="option3" data-automation-id="option3-automation" value="option3" />
          <label for="option3" class="radio-label">Option three</label>
          <br/>
          <input type="radio" class="radio" name="options" id="option4" data-automation-id="option4-automation" value="delivery" disabled="true" />
          <label for="option4" class="radio-label">Option four</label>
        </fieldset>
      </div>
    </div>

    <script>
      $('body').initialize();
    </script>
  </ids-container>
</body>
</html>
