<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body hidden>
  <div class="ids-layout-grid ids-layout-grid-padding-md">
    <div class="ids-layout-grid-cell">
      <h1 class="ids-text ids-text-12">IDS Radio (Standalone CSS)</h1>
    </div>
  </div>

  <div class="ids-layout-grid ids-layout-grid-padding-x-md">
    <div class="ids-layout-grid-cell">

      <h2 class="ids-text ids-text-12">Ids Radio</h2>
      <fieldset class="ids-radio-group">
        <legend class="ids-text group-label-text">Select delivery method</legend>
        <div class="ids-radio">
          <label>
            <input name="g1" type="radio" class="radio-button" value="opt1"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option one</span>
          </label>
        </div>
        <div class="ids-radio">
          <label>
            <input name="g1" type="radio" class="radio-button" value="opt2" checked="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option two</span>
          </label>
        </div>
      </fieldset>

      <br/><br/>
      <h2 class="ids-text ids-text-12">Ids Radio - Disabled Group</h2>
      <fieldset class="ids-radio-group disabled">
        <legend class="ids-text group-label-text" aria-disabled="true">Select delivery method</legend>
        <div class="ids-radio">
          <label>
            <input name="g2" type="radio" class="radio-button" value="opt1" checked="true" disabled="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text" aria-disabled="true">Option one</span>
          </label>
        </div>
        <div class="ids-radio">
          <label>
            <input name="g2" type="radio" class="radio-button" value="opt2" disabled="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text" aria-disabled="true">Option two</span>
          </label>
        </div>
      </fieldset>

      <br/><br/>
      <h2 class="ids-text ids-text-12">Ids Radio - Disabled Item</h2>
      <fieldset class="ids-radio-group">
        <legend class="ids-text group-label-text">Select delivery method</legend>
        <div class="ids-radio">
          <label>
            <input name="g3" type="radio" class="radio-button" value="opt1"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option one</span>
          </label>
        </div>
        <div class="ids-radio">
          <label>
            <input name="g3" type="radio" class="radio-button" value="opt2" checked="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option two</span>
          </label>
        </div>
        <div class="ids-radio">
          <label>
            <input name="g3" type="radio" class="radio-button" value="opt3" disabled="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text" aria-disabled="true">Option three</span>
          </label>
        </div>
      </fieldset>

      <br/><br/>
      <h2 class="ids-text ids-text-12">Ids Radio - No label</h2>
      <fieldset class="ids-radio-group">
        <div class="ids-radio">
          <label>
            <input name="g4" type="radio" class="radio-button" value="opt1"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option one</span>
          </label>
        </div>
        <div class="ids-radio">
          <label>
            <input name="g4" type="radio" class="radio-button" value="opt2" checked="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option two</span>
          </label>
        </div>
      </fieldset>

      <br/><br/>
      <h2 class="ids-text ids-text-12">Ids Radio - Colored</h2>
      <fieldset class="ids-radio-group">
        <legend class="ids-text group-label-text">Select color</legend>
        <div class="ids-radio" color="green">
          <label>
            <input name="g5" type="radio" class="radio-button" value="green"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Green</span>
          </label>
        </div>
        <div class="ids-radio" color="purple">
          <label>
            <input name="g5" type="radio" class="radio-button" value="purple"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Purple</span>
          </label>
        </div>
        <div class="ids-radio" color="blue">
          <label>
            <input name="g5" type="radio" class="radio-button" value="blue"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Blue</span>
          </label>
        </div>
        <div class="ids-radio" color="orange">
          <label>
            <input name="g5" type="radio" class="radio-button" value="orange" checked="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Orange</span>
          </label>
        </div>
        <div class="ids-radio" color="red">
          <label>
            <input name="g5" type="radio" class="radio-button" value="red"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Red</span>
          </label>
        </div>
        <div class="ids-radio" color="red">
          <label>
            <input name="g5" type="radio" class="radio-button" value="red" disabled="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Red (disabled)</span>
          </label>
        </div>
        <div class="ids-radio" color="caution">
          <label>
            <input name="g5" type="radio" class="radio-button" value="caution"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Caution</span>
          </label>
        </div>
      </fieldset>

      <br/><br/>
      <h2 class="ids-text ids-text-12">Ids Radio - Horizontal</h2>
      <fieldset class="ids-radio-group">
        <legend class="ids-text group-label-text">Select delivery method</legend>
        <div class="ids-radio horizontal">
          <label>
            <input name="g6" type="radio" class="radio-button" value="opt1"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option one</span>
          </label>
        </div>
        <div class="ids-radio horizontal">
          <label>
            <input name="g6" type="radio" class="radio-button" value="opt2" checked="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option two</span>
          </label>
        </div>
        <div class="ids-radio horizontal">
          <label>
            <input name="g6" type="radio" class="radio-button" value="opt3" disabled="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option three</span>
          </label>
        </div>
      </fieldset>

      <br/><br/>
      <h2 class="ids-text ids-text-12">Ids Radio - Horizontal (No label)</h2>
      <fieldset class="ids-radio-group">
        <div class="ids-radio horizontal">
          <label>
            <input name="g7" type="radio" class="radio-button" value="opt1"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option one</span>
          </label>
        </div>
        <div class="ids-radio horizontal">
          <label>
            <input name="g7" type="radio" class="radio-button" value="opt2" checked="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option two</span>
          </label>
        </div>
        <div class="ids-radio horizontal">
          <label>
            <input name="g7" type="radio" class="radio-button" value="opt3" disabled="true"/>
            <span class="circle"></span>
            <span class="ids-text label-text">Option three</span>
          </label>
        </div>
      </fieldset>

    </div>
  </div>
</body>
</html>
