/* Ids Step Chart Component */
@use 'sass:list';
@import '../../themes/mixins/ids-colorpalette-variables';

:host {
  width: 100%;
}

:host([disabled]) {
  .ids-step-chart {
    .step-chart-container {
      .step {
        background-color: var(--ids-step-chart-step-disabled-color);
      }
    }
  }
}

.ids-step-chart {
  contain: content;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: var(--ids-step-chart-margin);

  .step-label-container {
    margin-block-end: var(--ids-step-chart-inner-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;

    .secondary-label {
      display: flex;
      flex-direction: row;

      .completed-label {
        margin-inline-end: var(--ids-step-chart-inner-margin);
      }

      .icon {
        margin-inline-start: var(--ids-step-chart-inner-margin);
      }
    }
  }

  .step-chart-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    .step {
      margin: calc(var(--ids-step-chart-inner-margin) - 3px);

      @each $name in $color-names {
        $i: list.index($color-names, $name);
        $color: var(#{list.nth($color-vars, $i)});

        &[color='#{$name}'] {
          background-color: $color;
        }
      }

      height: var(--ids-step-chart-height);
      box-sizing: content-box;
      border: 1px;
      flex: 1 1 auto;

      &.untouched {
        background-color: var(--ids-step-chart-color-background-default);
      }

      &.completed {
        background-color: var(--ids-step-chart-color-background-complete);
      }
    }
  }
}
