@use 'sass:list';
@import '../../mixins/sass/ids-colorpalette-variables';
@import '../../core/ids-base';

.ids-step-chart {
  @include m-16;

  contain: content;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .step-label-container {
    @include mb-4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;

    .secondary-label {
      display: flex;
      flex-direction: row;

      .completed-label {
        margin-right: 4px;
      }

      .icon {
        @include ml-4;
      }
    }
  }

  .step-chart-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    .step {
      @include m-1;

      @each $name in $color-names {
        $i: list.index($color-names, $name);
        /* stylelint-disable-next-line custom-property-pattern */
        $color: var(#{list.nth($color-vars, $i)});

        &[color='#{$name}'] {
          background-color: $color;
        }
      }

      height: 13px;
      border: 1px;
      flex: 1 1 auto;
    }
  }
}
