@import '../ids-base/ids-base';

:host {
  @include mr-8();

  [icon='success'],
  [icon='success-solid'] {
    @include text-alert-success();
  }

  [icon='alert'],
  [icon='alert-solid'] {
    @include text-alert-warning();
  }

  [icon='info'],
  [icon='info-solid'] {
    @include text-alert-info();
  }

  [icon='error'],
  [icon='error-solid'] {
    @include text-alert-danger();
  }

  [icon='new'],
  [icon='new-solid'] {
    color: var(--ids-color-palette-amber-70);
  }

  [icon='in-progress'],
  [icon='in-progress-solid'] {
    color: var(--ids-color-palette-amethyst-70);
  }

  [icon='info-field'],
  [icon='info-field-solid'] {
    color: var(--ids-color-status-base);
  }

  [icon='empty-circle'],
  [icon='half-empty-circle'] {
    color: var(--ids-color-palette-slate-80);
  }

  [mode='dark'][icon='empty-circle'],
  [mode='dark'][icon='half-empty-circle'] {
    color: var(--ids-color-palette-classic-slate-30);
  }

  [version='classic'][mode='dark'][icon='empty-circle'],
  [version='classic'][mode='dark'][icon='half-empty-circle'] {
    color: var(--ids-color-palette-classic-slate-30);
  }
}
