/* Ids Axis Chart Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;
@import '../../themes/mixins/ids-chart-legend-mixin';

.ids-axis-chart {
  display: flex;

  &.hidden {
    display: none;
  }

  // Grid Lines
  .grid {
    shape-rendering: crispedges;
    stroke: var(--ids-axis-chart-grid-color);
    stroke-width: 1;
    stroke-dasharray: 2 2;

    // Make bottom line more solid
    &.horizontal-lines line:last-child {
      stroke: var(--ids-axis-chart-last-line-color-border);
      stroke-dasharray: none;
    }

    &.hidden {
      stroke-width: 0;
    }
  }

  &.horizontal {
    .grid {
      &.horizontal-lines line:last-child {
        stroke: inherit;
        stroke-dasharray: inherit;
      }

      &.vertical-lines line:first-child {
        stroke: var(--ids-axis-chart-first-line-color);
        stroke-dasharray: none;
      }
    }
  }

  // Focusable Groups
  g[tabindex='0'] {
    &:focus {
      outline: var(--ids-axis-chart-outline-focus);
    }
  }

  // Label Styles
  .labels {
    @include mixins.antialiased();

    font-family: var(--ids-axis-chart-font-family);
    font-size: var(--ids-axis-chart-font-size);

    text {
      fill: var(--ids-axis-chart-color-text);
    }

    &.x-labels {
      text-anchor: middle;
    }

    &.y-labels {
      text-anchor: end;
    }

    &.axis-labels text {
      @include mixins.antialiased();

      font-weight: var(--ids-axis-chart-font-weight);
      text-anchor: middle;
    }
  }

  .audible {
    opacity: 0;
  }
}

.ids-chart-container {
  &.selectable {
    .audible {
      font-size: 1px;
    }
  }
}

// Center an Empty Message
ids-empty-message:not([hidden]),
::slotted(ids-empty-message:not([hidden])) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &[hidden] {
    display: none;
  }
}

// Stacked tooltips
.tooltip-center {
  margin-block: var(--ids-space-30);
  text-align: center;
}

.tooltip.chart-legend {
  flex-direction: column;
  margin-block-end: var(--ids-space-40);
  padding: 0;

  .swatch {
    margin-inline: var(--ids-space-30);
    padding: 0;
  }
}

.tooltip-row span {
  padding-inline-start: var(--ids-space-20);
  padding-inline-end: var(--ids-space-30);
}

// Move Stuff for RTL
:host([dir='rtl']) {
  .ids-axis-chart {
    transform: scale(-1, 1);

    &:not(.horizontal) {
      .labels.y-labels text {
        transform: scale(-1, 1) translate(var(--ids-axis-chart-ylabels-x, -45px), 0);
      }
    }
  }

  .labels {
    &.x-labels {
      transform: scale(-1, 1);
      transform-origin: unset;
    }
  }
}
