<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container padding="8">
    <main role="main">
      <ids-theme-switcher mode="light"></ids-theme-switcher>

      <ids-layout-grid auto-fit="true" padding="md">
        <h1>
          <ids-text font-size="12" type="h1">Color Picker AXE Test</ids-text>
        </h1>
      </ids-layout-grid>
      <ids-layout-grid cols="2" gap="sm" padding-x="md">
        <ids-layout-grid-cell col-start="1" row-start="1">
          <ids-color-picker id="colorpicker-axe" label="Color Picker Field" value="#FF0000"></ids-color-picker>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </main>
  </ids-container>
</body>
</html>
