<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Color Picker</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto="true" cols="3">
      <ids-layout-grid-cell>
        <ids-color-picker label="Default Color Picker"></ids-color-picker>

        <ids-color-picker label="Clearable Color Picker" value="ruby-80" clearable></ids-color-picker>

        <ids-color-picker label="Custom Colors" value="#B94E4E">
          <ids-color hex="#1A1A1A"></ids-color>
          <ids-color hex="#292929"></ids-color>
          <ids-color hex="#383838"></ids-color>
          <ids-color hex="#454545"></ids-color>
          <ids-color hex="#5C5C5C"></ids-color>
          <ids-color hex="#737373"></ids-color>
          <ids-color hex="#999999" class="light"></ids-color>
          <ids-color hex="#BDBDBD" class="light"></ids-color>
          <ids-color hex="#D8D8D8" class="light"></ids-color>
          <ids-color hex="#F0F0F0" class="light"></ids-color>
          <ids-color hex="#D66221"></ids-color>
          <ids-color hex="#DE7223"></ids-color>
          <ids-color hex="#E68425"></ids-color>
          <ids-color hex="#EB9728"></ids-color>
          <ids-color hex="#EFAA30"></ids-color>
          <ids-color hex="#F2BC41"></ids-color>
          <ids-color hex="#F4C951" class="light"></ids-color>
          <ids-color hex="#F7D475" class="light"></ids-color>
          <ids-color hex="#F8E09C" class="light"></ids-color>
          <ids-color hex="#FBE9BF" class="light"></ids-color>
          <ids-color hex="#880E0E"></ids-color>
          <ids-color hex="#941E1E"></ids-color>
          <ids-color hex="#A13030"></ids-color>
          <ids-color hex="#AD4242"></ids-color>
          <ids-color hex="#B94E4E" checked="true"></ids-color>
          <ids-color hex="#C65F5F"></ids-color>
          <ids-color hex="#D26D6D" class="light"></ids-color>
          <ids-color hex="#DE8181" class="light"></ids-color>
          <ids-color hex="#EB9D9D" class="light"></ids-color>
          <ids-color hex="#F4BCBC" class="light"></ids-color>
          <ids-color hex="#0E5B52"></ids-color>
          <ids-color hex="#206B62"></ids-color>
          <ids-color hex="#317C73"></ids-color>
          <ids-color hex="#448D83"></ids-color>
          <ids-color hex="#579E95"></ids-color>
          <ids-color hex="#69ADA3"></ids-color>
          <ids-color hex="#7BBFB5" class="light"></ids-color>
          <ids-color hex="#8ED1C6" class="light"></ids-color>
          <ids-color hex="#A9E1D6" class="light"></ids-color>
          <ids-color hex="#C0EDE3" class="light"></ids-color>
          <ids-color hex="#397514"></ids-color>
          <ids-color hex="#44831F"></ids-color>
          <ids-color hex="#56932E"></ids-color>
          <ids-color hex="#66A140"></ids-color>
          <ids-color hex="#76B051"></ids-color>
          <ids-color hex="#89BF65"></ids-color>
          <ids-color hex="#9CCE7C" class="light"></ids-color>
          <ids-color hex="#AFDC91" class="light"></ids-color>
          <ids-color hex="#C3E8AC" class="light"></ids-color>
          <ids-color hex="#D5F6C0" class="light"></ids-color>
          <ids-color hex="#4B2A5E"></ids-color>
          <ids-color hex="#5A3A6F"></ids-color>
          <ids-color hex="#6C4B81"></ids-color>
          <ids-color hex="#7D5F92"></ids-color>
          <ids-color hex="#8E72A4"></ids-color>
          <ids-color hex="#A189B8"></ids-color>
          <ids-color hex="#B59ECA" class="light"></ids-color>
          <ids-color hex="#C7B4DB" class="light"></ids-color>
          <ids-color hex="#DACCEC" class="light"></ids-color>
          <ids-color hex="#EDE3FC" class="light"></ids-color>
          <ids-color hex="#133C59"></ids-color>
          <ids-color hex="#134D71"></ids-color>
          <ids-color hex="#1D5F8A"></ids-color>
          <ids-color hex="#2876A8"></ids-color>
          <ids-color hex="#2578A9"></ids-color>
          <ids-color hex="#4EA0D1"></ids-color>
          <ids-color hex="#69B5DD" class="light"></ids-color>
          <ids-color hex="#8DC9E6" class="light"></ids-color>
          <ids-color hex="#ADD8EB" class="light"></ids-color>
          <ids-color hex="#C8E9F4" class="light"></ids-color>
        </ids-color-picker>

        <ids-color-picker label="Suppress Labels" value="#3B1470" suppress-labels></ids-color-picker>

        <ids-color-picker label="Suppress Tooltips" value="#3B1470" suppress-tooltips></ids-color-picker>

        <ids-color-picker label="Suppress Lables + Tooltips" value="#3B1470" suppress-labels suppress-tooltips></ids-color-picker>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-color-picker label="Disabled Color Picker" value="#941E1E" disabled></ids-color-picker>

        <ids-color-picker label="Readonly Color Picker" value="#941E1E" readonly="true"></ids-color-picker>

        <ids-color-picker label="Validation" validate="required" clearable></ids-color-picker>

        <ids-color-picker label="Dirty Tracker" value="#E66467" dirty-tracker></ids-color-picker>

        <ids-color-picker label="Advanced Color Picker" value="#E66467" advanced="true"></ids-color-picker>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
