@import '../ids-base/ids-base';

:host {
  text-align: center;
}

.ids-badge {
  @include antialiased();
  @include bg-slate-20();
  @include border-1();
  @include border-slate-20();
  @include border-solid();
  @include font-sans();
  @include mb-4();
  @include mr-4();
  @include px-8();
  @include py-1();
  @include rounded-lg();
  @include text-14();
  @include text-slate-100();

  flex-direction: column;
  justify-content: space-between;
  line-height: 22px;
  min-height: 22px;
  min-width: 22px;
  padding: 0 10px;

  &.round {
    display: inline-block;
    padding: 0;
    text-align: center;
    width: 22px;
  }

  &.ids-white {
    @include bg-white();
    @include text-white();
  }

  &[color='error'] {
    background-color: var(--ids-color-status-danger);
    border-color: var(--ids-color-status-danger);
  }

  &[color='alert'] {
    background-color: var(--ids-color-status-caution);
    border-color: var(--ids-color-status-caution);
  }

  &[color='info'] {
    background-color: var(--ids-color-status-base);
    border-color: var(--ids-color-status-base);
  }

  ::slotted(ids-icon) {
    position: relative;
    top: 3px;
  }
}

// Handle Themes
.ids-badge[mode='dark'] {
  &:not([color]) {
    @include bg-slate-60();
    @include border-slate-60();
    @include text-white();
  }

  &.ids-white {
    @include text-slate-100();
  }

  &[color='error'] {
    @include text-white();

    background-color: var(--ids-color-status-danger);
    border-color: var(--ids-color-status-danger);
  }

  &[color='info'] {
    @include text-white();

    background-color: var(--ids-color-status-base);
    border-color: var(--ids-color-status-base);
  }
}

.ids-badge[mode='contrast'] {
  &.ids-white {
    @include text-slate-100();
  }

  &[color='error'] {
    @include text-white();

    background-color: var(--ids-color-palette-ruby-80);
    border-color: var(--ids-color-palette-ruby-80);
  }

  &[color='info'] {
    @include text-white();

    background-color: var(--ids-color-palette-azure-80);
    border-color: var(--ids-color-palette-azure-80);
  }
}

.ids-badge[version='classic'][mode='light'] {
  &:not([color]) {
    @include bg-graphite-20();
    @include border-graphite-20();
  }
}

.ids-badge[version='classic'][mode='dark'] {
  &:not([color]) {
    @include bg-classic-slate-60();
    @include border-classic-slate-60();
    @include text-white();
  }

  &.ids-white {
    @include text-slate-100();
  }

  &[color='error'] {
    @include text-white();

    background-color: var(--ids-color-status-danger);
    border-color: var(--ids-color-status-danger);
  }

  &[color='info'] {
    @include text-white();

    background-color: var(--ids-color-status-base);
    border-color: var(--ids-color-status-base);
  }
}

.ids-badge[version='classic'][mode='contrast'] {
  &.ids-white {
    @include text-classic-slate-100();
  }

  &[color='error'] {
    @include text-white();

    background-color: var(--ids-color-palette-ruby-80);
    border-color: var(--ids-color-palette-ruby-80);
  }

  &[color='info'] {
    @include text-white();

    background-color: var(--ids-color-palette-azure-80);
    border-color: var(--ids-color-palette-azure-80);
  }
}
