<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Accordion</ids-text>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Accordion (Allow One Pane)</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="2" gap="md">
      <ids-layout-grid-cell>
        <ids-accordion>
          <ids-accordion-panel>
            <ids-accordion-header slot="header">
              <ids-text font-size="16">Warehouse Location</ids-text>
            </ids-accordion-header>
            <ids-text slot="content">
              Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic tagclouds
              front-end infomediaries viral authentic incentivize sexy extensible functionalities incentivize. Generate killer
              authentic grow vertical blogospheres, functionalities ecologies harness, "tag solutions synergies exploit data-driven B2C open-source e-markets optimize create, enhance convergence create." Out-of-the-box strategize best-of-breed back-end, deploy design markets metrics. Content web services enhance leading-edge Cluetrain, deliverables dot-com scalable. User-centric morph, back-end, synthesize mesh, frictionless, exploit next-generation tag portals, e-commerce channels; integrate; recontextualize distributed revolutionize innovative eyeballs.
            </ids-text>
          </ids-accordion-panel>
          <ids-accordion-panel>
            <ids-accordion-header slot="header">
              <ids-text font-size="16">Sort By</ids-text>
            </ids-accordion-header>
            <ids-text slot="content">
              Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic tagclouds
              front-end infomediaries viral authentic incentivize sexy extensible functionalities incentivize. Generate killer
              authentic grow vertical blogospheres, functionalities ecologies harness, "tag solutions synergies exploit
              data-driven B2C open-source e-markets optimize create, enhance convergence create." Out-of-the-box strategize
              best-of-breed back-end, deploy design markets metrics. Content web services enhance leading-edge Cluetrain,
              deliverables dot-com scalable. User-centric morph, back-end, synthesize mesh, frictionless, exploit next-generation
              tag portals, e-commerce channels; integrate; recontextualize distributed revolutionize innovative eyeballs.
            </ids-text>
          </ids-accordion-panel>
          <ids-accordion-panel>
            <ids-accordion-header slot="header">
              <ids-text font-size="16">Brand Name</ids-text>
            </ids-accordion-header>
            <ids-text slot="content">
              Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic tagclouds
              front-end infomediaries viral authentic incentivize sexy extensible functionalities incentivize. Generate killer
              authentic grow vertical blogospheres, functionalities ecologies harness, "tag solutions synergies exploit
              data-driven B2C open-source e-markets optimize create, enhance convergence create." Out-of-the-box strategize
              best-of-breed back-end, deploy design markets metrics. Content web services enhance leading-edge Cluetrain,
              deliverables dot-com scalable. User-centric morph, back-end, synthesize mesh, frictionless, exploit next-generation
              tag portals, e-commerce channels; integrate; recontextualize distributed revolutionize innovative eyeballs.
            </ids-text>
          </ids-accordion-panel>
          <ids-accordion-panel>
            <ids-accordion-header slot="header">
              <ids-text font-size="16">Material</ids-text>
            </ids-accordion-header>
            <ids-text slot="content">
              Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic tagclouds
              front-end infomediaries viral authentic incentivize sexy extensible functionalities incentivize. Generate killer
              authentic grow vertical blogospheres, functionalities ecologies harness, "tag solutions synergies exploit
              data-driven B2C open-source e-markets optimize create, enhance convergence create." Out-of-the-box strategize
              best-of-breed back-end, deploy design markets metrics. Content web services enhance leading-edge Cluetrain,
              deliverables dot-com scalable. User-centric morph, back-end, synthesize mesh, frictionless, exploit next-generation
              tag portals, e-commerce channels; integrate; recontextualize distributed revolutionize innovative eyeballs.
            </ids-text>
          </ids-accordion-panel>
        </ids-accordion>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-accordion allow-one-pane="true">
          <ids-accordion-panel>
            <ids-accordion-header slot="header">
              <ids-text font-size="16">Warehouse Location</ids-text>
            </ids-accordion-header>
            <ids-text slot="content">
              Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic tagclouds
              front-end infomediaries viral authentic incentivize sexy extensible functionalities incentivize. Generate killer
              authentic grow vertical blogospheres, functionalities ecologies harness, "tag solutions synergies exploit data-driven B2C open-source e-markets optimize create, enhance convergence create." Out-of-the-box strategize best-of-breed back-end, deploy design markets metrics. Content web services enhance leading-edge Cluetrain, deliverables dot-com scalable. User-centric morph, back-end, synthesize mesh, frictionless, exploit next-generation tag portals, e-commerce channels; integrate; recontextualize distributed revolutionize innovative eyeballs.
            </ids-text>
          </ids-accordion-panel>
          <ids-accordion-panel>
            <ids-accordion-header slot="header">
              <ids-text font-size="16">Sort By</ids-text>
            </ids-accordion-header>
            <ids-text slot="content">
              Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic tagclouds
              front-end infomediaries viral authentic incentivize sexy extensible functionalities incentivize. Generate killer
              authentic grow vertical blogospheres, functionalities ecologies harness, "tag solutions synergies exploit
              data-driven B2C open-source e-markets optimize create, enhance convergence create." Out-of-the-box strategize
              best-of-breed back-end, deploy design markets metrics. Content web services enhance leading-edge Cluetrain,
              deliverables dot-com scalable. User-centric morph, back-end, synthesize mesh, frictionless, exploit next-generation
              tag portals, e-commerce channels; integrate; recontextualize distributed revolutionize innovative eyeballs.
            </ids-text>
          </ids-accordion-panel>
          <ids-accordion-panel>
            <ids-accordion-header slot="header">
              <ids-text font-size="16">Brand Name</ids-text>
            </ids-accordion-header>
            <ids-text slot="content">
              Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic tagclouds
              front-end infomediaries viral authentic incentivize sexy extensible functionalities incentivize. Generate killer
              authentic grow vertical blogospheres, functionalities ecologies harness, "tag solutions synergies exploit
              data-driven B2C open-source e-markets optimize create, enhance convergence create." Out-of-the-box strategize
              best-of-breed back-end, deploy design markets metrics. Content web services enhance leading-edge Cluetrain,
              deliverables dot-com scalable. User-centric morph, back-end, synthesize mesh, frictionless, exploit next-generation
              tag portals, e-commerce channels; integrate; recontextualize distributed revolutionize innovative eyeballs.
            </ids-text>
          </ids-accordion-panel>
          <ids-accordion-panel>
            <ids-accordion-header slot="header">
              <ids-text font-size="16">Material</ids-text>
            </ids-accordion-header>
            <ids-text slot="content">
              Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic tagclouds
              front-end infomediaries viral authentic incentivize sexy extensible functionalities incentivize. Generate killer
              authentic grow vertical blogospheres, functionalities ecologies harness, "tag solutions synergies exploit
              data-driven B2C open-source e-markets optimize create, enhance convergence create." Out-of-the-box strategize
              best-of-breed back-end, deploy design markets metrics. Content web services enhance leading-edge Cluetrain,
              deliverables dot-com scalable. User-centric morph, back-end, synthesize mesh, frictionless, exploit next-generation
              tag portals, e-commerce channels; integrate; recontextualize distributed revolutionize innovative eyeballs.
            </ids-text>
          </ids-accordion-panel>
        </ids-accordion>
      </ids-layout-grid-cell>
    </ids-layout-grid>
</ids-container>
</body>
</html>
