.loading-indicator-determinate-controls {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.sticky-indicator-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px 16px;
  text-align: start;
}

ids-card::part(card) {
  overflow: hidden;
}

.circular-progress-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
