/* Ids Virtual Scroller Css */
@import '../ids-base/ids-base';

.ids-virtual-scroll {
  height: 250px;
  overflow: auto;
  width: 100%;

  &:focus {
    @include outline-none();
  }
}

.ids-virtual-scroll-viewport {
  overflow: hidden; // Take off for th sticky to work
  position: relative;
}
