@import '../ids-base/ids-base';

.ids-icon-button {
  @include bg-transparent();
  @include border-1();
  @include border-transparent();
  @include cursor-pointer();
  @include rounded-round();
  @include text-slate-60();

  height: 28px;
  margin-left: -32px;
  width: 28px;

  &:focus {
    @include border-azure-70();
    @include outline-none();
    @include shadow();
  }

  &:hover {
    @include text-slate-100();
  }

  &[disabled] {
    @include cursor-default();
    @include text-slate-30();
  }

  &.readonly {
    @include cursor-default();
    @include text-slate-40();
  }

  ::slotted(ids-icon) {
    margin-left: -2px;
  }

  &.triggerfield-has-content-borders {
    @include mx-8;
  }
}

// Handle Themes
.ids-icon-button[mode='dark'] {
  @include text-slate-20();

  &:hover {
    @include text-white();
  }

  &[disabled] {
    @include text-slate-60();
  }

  &.readonly {
    @include text-slate-40();
  }
}

.ids-icon-button[mode='contrast'] {
  @include text-slate-90();

  &:hover {
    @include text-slate-60();
  }

  &.readonly {
    @include text-slate-40();
  }
}

.ids-icon-button[version='classic'][mode='light'] {
  @include text-graphite-60();

  &:hover {
    @include text-slate-100();
  }

  &.readonly {
    @include text-graphite-40();
  }
}

.ids-icon-button[version='classic'][mode='dark'] {
  @include text-classic-slate-30();

  &:hover {
    @include text-white();
  }

  &.readonly {
    @include text-classic-slate-40();
  }
}

.ids-icon-button[version='classic'][mode='contrast'] {
  @include text-graphite-90();

  &:hover {
    @include text-graphite-60();
  }

  &.readonly {
    @include text-graphite-80();
  }
}
