@import '../ids-base/ids-base';

.ids-trigger-field {
  @include w-full();

  align-items: center;
  display: flex;
}

::slotted(ids-input) {
  display: inline;
}

::slotted(ids-input[size='full']) {
  width: 100%;
}

::slotted(ids-trigger-button) {
  align-self: flex-start;
  margin-left: -36px;
  position: relative;
  top: 24px;
}
