@import '../ids-base/ids-base';

// Field Sizes
$input-size-xs: 75px;
$input-size-sm: 150px;
$input-size-mm: 225px;
$input-size-md: 300px;
$input-size-lg: 400px;
$input-size-full: 100%;
$input-size-default: $input-size-md;

.ids-trigger-field {
  align-items: center;
  display: flex;

  &.has-validation-message ::slotted(ids-trigger-button) {
    margin-top: -16px;
  }
}

::slotted(ids-trigger-button) {
  @include relative();
  @include mt-4();

  flex: 0;
  z-index: 2;
}

::slotted(ids-input) {
  @include relative();

  flex: 1;
  max-width: $input-size-default;
  z-index: 1;
}

::slotted(ids-input[size='xs']) {
  max-width: $input-size-xs;
}

::slotted(ids-input[size='sm']) {
  max-width: $input-size-sm;
}

::slotted(ids-input[size='mm']) {
  max-width: $input-size-mm;
}

::slotted(ids-input[size='md']) {
  max-width: $input-size-md;
}

::slotted(ids-input[size='lg']) {
  max-width: $input-size-lg;
}

::slotted(ids-input[size='full']) {
  max-width: $input-size-full;
}
