<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.font %>
  </head>
  <body>
    <ids-container role="main" padding="8" hidden>
      <ids-theme-switcher mode="light"></ids-theme-switcher>
      <div class="edit-button-container">
        <ids-toggle-button
          id="edit-toggle-button"
          icon-on="settings-filled"
          icon-off="settings"
          text-off="Edit Mode (Off)"
          text-on="Edit Mode (On)"
        >
        </ids-toggle-button>
      </div>
      <ids-grid
        cols="2"
        cols-lg="4"
        cols-xl="6"
        cols-xxl="8"
        min-col-width="172px"
        max-col-width="172px"
        flow="row-dense"
        justify-content="center"
      >
        <ids-grid-cell>
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell>
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell>
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell>
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell>
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell>
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell>
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell>
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell col-span="2">
          <ids-card height="368">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell col-span="2">
          <ids-grid cols="2">
            <ids-grid-cell>
              <ids-card height="176">
                <div slot="card-content">
                  <ids-text font-size="16" type="p">Card</ids-text>
                </div>
              </ids-card>
            </ids-grid-cell>
            <ids-grid-cell>
              <ids-card height="176">
                <div slot="card-content">
                  <ids-text font-size="16" type="p">Card</ids-text>
                </div>
              </ids-card>
            </ids-grid-cell>
            <ids-grid-cell col-span="2">
              <ids-card height="176">
                <div slot="card-content">
                  <ids-text font-size="16" type="p">Card</ids-text>
                </div>
              </ids-card>
            </ids-grid-cell>
          </ids-grid>
        </ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-lg="4" row-span="2">
          <ids-card height="752">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-lg="4">
          <ids-card height="368">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-xxl="3">
          <ids-card height="368">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-xxl="5">
          <ids-card height="368">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-lg="4" col-span-xl="6" col-span-xxl="8">
          <ids-card height="176">
            <div slot="card-content">
              <ids-text font-size="16" type="p">Card</ids-text>
            </div>
          </ids-card>
        </ids-grid-cell>
      </ids-grid>
    </ids-container>
  </body>
</html>
