<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.font %>
  </head>
  <body>
    <ids-container role="main" padding="8" hidden>
      <ids-theme-switcher mode="light"></ids-theme-switcher>
      <ids-grid
        cols="2"
        cols-lg="4"
        cols-xl="6"
        cols-xxl="8"
        min-col-width="172px"
        max-col-width="1fr"
        flow="row-dense"
      >
        <ids-grid-cell height="176px" fill></ids-grid-cell>
        <ids-grid-cell height="176px" fill></ids-grid-cell>
        <ids-grid-cell height="176px" fill></ids-grid-cell>
        <ids-grid-cell height="176px" fill></ids-grid-cell>
        <ids-grid-cell height="176px" fill></ids-grid-cell>
        <ids-grid-cell height="176px" fill></ids-grid-cell>
        <ids-grid-cell height="176px" fill></ids-grid-cell>
        <ids-grid-cell height="176px" fill></ids-grid-cell>
        <ids-grid-cell col-span="2" height="368px" fill></ids-grid-cell>
        <ids-grid-cell col-span="2" height="368px">
          <ids-grid cols="2">
            <ids-grid-cell height="176px" fill></ids-grid-cell>
            <ids-grid-cell height="176px" fill></ids-grid-cell>
            <ids-grid-cell col-span="2" fill height="176px"></ids-grid-cell>
          </ids-grid>
        </ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-lg="4" row-span="2" min-height="752px" fill></ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-lg="4" height="368px" fill></ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-xxl="3" height="368px" fill></ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-xxl="5" height="368px" fill></ids-grid-cell>
        <ids-grid-cell col-span="2" col-span-lg="4" col-span-xl="6" col-span-xxl="8" height="176px" fill></ids-grid-cell>
      </ids-grid>
    </ids-container>
  </body>
</html>
