@mixin event-border-accent($color) {
  &:not(.calendar-event-continue):not(.calendar-event-ends) {
    border-inline-start-width: 5px;
    border-inline-start-color: $color;

    &:focus {
      border-inline-start-color: var(--ids-color-blue-60);
    }
  }

  &:focus {
    border-color: var(--ids-color-blue-60);
    box-shadow: var(--ids-shadow-focus);
    outline: none;
  }
}

// Calendar Event Type Themes
.ids-calendar-event:not([color]),
.ids-calendar-event[color='blue'] {
  @include event-border-accent(var(--ids-color-blue-70));

  background: var(--ids-color-blue-20);
}

.ids-calendar-event[mode='contrast']:not([color]),
.ids-calendar-event[mode='contrast'][color='blue'] {
  @include event-border-accent(var(--ids-color-blue-100));
}

.ids-calendar-event[color='orange'] {
  @include event-border-accent(var(--ids-color-orange-70));

  background: var(--ids-color-orange-30);
}

.ids-calendar-event[color='purple'] {
  @include event-border-accent(var(--ids-color-purple-70));

  background: var(--ids-color-purple-30);
}

.ids-calendar-event[color='green'] {
  @include event-border-accent(var(--ids-color-green-70));

  background: var(--ids-color-green-30);
}

.ids-calendar-event[color='red'] {
  @include event-border-accent(var(--ids-color-red-70));

  background: var(--ids-color-red-30);
}

.ids-calendar-event[color='teal'] {
  @include event-border-accent(var(--ids-color-teal-70));

  background: var(--ids-color-teal-30);
}

.ids-calendar-event[color='neutral'] {
  @include event-border-accent(var(--ids-color-gray-70));

  background: var(--ids-color-gray-30);
}

.ids-calendar-event {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  background: var(--ids-color-blue-20);
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--ids-color-gray-100);
  height: 20px;
  overflow: hidden;
  text-decoration: none;

  .calendar-event-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 2px 5px;

    ids-text {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .calendar-event-icon {
    vertical-align: bottom;

    &[icon='success-alert'] {
      color: var(--ids-color-green-60);
    }

    &[icon='alert-alert'],
    &[icon='clock'],
    &[icon='pending'] {
      color: var(--ids-color-orange-60);
    }
  }

  .calendar-event-title {
    line-height: 12px;

    &::part(text) {
      text-transform: initial;
    }
  }

  // Styles for intraday events
  &.is-cutoff {
    border-radius: 3px 3px 0 0;
  }

  &.is-ellipsis {
    .calendar-event-content {
      white-space: nowrap;
    }
  }

  &.reduced-padding {
    .calendar-event-content {
      padding: 0 5px;
    }

    .calendar-event-title {
      position: relative;
      top: -1.6px;
    }
  }
}

// All day event styles
.ids-calendar-event.all-day {
  top: 1px;

  &.calendar-event-start,
  &.calendar-event-continue,
  &.calendar-event-ends {
    border-radius: 0;
  }

  // first of multi day
  &.calendar-event-start {
    border-start-start-radius: 3px;
    border-end-start-radius: 3px;
  }

  &.calendar-event-continue {
    width: calc(100% + 2px);
    margin-inline-start: -1px;
  }

  // end of multiday
  &.calendar-event-ends {
    border-end-end-radius: 3px;
    border-start-end-radius: 3px;
  }

  &.calendar-event-continue,
  &.calendar-event-ends {
    ids-icon {
      visibility: hidden;
    }

    .calendar-event-title {
      color: transparent;
    }
  }
}

// Month View Styles
.ids-calendar-event.is-month-view {
  $month-margin: 5px;

  display: block;
  position: absolute;
  height: 16px;

  &:not(.all-day) {
    width: calc(100% - ($month-margin * 2));
    margin: 0 $month-margin;
  }

  &.calendar-event-start,
  &.calendar-event-continue,
  &.calendar-event-ends {
    width: calc(100% - $month-margin);
  }

  &.calendar-event-start {
    margin-inline-start: $month-margin;
  }

  &.calendar-event-continue {
    width: 100%;
    margin-inline-start: 0;
  }

  &.calendar-event-ends {
    margin-inline-end: $month-margin;
  }

  &.hidden {
    display: none;
  }

  .calendar-event-content {
    padding: 0 5px;
  }

  // Feature Request 911
  .custom-calendar-event {
    margin-left: 15px;
  }

  .custom-calendar-event-title {
    font-size: 12px;
  }

  .custom-calendar-event-details {
    font-size: 10px;
    float: left;
  }

  .custom-calendar-event-icon {
    float: left;
    padding: 2px;
  }
}
