@import '../src/ids-base/ids-base';

ids-text ids-icon {
  position: relative;
  padding: 8px 8px;
  top: 3px;
}

ids-hyperlink {
  span {
    padding: 0 4px;
    position: relative;
    text-decoration: underline;
    text-transform: capitalize;
    top: -3px;
  }
}

.component-section {
  margin: 16px;
}
