@import '../src/ids-base/ids-base';

ids-text ids-icon {
  position: relative;
  padding: 8px;
  top: 3px;
}

[slot='card-content'] {
  cursor: pointer;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
