ids-data-grid::part(custom-cell) {
  background-color: #e6f1fd;
}

ids-data-grid::part(custom-cell-icon) {
  position: relative;
  top: 3px;
}

ids-data-grid::part(cell-selected) {
  background-color: #c9dad0;
}

ids-data-grid::part(custom-cell-selected-1) {
  background-color: #c0cfde;
}

ids-data-grid::part(custom-cell-selected-2) {
  background-color: #c0cfde;
}

/**
 * Tooltip styles
 */
ids-data-grid::part(custom-turquoise-tooltip-arrow-top)::after {
  border-top-color: #2f8d8e;
}

ids-data-grid::part(custom-turquoise-tooltip-popup) {
  background-color: #2f8d8e;
}

ids-data-grid::part(azure-tooltip-arrow-top)::after {
  border-top-color: #0066d4;
}

ids-data-grid::part(azure-tooltip-popup) {
  background-color: #0066d4;
}

ids-data-grid::part(ruby-tooltip-arrow-top)::after {
  border-top-color: #c31014;
}

ids-data-grid::part(ruby-tooltip-popup) {
  background-color: #c31014;
}

ids-data-grid::part(emerald-tooltip-arrow-top)::after {
  border-top-color: #1c7f49;
}

ids-data-grid::part(emerald-tooltip-popup) {
  background-color: #1c7f49;
}

ids-data-grid::part(amethyst-tooltip-arrow-top)::after {
  border-top-color: #591da8;
}

ids-data-grid::part(amethyst-tooltip-popup) {
  background-color: #591da8;
}
