ids-data-grid::part(custom-cell) {
  background-color: rgba(0 0 0 / .05);
}

ids-data-grid::part(custom-cell-icon) {
  position: relative;
  top: 3px;
}

ids-data-grid::part(cell-selected) {
  background-color: #c9dad0;
}

ids-data-grid::part(custom-cell-selected-1) {
  background-color: #c0cfde;
}

ids-data-grid::part(custom-cell-selected-2) {
  background-color: #c0cfde;
}

/**
 * Tooltip styles
 */
ids-data-grid::part(custom-teal-tooltip-arrow-top)::after {
  border-top-color: #2f8d8e;
}

ids-data-grid::part(custom-teal-tooltip-popup) {
  background-color: #2f8d8e;
}

ids-data-grid::part(blue-tooltip-arrow-top)::after {
  border-top-color: #0066d4;
}

ids-data-grid::part(blue-tooltip-popup) {
  background-color: #0066d4;
}

ids-data-grid::part(red-tooltip-arrow-top)::after {
  border-top-color: #c31014;
}

ids-data-grid::part(red-tooltip-popup) {
  background-color: #c31014;
}

ids-data-grid::part(green-tooltip-arrow-top)::after {
  border-top-color: #1c7f49;
}

ids-data-grid::part(green-tooltip-popup) {
  background-color: #1c7f49;
}

ids-data-grid::part(purple-tooltip-arrow-top)::after {
  border-top-color: #591da8;
}

ids-data-grid::part(purple-tooltip-popup) {
  background-color: #591da8;
}

.test-style {
  height: 400px;
}
