// Colors
:root {
  // Color Palette
  --ids-color-yellow-10: #FDF3DF;
  --ids-color-yellow-20: #F3DAA1;
  --ids-color-yellow-30: #E5C366;
  --ids-color-yellow-40: #F4D151;
  --ids-color-yellow-50: #F6CF2b;
  --ids-color-yellow-60: #FFD100;
  --ids-color-yellow-70: #BB9C21;
  --ids-color-yellow-80: #8D6F00;
  --ids-color-yellow-90: #614900;
  --ids-color-yellow-100: #4B3700;
  --ids-color-orange-10: #FEF2E5;
  --ids-color-orange-20: #FDDFBD;
  --ids-color-orange-30: #FCC888;
  --ids-color-orange-40: #FBAF50;
  --ids-color-orange-50: #FA9601;
  --ids-color-orange-60: #F98300;
  --ids-color-orange-70: #DF6F00;
  --ids-color-orange-80: #CD6200;
  --ids-color-orange-90: #B50;
  --ids-color-orange-100: #A14100;
  --ids-color-purple-10: #F1EBFC;
  --ids-color-purple-20: #DDCBF7;
  --ids-color-purple-30: #C2A1F1;
  --ids-color-purple-40: #A876EB;
  --ids-color-purple-50: #8D4BE5;
  --ids-color-purple-60: #7928E1;
  --ids-color-purple-70: #6C23C9;
  --ids-color-purple-80: #591DA8;
  --ids-color-purple-90: #4E1A91;
  --ids-color-purple-100: #3B1470;
  --ids-color-blue-10: #E6F1FD;
  --ids-color-blue-20: #BEDCFA;
  --ids-color-blue-30: #8ABFF7;
  --ids-color-blue-40: #55A3F3;
  --ids-color-blue-50: #1C86EF;
  --ids-color-blue-60: #0072ED;
  --ids-color-blue-70: #0066D4;
  --ids-color-blue-80: #0054B1;
  --ids-color-blue-90: #004A99;
  --ids-color-blue-100: #003876;
  --ids-color-green-10: #EBF9F1;
  --ids-color-green-20: #CBEFDC;
  --ids-color-green-30: #A1E4BF;
  --ids-color-green-40: #78D8A3;
  --ids-color-green-50: #4DCC86;
  --ids-color-green-60: #2AC371;
  --ids-color-green-70: #25AF65;
  --ids-color-green-80: #1F9254;
  --ids-color-green-90: #1C7F49;
  --ids-color-green-100: #156138;
  --ids-color-red-10: #FBE7E8;
  --ids-color-red-20: #F5C3C4;
  --ids-color-red-30: #EE9496;
  --ids-color-red-40: #E66467;
  --ids-color-red-50: #DF3539;
  --ids-color-red-60: #DA1217;
  --ids-color-red-70: #C31014;
  --ids-color-red-80: #A30D11;
  --ids-color-red-90: #8D0B0E;
  --ids-color-red-100: #6C080B;
  --ids-color-teal-10: #ECF8F8;
  --ids-color-teal-20: #CFEEEE;
  --ids-color-teal-30: #A8E1E1;
  --ids-color-teal-40: #82D4D4;
  --ids-color-teal-50: #5CC6C7;
  --ids-color-teal-60: #40BDBE;
  --ids-color-teal-70: #39A9AA;
  --ids-color-teal-80: #2F8D8E;
  --ids-color-teal-90: #297B7B;
  --ids-color-teal-100: #1F5E5E;
  --ids-color-neutral-10: #F5F5F5;
  --ids-color-neutral-20: #E0E0E1;
  --ids-color-neutral-30: #C5C5C9;
  --ids-color-neutral-40: #BBBBBF;
  --ids-color-neutral-50: #8E8E95;
  --ids-color-neutral-60: #6F6F76;
  --ids-color-neutral-70: #525257;
  --ids-color-neutral-80: #3B3B3F;
  --ids-color-neutral-90: #28282A;
  --ids-color-neutral-100: #161618;
  --ids-color-neutral-110: #000;
  --ids-color-white-100: #FFF;

  // Color Progressions
  --ids-color-primary-10: var(--ids-color-blue-10);
  --ids-color-primary-20: var(--ids-color-blue-20);
  --ids-color-primary-30: var(--ids-color-blue-30);
  --ids-color-primary-40: var(--ids-color-blue-40);
  --ids-color-primary-50: var(--ids-color-blue-50);
  --ids-color-primary-60: var(--ids-color-blue-60);
  --ids-color-primary-70: var(--ids-color-blue-70);
  --ids-color-primary-80: var(--ids-color-blue-80);
  --ids-color-primary-90: var(--ids-color-blue-90);
  --ids-color-primary-100: var(--ids-color-blue-100);
  --ids-color-text-on-error: var(--ids-color-white-100);
  --ids-color-error-10: var(--ids-color-red-10);
  --ids-color-error-20: var(--ids-color-red-20);
  --ids-color-error-30: var(--ids-color-red-30);
  --ids-color-error-50: var(--ids-color-red-50);
  --ids-color-error-60: var(--ids-color-red-60);
  --ids-color-error-70: var(--ids-color-red-70);
  --ids-color-error-80: var(--ids-color-red-80);
  --ids-color-error-90: var(--ids-color-red-90);
  --ids-color-error-default: var(--ids-color-red-60);
  --ids-color-shadow-error: rgba(218 18 23 / 0.3);
  --ids-color-text-on-warning: var(--ids-color-neutral-100);
  --ids-color-warning-10: var(--ids-color-orange-10);
  --ids-color-warning-30: var(--ids-color-orange-30);
  --ids-color-warning-40: var(--ids-color-orange-60);
  --ids-color-warning-50: var(--ids-color-orange-50);
  --ids-color-warning-80: var(--ids-color-orange-80);
  --ids-color-warning-100: var(--ids-color-orange-100);
  --ids-color-warning-default: var(--ids-color-orange-60);
  --ids-color-shadow-warning: rgba(249 131 0 / 0.3);
  --ids-color-text-on-caution: var(--ids-color-neutral-100);
  --ids-color-caution-10: var(--ids-color-orange-10);
  --ids-color-caution-30: var(--ids-color-orange-30);
  --ids-color-caution-default: #FFD100;
  --ids-color-text-on-success: var(--ids-color-neutral-100);
  --ids-color-success-10: var(--ids-color-green-10);
  --ids-color-success-30: var(--ids-color-green-30);
  --ids-color-success-50: var(--ids-color-green-50);
  --ids-color-success-80: var(--ids-color-green-80);
  --ids-color-success-100: var(--ids-color-green-100);
  --ids-color-success-default: var(--ids-color-green-60);
  --ids-color-shadow-success: rgba(42 195 113 / 0.3);
  --ids-color-text-on-info: var(--ids-color-white-100);
  --ids-color-info-10: var(--ids-color-blue-10);
  --ids-color-info-30: var(--ids-color-blue-30);
  --ids-color-info-60: var(--ids-color-blue-60);
  --ids-color-info-70: var(--ids-color-blue-70);
  --ids-color-info-80: var(--ids-color-blue-80);
  --ids-color-info-default: #0064D4;
  --ids-color-shadow-info: rgba(0 102 212 / 0.3);
}
