@use './ids-theme-default-core.scss';

:root {
  // Primary Colors
  --ids-color-primary: var(--ids-color-slate-60);

  // Body / Container
  --ids-body-background-color: var(--ids-color-slate-100);
  --ids-body-inverse-background-color: var(--ids-color-slate-00);

  // Text Color Tokens
  --ids-text-color: var(--ids-color-slate-10);
  --ids-inverse-text-color: var(--ids-color-slate-100);
  --ids-subtle-text-color: var(--ids-color-slate-20);
  --ids-label-text-color: var(--ids-color-slate-30);
  --ids-data-text-color: var(--ids-color-slate-90);
  --ids-disabled-text-color: var(--ids-color-slate-40);

  // Component Colors
  --ids-component-background-color: var(--ids-color-slate-100);
  --ids-component-primary-background-color: var(--ids-color-primary-60); // TODO ??
  --ids-component-darker-background-color: var(--ids-color-slate-80);
  --ids-component-border-color: var(--ids-color-slate-40);
  --ids-component-selected-background-color: var(--ids-color-primary-60);
  --ids-component-selected-text-color: var(--ids-color-slate-100);
  --ids-component-hover-color: var(--ids-color-slate-00);
  --ids-component-disabled-color: var(--ids-color-slate-40);
  --ids-component-text-color: var(--ids-color-slate-10);
  --ids-component-icon-color: var(--ids-color-slate-20);
  --ids-component-color-inverse: var(--ids-color-slate-10);

  // Alert Color Overrides
  --ids-color-error-01: var(--ids-color-ruby-90);
  --ids-color-warning-01: var(--ids-color-amber-90);
  --ids-color-caution-00: var(--ids-color-slate-100);
  --ids-color-caution-01: var(--ids-color-amber-90);
  --ids-color-info-01: var(--ids-color-primary-90);
  --ids-color-success-01: var(--ids-color-emerald-90);

  // Headers
  --ids-header-gradient-opaque: rgb(0 114 237 / 1);
  --ids-header-gradient-transparent: rgb(0 114 237 / 0);

  // Primary Button
  --ids-button-primary-border-color: var(--ids-color-primary-40);
  --ids-button-primary-background-color: var(--ids-color-primary-40);
  --ids-button-primary-text-color: var(--ids-body-background-color);
  --ids-button-primary-focus-border-color: var(--ids-color-primary-40);
  --ids-button-primary-focus-shadow: 0 0 0 2px var(--ids-body-background-color), 0 0 0 3px var(--ids-color-primary-40), 0 0 4px 3px var(--ids-color-primary-40);
  --ids-button-primary-hover-background-color: var(--ids-color-primary-30);
  --ids-button-primary-hover-border-color: var(--ids-color-primary-30);
  --ids-button-primary-disabled-background-color: var(--ids-color-slate-90);
  --ids-button-primary-disabled-border-color: var(--ids-color-slate-90);
  --ids-button-primary-disabled-text-color: var(--ids-color-slate-40);
  --ids-button-primary-ripple-color: var(--ids-color-primary-40);

  // Secondary Button
  --ids-button-secondary-background-color: transparent;
  --ids-button-secondary-border-width: 2px;
  --ids-button-secondary-border-color: var(--ids-color-primary-40);
  --ids-button-secondary-text-color: var(--ids-color-primary-40);
  --ids-button-secondary-focus-border-color: var(--ids-color-primary-50);
  --ids-button-secondary-focus-shadow: 0 0 0 2px var(--ids-body-background-color), 0 0 0 3px var(--ids-color-primary-50), 0 0 4px 3px var(--ids-color-primary-50);
  --ids-button-secondary-hover-background-color: var(--ids-color-slate-90);
  --ids-button-secondary-disabled-background-color: var(--ids-color-slate-90);
  --ids-button-secondary-disabled-border-color: var(--ids-color-slate-40);
  --ids-button-secondary-disabled-text-color: var(--ids-color-slate-40);
  --ids-button-secondary-ripple-color: var(--ids-color-primary-40);

  // Tertiary Buttons
  --ids-button-tertiary-border-color: transparent;
  --ids-button-tertiary-text-color: var(--ids-color-slate-20);
  --ids-button-tertiary-focus-border-color: var(--ids-focus-ring-border-color);
  --ids-button-tertiary-hover-text-color: var(--ids-color-primary-00);
  --ids-button-tertiary-hover-background-color: var(--ids-color-slate-90);
  --ids-button-tertiary-disabled-text-color: var(--ids-color-slate-40);
  --ids-button-tertiary-disabled-background-color: transparent;
  --ids-button-tertiary-ripple-color: var(--ids-color-primary-40);
  --ids-button-destructive-hover-background-color: var(--ids-color-slate-90);

  // Formatter Button
  --ids-button-formatter-text-color: var(--ids-color-slate-10);
  --ids-button-formatter-border-color: var(--ids-component-color-inverse);
  --ids-button-formatter-text-color-hover: var(--ids-color-slate-00);
  --ids-button-formatter-disabled-text-color: var(--ids-component-color-inverse);
  --ids-button-formatter-ripple-color: var(--ids-color-primary);

  // Hyperlinks
  --ids-hyperlink-text-color: var(--ids-color-primary-40);
  --ids-hyperlink-hover-text-color: var(--ids-color-primary-60);
  --ids-hyperlink-disabled-text-color: var(--ids-color-slate-50);

  // Elevations
  --ids-shadow-none: 0 0 3px 2px rgba(85 163 243 / 0);
  --ids-shadow-error: 0 0 3px 2px rgb(218 18 23 / 0.30);
  --ids-shadow-inverse: 0 0 3px 2px rgba(255 255 255 / 0.7);
  --ids-shadow-sm: 0 0 3px 1px rgb(85 163 243 / 0.3);
  --ids-shadow-md: 0 0 3px 2px rgb(85 163 243 / 0.3);
  --ids-shadow-lg: 0 0 4px 3px rgb(85 163 243 / 0.3);

  // Focus
  --ids-focus-ring-border-color: var(--ids-color-primary-50);

  // Dirty Indicator
  --ids-dirty-indicator-background-color: var(--ids-color-palette-amber-40);

  // Data Grid
  --ids-data-grid-background-color: var(--ids-color-slate-100);

  // Data Grid (Cells)
  --ids-data-grid-cell-background-color: var(--ids-color-slate-100);
  --ids-data-grid-cell-readonly-background-color: rgba(119 119 124 / 0.18);
  --ids-data-grid-cell-border-color: var(--ids-color-slate-60);
  --ids-data-grid-cell-checkbox-border-color: var(--ids-color-slate-40);
  --ids-data-grid-cell-text-color: var(--ids-color-slate-00);
  --ids-data-grid-cell-disabled-text-color: var(--ids-color-slate-50);
  --ids-data-grid-cell-invalid-background-color: rgba(232 79 79 / 0.1);

  // Data Grid (List)
  --ids-data-grid-list-cell-border-color: var(--ids-color-slate-20);
  --ids-data-grid-list-header-border-color: var(--ids-color-slate-80);
  --ids-data-grid-list-header-background-color: var(--ids-color-slate-80);
  --ids-data-grid-list-header-text-color: var(--ids-color-slate-30);
  --ids-data-grid-list-header-unsorted-icon-color: var(--ids-color-slate-40);
  --ids-data-grid-list-header-sorted-icon-color: var(--ids-color-slate-20);
  --ids-data-grid-list-header-checkbox-background-color: var(--ids-color-slate-40);

  // Data Grid (Header)
  --ids-data-grid-header-border-color: var(--ids-color-slate-80);
  --ids-data-grid-header-background-color: var(--ids-color-slate-20);
  --ids-data-grid-header-checkbox-border-color: var(--ids-color-slate-100);
  --ids-data-grid-header-checkbox-background-color: transparent;
  --ids-data-grid-header-icon-color: var(--ids-color-slate-100);
  --ids-data-grid-header-drag-placeholder-background-color: var(--ids-color-slate-10);
  --ids-data-grid-header-text-color: var(--ids-color-slate-100);
  --ids-data-grid-header-unsorted-icon-color: var(--ids-color-slate-40);
  --ids-data-grid-header-sorted-icon-color: var(--ids-color-slate-100);

  // Data Grid (Rows)
  --ids-data-grid-row-selected-background-color: rgba(85 163 243 / 0.12);
  --ids-data-grid-row-alternate-background-color: var(--ids-color-slate-80);
  --ids-data-grid-row-focus-shadow: inset 0 0 0 1px var(--ids-color-palette-azure-50), 0 1px 0 0 var(--ids-color-palette-azure-50), 0 0 3px 2px rgb(54 138 192 / 0.3);

  // Switch
  --ids-switch-pole-off-background-color: var(--ids-color-slate-40);
  --ids-switch-toggle-off-background-color: var(--ids-color-slate-00);
  --ids-switch-toggle-off-border-color: var(--ids-component-border-color);
  --ids-switch-pole-on-background-color: var(--ids-color-primary-30);
  --ids-switch-toggle-on-background-color: var(--ids-color-primary-60);
  --ids-switch-toggle-on-border-color: var(--ids-color-primary-60);
  --ids-switch-pole-off-disabled-background-color: var(--ids-color-slate-60);
  --ids-switch-toggle-off-disabled-background-color: var(--ids-color-slate-70);
  --ids-switch-toggle-off-disabled-border-color: var(--ids-color-slate-60);
  --ids-switch-pole-on-disabled-background-color: var(--ids-color-primary-20);
  --ids-switch-toggle-on-disabled-background-color: var(--ids-color-primary-30);
  --ids-switch-toggle-on-disabled-border-color: var(--ids-color-primary-30);
  --ids-switch-toggle-hover-background-color: var(--ids-color-slate-30);
  --ids-switch-toggle-focus-shadow: 0 0 0 3px var(--ids-color-palette-azure-90), 0 0 0 4px var(--ids-color-palette-azure-60);
}
