@use './ids-theme-default-core.scss';

:root {
  // Primary Color
  --ids-color-primary: var(--ids-color-neutral-60);
  --ids-color-text-on-primary: var(--ids-color-neutral-10);

  // Body Colors
  --ids-color-background-default: var(--ids-color-neutral-100);
  --ids-color-text-default: var(--ids-color-neutral-00);

  // Text Colors
  --ids-color-text: var(--ids-color-neutral-10);
  --ids-color-text-label: var(--ids-color-neutral-30);
  --ids-color-text-inverse: var(--ids-color-neutral-100);
  --ids-color-text-subtle: var(--ids-color-neutral-20);
  --ids-color-text-data: var(--ids-color-neutral-00);
  --ids-color-text-disabled: var(--ids-color-neutral-50);
  --ids-color-text-error: var(--ids-color-error-50);
  --ids-color-text-info: var(--ids-color-info-60);
  --ids-color-text-success: var(--ids-color-success-50);
  --ids-color-text-warning: var(--ids-color-warning-50);

  // Alert Colors
  --ids-color-error-10: var(--ids-color-error-90);
  --ids-color-warning-10: var(--ids-color-amber-90);
  --ids-color-text-on-caution: var(--ids-color-neutral-100);
  --ids-color-caution-10: var(--ids-color-amber-90);
  --ids-color-info-10: var(--ids-color-primary-90);
  --ids-color-success-10: var(--ids-color-emerald-90);

  // Elevations
  --ids-shadow-none: 0 0 3px 2px rgba(85 163 243 / 0);
  --ids-shadow-error: 0 0 3px 2px rgb(218 18 23 / 0.30);
  --ids-box-shadow-inverse: 0 0 2px 1px rgba(255 255 255 / .8);
  --ids-shadow-10: 0 0 3px 1px rgb(85 163 243 / 0.3);
  --ids-shadow-20: 0 0 3px 2px rgb(85 163 243 / 0.3);
  --ids-shadow-30: 0 0 4px 3px rgb(85 163 243 / 0.3);

  // Focus
  --ids-color-border-focus: var(--ids-color-primary-50);

  /// --- Component Tokens ---- ///
  // Accordion
  --ids-accordion-header-color-border-bottom: var(--ids-color-neutral-70);
  --ids-accordion-header-color-border-disabled: var(--ids-color-neutral-50);
  --ids-accordion-header-color-text-disabled: var(--ids-color-neutral-50);
  --ids-accordion-header-color-border-focus: var(--ids-color-azure-60);
  --ids-accordion-header-color-icon: var(--ids-color-neutral-10);

  // Accordion (App Menu)
  --ids-app-menu-accordion-header-color-background-disabled: var(--ids-color-neutral-20);
  --ids-app-menu-accordion-header-color-border-disabled: var(--ids-color-neutral-20);
  --ids-app-menu-accordion-header-color-text-disabled: var(--ids-color-neutral-70);
  --ids-app-menu-accordion-header-color-background-default: var(--ids-color-neutral-100);
  --ids-app-menu-accordion-header-filter-match-color-text: var(--ids-color-neutral-40);
  --ids-app-menu-accordion-header-color-border-focus: var(--ids-color-azure-40);
  --ids-app-menu-header-color-background-hover: var(--ids-color-neutral-100);
  --ids-app-menu-header-color-border-hover: var(--ids-color-neutral-100);
  --ids-app-menu-accordion-panel-color-background: var(--ids-color-neutral-90);

  // Action Panel
  --ids-action-panel-header-color-background: var(--ids-color-neutral-80);
  --ids-action-panel-header-color-border: var(--ids-color-neutral-90);
  --ids-action-panel-content-background-color: var(--ids-color-neutral-100);

  // Action Sheet
  --ids-action-sheet-color-background: var(--ids-color-neutral-70);
  --ids-action-sheet-color-border: var(--ids-color-neutral-50);

  // Alerts
  --ids-alert-color-progress-default: var(--ids-color-amethyst-30);
  --ids-alert-color-progress-disabled: var(--ids-color-amethyst-70);

  // Axis Chart
  --ids-axis-chart-grid-color: var(--ids-color-neutral-40);
  --ids-axis-chart-last-line-color-border: var(--ids-color-neutral-30);
  --ids-axis-chart-color-text: var(--ids-color-neutral-10);

  // Badge
  --ids-badge-color-background: var(--ids-color-neutral-60);
  --ids-badge-color-border: var(--ids-color-neutral-60);
  --ids-badge-color-background-error: var(--ids-color-error-50);
  --ids-badge-color-border-error: var(--ids-color-error-50);
  --ids-badge-color-error: var(--ids-color-text-on-error);
  --ids-badge-color-background-info: var(--ids-color-info-60);
  --ids-badge-color-border-info: var(--ids-color-info-60);
  --ids-badge-color-info: var(--ids-color-text-on-info);
  --ids-badge-color-background-success: var(--ids-color-success-80);
  --ids-badge-color-border-success: var(--ids-color-success-80);
  --ids-badge-color-success: var(--ids-color-text-on-success);
  --ids-badge-color-background-warning: var(--ids-color-warning-50);
  --ids-badge-color-border-warning: var(--ids-color-warning-50);
  --ids-badge-color-warning: var(--ids-color-neutral-100);

  // Block Grid
  --ids-block-grid-item-color-background-selectable-hover: var(--ids-color-neutral-80);

  // Button (Primary)
  --ids-button-primary-color-border-default: var(--ids-color-primary-40);
  --ids-button-primary-color-background-default: var(--ids-color-primary-40);
  --ids-button-primary-color-text-default: var(--ids-color-background-default);
  --ids-button-primary-color-border-focus: var(--ids-color-primary-40);
  --ids-button-primary-shadow-focus: 0 0 0 2px var(--ids-color-background-default), 0 0 0 3px var(--ids-color-primary-40), 0 0 4px 3px var(--ids-color-primary-40);
  --ids-button-primary-color-background-hover: var(--ids-color-primary-30);
  --ids-button-primary-color-border-hover: var(--ids-color-primary-30);
  --ids-button-primary-color-background-disabled: var(--ids-color-neutral-90);
  --ids-button-primary-color-border-disabled: var(--ids-color-neutral-90);
  --ids-button-primary-color-text-disabled: var(--ids-color-neutral-40);
  --ids-button-primary-color-background-pressed: var(--ids-color-primary-80);

  // Button (Secondary)
  --ids-button-secondary-color-background-default: transparent;
  --ids-button-secondary-border-width: 2px;
  --ids-button-secondary-color-border-default: var(--ids-color-primary-40);
  --ids-button-secondary-color-text-default: var(--ids-color-primary-40);
  --ids-button-secondary-color-border-focus: var(--ids-color-primary-50);
  --ids-button-secondary-shadow-focus: 0 0 0 2px var(--ids-color-background-default), 0 0 0 3px var(--ids-color-primary-50), 0 0 4px 3px var(--ids-color-primary-50);
  --ids-button-secondary-color-background-hover: var(--ids-color-neutral-90);
  --ids-button-secondary-color-background-disabled: var(--ids-color-neutral-90);
  --ids-button-secondary-color-border-disabled: var(--ids-color-neutral-40);
  --ids-button-secondary-color-text-disabled: var(--ids-color-neutral-40);
  --ids-button-secondary-color-background-pressed: var(--ids-color-primary-40);

  // Button (Tertiary)
  --ids-button-tertiary-color-border-default: transparent;
  --ids-button-tertiary-color-text-default: var(--ids-color-neutral-20);
  --ids-button-tertiary-color-border-focus: var(--ids-color-border-focus);
  --ids-button-tertiary-color-text-hover: var(--ids-color-text-on-primary);
  --ids-button-tertiary-color-background-hover: var(--ids-color-neutral-90);
  --ids-button-tertiary-color-text-disabled: var(--ids-color-neutral-40);
  --ids-button-tertiary-color-background-pressed: var(--ids-color-primary-40);
  --ids-button-destructive-color-background-hover: var(--ids-color-neutral-90);

  // Button (Formatter)
  --ids-button-formatter-color-text-default: var(--ids-color-neutral-80);
  --ids-button-formatter-color-border: var(--ids-color-neutral-70);
  --ids-button-formatter-color-text-hover: var(--ids-color-neutral-100);

  // Calendar
  --ids-calendar-toolbar-color-background: var(--ids-color-neutral-80);
  --ids-calendar-toolbar-color-border: var(--ids-color-neutral-70);

  // Card
  --ids-card-color-background: var(--ids-color-neutral-90);
  --ids-card-color-border: var(--ids-color-neutral-70);
  --ids-card-divider-color-border: var(--ids-color-neutral-80);
  --ids-card-shadow: 0 0 8px rgba(0 0 0 / 0.7);
  --ids-card-color-background-selected: rgba(85 163 243 / 0.12);

  // Charts
  --ids-chart-legend-color-text: var(--ids-color-text);

  // Data Grid
  --ids-data-grid-color-background: var(--ids-color-neutral-100);

  // Data Grid (Cells)
  --ids-data-grid-cell-color-background-default: var(--ids-color-neutral-100);
  --ids-data-grid-cell-color-background-readonly: rgba(119 119 124 / 0.18);
  --ids-data-grid-cell-color-border: var(--ids-color-neutral-60);
  --ids-data-grid-cell-checkbox-color-border: var(--ids-color-neutral-40);
  --ids-data-grid-cell-color-text-default: var(--ids-color-neutral-00);
  --ids-data-grid-cell-color-text-disabled: var(--ids-color-neutral-50);
  --ids-data-grid-cell-color-background-error: rgba(232 79 79 / 0.1);

  // Data Grid (List)
  --ids-data-grid-list-cell-color-border: var(--ids-color-neutral-60);
  --ids-data-grid-list-header-color-border: var(--ids-color-neutral-80);
  --ids-data-grid-list-header-color-background: var(--ids-color-neutral-80);
  --ids-data-grid-list-header-color-text: var(--ids-color-neutral-30);
  --ids-data-grid-list-header-color-icon-unsorted: var(--ids-color-neutral-60);
  --ids-data-grid-list-header-color-icon-sorted: var(--ids-color-neutral-20);
  --ids-data-grid-list-header-checkbox-color-background: var(--ids-color-neutral-40);

  // Data Grid (Header)
  --ids-data-grid-header-color-border: var(--ids-color-neutral-80);
  --ids-data-grid-header-color-background-default: var(--ids-color-neutral-20);
  --ids-data-grid-header-checkbox-color-border: var(--ids-color-neutral-100);
  --ids-data-grid-header-checkbox-color-background: transparent;
  --ids-data-grid-header-color-icon: var(--ids-color-neutral-100);
  --ids-data-grid-header-color-background-placeholder-dragging: var(--ids-color-neutral-10);
  --ids-data-grid-header-color-text: var(--ids-color-neutral-100);
  --ids-data-grid-header-color-icon-unsorted: var(--ids-color-neutral-40);
  --ids-data-grid-header-color-icon-sorted: var(--ids-color-neutral-100);
  --ids-data-grid-header-expander-color: var(--ids-color-neutral-70);
  --ids-data-grid-header-expander-active-color:  var(--ids-color-neutral-100);

  // Data Grid (Filter)
  --ids-data-grid-filter-input-color-border-default: var(--ids-color-neutral-60);
  --ids-data-grid-filter-input-color-text-default: var(--ids-color-neutral-90);
  --ids-data-grid-filter-input-color-background-hover: var(--ids-color-neutral-100);
  --ids-data-grid-filter-input-color-border-focus: var(--ids-color-azure-50);
  --ids-data-grid-filter-input-color-border-disabled: var(--ids-color-neutral-40);
  --ids-data-grid-filter-input-color-text-disabled: var(--ids-color-neutral-40);
  --ids-data-grid-filter-input-color-background-readonly: var(--ids-color-neutral-30);
  --ids-data-grid-filter-input-color-border-readonly: var(--ids-color-neutral-40);
  --ids-data-grid-filter-input-color-text-readonly: var(--ids-color-neutral-90);
  --ids-data-grid-filter-input-color-text-placeholder: var(--ids-color-neutral-40);

  // Data Grid (Rows)
  --ids-data-grid-row-color-background-selected: rgba(85 163 243 / 0.12);
  --ids-data-grid-row-alternating-color-background: var(--ids-color-neutral-80);
  --ids-data-grid-row-shadow-focus: inset 0 0 0 1px var(--ids-color-azure-50), 0 1px 0 0 var(--ids-color-azure-50), 0 0 3px 2px rgb(54 138 192 / 0.3);

  // Date Picker
  --ids-date-picker-color-background: var(--ids-color-neutral-70);
  --ids-date-picker-item-color-border-focus: var(--ids-color-primary-40);
  --ids-date-picker-picklist-item-color-background-selected: var(--ids-color-primary-40);
  --ids-date-picker-popup-button-today-color-text: var(--ids-color-primary-40);
  --ids-date-picker-picklist-separator-color-background: var(--ids-color-neutral-50);

  // Dirty Indicator
  --ids-input-dirty-indicator-color-background-dirty: var(--ids-color-amber-40);

  // Drawer
  --ids-drawer-action-sheet-color-background: var(--ids-color-neutral-90); // TODO: Check design, changed Black to Slate-90
  --ids-drawer-action-sheet-color-text: var(--ids-color-neutral-10);
  --ids-drawer-app-menu-color-background: var(--ids-color-neutral-90); // TODO: Check design, changed Black to Slate-90
  --ids-drawer-app-menu-color-text: var(--ids-color-neutral-10);

  // Dropdown
  --ids-dropdown-color-background-default: var(--ids-popup-color-background);
  --ids-dropdown-color-border: var(--ids-color-border-focus);
  --ids-dropdown-attached-color-border: var(--ids-color-neutral-50);
  --ids-dropdown-shadow-default: -2px 1px 2px 0 rgb(54 138 192 / 0.3), 0 1px 2px 0 rgb(54 138 192 / 0.3), 2px 2px 2px 0 rgb(54 138 192 / 0.3);
  --ids-dropdown-shadow-opened-up: 0 -1px 2px 0 rgb(54 138 192 / 0.3), 2px 0 3px 0 rgb(54 138 192 / 0.3), -2px -2px 3px 0 rgb(54 138 192 / 0.3);
  --ids-dropdown-color-icon: var(--ids-color-neutral-10);
  --ids-dropdown-typeahead-color-background: var(--ids-color-neutral-30);
  --ids-dropdown-color-text-default: var(--ids-color-neutral-00);
  --ids-dropdown-color-background-hover: var(--ids-color-neutral-90);
  --ids-dropdown-group-color-text: var(--ids-color-neutral-20);
  --ids-dropdown-group-color-border: var(--ids-color-neutral-50);

  // Editor
  --ids-editor-background-color: var(--ids-color-neutral-100);
  --ids-editor-color-border-default: var(--ids-color-neutral-40);
  --ids-editor-color-border-hover: var(--ids-color-neutral-10);
  --ids-editor-color-background-readonly: var(--ids-color-neutral-70);
  --ids-editor-color-border-readonly: var(--ids-color-neutral-40);
  --ids-editor-source-color-background-readonly: var(--ids-color-neutral-90);
  --ids-editor-color-border-disabled: var(--ids-color-text-disabled);
  --ids-editor-color-text-disabled: var(--ids-color-text-disabled);
  --ids-editor-link-color-text-link: var(--ids-color-primary-40);
  --ids-editor-link-color-text-hover: var(--ids-color-primary-60);
  --ids-editor-link-color-border-focus: var(--ids-color-primary);
  --ids-editor-shadow-focus: var(--ids-shadow-focus);
  --ids-editor-source-color-background-default: var(--ids-color-neutral-80);
  --ids-editor-source-line-color-text: var(--ids-color-neutral-40);
  --ids-editor-source-color-text: var(--ids-color-text-data);

  // Expandable Area
  --ids-expandable-area-border-bottom: 1px solid var(--ids-color-neutral-50);

  // Empty Message
  --ids-empty-message-icon-color: var(--ids-color-neutral-60);
  --ids-empty-message-color-icon-fill: transparent;

  // Headers
  --ids-header-color-background: var(--ids-color-primary);
  --ids-header-gradient-opacity-none: rgb(0 114 237 / 1);
  --ids-header-gradient-opacity-full: rgb(0 114 237 / 0);

  // Hierarchy
  --ids-hierarchy-item-leaf-color-border: var(--ids-color-neutral-70);
  --ids-hierarchy-item-color-background: var(--ids-color-neutral-100);
  --ids-hierarchy-item-leaf-inside-shadow: 0 0 8px rgb(0 0 0 / 0.7);
  --ids-hierarchy-item-selected-leaf-shadow: 0 0 0 5px rgba(141 201 230 / 0.3);

  // Hyperlinks
  --ids-hyperlink-color-text-default: var(--ids-color-primary-40);
  --ids-hyperlink-color-text-hover: var(--ids-color-primary-60);
  --ids-hyperlink-color-text-disabled: var(--ids-color-neutral-50);

  // Icons
  --ids-icon-color-default: var(--ids-color-neutral-20);
  --ids-icon-color-default-disabled: var(--ids-color-text-disabled);

  // Input Styles
  --ids-input-color-background-default: transparent;
  --ids-input-color-border-default: var(--ids-color-neutral-40);
  --ids-input-color-text: var(--ids-color-text-data);
  --ids-input-label-color-text-default: var(--ids-color-text-label);
  --ids-input-color-border-readonly: var(--ids-color-neutral-40);
  --ids-input-color-text-readonly: var(--ids-color-text-data);
  --ids-input-color-background-readonly: var(--ids-color-neutral-70);
  --ids-input-color-text-disabled: var(--ids-color-text-disabled);
  --ids-input-color-border-disabled: var(--ids-color-text-disabled);
  --ids-input-color-border-hover: var(--ids-color-neutral-10);
  --ids-input-color-border-focus: var(--ids-color-border-focus);

  // Layout Grid
  --ids-layout-grid-color-background: var(--ids-color-neutral-70);
  --ids-layout-grid-color-text: var(--ids-color-text);

  // List View
  --ids-list-view-item-color-background-default: var(--ids-color-neutral-90);
  --ids-list-view-item-color-border-top: var(--ids-color-neutral-70);
  --ids-list-view-item-color-border-focus: var(--ids-color-azure-70);
  --ids-list-view-item-shadow-focus: none;
  --ids-list-view-item-color-text-disabled: var(--ids-color-neutral-50);
  --ids-list-view-item-top-color-border-disabled-focus: var(--ids-color-neutral-70);
  --ids-list-view-item-color-background-disabled: var(--ids-color-neutral-70);
  --ids-list-view-item-color-border-disabled: var(--ids-color-neutral-80);
  --ids-list-view-item-badge-color-text-disabled: var(--ids-color-neutral-40);
  --ids-list-view-item-color-text-link-disabled: var(--ids-color-neutral-40);
  --ids-list-view-color-background-selected: var(--ids-color-azure-100);

  // Loading Indicator
  --ids-loading-indicator-circle-color: var(--ids-color-neutral-80);
  --ids-loading-indicator-primary-progress-color-border: var(--ids-color-neutral-80);
  --ids-loading-indicator-primary-color-border: var(--ids-color-neutral-50);
  --ids-loading-indicator-primary-destructive-overall-color-border: var(--ids-color-error-20);
  --ids-loading-indicator-destructive-progress-color-border: var(--ids-color-error-70);
  --ids-loading-indicator-tertiary-destructive-color-border: var(--ids-color-error-30);

  // Masthead
  --ids-masthead-color-background: var(--ids-color-neutral-80);
  --ids-masthead-color-text: var(--ids-color-neutral-10);

  // Modal
  --ids-modal-color-background: var(--ids-popup-color-background);
  --ids-modal-color-border: var(--ids-popup-color-border);
  --ids-modal-shadow-default: var(--ids-popup-menu-shadow-default);
  --ids-modal-footer-color-border: var(--ids-color-neutral-50);
  --ids-modal-button-color-default: var(--ids-color-azure-40);
  --ids-modal-button-color-hover: var(--ids-color-azure-30);
  --ids-modal-shadow-focus: 0 0 3px 1px var(--ids-color-azure-30);

  // Menu
  --ids-menu-header-color-text: var(--ids-color-neutral-00);
  --ids-menu-item-color-text-disabled: var(--ids-color-neutral-50);
  --ids-menu-item-highlight-color: var(--ids-color-neutral-80);
  --ids-menu-item-color-text-default: var(--ids-color-neutral-00);
  --ids-menu-check-color-default: var(--ids-color-azure-60);

  // Popup
  --ids-popup-color-background: var(--ids-color-neutral-70);
  --ids-popup-color-border: var(--ids-color-neutral-60);
  --ids-popup-shadow: 0 2px 5px rgb(239 239 240 / 0.2);

  // Popup Menu
  --ids-popup-menu-color-text-default: var(--ids-color-neutral-00);
  --ids-popup-menu-color-background-inverse: var(--ids-color-neutral-00);
  --ids-popup-menu-color-border-inverse: var(--ids-color-neutral-30);
  --ids-popup-menu-shadow-inverse: 0 2px 5px rgba(0 0 0 / 0.2);
  --ids-popup-menu-color-text-inverse: var(--ids-color-neutral-10);

  // Month View
  --ids-calendar-month-view-color-background-default: var(--ids-color-neutral-80);
  --ids-calendar-month-view-color-border: var(--ids-color-neutral-70);
  --ids-calendar-month-view-color-background-disabled: var(--ids-color-neutral-100);
  --ids-calendar-month-view-color-text-default: var(--ids-color-neutral-30);
  --ids-calendar-month-view-weekday-color-text: var(--ids-calendar-month-view-color-text-default);
  --ids-calendar-month-view-color-text-alternate: var(--ids-color-neutral-50);
  --ids-calendar-month-view-color-background-hover: rgb(49 50 54 / 0.2);
  --ids-calendar-month-view-color-background-selected: var(--ids-color-neutral-70);
  --ids-calendar-month-view-color-selected: var(--ids-color-azure-60);

  // Month View (Compact)
  --ids-calendar-month-view-day-color-background-compact-selected: var(--ids-color-azure-60);
  --ids-calendar-month-view-weekday-color-text-compact: var(--ids-calendar-month-view-color-text-default);
  --ids-calendar-month-view-color-text-compact: var(--ids-color-neutral-50);
  --ids-calendar-month-view-weekday-color-text-compact-hover: var(--ids-color-neutral-00);
  --ids-calendar-month-view-range-color-background-compact-selected: var(--ids-color-azure-60);

  // Pie chart
  --ids-chart-pie-color-text: var(--ids-color-neutral-30);

  // Progress Bar
  --ids-progress-bar-color-text-disabled: var(--ids-color-text-disabled);
  --ids-progress-bar-color-background-disabled: var(--ids-color-neutral-70);
  --ids-progress-bar-color-border: var(--ids-color-neutral-40);
  --ids-progress-bar-border: 1px solid var(--ids-progress-bar-color-border);
  --ids-progress-bar-fill-color-background: var(--ids-color-azure-60);
  --ids-progress-bar-label-color-text: var(--ids-color-text-label);

  // Progress Chart
  --ids-progress-chart-label-color-text: var(--ids-color-neutral-30);
  --ids-progress-chart-total-color-background: var(--ids-color-neutral-50);
  --ids-progress-chart-bar-progress-color-background: var(--ids-color-azure-60);

  // Process Indicator
  --ids-process-indicator-color-primary: var(--ids-color-azure-70);
  --ids-process-indicator-color-active: var(--ids-color-azure-70);
  --ids-process-indicator-canceled-step-color-background: var(--ids-color-error-50);
  --ids-process-indicator-canceled-step-color-icon: var(--ids-color-neutral-00);

  // Radio
  --ids-radio-button-color-background-selected: var(--ids-color-azure-60);
  --ids-radio-button-color-border-selected: var(--ids-color-azure-60);
  --ids-radio-button-inner-color-background-selected: var(--ids-color-neutral-00);

  // Required
  --ids-input-required-indicator-color-text-default: var(--ids-color-error-60);

  // Scroll View
  --ids-scroll-view-color-icon-default: var(--ids-color-neutral-40);
  --ids-scroll-view-color-icon-selected: var(--ids-color-azure-60);

  // Search Field
  --ids-search-field-card-color-text: var(--ids-color-text);
  --ids-search-field-card-color-background: var(--ids-color-neutral-80);
  --ids-search-field-header-color-background: var(--ids-color-neutral-100);
  --ids-search-field-header-color-text: var(--ids-color-text);
  --ids-search-field-header-color-icon-default: var(--ids-color-neutral-10);

  // Separator
  --ids-separator-color-background: var(--ids-color-neutral-50);
  --ids-separator-alternate-color-background: var(--ids-color-neutral-70);

  // Slider
  --ids-slider-tick-color-background-default: var(--ids-color-azure-60);
  --ids-slider-thumb-color-background-default: var(--ids-color-azure-60);
  --ids-slider-thumb-color-border-default: var(--ids-color-azure-60);
  --ids-slider-track-color-background-default: var(--ids-color-neutral-70);
  --ids-slider-track-color-background-progress: var(--ids-color-azure-60);
  --ids-slider-tooltip-color-background: var(--ids-color-neutral-00);
  --ids-slider-tooltip-color-text: var(--ids-color-neutral-100);
  --ids-slider-color-disabled: var(--ids-color-neutral-20);
  --ids-slider-tick-color-background-disabled: var(--ids-color-neutral-40);
  --ids-slider-thumb-color-background-disabled: var(--ids-color-neutral-40);
  --ids-slider-track-color-background-disabled: var(--ids-color-neutral-50);
  --ids-slider-track-color-background-progress-disabled: var(--ids-color-neutral-40);
  --ids-slider-color-readonly: var(--ids-color-neutral-20);
  --ids-slider-tick-color-background-readonly: var(--ids-color-neutral-40);
  --ids-slider-thumb-color-background-readonly: var(--ids-color-neutral-40);
  --ids-slider-thumb-color-shadow-readonly: rgba(151 151 155 / 0.1);
  --ids-slider-thumb-color-border-readonly: var(--ids-color-neutral-40);
  --ids-slider-track-color-background-readonly: var(--ids-color-neutral-70);
  --ids-slider-track-progress-color-background-readonly: var(--ids-color-neutral-40);

  // Splitter
  --ids-splitter-bar-color-background-hover: var(--ids-color-neutral-70);

  // Step Chart
  --ids-step-chart-color-background-default: var(--ids-color-neutral-70);
  --ids-step-chart-color-background-complete: var(--ids-color-azure-60);

  // Swappable
  --ids-swappable-item-color-background-hover: var(--ids-color-neutral-60);
  --ids-swappable-item-color-background-selected: var(--ids-color-azure-60);
  --ids-swappable-item-over-border: 1px dashed var(--ids-color-neutral-30);

  // Swaplist
  --ids-swaplist-button-color-background-hover: var(--ids-color-neutral-70);

  // Swipe Action
  --ids-swipe-action-color-background-left: var(--ids-color-neutral-60);
  --ids-swipe-action-color-text-left: var(--ids-color-neutral-00);
  --ids-swipe-action-color-background-right: var(--ids-color-azure-50);
  --ids-swipe-action-color-text-right: var(--ids-color-neutral-00);

  // Switch
  --ids-switch-pole-color-background-default: var(--ids-color-neutral-40);
  --ids-switch-toggle-color-background-default: var(--ids-color-neutral-00);
  --ids-switch-toggle-color-border-default: var(--ids-input-color-border-default);
  --ids-switch-pole-color-background-selected: var(--ids-color-primary-30);
  --ids-switch-toggle-color-background-selected: var(--ids-color-primary-60);
  --ids-switch-toggle-color-border-selected: var(--ids-color-primary-60);
  --ids-switch-pole-color-background-disabled: var(--ids-color-neutral-60);
  --ids-switch-toggle-color-background-disabled: var(--ids-color-neutral-70);
  --ids-switch-toggle-color-border-disabled: var(--ids-color-neutral-60);
  --ids-switch-pole-color-background-selected-disabled: var(--ids-color-primary-20);
  --ids-switch-toggle-color-background-selected-disabled: var(--ids-color-primary-30);
  --ids-switch-toggle-color-border-selected-disabled: var(--ids-color-primary-30);
  --ids-switch-toggle-color-background-hover: var(--ids-color-neutral-30);
  --ids-switch-toggle-shadow-focus: 0 0 0 3px var(--ids-color-azure-90), 0 0 0 4px var(--ids-color-azure-60);

  // Tab
  --ids-tab-content-color-text: var(--ids-color-text);
  --ids-tab-color-text-hover: var(--ids-color-neutral-00);
  --ids-tab-color-background-hover: var(--ids-color-neutral-60);
  --ids-tab-color-background-focus: var(--ids-color-background-default);
  --ids-tab-color-text-selected: var(--ids-color-azure-40);
  --ids-tab-color-text-disabled: var(--ids-color-neutral-60);
  --ids-tab-color-border-bottom: var(--ids-color-neutral-70);

  // Tab (Module Variant)
  --ids-tab-module-color-background-default: var(--ids-color-neutral-70);
  --ids-tab-module-color-border-right: var(--ids-color-azure-100);
  --ids-tab-module-color-text-default: var(--ids-color-azure-10);
  --ids-tab-module-color-background-hover: var(--ids-color-neutral-100);
  --ids-tab-module-color-text-hover: var(--ids-color-neutral-00);
  --ids-tab-module-color-background-selected: var(--ids-color-neutral-60);
  --ids-tab-module-color-background-disabled: var(--ids-color-neutral-50);
  --ids-tab-module-color-text-disabled: var(--ids-color-neutral-30);

  // Tag
  --ids-tag-color-background-default: var(--ids-input-color-background-readonly);
  --ids-tag-color-border: var(--ids-input-color-background-readonly);
  --ids-tag-border-radius: var(--ids-border-radius-04);
  --ids-tag-color-text-default: var(--ids-input-color-text);
  --ids-tag-font-size-default: var(--ids-font-size-30);
  --ids-tag-color-icon-hover: var(--ids-input-color-border-hover);
  --ids-tag-secondary-color-background: var(--ids-input-color-background-default);
  --ids-tag-secondary-color-border: var(--ids-input-color-border-default);
  --ids-tag-color-text-disabled: var(--ids-color-neutral-40);
  --ids-tag-secondary-color-text-disabled: var(--ids-color-neutral-50);

  // Textarea
  --ids-textarea-color-background-default: transparent;
  --ids-textarea-color-background-disabled: transparent;
  --ids-textarea-color-border-disabled: var(--ids-color-neutral-60);
  --ids-textarea-color-text-disabled: var(--ids-color-neutral-60);
  --ids-textarea-color-border-error-default: var(--ids-color-error-50);
  --ids-textarea-color-border-hover: var(--ids-color-neutral-40);
  --ids-textarea-color-background-readonly: var(--ids-color-neutral-70);
  --ids-textarea-color-border-readonly: var(--ids-color-neutral-40);
  --ids-textarea-color-text-readonly: var(--ids-color-neutral-10);
  --ids-textarea-color-text-default: var(--ids-color-neutral-00);

  // Time Picker
  --ids-time-picker-popup-color-background: var(--ids-color-neutral-80);
  --ids-time-picker-popup-colons-color-text: var(--ids-color-neutral-30);
  --ids-time-picker-popup-button-color-border: var(--ids-color-neutral-50);
  --ids-time-picker-popup-button-color-text-hover: var(--ids-color-azure-20);
  --ids-time-picker-popup-button-color-text-default: var(--ids-color-azure-30);

  // Toast
  --ids-toast-color-background: var(--ids-color-neutral-70);
  --ids-toast-color-border: var(--ids-color-neutral-50);
  --ids-toast-color-text: var(--ids-color-neutral-00);
  --ids-toast-progress-color-background: var(--ids-progress-bar-fill-color-background);

  // Tooltip
  --ids-tooltip-color-background: var(--ids-color-neutral-00);
  --ids-tooltip-color-text: var(--ids-color-neutral-100);
  --ids-tooltip-shadow: 0 2px 5px rgb(239 239 240 / 0.4);

  // Toolbar
  --ids-toolbar-formatter-color-background: var(--ids-color-neutral-20);

  // Trigger Field
  --ids-trigger-field-icon-color: var(--ids-color-neutral-30);

  // Tree Node
  --ids-tree-node-color-text-disabled: var(--ids-color-neutral-60);
  --ids-tree-node-color-border-focus: var(--ids-color-azure-60);
  --ids-tree-node-color-text-hover: var(--ids-color-neutral-00);
  --ids-tree-node-color-background-selected: var(--ids-color-neutral-60);
  --ids-tree-node-color-text-selected: var(--ids-color-neutral-00);
  --ids-tree-node-color-text-default: var(--ids-color-neutral-40);

  // Treemap
  --ids-tree-treemap-color-border: var(--ids-color-neutral-90);
  --ids-tree-treemap-title-color-background: var(--ids-color-neutral-30);
  --ids-tree-treemap-title-color-text: var(--ids-color-neutral-100);

  // Upload Advanced
  --ids-upload-advanced-color-background-default: var(--ids-color-neutral-70);
  --ids-upload-advanced-color-background-disabled: var(--ids-color-neutral-70);
  --ids-upload-advanced-color-border-disabled: var(--ids-color-neutral-50);
  --ids-upload-advanced-color-background-drag-enter: var(--ids-color-neutral-80);
  --ids-upload-advanced-color-border-drag-enter: var(--ids-color-azure-60);
  --ids-upload-advanced-color-background-hover: var(--ids-color-neutral-60);
  --ids-upload-advanced-color-border-hover: var(--ids-color-neutral-40);
  --ids-upload-advanced-color-text-hover: var(--ids-color-neutral-20);
  --ids-upload-advanced-hyperlink-box-focus-shadow: var(--ids-shadow-30);
  --ids-upload-advanced-color-border-focus: var(--ids-color-primary);
  --ids-upload-advanced-label-color-text: var(--ids-color-neutral-30);
  --ids-upload-advanced-color-text-default: var(--ids-color-neutral-20);

  // Week View
  --ids-week-view-color-border: var(--ids-color-neutral-70);
  --ids-week-view-row-odd-color-border: var(--ids-color-neutral-80);

  // Wizard
  --ids-wizard-step-color-default: var(--ids-color-primary-40);
  --ids-wizard-step-color-unvisited: var(--ids-color-neutral-40);
 }
