// Colors
:root {
  // Color Palette
  --ids-color-amber-10: #FEF2E5;
  --ids-color-amber-20: #FDDFBD;
  --ids-color-amber-30: #FCC888;
  --ids-color-amber-40: #FBAF50;
  --ids-color-amber-50: #FA9601;
  --ids-color-amber-60: #F98300;
  --ids-color-amber-70: #DF6F00;
  --ids-color-amber-80: #CD6200;
  --ids-color-amber-90: #B50;
  --ids-color-amber-100: #A14100;
  --ids-color-amethyst-10: #F1EBFC;
  --ids-color-amethyst-20: #DDCBF7;
  --ids-color-amethyst-30: #C2A1F1;
  --ids-color-amethyst-40: #A876EB;
  --ids-color-amethyst-50: #8D4BE5;
  --ids-color-amethyst-60: #7928E1;
  --ids-color-amethyst-70: #6C23C9;
  --ids-color-amethyst-80: #591DA8;
  --ids-color-amethyst-90: #4E1A91;
  --ids-color-amethyst-100: #3B1470;
  --ids-color-azure-10: #E6F1FD;
  --ids-color-azure-20: #BEDCFA;
  --ids-color-azure-30: #8ABFF7;
  --ids-color-azure-40: #55A3F3;
  --ids-color-azure-50: #1C86EF;
  --ids-color-azure-60: #0072ED;
  --ids-color-azure-70: #0066D4;
  --ids-color-azure-80: #0054B1;
  --ids-color-azure-90: #004A99;
  --ids-color-azure-100: #003876;
  --ids-color-emerald-10: #EBF9F1;
  --ids-color-emerald-20: #CBEFDC;
  --ids-color-emerald-30: #A1E4BF;
  --ids-color-emerald-40: #78D8A3;
  --ids-color-emerald-50: #4DCC86;
  --ids-color-emerald-60: #2AC371;
  --ids-color-emerald-70: #25AF65;
  --ids-color-emerald-80: #1F9254;
  --ids-color-emerald-90: #1C7F49;
  --ids-color-emerald-100: #156138;
  --ids-color-ruby-10: #FBE7E8;
  --ids-color-ruby-20: #F5C3C4;
  --ids-color-ruby-30: #EE9496;
  --ids-color-ruby-40: #E66467;
  --ids-color-ruby-50: #DF3539;
  --ids-color-ruby-60: #DA1217;
  --ids-color-ruby-70: #C31014;
  --ids-color-ruby-80: #A30D11;
  --ids-color-ruby-90: #8D0B0E;
  --ids-color-ruby-100: #6C080B;
  --ids-color-turquoise-10: #ECF8F8;
  --ids-color-turquoise-20: #CFEEEE;
  --ids-color-turquoise-30: #A8E1E1;
  --ids-color-turquoise-40: #82D4D4;
  --ids-color-turquoise-50: #5CC6C7;
  --ids-color-turquoise-60: #40BDBE;
  --ids-color-turquoise-70: #39A9AA;
  --ids-color-turquoise-80: #2F8D8E;
  --ids-color-turquoise-90: #297B7B;
  --ids-color-turquoise-100: #1F5E5E;
  --ids-color-slate-10: #FAFAFA;
  --ids-color-slate-20: #E5E5E6;
  --ids-color-slate-30: #CACACE;
  --ids-color-slate-40: #B0B0B5;
  --ids-color-slate-50: #96969C;
  --ids-color-slate-60: #7C7C83;
  --ids-color-slate-70: #636369;
  --ids-color-slate-80: #4A4A4F;
  --ids-color-slate-90: #313135;
  --ids-color-slate-100: #19191A;

  // Color Progressions
  --ids-color-primary-10: var(--ids-color-azure-10);
  --ids-color-primary-20: var(--ids-color-azure-20);
  --ids-color-primary-30: var(--ids-color-azure-30);
  --ids-color-primary-40: var(--ids-color-azure-40);
  --ids-color-primary-50: var(--ids-color-azure-50);
  --ids-color-primary-60: var(--ids-color-azure-60);
  --ids-color-primary-70: var(--ids-color-azure-70);
  --ids-color-primary-80: var(--ids-color-azure-80);
  --ids-color-primary-90: var(--ids-color-azure-90);
  --ids-color-primary-100: var(--ids-color-azure-100);
  --ids-color-text-on-error: var(--ids-color-neutral-00);
  --ids-color-error-10: var(--ids-color-ruby-10);
  --ids-color-error-20: var(--ids-color-ruby-20);
  --ids-color-error-30: var(--ids-color-ruby-30);
  --ids-color-error-50: var(--ids-color-ruby-50);
  --ids-color-error-60: var(--ids-color-ruby-60);
  --ids-color-error-70: var(--ids-color-ruby-70);
  --ids-color-error-80: var(--ids-color-ruby-80);
  --ids-color-error-default: var(--ids-color-ruby-60);
  --ids-color-shadow-error: rgba(218 18 23 / 0.3);
  --ids-color-text-on-warning: var(--ids-color-neutral-00);
  --ids-color-warning-10: var(--ids-color-amber-10);
  --ids-color-warning-30: var(--ids-color-amber-30);
  --ids-color-warning-40: var(--ids-color-amber-60);
  --ids-color-warning-50: var(--ids-color-amber-50);
  --ids-color-warning-80: var(--ids-color-amber-80);
  --ids-color-warning-100: var(--ids-color-amber-100);
  --ids-color-warning-default: var(--ids-color-amber-60);
  --ids-color-shadow-warning: rgba(249 131 0 / 0.3);
  --ids-color-text-on-caution: var(--ids-color-neutral-100);
  --ids-color-caution-10: var(--ids-color-amber-10);
  --ids-color-caution-30: var(--ids-color-amber-30);
  --ids-color-caution-default: #FFD100;
  --ids-color-text-on-success: var(--ids-color-neutral-00);
  --ids-color-success-10: var(--ids-color-emerald-10);
  --ids-color-success-30: var(--ids-color-emerald-30);
  --ids-color-success-50: var(--ids-color-emerald-50);
  --ids-color-success-80: var(--ids-color-emerald-80);
  --ids-color-success-100: var(--ids-color-emerald-100);
  --ids-color-success-default: var(--ids-color-emerald-60);
  --ids-color-shadow-success: rgba(42 195 113 / 0.3);
  --ids-color-text-on-info: var(--ids-color-neutral-00);
  --ids-color-info-10: var(--ids-color-azure-10);
  --ids-color-info-30: var(--ids-color-azure-30);
  --ids-color-info-60: var(--ids-color-azure-60);
  --ids-color-info-70: var(--ids-color-azure-70);
  --ids-color-info-80: var(--ids-color-azure-80);
  --ids-color-info-default: #0064D4;
  --ids-color-shadow-info: rgba(0 102 212 / 0.3);
  --ids-color-neutral-00: #fff;
  --ids-color-neutral-10: var(--ids-color-slate-10);
  --ids-color-neutral-20: var(--ids-color-slate-20);
  --ids-color-neutral-30: var(--ids-color-slate-30);
  --ids-color-neutral-40: var(--ids-color-slate-40);
  --ids-color-neutral-50: var(--ids-color-slate-50);
  --ids-color-neutral-60: var(--ids-color-slate-60);
  --ids-color-neutral-70: var(--ids-color-slate-70);
  --ids-color-neutral-80: var(--ids-color-slate-80);
  --ids-color-neutral-90: var(--ids-color-slate-90);
  --ids-color-neutral-100: var(--ids-color-slate-100);
}
