<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.84.1/dist/js/sohoxi.js"></script>
  <link id="stylesheet" href="https://unpkg.com/ids-enterprise@4.84.1/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-theme-switcher mode="light"></ids-theme-switcher>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Search Field - Default</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="xl" padding-x="md">
      <ids-layout-grid-cell>
        <ids-layout-flex direction="row" justify-content="space-between" wrap="wrap" align-items="flex-start" cols="3" gap="xl" padding-x="md">
          <ids-layout-flex-item>
            <ids-search-field clearable dirty-tracker label="Products" value="Anti-virus Software" validate="required"></ids-search-field>
            <ids-search-field clearable readonly label="Read-only Search Bar" value="Cellphone"></ids-search-field>
          </ids-layout-flex-item>
          <ids-layout-flex-item>
            <ids-search-field clearable label="Search Field with Hidden Label" label-state="hidden" placeholder="Custom placeholder text"></ids-search-field>
            <form>
              <ids-search-field label="Search Wrapped in a Form tag" value="Cellphone" clearable></ids-search-field>
            </form>
          </ids-layout-flex-item>
          <ids-layout-flex-item>
            <ids-search-field disabled label="Disabled Search Bar" value="Anti-virus Software"></ids-search-field>
            <ids-search-field clearable color-variant="alternate" label="Alternate Color Search Bar" value="Cellphone">
            </ids-search-field>
          </ids-layout-flex-item>
        </ids-layout-flex>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="xl" padding-x="md">
      <ids-layout-grid-cell>
        <ids-search-field
          id="search-field-autocomplete"
          label="Autocomplete Search Bar"
          placeholder="Search states..."
          autocomplete
          search-field="label"
        ></ids-search-field>
      </ids-layout-grid-cell>
    </ids-layout-grid>


    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Search Field - Categories</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="1" gap="xl" padding-x="md">
      <ids-layout-grid-cell>
        <ids-layout-flex direction="row" justify-content="space-between" wrap="wrap" align-items="flex-start" cols="3" gap="xl" padding-x="md">
          <ids-layout-flex-item>
            <ids-search-field id="categories" clearable category="Files" label="Categories" placeholder="Type a search term" value=""></ids-search-field>
            <ids-search-field id="categories-multiple" multiple clearable category="Files" label="Categories (multiple)" placeholder="Type a search term" value=""></ids-search-field>
          </ids-layout-flex-item>

          <ids-layout-flex-item>
            <ids-search-field id="categories-button" clearable category="Files" label="Categories and Button" placeholder="Search" value="" action="Go"></ids-search-field>
            <ids-search-field id="categories-button-multiple" multiple clearable category="Files" label="Categories and Button (multiple)" placeholder="Search" value="" action="Go"></ids-search-field>
          </ids-layout-flex-item>

          <ids-layout-flex-item>
            <ids-search-field id="categories-short" clearable label="Categories Short" value=""></ids-search-field>
            <ids-search-field id="categories-short-multiple" multiple clearable label="Categories Short (multiple)" value="" action="Go"></ids-search-field>
          </ids-layout-flex-item>
        </ids-layout-flex>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="1" padding="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Inside a Header:</ids-text>
        <ids-header>
          <ids-toolbar>
            <ids-toolbar-section>
              <ids-button icon="menu" role="button">
                <span class="audible">Application Menu Trigger</span>
              </ids-button>
            </ids-toolbar-section>
            <ids-toolbar-section type="title">
              <ids-text font-size="20">My Header</ids-text>
              <ids-text font-size="14">With some extra information below</ids-text>
            </ids-toolbar-section>
            <ids-toolbar-section type="search" align="end">
              <ids-search-field clearable color-variant="alternate" label-state="collapsed" id="header-search" no-margins placeholder="Type to Search"></ids-search-field>
            </ids-toolbar-section>
            <ids-theme-switcher mode="light"></ids-theme-switcher>
          </ids-toolbar>
        </ids-header>
      </ids-layout-grid-cell>
    </ids-layout-grid>


    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">4.x Search Field</ids-text>
    </ids-layout-grid>

    <div class="row">
      <div class="six columns">
        <h2>Searchfield Example: Categories Full Length</h2>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <div class="field">
          <label for="category-searchfield-full">Category-Driven Single-Selectable Searchfield</label>
          <input data-init="false" id="category-searchfield-full" class="searchfield" />
        </div>
      </div>
      <div class="six columns">
        <div class="field">
          <label for="multi-category-searchfield-full">Category-Driven Multi-Selectable Searchfield</label>
          <input data-init="false" id="multi-category-searchfield-full" class="searchfield" />
        </div>
      </div>
    </div>

    <script id="test-script">
      var singlesearchfield = $('#category-searchfield-full'),
      multisearchfield = $('#multi-category-searchfield-full'),
      singleCategoryData = [
        {name: 'Animals', id: 'animals-single', value: 'an', checked: false},
        {name: 'Baby', id: 'baby-single', value: 'ba', checked: false},
        {name: 'Clothing', id: 'clothing-single', value: 'cl', checked: false},
        {name: 'Images', id: 'images-single', value: 'im', checked: true},
        {name: 'People', id: 'people-single', value: 'pe', checked: false},
        {name: 'Places', id: 'places-single', value: 'pl', checked: false}
      ],
      multiCategoryData = [
        {name: 'Animals', id: 'animals-multi', value: 'an', checked: true},
        {name: 'Baby', id: 'baby-multi', value: 'ba', checked: false},
        {name: 'Clothing', id: 'clothing-multi', value: 'cl', checked: true},
        {name: 'Images', id: 'images-multi', value: 'im', checked: true},
        {name: 'People', id: 'people-multi', value: 'pe', checked: false},
        {name: 'Places', id: 'places-multi', value: 'pl', checked: false}
      ];

      $('body').on('initialized', function() {
        singlesearchfield.searchfield({
          categories: singleCategoryData,
          showCategoryText: true
        })

        multisearchfield.searchfield({
          categories: multiCategoryData,
          categoryMultiselect: true,
          showCategoryText: true
        });
      });
    </script>

    <div class="row">
      <div class="six columns">
        <h2>Searchfield Example: Categories Compact (Short) Length</h2>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <div class="field">
          <label for="category-searchfield-short">Category-Driven Single-Selectable Searchfield</label>
          <input data-init="false" id="category-searchfield-short" class="searchfield" />
        </div>
      </div>
      <div class="six columns">
        <div class="field">
          <label for="multi-category-searchfield-short">Category-Driven Multi-Selectable Searchfield</label>
          <input data-init="false" id="multi-category-searchfield-short" class="searchfield" />
        </div>
      </div>
    </div>

    <script>
      var singlesearchfieldshort = $('#category-searchfield-short'),
      multisearchfieldshort = $('#multi-category-searchfield-short'),
      categoryData = [
        {name: 'Animals', id: 'animals', value: 'an', checked: true},
        {name: 'Baby', id: 'baby', value: 'ba', checked: false},
        {name: 'Clothing', id: 'clothing', value: 'cl', checked: true},
        {name: 'Images', id: 'images', value: 'im', checked: true},
        {name: 'People', id: 'people', value: 'pe', checked: false},
        {name: 'Places', id: 'places', value: 'pl', checked: false}
      ];

      $('body').on('initialized', function() {
        singlesearchfieldshort.searchfield({
          categories: categoryData,
          showCategoryText: false
        })

        multisearchfieldshort.searchfield({
          categories: categoryData,
          categoryMultiselect: true,
          showCategoryText: false
        });
      });
    </script>

    <div class="row">
      <div class="twelve columns">
        <h2>Searchfield Example: Categories + Go Button</h2>
      </div>
    </div>

    <div class="row top-padding">
      <div class="twelve columns">
        <div class="field">
          <label for="searchfield">Search</label>
          <input id="searchfield" data-init="false" placeholder="Search" type="text" class="searchfield"/>
          <button type="button" id="searchfield-go-button" class="btn-secondary go-button">
            <span>Go</span>
          </button>
        </div>
      </div>
    </div>

    <script>
      const data = [
        {name: 'Animals', id: 'animals-multi', value: 'an', checked: true},
        {name: 'Baby', id: 'baby-multi', value: 'ba', checked: false},
        {name: 'Clothing', id: 'clothing-multi', value: 'cl', checked: true},
        {name: 'Images', id: 'images-multi', value: 'im', checked: true},
        {name: 'People', id: 'people-multi', value: 'pe', checked: false},
        {name: 'Places', id: 'places-multi', value: 'pl', checked: true}
      ];

      $('#searchfield').searchfield({
        categories: data,
        categoryMultiselect: true,
        showCategoryText: true,
        showGoButton: true,
        goButtonAction: function(e, value, categories) {
          const categoryNames = [];
          categories.forEach(function(category) {
            if (category.checked) {
              categoryNames.push(category.name);
            }
          });

          $('body').toast({
            title: 'Selected Categories',
            message: '' + categoryNames.join(', ')
          });
        }
      })
    </script>

    <script>
      $('body').initialize();
    </script>
  </ids-container>
</body>
</html>
