
@mixin modal-host-rules() {
  :host {
    display: block;
    position: absolute;
    visibility: visible;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  :host(:not([visible])) {
    pointer-events: none;
    visibility: hidden;
  }
}

@mixin modal-content-rules() {
  .ids-modal-content {
    flex-grow: 1;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
  }

  .ids-modal-header + .ids-modal-content {
    padding-block-start: 0;
  }
}
