/* Ids Overlay Component */
:host {
  display: block;
  pointer-events: none;
}

:host([background-color="page"]) {
  z-index: -1;
}

.ids-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  outline: 0;
  position: fixed;
  pointer-events: none;

  // Animation
  background-color: rgba(var(--ids-overlay-background-color) / 0);
  transition: background-color 0.2s;

  &.visible {
    display: block;
    background-color: rgba(var(--ids-overlay-background-color) / 0.3);
    pointer-events: auto;
  }
}

:host(.contained)::part(overlay) {
  position: absolute;
}
