/* Ids Overlay Component */
:host {
  display: block;
}

.ids-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  outline: 0;
  position: fixed;

  // Animation
  background-color: rgba(0 0 0 / 0);
  transition: background-color 0.2s;

  &.visible {
    display: block;
    background-color: rgba(0 0 0 / 0.3);
  }
}
