/* Ids Overlay Component */
@import './ids-modal-base.scss';

.ids-overlay {
  @include internal-position-reset();
  @include bg-black();
  @include outline-none();

  display: none;
  position: fixed;

  // Animation
  opacity: 0;
  transition: opacity 0.2s;

  &.visible {
    @include block();

    opacity: 0.3;
  }
}
