/* Ids Overlay Component */
@import '../../core/ids-base.scss';

.ids-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  @include bg-black();
  @include outline-none();

  display: none;
  position: fixed;

  // Animation
  opacity: 0;
  transition: opacity 0.2s;

  &.visible {
    @include block();

    opacity: 0.3;
  }
}
