/* Ids Modal Component */
@import '../../themes/mixins/ids-core-mixins';

:host {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

:host(:not([visible])) {
  pointer-events: none;
}

.ids-modal {
  display: block;
  pointer-events: none;

  &[visible] {
    pointer-events: auto;
  }
}

.ids-modal-header {
  padding: var(--ids-modal-header-padding);
}

.ids-modal-content {
  padding: var(--ids-modal-content-padding);
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.ids-modal-header + .ids-modal-content {
  padding-block-start: 0;
}

.ids-modal-header,
.ids-modal-footer {
  align-items: center;
  display: flex;
}

.ids-modal-footer {
  margin: var(--ids-modal-footer-margin);
  border-top: 1px solid var(--ids-modal-footer-color-border);

  &[hidden] {
    border-top: none;
  }
}

.ids-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

::slotted([slot='buttons']) {
  flex-grow: 1;
  display: flex;
}

// =====================================================
// Alter the rules in this block to affect the border
// between buttons inside the Modal Footer

::slotted([slot='buttons']:not(:first-of-type)) {
  border-left: 1px solid var(--ids-modal-footer-color-border);
}

.ids-modal-button:not(.ids-modal-icon-button):not(:first-of-type) {
  border-left: 1px solid var(--ids-modal-footer-color-border);
}

// Media queries setup
@media screen and (min-width: $breakpoint-sm) {
  ::slotted([slot='title']) {
    font-size: var(--ids-font-size-60);
  }
}
