/* Ids Color Component */
:host {
  overflow: visible;
  display: inline-flex;
  height: fit-content;
  width: fit-content;
  padding: 1px;

  & .ids-color {
    background-color: transparent;
    border: 1px solid rgba(0 0 0 / 0.2);
    border-radius: 2px;
  }

  & .no-color {
    border: 1px solid #bbb;
    border-radius: 2px;
    position: relative;

    &::before {
      transform: rotate(-45deg);
      border-top: 2px solid var(--ids-color-error-default);
      content: '';
      left: 0;
      right: 0;
      overflow: hidden;
      position: absolute;
      width: 100%;
    }

    .color-check {
      opacity: 0;
      visibility: hidden;
    }
  }
}

:host(.outlined:hover),
:host(.outlined:focus),
:host(.outlined:focus-visible),
:host(.outlined:focus-within) {
  box-shadow: 0 0 3px 2px #0072ed4d;
  outline: 1px solid var(--ids-color-border-focus);
}

:host([disabled]) {
  opacity: 0.5;

  .ids-color {
    cursor: default;
  }
}

:host([clickable='false']) {
  .ids-color {
    cursor: default;
  }
}

:host([size='full']) {
  .ids-color {
    border: 1px solid rgba(0 0 0 / 0.2);
  }

  width: 100%;
}

.ids-color {
  background-color: var(--ids-color-neutral-100);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;

  &.xs {
    height: 18px;
    min-width: 18px;
    width: 18px;
  }

  &.sm {
    height: 20px;
    min-width: 20px;
    width: 20px;
  }

  &.mm {
    height: 24px;
    min-width: 24px;
    width: 24px;
  }

  &.md {
    height: 32px;
    min-width: 32px;
    width: 32px;
  }

  &.lg {
    height: 42px;
    min-width: 42px;
    width: 42px;
  }

  &.full {
    height: 55px;
    margin: 8px 0 18px;
    width: 100%;
  }

  ids-text {
    align-self: end;
    position: relative;
    top: 22px;
  }
}

.color-check {
  color: var(--ids-color-neutral-00);
  opacity: 0;
}

:host(.light) {
  .color-check {
    color: var(--ids-color-neutral-100);
  }
}

:host([checked]) {
  .color-check {
    opacity: 1;
  }
}
