// ================================================
// Base Media Queries

/* XSmall and up */
@media (min-width: $breakpoint-xs) {
  /* Grid cols - XSmall */
  @for $i from 1 through $grid-cols {
    :host([cols-xs='#{$i}']),
    .#{$prefix}-cols-xs-#{$i} {
      width: 100%;
      grid-template-columns: repeat($i, minmax($min-col-width, $max-col-width));
    }
  }

  /* Grid Flow - XSmall */
  :host([flow-xs="row"]),
  .#{$prefix}-flow-row {
    grid-auto-flow: row;
  }

  :host([flow-xs="column"]),
  .#{$prefix}-flow-col {
    grid-auto-flow: column;
  }

  :host([flow-xs="dense"]),
  .#{$prefix}-flow-dense {
    grid-auto-flow: dense;
  }

  :host([flow-xs="row-dense"]),
  .#{$prefix}-flow-row-dense {
    grid-auto-flow: row dense;
  }

  :host([flow-xs="column-dense"]),
  .#{$prefix}-flow-col-dense {
    grid-auto-flow: column dense;
  }
}

/* Small and up */
@media (min-width: $breakpoint-sm) {
  /* Grid Cols - Small */
  @for $i from 1 through $grid-cols {
    :host([cols-sm='#{$i}']),
    .#{$prefix}-cols-sm-#{$i} {
      width: 100%;
      grid-template-columns: repeat($i, minmax($min-col-width, $max-col-width));
    }
  }

  /* Grid Flow - Small */
  :host([flow-sm="row"]),
  .#{$prefix}-flow-row {
    grid-auto-flow: row;
  }

  :host([flow-sm="column"]),
  .#{$prefix}-flow-col {
    grid-auto-flow: column;
  }

  :host([flow-sm="dense"]),
  .#{$prefix}-flow-dense {
    grid-auto-flow: dense;
  }

  :host([flow-sm="row-dense"]),
  .#{$prefix}-flow-row-dense {
    grid-auto-flow: row dense;
  }

  :host([flow-sm="column-dense"]),
  .#{$prefix}-flow-col-dense {
    grid-auto-flow: column dense;
  }
}

/* Medium and up */
@media (min-width: $breakpoint-md) {
  /* Grid Cols - Medium */
  @for $i from 1 through $grid-cols {
    :host([cols-md='#{$i}']),
    .#{$prefix}-cols-md-#{$i} {
      width: 100%;
      grid-template-columns: repeat($i, minmax($min-col-width, $max-col-width));
    }
  }

  /* Grid Flow - Medium */
  :host([flow-md="row"]),
  .#{$prefix}-flow-row {
    grid-auto-flow: row;
  }

  :host([flow-md="column"]),
  .#{$prefix}-flow-col {
    grid-auto-flow: column;
  }

  :host([flow-md="dense"]),
  .#{$prefix}-flow-dense {
    grid-auto-flow: dense;
  }

  :host([flow-md="row-dense"]),
  .#{$prefix}-flow-row-dense {
    grid-auto-flow: row dense;
  }

  :host([flow-md="column-dense"]),
  .#{$prefix}-flow-col-dense {
    grid-auto-flow: column dense;
  }
}

/* Large and up */
@media (min-width: $breakpoint-lg) {
  /* Grid Cols - Large */
  @for $i from 1 through $grid-cols {
    :host([cols-lg='#{$i}']),
    .#{$prefix}-cols-lg-#{$i} {
      width: 100%;
      grid-template-columns: repeat($i, minmax($min-col-width, $max-col-width));
    }
  }

  /* Grid Flow - Large */
  :host([flow-lg="row"]),
  .#{$prefix}-flow-row {
    grid-auto-flow: row;
  }

  :host([flow-lg="column"]),
  .#{$prefix}-flow-col {
    grid-auto-flow: column;
  }

  :host([flow-lg="dense"]),
  .#{$prefix}-flow-dense {
    grid-auto-flow: dense;
  }

  :host([flow-lg="row-dense"]),
  .#{$prefix}-flow-row-dense {
    grid-auto-flow: row dense;
  }

  :host([flow-lg="column-dense"]),
  .#{$prefix}-flow-col-dense {
    grid-auto-flow: column dense;
  }
}

/* XLarge and up */
@media (min-width: $breakpoint-xl) {
  /* Grid Cols - XLarge */
  @for $i from 1 through $grid-cols {
    :host([cols-xl='#{$i}']),
    .#{$prefix}-cols-xl-#{$i} {
      width: 100%;
      grid-template-columns: repeat($i, minmax($min-col-width, $max-col-width));
    }
  }

  /* Grid Flow - XLarge */
  :host([flow-xl="row"]),
  .#{$prefix}-flow-row {
    grid-auto-flow: row;
  }

  :host([flow-xl="column"]),
  .#{$prefix}-flow-col {
    grid-auto-flow: column;
  }

  :host([flow-xl="dense"]),
  .#{$prefix}-flow-dense {
    grid-auto-flow: dense;
  }

  :host([flow-xl="row-dense"]),
  .#{$prefix}-flow-row-dense {
    grid-auto-flow: row dense;
  }

  :host([flow-xl="column-dense"]),
  .#{$prefix}-flow-col-dense {
    grid-auto-flow: column dense;
  }
}

/* XxLarge and up */
@media (min-width: $breakpoint-xxl) {
  /* Grid Cols - XxLarge */
  @for $i from 1 through $grid-cols {
    :host([cols-xxl='#{$i}']),
    .#{$prefix}-cols-xxl-#{$i} {
      width: 100%;
      grid-template-columns: repeat($i, minmax($min-col-width, $max-col-width));
    }
  }

  /* Grid Flow - XxLarge */
  :host([flow-xxl="row"]),
  .#{$prefix}-flow-row {
    grid-auto-flow: row;
  }

  :host([flow-xxl="column"]),
  .#{$prefix}-flow-col {
    grid-auto-flow: column;
  }

  :host([flow-xxl="dense"]),
  .#{$prefix}-flow-dense {
    grid-auto-flow: dense;
  }

  :host([flow-xxl="row-dense"]),
  .#{$prefix}-flow-row-dense {
    grid-auto-flow: row dense;
  }

  :host([flow-xxl="column-dense"]),
  .#{$prefix}-flow-col-dense {
    grid-auto-flow: column dense;
  }
}

// ================================================
// Media Queries for non-container query grids

@mixin media-queries {
  /* XSmall Viewport */
  @media (min-width: #{$breakpoint-xs}) {
    /* Grid Columns - XSmall */
    @for $i from 1 through $grid-cols {
      & > ::slotted([col-span-xs='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-span-xs-#{$i} {
        grid-column: span $i / span $i;
      }

      & > ::slotted([col-start-xs='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-start-xs-#{$i} {
        grid-column-start: $i;
      }

      > ::slotted([col-end-xs='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-end-xs-#{$i} {
        grid-column-end: $i;
      }
    }

    /* Grid Rows - XSmall */
    @for $i from 1 through $grid-rows {
      &[rows-xs='#{$i}'],
      &.#{$prefix}-rows-xs-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }

      & > ::slotted([row-span-xs='#{$i}']),
      &.#{$prefix} > .#{$prefix}-row-span-xs-#{$i} {
        grid-row: span $i / span $i;
      }

      & > ::slotted([order-xs='#{$i}']),
      &.#{$prefix} > .#{$prefix}-order-xs-#{$i} {
        order: $i;
      }

      & > ::slotted([order-xs='-1']),
      &.#{$prefix} > .#{$prefix}-order-xs--1 {
        order: -1;
      }
    }

    /* Hide/Show - XSmall */
    & > ::slotted([hide='xs']) {
      display: block;
    }
  }

  /* Small Viewport */
  @media (min-width: #{$breakpoint-sm}) {
    /* Grid Columns - Small */
    @for $i from 1 through $grid-cols {
      & > ::slotted([col-span-sm='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-span-sm-#{$i} {
        grid-column: span $i / span $i;
      }

      & > ::slotted([col-start-sm='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-start-sm-#{$i} {
        grid-column-start: $i;
      }

      & > ::slotted([col-end-sm='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-end-sm-#{$i} {
        grid-column-end: $i;
      }
    }

    /* Grid Rows - Small */
    @for $i from 1 through $grid-rows {
      &[rows-sm='#{$i}'],
      &.#{$prefix}-rows-sm-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }

      & > ::slotted([row-span-sm='#{$i}']),
      &.#{$prefix} > .#{$prefix}-row-span-sm-#{$i} {
        grid-row: span $i / span $i;
      }


      & > ::slotted([order-sm='#{$i}']),
      &.#{$prefix} > .#{$prefix}-order-sm-#{$i} {
        order: $i;
      }

      & > ::slotted([order-sm='-1']),
      &.#{$prefix} > .#{$prefix}-order-sm--1 {
        order: -1;
      }
    }

    /* Hide/Show - Small */
    & > ::slotted([hide='sm']) {
      display: block;
    }
  }

  /* Medium Viewport */
  @media (min-width: #{$breakpoint-md}) {
    /* Grid Columns - Medium */
    @for $i from 1 through $grid-cols {
      & > ::slotted([col-span-md='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-span-md-#{$i} {
        grid-column: span $i / span $i;
      }

      & > ::slotted([col-start-md='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-start-md-#{$i} {
        grid-column-start: $i;
      }

      & > ::slotted([col-end-md='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-end-md-#{$i} {
        grid-column-end: $i;
      }
    }

    /* Grid Rows - Medium */
    @for $i from 1 through $grid-rows {
      &[rows-md='#{$i}'],
      &.#{$prefix}-rows-md-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }

      & > ::slotted([row-span-md='#{$i}']),
      &.#{$prefix} > .#{$prefix}-row-span-md-#{$i} {
        grid-row: span $i / span $i;
      }

      & > ::slotted([order-md='#{$i}']),
      &.#{$prefix} > .#{$prefix}-order-md-#{$i} {
        order: $i;
      }

      & > ::slotted([order-md='-1']),
      &.#{$prefix} > .#{$prefix}-order-md--1 {
        order: -1;
      }
    }

    /* Hide/Show - Medium */
    & > ::slotted([hide='md']) {
      display: block;
    }
  }

  /* Large Viewport */
  @media (min-width: #{$breakpoint-lg}) {
    /* Grid Cols - Large */
    @for $i from 1 through $grid-cols {
      & > ::slotted([col-span-lg='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-span-lg-#{$i} {
        grid-column: span $i / span $i;
      }

      & > ::slotted([col-start-lg='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-start-lg-#{$i} {
        grid-column-start: $i;
      }

      & > ::slotted([col-end-lg='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-end-lg-#{$i} {
        grid-column-end: $i;
      }
    }

    /* Grid Rows - Large */
    @for $i from 1 through $grid-rows {
      &[rows-lg='#{$i}'],
      &.#{$prefix}-rows-lg-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }

      & > ::slotted([row-span-lg='#{$i}']),
      &.#{$prefix} > .#{$prefix}-row-span-lg-#{$i} {
        grid-row: span $i / span $i;
      }

      & > ::slotted([order-lg='#{$i}']),
      &.#{$prefix} > .#{$prefix}-order-lg-#{$i} {
        order: $i;
      }

      & > ::slotted([order-lg='-1']),
      &.#{$prefix} > .#{$prefix}-order-lg--1 {
        order: -1;
      }
    }

    /* Hide/Show - Large */
    & > ::slotted([hide='lg']) {
      display: block;
    }
  }

  /* XLarge Viewport */
  @media (min-width: #{$breakpoint-xl}) {
    /* Grid Cols - XLarge */
    @for $i from 1 through $grid-cols {
      & > ::slotted([col-span-xl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-span-xl-#{$i} {
        grid-column: span $i / span $i;
      }

      & > ::slotted([col-start-xl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-start-xl-#{$i} {
        grid-column-start: $i;
      }

      & > ::slotted([col-end-xl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-end-xl-#{$i} {
        grid-column-end: $i;
      }
    }

    /* Grid Rows - XLarge */
    @for $i from 1 through $grid-rows {
      &[rows-xl='#{$i}'],
      &.#{$prefix}-rows-xl-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }

      & > ::slotted([row-span-xl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-row-span-xl-#{$i} {
        grid-row: span $i / span $i;
      }

      & > ::slotted([order-xl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-order-xl-#{$i} {
        order: $i;
      }

      & > ::slotted([order-xl='-1']),
      &.#{$prefix} > .#{$prefix}-order-xl--1 {
        order: -1;
      }
    }

    /* Hide/Show - XLarge */
    & > ::slotted([hide='xl']) {
      display: block;
    }
  }

  /* XxLarge Viewport */
  @media (min-width: #{$breakpoint-xxl}) {
    /* Grid Cols - XxLarge */
    @for $i from 1 through $grid-cols {
      & > ::slotted([col-span-xxl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-span-xxl-#{$i} {
        grid-column: span $i / span $i;
      }

      & > ::slotted([col-start-xxl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-start-xxl-#{$i} {
        grid-column-start: $i;
      }

      & > ::slotted([col-end-xxl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-col-end-xxl-#{$i} {
        grid-column-end: $i;
      }
    }

    /* Grid Rows - XxLarge */
    @for $i from 1 through $grid-rows {
      &[rows-xxl='#{$i}'],
      &.#{$prefix}-rows-xxl-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }

      & > ::slotted([row-span-xxl='#{$i}']),
      &.#{$prefix} > .#{$prefix}-row-span-xxl-#{$i} {
        grid-row: span $i / span $i;
      }

      & > ::slotted([order-xxl='#{$i}']),
      & .#{$prefix} > .#{$prefix}-order-xxl-#{$i} {
        order: $i;
      }

      & > ::slotted([order-xxl='-1']),
      &.#{$prefix} > .#{$prefix}-order-xxl--1 {
        order: -1;
      }
    }

    /* Hide/Show - XxLarge */
    & > ::slotted([hide='xxl']) {
      display: block;
    }
  }
}
