@import '../ids-base/ids-base';

.ids-summary-form {
  @include antialiased();
  @include font-sans();

  margin-bottom: 20px;

  .label {
    @include text-slate-60();

    &::part(text) {
      margin-bottom: 8px;
    }
  }

  .data {
    color: black;
  }
}
