<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">
          Masthead
        </ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid id="ids-masthead-list" auto-fit="true" col="1" padding-x="md">
      <ids-layout-grid-cell>
        <ids-masthead title="Infor Application" icon="logo" role="navigation">
          <ids-toolbar id="my-toolbar">
            <ids-toolbar-section align="start" favor>
              <ids-layout-flex gap="8" align-items="center">
                <ids-layout-flex-item>
                  <ids-button id="logo" class="icon-logo" color-variant="alternate" square="true">
                    <ids-icon icon="logo" viewbox="0 0 32 34" width="32" height="32"></ids-icon>
                    <ids-text audible="true">Masthead logo</ids-text>
                  </ids-button>
                </ids-layout-flex-item>
                <ids-layout-flex-item>
                  <ids-text id="title" color-variant="alternate" font-size="14" font-weight="semi-bold">Infor Application</ids-text>
                </ids-layout-flex-item>
                <ids-layout-flex-item>
                  <ids-button icon="grid"><span class="audible">Grid Button</span></ids-button>
                </ids-layout-flex-item>
              </ids-layout-flex>
            </ids-toolbar-section>

            <ids-toolbar-section type="buttonset" align="start">
              <ids-button id="button-1" icon="home"><span>Home</span></ids-button>
              <ids-button id="button-2" icon="star-outlined"><span>Star</span></ids-button>
              <ids-button id="button-3" icon="info"><span>Info</span></ids-button>
            </ids-toolbar-section>

            <ids-toolbar-section type="buttonset" align="end">
              <ids-button icon="user"><span class="audible">User Button</span></ids-button>
              <ids-button icon="mingle-share"><span class="audible">Mingle Button</span></ids-button>
              <ids-button icon="bookmark-outlined"><span class="audible">Bookmark Button</span></ids-button>

              <ids-toolbar-more-actions overflow>
                <ids-menu-group>
                  <ids-menu-item value="1" disabled>Option One (disabled)</ids-menu-item>
                  <ids-menu-item value="2">Option Two</ids-menu-item>
                  <ids-menu-item value="3">Option Three</ids-menu-item>
                  <ids-menu-item>More Options
                    <ids-popup-menu>
                      <ids-menu-group>
                        <ids-menu-item value="4">Option Four</ids-menu-item>
                        <ids-menu-item value="5" disabled>Option Five (disabled)</ids-menu-item>
                        <ids-menu-item value="6">Option Six</ids-menu-item>
                      </ids-menu-group>
                    </ids-popup-menu>
                  </ids-menu-item>
                </ids-menu-group>
              </ids-toolbar-more-actions>
            </ids-toolbar-section>
          </ids-toolbar>
        </ids-masthead>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
