/* Ids Hyperlink Css */
@import '../ids-base/ids-base';

.ids-hyperlink {
  @include antialiased();
  @include text-azure-60();
  @include font-sans();
  @include font-normal();
  @include p-4();
  @include rounded-default();
  @include mb-8();

  border: 1px solid transparent;
  display: inline-block;
  margin: -4px;

  &[disabled] {
    @include text-slate-40();
    @include cursor-default();

    pointer-events: none;
    user-select: none;
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-70();
  }

  &:focus {
    border: 1px solid var(--ids-color-palette-azure-60);
    box-shadow: 0 0 4px 3px rgb(54, 138, 192, 0.3);
    outline: none;
  }
}

.ids-hyperlink-color-unset {
  color: unset !important;
}

// Handle Themes
.ids-hyperlink[mode='dark'] {
  @include text-azure-40();

  &:focus {
    border: 1px solid var(--ids-color-palette-azure-60);
    box-shadow: 0 0 4px 2px rgb(141, 201, 230, 0.3);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-60();
  }

  &[disabled] {
    @include text-slate-50();
  }
}

.ids-hyperlink[mode='contrast'] {
  @include text-azure-90();

  &:focus {
    border: 1px solid var(--ids-color-palette-azure-90);
    box-shadow: 0 0 4px 2px rgb(41, 41, 41, 0.3);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-100();
  }

  &[disabled] {
    @include text-slate-50();
  }
}

.ids-hyperlink[version='classic'][mode='light'] {
  @include text-azure-70();

  &:focus {
    box-shadow: 0 0 4px 3px rgb(54, 138, 192, 0.3);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-80();
  }

  &[disabled] {
    @include text-graphite-40();
  }
}

.ids-hyperlink[version='classic'][mode='dark'] {
  @include text-azure-40();

  &:focus {
    box-shadow: 0 0 4px 3px rgb(141, 201, 230, 0.3);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-50();
  }

  &[disabled] {
    @include text-classic-slate-50();
  }
}

.ids-hyperlink[version='classic'][mode='contrast'] {
  @include text-azure-90();

  &:focus {
    border: 1px solid var(--ids-color-palette-azure-90);
    box-shadow: 0 0 4px 2px rgb(41, 41, 41, 0.3);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-100();
  }

  &[disabled] {
    @include text-classic-slate-50();
  }
}
