/* Ids Hyperlink Css */
@import '../ids-base/ids-base';

.ids-hyperlink {
  @include antialiased();
  @include text-azure-60();
  @include font-sans();
  @include font-normal();
  @include mb-8();

  &[disabled] {
    @include text-slate-40();
    @include cursor-default();

    pointer-events: none;
    user-select: none;
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-70();
  }

  &:focus {
    border: 1px solid var(--ids-color-palette-azure-60);
    // outline-color: var(--ids-color-palette-azure-60);
    // outline-offset: 3px;
    // outline-style: solid;
    // outline-width: 1px;
  }
}

// Handle Themes
.ids-hyperlink[mode='dark'] {
  @include text-azure-40();

  &:focus {
    outline-color: var(--ids-color-palette-azure-40);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-60();
  }

  &[disabled] {
    @include text-slate-50();
  }
}

.ids-hyperlink[mode='contrast'] {
  @include text-azure-90();

  &:focus {
    outline-color: var(--ids-color-palette-azure-90);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-100();
  }

  &[disabled] {
    @include text-slate-50();
  }
}

.ids-hyperlink[version='classic'][mode='light'] {
  @include text-azure-70();

  &:focus {
    outline-color: var(--ids-color-palette-azure-70);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-80();
  }

  &[disabled] {
    @include text-graphite-40();
  }
}

.ids-hyperlink[version='classic'][mode='dark'] {
  @include text-azure-40();

  &:focus {
    outline-color: var(--ids-color-palette-azure-40);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-50();
  }

  &[disabled] {
    @include text-classic-slate-50();
  }
}

.ids-hyperlink[version='classic'][mode='contrast'] {
  @include text-azure-90();

  &:focus {
    outline-color: var(--ids-color-palette-azure-90);
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    @include text-azure-100();
  }

  &[disabled] {
    @include text-classic-slate-50();
  }
}
