:host {
  --ids-badge-disabled-background-color: var(--ids-list-view-item-color-background-disabled);
  --ids-badge-disabled-border-color: var(--ids-list-view-item-color-border-disabled);
  --ids-badge-disabled-text-color: var(--ids-list-view-item-badge-color-text-disabled);
}

li,
:host {
  border: none;
  margin: 0;
  padding: 0;

  .list-item-area {
    display: flex;
    align-items: center;
    padding: var(--ids-list-view-item-padding);

    .list-item-content {
      width: 100%;
    }
  
    .list-item-checkbox {
      padding-inline-end: var(--ids-space-70);
      flex-grow: 0;
      flex-shrink: 0;
      max-height: var(--ids-space-60);
      max-width: var(--ids-space-60);
    }
  
    .list-item-checkbox[disabled]::part(checkmark) {
      background-color: transparent;
    }
  }
}

.selectable,
:host-context([selectable]),
:host-context(.selectable) {
  cursor: var(--ids-cursor-pointer);
}

li[selected],
:host(:hover),
:host([active]),
:host([selected]:not([hide-selected-color])) {
  &:not(.disabled),
  &:not([disabled]) {
    .list-item-area {
      background-color: var(--ids-list-view-color-background-selected);
    }
  }
}

.disabled,
[disabled],
ids-list-view-item[disabled],
:host(:hover[disabled]),
:host([disabled]:hover),
:host([disabled]),
:host-context([disabled]),
:host-context(.disabled) {
  .list-item-area {
    background-color: var(--ids-list-view-item-color-background-default);
    color: var(--ids-list-view-item-color-text-disabled);
    cursor: var(--ids-cursor-default);
    pointer-events: none;
    user-select: none;
  }

  &:focus {
    border-color: var(--ids-list-view-item-color-border-disabled-focus);
    border-top-color: var(--ids-list-view-item-top-color-border-disabled-focus);
    box-shadow: var(--ids-list-view-item-shadow-disabled-focus);
  }
}
