:host([selectable]) {
  .ids-list-view .ids-list-view-body {
    div[part='list-item'],
    li {
      cursor: var(--ids-cursor-pointer);
    }
  }
}

:host([no-margins]) {
  .ids-list-view .ids-list-view-body {
    div[part='list-item'],
    li {
      &:first-child {
        margin-block-start: var(--ids-space-none);
      }
    }
  }
}

.ids-list-view {
  height: var(--ids-list-view-height);
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;

  .ids-list-view-body {
    margin: 0;
    padding: 0;

    &:focus {
      border-color: var(--ids-list-view-color-border-focus);
    }

    div[part='list-item'],
    li {
      background-color: var(--ids-list-view-item-color-background-default);
      border: var(--ids-list-view-item-border);
      border-top-color: var(--ids-list-view-item-color-border-top);
      contain: content;
      list-style-type: none;
      padding: var(--ids-list-view-item-padding);

      &:first-child {
        margin-block-start: var(--ids-space-20);
      }

      &:focus {
        border-color: var(--ids-list-view-item-color-border-focus);
        box-shadow: var(--ids-list-view-item-shadow-focus);
        outline: var(--ids-list-view-item-outline-focus);

        + div[part='list-item'] {
          border-top-color: transparent;
        }
      }

      &.sortable {
        background-color: transparent;
        border: none;
        cursor: inherit;

        &:first-child {
          margin-block-start: var(--ids-space-none);
        }
      }

      &[disabled] {
        color: var(--ids-list-view-item-color-text-disabled);
        cursor: var(--ids-cursor-default);
        pointer-events: none;
        user-select: none;

        &:focus {
          border-color: var(--ids-list-view-item-color-border-disabled-focus);
          border-top-color: var(--ids-list-view-item-top-color-border-disabled-focus);
          box-shadow: var(--ids-list-view-item-shadow-disabled-focus);
        }

        ids-badge::part(badge) {
          background-color: var(--ids-list-view-item-color-background-disabled);
          border-color: var(--ids-list-view-item-color-border-disabled);
          color: var(--ids-list-view-item-badge-color-text-disabled);
        }

        ids-hyperlink::part(link) {
          color: var(--ids-list-view-item-color-text-link-disabled);
        }

        ids-image {
          opacity: var(--ids-list-view-item-opacity-disabled);
        }
      }
    }
  }

  &.has-searchfield .ids-list-view-body {
    div[part='list-item'],
    li {
      &:first-child {
        margin-block-start: 8px;
      }
    }
  }

  &.selectable-single .ids-list-view-body,
  &.selectable-multiple .ids-list-view-body,
  &.selectable-mixed .ids-list-view-body {
    div[part='list-item']:not([disabled]):not(.sortable),
    li:not([disabled]):not(.sortable) {
      &:hover,
      &[activated],
      &[selected]:not([hide-selected-color]) {
        background-color: var(--ids-list-view-color-background-selected);
      }
    }
  }

  &.selectable-multiple,
  &.selectable-mixed {
    .list-item-area {
      display: flex;
      align-items: center;

      .list-item-checkbox {
        padding-inline-end: var(--ids-space-70);
        flex-grow: 0;
        flex-shrink: 0;
        max-height: var(--ids-space-60);
        max-width: var(--ids-space-60);
      }

      .list-item-checkbox[disabled]::part(checkmark) {
        background-color: transparent;
      }
    }
  }

  &.is-scrolling {
    box-shadow: var(--ids-scroll-shadow);
    border-top: var(--ids-scroll-color-border-top);
  }
}

ids-swappable-item {
  border: 1px solid transparent;
  border-bottom-color: var(--ids-color-neutral-20);
}

ids-swappable-item[over] {
  border: 1px dashed var(--ids-color-neutral-80);
}

.ids-list-view-search {
  margin-bottom: 8px;
}
