@import '../../core/ids-base';

:host([selectable]) {
  .ids-list-view .ids-list-view-body {
    div[part='list-item'],
    li {
      cursor: pointer;
    }
  }
}

:host([no-margins]) {
  .ids-list-view .ids-list-view-body {
    div[part='list-item'],
    li {
      &:first-child {
        @include mt-0();
      }
    }
  }
}

.ids-list-view {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;

  .ids-list-view-body {
    margin: 0;
    padding: 0;

    &:focus {
      @include border-azure-40();
    }

    div[part='list-item'],
    li {
      @include bg-white();
      @include list-none();
      @include py-12();
      @include px-20();

      border: 1px solid transparent;
      border-top-color: var(--ids-color-palette-slate-20);
      contain: content;

      &:first-child {
        @include mt-2();
      }

      &:focus {
        @include border-azure-40();

        box-shadow: 0 0 4px 1px rgb(54 138 192 / 0.3);
        outline: none;
      }

      &.sortable {
        background-color: transparent;
        border: none;
        cursor: inherit;

        &:first-child {
          @include mt-0();
        }
      }

      &[disabled] {
        @include text-slate-30();

        cursor: var(--ids-cursor-default);
        pointer-events: none;
        user-select: none;

        &:focus {
          @include border-transparent();

          border-top-color: var(--ids-color-palette-slate-20);
          box-shadow: none;
        }
      }

      &[disabled] ids-badge::part(badge) {
        background-color: var(--ids-color-palette-slate-30);
        border-color: var(--ids-color-palette-slate-30);
      }

      &[disabled] ids-hyperlink::part(link) {
        @include text-slate-30();
      }

      &[disabled] ids-image {
        @include bg-opacity-50();
      }
    }
  }

  &.has-searchfield .ids-list-view-body {
    div[part='list-item'],
    li {
      &:first-child {
        @include mt-0();
      }
    }
  }

  &.selectable-single .ids-list-view-body,
  &.selectable-multiple .ids-list-view-body,
  &.selectable-mixed .ids-list-view-body {
    div[part='list-item']:not([disabled]):not(.sortable),
    li:not([disabled]):not(.sortable) {
      &:hover,
      &[activated],
      &[selected]:not([hide-selected-color]) {
        @include bg-azure-10();
      }
    }
  }

  &.selectable-multiple,
  &.selectable-mixed {
    .list-item-area {
      display: flex;
      align-items: center;

      .list-item-checkbox {
        @include pr-20();

        flex-grow: 0;
        flex-shrink: 0;
        max-height: 16px;
        max-width: 16px;
      }

      .list-item-checkbox[disabled]::part(checkmark) {
        @include bg-transparent();
      }
    }
  }
}

ids-swappable-item {
  border: 1px solid transparent;
  border-bottom-color: var(--ids-color-palette-slate-20);
}

ids-swappable-item[over] {
  border: 1px dashed var(--ids-color-palette-slate-80);
}

// Handle Themes (dark)
.ids-list-view[mode='dark'] {
  div[part='list-item'] {
    @include bg-slate-90();

    border-top-color: var(--ids-color-palette-slate-70);

    &:focus {
      @include border-azure-70();

      box-shadow: none;
    }

    &[disabled] {
      @include text-slate-50();

      &:focus {
        border-top-color: var(--ids-color-palette-slate-70);
      }

      ids-hyperlink::part(link) {
        @include text-slate-50();
      }

      ids-badge::part(badge) {
        @include text-slate-50();

        background-color: var(--ids-color-palette-slate-80);
        border-color: var(--ids-color-palette-slate-80);
      }
    }
  }

  &.selectable-single .ids-list-view-body,
  &.selectable-multiple .ids-list-view-body,
  &.selectable-mixed .ids-list-view-body {
    div[part='list-item']:not([disabled]),
    li:not([disabled]) {
      &:hover,
      &[activated],
      &[selected]:not([hide-selected-color]) {
        @include bg-azure-100();
      }
    }
  }
}

// Handle Themes (contrast)
.ids-list-view[mode='contrast'] {
  div[part='list-item'] {
    @include bg-white();
    @include text-black();

    border-top-color: var(--ids-color-palette-slate-60);

    &:focus {
      @include border-azure-70();

      + div[part='list-item'] {
        border-top-color: transparent;
      }
    }

    &[disabled] {
      &:focus {
        border-top-color: var(--ids-color-palette-slate-60);

        + div[part='list-item'] {
          border-top-color: var(--ids-color-palette-slate-60);
        }
      }
    }
  }

  &.selectable-single .ids-list-view-body,
  &.selectable-multiple .ids-list-view-body,
  &.selectable-mixed .ids-list-view-body {
    div[part='list-item']:not([disabled]),
    li:not([disabled]) {
      &:hover,
      &[activated],
      &[selected]:not([hide-selected-color]) {
        @include bg-azure-20();
      }
    }
  }

  &.selectable-single,
  &.selectable-multiple,
  &.selectable-mixed {
    .list-item-area .list-item-checkbox[disabled]::part(checkmark) {
      @include border-slate-30();

      border-color: var(--ids-color-palette-slate-30);
    }
  }
}
