:host {
  display: block;
  width: 100%;
  height: 100%;

  slot {
    display: block;
  }
}

:host([no-margins]) {
  .ids-list-view .ids-list-view-body {
    li,
    ids-list-view-item,
    ::slotted(li),
    ::slotted(ids-list-view-item) {
      &:first-child {
        margin-block-start: var(--ids-space-none);
      }
    }
  }
}

:host([searchable]),
.has-searchfield {
  .ids-list-view-body:first-child {
    margin-block-start: 8px;
  }
}

.ids-list-view {
  height: var(--ids-list-view-height);
  overflow: auto;
  position: relative;

  .ids-list-view-body {
    margin: 0;
    padding: 0;

    &:focus {
      border-color: var(--ids-list-view-color-border-focus);
    }

    li {
      padding: var(--ids-list-view-item-padding);
      background-color: var(--ids-list-view-item-color-background-default);
      border: var(--ids-list-view-item-border);
      border-top-color: var(--ids-list-view-item-color-border-top);
      contain: content;
      list-style-type: none;
    }
  }

  &.selectable-multiple,
  &.selectable-mixed {
    .list-item-area {
      display: flex;
      align-items: center;

      .list-item-checkbox {
        padding-inline-end: var(--ids-space-20);
        flex-grow: 0;
        flex-shrink: 0;
        max-height: var(--ids-space-sm);
        max-width: var(--ids-space-sm);
      }

      .list-item-checkbox[disabled]::part(checkmark) {
        background-color: transparent;
      }
    }
  }

  &.is-scrolling {
    box-shadow: var(--ids-scroll-shadow);
    border-top: var(--ids-scroll-color-border-top);
  }
}

ids-swappable-item {
  border-bottom-color: var(--ids-color-gray-20);
  border: none;

  ids-list-view-item[selected],
  &:hover::before {
    color: var(--ids-color-text-default);
  }
}

ids-swappable-item[over] {
  border: 1px dashed var(--ids-color-gray-80);
}

::slotted(ids-search-field) {
  margin-bottom: 8px;
}

.sortable .ids-list-view,
[sortable] .ids-list-view,
:host(.sortable),
:host([sortable]) {
  li:hover,
  li:focus,
  li:focus-visible,
  li:focus-within,
  ids-list-view-item:hover,
  ids-list-view-item:focus,
  ids-list-view-item:focus-visible,
  ids-list-view-item:focus-within,
  ::slotted(li:hover),
  ::slotted(li:focus),
  ::slotted(li:focus-visible),
  ::slotted(li:focus-within),
  ::slotted(ids-list-view-item:hover),
  ::slotted(ids-list-view-item:focus),
  ::slotted(ids-list-view-item:focus-visible),
  ::slotted(ids-list-view-item:focus-within) {
    cursor: default;
  }

  ::slotted(ids-list-view-item[selected]) {
    color: var(--ids-color-text-default);
  }
}
