<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="0" hidden>
    <ids-header>
      <ids-layout-grid auto-fit="true" padding="sm">
        <ids-layout-grid-cell>
          <ids-breadcrumb truncate="true">
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">First Item</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#" disabled>Second Item</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Page Pane Test</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Products for Jamis Bikes</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Basic Form</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Bar Chart List</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Three Element Overlapped Bar List</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Three Element Bar No Legend List</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Bar Chart No Legend List</ids-hyperlink>
          </ids-breadcrumb>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-header>
    <ids-theme-switcher mode="light" hidden></ids-theme-switcher>
  </ids-container>
</body>
</html>
