<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Ids Input (Masked) with guides/positions retained</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-input id="mask-phone-number-guides" label="Phone Number (guides)" placeholder="(###) ###-####"></ids-input>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-input id="mask-phone-number-positions" label="Phone Number (retain positions)" placeholder="(###) ###-####"></ids-input>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-input id="mask-phone-number-both" label="Phone Number (both)" placeholder="(###) ###-####"></ids-input>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
