<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Ids Input (Masked)</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-input id="mask-phone-number" label="Phone Number"
          placeholder="(###) ###-####"></ids-input>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-input id="mask-date" label="Date/Time"
          placeholder="M/d/yyyy HH:mm a"></ids-input>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-input id="mask-number" label="Formatted Number"
          placeholder="-1,000,000.00"></ids-input>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
