<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Masked Inputs (Localized Dates)</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-input id="mask-date-short" size="sm" label="Short Date"></ids-input>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-input id="mask-date-time" size="sm" label="Timestamp"></ids-input>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
