{{> ../layouts/head-side-by-side.html }}

<ids-layout-grid auto="true">
  <h2 class="ids-text ids-text-px-12">Web Component Mask</h2>
</ids-layout-grid>
<ids-layout-grid cols="3" gap="md">
  <ids-layout-grid-cell>
    <ids-input id="mask-phone-number" label="Phone Number"
      placeholder="(###) ###-####"></ids-input>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
    <ids-input id="mask-date" label="Date/Time"
      placeholder="M/d/yyyy HH:mm a"></ids-input>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
    <ids-input id="mask-number" label="Formatted Number"
      placeholder="-1,000,000.00"></ids-input>
  </ids-layout-grid-cell>
</ids-layout-grid>

<ids-layout-grid auto="true">
  <h2 class="ids-text ids-text-px-12">4.x Mask</h2>
</ids-layout-grid>
<div class="row">
  <div class="one-half column">
    <div class="field">
      <label for="decimal-field">Currency Field</label>
      <input id="decimal-field" name="decimal-field" type="text" inputmode="numeric" placeholder="0.00" class="new-mask" data-options="{ 'process': 'number', 'patternOptions': { 'allowDecimal': true, 'integerLimit': 3, 'decimalLimit': 2, 'prefix' : '$'', 'symbols': { 'decimal': '.' } } }" />
    </div>

    <div class="field">
      <label for="phone-number">Phone Number</label>
      <input id="phone-number" name="phone-number" type="text" placeholder="(123) 456-7890" class="new-mask" data-options="{ 'pattern' : '(###) ###-####' }" />
    </div>

    <div class="field">
      <label for="datetime-input">Date Input with Time</label>
      <input id="datetime-input" name="datetime-input" type="text" class="new-mask" placeholder="M/d/yyyy h:mm am" data-options="{ 'process': 'date', 'patternOptions': { 'format': 'M/d/yyyy h:mm a' } }" data-validate="date"/>
    </div>
  </div>
</div>

<script>
  $('body').initialize();
</script>
{{> ../layouts/footer.html }}
