@import '../ids-base/ids-base';

.ids-notification-banner {
  @include flex();
  @include p-8();

  align-items: center;
}

.ids-notification-banner-button {
  margin-left: auto;
}

ids-alert {
  @include flex();
}

ids-hyperlink::part(link) {
  @include ml-8();

  color: var(--ids-color-palette-slate-80);
}
