<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Separator</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="12" gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text>Left</ids-text>
        <ids-separator></ids-separator>
        <ids-text>Right</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Separator (Vertical)</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="12" gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text>Top</ids-text>
        <ids-separator vertical="true"></ids-separator>
        <ids-text>Bottom</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

  </ids-container>
</body>
</html>
