@import '../ids-base/ids-base';
@import '../ids-mixins/ids-radio-mixin';

.ids-radio {
  @include my-8();
  @include outline-none();

  label {
    @include cursor-pointer();
    @include no-select();
    @include pl-24();
    @include relative();

    display: inline-block;
  }

  &.disabled label {
    @include cursor-default();
  }

  &.horizontal {
    @include mr-12();

    display: inline-block;
  }

  input[type='radio'] {
    @include absolute();
    @include cursor-pointer();
    @include opacity-0();

    height: 0;
    width: 0;

    ~ .circle {
      @include radio-unchecked();

      &::after {
        @include radio-unchecked-after();
      }
    }

    ~ .label-text {
      @include text-slate-80();
    }

    &.error ~ .circle {
      @include radio-unchecked-error-circle();
    }

    &.error ~ .label-text {
      @include radio-unchecked-error-label-text();
    }

    &:checked ~ .circle {
      @include radio-checked();

      &::after {
        @include radio-checked-after();
      }
    }

    &:focus ~ .circle {
      @include radio-focus();
    }

    &:disabled {
      ~ .circle {
        @include radio-disabled-unchecked();
      }

      ~ .label-text {
        @include radio-disabled-text();
      }

      &.error ~ .circle {
        @include radio-disabled-unchecked-error-circle();
      }

      &.error ~ .label-text {
        @include radio-disabled-unchecked-error-label-text();
      }

      &:checked ~ .circle {
        @include radio-disabled-checked();
      }
    }
  }

  // stylelint-disable-next-line
  &:focus input[type='radio'] ~ .circle {
    @include radio-focus();
  }

  // Colored
  @include radio-colored();
}

// Handle Themes
.ids-radio[mode='dark']:not([color]) {
  input[type='radio'] ~ .circle {
    @include border-slate-20();
  }

  input[type='radio']:checked ~ .circle {
    @include border-azure-60();
  }

  &:focus input[type='radio'] ~ .circle,
  input[type='radio']:focus ~ .circle {
    box-shadow: 0 0 0 1px var(--ids-color-palette-slate-10), 0 0 0 2px var(--ids-color-palette-azure-60), 0 0 4px 5px rgba(54, 138, 192, 0.3);
  }

  input[type='radio']:disabled {
    ~ .circle {
      @include border-slate-60();
    }
  }

  input[type='radio']:disabled:checked ~ .circle {
    @include border-slate-60();
    @include bg-slate-60();

    &::after {
      @include border-slate-90();
      @include bg-slate-90();
    }
  }
}

.ids-radio[mode='dark'][color] {
  &:focus input[type='radio'] ~ .circle,
  input[type='radio']:focus ~ .circle {
    box-shadow: 0 0 0 1px var(--ids-color-palette-slate-10), 0 0 0 2px var(--ids-color-palette-azure-60), 0 0 4px 5px rgba(54, 138, 192, 0.3);
  }
}

.ids-radio[mode='contrast'] {
  input[type='radio'] ~ .circle {
    @include bg-white();
    @include border-slate-90();
  }

  input[type='radio']:checked ~ .circle {
    @include bg-azure-90();
    @include border-azure-90();
  }

  &:focus input[type='radio'] ~ .circle,
  input[type='radio']:focus ~ .circle {
    box-shadow: 0 0 0 1px var(--ids-color-palette-slate-10), 0 0 0 2px var(--ids-color-palette-azure-90), 0 0 4px 5px rgba(54, 138, 192, 0.3);
  }

  input[type='radio']:disabled {
    ~ .circle {
      @include border-slate-40();
    }
  }

  input[type='radio']:disabled:checked ~ .circle {
    @include border-slate-40();
    @include bg-slate-40();

    &::after {
      @include border-white();
      @include bg-white();
    }
  }
}

.ids-radio[version='classic'][mode='light'] {
  input[type='radio'] ~ .circle {
    @include border-graphite-40();
  }

  input[type='radio']:checked ~ .circle {
    @include border-azure-60();
  }

  &:focus input[type='radio'] ~ .circle,
  input[type='radio']:focus ~ .circle {
    box-shadow: 0 0 0 1px var(--ids-color-palette-slate-10), 0 0 0 2px var(--ids-color-palette-azure-60), 0 0 4px 5px rgba(54, 138, 192, 0.3);
  }

  input[type='radio']:disabled {
    ~ .circle {
      @include border-classic-slate-30();
    }
  }

  input[type='radio']:disabled:checked ~ .circle {
    @include border-slate-30();
    @include bg-classic-slate-30();

    &::after {
      @include border-classic-slate-90();
      @include bg-graphite-10();
    }
  }
}

.ids-radio[version='classic'][mode='dark'] {
  input[type='radio'] ~ .circle {
    @include border-classic-slate-40();
  }

  input[type='radio']:checked ~ .circle {
    @include border-azure-60();
  }

  &:focus input[type='radio'] ~ .circle,
  input[type='radio']:focus ~ .circle {
    box-shadow: 0 0 0 1px var(--ids-color-palette-slate-10), 0 0 0 2px var(--ids-color-palette-azure-60), 0 0 4px 5px rgba(54, 138, 192, 0.3);
  }

  input[type='radio']:disabled {
    ~ .circle {
      @include border-classic-slate-60();
    }
  }

  input[type='radio']:disabled:checked ~ .circle {
    @include border-classic-slate-60();
    @include bg-classic-slate-60();

    &::after {
      @include border-classic-slate-90();
      @include bg-classic-slate-90();
    }
  }
}

.ids-radio[version='classic'][mode='contrast'] {
  input[type='radio'] ~ .circle {
    @include bg-white();
    @include border-classic-slate-90();
  }

  input[type='radio']:checked ~ .circle {
    @include bg-azure-90();
    @include border-azure-90();
  }

  &:focus input[type='radio'] ~ .circle,
  input[type='radio']:focus ~ .circle {
    box-shadow: 0 0 0 1px var(--ids-color-palette-classic-slate-10), 0 0 0 2px var(--ids-color-palette-azure-90), 0 0 4px 5px rgba(54, 138, 192, 0.3);
  }

  input[type='radio']:disabled {
    ~ .circle {
      @include border-classic-slate-30();
    }
  }

  input[type='radio']:disabled:checked ~ .circle {
    @include border-classic-slate-30();
    @include bg-classic-slate-30();

    &::after {
      @include border-white();
      @include bg-white();
    }
  }
}
