#rating {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0;
  width: 100%;
}

.rating-outer {
  cursor: pointer;
  display: inline-block;
  font-size: 35px;
  position: relative;
}

.rating-outer::before {
  content: '☆';
}

.rating-inner {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 0%;
}

.rating-inner::before {
  color: #f8ce0b;
  content: '★';
}

.active {
  .rating-inner {
    width: 100%;
  }
}
