#rating {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.star {
  cursor: pointer;
}

.star[icon='star-outlined'] {
  color: black;
}

.star[icon='star-filled'] {
  color: orange;
}
