/* Ids Multi Select Component */
@import '../ids-dropdown/ids-dropdown';

.ids-checkbox {
  margin-bottom: 0;
}

ids-trigger-field {
  ids-tag {
    align-self: center;
    display: flex;
    margin-top: 4px;
    margin-inline-start: 4px;

    &[disabled]::part(tag) {
      cursor: var(--ids-cursor-default);
    }
  }
}

:host {
  .has-value {
    ids-trigger-field {
      &::part(content-area) {
        display: flex;
        width: calc(100% - 34px);
        flex-wrap: wrap;
      }

      &::part(input) {
        padding: 0;
        flex: 1;
      }

      ids-text {
        max-width: 100%;

        &::part(text) {
          padding-inline-start: 8px;
        }
      }

      &[compact],
      &[field-height='xs'] {
        ids-text::part(text) {
          padding-inline-start: 4px;
          font-size: var(--ids-multiselect-font-size);
        }
      }
    }
  }
}

:host(:not([disabled])) {
  .has-value {
    ids-trigger-field {
      &::part(field-container) {
        cursor: var(--ids-cursor-pointer);
      }
    }
  }
}
