@import '../../core/ids-base';

.ids-checkbox {
  margin-bottom: 0;
}

ids-trigger-field {
  ids-tag {
    display: flex;
    align-self: center;
    margin-top: 4px;
    margin-left: 4px;

    &[disabled]::part(tag) {
      @include cursor-default();
    }
  }
}

:host([tags='true']) {
  .has-value {
    ids-trigger-field {
      &::part(content-area) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: inherit;
        max-height: 120px;
        overflow-y: auto;
      }

      &::part(input) {
        flex: 1;
      }
    }
  }
}

:host([tags='true']:not([disabled])) {
  .has-value {
    ids-trigger-field {
      &::part(field-container) {
        @include cursor-pointer();
      }
    }
  }
}
