@import '../../core/ids-base';
@import '../ids-dropdown/ids-dropdown';

.ids-checkbox {
  @include mb-0();
}

ids-trigger-field {
  ids-tag {
    @include flex();
    @include self-center();
    @include mt-4();
    @include ml-4();

    &[disabled]::part(tag) {
      @include cursor-default();
    }
  }

  ids-text {
    max-width: 266px;
  }
}

:host {
  .has-value {
    ids-trigger-field {
      &::part(content-area) {
        @include w-full();
        @include flex();

        flex-wrap: wrap;
        max-width: inherit;
      }

      &::part(input) {
        @include p-0();

        flex: 1;
      }
    }
  }
}

:host(:not([disabled])) {
  .has-value {
    ids-trigger-field {
      &::part(field-container) {
        @include cursor-pointer();
      }
    }
  }
}
