<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid cols="3" gap="md">
      <ids-text font-size="12" type="h1">Notification Banner in a Card</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-card>
          <div slot="card-header">
            <ids-text font-size="20" type="h2" overflow="ellipsis" tooltip="true">Card Title One</ids-text>
          </div>
          <div slot="card-content">
            <ids-notification-banner
              message-text="DTO rejected by your manager for Sept 30, 2018."
              type="success"
            >
            </ids-notification-banner>

            <ids-notification-banner
              message-text="Notification Banner with no link"
              type="alert"
            >
            </ids-notification-banner>

            <ids-notification-banner
              message-text="Notification Banner with custom link text."
              type="info"
            >
            </ids-notification-banner>

            <ids-notification-banner
              message-text="DTO rejected by your manager for Sept 30, 2018."
              type="error"
            >
            </ids-notification-banner>

            <ids-list-view id="list-view-1" virtual-scroll="true">
              <template>
                <ids-text font-size="16" type="h2">${manufacturerName}</ids-text>
              </template>
            </ids-list-view>
          </div>
        </ids-card>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
