<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid cols="3" gap="md" padding="md">
      <ids-text font-size="12" type="h2">Notification Banner</ids-text>
    </ids-layout-grid>

    <ids-notification-banner
      id="ids-notification-banner-0"
      message-text="DTO accepted by your manager for Sept 30, 2023."
      type="success"
      link="https://infor.com">
    </ids-notification-banner>

    <ids-notification-banner
      id="ids-notification-banner-1"
      message-text="Notification Banner with no link"
      type="warning">
    </ids-notification-banner>

    <ids-notification-banner
      id="ids-notification-banner-2"
      message-text="Notification Banner with custom link text."
      type="info"
      link="https://infor.com"
      link-text="Learn More">
    </ids-notification-banner>

    <ids-notification-banner
      id="ids-notification-banner-3"
      message-text="DTO rejected by your manager for Sept 30, 2023."
      type="error"
      link="https://infor.com">
    </ids-notification-banner>

    <ids-notification-banner
      id="ids-notification-banner-4"
      message-text="Notification Banner with text wrapping. Shrink browser to see effect. Updated Sept 15, 2023."
      type="info"
      link="https://infor.com"
      wrap="true">
    </ids-notification-banner>
  </ids-container>
</body>
</html>
