<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body hidden>

  <div class="ids-layout-grid ids-layout-grid-padding-md">
    <h1 class="ids-text ids-text-12">Notification Banner (Standalone CSS)</h1>
  </div>

  <div class="ids-layout-grid ids-layout-fluid-grid ids-layout-grid-gap-md ids-layout-grid-padding-x-md">
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-12">

      <div class="ids-notification-banner success">
        <svg class="ids-alert success" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="18" width="18" viewBox="0 0 18 18" aria-hidden="true"><path d="M7.038 12.923l-.39.312.366.458.394-.434-.37-.336zM17 9a8 8 0 01-8 8v1a9 9 0 009-9h-1zm-8 8a8 8 0 01-8-8H0a9 9 0 009 9v-1zM1 9a8 8 0 018-8V0a9 9 0 00-9 9h1zm8-8a8 8 0 018 8h1a9 9 0 00-9-9v1zM4.033 9.966l2.615 3.27.78-.625-2.614-3.27-.781.625zm3.375 3.293l6.539-7.192-.74-.673-6.538 7.193.74.672z" fill="currentColor" stroke="none"></path></svg>
        <div class="ids-notification-banner-message">
          <span class="ids-text ids-text-16">DTO accepted by your manager for Sept 30, 2025.</span>
        </div>
        <div class="ids-notification-banner-link">
          <a class="ids-hyperlink" href="https://www.infor.com" target="_blank">Click to view</a>
        </div>
        <div class="ids-notification-banner-button">
          <button id="test-icon-button-default-1" class="ids-icon-button align-icon-start btn-tertiary">
            <span class="audible">Close Button</span>
            <svg
              class="ids-icon" part="svg" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="14" width="14" viewBox="0 0 18 18" aria-hidden="true">
              <path d="M17.5.5l-17 17m17 0L.5.5" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="ids-notification-banner alert">
        <svg class="ids-alert alert" part="svg" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="18" width="18" viewBox="0 0 18 18" aria-hidden="true">
          <path d="M8.847 8v4m0 1v1m0-12l-8 14.5h16l-8-14.5z" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
        </svg>
        <div class="ids-notification-banner-message">
          <span class="ids-text ids-text-16">Notification Banner with no link.</span>
        </div>
        <div class="ids-notification-banner-button">
          <button id="test-icon-button-default-2" class="ids-icon-button align-icon-start btn-tertiary">
            <span class="audible">Close Button</span>
            <svg
              class="ids-icon" part="svg" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="14" width="14" viewBox="0 0 18 18" aria-hidden="true">
              <path d="M17.5.5l-17 17m17 0L.5.5" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="ids-notification-banner info">
        <svg class="ids-alert info" part="svg" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="18" width="18" viewBox="0 0 18 18" aria-hidden="true">
          <path d="M9 18a9 9 0 009-9h-1a8 8 0 01-8 8v1zm9-9a9 9 0 00-9-9v1a8 8 0 018 8h1zM9 0a9 9 0 00-9 9h1a8 8 0 018-8V0zM0 9a9 9 0 009 9v-1a8 8 0 01-8-8H0zm9.5 3.923v-5h-1v5h1zM9.5 6V5h-1v1h1z" fill="currentColor" stroke="none"></path>
        </svg>
        <div class="ids-notification-banner-message">
          <span class="ids-text ids-text-16">Notification Banner with custom link text.</span>
        </div>
        <div class="ids-notification-banner-link">
          <a class="ids-hyperlink" href="https://www.infor.com" target="_blank">Click to view</a>
        </div>
        <div class="ids-notification-banner-button">
          <button id="test-icon-button-default-3" class="ids-icon-button align-icon-start btn-tertiary">
            <span class="audible">Close Button</span>
            <svg
              class="ids-icon" part="svg" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="14" width="14" viewBox="0 0 18 18" aria-hidden="true">
              <path d="M17.5.5l-17 17m17 0L.5.5" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="ids-notification-banner error">
        <svg class="ids-alert error" part="svg" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="18" width="18" viewBox="0 0 18 18" aria-hidden="true">
          <path d="M9 1a8 8 0 018 8h1a9 9 0 00-9-9v1zm8 8a8 8 0 01-8 8v1a9 9 0 009-9h-1zm-8 8a8 8 0 01-8-8H0a9 9 0 009 9v-1zM1 9a8 8 0 018-8V0a9 9 0 00-9 9h1zm7.5-4.423V9.5h1V4.577h-1zm0 6.538V12.5h1v-1.385h-1z" fill="currentColor" stroke="none"></path>
        </svg>
        <div class="ids-notification-banner-message">
          <span class="ids-text ids-text-16">DTO rejected by your manager for Sept 30, 2025.</span>
        </div>
        <div class="ids-notification-banner-link">
          <a class="ids-hyperlink" href="https://www.infor.com" target="_blank">Click to view</a>
        </div>
        <div class="ids-notification-banner-button">
          <button id="test-icon-button-default-4" class="ids-icon-button align-icon-start btn-tertiary">
            <span class="audible">Close Button</span>
            <svg
              class="ids-icon" part="svg" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" height="14" width="14" viewBox="0 0 18 18" aria-hidden="true">
              <path d="M17.5.5l-17 17m17 0L.5.5" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
