@use './ids-theme-default-core.scss';

:root {
  // Primary Colors
  --ids-color-primary: var(--ids-color-slate-60);
  --ids-color-secondary: var(--ids-color-slate-70);

  // Body Colors
  --ids-body-background-color: var(--ids-color-slate-100);
  --ids-body-background-color-inverse: var(--ids-color-slate-00);
  --ids-body-text-color: var(--ids-color-slate-00);
  --ids-body-text-color-inverse: var(--ids-color-slate-100);
  --ids-body-heading-text-color: var(--ids-color-slate-00);
  --ids-body-subtle-text-color: var(--ids-color-slate-20);
  --ids-body-disabled-text-color: var(--ids-color-slate-40);
  --ids-body-line-color: var(--ids-color-slate-60);

  // Component Colors
  --ids-component-background-color: var(--ids-color-slate-100);
  --ids-component-darker-background-color: var(--ids-color-slate-80);
  --ids-component-border-color: var(--ids-color-slate-60);
  --ids-component-selected-background-color: var(--ids-color-azure-30);
  --ids-component-selected-text-color: var(--ids-color-slate-100);
  --ids-component-hover-color: var(--ids-color-slate-00);
  --ids-component-disabled-text-color: var(--ids-color-slate-40);
  --ids-component-lighter-disabled-text-color: var(--ids-color-slate-50);
  --ids-component-text-color: var(--ids-color-slate-00);
  --ids-component-text-color-inverse: var(--ids-color-slate-00);

  // Headers
  --ids-header-gradient-opaque: rgb(0 114 237 / 1);
  --ids-header-gradient-transparent: rgb(0 114 237 / 0);

  // Hyperlinks
  --ids-hyperlink-color: var(--ids-color-azure-40);
  --ids-hyperlink-hover-color: var(--ids-color-azure-60);
  --ids-hyperlink-disabled-color: var(--ids-color-slate-50);

  // Color Overrides
  --ids-color-error-01: var(--ids-color-ruby-90);
  --ids-color-warning-01: var(--ids-color-amber-90);
  --ids-color-caution-00: var(--ids-color-slate-100);
  --ids-color-caution-01: var(--ids-color-amber-90);
  --ids-color-info-01: var(--ids-color-azure-90);
  --ids-color-success-01: var(--ids-color-emerald-90);

  // Buttons
  --ids-button-hover-color: var(--ids-color-slate-90);

  // Elevations
  --ids-shadow-medium: 0 0 3px 2px rgb(85 163 243 / 0.30);

  // Focus
  --ids-focus-ring-border-color: var(--ids-color-slate-00);
}
