@import '../../../core/ids-base';

:host(.last) {
  @media (min-width: $breakpoint-xs) {
    flex: 0;
  }

  @media (min-width: $breakpoint-md) {
    flex: 1;
  }
}

:host {
  display: flex;
  flex: 1;
  position: relative;

  // slotted text details
  ::slotted(ids-text) {
    color: var(--ids-color-palette-slate-60);
  }

  [mode='dark'] {
    ::slotted(ids-text) {
      color: var(--ids-color-palette-slate-30);
    }
  }

  [mode='contrast'] {
    ::slotted(ids-text) {
      color: var(--ids-color-palette-slate-90);
    }
  }

  @media (min-width: $breakpoint-xs) {
    .label {
      display: none;
    }

    .details {
      display: none;
    }

    .step {
      margin-top: 40px;
    }
  }

  @media (min-width: $breakpoint-md) {
    .details {
      display: unset;
    }

    .label {
      display: unset;
    }

    .step {
      margin-top: unset;
    }
  }
}

::slotted(*) {
  display: block;
  margin: 0 5px 0 0;
}

.ids-process-step {
  // NEW LIGHT / DEFAULTS
  --bg-color: #fff;
  --primary-color: var(--ids-color-palette-azure-70);
  --active-color: var(--ids-color-palette-azure-70);
  --base-color: var(--ids-color-palette-slate-30);

  ids-text {
    &::part(text) {
      color: var(--ids-color-palette-slate-60);
      margin: 0 5px 4px 0;
    }

    &.label {
      margin: 0 5px 0 0;
      white-space: nowrap;
    }
  }

  .line {
    position: absolute;
    transform: translate(0, 36px);
    height: 2px;
    width: 100%;
    background-color: var(--ids-color-palette-slate-30);
  }

  .step {
    display: flex;
    transform: translate(0, -75%);
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 2px solid var(--base-color);
  }

  // NEW DARK
  &[mode='dark'] {
    --bg-color: #3e3e42;

    ids-text::part(text) {
      color: var(--ids-color-palette-slate-30);
    }
  }

  // NEW CONTRAST
  &[mode='contrast'] {
    --bg-color: var(--ids-color-palette-slate-10);
    --active-color: var(--ids-color-palette-azure-50);
    --primary-color: var(--ids-color-palette-azure-100);

    ids-text::part(text) {
      color: var(--ids-color-palette-slate-90);
    }
  }

  // CLASSIC
  &[version='classic'] {
    &[mode='light'] {
      --bg-color: #eee;
    }

    &[mode='dark'] {
      --bg-color: #212224;

      ids-text::part(text) {
        color: var(--ids-color-palette-slate-30);
      }
    }

    &[mode='contrast'] {
      --bg-color: #d3d3d3;
      --base-color: var(--ids-color-palette-classic-slate-30);
    }
  }
}

// step styling based on status
:host([status='cancelled']) {
  .step {
    @include bg-alert-error();

    width: 18px;
    height: 18px;
    border: 0;
    justify-content: center;

    ids-icon {
      display: flex;
      justify-content: center;
      color: var(--bg-color);
    }
  }
}

:host([status='cancelled'][mode='dark']) {
  .step {
    @include bg-alert-dark-error();

    ids-icon {
      color: var(--ids-color-palette-white);
    }
  }
}

:host([status='cancelled'][mode='contrast']) {
  .step {
    @include bg-alert-contrast-error();
  }

  ids-icon {
    color: var(--ids-color-palette-white);
  }
}

:host([status='done']) {
  .step {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
  }
}

:host([status='started']) {
  .step {
    border: 2px solid var(--active-color);
    background-color: var(--bg-color);
  }
}
