@import '../../../core/ids-base';

.ids-process-step {
  display: flex;

  .step {
    transform: translate(0, -50%);
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid grey;

  }

  .details {
    transform: translate(0, 20px);
    position: absolute;
  }

  ids-text.label {
    position: absolute;
    transform: translate(0, -200%);
  }
}
