@import '../../../core/ids-base';

.ids-process-step {
  --bg-color: #fff;
  --primary-color: var(--ids-color-palette-azure-70);
  --active-color: var(--ids-color-palette-azure-70);
  --base-color: var(--ids-color-palette-slate-30);
  --cancelled-color: var(--ids-color-status-danger);
  --step-width: 160px;

  &[mode='dark'] {
    --bg-color: #3e3e42;

    ids-text::part(text) {
      color: var(--ids-color-palette-slate-30);
    }
  }

  &[mode='contrast'] {
    --bg-color: var(--ids-color-palette-slate-10);
    --active-color: var(--ids-color-palette-azure-50);
    --primary-color: var(--ids-color-palette-azure-100);
    --cancelled-color: #7b0f11;

    ids-text::part(text) {
      color: var(--ids-color-palette-slate-90);
    }
  }

  display: flex;

  .step {
    transform: translate(0, -50%);
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 2px solid var(--base-color);
  }

  .details {
    transform: translate(0, 20px);
    position: absolute;
    max-width: var(--step-width);
    min-width: 130px;
    word-break: break-word;
  }

  ids-text {
    &::part(text) {
      color: var(--ids-color-palette-slate-60);
    }

    &.label {
      position: absolute;
      bottom: 40px;
      max-width: var(--step-width);
      min-width: 130px;
      word-break: break-word;
    }
  }
    
  // CLASSIC
  &[version='classic'] {

    &[mode='light'] {
      --bg-color: #eee;
    }

    &[mode='dark'] {
      --bg-color: #212224;

      ids-text::part(text) {
        color: var(--ids-color-palette-slate-30);
      }
    }

    &[mode='contrast'] {
      --bg-color: #d3d3d3;
      --base-color: var(--ids-color-palette-classic-slate-30);
    }
  }
}
