@import '../../core/ids-base';

.ids-hierarchy-item {
  padding-inline-start: calc(var(--ids-number-spacing-base) * 3);
}

.leaf {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: var(--ids-number-spacing-base) calc(var(--ids-number-spacing-base) * 2);
  margin-block-end: calc(var(--ids-number-spacing-base) * 3);
}

.avatar {
  display: block;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  background-color: lightgray;
  margin-inline-end: calc(var(--ids-number-spacing-base) * 2);
  overflow: hidden;
}

ids-icon[part="icon-btn"] {
  display: none;
  cursor: pointer;
  margin-inline-start: auto;
}

.has-nested-items {
  ids-icon[part="icon-btn"] {
    display: block;
  }
}

:host([expanded]) ids-icon[part="icon-btn"] {
  transform: rotate(180deg);
}

.sub-level {
  display: none;
}

:host([expanded]) .sub-level {
  display: block;
}
