@import '../../themes/mixins/ids-core-mixins';

.ids-hierarchy-item {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline-start: calc(var(--ids-space-40) * 12);

  @media all and (max-width: $breakpoint-sm) {
    padding-inline-start: var(--ids-space-none);
  }
}

.leaf {
  border: var(--ids-space-10) solid var(--ids-hierarchy-item-leaf-color-border);
  margin-block-end: calc(var(--ids-space-40) * 4);
  box-shadow: var(--ids-hierarchy-item-leaf-shadow);
  border-radius: var(--ids-hierarchy-item-border-radius);
  position: relative;
  width: 315px;

  &::before {
    display: block;
    position: absolute;
    border-bottom: 1.34px solid var(--ids-hierarchy-item-leaf-before-color-border);
    border-left: 1.34px solid var(--ids-hierarchy-item-leaf-before-color-border);
    content: '';
    height: 110px;
    left: -30px;
    top: -70px;
    width: 50%;
    z-index: 0;
  }
}

.leaf-inside {
  align-items: center;
  background-color: var(--ids-hierarchy-item-color-background);
  border-left: var(--ids-hierarchy-item-leaf-inside-border-left);
  box-shadow: var(--ids-hierarchy-item-leaf-inside-shadow);
  padding: var(--ids-space-40) calc(var(--ids-space-40) * 2);
  position: relative;
  display: flex;
  z-index: 1;
}

.avatar {
  flex-shrink: 0;
  display: block;
  height: 55px;
  width: 55px;
  border: var(--ids-hierarchy-item-border-default);
  border-radius: 100%;
  margin-inline-end: calc(var(--ids-space-40) * 2);
  overflow: hidden;

  ::slotted(img) {
    max-width: 100%;
  }
}

:host([root-item]) {
  .leaf {
    &::before {
      display: none;
    }
  }

  .ids-hierarchy-item {
    padding-inline-start: var(--ids-space-none);
  }
}

:host([root-item][expanded]) {
  .leaf {
    &::before {
      @media all and (max-width: $breakpoint-sm) {
        border-left: none;
        display: block;
      }
    }
  }
}

:host(:focus) {
  outline: none;
  border: none;
  border-color: transparent;
  box-shadow: var(--ids-hierarchy-item-shadow-focus);
}

:host([selected]) {
  .leaf {
    box-shadow: var(--ids-hierarchy-item-selected-leaf-shadow);
  }
}

div[part='actions'] {
  margin-inline-start: auto;
  display: flex;
}

ids-button[part='icon-menu'] {
  margin-right: var(--ids-space-30);

  .ids-icon-button {
    padding: var(--ids-space-30);
  }
}

ids-button[part='icon-btn'] {
  display: none;
  cursor: pointer;

  .ids-icon-button {
    padding: var(--ids-space-30);
  }
}

:host([expanded]) {
  ids-button[part='icon-btn'] {
    ids-icon {
      transform: rotate(180deg);
    }
  }
}

.has-nested-items {
  ids-button[part='icon-btn'] {
    display: block;
  }
}

.sub-level {
  display: none;
}

:host([expanded]) .sub-level {
  display: block;
}

// For ids-popup-menu to calculate its position correctly
::slotted([slot='menu']) {
  position: relative;
}
