@import '../../core/ids-base';

.ids-hierarchy-item {
  @include flex();

  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline-start: calc(var(--ids-number-spacing-base) * 12);

  @media all and (max-width: $breakpoint-sm) {
    padding-inline-start: 0;
  }

  &.color-variant-full-time {
    .leaf-inside {
      border-left-color: var(--ids-color-palette-azure-80);
    }

    .avatar {
      border-color: var(--ids-color-palette-azure-80);
    }
  }

  &.color-variant-part-time {
    .leaf-inside {
      border-left-color: var(--ids-color-palette-turquoise-20);
    }

    .avatar {
      border-color: var(--ids-color-palette-turquoise-20);
    }
  }

  &.color-variant-contractor {
    .leaf-inside {
      border-left-color: var(--ids-color-palette-amethyst-60);
    }

    .avatar {
      border-color: var(--ids-color-palette-amethyst-60);
    }
  }

  &.color-variant-open-position {
    .leaf-inside {
      border-left-color: var(--ids-color-palette-slate-60);
    }

    .avatar {
      border-color: var(--ids-color-palette-slate-60);
    }
  }
}

.leaf {
  @include relative();

  border: 1px solid var(--ids-color-palette-slate-30);
  margin-block-end: calc(var(--ids-number-spacing-base) * 4);
  width: 315px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  &::before {
    @include block();
    @include absolute();

    border-bottom: 1.34px solid var(--ids-color-palette-slate-30);
    border-left: 1.34px solid var(--ids-color-palette-slate-30);
    content: '';
    height: 110px;
    left: -30px;
    top: -70px;
    width: 50%;
    z-index: 0;
  }
}

.leaf-inside {
  @include flex();
  @include relative();

  align-items: center;
  background-color: white;
  padding: var(--ids-number-spacing-base) calc(var(--ids-number-spacing-base) * 2);
  border-left: 5px solid var(--ids-color-palette-slate-80);
  z-index: 1;
}

.avatar {
  @include block();

  flex-shrink: 0;
  height: 55px;
  width: 55px;
  border: 2px solid var(--ids-color-palette-slate-80);
  border-radius: 100%;
  margin-inline-end: calc(var(--ids-number-spacing-base) * 2);
  overflow: hidden;

  ::slotted(img) {
    max-width: 100%;
  }
}

:host([root-item]) {
  .leaf {
    &::before {
      display: none;
    }
  }

  .ids-hierarchy-item {
    padding-inline-start: 0;
  }
}

:host([root-item][expanded]) {
  .leaf {
    &::before {
      @media all and (max-width: $breakpoint-sm) {
        @include block();

        border-left: none;
      }
    }
  }
}

:host(:focus) {
  outline: none;
  border: none;
  border-color: transparent;
  box-shadow: none;
}

:host([selected]) {
  .leaf {
    box-shadow: 0 0 0 5px rgba(54, 138, 192, 0.3);
  }

  // Handle themes - Selected
  .ids-hierarchy-item[version='new'][mode='dark'] {
    .leaf {
      box-shadow: 0 0 0 5px rgba(141, 201, 230, 0.3);
    }
  }
}

ids-button[part='icon-btn'] {
  display: none;
  cursor: pointer;
  margin-inline-start: auto;
}

:host([expanded]) {
  ids-button[part='icon-btn'] {
    ids-icon {
      transform: rotate(180deg);
    }
  }
}

.has-nested-items {
  ids-button[part='icon-btn'] {
    @include block();
  }
}

.sub-level {
  display: none;
}

:host([expanded]) .sub-level {
  @include block();
}

// Handle Themes
.ids-hierarchy-item[version='classic'][mode='light'],
.ids-hierarchy-item[version='classic'][mode='contrast'],
.ids-hierarchy-item[version='new'][mode='contrast'] {
  .leaf-inside {
    background-color: var(--ids-color-palette-white);
  }
}

.ids-hierarchy-item[version='classic'][mode='dark'],
.ids-hierarchy-item[version='new'][mode='dark'] {
  .leaf {
    border-color: var(--ids-color-palette-slate-70);
  }

  .leaf-inside {
    background-color: var(--ids-color-palette-slate-100);
  }

  &.color-variant-full-time {
    .leaf {
      border-left-color: var(--ids-color-palette-azure-80);
    }
  }

  &.color-variant-part-time {
    .leaf {
      border-left-color: var(--ids-color-palette-turquoise-20);
    }
  }

  &.color-variant-contractor {
    .leaf {
      border-left-color: var(--ids-color-palette-amethyst-60);
    }
  }

  &.color-variant-open-position {
    .leaf {
      border-left-color: var(--ids-color-palette-slate-60);
    }
  }
}
