@import '../../core/ids-base';

.ids-hierarchy-item {
  @include flex();
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline-start: calc(var(--ids-number-spacing-base) * 6);
}

.leaf {
  display: flex;
  align-items: center;
  border: 1px solid var(--ids-color-palette-slate-30);
  padding: var(--ids-number-spacing-base) calc(var(--ids-number-spacing-base) * 2);
  margin-block-end: calc(var(--ids-number-spacing-base) * 4);
  width: 315px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.ids-hierarchy-item {
  &.color-variant-full-time {
    .leaf {
      border-left: 5px solid var(--ids-color-palette-azure-80);
    }

    .avatar {
      border: 2px solid var(--ids-color-palette-azure-80);
    }
  }

  &.color-variant-part-time {
    .leaf {
      border-left: 5px solid var(--ids-color-palette-turquoise-20);
    }

    .avatar {
      border: 2px solid var(--ids-color-palette-turquoise-20);
    }
  }

  &.color-variant-contractor {
    .leaf {
      border-left: 5px solid var(--ids-color-palette-amethyst-60);
    }

    .avatar {
      border: 2px solid var(--ids-color-palette-amethyst-60);
    }
  }

  &.color-variant-open-position {
    .leaf {
      border-left: 5px solid var(--ids-color-palette-slate-60);
    }

    .avatar {
      border: 2px solid var(--ids-color-palette-slate-60);
    }
  }
}

:host(:focus) {
  outline: none;
  border: none;
  border-color: transparent;
  box-shadow: none;
}

:host([selected]) {
  .leaf {
    box-shadow: 0 0 0 5px rgba(54, 138, 192, 0.3);
  }
}

.avatar {
  display: block;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  margin-inline-end: calc(var(--ids-number-spacing-base) * 2);
  overflow: hidden;
}

ids-button[part="icon-btn"] {
  display: none;
  cursor: pointer;
  margin-inline-start: auto;
}

:host([expanded]) {
  ids-button[part="icon-btn"] {
    ids-icon {
      transform: rotate(180deg);
    }
  }
}

.has-nested-items {
  ids-button[part="icon-btn"] {
    display: block;
  }
}

.sub-level {
  display: none;
}

:host([expanded]) .sub-level {
  display: block;
}
