:host(ids-draggable) {
  cursor: move;
  touch-action: none;
  width: fit-content;
  height: fit-content;
}

:host(ids-draggable[disabled]) {
  cursor: inherit;
}

:host(ids-draggable[axis='x']:not([disabled])) {
  cursor: ew-resize;
}

:host(ids-draggable[axis='y']:not([disabled])) {
  cursor: ns-resize;
}

ids-draggable[is-dragging] {
  cursor: grabbing;
}
