<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Toolbar (Centered)</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>

        <ids-toolbar>
          <ids-toolbar-section>
            <ids-button icon="menu" role="button">
              <span slot="text" class="audible">Application Menu Trigger</span>
            </ids-button>
          </ids-toolbar-section>

          <ids-toolbar-section type="buttonset" align="center">
            <ids-button id="button-1" role="button">
              <span class="audible" slot="text">About Infor</span>
              <ids-icon slot="icon" viewbox="0 0 35 34" icon="logo"></ids-icon>
            </ids-button>
          </ids-toolbar-section>

          <ids-toolbar-more-actions>
            <ids-menu-group>
              <ids-menu-item value="1">Option One</ids-menu-item>
              <ids-menu-item value="2">Option Two</ids-menu-item>
              <ids-menu-item value="3">Option Three</ids-menu-item>
              <ids-menu-item>More Options
                <ids-popup-menu>
                  <ids-menu-group>
                    <ids-menu-item value="4">Option Four</ids-menu-item>
                    <ids-menu-item value="5">Option Five</ids-menu-item>
                    <ids-menu-item value="6">Option Six</ids-menu-item>
                  </ids-menu-group>
                </ids-popup-menu>
              </ids-menu-item>
            </ids-menu-group>
          </ids-toolbar-more-actions>
        </ids-toolbar>

      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
