/* Ids Dropdown Component */
@import '../../themes/mixins/ids-validation-mixin';

// Dropdown menu width
:host ids-popup {
  max-width: var(--ids-input-width-md);
}

:host([size='xs']) ids-popup {
  max-width: var(--ids-input-width-xs);
}

:host([size='sm']) ids-popup {
  max-width: var(--ids-input-width-sm);
}

:host([size='mm']) ids-popup {
  max-width: var(--ids-input-width-mm);
}

:host([size='md']) ids-popup {
  max-width: var(--ids-input-width-md);
}

:host([size='lg']) ids-popup {
  max-width: var(--ids-input-width-lg);
}

:host([size='full']) ids-popup {
  max-width: var(--ids-input-width-full);
}

:host ids-popup,
:host([size='full']) {
  width: 100%;
}
