/* Ids Dropdown Component */
@import '../../themes/mixins/ids-validation-mixin';
@import '../../core/ids-base';

// Dropdown menu width
:host ids-popup {
  max-width: $input-size-md;
}

:host([size='xs']) ids-popup {
  max-width: $input-size-xs;
}

:host([size='sm']) ids-popup {
  max-width: $input-size-sm;
}

:host([size='mm']) ids-popup {
  max-width: $input-size-mm;
}

:host([size='md']) ids-popup {
  max-width: $input-size-md;
}

:host([size='lg']) ids-popup {
  max-width: $input-size-lg;
}

:host([size='full']) ids-popup {
  max-width: $input-size-full;
}

:host ids-popup,
:host([size='full']) {
  @include w-full();
}
