/* Ids Dropdown Component */
@use '../../themes/mixins/ids-validation-mixin';

// Dropdown menu width
:host ids-popup {
  max-width: var(--ids-input-width-40);
}

:host([size='xs']) ids-popup {
  max-width: var(--ids-input-width-10);
}

:host([size='sm']) ids-popup {
  max-width: var(--ids-input-width-20);
}

:host([size='mm']) ids-popup {
  max-width: var(--ids-input-width-30);
}

:host([size='md']) ids-popup {
  max-width: var(--ids-input-width-40);
}

:host([size='lg']) ids-popup {
  max-width: var(--ids-input-width-50);
}

:host([size='full']) ids-popup {
  max-width: var(--ids-input-width-full);
}

:host ids-popup,
:host([size='full']) {
  width: 100%;
}
