/* Ids Dropdown Component */
@use '../../themes/mixins/ids-validation-mixin';

:host {
  display: block;

  .ids-dropdown {
    display: inline-block;
    max-width: 100%;
  }
}

ids-trigger-field[readonly-background]:not([disabled])::part(input) {
  cursor: var(--ids-cursor-pointer);
}

// Most Styles are in list-box, popup and trigger field
.ids-dropdown {
  display: block;
  position: relative;

  ids-trigger-field {
    &[size='full'] {
      display: block;
    }
  }

  &.full {
    display: block;

    ids-trigger-field,
    .ids-trigger-field {
      display: block;
    }
  }
}

// Icon Placement
.trigger-icon {
  color: var(--ids-dropdown-color-icon);
  margin: 0 0 0 var(--ids-dropdown-space-text);
  position: relative;
  top: 2px;
}

:host([mode='light']) {
  .typeahead.is-open ids-trigger-field::part(field-container) {
    background-color: var(--ids-dropdown-typeahead-color-background);
  }
}

:host([dir='rtl']) .trigger-icon {
  margin: 0 var(--ids-dropdown-space-text) 0 0;
}

::slotted(.sub-group) {
  border-top: 1px solid var(--ids-dropdown-separator-color-border);
  padding-top: var(--ids-dropdown-separator-padding);
}

// Dropdown Editor
.ids-dropdown.color-variant-borderless,
.ids-dropdown.color-variant-in-cell {
  ids-trigger-field::part(field-container) {
    margin: 0;
    border-radius: 0;
  }

  ids-trigger-field::part(label) {
    display: none;
  }
}

// Dropdown Editor Borderless
.ids-dropdown.color-variant-borderless {
  ids-trigger-field::part(container) {
    margin: 0;
  }

  ids-trigger-field::part(field-container) {
    box-shadow: none !important;
  }

  &.field-height-lg {
    ids-trigger-field::part(input) {
      padding-inline: 16px;
      height: 50px;
    }
  }

  &.field-height-md {
    ids-trigger-field::part(input) {
      padding-inline: 12px;
      height: 40px;
    }
  }

  &.field-height-sm {
    ids-trigger-field::part(input) {
      padding-inline: 8px;
      height: 35px;
    }
  }

  &.field-height-xs {
    ids-trigger-field::part(input) {
      padding-inline: 4px;
      height: 30px;
    }
  }
}

// Dropdown Editor In Cell
.ids-dropdown.color-variant-in-cell {
  ids-trigger-field::part(container) {
    margin: 1px 0;
  }
}

// Module Nav Color Variant
.ids-dropdown.color-variant-module-nav {
  color: var(--ids-module-nav-search-input-text-color);
  display: block;
  margin-block-end: 0;

  ::slotted(ids-list-box) {
    color: var(--ids-module-nav-search-input-text-color);
  }

  ::slotted(ids-list-box-option) {
    color: inherit;
  }

  ids-trigger-field::part(field-container) {
    background-color: var(--ids-module-nav-input-bg-color);
    border-radius: var(--ids-module-nav-common-border-radius);
    border: var(--ids-module-nav-input-border-width) solid var(--ids-module-nav-input-border-color);
    box-shadow: none;
    color: inherit;
    overflow: hidden;
  }

  ids-trigger-field:hover::part(field-container) {
    background-color: var(--ids-module-nav-input-hover-bg-color);
  }

  ids-trigger-field:active::part(field-container) {
    background-color: var(--ids-module-nav-item-selected-bg-color);
    border-color: var(--ids-module-nav-item-selected-text-color);
    color: var(--ids-module-nav-item-selected-text-color);
  }

  ids-trigger-field:focus-within::part(field-container) {
    background-color: var(--ids-module-nav-input-focus-bg-color);
  }

  ids-trigger-field::part(input) {
    background-color: transparent;
    color: inherit;
  }

  ids-trigger-field::part(trigger-button) {
    background-color: transparent;
  }

  ids-trigger-field::part(input::placeholder) {
    color: var(--ids-module-nav-search-input-placeholder-text-color);
  }

  ids-trigger-field::part(input:active) {
    color: var(--ids-module-nav-search-input-text-color);
  }

  ids-dropdown-list::part(dropdown-list) {
    max-width: var(--ids-module-nav-expanded-size);
    width: calc(var(--ids-module-nav-switcher-dropdown-width) + var(--ids-module-nav-switcher-button-gutter-size) + var(--ids-module-nav-switcher-button-size));
  }

  ids-list-box-option {
    min-height: var(--ids-module-nav-item-height);
  }

  .fieldset {
    display: contents;
  }

  .ids-input-field {
    padding-inline-start: var(--ids-module-nav-item-expanded-icon-text-spacing-size);
  }
}

// Dropdown menu width
:host ids-dropdown-list {
  max-width: var(--ids-input-width-40);
}

:host([size='xs']) ids-dropdown-list {
  max-width: var(--ids-input-width-10);
}

:host([size='sm']) ids-dropdown-list {
  max-width: var(--ids-input-width-20);
}

:host([size='mm']) ids-dropdown-list {
  max-width: var(--ids-input-width-30);
}

:host([size='md']) ids-dropdown-list {
  max-width: var(--ids-input-width-40);
}

:host([size='lg']) ids-dropdown-list {
  max-width: var(--ids-input-width-50);
}

:host([size='full']) ids-dropdown-list {
  max-width: var(--ids-input-width-full);
}

:host ids-dropdown-list,
:host([size='full']) {
  width: var(--ids-input-width-full);
}

// Change state for external dropdown list
:host([list]:not([disabled])) {
  cursor: var(--ids-cursor-pointer);
}
