{{> ../layouts/head-side-by-side.html }}

<ids-layout-grid auto="true">
  <h2 class="ids-text ids-text-px-12">Web Component Menu</h2>
</ids-layout-grid>
<ids-layout-grid auto="true" cols="3">
  <ids-layout-grid-cell>

    <ids-menu id="simple-menu">
      <ids-menu-group>
        <ids-menu-item>One</ids-menu-item>
        <ids-menu-item>Two</ids-menu-item>
        <ids-menu-item>Three</ids-menu-item>
      </ids-menu-group>
    </ids-menu>

  </ids-layout-grid-cell>
</ids-layout-grid>

<ids-layout-grid auto="true">
  <h2 class="ids-text ids-text-px-12">4.x Menu</h2>
</ids-layout-grid>
<div class="svg hidden">
  <div class="svg-icons">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-icons">
      <symbol id="icon-dropdown" viewBox="0 0 18 18"><path d="M4 6l5 6 5-6H4" fill="currentColor" fill-rule="evenodd" stroke="none"></path></symbol>
    </svg>
  </div>
</div>
<div class="row">
  <div class="twelve columns">

    <div class="field">
      <button id="popupmenu-trigger" class="btn-menu" data-init="false">
        <span>Normal Menu</span>
        <svg role="presentation" aria-hidden="true" focusable="false" class="icon icon-dropdown">
          <use href="#icon-dropdown"></use>
        </svg>
      </button>
      <ul class="popupmenu" data-init="false">
        <li><a href="#" id="test1">Menu Option #1</a></li>
        <li><a href="#" id="test2">Menu Option #2</a></li>
        <li><a href="#" id="test3">Menu Option #3</a></li>
      </ul>
    </div>

  </div>
</div>

{{> ../layouts/footer.html }}
