<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-popup-menu id="popupmenu"
      align="left, top"
      max-height="500"></ids-popup-menu>

    <ids-layout-grid auto-fit="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Popup Menu (Scrolling)</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true">
      <ids-layout-grid-cell>
        <ids-text>This Popupmenu has a fixed "max-height" of 500px and demonstrates scrolling behavior</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true">
      <ids-layout-grid-cell>
        <ids-input value="500" size="sm" label="maxHeight" placeholder="value in pixels (empty is null)"></ids-input>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
