<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<!-- Defining the same menu in HTML markup only -->
<!--
<ids-menu-group>
  <ids-menu-item icon="folder">Create new folder</ids-menu-item>
  <ids-menu-item>Previous</ids-menu-item>
  <ids-menu-item>Next</ids-menu-item>
  <ids-separator></ids-separator>
  <ids-menu-item>Copy to...</ids-menu-item>
  <ids-menu-item>Move to...</ids-menu-item>
  <ids-menu-item icon="edit">Long-form shortcut text</ids-menu-item>
  <ids-separator></ids-separator>
  <ids-menu-item icon="trash">Delete folder</ids-menu-item>
</ids-menu-group>
--->

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-popup-menu id="popupmenu" align="left, top"></ids-popup-menu>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Popup Menu (with Shortcut keys)</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text type="p">Right-click anywhere in the page to activate a Popupmenu.<br />
          Use the controls below to change menu configuration and test icon/text alignments.
        </ids-text>
        <p><ids-checkbox id="controls-icons" label="Enable icons" checked></ids-checkbox></p>
        <p><ids-checkbox id="controls-selection" label="Enable single selection"></ids-checkbox></p>
        <p><ids-checkbox id="controls-submenu" label="Enable a submenu"></ids-checkbox></p>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
