<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="<%= htmlWebpackPlugin.options.js.index %>" type="module"></script>
  <script src="<%= htmlWebpackPlugin.options.js.meta %>" type="module"></script>
  <script src="/ids-popup-menu/trigger-immediate.js"></script>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-popup-menu id="popupmenu" trigger="immediate">
      <ids-menu-group>
        <ids-menu-item>Item One</ids-menu-item>
        <ids-menu-item>Item Two</ids-menu-item>
        <ids-menu-item>Item Three</ids-menu-item>
        <ids-menu-item>Item Four</ids-menu-item>
        <ids-separator></ids-separator>
        <ids-menu-item>
          More Actions
          <ids-popup-menu>
            <ids-menu-group>
              <ids-menu-item>Sub-item One</ids-menu-item>
              <ids-menu-item>Sub-item Two</ids-menu-item>
              <ids-menu-item>Sub-item Three</ids-menu-item>
            </ids-menu-group>
          </ids-popup-menu>
        </ids-menu-item>
        <ids-menu-item>
          Even More Actions
          <ids-popup-menu>
            <ids-menu-group>
              <ids-menu-item icon="settings">
                Change Settings
                <ids-popup-menu>
                  <ids-menu-group>
                    <ids-menu-item>Setting One</ids-menu-item>
                    <ids-menu-item>Setting Two</ids-menu-item>
                    <ids-menu-item>Setting Three</ids-menu-item>
                    <ids-menu-item>REAAAAALLLLY Long Setting Number Four</ids-menu-item>
                  </ids-menu-group>
                </ids-popup-menu>
              </ids-menu-item>
              <ids-menu-item icon="mail">Send Mail</ids-menu-item>
              <ids-menu-item icon="filter">Filter Content</ids-menu-item>
            </ids-menu-group>
          </ids-popup-menu>
        </ids-menu-item>
      </ids-menu-group>
    </ids-popup-menu>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Popup Menu</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text>The Popupmenu on this page is triggered immediately on page load.<br />
          After closing the first time, the Popupmenu is reconfigured to be activated on contextmenu events.</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
