<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Empty Message Icons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="1" cols-sm="2" cols-md="3" gap="md" padding-x="md" class="icon-examples">
    </ids-layout-grid>
  </ids-container>
</body>
</html>
