/* Ids Progress Bar */
// Mixin progress bar fill area
@mixin progress-bar-fill {
  background-color: var(--ids-progress-bar-fill-color-background);
  border-radius: var(--ids-progress-bar-border-radius);
  transition: width var(--ids-motion-duration) var(--ids-motion-ease);
}

:host-context(ids-data-grid-cell) {
  margin: var(--ids-progress-bar-grid-cell-margin);
}

:host {
  width: 100%;
}

.ids-progress-bar {
  contain: content;

  .progress-label {
    color: var(--ids-progress-bar-label-color-text);
  }

  .progress-bar {
    background-color: var(--ids-progress-bar-color-background-default);
    border-radius: var(--ids-progress-bar-border-radius);
    border: var(--ids-progress-bar-border);
    height: var(--ids-progress-bar-height);
    margin: var(--ids-progress-bar-margin);
    width: 100%;

    &::-webkit-progress-bar {
      background-color: var(--ids-progress-bar-color-background-default);
      border-radius: var(--ids-progress-bar-border-radius);
    }

    &::-webkit-progress-value {
      @include progress-bar-fill();
    }

    &::-moz-progress-bar {
      @include progress-bar-fill();
    }
  }

  &.label-audible {
    .progress-bar {
      margin: var(--ids-progress-bar-label-audible-margin);
    }
  }

  &.disabled {
    .progress-label {
      color: var(--ids-progress-bar-color-text-disabled);
    }

    .progress-bar {
      border-color: var(--ids-progress-bar-color-background-disabled);

      &::-webkit-progress-value {
        background-color: var(--ids-progress-bar-color-background-disabled);
        border-color: var(--ids-progress-bar-color-background-disabled);
      }
    }
  }
}
