/* Ids Progress Bar */
@use '../../themes/mixins/ids-core-mixins' as mixins;

// Mixin progress bar fill area
@mixin progress-bar-fill {
  background-color: var(--ids-color-primary);
  border-radius: var(--ids-border-radius-sm);
  transition: width var(--ids-transition-length) var(--ids-transition-ease);
}

:host-context(ids-data-grid-cell) {
  margin: var(--ids-spacing-xxl);
}

:host {
  width: 100%;
}

.ids-progress-bar {
  contain: content;

  .progress-label {
    @include mixins.antialiased();

    color: var(--ids-label-text-color);
  }

  .progress-bar {
    background-color: transparent;
    border-radius: var(--ids-border-radius-sm);
    border: 1px solid var(--ids-progress-bar-border-color);
    height: 8px;
    margin: var(--ids-spacing-xxl) 0;
    width: 100%;

    &::-webkit-progress-bar {
      background-color: transparent;
      border-radius: var(--ids-border-radius-sm);
    }

    &::-webkit-progress-value {
      @include progress-bar-fill();
    }

    &::-moz-progress-bar {
      @include progress-bar-fill();
    }
  }

  &.label-audible {
    .progress-bar {
      margin: var(--ids-spacing-sm) 0;
    }
  }

  &.disabled {
    .progress-label {
      color: var(--ids-disabled-text-color);
    }

    .progress-bar {
      border-color: var(--ids-disabled-text-color);

      &::-webkit-progress-value {
        border-color: var(--ids-disabled-text-color);
      }
    }
  }
}
