<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8">
    <ids-theme-switcher mode="light"></ids-theme-switcher>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Ids Tree - Reset</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-button id="delete-all" appearance="primary">
          <span>Delete all nodes</span>
        </ids-button>
        <ids-button id="set-one" appearance="primary">
          <span>Set one item</span>
        </ids-button>
        <ids-button id="reset-nodes" appearance="primary">
          <span>Reset</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md" margin-y="md">
      <ids-layout-cell>
        <ids-tree id="tree-demo" label="Tree Demo"></ids-tree>
      </ids-layout-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
