<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Tree</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>

        <ids-tree id="tree-wc" label="Tree Web Component">
          <ids-tree-node id="home-wc">Home</ids-tree-node>
          <ids-tree-node id="about-us-wc">About Us</ids-tree-node>
          <ids-tree-node id="public-folders-wc" label="Public Folders">
            <ids-tree-node id="leadership-wc" label="Leadership">
              <ids-tree-node id="leadership-2-wc">Leadership 2nd</ids-tree-node>
              <ids-tree-node id="history-wc" disabled="true">History</ids-tree-node>
              <ids-tree-node id="careers-last-wc">Careers last</ids-tree-node>
            </ids-tree-node>
            <ids-tree-node id="history-2-wc">History 2nd</ids-tree-node>
            <ids-tree-node id="careers-wc">Careers</ids-tree-node>
          </ids-tree-node>
          <ids-tree-node id="icons-wc" label="Icons" expanded="false">
            <ids-tree-node id="audio-wc" icon="tree-audio">Audio</ids-tree-node>
            <ids-tree-node id="avi-wc" icon="tree-avi">Avi</ids-tree-node>
          </ids-tree-node>
          <ids-tree-node id="blog-wc">Blog</ids-tree-node>
          <ids-tree-node id="contact-wc">Contact</ids-tree-node>
        </ids-tree>

      </ids-layout-grid-cell>
    </ids-layout-grid>

    <!--
      Begin 4.x
    -->
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">4.x Tree</ids-text>
    </ids-layout-grid>
    <div class="svg hidden">
      <div class="svg-icons">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-icons">
          <symbol id="icon-closed-folder" viewBox="0 0 18 18">
            <path d="M.5 4.5h11.214M.5 16.5h11.77c2.888 0 5.23-2.442 5.23-5.454V4.5h-5.885l-5.884-3H.5v15z" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
          </symbol>
          <symbol id="icon-open-folder" viewBox="0 0 18 18">
            <g clip-path="url(#open-folder-clip0)">
              <path d="M14.5 6.077V3.5H9l-3.27-2H.5v14m0 0h6.538M.5 15.5l3-9h14l-1.531 5.591c-.642 2.245-2.694 3.409-5.03 3.409H.5z" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
            </g>
          </symbol>
          <symbol id="icon-tree-node" viewBox="0 0 18 18">
            <path clip-rule="evenodd" d="M1.5.5h14v11.77c0 2.888-2.28 5.23-5.09 5.23H1.5V.5z" fill-rule="evenodd" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
          </symbol>
          <symbol id="icon-tree-audio" viewBox="0 0 18 18">
            <path clip-rule="evenodd" d="M8.5 12.5h-6v-7h6l7-4.5v16l-7-4.5z" fill-rule="evenodd" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
          </symbol>
          <symbol id="icon-tree-avi" viewBox="0 0 18 18">
            <path d="M0 17.5h18M.5 6V.5h11.714c2.84 0 5.286 2.303 5.286 5.143V6m.5 8.5h-5m0-6h5m-2.5 0v6M6.5 8v5.5L9 15l2.5-1.5V8m-7 7V9.5L2.5 8l-2 1.5V15m0-2.5h4" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
          </symbol>
        </svg>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">

        <ul id="tree-4x" role="tree" aria-label="Tree (4.x)" class="tree">
          <li>
            <a id="home-4x" href="#">Home</a>
          </li>
          <li><a id="about-us-4x" href="#">About Us</a></li>
          <li class="is-open mycustom">
            <a id="public-folders-4x" href="#">Public Folders</a>
            <ul class="is-open root">
              <li class="is-open">
                <a id="leadership-4x" href="#">Leadership</a>
                <ul class="is-open">
                  <li>
                    <a id="leadership2-4x" href="#">Leadership</a>
                  </li>
                  <li>
                    <a id="history-4x" href="#" class="is-disabled">History</a>
                  </li>
                  <li>
                    <a id="careers-last-4x" href="#">Careers last</a>
                  </li>
                </ul>
              </li>
              <li><a id="history2-4x" href="#">History2</a></li>
              <li><a id="careers-4x" href="#">Careers</a></li>
            </ul>
          </li>
          <li>
            <a id="icons-4x" href="#">Icons</a>
            <ul class="root">
              <li>
                <a id="audio-4x" href="#" class="icon-tree-audio">Audio</a>
              </li>
              <li>
                <a id="avi-4x" href="#" class="icon-tree-avi">Avi</a>
              </li>
            </ul>
          </li>
          <li>
            <a id="blog-4x" href="#">Blog</a>
          </li>
          <li>
            <a id="contact-4x" href="#">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </ids-container>
</body>
</html>
