@import '../ids-base/ids-base';
@import '../ids-mixins/ids-clearable-mixin';
@import '../ids-mixins/ids-dirty-tracker-mixin';
@import '../ids-mixins/ids-validation-mixin';

// Field Sizes
$textarea-size-sm: 150px;
$textarea-size-md: 362px;
$textarea-size-lg: 400px;
$textarea-size-full: 100%;

// Set default size
$textarea-size-default: $textarea-size-md;
$textarea-size-default-height: 120px;

.ids-textarea {
  @include block();
  @include font-sans();
  @include mb-20();
  @include text-16();

  .hidden {
    @include hidden();
  }

  .textarea-print {
    @include hidden();

    white-space: pre-line;
  }

  .textarea-character-counter {
    display: inline-block;
    min-height: auto;
    width: $textarea-size-default;

    &.almost-empty {
      @include text-alert-danger();
    }
  }

  .label-text {
    @include antialiased();
    @include font-sans();
    @include mb-8();

    align-items: baseline;
    display: flex;

    &.required {
      &::after {
        @include relative();
        @include font-sans();
        @include mx-2();
        @include text-20();
        @include text-alert-danger();

        content: '*';
        margin-top: -10px;
        top: 1px;
      }

      &.no-required-indicator::after {
        content: '';
      }
    }
  }

  .field-container {
    @include m-0();
    @include p-0();
    @include relative();

    display: flex;
    max-width: $textarea-size-default;

    // textarea sizes: [sm, md, lg, full]
    &.sm {
      max-width: $textarea-size-sm;

      ~ .textarea-character-counter {
        width: $textarea-size-sm;
      }
    }

    &.md {
      max-width: $textarea-size-md;

      ~ .textarea-character-counter {
        width: $textarea-size-md;
      }
    }

    &.lg {
      max-width: $textarea-size-lg;

      ~ .textarea-character-counter {
        width: $textarea-size-lg;
      }
    }

    &.full {
      max-width: $textarea-size-full;

      ~ .textarea-character-counter {
        width: $textarea-size-full;
      }
    }
  }

  .ids-textarea-field {
    @include antialiased();
    @include box-border();
    @include border-1();
    @include border-solid();
    @include font-sans();
    @include mb-4();
    @include p-12();
    @include rounded-default();
    @include text-16();
    @include w-full();

    -webkit-appearance: none;
    border-collapse: separate;
    border-radius: 2px;
    display: inline-block;
    min-height: $textarea-size-default-height;
    resize: none;
    text-align: left;

    &:focus {
      @include shadow();

      outline: none;
      outline-color: transparent;
    }

    &[readonly],
    &[disabled] {
      ~ .textarea-character-counter {
        display: none;
      }
    }

    &.resizable {
      resize: vertical;
    }

    &[rows] {
      height: auto;
    }

    &.bg-transparent {
      @include bg-transparent();

      &:focus {
        @include border-azure-60();
      }
    }

    &.text-ellipsis {
      @include ellipsis();
    }

    &.has-triggerfield {
      @include pr-32();
    }

    // textarea text-align: [left, center, right]
    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

    // textarea message: [alert, error, info, success]
    &.alert,
    &.alert:hover {
      @include border-alert-warning();
      @include text-alert-warning();

      &:focus {
        @include border-alert-warning();

        box-shadow: rgba(249, 131, 0, 0.3) 0 0 3px 2px;
      }

      &[disabled] {
        @include border-amber-30();
        @include text-amber-30();
      }
    }

    &.error,
    &.error:hover {
      @include border-alert-danger();
      @include text-alert-danger();

      &:focus {
        @include border-alert-danger();
        @include shadow-error();
      }

      &[disabled] {
        @include border-ruby-30();
        @include text-ruby-30();
      }
    }

    &.info,
    &.info:hover {
      @include border-alert-info();
      @include text-alert-info();

      &:focus {
        @include border-alert-info();

        box-shadow: rgba(0, 102, 212, 0.3) 0 0 3px 2px;
      }

      &[disabled] {
        @include border-azure-30();
        @include text-azure-30();
      }
    }

    &.success,
    &.success:hover {
      @include border-alert-success();
      @include text-alert-success();

      &:focus {
        @include border-alert-success();

        box-shadow: rgba(42, 195, 113, 0.3) 0 0 3px 2px;
      }

      &[disabled] {
        @include border-emerald-30();
        @include text-emerald-30();
      }
    }

    ~ .btn-clear {
      @include absolute();
      @include mt-4();

      right: 0;
    }
  }

  .validation-message {
    @include mt-4();
  }
}

// Print Style Sheet
@media print {
  .ids-textarea {
    .textarea-character-counter,
    .ids-textarea-field {
      @include hidden();
    }
  }

  .textarea-print {
    display: inline-block !important;
    height: auto;
    width: auto;
  }
}

// Handle Themes
.ids-textarea[mode='light'] {
  .ids-textarea-field {
    @include bg-white();
    @include border-slate-40();
    @include text-black();

    &[readonly] {
      @include bg-slate-20();
      @include border-slate-40();
      @include text-black();
    }

    &:hover {
      @include border-slate-90();
    }

    &:focus {
      @include border-azure-60();
    }

    &[disabled] {
      @include border-slate-30();
      @include text-slate-30();
    }
  }

  .label-text {
    @include text-slate-60();
  }

  &.disabled {
    .label-text {
      @include text-slate-30();

      &.required::after {
        @include text-ruby-30();
      }
    }
  }
}

.ids-textarea[mode='dark'] {
  .ids-textarea-field {
    @include bg-transparent();
    @include border-slate-40();
    @include text-white();

    &[disabled] {
      @include bg-transparent();
      @include border-slate-60();
      @include text-slate-60();
    }

    &[readonly] {
      @include bg-slate-70();
      @include border-slate-40();
      @include text-slate-10();
    }

    &:focus {
      @include border-azure-60();
    }
  }
}

.ids-textarea[mode='contrast'] {
  .ids-textarea-field {
    @include bg-white();
    @include border-slate-40();
    @include text-black();

    &[disabled] {
      @include bg-white();
      @include border-slate-30();
      @include text-slate-30();
    }

    &[readonly] {
      @include bg-slate-20();
      @include border-slate-40();
      @include text-slate-100();
    }

    &:focus {
      @include border-azure-90();
    }
  }
}

.ids-textarea[version='classic'][mode='light'] {
  .ids-textarea-field {
    @include bg-transparent();
    @include border-graphite-40();
    @include text-graphite-100();

    &[disabled] {
      @include bg-transparent();
      @include border-graphite-30();
      @include text-graphite-40();
    }

    &[readonly] {
      @include bg-graphite-20();
      @include border-graphite-40();
      @include text-graphite-100();
    }

    &:focus {
      @include border-azure-60();
    }
  }
}

.ids-textarea[version='classic'][mode='dark'] {
  .ids-textarea-field {
    @include bg-transparent();
    @include border-classic-slate-40();
    @include text-white();

    &[disabled] {
      @include bg-transparent();
      @include border-classic-slate-50();
      @include text-classic-slate-50();
    }

    &[readonly] {
      @include bg-classic-slate-60();
      @include border-classic-slate-40();
      @include text-white();
    }

    &:focus {
      @include border-azure-60();
    }
  }
}

.ids-textarea[version='classic'][mode='contrast'] {
  .ids-textarea-field {
    @include bg-white();
    @include border-graphite-80();
    @include text-black();

    &[disabled] {
      @include bg-transparent();
      @include border-graphite-50();
      @include text-graphite-80();
    }

    &[readonly] {
      @include bg-graphite-30();
      @include border-graphite-80();
      @include text-graphite-100();
    }

    &:focus {
      @include border-azure-90();
    }
  }
}
