/* Ids Splitter Component */
$split-bar-size: var(--ids-splitter-bar-width);

.ids-splitter {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;

  &.axis-x {
    flex-direction: row;
  }

  &.axis-y {
    flex-direction: column;
  }

  .ids-splitter-split-bar {
    position: absolute;

    .split-bar {
      display: flex;
      position: relative;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      transition: background-color var(--ids-motion-duration) var(--ids-motion-ease);

      &:hover {
        background-color: var(--ids-splitter-bar-color-background-hover);
      }
    }

    &[axis='x'] {
      height: 100%;
      width: $split-bar-size;
      top: 0;

      &.align-start {
        border-inline-start: 1px solid var(--ids-splitter-bar-border-color);
      }

      &.align-end {
        border-inline-end: 1px solid var(--ids-splitter-bar-border-color);
        margin-inline-start: -$split-bar-size;
      }
    }

    &[axis='y'] {
      height: $split-bar-size;
      left: 0;
      width: 100%;

      &.align-start {
        border-block-start: 1px solid var(--ids-splitter-bar-border-color);
      }

      &.align-end {
        border-block-end: 1px solid var(--ids-splitter-bar-border-color);
        margin-block-start: -$split-bar-size;
      }

      ids-icon {
        transform: rotate(-90deg);
      }
    }

    &[is-dragging],
    &:focus {
      outline: none;
      background-color: var(--ids-splitter-bar-color-background-hover);

      &[axis='x'].align-start,
      &[axis='x'].align-end,
      &[axis='y'].align-start,
      &[axis='y'].align-end {
        border-color: var(--ids-splitter-bar-color-border-dragging);
        box-shadow: var(--ids-splitter-bar-shadow-dragging);
      }
    }

    &[disabled] {
      display: none;
    }
  }
}

::slotted(ids-splitter-pane) {
  display: grid;
  overflow: auto;
}
