/* Ids Splitter Component */
.ids-splitter {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;

  &.axis-x {
    flex-direction: row;
  }

  &.axis-y {
    flex-direction: column;
  }

  .splitter-drag-handle {
    background-color: var(--ids-splitter-handle-color-background-hover);
    border-radius: var(--ids-splitter-handle-border-radius);
    display: block;
    height: var(--ids-splitter-handle-height);
    opacity: 0;
    position: absolute;
    margin-inline-start: -3px;
    width: var(--ids-splitter-handle-width);
    z-index: 1;
  }

  .splitter-dragger {
    position: absolute;

    .split-bar {
      border-inline-start: 1px solid var(--ids-splitter-bar-color-border);
      display: flex;
      position: relative;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;

      &:hover {
        border-inline-start: 2px solid var(--ids-splitter-bar-color-border-hover);

        .splitter-drag-handle  {
          opacity: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        margin-inline-start: -4px;
        width: var(--ids-splitter-bar-buffer-width);
      }
    }

    &[axis='x'] {
      height: 100%;
      top: 0;

      .split-bar {
        width: var(--ids-splitter-bar-width);
      }
    }

    &[axis='y'] {
      left: 0;
      width: 100%;

      .split-bar {
        border-block-start: 1px solid var(--ids-splitter-bar-color-border);
        border-inline-start: 0;
        height: var(--ids-splitter-bar-width);

        &::before {
          height: var(--ids-splitter-bar-buffer-width);
          margin-inline-start: 0;
          margin-block-start: -2px;
          width: 100%;
          z-index: -1;
        }

        &:hover {
          border-block-start: 2px solid var(--ids-splitter-bar-color-border-hover);
        }
      }

      &[is-dragging],
      &:focus {
        .split-bar {
          border-inline-start: 0;
          border-block-start: 2px solid var(--ids-splitter-bar-color-border-dragging);
        }
      }

      .splitter-drag-handle {
        margin-block-start: -4px;
        margin-inline-start: 0;
        height: var(--ids-splitter-handle-width);
        width: var(--ids-splitter-handle-height);
      }
    }

    &[is-dragging],
    &:focus {
      outline: none;

      .split-bar {
        border-inline-start: 2px solid var(--ids-splitter-bar-color-border-dragging);
      }

      .splitter-drag-handle  {
        opacity: 1;
      }
    }

    &[disabled] {
      display: none;
    }
  }
}

::slotted(ids-splitter-pane) {
  display: grid;
  overflow: auto;
}
