:host(ids-splitter-pane) {
  display: flex;
  flex-shrink: 0;
}

:host(ids-splitter-pane[axis='x']) {
  height: 100%;
  width: var(--size, auto);
}

:host(ids-splitter-pane[axis='y']) {
  height: var(--size, auto);
  width: 100%;
}
