<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid cols="1" cols-sm="2" cols-md="3" gap="md" padding="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Ids Input</ids-text>
        <br>
        <ids-input id="test-input" type="text" label="First Name" placeholder="Normal text Field"></ids-input>
        <ids-input type="text" label="Last Name" validate="required"></ids-input>
        <ids-input type="text" label="Email Address" placeholder="Company@address.com" validate="email required"></ids-input>
        <ids-input type="text" label="Disabled" disabled="true" value="Field not editable"></ids-input>
        <ids-input type="text" label="Readonly" readonly="true" value="02006" id="readonly"></ids-input>
        <ids-input type="text" label="Dirty Tracking" dirty-tracker="true" placeholder="Dirty Tracking" value="02006" id="e2e-dirty-tracker-input"></ids-input>
        <ids-input type="text" label="Clearable" placeholder="Clearable text Field" clearable="true"></ids-input>
        <ids-input type="text" label="Autoselect" value="Text select on focus" autoselect="true"></ids-input>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Ids Input - Sizes</ids-text>
        <br>
        <ids-input size="xs" label="Xtra Small"></ids-input>
        <ids-input size="sm" label="Small"></ids-input>
        <ids-input size="mm" label="Small - Medium"></ids-input>
        <ids-input size="md" label="Medium"></ids-input>
        <br>
        <ids-text font-size="12" type="h2">Ids Input - Text align</ids-text>
        <br>
        <ids-input label="Default align (start)" value="Default align"></ids-input>
        <ids-input label="Start align" value="Start align" text-align="start"></ids-input>
        <ids-input label="Center align" value="Center align" text-align="center"></ids-input>
        <ids-input label="End align" value="End align" text-align="end"></ids-input>
        <br>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h2">Input - Enable/ Disable/ Readonly</ids-text>
        <br>
        <ids-input id="input-toggle-state" label="Text Field" value="Some text"></ids-input>
        <ids-button id="btn-input-enable" appearance="secondary">
          <span>Enable</span>
        </ids-button>
        <ids-button id="btn-input-disable" appearance="secondary">
          <span>Disable</span>
        </ids-button>
        <ids-button id="btn-input-readonly" appearance="secondary">
          <span>Readonly</span>
        </ids-button>
        <br><br>
        <ids-text font-size="12" type="h2">Ids Input - Password</ids-text>
        <br>
        <ids-input id="password-test" label="Password" caps-lock="true" revealable-password="true" password-visible="false" type="password" value="Test"></ids-input>
        <ids-text font-size="12" type="h2">Ids Input - Phone/Number</ids-text>
        <br>
        <ids-input id="phone-input" type="phone" label="Phone Number" mask="number" placeholder="(###) ###-####"></ids-input>
        <ids-input id="number-input" label="Number" mask="number" placeholder="1000.00" text-align="end"></ids-input>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
