<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
      <ids-layout-grid cols="1" gap="md">
        <ids-layout-grid-cell>
          <ids-input
            id="input-1"
            placeholder=""
            size="full"
            label="Full Column"
          ></ids-input>
        </ids-layout-grid-cell>
      </ids-layout-grid>

      <ids-layout-grid cols="2" gap="md">
        <ids-layout-grid-cell>
          <ids-input
            id="input-21"
            placeholder=""
            size="full"
            label="Half Column"
          ></ids-input>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-input
            id="input-22"
            placeholder=""
            size="full"
            label="Half Column"
          ></ids-input>
        </ids-layout-grid-cell>
      </ids-layout-grid>

      <ids-layout-grid cols="4" gap="md">
        <ids-layout-grid-cell>
          <ids-input
            id="input-41"
            placeholder=""
            size="full"
            label="One Fourth Column"
          ></ids-input>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-input
            id="input-42"
            placeholder=""
            size="full"
            label="One Fourth Column"
          ></ids-input>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-input
            id="input-43"
            placeholder=""
            size="full"
            label="One Fourth Column"
          ></ids-input>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-input
            id="input-44"
            placeholder=""
            size="full"
            label="One Fourth Column"
          ></ids-input>
        </ids-layout-grid-cell>
      </ids-layout-grid>

      <ids-layout-grid cols="5" gap="md">
        <ids-layout-grid-cell>
          <ids-input
            id="input-51"
            placeholder=""
            size="full"
            label="One Fifth Column"
          ></ids-input>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-input
            id="input-52"
            placeholder=""
            size="full"
            label="One Fifth Column"
          ></ids-input>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-input
            id="input-53"
            placeholder=""
            size="full"
            label="One Fifth Column"
          ></ids-input>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-input
            id="input-54"
            placeholder=""
            size="full"
            label="One Fifth Column"
          ></ids-input>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-input
            id="input-55"
            placeholder=""
            size="full"
            label="One Fifth Column"
          ></ids-input>
        </ids-layout-grid-cell>
      </ids-layout-grid>
  </ids-container>
</body>
</html>
