<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Input - Validation Types</ids-text>
        <br>
        <ids-input type="text" validate="time" format="hh:mm a" label="Time validation (hh:mm a)"></ids-input>
        <ids-input type="text" validate="time" format="h:mm a" label="Time validation (h:mm a)"></ids-input>
        <ids-input type="text" validate="time" format="HH:mm" label="Time validation (HH:mm)"></ids-input>
        <ids-input type="text" validate="time" format="H:mm" label="Time validation (H:mm)"></ids-input>
        <ids-input id="e2e-input-12h-format" type="text" validate="time" format="hh:mm a" mask="date" label="Time mask with validation (hh:mm a)"></ids-input>
        <ids-input id="e2e-input-24h-format" type="text" validate="time" format="HH:mm" mask="date" label="Time mask with validation (HH:mm)"></ids-input>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
