<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Input - Ids Validation Message</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto="true" gap="md">
      <ids-layout-grid-cell>

        <ids-button id="btn-add-message" type="secondary">
          <span slot="text">Add Message</span>
        </ids-button>
        <ids-button id="btn-remove-message" type="secondary">
          <span slot="text">Remove Message</span>
        </ids-button>
        <br/><br/>

        <ids-input label="Test Error" id="input-validation-error" value="Some text"></ids-input>
        <ids-input label="Test Alert (Warning)" id="input-validation-alert" value="Some text"></ids-input>
        <ids-input label="Test Confirmation" id="input-validation-success" value="Some text"></ids-input>
        <ids-input label="Test Information" id="input-validation-info" value="Some text"></ids-input>
        <ids-input label="Test Icon (default icon)" id="input-validation-icon-default" value="Some text"></ids-input>
        <ids-input label="Test Icon (custom icon)" id="input-validation-icon-custom" value="Some text"></ids-input>

      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const btnAddMessage = document.querySelector('#btn-add-message');
      const btnRemoveMessage = document.querySelector('#btn-remove-message');

      const inputError = document.querySelector('#input-validation-error');
      const inputAlert = document.querySelector('#input-validation-alert');
      const inputSuccess = document.querySelector('#input-validation-success');
      const inputInfo = document.querySelector('#input-validation-info');
      const inputIconDefault = document.querySelector('#input-validation-icon-default');
      const inputIconCustom = document.querySelector('#input-validation-icon-custom');

      // Add input message
      const addInputMessage = () => {
        // Error
        inputError?.addMessage({
          message: 'Something is wrong do not continue',
          type: 'error',
          id: 'error'
        });

        // Alert
        inputAlert?.addMessage({
          message: 'Warning the value may be incorrect',
          type: 'alert',
          id: 'alert'
        });

        // Success
        inputSuccess?.addMessage({
          message: 'This value is correct',
          type: 'success',
          id: 'success'
        });

        // Info
        inputInfo?.addMessage({
          message: 'Random information about this field',
          type: 'info',
          id: 'info'
        });

        // Icon default
        inputIconDefault?.addMessage({
          message: 'Something about your user profile',
          type: 'icon',
          id: 'icon-default'
        });

        // Icon custom (mail)
        inputIconCustom?.addMessage({
          message: 'Something about your mail information',
          type: 'icon',
          id: 'icon-custom',
          icon: 'mail'
        });
      };

      // Remove input message
      const removeInputMessage = () => {
        // Error
        inputError?.removeMessage({ id: 'error' });

        // Alert
        inputAlert?.removeMessage({ id: 'alert' });

        // Success
        inputSuccess?.removeMessage({ id: 'success' });

        // Info
        inputInfo?.removeMessage({ id: 'info' });

        // Icon default
        inputIconDefault?.removeMessage({ id: 'icon-default' });

        // Icon custom (mail)
        inputIconCustom?.removeMessage({ id: 'icon-custom' });
      };

      // Init, add message on load
      addInputMessage();

      // Bind buttons
      btnAddMessage?.addEventListener('click', addInputMessage);
      btnRemoveMessage?.addEventListener('click', removeInputMessage);
    });
  </script>
</body>
</html>
