<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Input - Custom Validation</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" gap="md" padding-x="md" padding-y="lg">
      <ids-layout-grid-cell>
        <ids-input-group id="validation-group-name">
          <ids-input validate="required" name="firstname" label="First Name" type="text" display="inline-block"></ids-input>
          <ids-input name="middleinitial" label="MI" maxlength="1" type="text" display="inline-block" size="xs"></ids-input>
          <ids-input validate="required" name="lastname" label="Last Name" type="text" display="inline-block"></ids-input>
        </ids-input-group>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" gap="md" padding-x="md" padding-y="lg">
      <ids-layout-grid-cell>
        <ids-input-group id="validation-group-time">
          <ids-time-picker label="Start Time" validate="required"></ids-time-picker>
          <ids-time-picker label="End Time" validate="required"></ids-time-picker>
        </ids-input-group>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
