<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Dropdown - Groups</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-dropdown typeahead="true" label="Typeahead Dropdown Groups">
          <ids-list-box>
            <ids-list-box-option group-label>Burlington County</ids-list-box-option>
            <ids-list-box-option value="Bordentown">Bordentown</ids-list-box-option>
            <ids-list-box-option value="Burlington Township">Burlington Township</ids-list-box-option>
            <ids-list-box-option value="Cinnaminson">Cinnaminson</ids-list-box-option>
            <ids-list-box-option value="Delran">Delran</ids-list-box-option>
            <ids-list-box-option value="Evesham">Evesham</ids-list-box-option>
            <ids-list-box-option value="Moorestown">Moorestown</ids-list-box-option>
            <ids-list-box-option value="Mount Laurel">Mount Laurel</ids-list-box-option>
            <ids-list-box-option value="Palmyra">Palmyra</ids-list-box-option>
            <ids-list-box-option group-label="true">Camden County</ids-list-box-option>
            <ids-list-box-option value="Brooklawn">Brooklawn</ids-list-box-option>
            <ids-list-box-option value="Camden">Camden</ids-list-box-option>
            <ids-list-box-option value="Cherry Hill">Cherry Hill</ids-list-box-option>
            <ids-list-box-option value="Erial">Erial</ids-list-box-option>
            <ids-list-box-option value="Haddonfield">Haddonfield</ids-list-box-option>
            <ids-list-box-option value="Pennsauken">Pennsauken</ids-list-box-option>
            <ids-list-box-option value="Pine Hill">Pine Hill</ids-list-box-option>
            <ids-list-box-option value="Sicklerville">Sicklerville</ids-list-box-option>
            <ids-list-box-option group-label>Gloucester County</ids-list-box-option>
            <ids-list-box-option value="Cross Keys">Cross Keys</ids-list-box-option>
            <ids-list-box-option value="Deptford">Deptford</ids-list-box-option>
            <ids-list-box-option value="Glassboro">Glassboro</ids-list-box-option>
            <ids-list-box-option value="Mullica Hill">Mullica Hill</ids-list-box-option>
            <ids-list-box-option value="Turnersville">Turnersville</ids-list-box-option>
            <ids-list-box-option value="Washington Township">Washington Township</ids-list-box-option>
            <ids-list-box-option value="Woodbury Heights">Woodbury Heights</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>

        <ids-dropdown label="Regular Dropdown Groups">
          <ids-list-box>
            <ids-list-box-option group-label>Burlington County</ids-list-box-option>
            <ids-list-box-option value="Bordentown">Bordentown</ids-list-box-option>
            <ids-list-box-option value="Burlington Township">Burlington Township</ids-list-box-option>
            <ids-list-box-option value="Cinnaminson">Cinnaminson</ids-list-box-option>
            <ids-list-box-option value="Delran">Delran</ids-list-box-option>
            <ids-list-box-option value="Evesham">Evesham</ids-list-box-option>
            <ids-list-box-option value="Moorestown">Moorestown</ids-list-box-option>
            <ids-list-box-option value="Mount Laurel">Mount Laurel</ids-list-box-option>
            <ids-list-box-option value="Palmyra">Palmyra</ids-list-box-option>
            <ids-list-box-option group-label="true">Camden County</ids-list-box-option>
            <ids-list-box-option value="Brooklawn">Brooklawn</ids-list-box-option>
            <ids-list-box-option value="Camden">Camden</ids-list-box-option>
            <ids-list-box-option value="Cherry Hill">Cherry Hill</ids-list-box-option>
            <ids-list-box-option value="Erial">Erial</ids-list-box-option>
            <ids-list-box-option value="Haddonfield">Haddonfield</ids-list-box-option>
            <ids-list-box-option value="Pennsauken">Pennsauken</ids-list-box-option>
            <ids-list-box-option value="Pine Hill">Pine Hill</ids-list-box-option>
            <ids-list-box-option value="Sicklerville">Sicklerville</ids-list-box-option>
            <ids-list-box-option group-label>Gloucester County</ids-list-box-option>
            <ids-list-box-option value="Cross Keys">Cross Keys</ids-list-box-option>
            <ids-list-box-option value="Deptford">Deptford</ids-list-box-option>
            <ids-list-box-option value="Glassboro">Glassboro</ids-list-box-option>
            <ids-list-box-option value="Mullica Hill">Mullica Hill</ids-list-box-option>
            <ids-list-box-option value="Turnersville">Turnersville</ids-list-box-option>
            <ids-list-box-option value="Washington Township">Washington Township</ids-list-box-option>
            <ids-list-box-option value="Woodbury Heights">Woodbury Heights</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>

        <ids-dropdown allow-blank="true" label="Regular Dropdown Groups Blank Option">
          <ids-list-box>
            <ids-list-box-option group-label>Burlington County</ids-list-box-option>
            <ids-list-box-option value="Bordentown">Bordentown</ids-list-box-option>
            <ids-list-box-option value="Burlington Township">Burlington Township</ids-list-box-option>
            <ids-list-box-option value="Cinnaminson">Cinnaminson</ids-list-box-option>
            <ids-list-box-option value="Delran">Delran</ids-list-box-option>
            <ids-list-box-option value="Evesham">Evesham</ids-list-box-option>
            <ids-list-box-option value="Moorestown">Moorestown</ids-list-box-option>
            <ids-list-box-option value="Mount Laurel">Mount Laurel</ids-list-box-option>
            <ids-list-box-option value="Palmyra">Palmyra</ids-list-box-option>
            <ids-list-box-option group-label="true">Camden County</ids-list-box-option>
            <ids-list-box-option value="Brooklawn">Brooklawn</ids-list-box-option>
            <ids-list-box-option value="Camden">Camden</ids-list-box-option>
            <ids-list-box-option value="Cherry Hill">Cherry Hill</ids-list-box-option>
            <ids-list-box-option value="Erial">Erial</ids-list-box-option>
            <ids-list-box-option value="Haddonfield">Haddonfield</ids-list-box-option>
            <ids-list-box-option value="Pennsauken">Pennsauken</ids-list-box-option>
            <ids-list-box-option value="Pine Hill">Pine Hill</ids-list-box-option>
            <ids-list-box-option value="Sicklerville">Sicklerville</ids-list-box-option>
            <ids-list-box-option group-label>Gloucester County</ids-list-box-option>
            <ids-list-box-option value="Cross Keys">Cross Keys</ids-list-box-option>
            <ids-list-box-option value="Deptford">Deptford</ids-list-box-option>
            <ids-list-box-option value="Glassboro">Glassboro</ids-list-box-option>
            <ids-list-box-option value="Mullica Hill">Mullica Hill</ids-list-box-option>
            <ids-list-box-option value="Turnersville">Turnersville</ids-list-box-option>
            <ids-list-box-option value="Washington Township">Washington Township</ids-list-box-option>
            <ids-list-box-option value="Woodbury Heights">Woodbury Heights</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
