<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Dropdowns (In a popup)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-button id="popup-trigger-btn" appearance="secondary">
          <span>Trigger a Popup</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-popup x="15" y="0" align-target="#popup-trigger-btn" align="right" animated="true" type="menu" id="popup-1">
      <div slot="content">
        <ids-scroll-container class="scrollable">
          <ids-layout-grid gap="md" padding="md">
            <ids-layout-grid-cell>
              <ids-dropdown label="Dropdown One" value="opt1">
                <ids-list-box>
                  <ids-list-box-option value="opt1" id="opt1-d1">Option One</ids-list-box-option>
                  <ids-list-box-option value="opt2" id="opt2-d1">Option Two</ids-list-box-option>
                  <ids-list-box-option value="opt3" id="opt3-d1">Option Three</ids-list-box-option>
                  <ids-list-box-option value="opt4" id="opt4-d1">Option Four</ids-list-box-option>
                  <ids-list-box-option value="opt5" id="opt5-d1">Option Five</ids-list-box-option>
                  <ids-list-box-option value="opt6" id="opt6-d1">Option Six</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>
              <ids-dropdown label="Dropdown Two" value="opt2">
                <ids-list-box>
                  <ids-list-box-option value="opt1" id="opt1-d2">Option One</ids-list-box-option>
                  <ids-list-box-option value="opt2" id="opt2-d2">Option Two</ids-list-box-option>
                  <ids-list-box-option value="opt3" id="opt3-d2">Option Three</ids-list-box-option>
                  <ids-list-box-option value="opt4" id="opt4-d2">Option Four</ids-list-box-option>
                  <ids-list-box-option value="opt5" id="opt5-d2">Option Five</ids-list-box-option>
                  <ids-list-box-option value="opt6" id="opt6-d2">Option Six</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>
              <ids-dropdown label="Dropdown Three" value="opt3">
                <ids-list-box>
                  <ids-list-box-option value="opt1" id="opt1-d3">Option One</ids-list-box-option>
                  <ids-list-box-option value="opt2" id="opt2-d3">Option Two</ids-list-box-option>
                  <ids-list-box-option value="opt3" id="opt3-d3">Option Three</ids-list-box-option>
                  <ids-list-box-option value="opt4" id="opt4-d3">Option Four</ids-list-box-option>
                  <ids-list-box-option value="opt5" id="opt5-d3">Option Five</ids-list-box-option>
                  <ids-list-box-option value="opt6" id="opt6-d3">Option Six</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>
              <ids-dropdown label="Dropdown Four" value="opt4">
                <ids-list-box>
                  <ids-list-box-option value="opt1" id="opt1-d4">Option One</ids-list-box-option>
                  <ids-list-box-option value="opt2" id="opt2-d4">Option Two</ids-list-box-option>
                  <ids-list-box-option value="opt3" id="opt3-d4">Option Three</ids-list-box-option>
                  <ids-list-box-option value="opt4" id="opt4-d4">Option Four</ids-list-box-option>
                  <ids-list-box-option value="opt5" id="opt5-d4">Option Five</ids-list-box-option>
                  <ids-list-box-option value="opt6" id="opt6-d4">Option Six</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>
              <ids-dropdown label="Dropdown Five" value="opt5">
                <ids-list-box>
                  <ids-list-box-option value="opt1" id="opt1-d5">Option One</ids-list-box-option>
                  <ids-list-box-option value="opt2" id="opt2-d5">Option Two</ids-list-box-option>
                  <ids-list-box-option value="opt3" id="opt3-d5">Option Three</ids-list-box-option>
                  <ids-list-box-option value="opt4" id="opt4-d5">Option Four</ids-list-box-option>
                  <ids-list-box-option value="opt5" id="opt5-d5">Option Five</ids-list-box-option>
                  <ids-list-box-option value="opt6" id="opt6-d5">Option Six</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>
            </ids-layout-grid-cell>
          </ids-layout-grid>
        </ids-scroll-container>
      </div>
    </ids-popup>
  </ids-container>
</body>
</html>
