<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Dropdown Sizes</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="1" cols-md="2" gap="sm" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Width</ids-text>
        <br/>
        <ids-dropdown label="Default" value="opt3">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Extra Small" value="11" size="xs">
          <ids-list-box>
            <ids-list-box-option value="11">11</ids-list-box-option>
            <ids-list-box-option value="22">22</ids-list-box-option>
            <ids-list-box-option value="33">33</ids-list-box-option>
            <ids-list-box-option value="AM">AM</ids-list-box-option>
            <ids-list-box-option value="PM">PM</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Small" value="opt3" size="sm">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Small - Medium" value="opt3" size="mm">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Medium" value="opt3" size="md">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Large" value="opt3" size="lg">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Full" value="opt3" size="full">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Height</ids-text>
        <br/>
        <ids-dropdown label="Compact" value="opt3" compact>
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Extra Small" value="opt3" field-height="xs">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Small" value="opt3" field-height="sm">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Medium" value="opt3" field-height="md">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
        <ids-dropdown label="Large" value="opt3" field-height="lg">
          <ids-list-box>
            <ids-list-box-option value="opt1">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3">Option Three</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
