<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Dropdown - Typeahead</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-dropdown typeahead="true" label="Dropdown typeahead" value="ca">
          <ids-list-box>
            <ids-list-box-option id="ca" value="ca">California</ids-list-box-option>
            <ids-list-box-option id="fl" value="fl">Florida</ids-list-box-option>
            <ids-list-box-option id="hi" value="hi">Hawaii</ids-list-box-option>
            <ids-list-box-option id="id" value="id">Idaho</ids-list-box-option>
            <ids-list-box-option id="il" value="il">Illinois</ids-list-box-option>
            <ids-list-box-option id="in" value="in">Indiana</ids-list-box-option>
            <ids-list-box-option id="ia" value="ia">Iowa</ids-list-box-option>
            <ids-list-box-option id="ks" value="ks">Kansas</ids-list-box-option>
            <ids-list-box-option id="ky" value="ky">Kentucky</ids-list-box-option>
            <ids-list-box-option id="la" value="la">Louisiana</ids-list-box-option>
            <ids-list-box-option id="me" value="me">Maine</ids-list-box-option>
            <ids-list-box-option id="md" value="md">Maryland</ids-list-box-option>
            <ids-list-box-option id="ma" value="ma">Massachusetts</ids-list-box-option>
            <ids-list-box-option id="mi" value="mi">Michigan</ids-list-box-option>
            <ids-list-box-option id="mn" value="mn">Minnesota</ids-list-box-option>
            <ids-list-box-option id="ms" value="ms">Mississippi</ids-list-box-option>
            <ids-list-box-option id="mo" value="mo">Missouri</ids-list-box-option>
            <ids-list-box-option id="mt" value="mt">Montana</ids-list-box-option>
            <ids-list-box-option id="ne" value="ne">Nebraska</ids-list-box-option>
            <ids-list-box-option id="nv" value="nv">Nevada</ids-list-box-option>
            <ids-list-box-option id="nh" value="nh">New Hampshire</ids-list-box-option>
            <ids-list-box-option id="nj" value="nj">New Jersey</ids-list-box-option>
            <ids-list-box-option id="nm" value="nm">New Mexico</ids-list-box-option>
            <ids-list-box-option id="ny" value="ny">New York</ids-list-box-option>
            <ids-list-box-option id="nc" value="nc">North Carolina</ids-list-box-option>
            <ids-list-box-option id="nd" value="nd">North Dakota</ids-list-box-option>
            <ids-list-box-option id="oh" value="oh">Ohio</ids-list-box-option>
            <ids-list-box-option id="ok" value="ok">Oklahoma</ids-list-box-option>
            <ids-list-box-option id="or" value="or">Oregon</ids-list-box-option>
            <ids-list-box-option id="pa" value="pa">Pennsylvania</ids-list-box-option>
            <ids-list-box-option id="ri" value="ri">Rhode Island</ids-list-box-option>
            <ids-list-box-option id="sc" value="sc">South Carolina</ids-list-box-option>
            <ids-list-box-option id="sd" value="sd">South Dakota</ids-list-box-option>
            <ids-list-box-option id="tn" value="tn">Tennessee</ids-list-box-option>
            <ids-list-box-option id="tx" value="tx">Texas</ids-list-box-option>
            <ids-list-box-option id="ut" value="ut">Utah</ids-list-box-option>
            <ids-list-box-option id="vt" value="vt">Vermont</ids-list-box-option>
            <ids-list-box-option id="va" value="va">Virginia</ids-list-box-option>
            <ids-list-box-option id="wa" value="wa">Washington</ids-list-box-option>
            <ids-list-box-option id="wv" value="wv">West Virginia</ids-list-box-option>
            <ids-list-box-option id="wi" value="wi">Wisconsin</ids-list-box-option>
            <ids-list-box-option id="wy" value="wy">Wyoming</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>

        <ids-dropdown typeahead="true" allow-blank="true" label="Dropdown typeahead with blank option" value="ca">
          <ids-list-box>
            <ids-list-box-option value="ca">California</ids-list-box-option>
            <ids-list-box-option value="fl">Florida</ids-list-box-option>
            <ids-list-box-option value="hi">Hawaii</ids-list-box-option>
            <ids-list-box-option value="id">Idaho</ids-list-box-option>
            <ids-list-box-option value="il">Illinois</ids-list-box-option>
            <ids-list-box-option value="in">Indiana</ids-list-box-option>
            <ids-list-box-option value="ia">Iowa</ids-list-box-option>
            <ids-list-box-option value="ks">Kansas</ids-list-box-option>
            <ids-list-box-option value="ky">Kentucky</ids-list-box-option>
            <ids-list-box-option value="la">Louisiana</ids-list-box-option>
            <ids-list-box-option value="me">Maine</ids-list-box-option>
            <ids-list-box-option value="md">Maryland</ids-list-box-option>
            <ids-list-box-option value="ma">Massachusetts</ids-list-box-option>
            <ids-list-box-option value="mi">Michigan</ids-list-box-option>
            <ids-list-box-option value="mn">Minnesota</ids-list-box-option>
            <ids-list-box-option value="ms">Mississippi</ids-list-box-option>
            <ids-list-box-option value="mo">Missouri</ids-list-box-option>
            <ids-list-box-option value="mt">Montana</ids-list-box-option>
            <ids-list-box-option value="ne">Nebraska</ids-list-box-option>
            <ids-list-box-option value="nv">Nevada</ids-list-box-option>
            <ids-list-box-option value="nh">New Hampshire</ids-list-box-option>
            <ids-list-box-option value="nj">New Jersey</ids-list-box-option>
            <ids-list-box-option value="nm">New Mexico</ids-list-box-option>
            <ids-list-box-option value="ny">New York</ids-list-box-option>
            <ids-list-box-option value="nc">North Carolina</ids-list-box-option>
            <ids-list-box-option value="nd">North Dakota</ids-list-box-option>
            <ids-list-box-option value="oh">Ohio</ids-list-box-option>
            <ids-list-box-option value="ok">Oklahoma</ids-list-box-option>
            <ids-list-box-option value="or">Oregon</ids-list-box-option>
            <ids-list-box-option value="pa">Pennsylvania</ids-list-box-option>
            <ids-list-box-option value="ri">Rhode Island</ids-list-box-option>
            <ids-list-box-option value="sc">South Carolina</ids-list-box-option>
            <ids-list-box-option value="sd">South Dakota</ids-list-box-option>
            <ids-list-box-option value="tn">Tennessee</ids-list-box-option>
            <ids-list-box-option value="tx">Texas</ids-list-box-option>
            <ids-list-box-option value="ut">Utah</ids-list-box-option>
            <ids-list-box-option value="vt">Vermont</ids-list-box-option>
            <ids-list-box-option value="va">Virginia</ids-list-box-option>
            <ids-list-box-option value="wa">Washington</ids-list-box-option>
            <ids-list-box-option value="wv">West Virginia</ids-list-box-option>
            <ids-list-box-option value="wi">Wisconsin</ids-list-box-option>
            <ids-list-box-option value="wy">Wyoming</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>

        <ids-dropdown typeahead="true" clearable="true" label="Typeahead with icons">
          <ids-list-box>
            <ids-list-box-option value="opt1">
              <ids-icon icon="user-profile"></ids-icon>Option One
            </ids-list-box-option>
            <ids-list-box-option value="opt2">
              <ids-icon icon="project"></ids-icon>Option Two
            </ids-list-box-option>
            <ids-list-box-option value="opt3">
              <ids-icon icon="purchasing"></ids-icon>Option Three
            </ids-list-box-option>
            <ids-list-box-option value="opt4">
              <ids-icon icon="quality"></ids-icon>Option Four
            </ids-list-box-option>
            <ids-list-box-option value="opt5">
              <ids-icon icon="rocket"></ids-icon>Option Five
            </ids-list-box-option>
            <ids-list-box-option value="opt6">
              <ids-icon icon="roles"></ids-icon>Option Six
            </ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
