// In a CSS only Message/Modal, custom sizing/placement CSS is required
// to create similar output to the WebComponent.

// Position the Popup in the center of the page.
// These sizes are specific to this demo's Popup.
// Use your own sizing rules in place of these (or calculate them)
#my-message-popup {
  left: calc(50% - 220px);
  top: calc(50% - 110px);
}

// Limit the contents' size
#my-message-contents {
  display: block;
  max-width: 400px;
}
