<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Fieldset</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <form>
        <ids-fieldset>
          <legend><ids-text font-size="20" type="h2" id="user-info">User Information</ids-text></legend>
          <ids-input type="text" label="User Name" id="user-name"></ids-input>
          <ids-input type="text" label="User Address" id="user-address"></ids-input>
          <ids-dropdown id="dropdown" label="Other Options">
            <ids-list-box>
              <ids-list-box-option value="One">Option One</ids-list-box-option>
              <ids-list-box-option value="Two">Option Two</ids-list-box-option>
              <ids-list-box-option value="Three">Option Three</ids-list-box-option>
            </ids-list-box>
          </ids-dropdown>
        </ids-fieldset>
        <ids-fieldset>
          <legend><ids-text font-size="20" type="h2" id="company-info">Company Information</ids-text></legend>
          <ids-input type="text" label="Company Name" id="company-name"></ids-input>
          <ids-input type="text" label="Company Type" id="type"></ids-input>
          <ids-input type="text" label="Company Address" id="company-address"></ids-input>
          <ids-checkbox label="Checked" checked="true"></ids-checkbox>
          <ids-button appearance="primary">Submit</ids-button>
        </ids-fieldset>
      </form>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
