<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid>
      <ids-text font-size="12" type="h1">Fieldset</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <form>
        <ids-fieldset>
          <legend><ids-text font-size="24" type="h2" id="user-info">User Information</ids-text></legend>
          <ids-input type="text" label="User Name" id="user-name"></ids-input>
          <ids-input type="text" label="User Address" id="user-address"></ids-input>
        </ids-fieldset>
        <ids-fieldset>
          <legend><ids-text font-size="24" type="h2" id="company-info">Company Information</ids-text></legend>
          <ids-input type="text" label="Company Name" id="company-name"></ids-input>
          <ids-input type="text" label="Company Type" id="type"></ids-input>
          <ids-input type="text" label="Company Address" id="company-address"></ids-input>
          <ids-checkbox label="Checked" checked="true"></ids-checkbox>
          <ids-button type="primary">Submit</ids-button>
        </ids-fieldset>
      </form>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
