/* Ids Breadcrumb Component */
@import '../ids-base/ids-base';

.ids-breadcrumb {
  @include antialiased();

  [text-decoration] {
    text-decoration: attr(text-decoration);
  }
}

::slotted(*),
.ids-breadcrumb > * {
  display: inline;
}

ids-text {
  @include text-14();

  float: left;
}

::slotted(*:last-child) {
  font-weight: bold;
}

::slotted(*:not(:first-child))::before,
.ids-breadcrumb > *:not(:first-child)::before {
  @include antialiased();
  @include text-slate-60();

  content: '\002F';
  font-weight: normal;
  padding-left: 4px;
  padding-right: 8px;
  text-decoration: none;
  display: inline-block;

  // Handle Themes
  &[mode='dark'] {
    @include text-slate-10();

    &.label {
      @include text-slate-30();
    }
  }

  &[disabled][mode='dark'] {
    @include text-slate-60();

    &.label {
      @include text-slate-60();
    }
  }

  &[mode='contrast'] {
    @include text-slate-100();

    &.label {
      @include text-slate-90();
    }
  }

  &[disabled][mode='contrast'] {
    @include text-slate-40();

    &.label {
      @include text-slate-40();
    }
  }

  &[mode='light'][version='classic'] {
    @include text-graphite-60();
  }

  &[disabled][mode='light'][version='classic'] {
    @include text-graphite-40();
  }

  &[mode='dark'][version='classic'] {
    @include text-classic-slate-10();
  }

  &[disabled][mode='dark'][version='classic'] {
    @include text-classic-slate-50();
  }

  &[mode='contrast'][version='classic'] {
    @include text-graphite-80();
  }

  &[disabled][mode='contrast'][version='classic'] {
    @include text-graphite-40();
  }
}
