/* Ids Tag Component */
@import '../../core/ids-base';

.ids-tag {
  @include antialiased();
  @include bg-slate-20();
  @include border-1();
  // @include border-slate-20();
  @include border-solid();
  @include font-sans();
  @include inline-flex();
  @include mb-4();
  @include mr-4();
  @include px-8();
  @include py-1();
  @include rounded-lg();
  @include text-14();
  @include text-slate-100();

  contain: content;

  // Secondary has a darker border
  &.ids-secondary {
    @include border-slate-30();
  }

  // Some colors require white text
  &.ids-white {
    @include bg-white();
    @include text-white();
  }

  // Clickable tags can be focused and clicked
  &.ids-focusable {
    @include cursor-pointer();

    &:focus {
      @include cursor-pointer();
      @include border-azure-60();
      @include outline-none();
      @include shadow();
    }
  }
}

// Adjust icons in the tag
::slotted(ids-icon) {
  @include cursor-pointer();
  @include self-center();
  @include inline-flex();
  @include pl-4();
  @include pt-1();
  @include text-slate-100();
}

// Adjust hover state
::slotted(ids-icon:hover) {
  @include text-slate-60();
}

// Handle white coloring
.ids-white ::slotted(ids-icon),
.ids-white ::slotted(ids-icon:hover) {
  @include text-white();
}

// Handle Themes
.ids-tag[mode='dark'] {
  @include bg-slate-60();
  @include border-slate-60();
  @include text-white();
}

.ids-tag[mode='dark'] ::slotted(ids-icon) {
  @include text-slate-10();
}

.ids-tag[mode='dark'] ::slotted(ids-icon:hover) {
  @include text-white();
}

.ids-tag[mode='contrast'] {
  @include bg-slate-20();
  @include border-slate-20();
  @include text-slate-100();
}

.ids-tag[mode='contrast'] ::slotted(ids-icon) {
  @include text-slate-100();
}

.ids-tag[mode='contrast'] ::slotted(ids-icon:hover) {
  @include text-black();
}

.ids-tag[version='classic'][mode='light'] {
  @include bg-graphite-20();
  @include border-graphite-20();
  @include text-black();
}

.ids-tag[version='classic'][mode='light'] ::slotted(ids-icon) {
  @include text-graphite-100();
}

.ids-tag[version='classic'][mode='light'] ::slotted(ids-icon:hover) {
  @include text-black();
}

.ids-tag[version='classic'][mode='dark'] {
  @include bg-graphite-60();
  @include border-graphite-60();
  @include text-white();
}

.ids-tag[version='classic'][mode='dark'] ::slotted(ids-icon) {
  @include text-graphite-10();
}

.ids-tag[version='classic'][mode='dark'] ::slotted(ids-icon:hover) {
  @include text-white();
}

.ids-tag[version='classic'][mode='contrast'] {
  @include bg-graphite-40();
  @include border-graphite-40();
  @include text-black();
}

.ids-tag[version='classic'][mode='contrast'] ::slotted(ids-icon) {
  @include text-graphite-100();
}

.ids-tag[version='classic'][mode='contrast'] ::slotted(ids-icon:hover) {
  @include text-black();
}
