/* Ids Tag Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

.ids-tag {
  @include mixins.antialiased();

  // Colors/Borders
  background-color: var(--ids-tag-color-background-default);
  border: 1px solid var(--ids-tag-color-border);
  border-radius: var(--ids-tag-border-radius);

  // Fonts
  font-family: var(--ids-font-family-default);
  font-size: var(--ids-tag-font-size-default);
  color: var(--ids-tag-color-text-default);
  white-space: nowrap;

  // Layout
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: var(--ids-space-xxs);
  padding-inline:  var(--ids-space-xs);
  height: var(--ids-tag-height);
  contain: content;

  // Secondary has a darker border
  &.secondary {
    background-color: var(--ids-tag-secondary-color-background);
    border-color: var(--ids-tag-secondary-color-border);
  }

  &.info {
    background-color: var(--ids-tag-color-background-info);
    border-color: var(--ids-tag-color-border-info);
    color: var(--ids-tag-color-text-info);
  }

  &.success {
    background-color: var(--ids-tag-color-background-success);
    border-color: var(--ids-tag-color-border-success);
    color: var(--ids-tag-color-text-success);
  }

  &.warning {
    background-color: var(--ids-tag-color-background-warning);
    border-color: var(--ids-tag-color-border-warning);
    color: var(--ids-tag-color-text-warning);
  }

  &.caution {
    background-color: var(--ids-tag-color-background-caution);
    border-color: var(--ids-tag-color-border-caution);
    color: var(--ids-tag-color-text-caution);
  }

  &.error {
    background-color: var(--ids-tag-color-background-error);
    border-color: var(--ids-tag-color-border-error);
    color: var(--ids-tag-color-text-error);
  }

  &.purple {
    background-color: var(--ids-tag-color-background-purple);
    border-color: var(--ids-tag-color-border-purple);
    color: var(--ids-tag-color-text-purple);
  }

  &.teal {
    background-color: var(--ids-tag-color-background-teal);
    border-color: var(--ids-tag-color-border-teal);
    color: var(--ids-tag-color-text-teal);
  }

  // Clickable tags can be focused and clicked
  &.focusable {
    cursor: var(--ids-cursor-pointer);

    &:focus {
      cursor: var(--ids-cursor-pointer);
      border-color: var(--ids-color-border-focus);
      outline: var(--ids-outline-none);
      box-shadow: var(--ids-shadow-focus);
    }
  }
}

:host-context(ids-data-grid-cell) {
  .ids-tag {
    margin-bottom: var(--ids-space-none);
  }
}

:host([dismissible]) {
  .ids-tag {
    cursor: var(--ids-cursor-default);
  }
}

:host-context(.disabled),
:host-context([disabled]),
:host(.disabled),
:host([disabled]) {
  ::slotted(ids-icon) {
    cursor: var(--ids-cursor-default);
    color: var(--ids-tag-color-text-disabled);
  }

  .ids-tag {
    opacity: var(--ids-tag-disabled-opacity);

    &,
    &.info,
    &.success,
    &.warning,
    &.caution,
    &.error {
      background-color: var(--ids-input-color-background-readonly);
      border-color: var(--ids-input-color-background-readonly);
      color: var(--ids-tag-color-text-disabled);

      ::slotted(ids-icon) {
        cursor: var(--ids-cursor-default);
        color: var(--ids-tag-color-text-disabled);
      }
    }

    &.secondary {
      background-color: var(--ids-input-color-background-default);
      border-color: var(--ids-color-text-disabled);
      color: var(--ids-tag-secondary-color-text-disabled);

      ::slotted(ids-icon) {
        color: var(--ids-tag-secondary-color-text-disabled);
      }
    }
  }
}

// Adjust icons in the tag
::slotted(ids-icon) {
  cursor: var(--ids-cursor-pointer);
  align-self: center;
  display: inline-flex;
  padding-inline-start: var(--ids-space-xxs);
  padding-top: var(--ids-space-xxxs);
  color: var(--ids-input-color-text-default);
}

// Adjust hover state
::slotted(ids-icon:hover) {
  color: var(--ids-tag-color-icon-hover);
}

// Multiselect tag
:host(.multiselect-tag) {
  .ids-tag {
    background-color: var(--ids-input-color-background-default);
    border-color: var(--ids-input-color-border-default);
    margin-bottom: var(--ids-space-xxs);
  }
}

:host([disabled].multiselect-tag) {
  .ids-tag {
    background-color: var(--ids-input-color-background-default);
    border-color: var(--ids-color-text-disabled);
    color: var(--ids-color-text-disabled);
    pointer-events: none;
  }

  ::slotted(ids-icon) {
    color: var(--ids-color-text-disabled);
  }
}
