/* Ids Tag Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

.ids-tag {
  @include mixins.antialiased();

  // Colors/Borders
  background-color: var(--ids-tag-background-color);
  border: 1px solid var(--ids-tag-border-color);
  border-radius: var(--ids-tag-border-radius);

  // Fonts
  font-family: var(--ids-font-family);
  font-size: var(--ids-tag-font-size);
  color: var(--ids-tag-text-color);

  // Layout
  display: inline-flex;
  margin-inline-end: var(--ids-spacing-md);
  padding-inline:  var(--ids-spacing-lg);
  padding-bottom:  var(--ids-spacing-sm);
  contain: content;

  // Secondary has a darker border
  &.secondary {
    background-color: var(--ids-tag-secondary-background-color);
    border-color: var(--ids-tag-secondary-border-color);
  }

  &.info {
    background-color: var(--ids-color-info);
    border-color: var(--ids-color-info);
    color: var(--ids-color-info-00);
  }

  &.success {
    background-color: var(--ids-color-success);
    border-color: var(--ids-color-success);
    color: var(--ids-color-success-00);
  }

  &.warning {
    background-color: var(--ids-color-warning);
    border-color: var(--ids-color-warning);
    color: var(--ids-color-warning-00);
  }

  &.caution {
    background-color: var(--ids-color-caution);
    border-color: var(--ids-color-caution);
    color: var(--ids-color-caution-00);
  }

  &.error {
    background-color: var(--ids-color-error);
    border-color: var(--ids-color-error);
    color: var(--ids-color-error-00);
  }

  // Clickable tags can be focused and clicked
  &.focusable {
    cursor: var(--ids-cursor-pointer);

    &:focus {
      cursor: var(--ids-cursor-pointer);
      border-color: var(--ids-focus-border-color);
      outline: var(--ids-focus-outline);
      box-shadow: var(--ids-focus-box-shadow);
    }
  }
}

:host-context(ids-data-grid-cell) {
  .ids-tag {
    display: inline;
    margin-bottom: var(--ids-spacing-none);
  }
}

:host([dismissible]) {
  .ids-tag {
    cursor: var(--ids-cursor-default);
  }
}

:host([disabled]) {
  ::slotted(ids-icon) {
    cursor: var(--ids-cursor-default);
    color: var(--ids-input-disabled-text-color);
  }

  .ids-tag {
    background-color: var(--ids-input-readonly-background-color);
    border-color: var(--ids-input-readonly-background-color);
    color: var(--ids-input-disabled-text-color);

    &.secondary {
      background-color: var(--ids-input-background-color);
      border-color: var(--ids-disabled-text-color);
      color: var(--ids-disabled-text-color);

      ::slotted(ids-icon) {
        color: var(--ids-disabled-text-color);
      }
    }
  }
}

// Adjust icons in the tag
::slotted(ids-icon) {
  cursor: var(--ids-cursor-pointer);
  align-self: center;
  display: inline-flex;
  padding-inline-start: var(--ids-spacing-md);
  padding-top: var(--ids-spacing-xs);
  color: var(--ids-input-text-color);
}

// Adjust hover state
::slotted(ids-icon:hover) {
  color: var(--ids-tag-icon-hover-color);
}

// Multiselect tag
:host(.multiselect-tag) {
  .ids-tag {
    background-color: var(--ids-input-background-color);
    border-color: var(--ids-input-border-color);
    margin-bottom: var(--ids-spacing-md);
  }
}

:host([disabled].multiselect-tag) {
  .ids-tag {
    background-color: var(--ids-input-background-color);
    border-color: var(--ids-disabled-text-color);
    color: var(--ids-disabled-text-color);
    pointer-events: none;
  }

  ::slotted(ids-icon) {
    color: var(--ids-disabled-text-color);
  }
}
