$ids-tab-alternate-color-disabled: rgba(255 255 255 / 0.4);
$ids-tab-min-width: 135px;
$ids-tab-actionable-min-width: 44px;
$ids-tab-vertical-height: 42px;

@mixin ids-tabs-focus-border() {
  &::before {
    border: 1px solid;
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: '';
    pointer-events: none;
  }
}

// Adds the "underline" element for selected state.
// cannot read css var for color in ::after
// without shadowDOM scope so need .selection-underline div
// as workaround
@mixin ids-tabs-selected-underline() {
  border-bottom: 1px solid;

  &::after,
  & .selection-underline {
    position: absolute;
    bottom: 0;
    height: 1px;
    left: -1px;
    width: calc(100% + 2px);
    z-index: 1;
    pointer-events: none;
    content: '';
  }
}

:host(:not([hidden])) {
  display: block;
}

:host([count]) {
  ::slotted(ids-trigger-button) {
    padding-inline-start: 8px;
  }
}

// =================================================
// Default Variant
// =================================================
:host(ids-tab:not([orientation='vertical']):not([color-variant='module']):first-child),
:host(ids-tab-more:not([orientation='vertical']):not([color-variant='module']):first-child),
.ids-tabs-container:not(.orientation-vertical):not(.color-variant-module) [class*='ids-tab']:first-child {
  margin-inline-start: 4px;
}

:host(ids-tab:not([orientation='vertical']):not([color-variant='module']):last-child),
:host(ids-tab-more:not([orientation='vertical']):not([color-variant='module']):last-child),
.ids-tabs-container:not(.orientation-vertical):not(.color-variant-module) [class*='ids-tab']:last-child {
  margin-inline-end: 4px;
}

:host(ids-tab:not([orientation='vertical']):not([color-variant='module']):not(:last-child)),
:host(ids-tab-more:not([orientation='vertical']):not([color-variant='module']):not(:last-child)),
.ids-tabs-container:not(.orientation-vertical):not(.color-variant-module) [class*='ids-tab']:not(:last-child) {
  margin-inline-end: 8px;
}

:host(ids-tab:focus-visible),
:host(ids-tab-more:focus-visible),
.ids-tab-container [class*='ids-tab']:focus-visible {
  outline: none;
}

.ids-tab {
  display: flex;
  position: relative;
  color: var(--ids-tab-color-text-default);
  border: 1px solid transparent;
  box-sizing: border-box;
  height: 100%;
  padding-inline: 4px;
  padding-block: 8px;  
  list-style: none outside none;
  user-select: none;
  cursor: pointer;

  // Hover state
  &:hover {
    color: var(--ids-tab-color-text-hover);
    background-color: var(--ids-tab-color-background-hover);
    
    &::after,
    & .selection-underline {
      background-color: var(--ids-tab-color-text-hover);
    }
  }

  // Disabled
  &.disabled {
    cursor: default;
    color: var(--ids-tab-color-text-disabled);
    pointer-events: none;
  }

  // Selected state
  &.selected {
    color: var(--ids-tab-color-text-selected);
    cursor: default;

    &.ids-text {
      font-weight: 700;
    }

    &::after {
      background-color: var(--ids-tab-color-text-selected);
    }
  }

  // Actionable
  &.actionable {
    cursor: pointer;
  }

  // Counts
  &.count {
    padding-inline: 12px;

    .ids-tab-count-container {
      display: flex;
      flex-direction: column;
    }
  }

  // Focus state
  &:focus-visible:not(.hide-focus) {
    border-color: var(--ids-tab-color-border-focus);
    border-style: solid;
    outline: none;
  }

  // Trigger Button Slot
  .ids-tab-trigger-container {
    display: flex;
    place-content: center;
  }

  // Orientation-horizontal
  &.orientation-horizontal {
    &:not(.count) {
      padding-top: 8px;
    }

    // Round borders on regular horizontal tabs
    &:not(.color-variant-module) {
      // Show the underline on hover
      &.selected,
      &:hover {
        @include ids-tabs-selected-underline();

        &::after {
          background-color: var(--ids-tab-color-text-selected);
        }
      }

      // Hide the underline on disabled
      &.disabled {
        &::after,
        & .selection-underline {
          display: none;
        }
      }
    }
  }

  // =================================================
  // Makes text appear bolded without shuddering the widths;
  ids-text::part(text),
  .ids-tab.ids-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  & ids-text::part(text)::after,
  &.ids-tab.ids-text::after {
    font-weight: 700;
    content: attr(data-text);
    content: attr(data-text) / '';
    visibility: hidden;
    height: 0;
    user-select: none;
    pointer-events: none;

    @media speech {
      display: none;
    }
  }

  // =================================================
  // Tabs combined with IdsSwappable create "swappable" tabs
  &.swappable {
    padding-inline-start: 8px;
  }
}


// =================================================
// Vertical Variant
// =================================================
.ids-tab.orientation-vertical {
  padding-inline: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: $ids-tab-vertical-height;
  background-color: var(--ids-tab-vertical-color-background-default);
  color: var(--ids-tab-vertical-color-text-default);

  // vertical hover state
  &:hover {
    background-color: var(--ids-tab-vertical-color-background-hover);
    color: var(--ids-tab-vertical-color-text-hover);
  }

  // vertical disabled state
  &.disabled {
    background-color: var(--ids-tab-vertical-color-background-disabled);
    color: var(--ids-tab-vertical-color-text-disabled);
  }

  // vertical selected state
  &.selected {
    border-style: none;
    background-color: var(--ids-tab-vertical-color-background-selected);
    color: var(--ids-tab-vertical-color-text-selected);

    &:not(.hide-focus):focus {
      @include ids-tabs-focus-border();

      border-style: none;

      &::before {
        border-color: var(--ids-tab-vertical-color-border-selected);
      }
    }
  }
}


// =================================================
// Module Color Variant
// =================================================
:host(ids-tab[color-variant='module']:not(:last-child)),
.ids-tabs-container.color-variant-module .ids-tab:not(:last-child) {
  border-inline-end: 1px solid var(--ids-tab-module-color-border-right);
}

:host(ids-tab[color-variant='module']:not([orientation='vertical']):not([actionable])),
:host(ids-tab-more[color-variant='module']:not([orientation='vertical']):not([actionable])),
.ids-tab-container.color-variant-module:not(.orientation-vertical):not(.actionable) [class*='ids-tab'] {
  flex-grow: 1;
}

.ids-tab.color-variant-module {
  outline: none;
  border-bottom-width: 1px;
  background-color: var(--ids-tab-module-color-background-default);
  color: var(--ids-tab-module-color-text-default);
  justify-content: center;
  border-color: transparent;

  // Module - Hover state
  &:hover {
    color: var(--ids-tab-module-color-text-hover);
    background-color: var(--ids-tab-module-color-background-hover);
  }

  // Module - Selected state
  &.selected {
    background-color: var(--ids-tab-module-color-background-selected);
    color: var(--ids-tab-module-color-text-selected);
  }

  // Module - Focus state
  &:focus-visible {
    border-color: var(--ids-tab-color-border-focus);
  }

  // Module - Disabled state
  &.disabled {
    background-color: var(--ids-tab-module-color-background-disabled);
    color: var(--ids-tab-module-color-text-disabled);
  }

  // Scoped to the first child text element to avoid conflicts with menus
  > ids-text,
  > .ids-text {
    text-align: center;
  }

  &:not(.actionable) {
    min-width: $ids-tab-min-width;
  }

  &.actionable {
    min-width: $ids-tab-actionable-min-width;
  }

  &.dismissible {
    justify-content: space-around;

    > ids-text,
    > .ids-text {
      flex-grow: 1;
    }

    ::slotted(ids-trigger-button),
    > .ids-trigger-button,
    > ids-trigger-button {
      flex-grow: 0;
      flex-shrink: 1;
      visibility: hidden;
    }

    &:hover {
      ::slotted(ids-trigger-button),
      > .ids-trigger-button,
      > ids-trigger-button {
        visibility: visible;
      }
    }
  }
}


// =================================================
// Alternate Color Variant
// =================================================
.ids-tab.color-variant-alternate {
  color: var(--ids-tab-alternate-color-text-default);


  // Alternate - Hover state
  &:hover {
    color: var(--ids-tab-alternate-color-text-hover);

    &::after {
      background-color: var(--ids-tab-alternate-color-background-hover);
    }
  }

  // Alternate - Selected state
  &.selected {
    color: var(--ids-tab-alternate-color-text-selected);

    &::after,
    & .selection-underline {
      background-color: var(--ids-tab-alternate-horizontal-color-background);
    }
  }

  // Alterante - Disabled state
  &.disabled {
    color: var(--ids-tab-alternate-color-text-disabled);

    &.selected {
      color: var(--ids-tab-alternate-color-text-disabled);
    }
  }

  // Alternate - Focus state
  &:not(.hide-focus):focus-visible,
  &:not(.hide-focus):focus,
  &:not(.hide-focus):focus-within {
    border-color: var(--ids-tab-alternate-color-border-focus);
  }
}


// =================================================
// Header Color Variant
// =================================================
.ids-tab.color-variant-header {
  &:hover {
    background-color: var(--ids-tab-header-color-background-hover);
  }
}


// "More" Tab's text content and icons are centered
.tab-more-text {
  display: inline-flex;
  align-items: center;

  > *:not(.last-child) {
    padding-inline-end: 4px;
  }

  ids-text,
  .ids-text {
    display: inline-block;
  }
}

// Popupmenus inside of the "More Tabs" tab, or Dropdown tabs
ids-popup-menu,
.ids-popup-menu {
  position: absolute;
  width: 100%;
}

// "More Tabs" tab flex rules
::slotted(ids-icon) {
  color: currentColor;
  pointer-events: none;
}

::slotted(ids-trigger-button) {
  color: currentColor;
  height: fit-content;
  place-self: center;
}
