
.ids-tab-divider {
  background-color: var(--ids-tab-divider-color-background);
  display: block;
  height: calc(100% - 16px);
  position: relative;
  margin-inline-start: 20px;
  margin-inline-end: 12px;
  top: 8px;
  width: 1px;
}
