@import '../../core/ids-base';

$ids-tab-alternate-color-semi-transparent: rgba(255 255 255 / 0.7);
$ids-tab-min-width: 44px;

@mixin ids-tabs-focus-border() {
  &::before {
    @include border-1();
    @include border-solid();

    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: '';
    pointer-events: none;
  }
}

// Spacing rules for Horizontal Tab Lists

:host(ids-tab:not([orientation='vertical']):not([color-variant='module']):first-child),
.ids-tab-container:not([orientation='vertical']):not(.color-variant-module) .ids-tab:first-child {
  @include ml-4;
}

:host(ids-tab:not([orientation='vertical']):not([color-variant='module']):last-child),
.ids-tab-container:not([orientation='vertical']):not(.color-variant-module) .ids-tab:last-child {
  @include mr-4;
}

:host(ids-tab:not([orientation='vertical']):not([color-variant='module']):not(:last-child)),
.ids-tab-container:not(.orientation-vertical):not(.color-variant-module) .ids-tab:not(:last-child) {
  @include mr-8;
}

// Border/Themes for Module Tabs

:host(ids-tab[color-variant='module']:not([mode]):not(:last-child)),
.ids-tab-container.color-variant-module:not([mode]) .ids-tab:not(:last-child) {
  border-right: 1px solid var(--ids-color-palette-azure-100);
}

:host(ids-tab[color-variant='module'][mode='light']:not(:last-child)),
.ids-tab-container.color-variant-module[mode='light'] .ids-tab:not(:last-child) {
  border-right: 1px solid var(--ids-color-palette-azure-100);
}

:host(ids-tab[color-variant='module'][mode='dark']:not(:last-child)),
.ids-tab-container.color-variant-module[mode='dark'] .ids-tab:not(:last-child) {
  border-right: 1px solid var(--ids-color-palette-slate-100);
}

:host(ids-tab[color-variant='module'][mode='contrast']:not(:last-child)),
.ids-tab-container.color-variant-module[mode='contrast'] .ids-tab:not(:last-child) {
  border-right: 1px solid var(--ids-color-palette-azure-100);
}

// Spacing rules for Module Tabs

:host(ids-tab[color-variant='module']:not([orientation='vertical']):not([actionable])),
.ids-tab-container.color-variant-module:not(.orientation-vertical):not(.actionable) .ids-tab {
  flex-grow: 1;
}

:host(ids-tab:focus-visible),
.ids-tab-container:focus-visible {
  outline: none;
}

::slotted(ids-icon) {
  pointer-events: none;
}

.ids-tab {
  @include px-4();
  @include border-1();
  @include border-solid();

  box-sizing: border-box;
  position: relative;
  display: flex;
  list-style: none outside none;
  border-color: transparent;
  height: 100%;

  &:focus-visible,
  &:focus,
  &:focus-within {
    @include shadow();
    @include border-solid();

    outline: none;
  }

  &:not(.selected) {
    cursor: pointer;
  }

  &.selected {
    cursor: default;

    &.ids-text {
      @include font-bold();
    }
  }

  // =================================================
  // Actionable

  &.actionable {
    @include px-12();

    cursor: pointer;
    min-width: $ids-tab-min-width;
  }

  // =================================================
  // Counts

  &.count {
    @include px-12();
  }

  // =================================================
  // Orientation-specific layouts

  &:not(.orientation-vertical) {
    @include pb-8();

    border-bottom-width: 0;

    &:not(.count) {
      @include pt-8();
    }

    // Round borders on regular horizontal tabs
    &:not(.color-variant-module) {
      @include rounded-default();

      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      // Adds the "underline" element for selected state.
      // cannot read css var for color in ::after
      // without shadowDOM scope so need .selection-underline div
      // as workaround
      &::after,
      & .selection-underline {
        position: absolute;
        bottom: 0;
        height: 3px;
        left: -1px;
        width: calc(100% + 2px);
        z-index: 1;
        pointer-events: none;
        content: '';
      }
    }

    &.color-variant-module {
      justify-content: center;
    }
  }

  &.orientation-vertical {
    @include pl-24();

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 42px;

    &.selected {
      &:focus {
        @include ids-tabs-focus-border();
      }
    }
  }

  // =================================================
  // Makes text appear bolded without shuddering the widths;
  // Text Content is set in IdsTab `rendered();`

  ids-text::part(text),
  .ids-tab.ids-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  & ids-text::part(text)::after,
  &.ids-tab.ids-text::after {
    @include font-bold();

    content: attr(data-text);
    content: attr(data-text) / '';
    visibility: hidden;
    height: 0;
    user-select: none;
    pointer-events: none;

    @media speech {
      display: none;
    }
  }

  // =================================================
  // Structural rules for Module Tabs color variant
  &.color-variant-module {
    text-align: center;

    &:focus-visible,
    &:focus,
    &:focus-within {
      @include ids-tabs-focus-border();
    }
  }

  // =================================================
  // Light Mode

  &:not([mode]),
  &[mode='light'] {

    // =================================================
    // Light Mode / Default Color Variant
    &:not([class*='color-variant-']) {
      @include text-slate-70;

      &:hover {
        @include text-slate-100();
      }

      &.selected {
        @include text-azure-60;
      }

      &:focus-visible,
      &:focus,
      &:focus-within {
        @include border-azure-60();
      }

      // Horizontal Tab Styles
      &:not(.orientation-vertical) {
        &:hover {
          &::after,
          & .selection-underline {
            @include bg-slate-100();
          }
        }

        &.selected {
          &::after,
          & .selection-underline {
            @include bg-azure-60();
          }
        }
      }

      &.orientation-vertical {
        &.selected {
          @include border-none();
          @include bg-azure-60();
          @include text-white();

          &:focus {
            @include border-none();

            &::before {
              @include border-white();
            }
          }
        }
      }
    }

    // =================================================
    // Light Mode / Alternate Color Variant

    &.color-variant-alternate {
      color: $ids-tab-alternate-color-semi-transparent;

      &:hover {
        @include text-white();

        &::after {
          background-color: $ids-tab-alternate-color-semi-transparent;
        }
      }

      &:focus-visible,
      &:focus,
      &:focus-within {
        @include border-white();
      }

      &.selected {
        color: var(--ids-color-palette-white);
      }

      // Horizontal Tab Styles
      &:not(.orientation-vertical) {
        &.selected {
          &::after,
          & .selection-underline {
            @include bg-white();
          }
        }
      }
    }

    // =================================================
    // Light Mode / Module Tabs Color Variant

    &.color-variant-module {
      @include font-bold();
      @include bg-azure-70();
      @include text-azure-10();

      &:hover {
        @include text-white();
        @include bg-azure-100();
      }

      &.selected {
        @include bg-azure-60();
        @include text-white();
      }
    }
  }

  // =================================================
  // Dark Mode

  &[mode='dark'] {

    // =================================================
    // Dark Mode / Default Color Variant

    &:not([class*='color-variant-']) {
      @include text-slate-20;

      &:hover {
        @include text-white();
      }

      &:focus-visible,
      &:focus,
      &:focus-within {
        @include border-azure-40();
      }

      &.selected {
        @include text-azure-40();
      }

      &:not(.orientation-vertical) {
        &:hover {
          &::after,
          & .selection-underline {
            @include bg-white();
          }
        }

        &.selected {
          &::after,
          & .selection-underline {
            @include bg-azure-40();
          }
        }
      }

      &.orientation-vertical {
        &.selected {
          @include border-none();
          @include bg-azure-60();
          @include text-white();

          &:focus {
            @include border-none();

            &::before {
              @include border-white();
            }
          }
        }
      }
    }

    // =================================================
    // Dark Mode / Alternate Color Variant

    &.color-variant-alternate {
      color: $ids-tab-alternate-color-semi-transparent;

      &:hover {
        @include text-white();

        &::after {
          background-color: $ids-tab-alternate-color-semi-transparent;
        }
      }

      &:focus-visible,
      &:focus,
      &:focus-within {
        @include border-white();
      }

      &.selected {
        color: var(--ids-color-palette-white);
      }

      // Horizontal Tab Styles
      &:not(.orientation-vertical) {
        &.selected {

          &::after,
          & .selection-underline {
            @include bg-white();
          }
        }
      }
    }

    // =================================================
    // Dark Mode / Module Tabs Color Variant

    &.color-variant-module {
      @include font-bold();
      @include bg-slate-70();
      @include text-slate-10();

      &:hover {
        @include text-white();
        @include bg-slate-100();
      }

      &.selected {
        @include bg-slate-60();
        @include text-white();
      }
    }
  }

  // =================================================
  // Contrast Mode

  &[mode='contrast'] {

    // =================================================
    // Contrast Mode / Default Color Variant

    &:not([class*='color-variant-']) {
      @include text-slate-100;

      &.selected {
        @include text-azure-90;
      }

      &:hover::after {
        @include bg-slate-100;
      }

      &:focus-visible,
      &:focus,
      &:focus-within {
        @include border-azure-90();
      }

      &:not(.orientation-vertical) {
        &.selected {
          &::after,
          & .selection-underline {
            @include bg-azure-90();
          }
        }
      }

      &.orientation-vertical {
        &.selected {
          @include border-none();
          @include bg-azure-90();
          @include text-white();

          &:focus {
            @include border-none();

            &::before {
              @include border-white();
            }
          }
        }
      }
    }

    // =================================================
    // Contrast Mode / Alternate Color Variant

    &.color-variant-alternate {
      @include text-slate-10();

      &:hover {
        text-decoration: underline;

        &::after {
          background-color: $ids-tab-alternate-color-semi-transparent;
        }
      }

      &:focus-visible,
      &:focus,
      &:focus-within {
        @include border-slate-10();
      }

      &.selected {
        @include text-azure-10();
      }

      &:not(.orientation-vertical) {
        &.selected {

          &::after,
          & .selection-underline {
            @include bg-white();
          }
        }
      }
    }

    // =================================================
    // Contrast Mode / Module Tabs Color Variant

    &.color-variant-module {
      @include font-bold();
      @include bg-azure-80();
      @include text-azure-10();

      &:hover {
        @include bg-azure-100();
        @include text-white();
      }

      &.selected {
        @include bg-azure-60();
        @include text-white();

        text-decoration: underline;
      }
    }
  }
}
