@import '../../core/ids-base';

:host(ids-tabs),
.ids-tabs-container {
  --tab-width: 100%;

  contain: content;
  position: relative;
  display: flex;
  width: 100%;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
}

:host(ids-tabs[orientation='vertical']),
.ids-tabs-container[orientation='vertical'] {
  flex-direction: column;
}

:host(ids-tabs:not([orientation='vertical'])),
.ids-tabs-container:not([orientation='vertical']) {
  @include mt-8;
}

:host(ids-tabs:not([orientation='vertical']):not([color-variant='alternate'])),
.ids-tabs-container:not([orientation='vertical']):not([color-variant='alternate']) {
  @include border-b-1;
  @include border-slate-30;
}

:host(ids-tabs[mode='dark']:not([orientation='vertical']):not([color-variant='alternate'])) {
  @include border-slate-70;
}

:host(ids-tabs[mode='contrast']:not([orientation='vertical']):not([color-variant='alternate'])) {
  @include border-slate-100;
}
