.ids-tabs-container {
  --tab-width: 100%;
  --vertical-container-width: 250px;

  display: flex;

  // Horizontal Tabs
  &:not(.orientation-vertical) {
    .ids-tabs-list {
      width: var(--tab-width);
    }
  }

  // Vertical Tabs
  &.orientation-vertical {
    background-color: var(--ids-tab-vertical-color-background-default);
    border-inline-end: 1px solid var(--ids-tab-vertical-color-border-default);
    flex-direction: column;
    height: 100%;
    width: var(--vertical-container-width);


    .ids-tabs-list,
    .ids-tabs-list-more {
      flex-direction: column;
    }
  }
}

.ids-tabs-list {
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: -1px;
  margin-inline-start: 0;
}

.ids-tabs-list-more {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
}

// Horizontal Tabs

.ids-tabs-container:not(.orientation-vertical):not(.color-variant-module) {
  margin-top: var(--ids-space-xs);
}

.ids-tabs-container:not(.orientation-vertical):not([class*='color-variant-']) {
  border-bottom: 1px solid var(--ids-tab-divider-color-background);
}

// Module Tabs

.ids-tabs-container.color-variant-module {
  border-bottom: 1px solid var(--ids-tab-module-color-background-selected);

  &.has-more-actions {
    .ids-tabs-list-more {
      border-inline-start: 1px solid var(--ids-tab-module-color-border-right);
    }
  }
}
