/* Sass scss styles. Keep Base very small */
@import '../../node_modules/ids-identity/dist/theme-new/tokens/web/theme-new-mixins.scss';
@import '../../node_modules/ids-identity/dist/theme-new/tokens/web/theme-new.host.variables.scss';

/* Global SCSS Mixins (might need to become tokens) */
@import '../ids-mixins/ids-mixins';

/* Global variables (might want these to become tokens) */
$breakpoint-lg: 1280px;
$breakpoint-md: 840px;
$breakpoint-sm: 600px;
$breakpoint-xl: 1440px;
$breakpoint-xs: 360px;

$transition-length: 200ms;
$transition-ease: cubic-bezier(0.4, 0, 0.6, 1);
