@import './ids-base';

.ids-input-field {
  ~ .btn-clear {
    margin-left: 1px;
    margin-top: -24px;
    outline: none;
    position: absolute;

    &.is-empty {
      display: none;
    }

    [slot='icon'] {
      @include text-slate-60();

      margin-left: -1px;
    }

    &:hover [slot='icon'] {
      @include text-slate-100();
    }
  }

  &.has-clearable {
    @include pr-28();

    &.has-triggerfield {
      padding-right: 50px;
    }

    &.has-triggerfield ~ .btn-clear {
      margin-left: -22px;
    }
  }
}
