@import '../../node_modules/ids-identity/dist/theme-uplift/tokens/web/theme-uplift.host.variables.scss';
@import '../../node_modules/ids-identity/dist/theme-uplift/tokens/web/theme-uplift-mixins.scss';

/* Global variables (might want these to become tokens) */
$breakpoint-lg: 1280px;
$breakpoint-md: 840px;
$breakpoint-sm: 600px;
$breakpoint-xl: 1440px;
$breakpoint-xs: 360px;

$transition-length: 200ms;
$transition-ease: cubic-bezier(0.4, 0, 0.6, 1);

/* Global SCSS Mixins (might need to become tokens) */
@import './ids-mixins';
