/* Ids Tokens - Exposed as Css Variables - Root/Global Tokens */
@import '../../node_modules/ids-identity/dist/theme-uplift/tokens/web/theme-uplift.variables.css';

:root {
  font-size: 62.5%
}

/* Font Sizes and Charactistics */
@import '../ids-typography/ids-typography.scss';

/* Display */
@mixin block {
  display: block;
}

@mixin inline-flex {
  display: inline-flex ;
}

/* Background Colors */
@mixin bg-graphite-20 {
  background-color: var(--ids-color-palette-graphite-20);
}

@mixin bg-white {
  background-color: var(--ids-color-palette-white);
}

/* Borders */
@mixin border {
  border: 1px solid;
}

@mixin rounded-md {
  border-radius: 15px;
}

@mixin border-graphite-20 {
  border-color: var(--ids-color-palette-graphite-20);
}

@mixin border-graphite-30 {
  border-color: var(--ids-color-palette-graphite-30);
}

/* Margins */
@mixin margin-r-5 {
  margin-right: 5px;
}

@mixin margin-b-5 {
  margin-bottom: 5px;
}

/* Padding */
@mixin padding-x-10 {
  padding-left: 10px;
  padding-right: 10px;
}

@mixin padding-y-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Base Components */
@import '../ids-label/ids-label.scss';
