// Color Variables
//================================================== //
$color-status-names: info caution danger success warning;

$color-names: ruby01 ruby02 ruby03 ruby04 ruby05 ruby06 ruby07 ruby08 ruby09 ruby10
  amber01 amber02 amber03 amber04 amber05 amber06 amber07 amber08 amber09 amber10
  emerald01 emerald02 emerald03 emerald04 emerald05 emerald06 emerald07 emerald08 emerald09 emerald10
  azure01 azure02 azure03 azure04 azure05 azure06 azure07 azure08 azure09 azure10
  turquoise01 turquoise02 turquoise03 turquoise04 turquoise05 turquoise06 turquoise07 turquoise08 turquoise09 turquoise10
  amethyst01 amethyst02 amethyst03 amethyst04 amethyst05 amethyst06 amethyst07 amethyst08 amethyst09 amethyst10
  graphite01 graphite02 graphite03 graphite04 graphite05 graphite06 graphite07 graphite08 graphite09 graphite10
  slate01 slate02 slate03 slate04 slate05 slate06 slate07 slate08 slate09 slate10
  info caution danger success warning;

$color-vars: ruby-10 ruby-20 ruby-30 ruby-40 ruby-50 ruby-60 ruby-70 ruby-80 ruby-90 ruby-100
  amber-10 amber-20 amber-30 amber-40 amber-50 amber-60 amber-70 amber-80 amber-90 amber-100
  emerald-10 emerald-20 emerald-30 emerald-40 emerald-50 emerald-60 emerald-70 emerald-80 emerald-90 emerald-100
  azure-10 azure-20 azure-30 azure-40 azure-50 azure-60 azure-70 azure-80 azure-90 azure-100
  turquoise-10 turquoise-20 turquoise-30 turquoise-40 turquoise-50 turquoise-60 turquoise-70 turquoise-80 turquoise-90 turquoise-100
  amethyst-10 amethyst-20 amethyst-30 amethyst-40 amethyst-50 amethyst-60 amethyst-70 amethyst-80 amethyst-90 amethyst-100
  graphite-10 graphite-20 graphite-30 graphite-40 graphite-50 graphite-60 graphite-70 graphite-80 graphite-90 graphite-100
  slate-10 slate-20 slate-30 slate-40 slate-50 slate-60 slate-70 slate-80 slate-90 slate-100
  base caution danger success warning;
