@import './ids-base';

.icon-dirty {
  @include absolute();
  @include m-4();
  @include text-alert-caution();
}

// Radio
.ids-radio-group {
  .icon-dirty {
    margin: 1px 0 0 -2px;
  }
}

// Checkbox
.ids-checkbox {
  input[type='checkbox'] {
    ~ .icon-dirty {
      @include z-1();

      left: -2px;
      top: 0;
    }

    &:checked ~ .icon-dirty {
      left: -4px;
      top: -2px;
    }
  }
}
