/**
 * Mixins used throuhout the scss styles and come in as part of base. Keep Base small.
 */
@import './ids-checkbox-mixin';
@import './ids-switch-mixin';

// All vendor prefixes
$prefixes: -webkit-, -moz-, -o-, -ms-, '';

// Prefixes that are only relevant to animations/transitions
$animation-prefixes: -webkit-, -moz-, '';

// Builds a list of vendor-prefixed animation definitions
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ', '};
    }
  }

  @each $prefix in $animation-prefixes {
    #{$prefix}animation: $animations;
  }
}

// Hides text from the screen in a way that is friendly to Screen Reading software
@mixin audible() {
  clip: rect(0, 0, 0, 0);
  height: 0;
  line-height: 0;
  min-height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// basic vendor prefixing
@mixin css3($property, $value...) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: $value;
  }
}

// Builds out vendor-prefixed keyframe definitions
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} { @content; }

  @-moz-keyframes #{$animation-name} { @content; }

  @keyframes #{$animation-name} { @content; }
}

// Disable Select
@mixin no-select {
  @include css3(user-select, none);

  -webkit-touch-callout: none;
}
