/* Ids Text Css */
@use '../../themes/mixins/ids-core-mixins.scss' as mixins;

:host {
  display: block;
  width: 100%;
}

text {
  @include mixins.antialiased();

  display: block;
  font-weight: var(--ids-font-weight-normal);
  margin: var(--ids-space-none);
  font-size: var(--ids-font-size-40);
  color: currentColor;
  font-family: var(--ids-font-family-default);
}

svg {
  stroke: var(--ids-tree-treemap-color-border);
}

.treemap-title {
  background-color: var(--ids-tree-treemap-title-color-background);
  padding: var(--ids-space-40);
  color: var(--ids-tree-treemap-title-color-text);
  text-align: center;
}
