<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.font %>
  </head>
  <body>
    <ids-container role="main" padding="8" hidden>
      <ids-theme-switcher mode="light"></ids-theme-switcher>
      <ids-layout-grid
        auto-fit="true"
        padding="md"
      >
        <ids-layout-grid-cell>
          <ids-text font-size="12" type="h1">Min-Height/Height examples</ids-text>
        </ids-layout-grid-cell>
      </ids-layout-grid>

      <ids-layout-grid
        cols="2"
        padding="md"
        margin="auto"
        justify-content="center"
      >
        <ids-layout-grid-cell fill min-height="200">
          <ids-text font-size="12">min-height</ids-text>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell fill height="100">
          <ids-text font-size="12">height</ids-text>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-container>
  </body>
</html>
