<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body hidden>
  <div class="ids-layout-grid ids-layout-grid-auto-fit ids-layout-grid-margin-md">
    <h1 class="ids-text ids-text-12">Layout Grid (Standalone CSS)</h1>
  </div>

  <div class="ids-layout-grid ids-layout-grid-cols-8 ids-layout-grid-padding-x-md">
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-2 fill height-176">
      <h2 class="ids-text ids-text-12">2 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-2 fill height-176">
      <h2 class="ids-text ids-text-12">2 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-2 fill height-176">
      <h2 class="ids-text ids-text-12">2 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-2 fill height-176">
      <h2 class="ids-text ids-text-12">2 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-4 fill height-176">
      <h2 class="ids-text ids-text-12">4 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-4 fill height-176">
      <h2 class="ids-text ids-text-12">4 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-5 fill height-176">
      <h2 class="ids-text ids-text-12">5 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-3 fill height-176">
      <h2 class="ids-text ids-text-12">3 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-6 fill height-176">
      <h2 class="ids-text ids-text-12">6 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-2 fill height-176">
      <h2 class="ids-text ids-text-12">2 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-7 fill height-176">
      <h2 class="ids-text ids-text-12">7 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill height-176">
      <h2 class="ids-text ids-text-12">1 col</h2>
    </div>
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-8 fill height-176">
      <h2 class="ids-text ids-text-12">8 col</h2>
    </div>
  </div>

  <div class="ids-layout-grid ids-layout-grid-auto-fit ids-layout-grid-margin-md">
    <h1 class="ids-text ids-text-12">Layout Grid Align Items (Standalone CSS)</h1>
  </div>

  <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-md ids-layout-grid-align-items-start height-176 border">
    <div class="ids-layout-grid-cell fill">
      <h2 class="ids-text ids-text-12">Grid Cell Align Items Start</h2>
    </div>
    <div class="ids-layout-grid-cell fill">
      <h2 class="ids-text ids-text-12">Grid Cell Align Items Start</h2>
    </div>
  </div>

  <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-md ids-layout-grid-align-items-center height-176 border">
    <div class="ids-layout-grid-cell fill">
      <h2 class="ids-text ids-text-12">Grid Cell Align Items Center</h2>
    </div>
    <div class="ids-layout-grid-cell fill">
      <h2 class="ids-text ids-text-12">Grid Cell Align Items Center</h2>
    </div>
  </div>

  <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-md ids-layout-grid-align-items-end height-176 border">
    <div class="ids-layout-grid-cell fill">
      <h2 class="ids-text ids-text-12">Grid Cell Align Items End</h2>
    </div>
    <div class="ids-layout-grid-cell fill">
      <h2 class="ids-text ids-text-12">Grid Cell Align Items End</h2>
    </div>
  </div>

</body>
</html>
