<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body hidden>
  <div class="ids-layout-grid">
    <h1 class="ids-text ids-text-12">Layout Standalone CSS</h1>
  </div>

  <div class="ids-layout-grid ids-layout-grid-cols-4 ids-layout-grid-gap-md">
    <div class="ids-layout-grid-cell ids-layout-grid-col-span-2 ids-background-fill"><span class="ids-text">A</span></div>
    <div class="ids-layout-grid-cell ids-background-fill"><span class="ids-text">B</span></div>
    <div class="ids-layout-grid-cell ids-background-fill"><span class="ids-text">C</span></div>
    <div class="ids-layout-grid-cell ids-background-fill"><span class="ids-text">D</span></div>
    <div class="ids-layout-grid-cell ids-background-fill"><span class="ids-text">E</span></div>
    <div class="ids-layout-grid-cell ids-background-fill"><span class="ids-text">F</span></div>
    <div class="ids-layout-grid-cell ids-background-fill"><span class="ids-text">G</span></div>
  </div>
</body>
</html>
