/* Ids Badge Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

:host {
  display: inline-flex;
  contain: content;
  text-align: center;
}

.ids-badge {
  @include mixins.antialiased();

  // Colors/Borders
  background-color: var(--ids-badge-background-color);
  border: 1px solid var(--ids-badge-border-color);
  border-radius: var(--ids-badge-border-radius);
  color: var(--ids-input-text-color);

  // Fonts
  font-family: var(--ids-font-family);
  font-size: var(--ids-font-size-sm);

  // Dimensional
  line-height: var(--ids-badge-line-height);
  margin-bottom: var(--ids-badge-margin-bottom);
  margin-inline-end: var(--ids-badge-margin-inline-end);
  min-width: var(--ids-badge-min-width);
  padding-inline: var(--ids-badge-padding-inline);

  // Positional
  flex-direction: column;
  justify-content: space-between;

  &.round {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: var(--ids-size-xxs);
    padding: var(--ids-spacing-none);
    width: var(--ids-size-xxs);
  }

  &[color='info'] {
    background-color: var(--ids-badge-info-background-color);
    border-color: var(--ids-badge-info-border-color);
    color: var(--ids-badge-info-color);
  }

  &[color='success'] {
    background-color: var(--ids-badge-success-background-color);
    border-color: var(--ids-badge-success-border-color);
    color: var(--ids-badge-success-color);
  }

  &[color='caution'] {
    background-color: var(--ids-badge-caution-background-color);
    border-color: var(--ids-badge-caution-border-color);
    color: var(--ids-badge-caution-color);
  }

  &[color='warning'] {
    background-color: var(--ids-badge-warning-background-color);
    border-color: var(--ids-badge-warning-border-color);
    color: var(--ids-badge-warning-color);
  }

  &[color='error'] {
    background-color: var(--ids-badge-error-background-color);
    border-color: var(--ids-badge-error-border-color);
    color: var(--ids-badge-error-color);
  }
}
