/* Ids Badge Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

:host {
  display: inline-flex;
  contain: content;
  text-align: center;
}

.ids-badge {
  @include mixins.antialiased();

  // Colors/Borders
  background-color: var(--ids-input-readonly-background-color);
  border: 1px solid var(--ids-input-readonly-background-color);
  border-radius: var(--ids-border-radius-lg);

  // Fonts
  font-family: var(--ids-font-family);
  font-size: var(--ids-font-size-sm);
  color: var(--ids-input-text-color);
  margin-bottom: var(--ids-spacing-md);
  margin-inline-end: var(--ids-spacing-md);
  padding-inline: var(--ids-spacing-lg);

  // Positional
  flex-direction: column;
  justify-content: space-between;
  padding: var(--ids-spacing-xs) var(--ids-spacing-lg);

  &.round {
    align-items: center;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    height: var(--ids-size-xxs);
    padding: var(--ids-spacing-none);
    width: var(--ids-size-xxs);
  }

  &[color='info'] {
    background-color: var(--ids-color-info);
    border-color: var(--ids-color-info);
    color: var(--ids-color-info-00);
  }

  &[color='success'] {
    background-color: var(--ids-color-success);
    border-color: var(--ids-color-success);
    color: var(--ids-color-success-00);
  }

  &[color='caution'] {
    background-color: var(--ids-color-caution);
    border-color: var(--ids-color-caution);
    color: var(--ids-color-caution-00);
  }

  &[color='warning'] {
    background-color: var(--ids-color-caution);
    border-color: var(--ids-color-caution);
    color: var(--ids-color-caution-00);
  }

  &[color='error'] {
    background-color: var(--ids-color-error);
    border-color: var(--ids-color-error);
    color: var(--ids-color-error-00);
  }
}
