/* Ids Text Css */
@import '../../core/ids-base';

.ids-text {
  @include antialiased();
  @include font-sans();
  @include font-normal();
  @include block();
  @include m-0();

  // Default color is inherited from IdsContainer,
  // or from a wrapper element style
  color: currentColor;

  // Other defaults
  font-size: 16px;
  text-decoration: unset;

  &.audible {
    @include audible();
  }

  &.error {
    @include text-alert-danger();
  }

  &.label {
    @include text-slate-60();

    &.color-variant-alternate {
      @include text-white();
    }
  }

  &.ellipsis {
    @include ellipsis();
  }

  &.bold {
    @include font-bold();
  }

  &.bolder {
    @include font-extrabold();
  }
}

:host(.inline) {
  .ids-text {
    display: inline;
  }
}

[display='inline'] {
  display: inline;
}

.ids-text-color-unset {
  color: unset !important;
}

// Alert Colored Text
:host(.message-text) {
  .ids-text {
    color: unset;

    &.error {
      color: unset;
    }
  }
}

::slotted(.audible) {
  @include audible();
}

/* Ids Typography System */
.ids-text-10 {
  @include text-10();
  @include text-uppercase();
}

.ids-text-12,
.ids-text-xs {
  @include text-12();
  @include text-uppercase();
}

.ids-text-14,
.ids-text-sm {
  @include text-14();
}

.ids-text-16,
.ids-text-base {
  @include text-16();
}

.ids-text-20 {
  @include text-20();
}

.ids-text-24,
.ids-text-lg {
  @include text-24();
}

.ids-text-28 {
  @include text-28();
}

.ids-text-32,
.ids-text-xl {
  @include text-32();
}

.ids-text-40 {
  @include text-40();
}

.ids-text-48 {
  @include text-48();
}

.ids-text-60 {
  @include text-60();
}

.ids-text-72 {
  @include text-72();
  @include mb-0();
}

// Handle Disabled Text
:host([disabled]) .ids-text {
  @include text-slate-30();

  &.label {
    @include text-slate-30();
  }

  &.color-variant-alternate.label {
    @include text-slate-80();
  }
}

// ========================================================
// Theme Styles

// Dark (New)
.ids-text[mode='dark'] {
  &.label {
    @include text-slate-30();
  }

  &.data {
    @include text-white();
  }

  &.legend {
    @include text-slate-20();
  }
}

:host([disabled][mode='dark']) .ids-text {
  @include text-slate-50();

  &.label {
    @include text-slate-50();
  }

  &.legend {
    @include text-slate-40();
  }
}

// Contrast (New)

.ids-text[mode='contrast'] {
  &.label {
    @include text-slate-90();
  }

  &.data {
    @include text-black();
  }
}

:host([disabled][mode='contrast']) .ids-text {
  @include text-slate-40();

  &.label {
    @include text-slate-40();
  }
}

// Light (Classic)

.ids-text[mode='light'][version='classic'] {
  &.data {
    @include text-graphite-100();
  }

  &.label {
    @include text-graphite-60();
  }
}

:host([disabled][mode='light'][version='classic']) .ids-text {
  @include text-graphite-40();

  &.label {
    @include text-graphite-40();
  }
}

// Dark (Classic)
.ids-text[mode='dark'][version='classic'] {
  &.data {
    @include text-white();
  }

  &.label {
    @include text-classic-slate-30();
  }
}

:host([disabled][mode='dark'][version='classic']) .ids-text {
  @include text-classic-slate-50();

  &.label {
    @include text-classic-slate-50();
  }
}

// Contrast (Classic)
.ids-text[mode='contrast'][version='classic'] {
  &.data {
    @include text-graphite-100();
  }

  &.label {
    @include text-graphite-80();
  }
}

:host([disabled][mode='contrast'][version='classic']) .ids-text {
  @include text-graphite-40();

  &.label {
    @include text-graphite-40();
  }
}
