/* Ids Text Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

.ids-text {
  @include mixins.antialiased();

  font-family: var(--ids-font-family);
  font-weight: var(--ids-font-weight-normal);
  display: block;
  margin: 0;

  // Default color is inherited from IdsContainer,
  // or from a wrapper element style
  color: currentColor;

  // Other defaults
  font-size: var(--ids-font-size-md);
  text-decoration: unset;

  &.audible {
    @include mixins.audible();

    position: none;
  }

  &.error {
    color: var(--ids-text-color-error);
  }

  &.label {
    color: var(--ids-text-color-label);

    &.color-variant-alternate {
      color: var(--ids-color-on-text);
    }
  }

  &.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.bold {
    font-weight: var(--ids-font-weight-bold);
  }

  &.semi-bold {
    font-weight: var(--ids-font-weight-semi-bold);
  }

  &.lighter {
    font-weight: var(--ids-font-weight-lighter);
  }

  &.text-align {
    &-start {
      text-align: start;
    }

    &-end {
      text-align: end;
    }

    &-center {
      text-align: center;
    }

    &-justify {
      text-align: justify;
    }
  }

  &.status-base::before,
  &.status-error::before,
  &.status-info::before,
  &.status-success::before,
  &.status-warning::before {
    display: inline-flex;
    margin-inline-end: var(--ids-input-margin-bottom);
    border-radius: var(--ids-border-radius-round);
    content: '';
    height: 8px;
    width: 8px;
  }

  &.status-base {
    color: var(--ids-text-color-label);

    &::before {
      background-color: var(--ids-text-color-label);
    }
  }

  &.status-error {
    color: var(--ids-text-color-error);

    &::before {
      background-color: var(--ids-text-color-error);
    }
  }

  &.status-info {
    color: var(--ids-text-color-info);

    &::before {
      background-color: var(--ids-text-color-info);
    }
  }

  &.status-success {
    color: var(--ids-text-color-success);

    &::before {
      background-color: var((--ids-text-color-success));
    }
  }

  &.status-warning {
    color: var(--ids-text-color-success);

    &::before {
      background-color: var(--ids-text-color-warning);
    }
  }
}

:host(.inline) {
  .ids-text {
    display: inline;
  }
}

.inline,
[display='inline'] {
  display: inline;
}

.ids-text-color-unset {
  color: unset;
}

// Alert Colored Text
:host(.message-text) {
  .ids-text {
    color: unset;

    &.error {
      color: unset;
    }
  }
}

::slotted(.audible) {
  @include mixins.audible();
}

::slotted(.filter) {
  font-weight: var(--ids-font-weight-bold);
}

/* Ids Typography System */
.ids-text-10 {
  font-size: var(--ids-font-size-xxs);
  text-transform: uppercase;
}

.ids-text-12 {
  font-size: var(--ids-font-size-xs);
  text-transform: uppercase;
}

.ids-text-14 {
  font-size: var(--ids-font-size-sm);
}

.ids-text-16 {
  font-size: var(--ids-font-size-md);
}

.ids-text-20 {
  font-size: var(--ids-font-size-lg);
}

.ids-text-24 {
  font-size: var(--ids-font-size-xl);
}

.ids-text-28 {
  font-size: var(--ids-font-size-xxl);
}

.ids-text-32 {
  font-size: var(--ids-font-size-3xl);
}

.ids-text-40 {
  font-size: var(--ids-font-size-4xl);
}

.ids-text-48 {
  font-size: var(--ids-font-size-5xl);
}

.ids-text-60 {
  font-size: var(--ids-font-size-6xl);
}

.ids-text-72 {
  font-size: var(--ids-font-size-7xl);
  margin-block-end: 0;
}

// Handle Disabled Text
.ids-text-color-muted.ids-text,
:host([disabled]) .ids-text {
  color: var(--ids-text-color-disabled);

  &.label {
    color: var(--ids-text-color-disabled);
  }

  &.color-variant-alternate.label {
    color: var(--ids-text-color-subtle);
  }

  &.status-base,
  &.status-error,
  &.status-info,
  &.status-success,
  &.status-warning {
    color: var(--ids-text-color-disabled);
  }

  &.status-error::before,
  &.status-info::before,
  &.status-success::before,
  &.status-warning::before {
    background-color: var(--ids-text-color-disabled);
  }
}

:host([class='label-checkbox']) .audible {
  position: relative;
  line-height: 1;
  height: unset;
}
