/* Ids Text Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

:host([overflow='ellipsis']) {
  max-width: 100%;
}

.ids-text {
  @include mixins.antialiased();

  font-family: var(--ids-font-family-default);
  font-weight: var(--ids-font-weight-normal);
  display: block;
  margin: 0;

  // Default color is inherited from IdsContainer,
  // or from a wrapper element style
  color: currentColor;

  // Other defaults
  font-size: var(--ids-font-size-40);
  text-decoration: unset;

  &.audible {
    @include mixins.audible();

    position: none;
  }

  &.error {
    color: var(--ids-color-text-error);
  }

  &.label {
    color: var(--ids-color-text-label);

    &.color-variant-alternate {
      color: var(--ids-color-text-inverse);
    }
  }

  &.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.bold {
    font-weight: var(--ids-font-weight-bold);
  }

  &.semi-bold {
    font-weight: var(--ids-font-weight-semibold);
  }

  &.lighter {
    font-weight: var(--ids-font-weight-light);
  }

  &.text-align {
    &-start {
      text-align: start;
    }

    &-end {
      text-align: end;
    }

    &-center {
      text-align: center;
    }

    &-justify {
      text-align: justify;
    }
  }

  &.status-base::before,
  &.status-error::before,
  &.status-info::before,
  &.status-success::before,
  &.status-warning::before {
    display: inline-flex;
    margin-inline-end: var(--ids-input-margin-bottom);
    border-radius: var(--ids-border-radius-circle);
    content: '';
    height: 8px;
    width: 8px;
  }

  &.status-base {
    color: var(--ids-color-text-label);

    &::before {
      background-color: var(--ids-color-text-label);
    }
  }

  &.status-error {
    color: var(--ids-color-text-error);

    &::before {
      background-color: var(--ids-color-text-error);
    }
  }

  &.status-info {
    color: var(--ids-color-text-info);

    &::before {
      background-color: var(--ids-color-text-info);
    }
  }

  &.status-success {
    color: var(--ids-color-text-success);

    &::before {
      background-color: var((--ids-color-text-success));
    }
  }

  &.status-warning {
    color: var(--ids-color-text-success);

    &::before {
      background-color: var(--ids-color-text-warning);
    }
  }
}

:host(.inline) {
  .ids-text {
    display: inline;
  }
}

.inline,
[display='inline'] {
  display: inline;
}

.ids-text-color-unset {
  color: unset;
}

// Alert Colored Text
:host(.message-text) {
  .ids-text {
    color: unset;

    &.error {
      color: unset;
    }
  }
}

::slotted(.audible) {
  @include mixins.audible();
}

::slotted(.filter) {
  font-weight: var(--ids-font-weight-bold);
}

/* Ids Typography System */
.ids-text-10 {
  font-size: var(--ids-font-size-10);
  text-transform: uppercase;
}

.ids-text-12 {
  font-size: var(--ids-font-size-20);
  text-transform: uppercase;
}

.ids-text-14 {
  font-size: var(--ids-font-size-30);
}

.ids-text-16 {
  font-size: var(--ids-font-size-40);
}

.ids-text-20 {
  font-size: var(--ids-font-size-50);
}

.ids-text-24 {
  font-size: var(--ids-font-size-60);
}

.ids-text-28 {
  font-size: var(--ids-font-size-70);
}

.ids-text-32 {
  font-size: var(--ids-font-size-80);
}

.ids-text-40 {
  font-size: var(--ids-font-size-90);
}

.ids-text-48 {
  font-size: var(--ids-font-size-100);
}

.ids-text-60 {
  font-size: var(--ids-font-size-110);
}

.ids-text-72 {
  font-size: var(--ids-font-size-120);
  margin-block-end: 0;
}

// Handle Disabled Text
.ids-text-color-muted.ids-text,
:host([disabled]) .ids-text {
  color: var(--ids-color-text-disabled);

  &.label {
    color: var(--ids-color-text-disabled);
  }

  &.color-variant-alternate.label {
    color: var(--ids-color-text-subtle);
  }

  &.status-base,
  &.status-error,
  &.status-info,
  &.status-success,
  &.status-warning {
    color: var(--ids-color-text-disabled);
  }

  &.status-error::before,
  &.status-info::before,
  &.status-success::before,
  &.status-warning::before {
    background-color: var(--ids-color-text-disabled);
  }
}

:host([class='label-checkbox']) .audible {
  position: relative;
  line-height: 1;
  height: unset;
}
