@import '../ids-base/ids-base';

.ids-wizard {
  @include px-32;
  @include my-8;

  $step-marker-width: 14px;
  $visited-step-color: var(--ids-color-palette-azure-60);
  $unvisited-step-color: var(--ids-color-palette-graphite-90);

  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 64px;
  overflow: hidden;

  .steps {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 28px;
  }

  .step.clickable:focus .step-label {
    @include border-azure-60();
    @include border-1();
    @include border-solid();
    @include rounded-default();
    @include shadow();

    outline: none;
    outline-color: transparent;
  }

  .step:focus-visible {
    outline-style: none;
  }

  .step-label {
    position: absolute;
    top: 24px;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
    padding: 2px 6px;
  }

  .step:not(:first-child):not(:last-child) .step-label {
    left: 50%;
    transform: translateX(-50%);
  }

  .step:first-child .step-label {
    left: -16px;
  }

  .step:last-child .step-label {
    right: -16px;
    text-align: right;
  }

  .step:not(.visited) .step-label {
    color: $unvisited-step-color;
  }

  .step.visited .step-label {
    color: $visited-step-color;
  }

  .step:not(.clickable) .step-label {
    cursor: default;
  }

  .step.clickable:not(.current):hover .step-label {
    text-decoration: underline;
  }

  .step {
    position: relative;
    text-align: left;
    text-decoration: none;

    &.clickable {
      cursor: pointer;
    }

    .step-marker {
      position: relative;
      width: $step-marker-width;
      height: $step-marker-width;
      overflow: visible;
    }

    .step-marker > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: visible;
    }

    .step-marker > svg:nth-child(1) {
      width: $step-marker-width;
      height: $step-marker-width;
      fill: $visited-step-color;
      stroke: none;
      z-index: 2;
    }

    .step-marker > svg:nth-child(2) {
      width: #{$step-marker-width + 5px};
      height: #{$step-marker-width + 5px};
      fill: var(--ids-color-palette-graphite-10);
      stroke: $visited-step-color;
      stroke-width: 1px;
      z-index: 1;
    }
  }

  .path-segment {
    position: relative;
    height: 100%;
    flex-grow: 1;
  }

  .path-segment::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $unvisited-step-color;
    content: '';
  }

  .path-segment.visited::before {
    background-color: $visited-step-color;
  }

  .path-segment.from-prev {
    left: 0;
  }

  .path-segment.to-next {
    right: 0;
  }

  .step.current .step-label {
    font-weight: 600;
  }

  .step:not(.visited) {
    svg:first-child circle {
      fill: var(--ids-color-palette-graphite-10);
      stroke: $unvisited-step-color;
      stroke-width: 3px;
    }
  }
}
