@import '../ids-base/ids-base';

.ids-wizard {
  @include my-8;

  $path-node-width: 14px;
  $visited-step-color: var(--ids-color-palette-azure-60);

  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  // content div used here to span the
  // equidistant step divs towards edges
  // without having to create a complex markup
  & .ids-wizard-content {
    display: flex;
    align-items: center;
    height: 48px;
    min-width: 110%;
    max-width: 110%;
  }

  & .ids-wizard-step {
    flex-grow: 1;
    position: relative;
    text-align: center;

    & .step-label {
      @include px-8;
      white-space: nowrap;
      overflow: hidden;
      color: $visited-step-color;
    }
    & .path-layer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      & .path-segment {
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: $visited-step-color;
        transform: translateY(-50%);
      }

      & .path-segment.from-prev {
        left: 0;
      }

      & .path-segment.to-next {
        right: 0;
      }

      & .path-node {
        width: $path-node-width;
        height: $path-node-width;
      }

      & .path-node circle {
        fill: $visited-step-color;
      }
    }
  }
}
