
@import '../ids-button/ids-button.scss';
@import './ids-module-nav-item';

:host {
  @include border-box();
}

:host button {
  max-width: calc(100% - (var(--ids-module-nav-accordion-gutter-size) * 2))
}

::slotted(ids-menu-button) {
  display: block;
}

::slotted(ids-menu-item) {
  color: var(--ids-module-nav-settings-menu-item-text-color);
}

::slotted(ids-text) {
  @include single-line-ellipsis-text();
}

.ids-module-nav-settings {
  @include ids-base-button-styles();

  display: flex;
  align-self: center;

  border-color: transparent;
  border-radius: var(--ids-module-nav-common-border-radius);
  border-style: solid;
  border-width: 1px;
  color: var(--ids-module-nav-item-text-color);

  /*
  gap: 7px; //temp
  padding-inline: var(--ids-module-nav-item-margin-inline);
  */

  &:not(.no-padding) {
    padding-inline: var(--ids-module-nav-item-margin-inline);
  }

  &.no-padding {
    padding-inline: var(--ids-space-50);
  }

  &:not(.hide-focus).is-active {
    background-color: var(--module-nav-item-selected-bg-color);
    color: var(--ids-module-nav-item-selected-text-color);
  }

  &:not(.hide-focus):focus {
    border-color: var(--ids-module-nav-item-selected-text-color);
  }

  &:hover {
    background-color: var(--ids-module-nav-item-hover-bg-color);
    color: var(--ids-module-nav-item-hover-text-color);
  }

  &[disabled] {
    color: var(--ids-button-tertiary-color-text-disabled);
    background-color: var(--ids-button-tertiary-disabled-background-color);
  }

  .ripple-effect {
    display: none;
  }

  .ids-text {
    @include single-line-ellipsis-text();
  }

  &.color-variant-module-nav {
    &.display-mode-collapsed,
    &.display-mode-expanded {
      margin-block-start: 0;
      margin-inline: var(--ids-module-nav-accordion-gutter-size);
    }

    &.display-mode-collapsed {
      height: var(--ids-module-nav-item-collapsed-size);
      width: var(--ids-module-nav-item-collapsed-size);
      justify-content: center;
      margin-block-end: var(--ids-module-nav-footer-gutter-size);
      padding-inline: 0;

      ::slotted(ids-menu-button) {
        height: var(--ids-module-nav-item-collapsed-size);
        width: var(--ids-module-nav-item-collapsed-size);
        margin: var(--ids-module-nav-item-collapsed-general-spacing-size) auto;
      }

      ::slotted(ids-icon) {
        margin-inline-end: 0;
      }
    }

    &.display-mode-expanded {
      margin-block-end: var(--ids-module-nav-accordion-gutter-size);
      text-align: start;

      ::slotted(ids-menu-button) {
        justify-content: start;
        height: auto;
        width: auto;
      }
    }
  }
}
