@import '../../themes/mixins/ids-core-mixins.scss';
@import '../../core/ids-base';

// Module Nav Component
//================================================== //

:host {
  display: contents;
}

.ids-module-nav {
  @include border-box();

  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  align-items: stretch;
}

