@use '../../themes/mixins/ids-core-mixins' as mixins;

// Module Nav Content Component
// ================================================== //

.ids-module-nav-content {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  transition: margin var(--ids-motion-duration) var(--ids-motion-ease),
    transform var(--ids-motion-duration) var(--ids-motion-ease),
    width var(--ids-motion-duration) var(--ids-motion-ease);

  ids-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  // =====================================================
  // Display Mode: Collapsed

  &.display-mode-collapsed {
    &:not(.show-detail) {
      width: calc(100% - var(--ids-module-nav-collapsed-size));
    }

    &.show-detail {
      width: calc(100% - (var(--ids-module-nav-submenu-size) + var(--ids-module-nav-collapsed-size)));
    }
  }

  // =====================================================
  // Display Mode: Expanded

  &.display-mode-expanded {
    // use `.offset-content` to make the content area
    // stay out from underneath the Module Nav bar
    &:not(.offset-content) {
      margin-inline-start: 0;
      width: 100%;
    }

    &.offset-content {
      width: calc(100% - var(--ids-module-nav-expanded-size));
    }

    @media (max-width: mixins.$breakpoint-md) {
      &.offset-content {
        margin-inline-start: -300px;
        width: 100%;
      }
    }

    &.show-detail {
      margin-inline-start: calc(var(--ids-module-nav-submenu-size) + var(--ids-module-nav-collapsed-size));
      width: calc(100% - (var(--ids-module-nav-submenu-size) + var(--ids-module-nav-collapsed-size)));

      &.offset-content {
        margin-inline-start: calc(var(--ids-module-nav-submenu-size) + var(--ids-module-nav-expanded-size) + var(--ids-module-nav-collapsed-size));
        width: calc(100% - (var(--ids-module-nav-submenu-size) + var(--ids-module-nav-expanded-size) + var(--ids-module-nav-collapsed-size)));
      }
    }
  }
}

// Host element sizes/positioning
// ================================================== //

:host {
  display: contents;
  transition: margin var(--ids-motion-duration) var(--ids-motion-ease),
    transform var(--ids-motion-duration) var(--ids-motion-ease),
    width var(--ids-motion-duration) var(--ids-motion-ease);
}
