@import '../../themes/mixins/ids-core-mixins';
@import '../../core/ids-base';

:host {
  @include border-box;
}

::slotted(ids-button) {
  display: block;
  height: var(--ids-module-nav-switcher-button-size);
  width: var(--ids-module-nav-switcher-button-size);
}

ids-button::part(button) {
  height: var(--ids-module-nav-switcher-button-size);
  width: var(--ids-module-nav-switcher-button-size);
}

:host([display-mode="collapsed"]) {
  ::slotted(ids-dropdown) {
    display: none;
  }
}

::slotted(ids-dropdown) {
  margin-inline-start: var(--ids-module-nav-switcher-button-gutter-size);
  width: var(--ids-module-nav-switcher-dropdown-width);
}

.ids-module-nav-switcher {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: var(--ids-module-nav-switcher-button-size);
  margin: var(--ids-module-nav-switcher-button-gutter-size);

  &.display-mode-collapsed {
    justify-content: center;

    ::slotted(ids-dropdown) {
      display: none;
    }

    ::slotted(ids-button) {
      height: var(--ids-module-nav-switcher-button-size);
      width: var(--ids-module-nav-switcher-button-size);
      padding-inline: 4px;
    }

    .ids-dropdown {
      display: none;
    }

    .ids-button {
      height: var(--ids-module-nav-switcher-button-size);
      width: var(--ids-module-nav-switcher-button-size);
    }
  }
}
