@import '../ids-base/ids-base';

:host(ids-pager-input) {
  display: inline-flex;
  align-items: center;
}

ids-input::part(container) {
  @include mx-4();
  @include mb-0();
}

ids-input::part(input) {
  @include py-0();
  @include px-4();
  @include mb-0();

  width: 40px;
}
