@import '../../core/ids-base';

:host([language='fr']) {
  .left-positioned {
    direction: rtl;

    .label {
      padding: 0 0 0 8px;
    }
  }
}

.left-positioned {
  display: flex;
  flex-direction: row;

  .label {
    color: var(--ids-color-palette-black);
    margin-bottom: 8px;
    padding-right: 8px;

    &[mode='dark'] {
      color: var(--ids-color-palette-white);
    }
  }

  .data {
    color: var(--ids-color-palette-slate-100);
  }
}

.top-positioned {
  display: flex;
  flex-direction: column;

  .label {
    color: var(--ids-color-palette-slate-60);
    margin-bottom: 8px;

    &[mode='dark'] {
      color: var(--ids-color-palette-slate-30);
    }

    &[mode='contrast'] {
      color: var(--ids-color-palette-slate-90);
    }
  }

  .data {
    color: var(--ids-color-palette-slate-100);
  }
}
