@import '../ids-trigger-field/ids-trigger-field';

// Applies to search fields in the app menu, which are
// typically on top of black or dark color background
@mixin ids-app-menu-search-field-shadow() {
  box-shadow: var(--ids-search-field-app-menu-shadow-focus);
}

// Applies to both `dark` and `contrast` theme modes
@mixin ids-search-field-dark-app-menu-colors() {
  &.color-variant-app-menu {
    color: var(--ids-search-field-app-menu-color-text);

    .field-container {
      background-color: var(--ids-search-field-app-menu-color-background);
      color: var(--ids-search-field-app-menu-color-text);
    }

    .ids-input-field {
      color: var(--ids-search-field-app-menu-color-text);
    }

    .btn-clear {
      color: var(--ids-search-field-app-menu-color-icon-default);
    }

    .btn-clear:hover {
      color: var(--ids-search-field-app-menu-color-icon-hover);
    }

    ids-icon::part(search-icon) {
      color: var(--ids-search-field-app-menu-color-text);
    }

    &:focus-within {
      ids-icon::part(search-icon) {
        color: var(--ids-search-field-app-menu-color-icon-hover);
      }
    }

    &:focus-within,
    &.readonly:focus-within {
      .field-container {
        @include ids-app-menu-search-field-shadow();
      }
    }
  }
}

.ids-search-field:focus-within ids-input::part(input) {
  box-shadow: none;
}

:host {
  ids-menu-button {
    transition: border var(--ids-motion-duration) var(--ids-motion-ease);
    border: 0;
    border-inline: 0;
    border-inline-end: 1px solid var(--ids-search-field-color-border-default);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    margin-inline: 0;
    padding: 0;
    padding-inline: 0;

    & > * {
      display: inline-flex;
      align-self: center;
      inset-inline-start: 5px;
    }

    &::part(button) {
      border: 0;
      border-radius: 0;
      margin: 0;
      margin-inline: 0;
      padding: 0;
      padding-inline: 0;
      padding-inline: var(--ids-search-field-icon-margin);

      &,
      &:active,
      &:hover {
        background: transparent;
        background-color: transparent;
      }
    }
  }
}

:host([category]) {
  ids-menu-button {
    --ids-button-tertiary-shadow-focus: var(--ids-shadow-focus);

    & > * {
      inset-inline-start: 0;
    }
  }
}

:host(:focus-within),
:host(:focus-visible) {
  ids-menu-button {
    border-color: var(--ids-search-field-color-border-focus);

    &::part(button) {
      color: var(--ids-search-field-button-color-text-hover);
    }
  }
}

:host(:active),
:host(:hover) {
  ids-menu-button {
    border-color: var(--ids-search-field-color-border-hover);
  }
}

.ids-search-field {
  .field-container {
    background-color: var(--ids-search-field-color-background-default);
    border-color: var(--ids-search-field-color-border-default);
    border-radius: var(--ids-search-field-border-radius);
    border-width: var(--ids-search-field-border-width);
    margin: var(--ids-search-field-margin);
    transition: all var(--ids-motion-duration) var(--ids-motion-ease);

    &.collapsed {
      border-color: transparent;
      width: 38px;

      &:hover,
      &:not(:focus-within) {
        border-color: transparent;
      }

      &:focus,
      &:focus-within {
        box-shadow: none;
      }

      .ids-input-field {
        pointer-events: none;
      }

      .search-icon {
        display: none;
      }
    }
  }

  &:has(.collapsed) {
    &:not(.readonly):not(.disabled):not(:focus):not(:focus-within) {
      &:hover {
        .field-container {
          border-color: transparent;
        }
      }
    }

    &:focus-within {
      .field-container {
        border-color: transparent;
      }
    }
  }

  ids-icon.search-icon {
    margin-inline-start: var(--ids-search-field-icon-margin);
  }

  .fieldset {
    display: inline-flex;
    flex-direction: row;
    width: 100%;

    ids-button {
      align-self: center;
    }
  }

  #category-action-button::part(button) {
    padding: var(--ids-space-xs);
    margin-inline-start: var(--ids-search-field-icon-margin);
  }

  // =============================
  // Default Styles for color variants (Applicable to all themes)

  &.color-variant-card {
    .field-container {
      background: var(--ids-search-field-card-color-background);
      color: var(--ids-search-field-card-color-text);
    }

    .btn-clear:hover {
      background-color: transparent;
    }
  }

  &.color-variant-app-menu {
    color: var(--ids-search-field-app-menu-color-text);

    .field-container {
      border-style: none;
      border-radius: var(--ids-search-field-border-radius);
      background-color: var(--ids-search-field-app-menu-color-background);
      color: var(--ids-search-field-app-menu-color-text);
    }

    .ids-input-field {
       color: var(--ids-search-field-app-menu-color-text);
    }

    .btn-clear {
      color: var(--ids-search-field-app-menu-color-icon-default);
    }

    .btn-clear:hover {
      color: var(--ids-search-field-app-menu-color-icon-hover);
    }

    ids-icon::part(search-icon) {
      color: var(--ids-search-field-app-menu-color-text);
    }

    &:focus-within {
      // stylelint-disable-next-line
      ids-icon::part(search-icon) {
        color: var(--ids-search-field-app-menu-color-icon-hover);
      }
    }

    &:focus-within,
    &.readonly:focus-within {
      // stylelint-disable-next-line
      .field-container {
        @include ids-app-menu-search-field-shadow();
      }
    }
  }

  // Ignore the fieldset element on Module Nav searchfields
  &.color-variant-module-nav {
    .fieldset {
      display: contents;
    }

    .field-container {
      background-color: var(--ids-module-nav-search-input-bg-color);
      color: var(--ids-module-nav-item-hover-text-color);
    }

    .ids-input-field {
      padding-inline-start: var(--ids-module-nav-item-expanded-icon-text-spacing-size);
    }

    &.full {
      .field-container {
        width: var(--ids-module-nav-search-input-width);
      }
    }

    &:focus-within {
      .field-container {
        background-color: var(--ids-module-nav-search-input-focused-bg-color);
        border-color: var(--ids-module-nav-item-selected-text-color);
      }
    }
  }

  &.color-variant-dropdown {
    &.ids-input:focus-within, &.ids-input.readonly:focus-within, &.ids-input.is-active {
      .field-container {
        box-shadow: none;
      }
    }

    .field-container {
      border-radius: 0;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-color: var(--ids-dropdown-group-color-border);
    }
  }
}
