@import '../ids-trigger-field/ids-trigger-field';

// Applies to search fields in the app menu, which are
// typically on top of black or dark color background
@mixin ids-app-menu-search-field-shadow() {
  box-shadow: var(--ids-searchfield-app-menu-focus-box-shadow);
}

// Applies to both `dark` and `contrast` theme modes
@mixin ids-search-field-dark-app-menu-colors() {
  &.color-variant-app-menu {
    color: var(--ids-searchfield-app-menu-text-color);

    .field-container {
      background-color: var(--ids-searchfield-app-menu-background-color);
      color: var(--ids-searchfield-app-menu-text-color);
    }

    .ids-input-field {
      color: var(--ids-searchfield-app-menu-text-color);
    }

    .btn-clear {
      color: var(--ids-searchfield-app-menu-icon-color);
    }

    .btn-clear:hover {
      color: var(--ids-searchfield-app-menu-icon-hover-color);
    }

    ids-icon::part(search-icon) {
      color: var(--ids-searchfield-app-menu-text-color);
    }

    &:focus-within {
      ids-icon::part(search-icon) {
        color: var(--ids-searchfield-app-menu-icon-hover-color);
      }
    }

    &:focus-within,
    &.readonly:focus-within {
      .field-container {
        @include ids-app-menu-search-field-shadow();
      }
    }
  }
}

.ids-search-field:focus-within ids-input::part(input) {
  box-shadow: none;
}

.ids-search-field {
  ids-icon.search-icon {
    margin-inline-start: var(--ids-searchfield-app-menu-search-icon-margin);
  }

  // =============================
  // Default Styles for color variants (Applicable to all themes)
  &.color-variant-alternate {
    .field-container {
      border-style: none;
      background-color: var(--ids-searchfield-header-background-color);
      color: var(--ids-searchfield-header-text-color);
   }

    ids-icon {
      color: var(--ids-searchfield-header-icon-color);
    }
  }

  &.color-variant-card {
    .field-container {
      background: var(--ids-searchfield-card-background-color);
      color: var(--ids-searchfield-card-text-color);
    }

    .btn-clear:hover {
      background-color: transparent;
    }
  }

  &.color-variant-app-menu {
    color: var(--ids-searchfield-app-menu-text-color);

    .field-container {
      border-style: none;
      border-radius: var(--ids-searchfield-app-menu-border-radius);
      background-color: var(--ids-searchfield-app-menu-background-color);
      color: var(--ids-searchfield-app-menu-text-color);
    }

    .ids-input-field {
      color: var(--ids-searchfield-app-menu-text-color);
    }

    .btn-clear {
      color: var(--ids-searchfield-app-menu-icon-color);
    }

    .btn-clear:hover {
      color: var(--ids-searchfield-app-menu-icon-hover-color);
    }

    ids-icon::part(search-icon) {
      color: var(--ids-searchfield-app-menu-text-color);
    }

    &:focus-within {
      // stylelint-disable-next-line
      ids-icon::part(search-icon) {
        color: var(--ids-searchfield-app-menu-icon-hover-color);
      }
    }

    &:focus-within,
    &.readonly:focus-within {
      // stylelint-disable-next-line
      .field-container {
        @include ids-app-menu-search-field-shadow();
      }
    }
  }
}
