@import '../../core/ids-base';

@mixin ids-search-field-alternate-colors() {
  &.color-variant-alternate {
    ids-trigger-field::part(content) {
      background-color: rgba(71 71 76 / 0.3);
      border-bottom-color: rgba(62 62 66 / 0.7);
    }

    ids-icon {
      color: rgba(255 255 255 / 0.7);

      // stylelint-disable-next-line
      &:hover {
        color: rgba(255 255 255 / 1);
      }
    }
  }
}

// Applies to both `dark` and `contrast` theme modes
@mixin ids-search-field-dark-app-menu-colors() {
  &.color-variant-app-menu {
    @include text-slate-20();

    ids-trigger-field::part(content) {
      @include bg-slate-100();
    }

    ids-trigger-field::part(input) {
      @include text-slate-20();
    }

    ids-trigger-button::part(clearable-button) {
      @include text-slate-40();
    }

    ids-trigger-button::part(clearable-button):hover {
      @include text-white();
    }

    ids-icon::part(search-icon) {
      @include text-slate-20();
    }

    &:focus {
      // stylelint-disable-next-line
      ids-icon::part(search-icon) {
        @include text-white();
      }
    }
  }
}

ids-input::part(input) {
  @include border-none();
  @include mb-0();

  padding-right: 30px;
}

ids-input::part(container) {
  @include mb-0();
}

.ids-search-field:focus-within ids-input::part(input) {
  box-shadow: none;
}

.ids-search-field {
  ids-icon.search-icon {
    @include ml-8();
  }

  // =============================
  // Default Styles for color variants (Applicable to all themes)

  &.color-variant-alternate {
    ids-trigger-field::part(content) {
      @include border-none();

      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }

  &.color-variant-app-menu {
    ids-trigger-field::part(content) {
      @include border-none();
      @include rounded-md();
    }
  }

  // =============================
  // Theme Colors for color variants

  // Light Mode
  &[mode='light'] {
    @include ids-search-field-alternate-colors();

    &.color-variant-app-menu {
      @include text-slate-20();

      ids-trigger-field::part(content) {
        @include bg-black();
      }

      ids-trigger-field::part(input) {
        @include text-slate-20();
      }

      ids-trigger-button::part(clearable-button) {
        @include text-slate-40();
      }

      ids-trigger-button::part(clearable-button):hover {
        @include text-white();
      }

      ids-icon::part(search-icon) {
        @include text-slate-20();
      }

      &:focus {
        // stylelint-disable-next-line
        ids-icon::part(search-icon) {
          @include text-white();
        }
      }
    }
  }

  // Dark Mode
  &[mode='dark'] {
    @include ids-search-field-alternate-colors();
    @include ids-search-field-dark-app-menu-colors();
  }

  // High Contrast Mode
  &[mode='contrast'] {
    @include ids-search-field-alternate-colors();
    @include ids-search-field-dark-app-menu-colors();
  }
}
