@import '../ids-trigger-field/ids-trigger-field';

// Applies to search fields in the app menu, which are
// typically on top of black or dark color background
@mixin ids-app-menu-search-field-shadow() {
  box-shadow: 0 0 3px 2px rgba(255 255 255 / 0.5);
}

@mixin ids-search-field-alternate-colors() {
  &.color-variant-alternate {
    .field-container {
      background-color: rgba(71 71 76 / 0.3);
      border-bottom-color: rgba(62 62 66 / 0.7);
    }

    ids-icon {
      color: rgba(255 255 255 / 0.7);

      // stylelint-disable-next-line
      &:hover {
        color: rgba(255 255 255 / 1);
      }
    }
  }
}

// Applies to both `dark` and `contrast` theme modes
@mixin ids-search-field-dark-app-menu-colors() {
  &.color-variant-app-menu {
    @include text-slate-20();

    .field-container {
      @include bg-slate-100();
      @include text-slate-20();
    }

    .ids-input-field {
      @include text-slate-20();
    }

    .btn-clear {
      @include text-slate-40();
    }

    .btn-clear:hover {
      @include text-white();
    }

    ids-icon::part(search-icon) {
      @include text-slate-20();
    }

    &:focus-within {
      // stylelint-disable-next-line
      ids-icon::part(search-icon) {
        @include text-white();
      }
    }

    &:focus-within,
    &.readonly:focus-within {
      .field-container {
        @include ids-app-menu-search-field-shadow();
      }
    }
  }
}

.ids-search-field:focus-within ids-input::part(input) {
  box-shadow: none;
}

.ids-search-field {
  ids-icon.search-icon {
    @include ml-8();
  }

  // =============================
  // Default Styles for color variants (Applicable to all themes)

  &.color-variant-alternate {
    .field-container {
      @include border-none();

      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }

  &.color-variant-app-menu {
    .field-container {
      @include border-none();
      @include rounded-md();
    }
  }

  // =============================
  // Theme Colors for color variants

  // Light Mode
  &[mode='light'] {
    @include ids-search-field-alternate-colors();

    &.color-variant-app-menu {
      @include text-slate-20();

      .field-container {
        @include bg-black();
        @include text-slate-20();
      }

      .ids-input-field {
        @include text-slate-20();
      }

      .btn-clear {
        @include text-slate-40();
      }

      .btn-clear:hover {
        @include text-white();
      }

      ids-icon::part(search-icon) {
        @include text-slate-20();
      }

      &:focus-within {
        // stylelint-disable-next-line
        ids-icon::part(search-icon) {
          @include text-white();
        }
      }

      &:focus-within,
      &.readonly:focus-within {
        // stylelint-disable-next-line
        .field-container {
          @include ids-app-menu-search-field-shadow();
        }
      }
    }
  }

  // Dark Mode
  &[mode='dark'] {
    @include ids-search-field-alternate-colors();
    @include ids-search-field-dark-app-menu-colors();
  }

  // High Contrast Mode
  &[mode='contrast'] {
    @include ids-search-field-alternate-colors();
    @include ids-search-field-dark-app-menu-colors();
  }
}
