/* Ids Menu Component */
@import '../ids-base/ids-base';

:host {
  @include block();
}

// Resets the User-Agent stylesheet rules for `<ul>` in Chrome
@mixin reset-menu-style() {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.ids-menu {
  @include reset-menu-style();
}
