/* Ids Menu Item Component */
@import './ids-menu-base';
@import '../ids-base/ids-check-mixin';
@import '../ids-base/ids-checkbox-mixin';

:host {
  @include block();

  position: static;

  // @TODO: remove slotted rules if we decide to
  // support Submenus inside standalone ids-menu
  ::slotted(ids-menu) {
    display: none;
  }
}

.ids-menu-item {
  @include font-sans();

  align-items: center;
  cursor: pointer;
  list-style: none;
  position: static;
  transition: background-color $menu-item-transition-length cubic-bezier(0.4, 0, 0.6, 1);
  user-select: none;

  ids-icon,
  .ids-icon,
  .ids-menu-item-display-icon {
    @include block();

    align-self: center;
    justify-content: center;
    place-self: center;
  }

  // ================================================
  // Standard Rules for a menu item with no icons
  a {
    @include px-8();
    @include py-8();

    display: grid;
    grid-template-columns: 0 min-content;
    max-width: 100%;
    position: relative;
    user-select: inherit;
    white-space: nowrap;

    // Disable default browser focus state.
    // (comment this out to debug the true menu focus state)
    &:focus {
      outline: none;
    }

    > * {
      vertical-align: middle;
    }

    ids-icon,
    .ids-icon,
    .ids-menu-item-display-icon {
      grid-column-start: 1;
    }

    .ids-menu-item-text {
      grid-column-start: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ids-menu-item-submenu-icon {
      @include ml-4();

      grid-column-start: 3;
      -webkit-transform: rotateZ(-90deg);
      transform: rotateZ(-90deg);
    }
  }

  // ================================================
  // Disabled state

  &.disabled {
    @include text-slate-30;

    // Disable all mouse interactions
    cursor: default;
    pointer-events: none;
    user-select: none;

    a {
      color: inherit;
    }

    ids-icon,
    .ids-icon {
      fill: var(--ids-color-palette-slate-30);
    }
  }

  // ================================================
  // Highlighted state

  &.highlighted {
    background-color: var(--ids-color-palette-slate-20);
  }

  // ================================================
  // Rules for a menu item with an icon

  &.has-icon {
    a {
      @include pl-4();

      grid-template-columns: 30px calc(100% - 30px);
    }
  }

  // ================================================
  // Rules for a menu item with a checkmark

  &.has-checkmark,
  &.has-multi-checkmark {
    a {
      @include pl-4();

      grid-template-columns: 30px 0 calc(100% - 30px);

      // When checkmarks are present, all column placements change
      .check {
        grid-column-start: 1;
      }

      ids-icon,
      .ids-icon,
      .ids-menu-item-display-icon {
        grid-column-start: 2;
      }

      .ids-menu-item-text {
        grid-column-start: 3;
      }

      .ids-menu-item-submenu-icon {
        grid-column-start: 4;
      }
    }
  }

  // ================================================
  // Rules for a menu item with a submenu + submenu icon

  &.has-submenu {
    a {
      @include pr-0();

      grid-template-columns: 0 calc(100% - 25px) 25px;
    }
  }

  // ================================================
  // Rules for a menu item with a checkmark

  &.has-icon.has-checkmark,
  &.has-icon.has-multi-checkmark {
    a {
      @include pl-4();

      grid-template-columns: 30px 30px calc(100% - 60px);
    }
  }

  // ================================================
  // Rules for a menu item with an action-defined icon, and a submenu + submenu icon
  // Also for a menu item with a checkmark, and a submenu + submenu icon

  &.has-icon.has-submenu,
  &.has-checkmark.has-submenu,
  &.has-multi-checkmark.has-submenu {
    a {
      grid-template-columns: 30px calc(100% - 55px) 25px;
    }
  }

  // ================================================
  // Rules for a menu item with a checkmark, action-defined icon, and a submenu + submenu icon

  &.has-icon.has-checkmark.has-submenu,
  &.has-icon.has-multi-checkmark.has-submenu {
    a {
      grid-template-columns: 30px 30px calc(100% - 85px) 25px;
    }
  }
}

// ===============================================
// Checkmark Styles

.has-checkmark {
  span.check {
    @include check-base();
  }

  &.selected {
    span.check::after {
      @include check-icon();

      left: 11px;
      margin-top: 2px;
    }

    &.disabled {
      span.check::after {
        @include check-icon-disabled();
      }
    }
  }
}

.has-multi-checkmark {
  span.check {
    @include checkbox-unchecked();

    align-self: center;
    justify-self: center;
    position: relative;
    top: 0;
  }

  &.selected {
    span.check {
      @include checkbox-checked();

      &::after { //stylelint-disable
        @include checkbox-checked-after();
      }
    }
  }

  &.disabled {
    span.check {
      @include checkbox-disabled-unchecked();
    }

    &.selected {
      span.check {
        @include checkbox-disabled-checked();
      }
    }
  }
}
