/* Ids Menu Item Component */
@import '../ids-base/ids-base';

$menu-item-height: 40px;
$transition-length: 100ms;

:host {
  @include block();
  @include font-sans();

  list-style: none;
}

.ids-menu-item {
  align-items: center;
  cursor: pointer;
  transition: background-color $transition-length cubic-bezier(0.4, 0, 0.6, 1);

  &.highlighted {
    background-color: var(--ids-color-palette-slate-20);
  }

  ids-icon,
  .ids-icon {
    @include block();
  }

  // ================================================
  // Standard Rules for a menu item with no icons
  a {
    @include px-4();
    @include py-8();

    display: grid;
    grid-template-columns: min-content;
    max-width: 100%;
    white-space: nowrap;

    > * {
      vertical-align: middle;
    }

    ids-icon,
    .ids-icon {
      grid-column-start: 1;
    }

    .ids-menu-item-text {
      grid-column-start: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // ================================================
  // Rules for a menu item with an icon
  &.has-icon {
    a {
      grid-template-columns: 30px calc(100% - 40px);
    }
  }
}
