/* Ids Menu Item Component */
@import './ids-menu-base';

:host {
  @include block();

  // @TODO: remove slotted rules if we decide to
  // support Submenus inside standalone ids-menu
  ::slotted(ids-menu) {
    display: none;
  }
}

.ids-menu-item {
  @include font-sans();

  align-items: center;
  cursor: pointer;
  list-style: none;
  transition: background-color $transition-length cubic-bezier(0.4, 0, 0.6, 1);

  ids-icon,
  .ids-icon {
    @include block();
  }

  // ================================================
  // Standard Rules for a menu item with no icons
  a {
    @include px-4();
    @include py-8();

    display: grid;
    grid-template-columns: min-content;
    max-width: 100%;
    white-space: nowrap;

    > * {
      vertical-align: middle;
    }

    ids-icon,
    .ids-icon,
    .ids-menu-item-display-icon {
      grid-column-start: 1;
    }

    .ids-menu-item-text {
      grid-column-start: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ids-menu-item-submenu-icon {
      grid-column-start: 3;
      -webkit-transform: rotateZ(-90deg);
      transform: rotateZ(-90deg);
    }
  }

  // ================================================
  // Disabled state

  &.disabled {
    @include text-slate-30;

    // Disable all mouse interactions
    cursor: default;
    pointer-events: none;
    user-select: none;

    a {
      color: inherit;
    }

    ids-icon,
    .ids-icon {
      fill: var(--ids-color-palette-slate-30);
    }
  }

  // ================================================
  // Highlighted state

  &.highlighted {
    background-color: var(--ids-color-palette-slate-20);
  }

  // ================================================
  // Rules for a menu item with an icon
  &.has-icon {
    a {
      grid-template-columns: 30px calc(100% - 50px);
    }
  }
}
