@import '../ids-trigger-field/ids-trigger-field';

:host(ids-spinbox) {
  width: fit-content;
}

:host(ids-spinbox:focus-within) {
  border: none;
  outline: none;
}

.ids-spinbox:focus-within > .ids-spinbox-content {
  border: 1px solid var(--ids-spinbox-color-border-focus);
  box-shadow: var(--ids-spinbox-shadow-focus);
  outline: none;
}

:host(ids-spinbox[disabled]) {
  border-color: var(--ids-trigger-field-color-border-readonly);
  pointer-events: none;
}

.ids-spinbox.readonly {
  ids-button::part(button) {
    background-color: var(--ids-spinbox-color-background-readonly);
    color: var(--ids-spinbox-color-text-readonly);
  }
}

ids-button::part(button) {
  background-color: var(--ids-spinbox-color-background-default);
}

.ids-spinbox.disabled {
  color: var(--ids-spinbox-color-text-disabled);
  pointer-events: none;

  ids-input::part(input) {
    border-color: var(--ids-spinbox-color-border-disabled);
    color: var(--ids-spinbox-color-text-disabled);
    pointer-events: none;
  }

  ids-button::part(button) {
    color: var(--ids-spinbox-color-text-disabled);
  }
}

.ids-spinbox:focus-within .ids-spinbox-content ids-button:not([disabled]):not([readonly])::part(button) {
  border-color: var(--ids-spinbox-color-border-focus);
  border-width: 1px;
  box-shadow: none;
}

::slotted(*[slot='trigger-start']:first-of-type) {
  margin-inline-start: 1px;
}

::slotted(*[slot='trigger-end']:last-of-type) {
  margin-inline-end: 0;
}

.ids-spinbox {
  position: relative;
  display: flex;
  flex-direction: column;

  .hidden {
    display: none;
  }

  .label {
    margin-block: var(--ids-input-margin-bottom);
  }

  .ids-spinbox-content {
    contain: content;
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-height: 38px;
    margin-bottom: 4px;

    &:focus-within ids-input:not(.error)::part(input) {
      border-color: var(--ids-spinbox-color-border-focus);
      border-width: 1px;
      box-shadow: none;
    }

    &:focus-visible ids-button::part(button) {
      outline: none;
    }
  }
}
