/* Ids Action Sheet */
.ids-action-sheet-inner {
  align-items: center;
  background-color: var(--ids-action-sheet-color-background);
  border-color: var(--ids-action-sheet-color-border);
  display: flex;
  position: fixed;
  border-radius: var(--ids-action-sheet-border-radius);
  flex-direction: column;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  padding-block: var(--ids-action-sheet-padding);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: var(--ids-action-sheet-shadow);
  transition: transform var(--ids-motion-duration) var(--ids-motion-ease);
}

:host([visible='true']) {
  .ids-action-sheet-inner {
    transform: translate(-50%, 0);
  }
}

::slotted(ids-menu) {
  width: 100%;
}

ids-button {
  width: calc(100% - calc(var(--ids-space-40) * 3));
  margin-block-start: var(--ids-space-40);

  span {
    display: block;
    width: 100%;
    text-align: center;
  }
}
