@import '../ids-modal/ids-modal';

.ids-about {
  .ids-modal-container {
    max-width: 560px;
    min-width: 300px;
  }

  .ids-modal-header {
    @include pt-40();

    justify-content: center;
    flex-direction: column;
    width: calc(100% - 40px);
  }

  .ids-modal-content-wrapper {
    @include py-4();
    @include px-20();
    @include mb-20();

    overflow: hidden;
  }

  .ids-modal-content {
    @include antialiased();
    @include border-1();
    @include border-solid();
    @include border-slate-30();
    @include rounded-default();
    @include mt-0();
    @include mb-28();
    @include pt-0();
    @include px-12();

    max-height: 199px;
    outline: medium none;
    overflow-y: scroll;
    text-align: left;

    &:hover {
      @include border-slate-70();
    }
  }

  &-close {
    @include absolute();
    @include right-8();
    @include top-8();
  }
}
