<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <meta http-equiv="Content-Security-Policy"
  content="
    script-src 'self';
    style-src 'self' https://fonts.googleapis.com 'nonce-0a59a005';
    font-src 'self' data: https://fonts.gstatic.com;
  "/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&amp;display=swap" rel="stylesheet" />
</head>
<body>
  <ids-container role="main" hidden>
