<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ htmlWebpackPlugin.options.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&amp;display=swap" rel="stylesheet"/>

  <!--Import Old IDS -->
  <link href="https://unpkg.com/ids-enterprise@4.52.0/dist/css/theme-new-light.css" rel="stylesheet"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.52.0/dist/js/sohoxi.js"></script>
</head>
<body>
  <div class="ids-container" padding="8" role="main">
