<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.84.1/dist/js/sohoxi.js"></script>
  <link id="stylesheet" href="https://unpkg.com/ids-enterprise@4.84.1/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Web Component Toast</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="3" padding-x="md">
      <ids-layout-grid-cell>

        <ids-button id="btn-toast-wc" appearance="secondary">
          <span>Toast Message (wc)</span>
        </ids-button>

      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">4.x Toast</ids-text>
    </ids-layout-grid>
    <div class="svg hidden">
      <div class="svg-icons">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-icons">
          <symbol id="icon-close" viewBox="0 0 18 18">
            <path d="M17.5.5l-17 17m17 0L.5.5" stroke="currentColor" fill="none" fill-rule="evenodd"
              vector-effect="non-scaling-stroke"></path>
          </symbol>
        </svg>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <button class="btn-secondary" type="button" id="btn-toast-4x">Toast Message (4.x)</button>
      </div>
    </div>
  </ids-container>
</body>
</html>
