<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="0" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">IdsGlobal (demo page)</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell id="contents">
      </ids-layout-grid-cell>
    </ids-layout-gri>
  </ids-container>
</body>
</html>
