@import '../ids-base/ids-base';

:host(ids-spinbox) {
  width: fit-content;
}

:host(ids-spinbox:focus-within) {
  border-width: 0;
  border: none;
  outline: none;
}

:host(ids-spinbox:focus-within .ids-spinbox-content) {
  @include border-azure-60();
  @include shadow();

  border-width: 0;
  border: none;
  outline: none;
}

.ids-spinbox {
  position: relative;
  display: flex;
  flex-direction: column;

  ids-icon[icon='dirty'] {
    position: absolute;
    top: 2px;
    left: 2px;
  }

  .hidden {
    display: none;
  }

  .label {
    @include my-8();
  }

  .ids-spinbox-content {
    contain: content;
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-height: 38px;

    &:focus-visible ids-button::part(button) {
      outline: none;
    }

    ids-button::part(button) {
      @include border-graphite-70();
      @include border-1();

      width: 38px;
      max-width: 38px;
      justify-content: center;
      align-items: center;
      padding: 0 0;
      border: none;
    }

    ids-button:first-child::part(button) {
      border-radius: 2px 0 0 2px;
      border-width: 1px;
      border-style: solid;
      border-right-style: none;
    }

    ids-button:last-child::part(button) {
      border-radius: 0 2px 2px 0;
      border-width: 1px;
      border-style: solid;
      border-left-style: none;
    }

    &:focus-within ids-input::part(input),
    &:focus-within ids-button:first-child::part(button),
    &:focus-within ids-button:last-child::part(button) {
      @include border-azure-60();
    }

    & ids-input::part(input) {
      @include border-graphite-70();
      @include border-1();

      border-radius: 0;
      max-width: 84px;
      margin-bottom: 0;
    }
  }
}
