<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-skip-link href="#main-content">Skip to Main Content</ids-skip-link>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1" id="main-content">Skiplink (tab into the page)</ids-text>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
