/**
 * Base Styles/Mixins for Ids Menu Component and all subcomponents.
 */
@import '../../core/ids-base';

$menu-item-height: 40px;
$menu-item-transition-length: 50ms;

// Resets the User-Agent stylesheet rules for `<ul>` in Chrome
@mixin reset-menu-style() {
  @include block();

  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}
