/**
 * Base Styles/Mixins for Ids Menu Component and all subcomponents.
 */
// Resets the User-Agent stylesheet rules for `<ul>` in Chrome
@mixin reset-menu-style() {
  display: block;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}
