/* Ids Menu Header Component */
@import '../../core/ids-base';

:host {
  @include block();
}

.ids-menu-header {
  @include font-bold();
  @include font-sans();
  @include my-8();
  @include px-8();
  @include text-12();

  color: var(--ids-color-palette-slate-70);
  list-style: none;
}

// Handle Themes
.ids-menu-header[mode='dark'] {
  @include text-white();
}

.ids-menu-header[mode='contrast'] {
  @include text-classic-slate-100();
}

.ids-menu-header[version='classic'][mode='light'] {
  @include text-classic-slate-100();
}

.ids-menu-header[version='classic'][mode='dark'] {
  @include text-white();
}

.ids-separator[version='classic'][mode='contrast'] {
  @include bg-graphite-100();
}
