/* Ids Menu Header Component */
:host {
  display: block;
}

.ids-menu-header {
  margin-block: var(--ids-menu-header-margin);
  padding-inline: var(--ids-menu-header-padding);
  font-weight: var(--ids-menu-header-font-weight);
  font-size: var(--ids-menu-header-font-size);
  color: var(--ids-menu-header-color-text);
  font-family: var(--ids-font-family-default);
  list-style: none;
  text-align: start;

  &.align-for-icons {
    padding-inline-start: var(--ids-menu-header-icon-padding);
  }
}
