/* Ids Menu Group Component */
@import './ids-menu-base';

:host {
  display: block;
}

.ids-menu-group {
  @include reset-menu-style();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 90vh;
  max-width: 100vw;
  width: max-content; // Doesn't work in Safari and Firefox
}
