@import '../ids-base/ids-base';

$cell-border-color: var(--ids-color-palette-slate-30);
$header-bg-color: var(--ids-color-palette-slate-80);

:host {
  --ids-data-grid-column-widths: repeat(1, minmax(110px, 1fr));
}

.ids-data-grid {
  // Outside border and Background and sizing
  @include bg-white();
  @include border-1();
  @include border-solid();
  @include rounded-default();
  @include w-full();

  border-collapse: collapse;
  border-color: $cell-border-color;
  overflow: auto;

  // Font Info
  @include antialiased();
  @include font-sans();
  @include text-16();

  // Row Styles
  .ids-data-grid-row {
    @include w-full();

    display: grid;
    grid-template-columns: var(--ids-data-grid-column-widths); // Filled in dynamically
  }

  // Line Height
  .ids-data-grid-body .ids-data-grid-row {
    height: 50px;
  }

  // Row Styles - Alternate Row Setting
  &.alt-row-shading .ids-data-grid-body [role='row']:nth-child(odd) {
    @include bg-slate-10();
  }

  // Header Styles
  .ids-data-grid-header {
    @include z-2();
    @include sticky();

    top: 0;
  }

  .ids-data-grid-header-cell {
    // Border and Background
    @include border-0();
    @include border-l-1();
    @include border-solid();

    background-color: $header-bg-color;
    border-color: $cell-border-color;
    min-height: 35px;

    // Hide first border
    &:first-child {
      border-left: 0;
    }
  }

  .ids-data-grid-header-text {
    @include px-16();
    @include py-8();
    @include font-bold();
    @include text-14();
    @include text-white();

    display: block;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // Cell Styles
  .ids-data-grid-cell {
    // Border and Background
    @include border-0();
    @include border-l-1();
    @include border-t-1();
    @include border-solid();

    align-items: center;
    border-color: $cell-border-color;
    display: flex;

    // Spacing and Padding
    @include px-16();

    // Hide first border
    &:first-child {
      border-left: 0;
    }
  }

  // Standalone Css
  tr.ids-data-grid-row {
    display: table-row;
    height: 50px;
  }

  td.ids-data-grid-cell {
    display: table-cell;
  }
}
