/* Ids Breadcrumb Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

.ids-breadcrumb {
  @include mixins.antialiased();

  align-items: center;
  display: flex;

  [text-decoration] {
    text-decoration: attr(text-decoration);
  }

  &-menu {
    position: relative;

    &::after {
      @include mixins.antialiased();

      color: var(--ids-breadcrumb-color-text-default);
      content: '\002F';
      font-weight: var(--ids-breadcrumb-font-weight);
      padding-right: var(--ids-space-30);
      padding-left: var(--ids-space-none);
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      margin-top: 10px;
    }
  }

  &.can-truncate {
    white-space: nowrap;

    nav {
      display: flex;
      position: relative;
      justify-content: end;
      overflow: hidden;
    }
  }

  nav {
    padding: var(--ids-space-40);

    &.truncate {
      &::before {
        transition:
          width var(--ids-motion-duration) var(--ids-motion-ease),
          background var(--ids-motion-duration) var(--ids-motion-ease);
        background-color: transparent;
        background-image: linear-gradient(to right, var(--ids-color-background-default), rgba(255 255 255 / 0));
        content: '';
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        z-index: var(--ids-z-index-10);
        width: var(--ids-size-40);
      }
    }
  }

  // =====================================================
  // Breadcrumb Color Variants
  &.color-variant-breadcrumb {
    .ids-breadcrumb-menu {
      &::after {
        color: var(--ids-breadcrumb-color-text-default);
      }
    }

    nav.truncate::before {
      color: var(--ids-breadcrumb-color-text-default);
    }
  }

  &.color-variant-alternate {
    .ids-breadcrumb-menu {
      &::after {
        color: var(--ids-breadcrumb-color-text-emphasis);
      }
    }

    // Use background colors from IdsHeader
    nav.truncate::before {
      color: var(--ids-breadcrumb-color-text-emphasis);
      background-image:
      linear-gradient(
        to right,
        var(--ids-header-gradient-opacity-none),
        var(--ids-header-gradient-opacity-full)
      );
    }
 }
}

a.ids-hyperlink,
span.ids-breadcrumb-divider {
  font-size: var(--ids-breadcrumb-font-size);
  font-family: var(--ids-font-family-default);
  color: var(--ids-breadcrumb-color-text-default);
  margin-inline-end: 0;

  &:not(.ids-hyperlink-color-unset):not([mode]) {
    color: var(--ids-breadcrumb-color-text-default);
  }
}

::slotted(*),
.ids-breadcrumb > * {
  display: inline-block;
}

// Create the / between breadcrumbs
::slotted(*:not(:first-child))::before,
span.ids-breadcrumb-divider:not(:first-child)::before {
  @include mixins.antialiased();

  font-size: var(--ids-breadcrumb-font-size);
  font-family: var(--ids-font-family-default);
  color: inherit;
  content: '\002F';
  font-weight: normal;
  padding: var(--ids-space-10) var(--ids-space-40) ;
  text-decoration: none;
  display: inline-block;
  margin-inline-start: -3px;
  vertical-align: top;
}

.hidden {
  display: none;
}
