/* Styling for Dropdown List Options */
@import '../../core/ids-base';

:host {
  @include cursor-pointer();
  @include block();
  @include text-slate-100();
  @include font-sans();

  font-size: 16px;
  line-height: 36px;
  outline: none;
  min-height: 32px;
  padding: 0;
  text-indent: 8px;
  user-select: none;
  min-width: $input-size-xs - 2;
  width: 298px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host(.is-selected) {
  @include bg-azure-60();
  @include text-white();
}

:host(.multiselect-option.is-selected) {
  @include bg-white();
  @include text-black();
}

:host(.multiselect-option.is-selected:focus) {
  @include bg-slate-20();
}

:host(.multiselect-option.is-selected:hover) {
  @include bg-slate-20();
}

:host(:hover:not(.is-selected):not([group-label])),
:host(.is-focused) {
  @include bg-slate-20();
}

// Style Icons when in the list
::slotted(ids-icon) {
  vertical-align: middle;
  margin: 0 7px 2px 0;
}

::slotted(ids-icon[dir='rtl']) {
  margin: 0 0 2px 7px;
}

// Handle Dark Theme
:host([mode='dark']) {
  @include text-white();
}

:host([mode='dark']:hover:not(.is-selected)) {
  @include bg-slate-80();
}

// Handle Contrast Theme
:host([mode='contrast'].is-selected) {
  @include bg-azure-100();
  @include text-white();
}

:host([mode='contrast']:hover:not(.is-selected)) {
  @include bg-slate-20();
}

::slotted(ids-check-box) {
  line-height: normal;
}

::slotted(.highlight) {
  font-weight: var(--ids-number-font-weight-bold);
}

// Group labels
:host([group-label]) {
  @include cursor-default();
  @include text-slate-80();

  font-weight: 600;
}

:host([mode='dark'][group-label]) {
  @include text-slate-20();
}

:host([mode='contrast'][group-label]) {
  @include text-slate-100();
}

:host([group-label]:not(:first-child)) {
  border-top: 1px solid var(--ids-color-palette-slate-30);
  margin-top: 5px;
}

:host([mode='dark'][group-label]:not(:first-child)) {
  border-top: 1px solid var(--ids-color-palette-slate-50);
}

:host([mode='contrast'][group-label]:not(:first-child)) {
  border-top: 1px solid var(--ids-color-palette-slate-60);
}
