/* Styling for Dropdown List Options */
@import '../../core/ids-base';

// These input field sizes come from the design tokens and are adjusted
// here to account for 1px border size on top/bottom or left/right in some calculations.
$border-input-size-xs: $input-size-xs - 2;
$border-input-size-sm: $input-size-sm - 2;
$border-input-size-md: $input-size-md - 2;
$border-input-size-mm: $input-size-mm - 2;
$border-input-size-lg: $input-size-lg - 2;
$border-input-field-height-compact: $input-field-height-xs - 2;
$border-input-field-height-xs: $input-field-height-xs - 2;
$border-input-field-height-sm: $input-field-height-sm - 2;
$border-input-field-height-md: $input-field-height-md - 2;
$border-input-field-height-lg: $input-field-height-lg - 2;

:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  scroll-behavior: smooth;
  min-width: $input-size-xs - 2;
  width: 298px;
}

// Width Sizes
:host([size='xs']) {
  &,
  ::slotted(ids-list-box-option) {
    width: $border-input-size-xs;
  }
}

:host([size='sm']) {
  &,
  ::slotted(ids-list-box-option) {
    width: $border-input-size-sm;
  }
}

:host([size='md']) {
  &,
  ::slotted(ids-list-box-option) {
    width: $border-input-size-md;
  }
}

:host([size='mm']) {
  &,
  ::slotted(ids-list-box-option) {
    width: $border-input-size-mm;
  }
}

:host([size='lg']) {
  &,
  ::slotted(ids-list-box-option) {
    width: $border-input-size-lg;
  }
}

:host([size='full']) {
  &,
  ::slotted(ids-list-box-option) {
    width: $input-size-full;
  }
}

// Height Sizes
:host([compact]),
:host([field-height='xs']) {
  ::slotted(ids-list-box-option) {
    @include text-14();

    min-height: $border-input-field-height-compact;
    line-height: $border-input-field-height-compact;
  }
}

:host([field-height='sm']) {
  ::slotted(ids-list-box-option) {
    min-height: $border-input-field-height-sm;
    line-height: $border-input-field-height-sm;
  }
}

:host([field-height='md']) {
  ::slotted(ids-list-box-option) {
    min-height: $border-input-field-height-md;
    line-height: $border-input-field-height-md;
  }
}

:host([field-height='lg']) {
  ::slotted(ids-list-box-option) {
    min-height: $border-input-field-height-lg;
    line-height: $border-input-field-height-lg;
  }
}
