/* Ids Dropdown List Component */
// These input field sizes come from the design tokens and are adjusted
// here to account for 1px border size on top/bottom or left/right in some calculations.
$border-input-size-xs: calc(var(--ids-input-width-10) - 2px);
$border-input-size-sm: calc(var(--ids-input-width-20) - 2px);
$border-input-size-md: calc(var(--ids-input-width-40) - 2px);
$border-input-size-mm: calc(var(--ids-input-width-30) - 2px);
$border-input-size-lg: calc(var(--ids-input-width-50) - 2px);
$border-input-field-height-xs: calc(var(--ids-input-height-10) - 2px);
$border-input-field-height-sm: calc(var(--ids-input-height-20) - 2px);
$border-input-field-height-md: calc(var(--ids-input-height-30) - 2px);
$border-input-field-height-lg: calc(var(--ids-input-height-40) - 2px);

:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: var(--ids-input-width-40);
  scroll-behavior: smooth;
  min-width: $border-input-size-xs;
  max-width: $border-input-size-md;
  width: var(--ids-input-width-full);
}

// Width Sizes
:host([size='xs']) {
  &,
  ::slotted(ids-list-box-option) {
    max-width: $border-input-size-xs;
  }
}

:host([size='sm']) {
  &,
  ::slotted(ids-list-box-option) {
    max-width: $border-input-size-sm;
  }
}

:host([size='md']) {
  &,
  ::slotted(ids-list-box-option) {
    max-width: $border-input-size-md;
  }
}

:host([size='mm']) {
  &,
  ::slotted(ids-list-box-option) {
    max-width: $border-input-size-mm;
  }
}

:host([size='lg']) {
  &,
  ::slotted(ids-list-box-option) {
    max-width: $border-input-size-lg;
  }
}

:host([size='full']) {
  &,
  ::slotted(ids-list-box-option) {
    max-width: var(--ids-input-width-full);
  }
}

// Height Sizes
:host([compact]),
:host([field-height='xs']) {
  ::slotted(ids-list-box-option) {
    font-size: var(--ids-dropdown-font-size);
    min-height: $border-input-field-height-xs;
    line-height: $border-input-field-height-xs;
  }
}

:host([field-height='sm']) {
  ::slotted(ids-list-box-option) {
    min-height: $border-input-field-height-sm;
    line-height: $border-input-field-height-sm;
  }
}

:host([field-height='md']) {
  ::slotted(ids-list-box-option) {
    min-height: $border-input-field-height-md;
    line-height: $border-input-field-height-md;
  }
}

:host([field-height='lg']) {
  ::slotted(ids-list-box-option) {
    min-height: $border-input-field-height-lg;
    line-height: $border-input-field-height-lg;
  }
}

:host([uppercase]) ::slotted(ids-list-box-option) {
  text-transform: uppercase;
}

:host(.module-nav) {
  max-height: none;
}
