/* Ids List Box Component */
:host {
  color: var(--ids-dropdown-color-text-default);
  cursor: var(--ids-cursor-pointer);
  display: block;
  font-family: var(--ids-font-family-default);
  font-size: 16px;
  line-height: 36px;
  outline: none;
  min-height: 32px;
  padding: 0;
  text-indent: 8px;
  user-select: none;
  min-width: calc(var(--ids-input-width-10) - 2px);
  max-width: 298px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

:host(.multiselect-option) {
  display: flex;

  ::slotted(ids-icon) {
    margin: 0;
    margin-inline-start: var(--ids-dropdown-space-text);
  }
}

:host(.is-selected:not(.multiselect-option)) {
  background-color: var(--ids-dropdown-color-background-selected);
  color: var(--ids-dropdown-color-text-selected);
}

:host(:hover:not(.is-selected):not([group-label]):not(.multiselect-option)),
:host(.is-focused),
:host(.multiselect-option:focus),
:host(.multiselect-option.is-selected),
:host(.multiselect-option:hover) {
  background-color: var(--ids-dropdown-color-background-hover);
}

// Style Icons when in the list
::slotted(ids-icon) {
  vertical-align: middle;
  margin: 0 var(--ids-dropdown-space-text) 2px 0;
}

::slotted(ids-icon[dir='rtl']) {
  margin: 0 0 2px var(--ids-dropdown-space-text);
}

::slotted(ids-check-box) {
  line-height: normal;
}

::slotted(.highlight) {
  font-weight: var(--ids-font-weight-bold);
}

// Group labels
:host([group-label]) {
  cursor: var(--ids-cursor-default);
  color: var(--ids-dropdown-group-color-text);
  font-weight: var(--ids-font-weight-semibold);
}

:host([group-label]:not(:first-child)),
:host(.multiselect-border) {
  border-top: 1px solid var(--ids-dropdown-group-color-border);
  margin-top: var(--ids-dropdown-group-padding);
}

:host(.module-nav) {
  color: var(--ids-module-nav-settings-menu-item-text-color);
  min-height: var(--ids-module-nav-item-height);
}

:host(.module-nav) ::slotted(ids-icon) {
  margin-inline-end: 20px;
  margin-block-end: 1px;
}

:host(.module-nav.is-selected) {
  background-color: var(--ids-module-nav-item-hover-bg-color);
  color: var(--ids-module-nav-item-hover-text-color);
}
