/* Ids Counts Component */
@use '../../themes/mixins/ids-core-mixins' as core;

.ids-counts {
  @include core.antialiased();

  color: var(--ids-counts-text-color);
  contain: content;
  font-family: var(--ids-font-family);
  text-align: center;

  &::part(link) {
    width: 100%;
  }

  &[href] {
    color: var(--ids-counts-hyperlink-text-color);
  }

  &[color] {
    color: unset;
  }
}

.ids-counts div[count-value] {
  font-size: var(--ids-counts-value-font-size);
}

.ids-counts div[count-text] {
  font-size: var(--ids-counts-count-font-size);
}

a:focus {
  border: 1px solid var(--ids-focus-ring-border-color);
  box-shadow: var(--ids-shadow-lg);
  outline: none;
}
