/* Ids Counts Component */
@use '../../themes/mixins/ids-core-mixins' as core;

.ids-counts {
  @include core.antialiased();

  color: var(--ids-counts-color-text);
  contain: content;
  font-family: var(--ids-font-family-default);
  text-align: center;

  &::part(link) {
    width: 100%;
  }

  &[href] {
    color: var(--ids-counts-links-color-text);
  }

  &[color] {
    color: unset;
  }
}

.ids-counts div[count-value] {
  font-size: var(--ids-counts-label-font-size);
}

.ids-counts div[count-text] {
  font-size: var(--ids-counts-value-font-size);
}

a:focus {
  border: 1px solid var(--ids-color-border-focus);
  box-shadow: var(--ids-shadow-30);
  outline: none;
}
