<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container padding="8" role="main" hidden>
    <ids-theme-switcher></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding-x="sm">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Palette Colors</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="7" gap="md" padding="sm">
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Ruby</ids-text>
        <ids-color size="full" color="--ids-color-ruby-10" clickable="false" label="--ids-color-ruby-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-20" clickable="false" label="--ids-color-ruby-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-30" clickable="false" label="--ids-color-ruby-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-40" clickable="false" label="--ids-color-ruby-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-50" clickable="false" label="--ids-color-ruby-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-60" clickable="false" label="--ids-color-ruby-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-70" clickable="false" label="--ids-color-ruby-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-80" clickable="false" label="--ids-color-ruby-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-90" clickable="false" label="--ids-color-ruby-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-ruby-100" clickable="false" label="--ids-color-ruby-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Amber</ids-text>
        <ids-color size="full" color="--ids-color-amber-10" clickable="false" label="--ids-color-amber-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-20" clickable="false" label="--ids-color-amber-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-30" clickable="false" label="--ids-color-amber-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-40" clickable="false" label="--ids-color-amber-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-50" clickable="false" label="--ids-color-amber-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-60" clickable="false" label="--ids-color-amber-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-70" clickable="false" label="--ids-color-amber-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-80" clickable="false" label="--ids-color-amber-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-90" clickable="false" label="--ids-color-amber-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amber-100" clickable="false" label="--ids-color-amber-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Emerald</ids-text>
        <ids-color size="full" color="--ids-color-emerald-10" clickable="false" label="--ids-color-emerald-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-20" clickable="false" label="--ids-color-emerald-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-30" clickable="false" label="--ids-color-emerald-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-40" clickable="false" label="--ids-color-emerald-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-50" clickable="false" label="--ids-color-emerald-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-60" clickable="false" label="--ids-color-emerald-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-70" clickable="false" label="--ids-color-emerald-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-80" clickable="false" label="--ids-color-emerald-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-90" clickable="false" label="--ids-color-emerald-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-emerald-100" clickable="false" label="--ids-color-emerald-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Azure</ids-text>
        <ids-color size="full" color="--ids-color-azure-10" clickable="false" label="--ids-color-azure-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-20" clickable="false" label="--ids-color-azure-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-30" clickable="false" label="--ids-color-azure-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-40" clickable="false" label="--ids-color-azure-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-50" clickable="false" label="--ids-color-azure-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-60" clickable="false" label="--ids-color-azure-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-70" clickable="false" label="--ids-color-azure-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-80" clickable="false" label="--ids-color-azure-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-90" clickable="false" label="--ids-color-azure-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-azure-100" clickable="false" label="--ids-color-azure-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Turquoise</ids-text>
        <ids-color size="full" color="--ids-color-turquoise-10" clickable="false" label="--ids-color-turquoise-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-20" clickable="false" label="--ids-color-turquoise-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-30" clickable="false" label="--ids-color-turquoise-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-40" clickable="false" label="--ids-color-turquoise-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-50" clickable="false" label="--ids-color-turquoise-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-60" clickable="false" label="--ids-color-turquoise-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-70" clickable="false" label="--ids-color-turquoise-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-80" clickable="false" label="--ids-color-turquoise-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-90" clickable="false" label="--ids-color-turquoise-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-turquoise-100" clickable="false" label="--ids-color-turquoise-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Amethyst</ids-text>
        <ids-color size="full" color="--ids-color-amethyst-10" clickable="false" label="--ids-color-amethyst-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-20" clickable="false" label="--ids-color-amethyst-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-30" clickable="false" label="--ids-color-amethyst-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-40" clickable="false" label="--ids-color-amethyst-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-50" clickable="false" label="--ids-color-amethyst-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-60" clickable="false" label="--ids-color-amethyst-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-70" clickable="false" label="--ids-color-amethyst-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-80" clickable="false" label="--ids-color-amethyst-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-90" clickable="false" label="--ids-color-amethyst-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-amethyst-100" clickable="false" label="--ids-color-amethyst-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Neutral / Slate</ids-text>
        <ids-color size="full" color="--ids-color-neutral-10" clickable="false" label="--ids-color-neutral-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-20" clickable="false" label="--ids-color-neutral-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-30" clickable="false" label="--ids-color-neutral-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-40" clickable="false" label="--ids-color-neutral-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-50" clickable="false" label="--ids-color-neutral-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-60" clickable="false" label="--ids-color-neutral-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-70" clickable="false" label="--ids-color-neutral-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-80" clickable="false" label="--ids-color-neutral-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-90" clickable="false" label="--ids-color-neutral-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-neutral-100" clickable="false" label="--ids-color-neutral-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="sm">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Status Colors</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="5" gap="md" padding="sm">
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Error (Status 01)</ids-text>
        <ids-color size="full" color="--ids-color-error" clickable="false" label="--ids-color-error-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Warning (Status 02)</ids-text>
        <ids-color size="full" color="--ids-color-warning" clickable="false" label="--ids-color-warning-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Caution (Status 03)</ids-text>
        <ids-color size="full" color="--ids-color-caution" clickable="false" label="--ids-color-caution-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Success (Status 04)</ids-text>
        <ids-color size="full" color="--ids-color-success" clickable="false" label="--ids-color-success-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Info (Status 05)</ids-text>
        <ids-color size="full" color="--ids-color-info" clickable="false" label="--ids-color-info-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
