<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container padding="8" role="main" hidden>
    <ids-theme-switcher></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding-x="sm">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Palette Colors</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="8" gap="md" padding="sm">
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Red</ids-text>
        <ids-color size="full" color="--ids-color-red-10" clickable="false" label="--ids-color-red-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-20" clickable="false" label="--ids-color-red-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-30" clickable="false" label="--ids-color-red-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-40" clickable="false" label="--ids-color-red-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-50" clickable="false" label="--ids-color-red-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-60" clickable="false" label="--ids-color-red-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-70" clickable="false" label="--ids-color-red-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-80" clickable="false" label="--ids-color-red-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-90" clickable="false" label="--ids-color-red-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-red-100" clickable="false" label="--ids-color-red-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Orange</ids-text>
        <ids-color size="full" color="--ids-color-orange-10" clickable="false" label="--ids-color-orange-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-20" clickable="false" label="--ids-color-orange-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-30" clickable="false" label="--ids-color-orange-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-40" clickable="false" label="--ids-color-orange-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-50" clickable="false" label="--ids-color-orange-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-60" clickable="false" label="--ids-color-orange-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-70" clickable="false" label="--ids-color-orange-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-80" clickable="false" label="--ids-color-orange-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-90" clickable="false" label="--ids-color-orange-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-orange-100" clickable="false" label="--ids-color-orange-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Yellow</ids-text>
        <ids-color size="full" color="--ids-color-yellow-10" clickable="false" label="--ids-color-yellow-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-20" clickable="false" label="--ids-color-yellow-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-30" clickable="false" label="--ids-color-yellow-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-40" clickable="false" label="--ids-color-yellow-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-50" clickable="false" label="--ids-color-yellow-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-60" clickable="false" label="--ids-color-yellow-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-70" clickable="false" label="--ids-color-yellow-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-80" clickable="false" label="--ids-color-yellow-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-90" clickable="false" label="--ids-color-yellow-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-yellow-100" clickable="false" label="--ids-color-yellow-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Green</ids-text>
        <ids-color size="full" color="--ids-color-green-10" clickable="false" label="--ids-color-green-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-20" clickable="false" label="--ids-color-green-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-30" clickable="false" label="--ids-color-green-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-40" clickable="false" label="--ids-color-green-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-50" clickable="false" label="--ids-color-green-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-60" clickable="false" label="--ids-color-green-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-70" clickable="false" label="--ids-color-green-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-80" clickable="false" label="--ids-color-green-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-90" clickable="false" label="--ids-color-green-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-green-100" clickable="false" label="--ids-color-green-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Blue</ids-text>
        <ids-color size="full" color="--ids-color-blue-10" clickable="false" label="--ids-color-blue-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-20" clickable="false" label="--ids-color-blue-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-30" clickable="false" label="--ids-color-blue-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-40" clickable="false" label="--ids-color-blue-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-50" clickable="false" label="--ids-color-blue-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-60" clickable="false" label="--ids-color-blue-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-70" clickable="false" label="--ids-color-blue-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-80" clickable="false" label="--ids-color-blue-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-90" clickable="false" label="--ids-color-blue-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-blue-100" clickable="false" label="--ids-color-blue-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Teal</ids-text>
        <ids-color size="full" color="--ids-color-teal-10" clickable="false" label="--ids-color-teal-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-20" clickable="false" label="--ids-color-teal-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-30" clickable="false" label="--ids-color-teal-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-40" clickable="false" label="--ids-color-teal-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-50" clickable="false" label="--ids-color-teal-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-60" clickable="false" label="--ids-color-teal-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-70" clickable="false" label="--ids-color-teal-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-80" clickable="false" label="--ids-color-teal-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-90" clickable="false" label="--ids-color-teal-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-teal-100" clickable="false" label="--ids-color-teal-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Purple</ids-text>
        <ids-color size="full" color="--ids-color-purple-10" clickable="false" label="--ids-color-purple-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-20" clickable="false" label="--ids-color-purple-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-30" clickable="false" label="--ids-color-purple-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-40" clickable="false" label="--ids-color-purple-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-50" clickable="false" label="--ids-color-purple-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-60" clickable="false" label="--ids-color-purple-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-70" clickable="false" label="--ids-color-purple-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-80" clickable="false" label="--ids-color-purple-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-90" clickable="false" label="--ids-color-purple-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-purple-100" clickable="false" label="--ids-color-purple-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Gray (Neutral)</ids-text>
        <ids-color size="full" color="--ids-color-gray-10" clickable="false" label="--ids-color-gray-10" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-20" clickable="false" label="--ids-color-gray-20" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-30" clickable="false" label="--ids-color-gray-30" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-40" clickable="false" label="--ids-color-gray-40" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-50" clickable="false" label="--ids-color-gray-50" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-60" clickable="false" label="--ids-color-gray-60" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-70" clickable="false" label="--ids-color-gray-70" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-80" clickable="false" label="--ids-color-gray-80" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-90" clickable="false" label="--ids-color-gray-90" show-label="true"></ids-color>
        <ids-color size="full" color="--ids-color-gray-100" clickable="false" label="--ids-color-gray-100" show-label="true"></ids-color>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="sm">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Status Colors</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="5" gap="md" padding="sm">
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Error (Status 01)</ids-text>
        <ids-color size="full" color="--ids-color-error" clickable="false" label="--ids-color-error-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Warning (Status 02)</ids-text>
        <ids-color size="full" color="--ids-color-warning" clickable="false" label="--ids-color-warning-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Caution (Status 03)</ids-text>
        <ids-color size="full" color="--ids-color-caution" clickable="false" label="--ids-color-caution-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Success (Status 04)</ids-text>
        <ids-color size="full" color="--ids-color-success" clickable="false" label="--ids-color-success-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-text font-size="14" type="span" align="center">Info (Status 05)</ids-text>
        <ids-color size="full" color="--ids-color-info" clickable="false" label="--ids-color-info-default" show-label="true"></ids-color>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
