@import '../../node_modules/ids-identity/dist/theme-uplift/tokens/web/theme-uplift-mixins.scss';

$target-size: 50px;

html,
body,
div[role='main'] {
  border: 0;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

div[role='main'] {
  position: relative;
}

.align-target {
  @include font-bold();
  @include text-white();
  @include text-40();

  height: $target-size;
  position: absolute;
  text-align: center;
  width: $target-size;
}

#renderloop-countdown {
  display: inline-block;
  min-width: 150px;
}

#target-1 {
  @include bg-ruby-80();

  left: 33%;
  top: 100px;
}

#target-2 {
  @include bg-amber-80();

  right: 33%;
  top: 100px;
}

#target-3 {
  @include bg-emerald-80();

  right: 100px;
  top: 50%;
}

#target-4 {
  @include bg-turquoise-80();

  bottom: 100px;
  right: 33%;
}

#target-5 {
  @include bg-azure-80();

  bottom: 100px;
  left: 33%;
}

#target-6 {
  @include bg-amethyst-80();

  left: 100px;
  top: 50%;
}
