/* styleline-disable */
:root {
  // Border radii
  --ids-border-radius-12: 12px;
  --ids-border-radius-16: 16px;
  --ids-border-radius-20: 20px;
  --ids-border-radius-24: 24px;
  --ids-border-radius-32: 32px;
  --ids-border-radius-40: 40px;
  --ids-border-radius-48: 48px;
  --ids-border-radius-99: 99px;
  --ids-border-radius-08: 8px;
  --ids-border-radius-04: 4px;
  --ids-border-radius-02: 2px;
  --ids-border-radius-01: 1px;
  --ids-border-radius-00: 0px;
  // Spacing
  --ids-space-12: 12px;
  --ids-space-16: 16px;
  --ids-space-20: 20px;
  --ids-space-24: 24px;
  --ids-space-32: 32px;
  --ids-space-40: 40px;
  --ids-space-48: 48px;
  --ids-space-56: 56px;
  --ids-space-72: 72px;
  --ids-space-104: 104px;
  --ids-space-112: 112px;
  --ids-space-08: 8px;
  --ids-space-04: 4px;
  --ids-space-02: 2px;
  --ids-space-01: 1px;
  --ids-space-00: 0px;
  // Colors
  --ids-color-yellow-10: #fde7df;
  --ids-color-yellow-20: #f3daa1;
  --ids-color-yellow-30: #e5c366;
  --ids-color-yellow-40: #f4d151;
  --ids-color-yellow-50: #f6cf2b;
  --ids-color-yellow-60: #ffd100;
  --ids-color-yellow-70: #bb9c21;
  --ids-color-yellow-80: #8d6f00;
  --ids-color-yellow-90: #614900;
  --ids-color-yellow-100: #4b3700;
  --ids-color-teal-10: #ecf8f8;
  --ids-color-teal-20: #cfeeee;
  --ids-color-teal-30: #a8e1e1;
  --ids-color-teal-40: #82d4d4;
  --ids-color-teal-50: #5cc6c7;
  --ids-color-teal-60: #40bdbe;
  --ids-color-teal-70: #39a9aa;
  --ids-color-teal-80: #2f8d8e;
  --ids-color-teal-90: #297b7b;
  --ids-color-teal-100: #1f5e5e;
  --ids-color-purple-10: #f1ebfc;
  --ids-color-purple-20: #ddcbf7;
  --ids-color-purple-30: #c2a1f1;
  --ids-color-purple-40: #a876eb;
  --ids-color-purple-50: #8d4be5;
  --ids-color-purple-60: #7928e1;
  --ids-color-purple-70: #6c23c9;
  --ids-color-purple-80: #591da8;
  --ids-color-purple-90: #4e1a91;
  --ids-color-purple-100: #3b1470;
  --ids-color-orange-10: #fef2e5;
  --ids-color-orange-20: #fddfbd;
  --ids-color-orange-30: #fcc888;
  --ids-color-orange-40: #fbaf50;
  --ids-color-orange-50: #fa9601;
  --ids-color-orange-60: #f98300;
  --ids-color-orange-70: #df6f00;
  --ids-color-orange-80: #cd6200;
  --ids-color-orange-90: #bb5500;
  --ids-color-orange-100: #a14100;
  --ids-color-green-10: #ebf9f1;
  --ids-color-green-20: #cbefdc;
  --ids-color-green-30: #a1e4bf;
  --ids-color-green-40: #78d8a3;
  --ids-color-green-50: #4dcc86;
  --ids-color-green-60: #2ac371;
  --ids-color-green-70: #25af65;
  --ids-color-green-80: #1f9254;
  --ids-color-green-90: #1c7f49;
  --ids-color-green-100: #156138;
  --ids-color-red-10: #fbe7e8;
  --ids-color-red-20: #f5c3c4;
  --ids-color-red-30: #ee9496;
  --ids-color-red-40: #e66467;
  --ids-color-red-50: #df3539;
  --ids-color-red-60: #da1217;
  --ids-color-red-70: #c31014;
  --ids-color-red-80: #a30d11;
  --ids-color-red-90: #8d0b0e;
  --ids-color-red-100: #6c080b;
  --ids-color-blue-10: #e6f1fd;
  --ids-color-blue-20: #bedcfa;
  --ids-color-blue-30: #8abff7;
  --ids-color-blue-40: #55a3f3;
  --ids-color-blue-50: #1c86ef;
  --ids-color-blue-60: #0072ed;
  --ids-color-blue-70: #0066d4;
  --ids-color-blue-80: #0054b1;
  --ids-color-blue-90: #004a99;
  --ids-color-blue-100: #003876;
  --ids-color-gray-10: #f5f5f5;
  --ids-color-gray-20: #e0e0e1;
  --ids-color-gray-30: #c5c5c9;
  --ids-color-gray-40: #bbbbbf;
  --ids-color-gray-50: #8e8e95;
  --ids-color-gray-60: #6f6f76;
  --ids-color-gray-70: #525257;
  --ids-color-gray-80: #3b3b3f;
  --ids-color-gray-90: #28282a;
  --ids-color-gray-100: #161618;
  --ids-color-black-10: rgba(0, 0, 0, 0.1);
  --ids-color-black-20: rgba(0, 0, 0, 0.2);
  --ids-color-black-30: rgba(0, 0, 0, 0.3);
  --ids-color-black-40: rgba(0, 0, 0, 0.4);
  --ids-color-black-50: rgba(0, 0, 0, 0.5);
  --ids-color-black-60: rgba(0, 0, 0, 0.6);
  --ids-color-black-70: rgba(0, 0, 0, 0.7);
  --ids-color-black-80: rgba(0, 0, 0, 0.8);
  --ids-color-black-90: rgba(0, 0, 0, 0.9);
  --ids-color-black-100: #000000;
  --ids-color-white-10: rgba(255, 255, 255, 0.1);
  --ids-color-white-20: rgba(255, 255, 255, 0.2);
  --ids-color-white-30: rgba(255, 255, 255, 0.3);
  --ids-color-white-40: rgba(255, 255, 255, 0.4);
  --ids-color-white-50: rgba(255, 255, 255, 0.5);
  --ids-color-white-60: rgba(255, 255, 255, 0.6);
  --ids-color-white-70: rgba(255, 255, 255, 0.7);
  --ids-color-white-80: rgba(255, 255, 255, 0.8);
  --ids-color-white-90: rgba(255, 255, 255, 0.9);
  --ids-color-white-100: #ffffff;
}
