/* stylelint-disable */
:root { 
  // Surface colors
  --ids-color-background-dark: var(--ids-color-gray-80);
  --ids-color-background-elevated: var(--ids-color-gray-90);
  --ids-color-background-default: var(--ids-color-gray-100);
  --ids-color-foreground-dark-default: var(--ids-color-black-100);
  --ids-color-foreground-light-disabled: var(--ids-color-white-40);
  --ids-color-foreground-light-tertiary: var(--ids-color-white-60);
  --ids-color-foreground-light-secondary: var(--ids-color-white-80);
  --ids-color-foreground-light-default: var(--ids-color-white-100);
  --ids-color-foreground-default-disabled: var(--ids-color-white-40);
  --ids-color-foreground-default-tertiary: var(--ids-color-white-60);
  --ids-color-foreground-default-secondary: var(--ids-color-white-80);
  --ids-color-foreground-default-default: var(--ids-color-white-100);
  --ids-color-border-strong: var(--ids-color-white-100);
  --ids-color-border-default: var(--ids-color-gray-40);
  --ids-color-border-weak: var(--ids-color-gray-60);
  --ids-color-border-weaker: var(--ids-color-gray-80);
  --ids-color-border-light: var(--ids-color-white-100);
  --ids-color-action-stronger: var(--ids-color-blue-40);
  --ids-color-action-default: var(--ids-color-blue-50);
  --ids-color-action-weaker: var(--ids-color-blue-90);
  --ids-color-action-weakest: var(--ids-color-blue-100);
  --ids-color-success-stronger: var(--ids-color-green-10);
  --ids-color-success-strong: var(--ids-color-green-40);
  --ids-color-success-default: var(--ids-color-green-50);
  --ids-color-success-weak: var(--ids-color-green-100);
  --ids-color-caution-stronger: var(--ids-color-yellow-10);
  --ids-color-caution-strong: var(--ids-color-yellow-40);
  --ids-color-caution-default: var(--ids-color-yellow-50);
  --ids-color-caution-weak: var(--ids-color-yellow-100);
  --ids-color-warning-stronger: var(--ids-color-orange-10);
  --ids-color-warning-strong: var(--ids-color-orange-40);
  --ids-color-warning-default: var(--ids-color-orange-50);
  --ids-color-warning-weak: var(--ids-color-orange-100);
  --ids-color-error-strongest: var(--ids-color-red-10);
  --ids-color-error-stronger: var(--ids-color-red-40);
  --ids-color-error-default: var(--ids-color-red-50);
  --ids-color-error-weak: var(--ids-color-red-100);
  --ids-color-info-stronger: var(--ids-color-blue-10);
  --ids-color-info-strong: var(--ids-color-blue-40);
  --ids-color-info-default: var(--ids-color-blue-50);
  --ids-color-info-weak: var(--ids-color-blue-100);
  --ids-color-action-stronger: var(--ids-color-blue-40);
  --ids-color-action-default: var(--ids-color-blue-50);
  --ids-color-action-weaker: var(--ids-color-blue-90);
  --ids-color-action-weakest: var(--ids-color-blue-100);
  --ids-color-theme-strongest: var(--ids-color-theme-10);
  --ids-color-theme-stronger: var(--ids-color-theme-30);
  --ids-color-theme-strong: var(--ids-color-theme-50);
  --ids-color-theme-weaker: var(--ids-color-theme-40);
  --ids-color-theme-weakest: var(--ids-color-theme-10);
  // Accent colors
  --ids-color-accent-blue-strongest: var(--ids-color-blue-10);
  --ids-color-accent-blue-stronger: var(--ids-color-blue-30);
  --ids-color-accent-blue-strong: var(--ids-color-blue-50);
  --ids-color-accent-blue-weak: var(--ids-color-blue-70);
  --ids-color-accent-blue-weaker: var(--ids-color-blue-90);
  --ids-color-accent-blue-weakest: var(--ids-color-blue-100);
  --ids-color-accent-green-strongest: var(--ids-color-green-10);
  --ids-color-accent-green-stronger: var(--ids-color-green-30);
  --ids-color-accent-green-strong: var(--ids-color-green-50);
  --ids-color-accent-green-weak: var(--ids-color-green-70);
  --ids-color-accent-green-weaker: var(--ids-color-green-90);
  --ids-color-accent-green-weakest: var(--ids-color-green-100);
  --ids-color-accent-gray-strongest: var(--ids-color-gray-10);
  --ids-color-accent-gray-stronger: var(--ids-color-gray-20);
  --ids-color-accent-gray-strong: var(--ids-color-gray-40);
  --ids-color-accent-gray-default: var(--ids-color-gray-50);
  --ids-color-accent-gray-weak: var(--ids-color-gray-60);
  --ids-color-accent-gray-weaker: var(--ids-color-gray-80);
  --ids-color-accent-gray-weakest: var(--ids-color-gray-90);
  --ids-color-accent-orange-strongest: var(--ids-color-orange-10);
  --ids-color-accent-orange-stronger: var(--ids-color-orange-30);
  --ids-color-accent-orange-strong: var(--ids-color-orange-50);
  --ids-color-accent-orange-weak: var(--ids-color-orange-70);
  --ids-color-accent-orange-weaker: var(--ids-color-orange-90);
  --ids-color-accent-orange-weakest: var(--ids-color-orange-100);
  --ids-color-accent-purple-strongest: var(--ids-color-purple-10);
  --ids-color-accent-purple-stronger: var(--ids-color-purple-30);
  --ids-color-accent-purple-strong: var(--ids-color-purple-60);
  --ids-color-accent-purple-weak: var(--ids-color-purple-70);
  --ids-color-accent-purple-weaker: var(--ids-color-purple-90);
  --ids-color-accent-purple-weakest: var(--ids-color-purple-100);
  --ids-color-accent-red-strongest: var(--ids-color-red-10);
  --ids-color-accent-red-stronger: var(--ids-color-red-30);
  --ids-color-accent-red-strong: var(--ids-color-red-60);
  --ids-color-accent-red-weak: var(--ids-color-red-70);
  --ids-color-accent-red-weaker: var(--ids-color-red-90);
  --ids-color-accent-red-weakest: var(--ids-color-red-100);
  --ids-color-accent-teal-strongest: var(--ids-color-teal-10);
  --ids-color-accent-teal-stronger: var(--ids-color-teal-30);
  --ids-color-accent-teal-strong: var(--ids-color-teal-40);
  --ids-color-accent-teal-weak: var(--ids-color-teal-70);
  --ids-color-accent-teal-weaker: var(--ids-color-teal-90);
  --ids-color-accent-teal-weakest: var(--ids-color-teal-100);
  --ids-color-accent-yellow-strongest: var(--ids-color-yellow-10);
  --ids-color-accent-yellow-stronger: var(--ids-color-yellow-30);
  --ids-color-accent-yellow-strong: var(--ids-color-yellow-50);
  --ids-color-accent-yellow-weak: var(--ids-color-yellow-70);
  --ids-color-accent-yellow-weaker: var(--ids-color-yellow-90);
  --ids-color-accent-yellow-weakest: var(--ids-color-yellow-100);
  // Chart Colors
  --ids-data-viz-color-binary-02: var(--ids-color-teal-70);
  --ids-data-viz-color-binary-01: var(--ids-color-blue-30);
  --ids-data-viz-color-sequential-10: var(--ids-color-gray-90);
  --ids-data-viz-color-sequential-11: var(--ids-color-teal-50);
  --ids-data-viz-color-sequential-12: var(--ids-color-orange-20);
  --ids-data-viz-color-sequential-13: var(--ids-color-purple-80);
  --ids-data-viz-color-sequential-14: var(--ids-color-blue-50);
  --ids-data-viz-color-sequential-15: var(--ids-color-red-80);
  --ids-data-viz-color-sequential-16: var(--ids-color-purple-30);
  --ids-data-viz-color-sequential-17: var(--ids-color-green-80);
  --ids-data-viz-color-sequential-18: var(--ids-color-teal-30);
  --ids-data-viz-color-sequential-19: var(--ids-color-gray-50);
  --ids-data-viz-color-sequential-20: var(--ids-color-red-70);
  --ids-data-viz-color-sequential-09: var(--ids-color-red-30);
  --ids-data-viz-color-sequential-08: var(--ids-color-blue-80);
  --ids-data-viz-color-sequential-07: var(--ids-color-green-30);
  --ids-data-viz-color-sequential-06: var(--ids-color-orange-40);
  --ids-data-viz-color-sequential-05: var(--ids-color-orange-80);
  --ids-data-viz-color-sequential-04: var(--ids-color-gray-70);
  --ids-data-viz-color-sequential-03: var(--ids-color-purple-50);
  --ids-data-viz-color-sequential-02: var(--ids-color-teal-70);
  --ids-data-viz-color-sequential-01: var(--ids-color-blue-30);
  --ids-data-viz-color-density-10: var(--ids-color-blue-100);
  --ids-data-viz-color-density-20: var(--ids-color-blue-90);
  --ids-data-viz-color-density-30: var(--ids-color-blue-80);
  --ids-data-viz-color-density-40: var(--ids-color-blue-70);
  --ids-data-viz-color-density-50: var(--ids-color-blue-60);
  --ids-data-viz-color-density-60: var(--ids-color-blue-50);
  --ids-data-viz-color-density-70: var(--ids-color-blue-40);
  --ids-data-viz-color-density-80: var(--ids-color-blue-30);
  --ids-data-viz-color-density-90: var(--ids-color-blue-20);
  --ids-data-viz-color-density-100: var(--ids-color-blue-10);
  --ids-data-viz-color-qualitative-10: var(--ids-color-gray-50);
  --ids-data-viz-color-qualitative-11: var(--ids-color-gray-60);
  --ids-data-viz-color-qualitative-12: var(--ids-color-gray-90);
  --ids-data-viz-color-qualitative-13: var(--ids-color-teal-30);
  --ids-data-viz-color-qualitative-14: var(--ids-color-teal-60);
  --ids-data-viz-color-qualitative-15: var(--ids-color-teal-80);
  --ids-data-viz-color-qualitative-09: var(--ids-color-purple-80);
  --ids-data-viz-color-qualitative-08: var(--ids-color-purple-60);
  --ids-data-viz-color-qualitative-07: var(--ids-color-purple-40);
  --ids-data-viz-color-qualitative-06: var(--ids-color-green-80);
  --ids-data-viz-color-qualitative-05: var(--ids-color-green-60);
  --ids-data-viz-color-qualitative-04: var(--ids-color-green-30);
  --ids-data-viz-color-qualitative-03: var(--ids-color-blue-80);
  --ids-data-viz-color-qualitative-02: var(--ids-color-blue-60);
  --ids-data-viz-color-qualitative-01: var(--ids-color-blue-30);
  --ids-data-viz-color-status-neutral: var(--ids-color-gray-90);
  --ids-data-viz-color-status-negative: var(--ids-color-red-50);
  --ids-data-viz-color-status-positive: var(--ids-color-green-40);
  // Radii 
  --ids-border-radius-circle: var(--ids-border-radius-99);
  --ids-border-radius-xl: var(--ids-border-radius-40);
  --ids-border-radius-lg: var(--ids-border-radius-24);
  --ids-border-radius-md: var(--ids-border-radius-16);
  --ids-border-radius-sm: var(--ids-border-radius-08);
  --ids-border-radius-xs: var(--ids-border-radius-04);
  --ids-border-radius-xxs: var(--ids-border-radius-02);
  --ids-border-radius-none: var(--ids-border-radius-00);
  // Space 
  --ids-space-xxxxl: var(--ids-space-72);
  --ids-space-xxxl: var(--ids-space-56);
  --ids-space-xxl: var(--ids-space-48);
  --ids-space-xl: var(--ids-space-40);
  --ids-space-lg: var(--ids-space-32);
  --ids-space-md: var(--ids-space-24);
  --ids-space-sm: var(--ids-space-16);
  --ids-space-xs: var(--ids-space-08);
  --ids-space-xxs: var(--ids-space-04);
  --ids-space-xxxs: var(--ids-space-02);
  --ids-space-xxxxs: var(--ids-space-01);
  --ids-space-none: var(--ids-space-00);
} 
