:root {
  // Theme colors
  --ids-color-theme-10: var(--ids-color-blue-10);
  --ids-color-theme-20: var(--ids-color-blue-20);
  --ids-color-theme-30: var(--ids-color-blue-30);
  --ids-color-theme-40: var(--ids-color-blue-40);
  --ids-color-theme-50: var(--ids-color-blue-50);
  --ids-color-theme-60: var(--ids-color-blue-60);
  --ids-color-theme-70: var(--ids-color-blue-70);
  --ids-color-theme-80: var(--ids-color-blue-80);
  --ids-color-theme-90: var(--ids-color-blue-90);
  --ids-color-theme-100: var(--ids-color-blue-100);
}
