@import './ids-toolbar-common';

:host {
  @include block();
  @include w-full();
  @include box-border();
  @include ids-toolbar-section-host-size-styles();

  &[disabled] {
    ::slotted(.ids-text) {
      color: text-slate-30();
    }
  }
}

:host(.secondary) {
  border-top: 1px solid var(--ids-color-palette-slate-20);
  border-bottom: 1px solid var(--ids-color-palette-slate-20);
}

:host(.with-padding) {
  padding: 0 16px;
}

.ids-toolbar {
  @include flex();

  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  &.disabled {
    color: text-slate-30();

    .ids-text {
      color: inherit;
    }
  }

  &.type-formatter {
    @include bg-slate-60();

    &[mode='dark'] {
      @include bg-slate-20();
    }

    &[mode='contrast'] {
      @include bg-slate-100();
    }
  }
}
