@import '../../core/ids-base.scss';

:host {
  @include block();

  ::slotted(ids-toolbar-section[type='fluid']),
  ::slotted(ids-toolbar-section[type='title']),
  ::slotted(ids-toolbar-section[type='buttonset']) {
    flex-grow: 1;
  }

  &[disabled] {
    ::slotted(.ids-text) {
      color: text-slate-30();
    }
  }
}

.ids-toolbar {
  @include flex();

  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;

  &.disabled {
    color: text-slate-30();

    .ids-text {
      color: inherit;
    }
  }
}
