@import '../../core/ids-base';

:host {
  @include inline-flex();
}

::slotted(ids-separator) {
  align-self: center;
  justify-self: center;
}

.ids-toolbar-more-actions {
  @include p-4();

  white-space: nowrap;
  width: auto;
}
