/* Ids Toolbar More Actions Component */

:host {
  display: inline-flex;
}

::slotted(ids-separator) {
  align-self: center;
  justify-self: center;
}

.ids-toolbar-more-actions {
  white-space: nowrap;
  width: auto;
}
