/* Ids Toolbar Section Component */
@import './ids-toolbar-common';

:host {
  display: flex;
}

ids-toolbar-section + ids-toolbar-section[type='title'],
ids-toolbar-section + ids-toolbar-section[type='buttonset'] {
  padding-inline-start: 10px;
}

.ids-toolbar-section {
  padding: 4px;
  white-space: nowrap;
  width: auto;

  // ================================================
  // Controls animated hide/show of slotted, overflowed toolbar items

  ::slotted(*) {
    transition: opacity var(--ids-motion-duration) var(--ids-motion-ease);
    opacity: 1;
  }

  ::slotted([overflowed]) {
    opacity: 0;
    pointer-events: none;
  }

  // ================================================
  // Built-in Section Type Styles

  // Buttonsets have top padding (accounts for button focus states)
  &.buttonset {
    display: flex;

    // In buttonset areas, automatically add padding between buttons
    ::slotted(ids-button:not(:first-child)),
    ::slotted(ids-menu-button:not(:first-child)) {
      margin-inline-start: 0;
    }

    ::slotted(ids-separator[vertical]) {
      margin-inline-end: -4px;
    }
  }

  // Title sections are not Flex containers (so we can stack content)
  &.title {
    display: inline-block;
  }

  // Contains rows of buttons
  &.title,
  &.buttonset {
    padding-inline-start: 8px;
    padding-inline-end: 8px;
  }

  // Intended for use by developers that need "custom" sections that stretch to fit.
  // The default functionality is NOT to stretch.
  &.fluid {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  // Contains Searchfields
  &.search {
    padding-inline-start: 12px;
    padding-inline-end: 12px;
  }

  // "Inactive" sections retain their dimensions (width/height) but their contents
  // become invisible and unable to respond to interactions
  &.inactive {
    > * {
      visibility: hidden;
      pointer-events: none;
    }

    ::slotted(*) {
      visibility: hidden;
      pointer-events: none;
    }
  }

  @include ids-toolbar-section-inner-size-styles();
}
