@import './ids-toolbar-common';

:host {
  display: flex;
}

ids-toolbar-section + ids-toolbar-section[type='title'],
ids-toolbar-section + ids-toolbar-section[type='buttonset'] {
  padding-left: 10px;
}

.ids-toolbar-section {
  white-space: nowrap;
  width: auto;

  // ================================================
  // Controls animated hide/show of slotted, overflowed toolbar items

  ::slotted(*) {
    transition: opacity $transition-length $transition-ease;
    opacity: 1;
  }

  ::slotted([overflowed]) {
    opacity: 0;
    pointer-events: none;
  }

  // ================================================
  // Built-in Section Type Styles

  // Buttonsets have top padding (accounts for button focus states)
  &.buttonset {
    @include flex();
    @include py-4();

    // In buttonset areas, automatically add padding between buttons
    ::slotted(ids-button:not(:first-child)),
    ::slotted(ids-menu-button:not(:first-child)) {
      @include pl-4();
    }

    ::slotted(ids-separator[vertical]) {
      margin-inline-end: -4px;
    }
  }

  // Title sections are not Flex containers (so we can stack content)
  &.title {
    display: inline-block;
  }

  // Contains rows of buttons
  &.title,
  &.buttonset {
    @include px-8();
  }

  // Intended for use by developers that need "custom" sections that stretch to fit.
  // The default functionality is NOT to stretch.
  &.fluid {
    @include flex();

    flex-grow: 1;
    align-items: center;
  }

  // Contains Searchfields
  &.search {
    @include px-12();
  }

  // ================================================
  // Toolbar Types & Color Variants

  // Colors for Formatter Toolbar
  &.formatter {
    @include bg-slate-60();

    &[mode='dark'] {
      @include bg-slate-20();
    }

    &[mode='contrast'] {
      @include bg-slate-100();
    }
  }

  @include ids-toolbar-section-inner-size-styles();
}
