@import '../../core/ids-base.scss';

:host {
  @include flex();
}

ids-toolbar-section + ids-toolbar-section[type='title'],
ids-toolbar-section + ids-toolbar-section[type='buttonset'] {
  padding-left: 10px;
}

.ids-toolbar-section {
  white-space: nowrap;
  width: auto;

  // ================================================
  // Alignments
  &.align-start {
    justify-content: flex-start;
  }

  &.align-center {
    justify-content: center;
  }

  &.align-center-even {
    justify-content: space-around;
  }

  &.align-end {
    justify-content: flex-end;
  }

  // ================================================
  // Built-in Section Type Styles

  // Buttonsets have top padding (accounts for button focus states)
  &.buttonset {
    @include flex();
    @include py-4();

    // In buttonset areas, automatically add padding between buttons
    ::slotted(ids-button:not(:first-child)),
    ::slotted(ids-menu-button:not(:first-child)) {
      @include pl-4();
    }
  }

  // Title sections are not Flex containers (so we can stack content)
  &.title {
    display: inline-block;
  }

  // Contains rows of buttons
  &.title,
  &.buttonset {
    @include px-8();

    flex-grow: 1;

    &:not(.favor) {
      overflow-x: hidden;
      overflow-y: auto;
      text-overflow: ellipsis;
    }

    &.static {
      flex-grow: 0;
    }
  }

  // Intended for use by developers that need "custom" sections that stretch to fit.
  // The default functionality is NOT to stretch.
  &.fluid {
    @include flex();

    flex-grow: 1;
  }

  // Contains Searchfields
  &.search {
    @include flex();
    @include px-12();
  }
}
