/* Ids Toolbar Section Component */
@import './ids-toolbar-common';

:host {
  @include ids-toolbar-section-host-size-styles();

  display: block;
  width: 100%;
  box-sizing: border-box;

  &[disabled] {
    ::slotted(.ids-text) {
      color: var(--ids-color-text-disabled);
    }
  }
}

:host([group-action]) {
  border-top: 1px solid var(--ids-card-divider-color-border);
}

:host([group-action]) .ids-toolbar {
  padding: 0 var(--ids-card-toolbar-padding);
  width: calc(100% - (var(--ids-card-toolbar-padding) * 2px));
}

.ids-toolbar {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  &.disabled {
    color: var(--ids-color-text-disabled);

    .ids-text {
      color: inherit;
    }
  }

  &.type-formatter {
    background-color: var(--ids-toolbar-formatter-color-background);
    border-bottom: 1px solid var(--ids-toolbar-formatter-color-border-bottom);

    --ids-separator-color-background: var(--ids-separator-alternate-color-background);
    --ids-separator-margin: var(--ids-separator-alternate-margin);
  }
}
