/* Ids Swipe Container Css */
@use '../../themes/mixins/ids-core-mixins.scss' as mixins;

.ids-swipe-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  margin-left: -1px;
  border-radius: var(--ids-card-border-radius);

  &.continuous {
    scroll-snap-type: x proximity;

    .ids-swipe-action-left,
    .ids-swipe-action-right {
      scroll-snap-align: initial;
    }
  }
}

// Hide scroll bar
.ids-swipe-container::-webkit-scrollbar {
  display: none;
}

// Hide scroll bar in Firefox
.swipe-container {
  scrollbar-width: none;
}

// Snaps into view
.ids-swipe-element {
  @include mixins.antialiased();

  padding: var(--ids-space-60);
  font-family: var(--ids-font-family-default);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-width: calc(100% - 32px);
}

// Actions and element should be 100% wide
.ids-swipe-action {
  border-radius: 6px;
  display: flex;
  align-items: center;
  min-width: 100%;
}

// Style the action buttons
.ids-swipe-action-left {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.ids-swipe-action-right {
  justify-content: flex-end;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

// Button should remain sticky
::slotted(ids-button) {
  display: contents;
  position: sticky;
}

// Firefox only
@-moz-document url-prefix('') {
  .ids-swipe-container {
    overflow-x: hidden;
  }

  .ids-swipe-action-left {
    display: none;
  }
}
