<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Date Picker Disabled Dates</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" gap="sm">
      <ids-layout-grid-cell>
        <ids-date-picker
          id="e2e-date-picker-disabled-dates"
          label="Disable dates: ['6/9/2015', '6/12/2015'] + (every saturday and sunday)"
          value="5/12/2015"
        ></ids-date-picker>
        <ids-date-picker
          id="e2e-date-picker-disabled-years"
          label="Disable years: [2019, 2021] (by passing years)"
          value="5/12/2020"
        ></ids-date-picker>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
