<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Date Picker Disabled Dates</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-date-picker
          id="date-picker-disabled-dates"
          label="Disable dates and week days"
          value="6/10/2015"
        ></ids-date-picker>
        <ids-date-picker
          id="date-picker-disabled-years"
          label="Disable years"
          value="6/12/2020"
        ></ids-date-picker>
        <ids-date-picker
          id="date-picker-disabled-min-max"
          label="Disable min/max date"
          value="6/12/2020"
        ></ids-date-picker>
        <ids-date-picker
          id="date-picker-disabled-reverse"
          label="Enable disabled dates"
          value="6/12/2020"
        ></ids-date-picker>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
