<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Range Picker</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-date-picker id="rangepicker-no-value" label="Range - No Initial value" use-range="true" mask="true" size="mm" format="yyyy-MM-dd"></ids-date-picker>
        <ids-date-picker id="datepicker-input-value" label="Range - Initial value by input value" use-range="true" mask="true" value="2/7/2018 - 2/22/2018" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-settings-value" label="Range - Initial value by settings" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-not-included" label="Range - Disable Not included" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-included" label="Range - Disable included" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-week" label="Range - Week Picker" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-validation" label="Range - Validation" validate="rangeDate" validation-events="blur" use-range="true" mask="true" size="mm" format="yyyy-MM-dd"></ids-date-picker>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-date-picker id="datepicker-forward" label="Range - Select Forward" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-backward" label="Range - Select Backward" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-max" label="Range - Max (2) Days" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-min" label="Range - Min (5) Days" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-range-legend" label="Range with disabled dates and legend" use-range="true" mask="true" size="mm"></ids-date-picker>
        <ids-date-picker id="datepicker-time" label="Range with time" use-range="true" mask="true" format="M/d/yyyy h:mm a" size="lg"></ids-date-picker>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
