<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Date Picker</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="1" cols-xs="2" cols-md="4" gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <ids-date-picker label="Abbreviated Month Year" format="MMM yyyy" placeholder="true"></ids-date-picker>
        <ids-date-picker label="Wide Month Day" format="MMMM d" placeholder="true"></ids-date-picker>
        <ids-date-picker label="Year" format="yyyy" placeholder="true"></ids-date-picker>
        <ids-date-picker label="Wide Month Year" format="MMMM yyyy" placeholder="true"></ids-date-picker>
        <ids-date-picker label="Abbreviated Month Day Year" format="MMM d, yyyy" placeholder="true"></ids-date-picker>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-date-picker label="Valid Date Validation" placeholder="true" validate="date"></ids-date-picker>
        <ids-date-picker id="e2e-date-picker-available" label="Available Date Validation" value="2/3/2010" placeholder="true" validate="availableDate"></ids-date-picker>
        <ids-date-picker label="Date Time Picker AM/PM" value="2/3/2010 08:24 AM" minute-interval="1" second-interval="1" placeholder="true" format="M/d/yyyy hh:mm a" size="mm""></ids-date-picker>
        <ids-date-picker label="Date Time Picker 24-Hour" value="2/3/2010 18:24:33" minute-interval="1" second-interval="1" placeholder="true" format="M/d/yyyy HH:mm:ss" size="mm""></ids-date-picker>
        <ids-date-picker label="ISO Date" format="yyyy-MM-dd" placeholder="true"></ids-date-picker>
      </ids-layout-grid-cell>
      <ids-layout-grid-cell>
        <ids-date-picker label="With Clear Button" show-clear="true" placeholder="true"></ids-date-picker>
        <ids-date-picker label="With Cancel Button" show-cancel="true" placeholder="true"></ids-date-picker>
        <ids-date-picker label="With Week Numbers" placeholder="true" show-picklist-week="true"></ids-date-picker>
        <ids-date-picker label="Date Time Picker Current Time" minute-interval="1" second-interval="1" use-current-time="time" placeholder="true" format="M/d/yyyy hh:mm a" size="mm""></ids-date-picker>
        <ids-date-picker label="Two Digit Year (2000s)" format="dd/MM/yy"  value="21/07/39"></ids-date-picker>
        <ids-date-picker label="Two Digit Year (1900s)" format="dd/MM/yy"  value="21/07/40"></ids-date-picker>
      </ids-layout-grid-cell>
     </ids-layout-grid>
  </ids-container>
</body>
</html>
