@import '../../themes/mixins/ids-core-mixins';

/* Ids Lookup Component */
.data-grid-container {
  overflow: hidden;
  position: relative;
  max-height: 400px;
}

@media (max-width: $breakpoint-sm) {
  ids-layout-grid {
    // Need important to override inline element styles
    --min-col-width: 0 !important;
  }

  .data-grid-container.has-search {
    max-height: calc(100vh - 184px);
  }

  .data-grid-container {
    max-height: 100%;
    height: 100%;
  }

  .data-grid-parent-container  {
    height: 100%;
  }
}

.data-grid-parent-container {
  overflow: auto;
}

ids-trigger-field::part(clearable-button) {
  margin-inline-end: -7px;
}

:host-context(ids-data-grid-cell) {
  border: 0;
  outline: none;
  width: 100%;

  ids-trigger-field::part(container),
  ids-trigger-field::part(field-container) {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    height: 100%;
    width: 100%;
  }
}

@mixin ids-lookup-padding-inline($size) {
  :host-context([data-row-height='#{$size}']) {
    ids-trigger-field::part(input) {
      padding-inline: var(--ids-data-grid-padding-#{$size});
    }
  }
}

@include ids-lookup-padding-inline(xxs);
@include ids-lookup-padding-inline(xs);
@include ids-lookup-padding-inline(sm);
@include ids-lookup-padding-inline(md);
@include ids-lookup-padding-inline(lg);

.result-count {
  font-size: var(--ids-lookup-result-count-font-size);
  margin: var(--ids-lookup-result-count-margin);
  vertical-align: middle;
}
