/* Ids Lookup Component */
.data-grid-container {
  overflow: auto;
}

ids-trigger-field::part(clearable-button) {
  margin-inline-end: -4px;
}

:host-context(ids-data-grid-cell) {
  border: 0;
  outline: none;
  width: 100%;

  ids-trigger-field::part(input) {
    padding-inline-start: var(--ids-space-60);
    padding-inline-end: var(--ids-space-60);
  }

  ids-trigger-field::part(container),
  ids-trigger-field::part(field-container) {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    height: 100%;
    width: 100%;
  }
}