<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Data Grid (hidden columns)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-toolbar>
          <ids-toolbar-section type="buttonset" align="end">
            <ids-button id="hide-show" role="button">
              <span>Hide Column</span>
            </ids-button>
          </ids-toolbar-section>

          <ids-toolbar-more-actions overflow>
            <ids-menu-group>
              <ids-menu-item value="1">Option One</ids-menu-item>
              <ids-menu-item value="2">Option Two</ids-menu-item>
              <ids-menu-item value="3">Option Three</ids-menu-item>
            </ids-menu-group>
          </ids-toolbar-more-actions>
        </ids-toolbar>
        <ids-data-grid id="data-grid-columns-hidden" label="Books" row-selection="multiple"></ids-data-grid>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
