<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Data Grid (Standalone Pager)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-data-grid
          id="data-grid-paging-standalone"
          row-selection="multiple"
          label="Books"
          row-height="md"
          pagination="standalone"
          page-number="1"
          page-size="10">
        </ids-data-grid>
        <ids-pager>
          <ids-pager-button previous></ids-pager-button>
          <ids-pager-input></ids-pager-input>
          <ids-pager-button next></ids-pager-button>
          <ids-pager-dropdown slot="end" label="Sample Text"></ids-pager-dropdown> 
        </ids-pager>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
