<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Data Grid (save user settings)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-text>1. Change any setting for example, reorder columns, go to next page etc..</ids-text>
        <ids-text>2.The change will be saved to local storage</ids-text>
        <ids-text>3. Refresh or close and reopen the page-size</ids-text>
        <ids-text>4. Data grid should restore the previously saved settings</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>

        <ids-toolbar>
          <ids-toolbar-section align="end" favor>
            <ids-menu-button id="menu-button" menu="row-height-menu">
              <ids-icon icon="more"></ids-icon>
              <span class="audible">Settings Menu Button</span>
            </ids-menu-button>
            <ids-popup-menu id="row-height-menu" target="menu-button" trigger-type="click">
              <ids-menu-group select="single">
                <ids-menu-header>
                  <ids-text font-weight="semi-bold">Row Height</ids-text>
                </ids-menu-header>
                <ids-menu-item value="">Default</ids-menu-item>
                <ids-menu-item value="xs">Extra Small</ids-menu-item>
                <ids-menu-item value="sm">Small</ids-menu-item>
                <ids-menu-item value="md">Medium</ids-menu-item>
                <ids-menu-item value="lg">Large</ids-menu-item>
              </ids-menu-group>
            </ids-popup-menu>
          </ids-toolbar-section>
        </ids-toolbar>

        <ids-data-grid
          id="data-grid-save-settings"
          unique-id="some-uniqueid-1"
          row-selection="multiple"
          label="Books"
          row-height="md"
          pagination="client-side"
          page-number="1"
          page-size="10"
          save-user-settings
        >
        </ids-data-grid>
      </ids-layout-grid-cell>
    </ids-layout-grid>

  </ids-container>
</body>
</html>
