<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Data Grid</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-data-grid id="data-grid-1" virtual-scroll="false" label="Books" row-selection="single" supress-row-deselection="true" row-height="md">
        </ids-data-grid>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>