<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="16" hidden>
    <ids-layout-flex direction="column" gap="8" full-height>
      <ids-layout-flex-item>
        <ids-theme-switcher mode="light"></ids-theme-switcher>
      </ids-layout-flex-item>
      <ids-layout-flex-item>
        <ids-text font-size="12" type="h1">Data Grid (Virtual Scroll row-start)</ids-text>
      </ids-layout-flex-item>
      <ids-layout-flex-item grow="1" overflow="hidden">
        <ids-data-grid id="data-grid-virtual-scroll-row-start" row-selection="multiple" auto-fit="true" virtual-scroll="true" row-height="md" row-start="200">
        </ids-data-grid>
      </ids-layout-flex-item>
    </ids-layout-flex>
  </ids-container>
</body>
</html>
