<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.font %>
  </head>
  <body>
    <ids-container role="main" padding="8" hidden>
      <ids-theme-switcher mode="light"></ids-theme-switcher>
      <ids-layout-grid auto="true" gap="md">
        <ids-text font-size="12" type="h1">Layout Flex</ids-text>
      </ids-layout-grid>

      <div class="demo-ids-layout-flex">

        <ids-layout-grid cols="2">
          <ids-layout-grid-cell col-span="1" class="fill">
            <ids-layout-flex gap="8">
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
            </ids-layout-flex>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-text font-size="12" type="h2">justify-content (center)</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2">
          <ids-layout-grid-cell col-span="1" class="fill">
            <ids-layout-flex gap="8" justify-content="center">
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
            </ids-layout-flex>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-text font-size="12" type="h2">justify-content (flex-end)</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2">
          <ids-layout-grid-cell col-span="1" class="fill">
            <ids-layout-flex gap="8" justify-content="flex-end">
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
            </ids-layout-flex>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-text font-size="12" type="h2">justify-content (space-between)</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2">
          <ids-layout-grid-cell col-span="1" class="fill">
            <ids-layout-flex gap="8" justify-content="space-between">
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
            </ids-layout-flex>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-text font-size="12" type="h2">justify-content (space-around)</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2">
          <ids-layout-grid-cell col-span="1" class="fill">
            <ids-layout-flex gap="8" justify-content="space-around">
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
            </ids-layout-flex>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-text font-size="12" type="h2">justify-content (space-evenly)</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2">
          <ids-layout-grid-cell col-span="1" class="fill">
            <ids-layout-flex gap="8" justify-content="space-evenly">
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
            </ids-layout-flex>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-text font-size="12" type="h2">grow / shrink (items)</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2">
          <ids-layout-grid-cell col-span="1" class="fill">
            <ids-layout-flex gap="8">
              <ids-layout-flex-item grow="0" shrink="0">
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item grow="0" shrink="0">
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item grow="1" shrink="0">
                <div class="box"></div>
              </ids-layout-flex-item>
            </ids-layout-flex>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-text font-size="12" type="h2">direction (column)</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2">
          <ids-layout-grid-cell col-span="1" class="fill">
            <ids-layout-flex gap="8" direction="column">
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
              <ids-layout-flex-item>
                <div class="box"></div>
              </ids-layout-flex-item>
            </ids-layout-flex>
          </ids-layout-grid-cell>
        </ids-layout-grid>

      </div>
    </ids-container>
  </body>
</html>
