<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body hidden>
  <div class="ids-layout-grid ids-layout-grid-auto-fit ids-layout-grid-padding-md">
    <h1 class="ids-text ids-text-12">Layout Flex (Standalone CSS)</h1>
  </div>

  <div class="demo-ids-layout-flex">

    <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-x-md">
      <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill">
        <div class="ids-layout-flex ids-layout-flex-gap-8">
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ids-layout-grid ids-layout-grid-padding-md">
      <h2 class="ids-text ids-text-12">justify-content (center)</h2>
    </div>
    <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-x-md">
      <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill">
        <div class="ids-layout-flex ids-layout-flex-gap-8 ids-layout-flex-justify-content-center">
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ids-layout-grid ids-layout-grid-padding-md">
      <h2 class="ids-text ids-text-12">justify-content (flex-end)</h2>
    </div>
    <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-x-md">
      <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill">
        <div class="ids-layout-flex ids-layout-flex-gap-8 ids-layout-flex-justify-content-flex-end">
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ids-layout-grid ids-layout-grid-padding-md">
      <h2 class="ids-text ids-text-12">justify-content (space-between)</h2>
    </div>
    <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-x-md">
      <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill">
        <div class="ids-layout-flex ids-layout-flex-gap-8 ids-layout-flex-justify-content-space-between">
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ids-layout-grid ids-layout-grid-padding-md">
      <h2 class="ids-text ids-text-12">justify-content (space-around)</h2>
    </div>
    <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-x-md">
      <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill">
        <div class="ids-layout-flex ids-layout-flex-gap-8 ids-layout-flex-justify-content-space-around">
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ids-layout-grid ids-layout-grid-padding-md">
      <h2 class="ids-text ids-text-12">justify-content (space-evenly)</h2>
    </div>
    <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-x-md">
      <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill">
        <div class="ids-layout-flex ids-layout-flex-gap-8 ids-layout-flex-justify-content-space-evenly">
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ids-layout-grid ids-layout-grid-padding-md">
      <h2 class="ids-text ids-text-12">grow / shrink (items)</h2>
    </div>
    <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-x-md">
      <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill">
        <div class="ids-layout-flex ids-layout-flex-gap-8">
          <div class="ids-layout-flex-item ids-layout-flex-item-grow-0 ids-layout-flex-item-shrink-0">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item ids-layout-flex-item-grow-0 ids-layout-flex-item-shrink-0">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item ids-layout-flex-item-grow-1 ids-layout-flex-item-shrink-0">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ids-layout-grid ids-layout-grid-padding-md">
      <h2 class="ids-text ids-text-12">direction (column)</h2>
    </div>
    <div class="ids-layout-grid ids-layout-grid-cols-2 ids-layout-grid-padding-x-md">
      <div class="ids-layout-grid-cell ids-layout-grid-col-span-1 fill">
        <div class="ids-layout-flex ids-layout-flex-gap-8 ids-layout-flex-direction-column">
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
          <div class="ids-layout-flex-item">
            <div class="box"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
