<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" hidden>
    <ids-skip-link href="#main-content">Skip to Main Content</ids-skip-link>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid cols="fluid-grid" gap="xl">
      <ids-layout-grid-cell col-span="2">
        <ids-text font-size="12" type="h1">Colors</ids-text>
        <br>
        <ids-color-picker size="sm" label="Primary Color" suppress-labels value="#0066D4" id="primary-color"></ids-color-picker>
        <ids-color-picker size="sm" label="Background Color" suppress-labels value="#FFFFFF" id="background-color"></ids-color-picker>
        <ids-color-picker size="sm" label="Text Color" suppress-labels value="#2F2F32" id="text-color"></ids-color-picker>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell col-span="10">

        <!-- Action Panel -->
        <ids-layout-grid auto="true" id="main-content">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h1">Action Panel</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-action-panel id="cap-company-info" fullsize="lg">
          <ids-toolbar slot="toolbar">
            <ids-toolbar-section type="title">
              <ids-text font-size="20" type="h2">Company Information</ids-text>
            </ids-toolbar-section>

            <ids-toolbar-section type="buttonset" align="end">
              <ids-button id="btn-save" icon="save" no-padding>
                <ids-text font-weight="semi-bold">Save</ids-text>
              </ids-button>
              <ids-separator vertical="true"></ids-separator>
              <ids-button id="btn-close" icon="close" no-padding>
                <ids-text font-weight="semi-bold">Close</ids-text>
              </ids-button>
            </ids-toolbar-section>
          </ids-toolbar>

          <ids-layout-grid cols="2" gap="md" min-col-width="150px">
            <ids-layout-grid-cell>
              <ids-dropdown id="cap-dd-company-name" label="Company Name" value="">
                <ids-list-box>
                  <ids-list-box-option value="" selected>None</ids-list-box-option>
                  <ids-list-box-option value="jawbone">Jawbone, Inc.</ids-list-box-option>
                  <ids-list-box-option value="infor">Infor</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>

              <ids-dropdown id="cap-dd-purchase-form" label="Purchase Form" value="3567">
                <ids-list-box>
                  <ids-list-box-option value="">None</ids-list-box-option>
                  <ids-list-box-option value="3567" selected>3567</ids-list-box-option>
                  <ids-list-box-option value="3568">3568</ids-list-box-option>
                  <ids-list-box-option value="3569">3569</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>

              <ids-dropdown id="cap-dd-template" label="Template" value="1">
                <ids-list-box>
                  <ids-list-box-option value="">None</ids-list-box-option>
                  <ids-list-box-option value="1" selected>Template #1</ids-list-box-option>
                  <ids-list-box-option value="2">3568</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>

              <ids-textarea id="cap-textarea-notes" label="Notes"></ids-textarea>
            </ids-layout-grid-cell>
            <ids-layout-grid-cell>
              <ids-dropdown id="cap-dd-ship-terms" label="Ship Terms" value="">
                <ids-list-box>
                  <ids-list-box-option value="" selected>None</ids-list-box-option>
                  <ids-list-box-option value="default">Default</ids-list-box-option>
                  <ids-list-box-option value="alternate">Alternate</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>

              <ids-dropdown id="cap-dd-ship-via" label="Ship via" value="">
                <ids-list-box>
                  <ids-list-box-option value="" selected>None</ids-list-box-option>
                  <ids-list-box-option value="default">USPS</ids-list-box-option>
                  <ids-list-box-option value="alternate">Other</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>

              <ids-dropdown id="cap-dd-issue-method" label="Issue Method" value="email">
                <ids-list-box>
                  <ids-list-box-option value="">None</ids-list-box-option>
                  <ids-list-box-option value="phone">Telephone</ids-list-box-option>
                  <ids-list-box-option value="email" selected>Email</ids-list-box-option>
                  <ids-list-box-option value="sms">SMS Message</ids-list-box-option>
                </ids-list-box>
              </ids-dropdown>

              <ids-checkbox id="cap-check-freight" label="Freight" checked></ids-checkbox>
            </ids-layout-grid-cell>
          </ids-layout-grid>
        </ids-action-panel>

        <ids-layout-grid>
          <ids-layout-grid-column>
            <ids-button appearance="secondary" id="cap-trigger-btn">Open Action Panel</ids-button>
          </ids-layout-grid-column>
        </ids-layout-grid>

        <!-- Alerts -->
        <ids-layout-grid auto="true" gap="xl">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Alerts</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell><ids-alert icon="warning" tooltip="Alert"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="error" tooltip="Error"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="success" tooltip="Success"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="info" tooltip="Info"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="in-progress" tooltip="In Progress"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="empty-circle" tooltip="Empty"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="half-empty-circle" tooltip="Half Empty"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="new" tooltip="New"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="calendar" color="info" tooltip="Calendar Alert"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="blood" color="error" tooltip="Blood Alert" size="small"></ids-alert></ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Badges -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Badges</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-badge shape="round">5</ids-badge>
            <ids-badge color="error">1500</ids-badge>
            <ids-badge color="warning" shape="round">10</ids-badge>
            <ids-badge color="warning" shape="round"><ids-icon icon="pending" size="normal"></ids-icon></ids-badge>
            <ids-badge color="success" shape="round">5</ids-badge>
            <ids-badge color="info">25k+</ids-badge>
        </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Breadcrumb -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Breadcrumb</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-breadcrumb>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">First Item</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Second Item</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" disabled>Disabled Item</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover">Current Item</ids-hyperlink>
          </ids-breadcrumb>
        </ids-layout-grid>

        <!-- Buttons -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Buttons</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="4" gap="md">
          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Primary</ids-text>
            </p>
            <p>
              <ids-button id="test-button-primary" appearance="primary">
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-disabled-button-primary" appearance="primary" disabled>
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-button-icon-primary" appearance="primary">
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Secondary</ids-text>
            </p>
            <p>
              <ids-button id="test-button-secondary" appearance="secondary">
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-disabled-button-secondary" appearance="secondary" disabled>
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-button-icon-secondary" appearance="secondary">
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Tertiary</ids-text>
            </p>
            <p>
              <ids-button id="test-button-tertiary" appearance="tertiary">
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-disabled-button-tertiary" appearance="tertiary" disabled>
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Icon</ids-text>
            </p>
            <p>
              <ids-button id="test-button-icon">
                <ids-icon icon="folder"></ids-icon>
                <span class="audible">Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-disabled-button-icon" disabled>
                <ids-icon icon="folder"></ids-icon>
                <span class="audible">Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Destructive Primary</ids-text>
            </p>

            <p>
              <ids-button id="test-button-primary-destructive" appearance="primary-destructive">
                <span>Action</span>
              </ids-button>
            </p>

            <p>
              <ids-button id="test-button-disabled-primary-destructive" appearance="primary-destructive" disabled>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Destructive Tertiary</ids-text>
            </p>

            <p>
              <ids-button id="test-button-tertiary-destructive" appearance="tertiary-destructive">
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>

            <p>
              <ids-button id="test-button-disabled-tertiary-destructive" appearance="tertiary-destructive" disabled>
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Checkboxes -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Checkboxes</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="4" gap="md">
          <ids-layout-grid-cell>
            <ids-checkbox label="Unchecked"></ids-checkbox>
            <ids-checkbox label="Checked" checked="true"></ids-checkbox>
            <ids-checkbox label="Dirty tracking" dirty-tracker="true"></ids-checkbox>
            <ids-checkbox label="Disabled and unchecked" disabled="true"></ids-checkbox>
            <ids-checkbox label="Disabled and checked" checked="true" disabled="true"></ids-checkbox>
            <ids-checkbox label="Required" validate="required"></ids-checkbox>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Counts -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Counts</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-value>7</ids-text>
              <ids-text count-text>Active <br /> Opportunities</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-text>Open <br /> Incidents</ids-text>
              <ids-text count-value>2</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-text>Escalated <br /> Incidents</ids-text>
              <ids-text count-value>4</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-value>7</ids-text>
              <ids-text count-text>Open <br /> Projects</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-value>7</ids-text>
              <ids-text count-text>Active <br /> Contacts</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Data Grid -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Data Grid</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-data-grid id="data-grid-1" row-selection="multiple" label="Books" row-height="md"></ids-data-grid>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Data Label -->
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Data Label</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-data-label label="Shipping to" label-position="left">Los Angeles, California 90001 USA</ids-data-label>
          <ids-data-label label="Shipping to">Los Angeles, California 90001 USA</ids-data-label>
        </ids-layout-grid>

        <!-- Editor -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Editor</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>

            <ids-editor id="editor-demo" label="Ids Editor">
              <p>Embrace <a href="http://en.wikipedia.org/wiki/e-commerce" class="hyperlink">e-commerce action-items</a>,
                reintermediate, ecologies paradigms wireless share life-hacks create innovative harness. Evolve solutions
                rich-clientAPIs synergies harness relationships virtual vertical facilitate end-to-end, wireless, evolve
                synergistic synergies.</p>
              <p>Cross-platform, evolve, ROI scale cultivate eyeballs addelivery, e-services content cross-platform leverage
                extensible viral incentivize integrateAJAX-enabled sticky evolve magnetic cultivate leverage; cutting-edge.
                Innovate, end-to-end podcasting, whiteboard streamline e-business social; compelling, "cross-media exploit
                infomediaries innovative integrate integrateAJAX-enabled." Killer interactive reinvent, cultivate widgets leverage
                morph.</p>
            </ids-editor>

          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Editor -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Empty Message</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true" cols="3" gap="md">
          <ids-layout-grid-cell>
            <ids-layout-grid-cell>
              <ids-card class="test-card">
                <div slot="card-header">
                  <ids-text font-size="20" type="h3" overflow="ellipsis" tooltip="true">empty-generic-new</ids-text>
                </div>
                <div class="card-content" slot="card-content">
                  <ids-empty-message icon="empty-generic-new">
                    <ids-text type="h2" font-size="20" label="true" slot="label">Alert Label</ids-text>
                    <ids-text label="true" slot="description">Description of empty message that explains why.</ids-text>
                    <ids-button class="action-button" slot="button" appearance="primary">Action</ids-button>
                  </ids-empty-message>
                </div>
              </ids-card>
            </ids-layout-grid-cell>

          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Expandable Area -->
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Expandable Area</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-expandable-area type="partial">
              <ids-text slot="header">Customer Information</ids-text>
              <ids-layout-grid slot="visible-pane-content" cols="3" gap="md" no-margins="true">
                <ids-layout-grid-cell>
                  <ids-input size="full" type="text" label="Customer Name" name="customer-name" placeholder="Normal text Field"></ids-input>
                </ids-layout-grid-cell>
                <ids-layout-grid-cell>
                  <ids-input size="full" type="text" label="Location" name="location" placeholder="Normal text Field"></ids-input>
                </ids-layout-grid-cell>
              </ids-layout-grid>
              <ids-layout-grid slot="pane" cols="3" gap="md" no-margins="true">
                <ids-input size="full" type="text" label="More Customer Details" name="more-customer-details" placeholder="Normal text Field"></ids-input>
              </ids-layout-grid>
              <ids-hyperlink slot="expander-default" hitbox="true">Show More</ids-hyperlink>
              <ids-hyperlink slot="expander-expanded" hitbox="true">Show Less</ids-hyperlink>
            </ids-expandable-area>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Fieldset -->
        <ids-layout-grid>
          <ids-text font-size="12" type="h2">Fieldset</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <form>
            <ids-fieldset>
              <legend><ids-text font-size="20" type="h2" id="user-info">User Information</ids-text></legend>
              <ids-input type="text" label="User Name" id="user-name"></ids-input>
              <ids-input type="text" label="User Address" id="user-address"></ids-input>
            </ids-fieldset>
          </form>
        </ids-layout-grid>

        <!-- Hyperlink -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Hyperlink</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-hyperlink href="#" target="_blank">Normal Link</ids-hyperlink><br><br>
            <ids-hyperlink href="#" disabled="true" target="_blank">Disabled Link</ids-hyperlink>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Images & Initials Banner -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Images</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="lg">
          <ids-layout-grid-cell>
            <ids-image class="non-existant" id="e2e-fallback" src="../assets/images/non-existant.jpg" alt="image-sm non-existant" size="sm" fallback tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="mn" round tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="ab" alt="Photo of Joe" round tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="cd" alt="Photo of Joe" round user-status="available" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="ef" alt="Photo of Joe" round user-status="away" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="gh" alt="Photo of Joe" round user-status="busy" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="ij" alt="Photo of Joe" round user-status="do-not-disturb" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="lm" alt="Photo of Joe" round user-status="unknown" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Notification Banner -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Notification Banner</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-notification-banner
              id="ids-notification-banner-0"
              message-text="DTO accepted by your manager for Sept 30, 2018."
              type="success"
              link="https://infor.com">
            </ids-notification-banner>

            <ids-notification-banner
              id="ids-notification-banner-1"
              message-text="Notification Banner with no link"
              type="warning">
            </ids-notification-banner>

            <ids-notification-banner
              id="ids-notification-banner-2"
              message-text="Notification Banner with custom link text."
              type="info"
              link="https://infor.com"
              link-text="Learn More">
            </ids-notification-banner>

            <ids-notification-banner
              id="ids-notification-banner-3"
              message-text="DTO rejected by your manager for Sept 30, 2018."
              type="error"
              link="https://infor.com">
            </ids-notification-banner>
          </ids-layout-gridcell>
        </ids-layout-grid>

        <!-- Menu -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Menu</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="5">
          <ids-layout-grid-cell>
            <ids-menu id="complex-menu">
              <ids-menu-group id="main-settings">
                <ids-menu-item icon="mail" value="mail">Mail</ids-menu-item>
                <ids-menu-item icon="filter" value="filter">Filter</ids-menu-item>
                <ids-menu-item icon="settings" value="settings">Settings</ids-menu-item>
              </ids-menu-group>
              <ids-separator></ids-separator>
              <ids-menu-header id="additional-actions-header">Additional Actions</ids-menu-header>
              <ids-menu-group id="more-settings" aria-describedby="additional-actions-header">
                <ids-menu-item value="more-actions">
                  More Actions
                </ids-menu-item>
                <ids-menu-item icon="user" value="even-more-actions">
                  Even More Actions
                </ids-menu-item>
                <ids-menu-item id="no-select" value="no-select">This one can't be selected (Check the console)</ids-menu-item>
              </ids-menu-group>
              <ids-separator></ids-separator>
              <ids-menu-group id="other-settings">
                <ids-menu-item icon="more" value="other-items">Other Items</ids-menu-item>
              </ids-menu-group>
            </ids-menu>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Menu Button -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Menu Button</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="4" gap="md">
          <ids-layout-grid-cell>
              <ids-menu-button id="menu-button" icon="settings" appearance="tertiary" menu="my-menu" dropdown-icon>
                <span>Settings</span>
              </ids-menu-button>
              <ids-popup-menu id="my-menu" target="menu-button" trigger-type="click">
                <ids-menu-group>
                  <ids-menu-item>Personalize Columns...</ids-menu-item>
                </ids-menu-group>
                <ids-separator></ids-separator>
                <ids-menu-group select="single" id="sizes">
                  <ids-menu-header>Row Height</ids-menu-header>
                  <ids-menu-item disabled="true" value="extra-small">Extra Small</ids-menu-item>
                  <ids-menu-item value="small">Small</ids-menu-item>
                  <ids-menu-item value="medium">Medium</ids-menu-item>
                  <ids-menu-item value="large" selected="true">Large</ids-menu-item>
                </ids-menu-group>
                <ids-separator></ids-separator>
                <ids-menu-group select="multiple" keep-open="true">
                  <ids-menu-header>Filtering Options</ids-menu-header>
                  <ids-menu-item selected="true">Show Filter Row</ids-menu-item>
                  <ids-menu-item value="run-filter">Run Filter</ids-menu-item>
                  <ids-menu-item value="clear-filter">Clear Filter</ids-menu-item>
                </ids-menu-group>
              </ids-popup-menu>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Modal -->
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Message</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-button appearance="secondary" id="message-example-error-trigger">Trigger an Error Message</ids-button>
            <ids-message id="message-example-error" status="error">
              <ids-text slot="title" font-size="24" type="h2" id="my-message-title">Lost connection</ids-text>
              <ids-text id="my-message-contents" align="left">This application has experienced a system error.</ids-text>
              <ids-modal-button slot="buttons" appearance="secondary" id="my-message-cancel" cancel>Cancel</ids-modal-button>
              <ids-modal-button slot="buttons" appearance="primary" id="my-message-confirm">Restart</ids-modal-button>
            </ids-message>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Modal -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Modal</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-modal id="my-modal" aria-labelledby="my-modal-title">
              <ids-text slot="title" font-size="24" type="h2" id="my-modal-title">Active IDS Modal</ids-text>
              <ids-modal-button slot="buttons" id="modal-close-btn" appearance="primary">
                <span>OK</span>
              </ids-modal-button>
              <ids-text align="left">This is an active IDS Modal component</ids-text>
            </ids-modal>

            <ids-button id="modal-trigger-btn" appearance="secondary">
              <span>Trigger a Modal</span>
            </ids-button>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Month View -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Month View</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-month-view
              show-today="true"
              month="10"
              year="2021"
              day="15"
            ></ids-month-view>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Progress Bar -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Popup</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-button id="popup-trigger-btn" appearance="secondary">
              <span>Trigger a Popup</span>
            </ids-button>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-popup x="15" y="0" align-target="#popup-trigger-btn" align="right" animated="true" type="menu" id="popup-1">
          <div slot="content">
            <div class="demo-popup">
              <ids-text font-size="12" type="span"> Popup Content</ids-text>
            </div>
          </div>
        </ids-popup>

        <!-- Progress Bar -->
        <ids-layout-grid cols="3" gap="md">
          <ids-text font-size="12" type="h2">Pager</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="3" gap="md">
          <ids-layout-grid-cell>
            <ids-pager page-number="1" page-size="20" total="200" id="ids-pager-example">
              <ids-pager-button first></ids-pager-button>
              <ids-pager-button previous></ids-pager-button>
              <ids-pager-input></ids-pager-input>
              <ids-pager-button next></ids-pager-button>
              <ids-pager-button last></ids-pager-button>
            </ids-pager>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Progress Bar -->
        <ids-layout-grid auto="true" gap="xl">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Progress Bar</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <ids-layout-grid cols="3">
          <ids-layout-grid-cell>
            <ids-progress-bar id="progress-bar" label="Percent complete" value="10"></ids-progress-bar>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Rating -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Rating</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-rating value="4"></ids-rating>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Search Field -->
        <ids-layout-grid>
          <ids-text font-size="12" type="h2">Search Field</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="3">
          <ids-layout-grid-cell>
            <ids-search-field clearable label="Search Field" placeholder="Search for..."></ids-search-field>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!--Spinbox -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Spinbox</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="4" gap="md">
          <ids-layout-grid-cell>
            <ids-spinbox value="0" label="Spinbox"></ids-spinbox>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Step Chart -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Step Chart</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2" gap="md">
          <ids-layout-grid-cell>
            <ids-step-chart class="chart" label="7 of 7 steps completed" color="emerald06" step-number="7" value="7" progress-color="ruby02">
              <ids-alert slot="icon" icon="success"></ids-icon>
            </ids-step-chart>
            <ids-step-chart class="chart" label="2 of 7 steps completed" color="azure06" step-number="7" value="2">
            </ids-step-chart>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Tags -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Tags</ids-text><br>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-tag>Normal Tag</ids-tag>
            <ids-tag color="secondary">Secondary Tag</ids-tag>
            <ids-tag color="success">Success Tag</ids-tag>
            <ids-tag color="info">Info Tag</ids-tag>
            <ids-tag color="warning">Warning Tag</ids-tag>
            <ids-tag color="caution">Caution Tag</ids-tag>
            <ids-tag color="error">Error Tag</ids-tag>
            <ids-tag clickable="true" id="ids-clickable-tag">Clickable Tag
              <ids-icon icon="caret-right" size="xsmall"></ids-icon>
            </ids-tag>
            <ids-tag disabled>
              <span>Disabled Tag</span>
              <ids-icon icon="close" size="xsmall"</ids-icon>
            </ids-tag>
            <ids-tag color="secondary" dismissible="true" disabled>
              <span>Secondary Disabled Tag</span>
              <ids-icon icon="close" size="xsmall"</ids-icon>
            </ids-tag>
            <ids-tag dismissible="true">
                <span>Dismissible Tag 1</span>
                <ids-icon icon="close" size="xsmall" id="ids-closable-btn"></ids-icon>
            </ids-tag>
            <ids-tag dismissible="true">
                <span>Dismissible Tag 2</span>
            </ids-tag>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Toast -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Toast</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-button id="btn-toast-demo" appearance="secondary">
              <span>Toast Message</span>
            </ids-button>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Toggle Button -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Toggle Button</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="4" gap="md">
          <ids-layout-grid-cell>
            <ids-toggle-button
              id="test-toggle-button"
              icon-on="star-filled"
              icon-off="star-outlined"
              text-off="Toggle Button (Off)"
              text-on="Toggle Button (On)"></ids-toggle-button>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Tooltip -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Tooltip</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-button id="button-1" appearance="secondary">Hover to show a Tooltip</ids-button>
            <ids-tooltip target="#button-1" id="tooltip-example" data-automation-id="tooltip-example">Additional Information</ids-tooltip>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Trigger Field -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Trigger Field</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="3" gap="md">
          <ids-layout-grid-cell>
            <ids-trigger-field disabled id="trigger-field-4" size="md" label="Disabled Trigger Field" value="Enter Album Name">
              <ids-trigger-button slot="trigger-end" disabled>
                <ids-text audible="true">Select Image</ids-text>
                <ids-icon icon="camera"></ids-icon>
              </ids-trigger-button>
            </ids-trigger-field>
          </ids-layout-grid-cell>
        </ids-layout-grid>

      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
