<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid cols="fluid-grid" gap="xl">
      <ids-layout-grid-cell col-span="2">
        <ids-text font-size="12" type="h1">Colors</ids-text>
        <br>
        <ids-color-picker size="sm" label="Primary Color" suppress-labels value="#0066D4" id="primary-color"></ids-color-picker>
        <ids-color-picker size="sm" label="Background Color" suppress-labels value="#FFFFFF" id="background-color"></ids-color-picker>
        <ids-color-picker size="sm" label="Text Color" suppress-labels value="#2F2F32" id="text-color"></ids-color-picker>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell col-span="10">
        <!-- Alerts -->
        <ids-layout-grid auto="true" gap="xl">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Alerts</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell><ids-alert icon="warning" tooltip="Alert"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="error" tooltip="Error"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="success" tooltip="Success"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="info" tooltip="Info"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="in-progress" tooltip="In Progress"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="empty-circle" tooltip="Empty"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="half-empty-circle" tooltip="Half Empty"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="new" tooltip="New"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="calendar" color="info" tooltip="Calendar Alert"></ids-alert></ids-layout-grid-cell>
          <ids-layout-grid-cell><ids-alert icon="blood" color="error" tooltip="Blood Alert" size="small"></ids-alert></ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Badges -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Badges</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-badge shape="round">5</ids-badge>
            <ids-badge color="error">1500</ids-badge>
            <ids-badge color="warning" shape="round">10</ids-badge>
            <ids-badge color="warning" shape="round"><ids-icon icon="pending" size="normal"></ids-icon></ids-badge>
            <ids-badge color="success" shape="round">5</ids-badge>
            <ids-badge color="info">25k+</ids-badge>
        </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Breadcrumb -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Breadcrumb</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-breadcrumb>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">First Item</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" href="#">Second Item</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover" disabled>Disabled Item</ids-hyperlink>
            <ids-hyperlink font-size="14" text-decoration="hover">Current Item</ids-hyperlink>
          </ids-breadcrumb>
        </ids-layout-grid>

        <!-- Buttons -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Buttons</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="4" gap="md">
          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Primary</ids-text>
            </p>
            <p>
              <ids-button id="test-button-primary" appearance="primary">
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-disabled-button-primary" appearance="primary" disabled>
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-button-icon-primary" appearance="primary">
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Secondary</ids-text>
            </p>
            <p>
              <ids-button id="test-button-secondary" appearance="secondary">
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-disabled-button-secondary" appearance="secondary" disabled>
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-button-icon-secondary" appearance="secondary">
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Tertiary</ids-text>
            </p>
            <p>
              <ids-button id="test-button-tertiary" appearance="tertiary">
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-disabled-button-tertiary" appearance="tertiary" disabled>
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Icon</ids-text>
            </p>
            <p>
              <ids-button id="test-button-icon">
                <ids-icon icon="folder"></ids-icon>
                <span class="audible">Action</span>
              </ids-button>
            </p>
            <p>
              <ids-button id="test-disabled-button-icon" disabled>
                <ids-icon icon="folder"></ids-icon>
                <span class="audible">Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Destructive Primary</ids-text>
            </p>

            <p>
              <ids-button id="test-button-primary-destructive" appearance="primary-destructive">
                <span>Action</span>
              </ids-button>
            </p>

            <p>
              <ids-button id="test-button-disabled-primary-destructive" appearance="primary-destructive" disabled>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>

          <ids-layout-grid-cell>
            <p>
              <ids-text font-size="12" type="h2">Destructive Tertiary</ids-text>
            </p>

            <p>
              <ids-button id="test-button-tertiary-destructive" appearance="tertiary-destructive">
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>

            <p>
              <ids-button id="test-button-disabled-tertiary-destructive" appearance="tertiary-destructive" disabled>
                <ids-icon icon="folder"></ids-icon>
                <span>Action</span>
              </ids-button>
            </p>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Checkboxes -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Checkboxes</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="4" gap="md">
          <ids-layout-grid-cell>
            <ids-checkbox label="Unchecked"></ids-checkbox>
            <ids-checkbox label="Checked" checked="true"></ids-checkbox>
            <ids-checkbox label="Dirty tracking" dirty-tracker="true"></ids-checkbox>
            <ids-checkbox label="Disabled and unchecked" disabled="true"></ids-checkbox>
            <ids-checkbox label="Disabled and checked" checked="true" disabled="true"></ids-checkbox>
            <ids-checkbox label="Required" validate="required"></ids-checkbox>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Counts -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Counts</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-value>7</ids-text>
              <ids-text count-text>Active <br /> Opportunities</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-text>Open <br /> Incidents</ids-text>
              <ids-text count-value>2</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-text>Escalated <br /> Incidents</ids-text>
              <ids-text count-value>4</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-value>7</ids-text>
              <ids-text count-text>Open <br /> Projects</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-counts color="base" href="#">
              <ids-text count-value>7</ids-text>
              <ids-text count-text>Active <br /> Contacts</ids-text>
            </ids-counts>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Data Grid -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Data Grid</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-data-grid id="data-grid-1" row-selection="multiple" label="Books" row-height="md"></ids-data-grid>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Data Label -->
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h1">Data Label</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="md">
          <ids-data-label label="Shipping to" label-position="left">Los Angeles, California 90001 USA</ids-data-label>
          <ids-data-label label="Shipping to">Los Angeles, California 90001 USA</ids-data-label>
        </ids-layout-grid>

        <!-- Images & Initials Banner -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Images</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true" gap="lg">
          <ids-layout-grid-cell>
            <ids-image class="non-existant" id="e2e-fallback" src="../assets/images/non-existant.jpg" alt="image-sm non-existant" size="sm" fallback tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="mn" round tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="ab" alt="Photo of Joe" round tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="cd" alt="Photo of Joe" round user-status="available" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="ef" alt="Photo of Joe" round user-status="away" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="gh" alt="Photo of Joe" round user-status="busy" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="ij" alt="Photo of Joe" round user-status="do-not-disturb" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
          <ids-layout-grid-cell>
            <ids-image initials="lm" alt="Photo of Joe" round user-status="unknown" tabindex="0"></ids-image>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Notification Banner -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Notification Banner</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-notification-banner
              id="ids-notification-banner-0"
              message-text="DTO accepted by your manager for Sept 30, 2018."
              type="success"
              link="https://infor.com">
            </ids-notification-banner>

            <ids-notification-banner
              id="ids-notification-banner-1"
              message-text="Notification Banner with no link"
              type="warning">
            </ids-notification-banner>

            <ids-notification-banner
              id="ids-notification-banner-2"
              message-text="Notification Banner with custom link text."
              type="info"
              link="https://infor.com"
              link-text="Learn More">
            </ids-notification-banner>

            <ids-notification-banner
              id="ids-notification-banner-3"
              message-text="DTO rejected by your manager for Sept 30, 2018."
              type="error"
              link="https://infor.com">
            </ids-notification-banner>
          </ids-layout-gridcell>
        </ids-layout-grid>

        <!-- Hyperlink -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Hyperlink</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-hyperlink href="#" target="_blank">Normal Link</ids-hyperlink><br><br>
            <ids-hyperlink href="#" disabled="true" target="_blank">Disabled Link</ids-hyperlink>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Month View -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Month View</ids-text>
        </ids-layout-grid>
        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-month-view
              show-today="true"
              month="10"
              year="2021"
              day="15"
            ></ids-month-view>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Progress Bar -->
        <ids-layout-grid cols="3" gap="md">
          <ids-text font-size="12" type="h1">Pager</ids-text>
        </ids-layout-grid>

        <ids-layout-grid cols="3" gap="md">
          <ids-layout-grid-cell>
            <ids-pager page-number="1" page-size="20" total="200" id="ids-pager-example">
              <ids-pager-button first></ids-pager-button>
              <ids-pager-button previous></ids-pager-button>
              <ids-pager-input></ids-pager-input>
              <ids-pager-button next></ids-pager-button>
              <ids-pager-button last></ids-pager-button>
            </ids-pager>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Progress Bar -->
        <ids-layout-grid auto="true" gap="xl">
          <ids-layout-grid-cell>
            <ids-text font-size="12" type="h2">Progress Bar</ids-text>
          </ids-layout-grid-cell>
        </ids-layout-grid>
        <ids-layout-grid cols="3">
          <ids-layout-grid-cell>
            <ids-progress-bar id="progress-bar" label="Percent complete" value="10"></ids-progress-bar>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Rating -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Rating</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-rating value="4"></ids-rating>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Step Chart -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Step Chart</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="2" gap="md">
          <ids-layout-grid-cell>
            <ids-step-chart class="chart" label="7 of 7 steps completed" color="emerald06" step-number="7" value="7" progress-color="ruby02">
              <ids-alert slot="icon" icon="success"></ids-icon>
            </ids-step-chart>
            <ids-step-chart class="chart" label="2 of 7 steps completed" color="azure06" step-number="7" value="2">
            </ids-step-chart>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Tags -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Tags</ids-text><br>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-tag>Normal Tag</ids-tag>
            <ids-tag color="secondary">Secondary Tag</ids-tag>
            <ids-tag color="success">Success Tag</ids-tag>
            <ids-tag color="info">Info Tag</ids-tag>
            <ids-tag color="warning">Warning Tag</ids-tag>
            <ids-tag color="caution">Caution Tag</ids-tag>
            <ids-tag color="error">Error Tag</ids-tag>
            <ids-tag clickable="true" id="ids-clickable-tag">Clickable Tag
              <ids-icon icon="caret-right" size="xsmall"></ids-icon>
            </ids-tag>
            <ids-tag disabled>
              <span>Disabled Tag</span>
              <ids-icon icon="close" size="xsmall"</ids-icon>
            </ids-tag>
            <ids-tag color="secondary" dismissible="true" disabled>
              <span>Secondary Disabled Tag</span>
              <ids-icon icon="close" size="xsmall"</ids-icon>
            </ids-tag>
            <ids-tag dismissible="true">
                <span>Dismissible Tag 1</span>
                <ids-icon icon="close" size="xsmall" id="ids-closable-btn"></ids-icon>
            </ids-tag>
            <ids-tag dismissible="true">
                <span>Dismissible Tag 2</span>
            </ids-tag>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Toast -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h1">Toast</ids-text>
        </ids-layout-grid>

        <ids-layout-grid auto="true">
          <ids-layout-grid-cell>
            <ids-button id="btn-toast-demo" appearance="secondary">
              <span>Toast Message</span>
            </ids-button>
          </ids-layout-grid-cell>
        </ids-layout-grid>

        <!-- Toggle Button -->
        <ids-layout-grid auto="true">
          <ids-text font-size="12" type="h2">Toggle Button</ids-text>
        </ids-layout-grid>
        <ids-layout-grid cols="4" gap="md">
          <ids-layout-grid-cell>
            <ids-toggle-button
              id="test-toggle-button"
              icon-on="star-filled"
              icon-off="star-outlined"
              text-off="Toggle Button (Off)"
              text-on="Toggle Button (On)"></ids-toggle-button>
          </ids-layout-grid-cell>
        </ids-layout-grid>

      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
