<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="16" hidden>
    <ids-layout-flex direction="column" gap="8" full-height>
      <ids-layout-flex-item>
        <ids-theme-switcher mode="light"></ids-theme-switcher>
      </ids-layout-flex-item>
      <ids-layout-flex-item>
        <ids-dropdown id="dropdown-themes" label="Themes" value="coreTheme">
          <ids-list-box>
            <ids-list-box-option value="coreTheme">Core (Light) Theme</ids-list-box-option>
            <ids-list-box-option value="darkTheme">Dark Theme</ids-list-box-option>
            <ids-list-box-option value="contrastTheme">Contrast Theme</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>
      </ids-layout-flex-item>
      <ids-layout-flex-item grow="1" overflow="hidden">
        <ids-data-grid
          id="data-theme"
          suppress-tooltips="true"
          row-selection="single"
          tree-grid="true"
          auto-fit="true"
          virtual-scroll="true"
          row-height="md"
        ></ids-data-grid>
      </ids-layout-flex-item>
    </ids-layout-flex>
  </ids-container>
</body>
</html>
