<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Ids Switch</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-switch label="Allow notifications" checked="true"></ids-switch>
        <ids-switch label="Allow my profile to be searched"></ids-switch>

        <ids-switch label="Automatically approve requests" disabled="true"></ids-switch>
        <ids-switch label="Allow connections" checked="true" disabled="true"></ids-switch>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
