<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Switch</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-switch label="Allow notifications" checked="true"></ids-switch>
        <ids-switch label="Allow my profile to be searched"></ids-switch>

        <ids-switch label="Automatically approve requests" disabled="true"></ids-switch>
        <ids-switch label="Allow connections" checked="true" disabled="true"></ids-switch>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">4.x Switch</ids-text>
    </ids-layout-grid>
    <div class="row">
      <div class="twelve columns">

        <div class="switch" id="switch-id-1" data-automation-id="switch-automation-id-1">
          <input type="checkbox" checked="true" id="allow-notifications" name="allow-notifications" class="switch" />
          <label for="allow-notifications">Allow notifications</label>
        </div>

        <div class="switch" id="switch-id-2" data-automation-id="switch-automation-id-2">
          <input type="checkbox" id="searched" name="searched" class="switch" />
          <label for="searched">Allow my profile to be searched</label>
        </div>

        <div class="switch" id="switch-id-3" data-automation-id="switch-automation-id-3">
          <input type="checkbox" id="requests" name="requests" disabled="true" class="switch" />
          <label for="requests">Automatically approve requests</label>
        </div>

        <div class="switch" id="switch-id-4" data-automation-id="switch-automation-id-4">
          <input type="checkbox" checked="true" id="requests-on" name="requests-on" disabled="true" class="switch" />
          <label for="requests-on">Allow connections</label>
        </div>

      </div>
    </div>

    <script>
      $('body').initialize();
    </script>
  </ids-container>
</body>
</html>
