.ids-segmented-control {
  align-items: center;
  background-color: var(--ids-color-accent-gray-weaker);
  border-radius: var(--ids-border-radius-circle);
  display: inline-flex;
  gap: var(--ids-space-xxs);
  padding: var(--ids-space-xxs) var(--ids-space-xs);
}
