.ids-segmented-control {
  align-items: center;
  background-color: var(--ids-color-accent-neutral-weaker);
  border-radius: var(--ids-border-radius-circle);
  display: inline-flex;
  gap: var(--ids-space-2xs);
  padding: var(--ids-space-2xs) var(--ids-space-xs);
}
