@use '../../themes/mixins/ids-core-mixins' as mixins;
@import '../../themes/mixins/ids-clearable-mixin';
@import '../../themes/mixins/ids-dirty-tracker-mixin';
@import '../../themes/mixins/ids-label-state-mixin';
@import '../../themes/mixins/ids-validation-mixin';

// These input field sizes come from the design tokens and are adjusted
// here to account for 1px border size on top/bottom or left/right in some calculations.
$border-input-size-xs: calc(var(--ids-input-width-10) - 2px);
$border-input-size-sm: calc(var(--ids-input-width-20) - 2px);
$border-input-size-md: calc(var(--ids-input-width-40) - 2px);
$border-input-size-mm: calc(var(--ids-input-width-30) - 2px);
$border-input-size-lg: calc(var(--ids-input-width-50) - 2px);
$border-input-field-height-xs: calc(var(--ids-input-height-10) - 2px);
$border-input-field-height-sm: calc(var(--ids-input-height-20) - 2px);
$border-input-field-height-md: calc(var(--ids-input-height-30) - 2px);
$border-input-field-height-lg: calc(var(--ids-input-height-40) - 2px);
$input-size-full: 100%;

// Mixin for message styles: [alert, error, info, success]
@mixin ids-input-message-styles {
  .alert,
  .alert:hover,
  .warning,
  .warning:hover  {
    border-color: var(--ids-input-color-border-alert-default);
    color: var(--ids-input-color-text-alert-default);

    &:focus-within,
    &.is-active {
      border-color: var(--ids-input-color-border-alert-default);
      box-shadow: var(--ids-input-shadow-alert-focus) 0 0 3px 2px;
    }

    &[disabled] {
      border-color: var(--ids-input-color-border-alert-disabled);
      color: var(--ids-input-color-text-alert-disabled);
    }
  }

  .error,
  .error:hover {
    border-color: var(--ids-input-color-border-error-default);
    color: var(--ids-input-error-color-text-error-default);

    &:focus-within,
    &.is-active {
      border-color: var(--ids-input-color-border-error-default);
      box-shadow: var(--ids-input-color-shadow-error-focus) 0 0 3px 2px;
    }

    &[disabled] {
      border-color: var(--ids-input-color-border-error-disabled);
      color: var(--ids-input-color-border-error-disabled);
    }
  }

  .info,
  .info:hover {
    border-color: var(--ids-input-color-border-info-default);
    color: var(--ids-input-color-text-info-default);

    &:focus-within,
    &.is-active {
      border-color: var(--ids-input-color-border-info-default);
      box-shadow: var(--ids-input-shadow-info-focus)  0 0 3px 2px;
    }

    &[disabled] {
      border-color: var( --ids-input-color-border-info-disabled);
      color: var(--ids-input-color-text-info-disabled);
    }
  }

  .success,
  .success:hover {
    border-color: var(--ids-input-color-border-success-default);
    color: var(--ids-input-color-text-success-default);

    &:focus-within,
    &.is-active {
      border-color: var(--ids-input-color-border-success-default);
      box-shadow: var(--ids-input-shadow-success-focus) 0 0 3px 2px;
    }

    &[disabled] {
      border-color: var(--ids-input-color-border-success-disabled);
      color: var(--ids-input-color-text-success-disabled);
    }
  }
}

// Mixin for label wrap ellipsis
@mixin ids-input-label-wrap-ellipsis {
  .ids-label-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.required {
      padding-inline-end: 8px;

      &::after {
        display: block;
        margin-top: unset;
        margin-inline-start: 100%;
        top: -8px;
      }
    }
  }
}

/* stylelint-disable */
// Function to calculate width subtract pad
@function ids-input-size-with-pad($width, $pad: 8px) {
  @return calc($width - $pad);
}
/* stylelint-enable */

// Mixin for label wrap no-stretch
@mixin ids-input-label-wrap-no-stretch {
  .xs .ids-label-text {
    max-width: $border-input-size-xs;
  }

  .sm .ids-label-text {
    max-width: ids-input-size-with-pad($border-input-size-sm);
  }

  .mm .ids-label-text {
    max-width: ids-input-size-with-pad($border-input-size-mm);
  }

  .md .ids-label-text {
    max-width: ids-input-size-with-pad($border-input-size-md);
  }

  .lg .ids-label-text {
    max-width: ids-input-size-with-pad($border-input-size-lg);
  }

  .full .ids-label-text {
    max-width: ids-input-size-with-pad($input-size-full);
  }
}

/* in case of external label in compound component */
.ids-label-text {
  @include mixins.antialiased();

  font-family: var(--ids-font-family-default);
  color: var(--ids-input-label-color-text-default);
  display: flex;
  margin-block-end: var(--ids-input-margin-bottom);
  align-items: baseline;

  // Ability to center label from parent element
  justify-content: inherit;

  // Simulate standard label text size while empty with a non-breaking space
  &.empty {
    &::before {
      content: '\00a0';
    }
  }

  &.required {
    &::after {
      position: relative;
      font-family: var(--ids-font-family-default);
      margin-inline-start: var(--ids-space-20);
      margin-inline-end: var(--ids-space-20);
      font-size: var(--ids-font-size-50);
      color: var(--ids-input-required-indicator-color-text-default);
      content: '*';
      margin-top: -10px;
      top: 1px;

      // Adding it so "*" sign doesn't change label text height
      line-height: 0;
    }

    &.no-required-indicator::after,
    &.empty::after {
      content: '';
    }
  }

  ids-text::part(text),
  .ids-text {
    display: inline;
  }
}

.disabled {
  .ids-label-text {
    color: var(--ids-color-text-disabled);

    &.required::after {
      color: var(--ids-input-required-indicator-color-text-disabled);
    }
  }
}

@mixin input-extra-small-height($h: $border-input-field-height-xs) {
  margin-block-end: var(--ids-font-size-20);

  .ids-label-text {
    font-size: var(--ids-input-label-font-size);
  }

  .ids-input-field {
    padding-inline-start: var(--ids-space-30);
    padding-inline-end: var(--ids-space-30);
    padding-top: 0;
    padding-bottom: 0;
    font-size: var(--ids-input-font-size-sm);
    height: $h;
  }
}

:host {
  display: block;
  max-width: var(--ids-input-width-full);

  .ids-input {
    display: inline-block;
  }
}

:host([size='full']) {
  width: 100%;
}

:host([label-wrap='ellipsis']) {
  @include ids-input-label-wrap-ellipsis();
}

:host([label-wrap='ellipsis-no-stretch']) {
  @include ids-input-label-wrap-ellipsis();
  @include ids-input-label-wrap-no-stretch();
}

:host([label-wrap='wrap-no-stretch']) {
  @include ids-input-label-wrap-no-stretch();
}

.ids-input {
  position: relative;
  display: block;
  margin-block-end: var(--ids-space-60);
  max-width: var(--ids-input-width-full);

  // Applied to the wrapper element that wraps the input and other interactable elements
  .field-container {
    transition: border var(--ids-motion-duration) var(--ids-motion-ease);
    margin: var(--ids-space-none);
    padding: var(--ids-space-none);
    position: relative;
    border: 1px solid;
    align-items: center;
    border-collapse: separate;
    border-radius: 2px;
    color: inherit;
    display: flex;
    resize: none;
    text-align: left;
    max-width: var(--ids-input-width-full);
  }

  &:focus-within,
  &.readonly:focus-within,
  &.is-active {
    .ids-input-field {
      outline: none;
      outline-color: transparent;
    }

    .field-container {
      border-color: var(--ids-input-color-border-focus) !important;
      box-shadow: var(--ids-shadow-focus);
    }
  }

  .ids-icon.starting-icon {
    margin-inline-start: var(--ids-space-40);
  }

  .ids-icon.ending-icon {
    margin-inline-end: var(--ids-space-40);
  }

  // Applied to the shadow root's HTMLInputElement
  .ids-input-field {
    @include mixins.antialiased();

    box-sizing: border-box;
    background-color: transparent;
    border: none;
    font-family: var(--ids-font-family-default);
    padding-block-start: var(--ids-space-30);
    padding-block-end: var(--ids-space-30);
    padding-inline-start: var(--ids-space-40);
    padding-inline-end: var(--ids-space-40);
    font-size: var(--ids-input-font-size);
    width: 100%;

    &:focus-visible {
      outline: none;
    }

    appearance: none;
    color: currentColor;
    display: inline-block;
    height: fit-content;
    resize: none;
    text-align: left;

    &.text-ellipsis {
      text-overflow: ellipsis;
    }

    // input text-align: [start, center, end]
    &.start {
      text-align: start;
    }

    &::placeholder {
      color: var(--ids-input-color-text-placeholder);
    }

    &.center {
      text-align: center;
    }

    &.end {
      text-align: end;
    }
  }

  // Validation Messages are appended beneath the `.field-container`
  .validation-message {
    margin-block-start: var(--ids-space-30);
    margin-bottom: 0;
  }

  // If `no-margins` is used:
  // - margins are removed from component top/bottom
  // - labels are visually hidden instead of displaying blank content for spacing
  &.no-margins,
  &.no-margins.compact {
    margin: 0;

    &.field-height-xs {
      margin-block-end: 0;
    }

    .field-container {
      margin-bottom: 0;
    }

    .ids-input-field {
      margin: 0;
    }

    // Reverse the margins on `ids-input[no-margins]` fields to have the bottom margin on top
    .validation-message {
      margin-bottom: 0;
      margin-block-start: var(--ids-space-30);
    }

    .ids-label-text {
      &.empty {
        margin: 0;
        visibility: hidden;
        height: 0;
      }
    }
  }

  // input sizes: [xs, sm, mm, md, lg, full]
  // Subtracting 2 takes into account that the width includes the `.field-container` border on both sides.
  &.xs .field-container {
    width: $border-input-size-xs;
  }

  &.sm .field-container {
    width: $border-input-size-sm;
  }

  &.mm .field-container {
    width: $border-input-size-mm;
  }

  &.md .field-container {
    width: $border-input-size-md;
  }

  &.lg .field-container {
    width: $border-input-size-lg;
  }

  &.full {
    display: block;

    .field-container {
      width: var(--ids-input-width-full);
    }
  }

  @media (max-width: mixins.$breakpoint-xs) {
    .field-container {
      max-width: $border-input-size-mm;
    }
  }

  // input field-heights: [xs, sm, md, lg]
  // Subtracting 2 takes into account that the width includes the `.field-container` border on both sides.
  &.field-height-xs {
    @include input-extra-small-height();

    &.no-margin-bottom {
      margin-bottom: 0;

      .field-container,
      .ids-input-field {
        margin-bottom: 0;
      }
    }
  }

  &.field-height-sm .ids-input-field {
    height: $border-input-field-height-sm;
  }

  &.field-height-md .ids-input-field {
    height: $border-input-field-height-md;
  }

  &.field-height-lg .ids-input-field {
    height: $border-input-field-height-lg;
  }

  // input compact
  &.compact {
    @include input-extra-small-height($border-input-field-height-xs);

    &.no-margin-bottom {
      margin-bottom: 0;

      .field-container,
      .ids-input-field {
        margin-bottom: 0;
        height: $border-input-field-height-xs;
      }
    }
  }

  // Data Grid Variants

  // Flush/Invisible Variant (used in IdsDataGrid cell editing)
  &.color-variant-borderless {
    --ids-input-color-border-focus: transparent;

    margin: 1px;
    border-radius: 0;

    input {
      font-size: var(--ids-font-size-40);
    }

    .icon-dirty {
      display: none;
    }

    .validation-message {
      display: none;
    }

    .field-container {
      background-color: transparent;
      border-color: transparent !important;
    }

    &:focus-within .field-container {
      box-shadow: none;
    }

    &.ids-input.field-height-lg .ids-input-field {
      padding-inline: calc(var(--ids-space-60) - 2px);
    }

    &.ids-input.field-height-md .ids-input-field {
      padding-inline: calc(var(--ids-space-50) - 2px);
    }

    &.ids-input.field-height-sm .ids-input-field {
      padding-inline: calc(var(--ids-space-40) - 2px);
    }

    &.ids-input.field-height-xs .ids-input-field {
      font-size: var(--ids-data-grid-font-size-sm);
      padding-inline: var(--ids-space-20);
    }

    &.ids-input.field-height-xxs .ids-input-field {
      font-size: var(--ids-data-grid-font-size-sm);
      padding-inline: var(--ids-space-10);
    }
  }

  // Flush/Invisible Variant (used in IdsDataGrid inline cell editing)
  &.color-variant-in-cell {
    margin: 1px;

    input {
      font-size: var(--ids-font-size-40);
    }

    &.ids-input.field-height-lg .ids-input-field {
      padding-inline: 11px;
      height: 40px;
    }

    &.ids-input.full .field-container {
      margin-inline: 3px;
      width: initial;
    }

    &.ids-input.field-height-md .ids-input-field {
      padding-inline: 6px;
      height: 30px;
    }

    &.ids-input.field-height-sm .ids-input-field {
      padding-inline: 4px;
      height: 27px;
    }

    &.ids-input.field-height-sm.full .field-container {
      margin-inline: 2px;
    }

    &.ids-input.field-height-xs .ids-input-field {
      padding-inline: 1px;
      height: 24px;
    }

    &.ids-input.field-height-xs.full .field-container {
      margin-inline: 1px;
    }
  }

  // Module Nav color variant
  // (used in IdsDropdown/IdsSearchField located inside IdsModuleNav)
  &.color-variant-module-nav {
    margin-block-end: 0;
    transform: background-color var(--ids-motion-duration) var(--ids-motion-ease),
      border-color var(--ids-motion-duration) var(--ids-motion-ease),
      color var(--ids-motion-duration) var(--ids-motion-ease);

    .field-container {
      border-radius: var(--ids-module-nav-common-border-radius);
      border: var(--ids-module-nav-input-border-width) solid transparent;
    }

    input {
      background-color: transparent;
      color: inherit;

      &::placeholder {
        color: var(--ids-module-nav-search-input-placeholder-text-color);
      }

      &:active {
        color: var(--ids-module-nav-search-input-text-color);
      }
    }

    &:not([class*="field-height-"]) {
      height: var(--ids-module-nav-search-wrapper-height);

      input {
        height: var(--ids-module-nav-search-input-height);
      }
    }

    &:hover:not(.readonly):not(.disabled) {
      .field-container {
        background-color: var(--ids-module-nav-item-hover-bg-color);
      }
    }

    &:focus-within {
      .field-container {
        background-color: var(--ids-module-nav-input-bg-color);
        border-color: var(--ids-module-nav-item-selected-text-color);
      }
    }
  }

  // =======================================================
  // Color Styles


  &:not([class*='color-variant-']) {
    /* stylelint-disable-next-line no-duplicate-selectors */
    .field-container {
      background-color: var(--ids-input-color-background-default);
      border-color: var(--ids-input-color-border-default);
      color: var(--ids-input-color-text);
    }

    &.readonly {
      .field-container,
      &.hover .field-container,
      &.focus-within .field-container {
        border-color: var(--ids-input-color-border-readonly);
        color: var(--ids-input-color-text-readonly);

        &.error,
        &.error:hover {
          border-color: var(--ids-color-error-default);
          color: var(--ids-color-error-default);
        }
      }

      &:not(.readonly-background):not(.bg-transparent) {
        .field-container,
        &.hover .field-container,
        &.focus-within .field-container {
          background-color: var(--ids-input-color-background-readonly);
        }
      }
    }

    &.disabled {
      .field-container,
      &:hover .field-container,
      &:focus-within .field-container {
        border-color: var(--ids-input-color-border-disabled);
        color: var(--ids-input-color-text-disabled);

        // Safari input text color
        -webkit-text-fill-color: var(--ids-input-color-text-disabled);
      }
    }

    &.bg-transparent {
      .field-container,
      &.readonly .field-container,
      &.disabled .field-container {
        background-color: transparent;
      }

      &:focus-within {
        .field-container {
          background-color: transparent;
        }
      }
    }

    &:hover:not(.readonly):not(.disabled),
    &:hover.readonly.readonly-background {
      .field-container {
        border-color: var(--ids-input-color-border-hover);
      }

      // Include error styles
      @include ids-input-message-styles();
    }

    &:hover:not(.disabled).readonly.readonly-background.color-variant-alternate-formatter {
      .field-container {
        border-color: var(--ids-data-grid-filter-input-color-background-hover);
      }
    }

    // Include error styles
    @include ids-input-message-styles();
  }

  // Alternate Color Variant (used in IdsHeader - Search)
  /* stylelint-disable-next-line no-duplicate-selectors */
  &.color-variant-alternate {
    .field-container {
      border-color: transparent;
      color: var(--ids-input-header-color-text-default);
      background-color: var(--ids-input-header-color-background);
      border-bottom: 1px solid var(--ids-input-header-color-border);
      box-shadow: none;
    }

    .ids-input-field::placeholder {
      color: var(--ids-input-header-color-text-placeholder);
    }
  }

  // Alternate-formatter Color Variant (used in IdsDataGrid filter)
  &.color-variant-alternate-formatter {
    .field-container {
      background-color: var(--ids-data-grid-filter-input-color-background);
      border-color: var(--ids-data-grid-filter-input-color-border-default);
      color: var(--ids-data-grid-filter-input-color-text-default);
    }

    &:hover.readonly.readonly-background,
    &:hover:not(.readonly):not(.disabled) {
      .field-container {
        border-color: var(--ids-data-grid-filter-input-color-background-hover);
      }
    }

    &:focus-within {
      .field-container,
      &:hover .field-container {
        border-color: var(--ids-data-grid-filter-input-color-border-focus);
      }

      .ids-input-field {
        box-shadow: 0 0 3px 1px var(--ids-shadow-focus);
      }
    }

    &.disabled
    &.disabled:hover {
      .field-container {
        border-color: var(--ids-data-grid-filter-input-color-border-disabled);
        color: var(--ids-data-grid-filter-input-color-text-disabled);
      }
    }

    &.readonly:not(.readonly-background):not(.bg-transparent) .field-container {
      background-color: var(--ids-data-grid-filter-input-color-background-readonly);
      border-color: var(--ids-data-grid-filter-input-color-border-readonly);
      color: var(--ids-data-grid-filter-input-color-text-readonly);
    }

    .ids-input-field::placeholder {
      color: var(--ids-data-grid-filter-input-color-text-placeholder);
    }
  }

  // App Menu
  &.color-variant-alternate,
  &.color-variant-app-menu {
    .field-container {
      color: var(--ids-input-color-text-default);
    }
  }

  // List Builder
  &.color-variant-list-builder {
    .field-container {
      background-color: transparent;
      color: var(--ids-list-builder-input-text-color);
      border: 0;
    }
  }

  // Module Nav
  /* stylelint-disable-next-line no-duplicate-selectors */
  &.color-variant-module-nav {
    color: var(--ids-module-nav-search-input-text-color);

    /* stylelint-disable-next-line no-duplicate-selectors */
    .field-container {
      background-color: transparent;
      border-color: transparent;
      color: inherit;
    }

    .ids-input-field {
      background-color: transparent;
      color: inherit;

      &::placeholder {
        color: var(--ids-module-nav-search-input-placeholder-text-color);
      }

      &:active {
        color: var(--ids-module-nav-search-input-text-color);
      }
    }

    &:focus-within,
    &.readonly:focus-within
    &.is-active {
      .field-container {
        background-color: var(--ids-module-nav-input-bg-color);
        box-shadow: none;
      }

      .ids-input-field::placeholder {
        color: var(--ids-module-nav-search-input-focused-placeholder-text-color);
      }

      .ids-input-field {
        color: var(--ids-module-nav-input-text-color);
      }
    }

    &:hover {
      .ids-input-field::placeholder {
        color: var(--ids-module-nav-search-input-placeholder-text-color);
      }

      .ids-input-field {
        color: var(--ids-module-nav-input-text-color);
      }
    }
  }
}

.caps-lock-indicator {
  padding-inline-start: 8px;
  padding-inline-end: 8px;
}

.is-uppercase {
  text-transform: uppercase;
}

.highlight {
  font-weight: var(--ids-font-weight-bold);
}

.ids-input-field[type='number']::-webkit-inner-spin-button,
.ids-input-field[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

// Remove Safari caps lock icon
.ids-input-field::-webkit-caps-lock-indicator {
  visibility: hidden;
}

// Autocomplete dropdown menu sizes
:host ids-popup[type='dropdown'] {
  width: 100%;
  max-width: var(--ids-input-width-40);
}

:host([size='xs']) ids-popup[type='dropdown'] {
  max-width: var(--ids-input-width-10);
}

:host([size='sm']) ids-popup[type='dropdown'] {
  max-width: var(--ids-input-width-20);
}

:host([size='mm']) ids-popup[type='dropdown'] {
  max-width: var(--ids-input-width-30);
}

:host([size='md']) ids-popup[type='dropdown'] {
  max-width: var(--ids-input-width-40);
}

:host([size='lg']) ids-popup[type='dropdown'] {
  max-width: var(--ids-input-width-50);
}

:host([size='full']) ids-popup[type='dropdown'] {
  max-width: var(--ids-input-width-full);
}

// Loading Indicator
:host(:not([show-loading-indicator='true'])) {
  ::slotted(.slot-loading-indicator) {
    display: none;
  }
}

:host([show-loading-indicator='true']) {
  pointer-events: none;

  ::slotted(ids-loading-indicator) {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  ::slotted(ids-trigger-button[slot='trigger-end']) {
    display: none;
  }

  ::slotted(.slot-loading-indicator) {
    margin-inline-end: 12px;
    margin-inline-start: 8px;
  }
}

:host([show-loading-indicator='true'][field-height='xs']) {
  ::slotted(.slot-loading-indicator) {
    margin-inline-start: 4px;
    margin-inline-end: 4px;
  }
}

:host([show-loading-indicator='true'][field-height='sm']) {
  ::slotted(.slot-loading-indicator) {
    margin-inline-end: 8px;
    margin-inline-start: 4px;
  }
}

::slotted(.audible) {
  @include mixins.audible();
}
