@import '../ids-base/ids-base';

.ids-upload {
  position: relative;

  .ids-upload-filetype {
    font-size: 24px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .btn-clear .ids-icon {
    margin-left: 32px;
  }
}
