@import '../ids-base/ids-base';
@import '../ids-base/ids-clearable-mixin';
@import '../ids-base/ids-dirty-tracker-mixin';
@import '../ids-base/ids-validation-mixin';

// Field Sizes
$input-size-xs: 75px;
$input-size-sm: 150px;
$input-size-mm: 225px;
$input-size-md: 300px;
$input-size-lg: 400px;
$input-size-full: 100%;

// Set default size
$input-size-default: $input-size-md;

:host {
  @include block();
  @include mb-16();
}

.ids-input-label {
  @include antialiased();
  @include text-slate-60();
  @include mb-4();

  align-items: baseline;
  display: flex;

  &.required {
    &::after {
      @include relative();
      @include font-sans();
      @include mx-2();
      @include text-20();
      @include text-alert-danger();

      content: '*';
      margin-top: -10px;
      top: 1px;
    }

    &.disabled::after {
      @include text-ruby-30();
    }

    &.no-required-indicator::after {
      content: '';
    }
  }

  &.disabled {
    @include text-slate-30();
  }
}

.ids-input-field {
  @include antialiased();
  @include bg-white();
  @include box-border();
  @include border-1();
  @include border-slate-40();
  @include border-solid();
  @include mb-4();
  @include p-8();
  @include rounded-default();
  @include text-14();
  @include text-black();

  -webkit-appearance: none;
  border-collapse: separate;
  border-radius: 2px;
  display: inline-block;
  height: 38px;
  max-width: 100%;
  resize: none;
  text-align: left;
  width: $input-size-default;

  &:hover {
    @include border-slate-90();
  }

  &:focus {
    @include border-azure-60();
    @include shadow();

    outline: none;
    outline-color: transparent;
  }

  &[disabled] {
    @include border-slate-30();
    @include text-slate-30();
  }

  &[readonly] {
    @include bg-slate-20();
    @include border-1();
    @include border-solid();
    @include border-slate-40();
    @include rounded-default();
    @include text-black();

    padding-bottom: 9px;
    padding-top: 9px;
  }

  &.has-triggerfield {
    @include pr-32();
  }

  // input text-align: [left, center, right]
  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  // input sizes: [xs, sm, mm, md, lg, full]
  &.xs {
    width: $input-size-xs;
  }

  &.sm {
    width: $input-size-sm;
  }

  &.mm {
    width: $input-size-mm;
  }

  &.md {
    width: $input-size-md;
  }

  &.lg {
    width: $input-size-lg;
  }

  &.full {
    width: $input-size-full;
  }

  // input message: [alert, error, info, success]
  &.alert,
  &.alert:hover {
    @include border-alert-warning();
    @include text-alert-warning();

    &:focus {
      @include border-alert-warning();

      box-shadow: rgba(249, 131, 0, 0.3) 0 0 3px 2px;
    }

    &[disabled] {
      @include border-amber-30();
      @include text-amber-30();
    }
  }

  &.error,
  &.error:hover {
    @include border-alert-danger();
    @include text-alert-danger();

    &:focus {
      @include border-alert-danger();
      @include shadow-error();
    }

    &[disabled] {
      @include border-ruby-30();
      @include text-ruby-30();
    }
  }

  &.info,
  &.info:hover {
    @include border-alert-info();
    @include text-alert-info();

    &:focus {
      @include border-alert-info();

      box-shadow: rgba(0, 102, 212, 0.3) 0 0 3px 2px;
    }

    &[disabled] {
      @include border-azure-30();
      @include text-azure-30();
    }
  }

  &.success,
  &.success:hover {
    @include border-alert-success();
    @include text-alert-success();

    &:focus {
      @include border-alert-success();

      box-shadow: rgba(42, 195, 113, 0.3) 0 0 3px 2px;
    }

    &[disabled] {
      @include border-emerald-30();
      @include text-emerald-30();
    }
  }
}
