@use 'sass:list';
@import '../../core/ids-base';

$image-sizes: (
  'sm': (60px, 60px),
  'md': (154px, 120px),
  'lg': (300px, 350px),
);

$user-statuses: (
  'available': var(--ids-color-status-success),
  'away': var(--ids-color-status-caution),
  'busy': var(--ids-color-status-danger),
  'do-not-disturb': var(--ids-color-status-danger),
  'unknown': var(--ids-color-palette-slate-30)
);

:host {
  display: inline-block;
  max-width: 100%;
}

// set size
@each $key, $value in $image-sizes {
  :host([size='#{$key}']) {
    .ids-image {
      width: list.nth($value, 1);
      height: list.nth($value, 2);
    }
  }
}

// focus state
:host(:focus-visible) {
  outline: none;
}

:host([mode='light']:focus),
:host([mode='light']:focus-visible) {
  .ids-image {
    @include border-azure-60();

    box-shadow: 0 0 4px 3px rgba(54 138 192 / 0.3);
  }
}

:host([mode='dark']:focus),
:host([mode='dark']:focus-visible) {
  .ids-image {
    @include border-azure-60();

    box-shadow: 0 0 4px 2px rgba(141 201 230 / 0.3);
  }
}

:host([mode='contrast']:focus),
:host([mode='contrast']:focus-visible) {
  .ids-image {
    @include border-azure-90();

    box-shadow: 0 0 4px 2px rgba(41 41 41 / 0.3);
  }
}

// theme mode
:host([mode='light']) {
  .placeholder {
    @include border-slate-20();

    ids-icon {
      @include text-slate-80();
    }
  }
}

:host([mode='dark']) {
  .placeholder {
    @include border-slate-40();

    ids-icon {
      @include text-slate-40();
    }
  }
}

:host([mode='contrast']) {
  .placeholder {
    @include border-slate-40();

    ids-icon {
      @include text-slate-90();
    }
  }
}

// round attribute
:host([round='true']) {
  .ids-image {
    @include rounded-round();

    width: 50px;
    height: 50px;
  }
}

// user-status attribute
:host([user-status]) {
  @include relative();
}

.ids-image {
  @include box-border();
  @include border-solid();
  @include border-1();
  @include border-transparent(); // to prevent jump on focus

  max-width: 100%;
  height: auto;

  // img only related
  &:not(.placeholder):not(.initials) {
    @include block();

    object-fit: cover;
  }

  &.placeholder,
  &.initials {
    @include w-full();
    @include h-full();
    @include inline-flex();

    align-items: center;
    justify-content: center;
  }

  &.placeholder {
    @include bg-white();

    min-width: 50px;
    min-height: 50px;
  }

  &.initials {
    @include bg-amethyst-50();
    @include text-white();
    @include text-uppercase();
  }

  .audible {
    @include audible();
  }
}

.user-status {
  @include absolute();

  width: 18px;
  height: 18px;
  right: -1px;
  bottom: -3px;

  // icon color
  @each $key, $value in $user-statuses {
    &.#{$key} {
      color: $value;
    }
  }

  // background for svg
  &::after {
    @include absolute();
    @include rounded-round();
    @include bg-white();

    content: '';
    width: 16px;
    height: 16px;
    left: 1px;
    top: 1px;
  }

  ids-icon {
    @include z-1();
  }
}
