@use '../../themes/mixins/ids-core-mixins' as mixins;
@use 'sass:list';

$image-sizes: (
  'sm': (60px, 60px),
  'md': (154px, 120px),
  'lg': (300px, 350px),
);

:host {
  display: inline-block;
  max-width: 100%;
}

// set size
@each $key, $value in $image-sizes {
  :host([size='#{$key}']) .ids-image,
  .ids-image.#{$key} {
    width: list.nth($value, 1);
    height: list.nth($value, 2);
  }
}

// focus state
:host(:focus-visible) {
  outline: none;
}

:host(:focus),
:host(:focus-visible) {
  .ids-image {
    border-color: var(--ids-image-color-border-focus);
    box-shadow: var(--ids-image-shadow-focus);
  }
}

// normal
:host .placeholder,
.ids-image.placeholder {
  border-color: var(--ids-image-color-border-default);

  ids-icon {
    color: var(--ids-image-color-text);
  }
}

// round attribute
:host([round='true']) .ids-image,
.ids-image.round {
  border-radius: var(--ids-image-initials-border-radius);
  min-width: 50px;
  max-width: 50px;
  width: 50px;
  height: 50px;
}

// user-status attribute
:host([user-status]),
.user-status-wrapper {
  position: relative;
}

:host([disabled]) {
  .ids-image {
    opacity: 0.5;
  }
}

.ids-image {
  box-sizing: border-box;
  border: 1px solid transparent;
  max-width: 100%;
  height: auto;

  // img only related
  &:not(.placeholder):not(.initials) {
    display: block;
    object-fit: cover;
  }

  &.placeholder {
    align-items: center;
    display: inline-flex;
    background-color: var(--ids-image-placeholder-color-background);
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
  }

  &.initials {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    background-color: var(--ids-image-initials-color-background);
    color: var(--ids-color-neutral-00);
    text-transform: uppercase;
  }

  .audible {
    @include mixins.audible();
  }
}

.user-status {
  position: absolute;
  width: 18px;
  height: 18px;
  right: -1px;
  bottom: -3px;

  // icon colors
  &.available {
    color: var(--ids-image-status-available-color-background);
  }

  &.busy,
  &.do-not-disturb {
    color: var(--ids-image-status-busy-color-background);
  }

  &.away {
    color: var(--ids-image-status-away-color-background);
  }

  &.unknown {
    color: var(--ids-image-status-unknown-color-background);
  }

  // Draw a border and ring around the background color
  &::before {
    position: absolute;
    border-radius: var(--ids-border-radius-circle);
    background-color: var(--ids-color-neutral-00);
    content: '';
    width: 12px;
    height: 12px;
    left: 3px;
    top: 3px;
    z-index: 1;
  }

  &::after {
    position: absolute;
    border-radius: var(--ids-border-radius-circle);
    background-color: var(--ids-color-background-default);
    content: '';
    width: 16px;
    height: 16px;
    left: 1px;
    top: 1px;
  }

  ids-icon {
    z-index: 1;
  }
}

.user-status-wrapper .user-status {
  svg {
    border-radius: var(--ids-border-radius-circle);
    background-color: var(--ids-color-background-default);
  }

  position: unset;
  width: 18px;
  height: 18px;
  margin-left: 36px;
  margin-top: -18px;
}
