/* Ids Wizard Component */

.ids-wizard {
  padding-inline: 32px;
  margin-block: 8px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 64px;

  .steps {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 28px;
  }

  .step.clickable:focus .step-label {
    border: 1px solid var(--ids-wizard-step-color-default);
    border-radius: var(--ids-border-radius-01);
    box-shadow: var(--ids-shadow-focus);
    outline: none;
    outline-color: transparent;
  }

  .step:focus-visible {
    outline-style: none;
  }

  .step-label {
    border: 1px solid transparent;
    position: absolute;
    top: 24px;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
    padding: 2px 6px;
  }

  .step:not(:first-child):not(:last-child) .step-label {
    left: 50%;
    transform: translateX(-50%);
  }

  .step:first-child .step-label {
    left: -16px;
  }

  .step:last-child .step-label {
    right: -16px;
    text-align: right;
  }

  .step:not(.visited) .step-label {
    color: var(--ids-wizard-step-color-unvisited);
  }

  .step.visited .step-label {
    color: var(--ids-wizard-step-color-default);
  }

  .step:not(.clickable) .step-label {
    cursor: var(--ids-cursor-default);
  }

  .step.clickable:not(.current):hover .step-label {
    text-decoration: underline;
  }

  .step {
    position: relative;
    text-align: left;
    text-decoration: none;

    &.clickable {
      cursor: var(--ids-cursor-pointer);
    }

    .step-marker {
      position: relative;
      width: var(--ids-wizard-step-width);
      height: var(--ids-wizard-step-width);
      overflow: visible;
    }

    .step-marker > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: visible;
    }

    .step-marker > svg:nth-child(1) {
      width: var(--ids-wizard-step-width);
      height: var(--ids-wizard-step-width);
      fill: var(--ids-wizard-step-color-default);
      stroke: none;
      z-index: 2;
    }

    .step-marker > svg:nth-child(2) {
      width: calc(var(--ids-wizard-step-width) + 5px);
      height: calc(var(--ids-wizard-step-width) + 5px);
      fill: var(--ids-wizard-step-inner-border-color-border);
      stroke: var(--ids-wizard-step-color-default);
      stroke-width: 1px;
      z-index: 1;
    }
  }

  .path-segment {
    position: relative;
    height: 100%;
    flex-grow: 1;
  }

  .path-segment::before {
    background-color: var(--ids-wizard-step-color-unvisited);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    content: '';
  }

  .path-segment.visited::before {
    background-color: var(--ids-wizard-step-color-default);
  }

  .path-segment.from-prev {
    left: 0;
  }

  .path-segment.to-next {
    right: 0;
  }

  .step.current .step-label {
    font-weight: var(--ids-font-weight-semibold);
  }

  .step:not(.visited) {
    svg:first-child circle {
      fill: transparent;
      stroke: var(--ids-wizard-step-color-unvisited);
      stroke-width: 3px;
    }
  }
}
