@import '../../themes/mixins/ids-core-mixins';

// =================================================
// Base Drawer Styles

:host {
  display: block;
  position: fixed;
  transition: box-shadow var( --ids-transition-length) var(--ids-transition-ease), transform var( --ids-transition-length) var(--ids-transition-ease);
}

// =================================================
// Bottom Drawer Styles

:host([edge='bottom']) {
  bottom: 0;
  left: 0;
  right: 0;

  // Moves the drawer off the left-most edge
  transform: translateY(100%);
}

:host([edge='bottom'][visible]) {
  transform: translateY(0);
}

// =================================================
// Left Drawer Styles

:host([edge='start']:not([dir])) {
  bottom: 0;
  left: 0;
  top: 0;

  // Moves the drawer off the left-most edge
  transform: translateX(-100%);
}

:host([edge='start'][visible]) {
  transform: translateX(0);
}

// =================================================
// Left Drawer Styles (RTL)

:host([dir='rtl'][edge='start']) {
  bottom: 0;
  right: 0;
  top: 0;

  // Moves the drawer off the left-most edge
  transform: translateX(100%);
}

:host([dir='rtl'][edge='start'][visible]) {
  transform: translateX(0);
}

.ids-drawer {
  height: 100%;
  width: 100%;

  // =================================================
  // Type Styles

  &.type-action-sheet {
    background-color: var(--ids-drawer-action-sheet-background-color);
    box-shadow: var(--ids-drawer-action-sheet-box-shadow);
    color: var(--ids-drawer-action-sheet-text-color);
    padding: var(--ids-spacing-xlg);

    // temporary
    margin: 0 auto;
    max-height: 70vh;
    max-width: 480px;
    min-height: 150px;

    // Rounded top edges
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &.type-app-menu {
    background-color: var(--ids-drawer-app-menu-background-color);
    color: var(--ids-drawer-app-menu-text-color);

    // temporary
    min-width: 300px;

    ::slotted(ids-text) {
      color: inherit;
    }

    &.visible {
      box-shadow: var(--ids-drawer-app-menu-box-shadow);

      @media (min-width: $breakpoint-md) {
        box-shadow: none;
      }
    }
  }
}
