/* Ids Toast Component */
.ids-toast {
  .hidden {
    display: none;
  }

  .toast-container {
    display: inline-block;
    position: fixed;
    max-width: 60%;
    z-index: var(--ids-z-index-90);

    &.bottom-end {
      bottom: 8px;
      right: 8px;
    }

    &.bottom-start {
      bottom: 8px;
      left: 8px;
    }

    &.top-end {
      top: 8px;
      right: 8px;
    }

    &.top-start {
      top: 8px;
      left: 8px;
    }
  }
}

:host([dir='rtl']) {
  .toast-container {
    &.bottom-end {
      left: 8px;
      right: unset;
    }

    &.bottom-start {
      left: unset;
      right: 8px;
    }

    &.top-end {
      left: 8px;
      right: unset;
    }

    &.top-start {
      left: unset;
      right: 8px;
    }
  }
}
