/* Ids Toast Container Component */
@import '../../core/ids-base';

:host(ids-toast-message) {
  @include block();
}

.ids-toast-message {
  @include antialiased();
  @include bg-white();
  @include box-border();
  @include border-1();
  @include border-slate-30();
  @include border-solid();
  @include font-sans();
  @include rounded-default();
  @include text-16();
  @include text-slate-100();

  outline: 0;

  &.audible {
    @include audible();
  }

  &.effect-scale {
    @include animation(animScale 0.25s);
  }

  &.effect-scale-hide {
    @include animation(animScaleOut 0.25s);
  }

  .main-container {
    @include flex();

    .content-container {
      @include mb-12();
      @include mt-16();
      @include pb-1();

      flex-grow: 1;
      margin-inline-start: 12px;
    }

    .close-button-container {
      flex-grow: 0;
    }
  }

  .title {
    @include block();
    @include font-bold();
  }

  .message {
    @include block();
    @include mt-8();
  }

  .close-button::part(button) {
    margin-left: auto;
  }

  .progress-bar {
    @include bg-azure-60();
    @include w-full();

    height: 3px;
    overflow: hidden;
  }

  &[mode='dark'] {
    @include bg-slate-70();
    @include border-slate-50();
    @include text-white();
  }

  &[mode='contrast'] {
    .progress-bar {
      @include bg-azure-90();
    }
  }
}

// Toast Animation
@include keyframes(animScale) {
  0% {
    @include transform(translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1));
    @include bg-opacity-0();
  }

  100% {
    @include transform(translate3d(0, 0, 0) scale3d(1, 1, 1));
    @include bg-opacity-100();
  }
}

@include keyframes(animScaleOut) {
  0% {
    @include transform(translate3d(0, 0, 0) scale3d(1, 1, 1));
    @include bg-opacity-100();
  }

  100% {
    @include transform(translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1));
    @include bg-opacity-0();
  }
}
