/* Ids Toast Container Component */
@use '../../themes/mixins/ids-core-mixins' as mixins;

:host(ids-toast-message) {
  --toast-message-duration: 6000ms;

  display: block;
}

.ids-toast-message {
  @include mixins.antialiased();

  background-color: var(--ids-toast-color-background);
  box-sizing: border-box;
  border: 1px solid var(--ids-toast-color-border);
  border-radius: var(--ids-border-radius-01);
  color: var(--ids-toast-color-text);
  font-family: var(--ids-font-family-default);
  font-size: var(--ids-font-size-40);
  outline: 0;

  &.audible {
    @include mixins.audible();
  }

  &.effect-scale {
    animation: animScale 0.25s;
  }

  &.effect-scale-hide {
    animation: animScaleOut 0.25s;
  }

  .main-container {
    display: flex;

    .content-container {
      margin-block-end: var(--ids-space-50);
      margin-block-start: var(--ids-space-60);
      margin-inline-start: var(--ids-space-50);
      padding-block-end: var(--ids-space-10);
      flex-grow: 1;
    }

    .close-button-container {
      flex-grow: 0;
      margin: var(--ids-space-10);
    }
  }

  .title {
    display: block;
    font-weight: var(--ids-font-weight-semibold);
  }

  .message {
    display: block;
    margin-block-start: var(--ids-space-40);
  }

  .close-button::part(button) {
    margin-left: auto;
  }

  .progress-bar {
    background-color: var(--ids-toast-progress-color-background);
    height: 3px;
    overflow: hidden;
    width: 0;

    &.running {
      animation: progressBarUpdate;
      animation-play-state: running;
      animation-duration: var(--toast-message-duration);
      animation-timing-function: linear;

      &.paused {
        animation-play-state: paused;
      }
    }

    &.hidden {
      height: 0;
    }
  }
}

// "Appear" Animation
@keyframes animScale {
  0% {
    transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    opacity: 1;
  }
}

// "Disappear" Animation
@keyframes animScaleOut {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
    opacity: 0;
  }
}

// Progress bar countdown animation
@keyframes  progressBarUpdate {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
