// General Dirty-Tracker icon placement
.icon-dirty {
  position: absolute;
  color: var(--ids-color-yellow-30);
  top: 1px;

  &[dir='rtl'] {
    transform: rotate(90deg);
    top: 0;
  }
}

// Color picker
.ids-color-picker .icon-dirty {
  margin-inline-start: 35px;
}

.ids-color-picker.compact .icon-dirty {
  margin-inline-start: 27px;
}

.ids-textarea .icon-dirty {
  top: 1px;
  margin-inline-start: 1px;

  &[dir='rtl'] {
    top: 2px;
  }
}
