/**
 * Checkbox Mixins.
 */
@use 'sass:list';
@use '../../themes/mixins/ids-core-mixins' as mixins;

// Unchecked
@mixin checkbox-unchecked() {
  position: absolute;
  border: var(--ids-checkbox-border);
  border-radius: var(--ids-checkbox-border-radius);
  height: 14px;
  width: 14px;
  left: 0;
  top: 2px;
}

@mixin checkbox-unchecked-error {
  border-color: var(--ids-checkbox-color-border-error);
}

// Checked
@mixin checkbox-checked() {
  background-color: var(--ids-checkbox-color-background-selected);
  border-color: var(--ids-checkbox-color-border-selected);
}

@mixin checkbox-checked-after {
  position: absolute;
  display: block;
  border: var(--ids-font-size-20) solid var(--ids-checkbox-color-border-selected-after);
  border-width: var(--ids-checkbox-border-width-selected-after);
  animation: check 0.15s;
  transform: rotate(45deg);
  content: '';
  height: 10px;
  left: 4px;
  top: 0;
  width: 4px;
}

// Indeterminate
@mixin checkbox-indeterminate() {
  background-color: var(--ids-checkbox-color-background-indeterminate);
  border-color: var(--ids-checkbox-color-border-indeterminate);
}

@mixin checkbox-indeterminate-after {
  position: absolute;
  animation: checkindeterminate 0.15s;
  display: block;
  border: 1px solid var(--ids-checkbox-color-border-indeterminate-after);
  border-width: var(--ids-checkbox-border-width-indeterminate);
  content: '';
  height: 6px;
  left: 2px;
  top: 0;
  transform: none;
  width: 10px;
}

// Disabled
@mixin checkbox-disabled-unchecked {
  background-color: var(--ids-checkbox-color-background-disabled);
  border-color: var(--ids-checkbox-color-border-disabled);
  cursor: var(--ids-cursor-default);
}

@mixin checkbox-disabled-unchecked-error {
  border-color: var( --ids-color-error-30);
}

@mixin checkbox-disabled-checked() {
  background-color: var(--ids-checkbox-color-background-selected-disabled);
  border-color: var(--ids-checkbox-color-border-selected-disabled);
}

@mixin checkbox-disabled-text {
  cursor: var(--ids-cursor-default);
  color: var(--ids-checkbox-color-text-disabled);
}

// Focus
@mixin checkbox-focus {
  border-color: var(--ids-checkbox-color-border-focus);
  box-shadow: var(--ids-checkbox-focus-box-shadow);
}

// Colored
$color-names: 'emerald' 'amethyst' 'azure' 'amber' 'ruby';
$color-vars: --ids-color-emerald-70 --ids-color-amethyst-70 --ids-color-azure-70 --ids-color-amber-70 --ids-color-ruby-70;

@mixin checkbox-colored() {
  @each $name in $color-names {
    $i: list.index($color-names, $name);
    $color: var(#{list.nth($color-vars, $i)});

    &[color='#{$name}'] input[type='checkbox'] {
      ~ .checkmark {
        @include checkbox-colored-box($color);
      }

      &:disabled ~ .checkmark {
        @include checkbox-disabled-unchecked();
      }

      &:disabled:checked ~ .checkmark {
        @include checkbox-disabled-checked();
      }

      &:focus ~ .checkmark {
        @include checkbox-colored-box-focus($color);
      }
    }
  }
}

@mixin checkbox-colored-box($color) {
  background-color: $color;
  border-color: $color;
}

@mixin checkbox-colored-box-focus($color) {
  border-color: $color;
}

// Animations
@keyframes check {
  0% {
    height: 0;
    left: 0;
    top: 8px;
    width: 0;
  }

  50% {
    height: 0;
    left: 0;
    top: 8px;
    width: 4px;
  }

  100% {
    height: 10px;
    left: 4px;
    top: 0;
    width: 4px;
  }
}

@keyframes checkindeterminate {
  0% {
    width: 0;
  }

  100% {
    width: 10px;
  }
}
