/** Ripple Mixin - Adds Ripple Classes used in various components */
@use '../../themes/mixins/ids-core-mixins' as mixins;

.is-rippling {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  border-radius: var(--ids-border-radius-circle);
  background-color: var(--ids-color-primary);
  position: absolute;
  display: block;
  opacity: 0;
  transform: scale(0);

  &.animating {
    animation: ripple-animation 1.2s ease-out;
  }
}

@keyframes ripple-animation {
  from {
    opacity: 0.3;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
