/**
 * Single Checkmark Mixin
 */

// Use this on an element that serves as a checkmark container
@mixin check-base() {
  position: relative;
}

// Use this on that same element's `::after` pseudo-element
@mixin check-icon() {
  position: absolute;
  border: 1px solid;
  transform: rotate(45deg);
  border-color:
    var(--ids-menu-check-color-default)
    var(--ids-menu-check-color-default)
    var(--ids-menu-check-color-default)
    transparent;
  border-width: 0 2px 2px 0;
  content: ' ';
  height: 11px;
  width: 5px;
}

// Use this on top of the above definition,
// for situations where this checkmark can appear to be "disabled"
@mixin check-icon-disabled() {
  border-color:
    var(--ids-menu-check-color-disabled)
    var(--ids-menu-check-color-disabled)
    var(--ids-menu-check-color-disabled)
    transparent;
}
