/**
 * Checkbox Mixins.
 */
@use 'sass:list';
@use '../../themes/mixins/ids-core-mixins' as mixins;

// Unchecked
@mixin checkbox-unchecked() {
  position: absolute;
  border: 1px solid;
  border-color: var(--ids-input-border-color);
  border-radius: var(--ids-border-radius-xs);
  height: 14px;
  width: 14px;
  left: 0;
  top: 2px;
}

@mixin checkbox-unchecked-error {
  border-color: var(--ids-color-error);
}

// Checked
@mixin checkbox-checked() {
  background-color: var(--ids-color-primary);
  border-color: var(--ids-color-primary);
}

@mixin checkbox-checked-after {
  position: absolute;
  display: block;
  border: 1px solid var(--ids-color-slate-00);
  animation: check 0.15s;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
  content: '';
  height: 10px;
  left: 4px;
  top: 0;
  width: 4px;
}

// Indeterminate
@mixin checkbox-indeterminate() {
  background-color: var(--ids-color-primary);
  border-color: var(--ids-color-primary);
}

@mixin checkbox-indeterminate-after {
  position: absolute;
  animation: checkindeterminate 0.15s;
  display: block;
  border: 1px solid var(--ids-color-slate-00);
  border-width: 0 0 2px;
  content: '';
  height: 6px;
  left: 2px;
  top: 0;
  transform: none;
  width: 10px;
}

// Disabled
@mixin checkbox-disabled-unchecked {
  background-color: var(--ids-disabled-text-color);
  border-color: var(--ids-input-disabled-color);
  cursor: var(--ids-cursor-default);
}

@mixin checkbox-disabled-unchecked-error {
  border-color: var( --ids-color-error-30);
}

@mixin checkbox-disabled-checked($theme: light) {
  background-color: var(--ids-disabled-text-color);
  border-color: var(--ids-disabled-text-color);
}

@mixin checkbox-disabled-text {
  cursor: var(--ids-cursor-default);
  color: var(--ids-disabled-text-color);
}

// Focus
@mixin checkbox-focus {
  border-color: var(--ids-color-primary);
  box-shadow: var(--ids-shadow-md);
}

// Colored
$color-names: 'emerald' 'amethyst' 'azure' 'amber' 'ruby';
$color-vars: --ids-color-emerald-70 --ids-color-amethyst-70 --ids-color-azure-70 --ids-color-amber-70 --ids-color-ruby-70;

@mixin checkbox-colored() {
  @each $name in $color-names {
    $i: list.index($color-names, $name);
    $color: var(#{list.nth($color-vars, $i)});

    &[color='#{$name}'] input[type='checkbox'] {
      ~ .checkmark {
        @include checkbox-colored-box($color);
      }

      &:disabled ~ .checkmark {
        @include checkbox-disabled-unchecked();
      }

      &:disabled:checked ~ .checkmark {
        @include checkbox-disabled-checked(light);
      }

      &:focus ~ .checkmark {
        @include checkbox-colored-box-focus($color);
      }
    }
  }
}

@mixin checkbox-colored-box($color) {
  background-color: $color;
  border-color: $color;
}

@mixin checkbox-colored-box-focus($color) {
  border-color: $color;
}

// Animations
@include mixins.keyframes(check) {
  0% {
    height: 0;
    left: 0;
    top: 8px;
    width: 0;
  }

  50% {
    height: 0;
    left: 0;
    top: 8px;
    width: 4px;
  }

  100% {
    height: 10px;
    left: 4px;
    top: 0;
    width: 4px;
  }
}

@include mixins.keyframes(checkindeterminate) {
  0% {
    width: 0;
  }

  100% {
    width: 10px;
  }
}
