@use '../../themes/mixins/ids-core-mixins' as mixins;

.validation-message {
  @include mixins.antialiased();

  display: flex;
  font-family: var(--ids-font-family-default);
  margin-top: var(--ids-spacing-xxs);

  &.has-custom-icon {
    color: var(--ids-icon-color-default);
  }

  &.disabled {
    color: var(--ids-input-color-text-disabled);
  }

  .ids-icon {
    margin-inline-end: var(--ids-spacing-xxs);
  }

  &.alert {
    color: var(--ids-color-surface-caution-default);

    &.disabled {
      color: var(--ids-color-caution-30);
    }
  }

  &.warning {
    color: var(--ids-color-surface-warning-default);

    &.disabled {
      color: var(--ids-color-warning-30);
    }
  }

  &.error {
    color: var(--ids-color-surface-error-default);

    &.disabled {
      color: var(--ids-color-error-30);
    }
  }

  &.info {
    color: var(--ids-color-surface-info-default);

    &.disabled {
      color: var(--ids-color-info-30);
    }
  }

  &.success {
    color: var(--ids-color-surface-success-default);

    &.disabled {
      color: var(--ids-color-success-30);
    }
  }

  &[hidden] {
    display: none;
  }
}
