@use '../../themes/mixins/ids-core-mixins' as mixins;

.chart-legend {
  display: flex;
  padding-inline-start: 8px;
  flex-direction: row;
  margin-top: -4px;
  justify-content: flex-start;
  width: inherit;

  a {
    @include mixins.antialiased();

    align-items: center;
    border: 1px solid transparent;
    display: flex;
    font-family: var(--ids-font-family-default);
    font-size: var(--ids-chart-legend-font-size);
    color: var(--ids-chart-legend-color-text);
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    padding-block-start: 2px;
    padding-block-end: 2px;
    text-decoration: none;

    &:focus {
      outline: none;
      border-color: var(--ids-color-border-focus);
      box-shadow: var(--ids-shadow-focus);
    }
  }

  .swatch {
    display: inline-flex;
    margin-inline-end: 8px;
    height: 12px;
    width: 12px;

    @for $i from 1 through 21 {
      &.color-#{$i} {
        background-color: var(--ids-chart-color-#{$i});
      }
    }
  }
}

// Move the legend in the 4 directions
.ids-chart-container {
  display: flex;
  flex-direction: column;

  &.legend-top {
    margin-block-end: 8px;
    flex-direction: column-reverse;

    .chart-legend {
      margin-inline-start: 0;
      justify-content: end;
    }
  }

  &.legend-right,
  &.legend-left {
    flex-direction: row;

    .chart-legend {
      margin-inline-start: 0;
      flex-direction: column;
      justify-content: center;

      a {
        margin-block-end: 8px;
        width: max-content;
      }
    }
  }

  &.legend-left {
    flex-direction: row-reverse;
  }
}
