@use '../../themes/mixins/ids-core-mixins' as mixins;

.validation-message {
  @include mixins.antialiased();

  display: flex;
  font-family: var(--ids-font-family-default), var(--ids-font-family-system-sans);
  margin-top: var(--ids-space-2xs);
  max-width: var(--ids-input-width-full);

  &.has-custom-icon {
    color: var(--ids-icon-color-default);
  }

  &.disabled {
    color: var(--ids-input-color-text-disabled);
  }

  .ids-icon {
    margin-inline-end: var(--ids-space-2xs);
  }

  &.alert {
    color: var(--ids-color-caution-default);

    &.disabled {
      color: var(--ids-color-yellow-30);
    }
  }

  &.warning {
    color: var(--ids-color-warning-default);

    &.disabled {
      color: var(--ids-color-orange-30);
    }
  }

  &.error {
    color: var(--ids-color-error-default);

    &.disabled {
      color: var(--ids-color-red-30);
    }
  }

  &.info {
    color: var(--ids-color-info-default);

    &.disabled {
      color: var(--ids-color-blue-30);
    }
  }

  &.success {
    color: var(--ids-color-success-default);

    &.disabled {
      color: var(--ids-color-green-30);
    }
  }

  &[hidden] {
    display: none;
  }
}
