/**
 * Radio Mixins.
 */
@use 'sass:list';
@use '../../themes/mixins/ids-core-mixins' as mixins;

// Unchecked
@mixin radio-unchecked {
  position: absolute;
  border: 1px solid var(--ids-radio-button-color-border-default);
  border-radius: var(--ids-radio-button-border-radius);
  height: 14px;
  left: 0;
  top: 3px;
  transition: border-color var(--ids-motion-duration) var(--ids-motion-ease);
  width: 14px;
}

@mixin radio-unchecked-after {
  position: absolute;
  background-color: var(--ids-radio-button-color-background);
  border: 1px solid var(--ids-radio-button-color-background);
  border-radius: var(--ids-radio-button-border-radius);
  content: '';
  height: 0;
  left: 6px;
  top: 6px;
  transition: all var(--ids-motion-duration) var(--ids-motion-ease);
  width: 0;
}

@mixin radio-unchecked-error-circle {
  border-color: var(--ids-color-surface-error-default);
}

@mixin radio-unchecked-error-label-text {
  color: var(--ids-color-surface-error-default);
}

// Checked
@mixin radio-checked {
  background-color: var(--ids-radio-button-color-background-selected);
  border-color: var(--ids-radio-button-color-border-selected);
}

@mixin radio-checked-after {
  background-color: var(--ids-radio-button-inner-color-background-selected);
  border-color: var(--ids-radio-button-inner-color-background-selected);
  border-width: 2px;
  height: 4px;
  left: 3px;
  top: 3px;
  width: 4px;
}

// Disabled
@mixin radio-disabled-unchecked {
  border-color: var(--ids-radio-button-color-border-disabled);
  cursor: var(--ids-cursor-default);
  box-shadow: none;
}

@mixin radio-disabled-unchecked-error-circle {
  border-color: var(--ids-radio-button-color-border-disabled);
}

@mixin radio-disabled-unchecked-error-label-text {
  color: var(--ids-radio-button-color-border-disabled);
}

@mixin radio-disabled-checked() {
  background-color: var(--ids-radio-button-color-background-selected-disabled);
  border-color: var(--ids-radio-button-color-border-selected-disabled);
}

@mixin radio-disabled-text {
  cursor: var(--ids-cursor-default);
  color: var(--ids-color-text-disabled);
}

// Focus
@mixin radio-focus {
  box-shadow: var(--ids-radio-shadow);
}

@mixin radio-focus-not-hide-focus {
  box-shadow: var(--ids-radio-shadow-with-border);
}
