@import '../../core/ids-base';

:host {
  @media (min-width: $breakpoint-xs) {

    .xs-header {
      display: flex;
      position: absolute;

      .label {
        margin-left: 5px;
      }
    }
  }

  @media (min-width: $breakpoint-sm) {
    .xs-header {
      display: none;
      position: unset;
    }
  }
}
.ids-process-indicator {
  width: 100%;
  height: 100px;

  .step-container {
    display: flex;
    justify-content: center;
    width: 100%;

  }
}
