@import '../../themes/mixins/ids-core-mixins';

:host {
  @media (min-width: $breakpoint-xs) {
    .xs-header {
      display: flex;
      position: absolute;

      .label {
        margin-left: var(--ids-space-30);
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    .xs-header {
      display: none;
      position: unset;
    }
  }
}

.ids-process-indicator {
  width: 100%;
  height: auto;

  .step-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
