@import '../../themes/mixins/ids-core-mixins';

:host(.last) {
  @media (min-width: $breakpoint-xs) {
    flex: 0;
  }

  @media (min-width: $breakpoint-md) {
    flex: 1;
  }
}

:host {
  display: flex;
  flex: 1;
  position: relative;

  // slotted text details
  ::slotted(ids-text) {
    color: var(--ids-process-indicator-color-text);
  }

  @media (min-width: $breakpoint-xs) {
    .label {
      display: none;
    }

    .details {
      display: none;
    }

    .step {
      margin-top: var(--ids-process-indicator-step-margin-top);
    }
  }

  @media (min-width: $breakpoint-md) {
    .details {
      display: unset;
    }

    .label {
      display: unset;
    }

    .step {
      margin-top: unset;
    }
  }
}

::slotted(*) {
  display: block;
  margin: var(--ids-process-indicator-margin);
}

.ids-process-indicator-step {
  ids-text {
    &::part(text) {
      color: var(--ids-process-indicator-color-text);
      margin: var(--ids-process-indicator-text-margin);
    }

    &.label {
      margin: var(--ids-process-indicator-margin);
      white-space: nowrap;
    }
  }

  .line {
    position: absolute;
    transform: var(--ids-process-indicator-line-transform);
    height: var(--ids-process-indicator-font-line-height);
    width: 100%;
    background-color: var(--ids-process-indicator-line-color-background);
  }

  .step {
    display: flex;
    transform: var(--ids-process-indicator-step-transform);
    height: var(--ids-process-indicator-step-height);
    width: var(--ids-process-indicator-step-width);
    border-radius: var(--ids-process-indicator-border-radius-step);
    background-color: var(--ids-process-indicator-color-background);
    border: 2px solid var(--ids-process-indicator-color);
  }
}

// step styling based on status
:host([status='cancelled']) {
  .step {
    background-color: var(--ids-process-indicator-canceled-step-color-background);
    width: 18px;
    height: 18px;
    border: 0;
    justify-content: center;

    ids-icon {
      display: flex;
      justify-content: center;
      color: var(--ids-process-indicator-canceled-step-color-icon);
    }
  }
}

:host([status='done']) {
  .step {
    border: var(--ids-process-indicator-border-done);
    background-color: var(--ids-process-indicator-color-primary);
  }
}

:host([status='started']) {
  .step {
    border: var(--ids-process-indicator-border-started);
    background-color: var(--ids-process-indicator-color-background);
  }
}
