<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/ids-enterprise@4.60.0/dist/js/sohoxi.js"></script>
  <link href="https://unpkg.com/ids-enterprise@4.60.0/dist/css/theme-new-light.css" rel="stylesheet"/>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Web Component Upload Advanced</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="3" gap="md">

      <ids-layout-grid-cell>
        <ids-upload-advanced id="elem-upload-advanced-basic" url="http://localhost:4300/upload"></ids-upload-advanced>
      </ids-layout-grid-cell>

    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">4.x Upload Advanced</ids-text>
    </ids-layout-grid>
    <div class="svg hidden">
      <div class="svg-icons">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-icons">
          <symbol id="icon-upload" viewBox="0 0 18 18"><path d="M9.5 18V3.648M4 9l5.5-5.5L15 9m2.5-1.574v-1.91c0-2.81-2.342-5.09-5.23-5.09H.5v7" stroke="currentColor" fill="none" fill-rule="evenodd" vector-effect="non-scaling-stroke"></path></symbol>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="four columns">

        <div class="fileupload-advanced" data-init="false">
        </div>

      </div>
    </div>
  </ids-container>
  </body>
</html>
