@import '../ids-base/ids-base';

:host(ids-tabs) {
  --tab-width: 100%;

  contain: content;
}

.ids-tabs-content {
  &.vertical {
    flex-direction: column;
  }

  &:not(.vertical) {
    @include border-b-1;
    @include mt-8;
    @include border-graphite-60;

    scrollbar-width: none;
    overflow-x: scroll;
  }

  position: relative;
  width: 100%;
  display: flex;

  .ids-tabs-content {
    position: relative;
    min-width: 100%;
  }

  .edge {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #f00;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
