@import '../ids-base/ids-base';

.ids-progress-chart {
  @include antialiased();
  // @include bg-slate-20();
  // @include border-1();
  // @include border-slate-20();
  // @include border-solid();
  @include font-sans();

  display: flex;
  flex-direction: column;

  
  .labels {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
    @include text-slate-60(); 

    .label-main {
      display: inline-block;
    }

    .label-completed {
      display: inline-block;

      padding-left: 2px;
    }

    .label-total {
      display: inline-block;
      position: absolute;
      right: 0;
    }

    .label-value {
      display: inline-block;
      padding-left: 2px;
    }
  }

  .progress-bar {
    margin-top: 10px;
    border-radius: 2px;
    min-height: 28px;
    min-width: 66px;
    display: flex;
    position: relative;

    .bar-total {
      @include bg-slate-30();
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
    }

    .bar-current { 
      display: flex;
      top: 0;
      left: 0;
      background-color: #25AF65;
      height: inherit;
    }
  }
}