@import '../ids-base/ids-base';

.ids-progress-chart {
  @include antialiased();
  // @include bg-slate-20();
  // @include border-1();
  // @include border-slate-20();
  // @include border-solid();
  @include font-sans();

  display: flex;
  flex-direction: column;
  margin: 0 0 8px 0;
  
  .labels {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 8px;
    @include text-slate-60();
    width: 100%;
    flex-wrap: nowrap;
    align-items: flex-end;

    // ::slotted(ids-icon) {
    //   display: inline-flex;
      
    //   background-color: #25AF65;
    // }

    .label-main {
      display: inline-flex;
      flex: 1;
    }

    .label-value{
      display: inline-flex;
      flex: 1;
      padding: 0 2px;
    }

    .label-value::part(text) {
      color: currentColor;
    }

    .label-end {
      display: flex;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      justify-content: flex-end;
    }

    .label-total {
      position: absolute;
    }
  }

  .progress-bar {
    border-radius: 2px;
    min-height: 28px;
    min-width: 66px;
    display: flex;
    position: relative;

    .bar-total {
      @include bg-slate-30();
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
    }

    .bar-value { 
      display: flex;
      top: 0;
      left: 0;
      background-color: #25AF65;
      height: inherit;
    }
  }
}