@import '../ids-base/ids-base';

.ids-progress-chart {
  @include antialiased();
  // @include bg-slate-20();
  // @include border-1();
  // @include border-slate-20();
  // @include border-solid();
  @include font-sans();

  display: flex;
  flex-direction: column;
  margin: 0 0 8px 0;

  
  .labels {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 8px;
    @include text-slate-60();
    width: 100%;
    border: solid 1px;
    // justify-content: flex-end;
    flex-wrap: nowrap;

    .label-main {
      display: inline-block;
    }

    .label-value{
      display: inline-block;
      padding: 0 2px;
    }

    .label-value::part(text) {
      color: currentColor;
    }

    .label-right {
      display: flex;
      // display: inline-block;
      width: 100%;
      justify-content: flex-end;
      border: solid 1px;
    }

    .label-total {
      display: flex;
      // display: flex;
      border: solid 1px;
      // justify-content: flex-end;
      // justify-self: flex-end;
      // right: 0;
      // position: absolute;
      // top: 0;
      // right: 0;
      // justify-content: flex-end;
    }
  }

  ::slotted(ids-icon) {
    align-items: center;
  }

  .progress-bar {
    border-radius: 2px;
    min-height: 28px;
    min-width: 66px;
    display: flex;
    position: relative;

    .bar-total {
      @include bg-slate-30();
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
    }

    .bar-value { 
      display: flex;
      top: 0;
      left: 0;
      background-color: #25AF65;
      height: inherit;
    }
  }
}