ids-block-grid-item {
  img {
    margin-block-end: var(--ids-block-grid-margin);
  }
}

.ids-block-grid-wrapper {
  align-items: center;
  contain: content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--ids-space-none);
  text-align: center;
}

:host(.ids-align-center) {
  text-align: center;
}

:host(.ids-align-left) {
  text-align: left;
}

:host(.ids-align-right) {
  text-align: right;
}

::slotted(ids-block-grid-item) {
  padding: var(--ids-block-grid-item-padding);
  position: relative;
  vertical-align: top;
}
