@import '../../core/ids-base';

ids-block-grid-item {
  img {
    margin-bottom: 10px;
  }
}

:host {
  @include m-0();

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

:host(.ids-align-center) {
  text-align: center;
}

:host(.ids-align-left) {
  text-align: left;
}

:host(.ids-align-right) {
  text-align: right;
}

::slotted(ids-block-grid-item) {
  @include align-top();
  @include relative();

  padding: 10px 15px;
  width: 200px;
}
