::slotted(img) {
  contain: content;
  margin-bottom: var(--ids-block-grid-margin);
}

:host {
  width: var(--ids-block-grid-item-width);
}

// For mixed/single/multiple selection
:host([selection='single']),
:host([selection='mixed']),
:host([selection='multiple']) {
  width: var(--ids-block-grid-item-selectable-width);
  max-width: var(--ids-block-grid-item-width-max);
  box-sizing: border-box;

  .ids-block-grid-item {
    &-container {
      padding: var(--ids-block-grid-item-selectable-container-padding);
    }
  }
}

// For text multiple selection
:host([selection='multiple'][type='block']) {
  width: var(--ids-block-grid-item-selectable-multiple-block-width);

  ::slotted(ids-text) {
    text-align: left;
  }

  .ids-block-grid-item {
    &-container {
      padding: var(--ids-block-grid-item-selectable-multiple-block-container-padding);
    }

    &-checkbox {
      top: var(--ids-block-grid-item-selectable-multiple-block-checkbox-top);
      left: var(--ids-block-grid-item-selectable-multiple-block-checkbox-left);
      right: var(--ids-block-grid-item-selectable-multiple-block-checkbox-right);
    }
  }
}

.ids-block-grid-item {
  &-container {
    &:focus-visible {
      outline: none;
    }

    &.is-selectable {
      border-radius: var(--ids-block-grid-item-selectable-container-border-radius);
      cursor: var(--ids-cursor-pointer);

      ::slotted(img) {
        border-radius: var(--ids-block-grid-item-selectable-container-img-border-radius);
      }

      &:hover {
        background-color: var(--ids-block-grid-item-selectable-container-hover-background-color);
        cursor: var(--ids-cursor-pointer);
      }

      &:focus {
        outline: var(--ids-block-grid-item-selectable-container-focus-outline);
        box-shadow: var(--ids-block-grid-item-selectable-container-focus-box-shadow);
      }
    }

    &.is-selected:not(:focus) {
      border-radius: var(--ids-block-grid-item-selected-border-radius);
      background-color: var(--ids-block-grid-item-selected-background-color);
      outline: var(--ids-block-grid-item-selected-outline);
    }

    &.is-selected,
    &.is-selectable:hover,
    &.is-selectable:focus {
      .ids-block-grid-item-checkbox {
        visibility: visible;
      }
    }

    &.pre-selected {
      background-color: var(--ids-block-grid-item-pre-selected-background-color);
      cursor: var(--ids-cursor-pointer);
    }
  }

  &-checkbox {
    position: absolute;
    top: var(--ids-block-grid-item-checkbox-top);
    right: var(--ids-block-grid-item-checkbox-right);
    visibility: hidden;
  }
}
