/* Ids Pie Chart Component */
@import '../../themes/mixins/ids-chart-legend-mixin';

.ids-chart-container {
  height: 100%;
  width: 100%;

  &.empty {
    flex-direction: column;
  }

  .dot {
    border-color: transparent;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    border-width: var(--ids-pie-chart-tooltip-dot-size, 0);
    position: absolute;
    height: 0;
    width: 0;
  }
}

// Responsive Pie
.ids-pie-chart {
  margin-block-end: var(--ids-space-50);
  height: 100%;
  width: 100%;

  // Colors
  @for $i from 1 through 21 {
    .slice.color-#{$i}:not([fill]) {
      stroke: var(--ids-chart-color-#{$i});
    }
  }

  &.hidden {
    display: none;
  }

  &.selectable {
    .audible {
      font-size: 1px;
    }

    .slice {
      cursor: pointer;

      &[selected] {
        opacity: 1;
      }

      &.not-selected {
        opacity: 0.5;
      }
    }
  }
}

// Donut Chart
.slice {
  outline: none;
  fill-opacity: 0;
}

.donut-text {
  font-family: var(--ids-chart-pie-font-family);
  font-size: var(--ids-chart-pie-font-size);
  fill: var(--ids-chart-pie-color-text);
  text-anchor: middle;
}

// For Tooltip
.donut-hole {
  pointer-events: none;
}

// Audible Text
.audible {
  opacity: 0;
  fill-opacity: 0;
}

// Center Legend
.chart-legend {
  justify-content: center;
}
