/* Ids Pie Chart Component */
@import '../../core/ids-base';
@import '../../mixins/sass/ids-chart-legend-mixin';

.ids-chart-container {
  height: 100%;
  width: 100%;

  &.empty {
    flex-direction: column;
  }

  .dot {
    @include absolute();
    @include border-transparent();
    @include border-solid();
    @include rounded-round();
    @include w-0();

    display: inline-block;
    border-width: var(--ids-pie-chart-tooltip-dot-size, 0);
    height: 0;
  }
}

// Responsive Pie
.ids-pie-chart {
  @include mb-12();

  height: 100%;
  width: 100%;

  // Colors
  @for $i from 1 through 21 {
    .slice.color-#{$i}:not([fill]) {
      stroke: var(--ids-chart-color-#{$i});
    }
  }

  &.hidden {
    display: none;
  }

  &.selectable {
    .audible {
      font-size: 1px;
    }

    .slice {
      cursor: pointer;

      &[selected] {
        opacity: 1;
      }

      &.not-selected {
        opacity: 0.5;
      }
    }
  }
}

// Donut Chart
.slice {
  outline: none;
  fill-opacity: 0;
}

.donut-text {
  @include antialiased();
  @include font-sans();

  font-size: 10px;
  fill: var(--ids-color-palette-slate-60);
  text-anchor: middle;
}

// For Tooltip
.donut-hole {
  pointer-events: none;
}

// Audible Text
.audible {
  opacity: 0;
  fill-opacity: 0;
}

// Center Legend
.chart-legend {
  justify-content: center;
}

// Themes
[mode='dark'] .donut-text {
  fill: var(--ids-color-palette-slate-10);
}

[mode='contrast'] .donut-text {
  fill: var(--ids-color-palette-slate-100);
}
