/**
 * Ids Button Base CSS
 * Use these mixins inside Ids Button CSS classes to define their base styles.
 */
@import '../../core/ids-base';

// Mixin for a "blank" shadow (same as the standard one with a completely transparent alpha)
@mixin blank-shadow() {
  box-shadow: 0 0 3px 2px rgba(54 138 192 / 0);
}

// Used to make the focus "border" appear to be separated from the button.
@mixin solid-button-shadow() {
  box-shadow:
    0 0 0 2px var(--ids-color-palette-white), // bg color
    0 0 0 3px var(--ids-color-brand-primary-base), // primary color (border)
    0 0 4px 3px var(--ids-color-brand-primary-base) // primary color (shadowy-part)
}

// Used to make the focus "border" on non-solid buttons (modal buttons, etc)
@mixin modal-button-shadow() {
  box-shadow: 0 0 3px 1px var(--ids-color-brand-primary-base) // primary color (shadowy-part)
}

@mixin alternate-button-shadow() {
  border-color: var(--ids-color-palette-white);
  box-shadow: 0 0 3px 2px rgba(255 255 255 / 0.7);
}

// Used to include a basic set of ripple-effect styles
@mixin ids-base-ripple-styles() {
  .ripple-effect {
    @include block();
    @include rounded-round();

    height: 250px;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    width: 250px;

    &.animating {
      @include animation(ripple-animation 1.2s ease-out);
    }
  }
}

// Used to include a basic set of button styles within each individual button prototype.
@mixin ids-base-button-styles() {
  @include blank-shadow();
  @include border-1();
  @include border-solid();
  @include font-normal();
  @include font-sans();
  @include px-28();
  @include text-16();

  overflow: hidden;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  // Nothing inside the button itself should accept mouse events
  * {
    pointer-events: none;
  }

  // ====================================================
  // Base Button styles (default/tertiary)

  @include bg-transparent();
  @include border-transparent();

  color: currentColor;

  // Animate BG/Text/Border color changes on all styles
  transition:
    background-color $transition-length $transition-ease,
    border-color $transition-length $transition-ease,
    box-shadow $transition-length $transition-ease,
    color $transition-length $transition-ease,
    opacity $transition-length $transition-ease;
  white-space: nowrap;

  &:focus {
    // Disable standard focus state in Chrome
    outline: none;
    outline-color: transparent;
  }

  &:not([disabled]) {
    @include cursor-pointer();
  }

  // ====================================================
  // Standard element types inside the button
  span {
    vertical-align: bottom;

    &.audible {
      @include audible();
    }
  }

  .ids-icon {
    vertical-align: middle;
  }

  // ====================================================
  // Alignment changes

  &.align-icon-end {
    ids-icon[slot] {
      align-self: flex-end;
    }
  }

  &.no-margins {
    @include mx-0();
  }
}

/**
 * Provides standardized padding rules for certain button types
 */
@mixin ids-standard-button-padding() {
  @include px-28();
}

@mixin ids-inline-button-padding() {
  @include px-12();
}

/**
 * Provides the standard color rules for all regular buttons
 */
@mixin ids-standard-button-colors() {
  @include inline-flex();
  @include rounded-default();

  &[mode='light'] {
    // ====================================================
    // Default/Tertiary/Destructive Button styles

    @include border-transparent();
    @include text-slate-60();

    &.is-active,
    &:focus {
      @include border-azure-70();
      @include shadow();
    }

    &:hover {
      @include text-black();
    }

    &[disabled] {
      @include text-slate-30();
    }

    .ripple-effect {
      background-color: var(--ids-color-palette-azure-70);
    }

    // ====================================================
    // Primary Button Styles

    &.btn-primary {
      background-color: var(--ids-color-brand-primary-base);
      border-color: var(--ids-color-brand-primary-base);
      color: var(--ids-color-brand-primary-contrast);

      &:focus {
        @include solid-button-shadow();
      }

      &:hover {
        @include bg-azure-80();
      }

      &[disabled] {
        @include bg-azure-30();
        @include border-azure-30();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    // ====================================================
    // Secondary Button Styles

    &.btn-secondary {
      @include bg-slate-30();

      color: var(--ids-color-font-base);

      &:focus {
        @include solid-button-shadow();
      }

      &:hover {
        @include bg-slate-40();
      }

      &[disabled] {
        @include bg-slate-20();
        @include border-slate-20();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    &.is-active,
    &:focus {
      border-color: var(--ids-color-palette-azure-50);
      box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-60);
    }

    // ====================================================
    // Light Mode Alternate Styles

    &.color-variant-alternate,
    &.color-variant-alternate-formatter {
      @include text-white();

      opacity: 0.7;

      &:focus {
        @include alternate-button-shadow();

        border-color: var(--ids-color-palette-white);
        opacity: 1;
      }

      &:hover {
        @include text-white();

        opacity: 1;
      }

      &[disabled] {
        opacity: 0.3;
      }

      .ripple-effect {
        background-color: var(--ids-color-palette-white);
      }

      // ====================================================
      // Light Mode Alternate Primary Styles

      &.btn-primary {
        background-color: var(--ids-color-palette-azure-40);
        border-color: var(--ids-color-palette-azure-40);
        color: var(--ids-color-brand-primary-contrast);
        opacity: 1;

        &:focus {
          @include alternate-button-shadow();

          border-color: var(--ids-color-palette-white);
        }

        &:hover {
          @include bg-azure-30();
        }

        &[disabled] {
          @include bg-azure-30();
          @include border-azure-30();

          opacity: 0.7;
        }

        .ripple-effect {
          background-color: var(--ids-color-brand-primary-contrast);
        }
      }

      // ====================================================
      // Light Mode Alternate Secondary Styles

      &.btn-secondary {
        @include bg-slate-30();
        @include text-slate-100();

        opacity: 1;

        &:focus {
          @include alternate-button-shadow();
        }

        &:hover {
          @include bg-slate-40();
          @include text-slate-100();
        }

        &[disabled] {
          @include bg-slate-20();
          @include border-slate-20();

          opacity: 0.7;
        }

        .ripple-effect {
          background-color: var(--ids-color-brand-primary-contrast);
        }
      }
    }

    &.color-variant-alternate-formatter {
      opacity: 0.8;

      &:focus {
        border-color: var(--ids-color-palette-azure-50);
        box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-60);
      }

      .ripple-effect {
        background-color: var(--ids-color-palette-azure-40);
      }
    }
  }

  // ====================================================
  // Dark Mode

  &[mode='dark'] {
    @include text-slate-20();

    &:hover {
      @include text-white();
    }

    &[disabled] {
      @include text-slate-40();
    }

    // Dark Mode Primary Styles
    &.btn-primary {
      &[disabled] {
        @include text-white();
      }
    }

    // Dark Mode Secondary Styles
    &.btn-secondary {
      @include border-slate-30();
      @include bg-slate-30();
      @include text-slate-80();

      &:hover {
        @include border-slate-40();
        @include bg-slate-40();
      }

      &[disabled] {
        @include bg-slate-40();
        @include border-slate-40();
      }
    }

    // Dark Mode Alternate Styles
    &.color-variant-alternate {
      @include text-white();

      // Dark Mode Primary Alternate Styles
      // NONE YET

      // Dark Mode Secondary Alternate Styles
      &.btn-secondary {
        @include bg-slate-30();
        @include text-graphite-100();

        &:hover {
          @include text-graphite-100();
        }

        &[disabled] {
          @include bg-slate-20();
          @include border-slate-20();
          @include text-graphite-100();
        }
      }
    }

    // Dark Mode Alternate Formatter Styles
    &.color-variant-alternate-formatter {
      @include text-slate-100();

      &.is-active,
      &:focus {
        border-color: var(--ids-color-palette-azure-50);
        box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-40);
      }
    }
  }

  // ====================================================
  // High-Contrast Mode

  &[mode='contrast'] {
    @include text-slate-100();

    &:hover {
      @include text-black();
    }

    &[disabled] {
      @include text-slate-40();
    }

    // High-Contrast Mode Primary Styles
    &.btn-primary {
      @include bg-azure-90();
      @include text-white();

      &[disabled] {
        @include bg-azure-30();
      }
    }

    // High-Contrast Mode Secondary Styles
    &.btn-secondary {
      @include bg-slate-70();
      @include border-slate-70();
      @include text-white();

      &[disabled] {
        @include bg-slate-40();
        @include border-slate-40();
      }
    }

    // High-Contrast Mode Alternate Styles
    &.color-variant-alternate {
      @include text-slate-10();

      opacity: 1;

      &:hover {
        @include text-white();
      }

      &[disabled] {
        @include text-slate-40();
      }

      // High-Contrast Mode Alternate Primary Styles
      &.btn-primary {
        @include bg-azure-60();
        @include border-azure-60();
        @include text-white();

        &:hover {
          @include bg-azure-50();
          @include text-white();
        }

        &[disabled] {
          @include bg-azure-70();
          @include border-azure-70();

          opacity: 0.7;
        }
      }

      // High-Contrast Mode Alternate Secondary Styles
      &.btn-secondary {
        @include bg-slate-60();
        @include border-slate-60();

        &:hover {
          @include bg-slate-50();
        }

        &[disabled] {
          @include bg-slate-70();
          @include border-slate-70();

          opacity: 0.7;
        }
      }
    }

    &.color-variant-alternate-formatter {
      @include text-white();

      &.is-active,
      &:focus {
        border-color: var(--ids-color-palette-azure-40);
        box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-50);
      }

      .ripple-effect {
        background-color: var(--ids-color-palette-azure-40);
      }
    }
  }

  // ====================================================
  // Classic Light Mode

  &[mode='light'][version='classic'] {
    @include text-graphite-100();

    &:hover {
      @include text-black();
    }

    &[disabled] {
      @include text-graphite-40();
    }

    // Classic Light Mode Primary Styles
    &.btn-primary {
      @include bg-azure-50();
      @include text-white();

      &[disabled] {
        @include bg-azure-30();
      }
    }

    // Classic Light Mode Secondary Styles
    &.btn-secondary {
      @include bg-graphite-30();
      @include text-graphite-80();

      &[disabled] {
        @include bg-graphite-20();
        @include border-graphite-20();
        @include text-graphite-40();
      }
    }

    // Classic Light Mode Alternate Styles
    &.color-variant-alternate,
    &.color-variant-alternate-formatter {
      @include text-white();

      &.is-active,
      &:focus {
        @include alternate-button-shadow();
      }

      &:hover {
        @include text-white();
      }

      &[disabled] {
        @include text-white();
      }

      // Classic Light Mode Alternate Primary Styles
      &.btn-primary {
        @include bg-azure-50();
        @include border-azure-50();
        @include text-white();

        opacity: 1;

        &:hover {
          @include bg-azure-40();
          @include border-azure-40();
        }

        &[disabled] {
          @include bg-azure-50();
          @include border-azure-50();

          opacity: 0.7;
        }
      }

      // Classic Light Mode Alternate Secondary Styles
      &.btn-secondary {
        @include bg-graphite-40();
        @include border-graphite-40();
        @include text-classic-slate-100();

        opacity: 1;

        &:hover {
          @include bg-graphite-30();
        }

        &[disabled] {
          @include bg-graphite-50();
          @include border-graphite-50();

          opacity: 0.7;
        }
      }
    }

    &.color-variant-alternate-formatter {
      opacity: 0.8;

      &.is-active,
      &:focus {
        border-color: var(--ids-color-palette-azure-40);
        box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-60);
      }

      &[disabled] {
        @include text-slate-40();
      }

      .ripple-effect {
        background-color: var(--ids-color-palette-azure-40);
      }
    }
  }

  // ====================================================
  // "Classic" Dark Mode

  &[mode='dark'][version='classic'] {
    @include text-classic-slate-10();

    &:hover {
      @include text-white();
    }

    &[disabled] {
      @include text-classic-slate-50();
    }

    // Classic Dark Mode Primary Styles
    &.btn-primary {
      @include bg-azure-50();
      @include border-azure-50();

      &[disabled] {
        @include bg-azure-70();
        @include border-azure-70();
        @include text-classic-slate-40();
      }
    }

    // Classic Dark Mode Secondary Styles
    &.btn-secondary {
      @include bg-classic-slate-30();
      @include border-classic-slate-30();
      @include text-classic-slate-100();

      &[disabled] {
        @include bg-classic-slate-50();
        @include border-classic-slate-50();
        @include text-classic-slate-80();
      }
    }

    // Classic Dark Mode Alternate Styles
    &.color-variant-alternate,
    &.color-variant-alternate-formatter {
      @include text-white();

      &:hover {
        @include text-white();
      }

      &[disabled] {
        @include text-white();
      }

      // Classic Dark Mode Primary Alternate Styles
      &.btn-primary {
        @include bg-azure-50();
        @include border-azure-50();

        &:hover {
          @include bg-azure-40();
          @include border-azure-40();
        }

        &[disabled] {
          @include bg-azure-50();
          @include border-azure-50();

          opacity: 0.7;
        }
      }

      // Classic Dark Mode Secondary Alternate Styles
      &.btn-secondary {
        @include bg-graphite-40();
        @include border-graphite-40();
        @include text-classic-slate-100();

        opacity: 1;

        &:hover {
          @include bg-graphite-30();
        }

        &[disabled] {
          @include bg-graphite-50();
          @include border-graphite-50();

          opacity: 0.7;
        }
      }
    }

    &.color-variant-alternate-formatter {
      @include text-slate-100();

      &.is-active,
      &:focus {
        border-color: var(--ids-color-palette-azure-50);
        box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-40);
      }

      &:hover {
        @include text-slate-100();

        opacity: 1;
      }

      &[disabled] {
        @include text-slate-40();

        opacity: 1;
      }
    }
  }

  // ====================================================
  // "Classic" High-Contrast Mode

  &[mode='contrast'][version='classic'] {
    @include text-graphite-70();

    &:hover {
      @include text-black();
    }

    &[disabled] {
      @include text-graphite-40();
    }

    // Classic High-Contrast Mode Primary Styles
    &.btn-primary {
      @include bg-azure-90();
      @include border-azure-90();
      @include text-white();

      &[disabled] {
        @include bg-azure-70();
        @include border-azure-90();
      }
    }

    // Classic High-Contrast Mode Secondary Styles
    &.btn-secondary {
      @include bg-graphite-70();
      @include border-graphite-70();
      @include text-white();

      &[disabled] {
        @include bg-graphite-50();
        @include border-graphite-50();
        @include text-graphite-20();
      }
    }

    // Classic High-Contrast Mode Alternate Styles
    &.color-variant-alternate,
    &.color-variant-alternate-formatter {
      @include text-white();

      &:hover {
        @include text-white();
      }

      &[disabled] {
        @include text-classic-slate-30();
      }

      // Classic High-Contrast Mode Primary Alternate Styles
      &.btn-primary {
        @include bg-azure-70();
        @include border-azure-70();

        &:hover {
          @include bg-azure-60();
        }

        &[disabled] {
          @include bg-azure-80();
          @include border-azure-80();

          opacity: 0.7;
        }
      }

      // Classic High-Contrast Mode Secondary Alternate Styles
      &.btn-secondary {
        @include bg-graphite-60();
        @include border-graphite-60();

        &:hover {
          @include bg-graphite-50();
        }

        &[disabled] {
          @include bg-graphite-100();
          @include border-graphite-100();

          opacity: 0.7;
        }
      }
    }
  }
}

/**
 * Provides the standard color rules for buttons that need box shadow
 */
@mixin ids-standard-contextual-button-colors() {
  &.btn-primary {
    // ====================================================
    // Primary Dark Mode

    &[mode='dark'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-slate-90),
          0 0 0 3px var(--ids-color-palette-azure-60),
          0 0 4px 2px rgba(141 201 230 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Primary High-Contrast Mode

    &[mode='contrast'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-slate-10),
          0 0 0 3px var(--ids-color-palette-azure-90),
          0 0 4px 2px rgba(41 41 41 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Primary "Classic" Light Mode

    &[mode='light'][version='classic'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-graphite-10),
          0 0 0 3px var(--ids-color-palette-azure-50),
          0 0 4px 2px rgba(54 138 192 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Primary "Classic" Dark Mode

    &[mode='dark'][version='classic'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-classic-slate-80),
          0 0 0 3px var(--ids-color-palette-azure-50),
          0 0 4px 2px rgba(141 201 230 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Primary "Classic" High-Contrast Mode

    &[mode='contrast'][version='classic'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-graphite-20)
          0 0 0 3px var(--ids-color-palette-azure-90),
          0 0 4px 2px rgba(41 41 41 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }
  }

  &.btn-secondary {
    // ====================================================
    // Secondary Dark Mode
    &[mode='dark'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-slate-90),
          0 0 0 3px var(--ids-color-palette-azure-60),
          0 0 4px 2px rgba(141 201 230 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Secondary High-Contrast Mode

    &[mode='contrast'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-slate-10),
          0 0 0 3px var(--ids-color-palette-azure-90),
          0 0 4px 2px rgba(41 41 41 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Secondary "Classic" Light Mode

    &[mode='light'][version='classic'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-graphite-10),
          0 0 0 3px var(--ids-color-palette-azure-50),
          0 0 4px 2px rgba(54 138 192 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Secondary "Classic" Dark Mode

    &[mode='dark'][version='classic'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-classic-slate-80),
          0 0 0 3px var(--ids-color-palette-azure-50),
          0 0 4px 2px rgba(141 201 230 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Secondary "Classic" High-Contrast Mode

    &[mode='contrast'][version='classic'] {
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-graphite-20),
          0 0 0 3px var(--ids-color-palette-azure-90),
          0 0 4px 2px rgba(41 41 41 / 0.3);
      }

      &.color-variant-alternate {
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }
  }
}

@mixin ids-modal-button-colors() {
  // ====================================================
  // Primary Button styles

  &.btn-primary {
    background-color: var(--ids-color-brand-primary-contrast);
    color: var(--ids-color-brand-primary-base);

    &:focus {
      @include modal-button-shadow();
    }

    &:hover {
      color: var(--ids-color-palette-azure-80);
    }

    &[disabled] {
      opacity: 0.3;
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-primary-base);
    }
  }

  // ====================================================
  // Secondary/Tertiary/Destructive Button styles

  &.btn-secondary,
  &.btn-tertiary,
  &.btn-destructive {
    @include bg-slate-30();

    background-color: var(--ids-color-brand-primary-contrast);
    color: var(--ids-color-brand-secondary-contrast);

    &:focus {
      @include modal-button-shadow();
    }

    &:hover {
      color: var(--ids-color-palette-slate-100);
    }

    &[disabled] {
      @include bg-slate-20();
      @include border-slate-20();
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-secondary-lighter);
    }
  }
}
