/**
 * Ids Button Base CSS
 * Use these mixins inside Ids Button CSS classes to define their base styles.
 */
@import '../../core/ids-base';
@import '../../mixins/sass/ids-ripple-mixin';

$ids-button-rounded-size: 8px;

// Mixin for a "blank" shadow (same as the standard one with a completely transparent alpha)
@mixin blank-shadow() {
  box-shadow: 0 0 3px 2px rgba(54 138 192 / 0);
}

// Used to make the focus "border" appear to be separated from the button.
@mixin solid-button-shadow() {
  box-shadow:
    0 0 0 2px var(--ids-color-palette-white), // bg color
    0 0 0 3px var(--ids-color-brand-primary-base), // primary color (border)
    0 0 4px 3px var(--ids-color-brand-primary-base) // primary color (shadowy-part)
}

// Same as the standard button shadow, but takes on "error" or "destructive" colors
@mixin solid-destructive-button-shadow {
  box-shadow:
    0 0 0 2px var(--ids-color-palette-white), // bg color
    0 0 0 3px var(--ids-color-palette-ruby-60), // primary color (border)
    0 0 4px 3px var(--ids-color-palette-ruby-60) // primary color (shadowy-part)
}

// Used to make the focus "border" on non-solid buttons (modal buttons, etc)
@mixin modal-button-shadow() {
  box-shadow: 0 0 3px 1px var(--ids-color-brand-primary-base) // primary color (shadowy-part)
}

@mixin alternate-button-shadow() {
  border-color: var(--ids-color-palette-white);
  box-shadow: 0 0 3px 2px rgba(255 255 255 / 0.7);
}

// Used to include a basic set of button styles within each individual button prototype.
@mixin ids-base-button-styles() {
  @include blank-shadow();
  @include border-1();
  @include border-solid();
  @include font-normal();
  @include font-sans();
  @include text-16();

  overflow: hidden;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  // Nothing inside the button itself should accept mouse events
  * {
    pointer-events: none;
  }

  // ====================================================
  // Base Button styles (default/tertiary)

  @include bg-transparent();
  @include border-transparent();

  color: currentColor;

  // Animate BG/Text/Border color changes on all styles
  transition:
    background-color $transition-length $transition-ease,
    border-color $transition-length $transition-ease,
    box-shadow $transition-length $transition-ease,
    color $transition-length $transition-ease,
    opacity $transition-length $transition-ease;
  white-space: nowrap;

  &:focus {
    // Disable standard focus state in Chrome
    outline: none;
    outline-color: transparent;
  }

  &:not([disabled]) {
    @include cursor-pointer();
  }

  // ====================================================
  // Standard element types inside the button
  span {
    vertical-align: bottom;

    &.audible {
      @include audible();
    }
  }

  .ids-icon {
    vertical-align: middle;
  }

  // ====================================================
  // Alignment changes

  &.align-icon-end {
    ::slotted(ids-icon) {
      @include pl-4;
    }
  }

  &.no-margins {
    @include mx-0();
  }
}

/**
 * Provides standardized padding rules for certain button types
 */
@mixin ids-standard-button-padding() {
  @include px-28();
}

@mixin ids-inline-button-padding() {
  @include px-12();
}

/**
 * Provides the standard color rules for all regular buttons
 */
@mixin ids-standard-button-colors() {
  @include inline-flex();
  @include font-bold();

  border-radius: $ids-button-rounded-size;

  &[mode='light'],
  &:not([mode]) {
    // ====================================================
    // Default/Tertiary Button

    @include border-transparent();
    @include text-slate-60();

    &.is-active,
    &:focus {
      @include border-azure-50();
      @include shadow();
    }

    &:hover {
      @include text-azure-70();
      @include bg-azure-10();
    }

    &[disabled] {
      @include text-slate-30();
      @include bg-transparent();
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-primary-base);
    }

    // ====================================================
    // Tertiary Destructive Button

    &.btn-tertiary-destructive {
      @include text-alert-error();

      &.is-active,
      &:focus {
        @include border-ruby-70();
        @include shadow-error();
      }

      &:hover {
        @include bg-ruby-10();
        @include text-ruby-80();
      }

      &[disabled] {
        @include text-ruby-30();
        @include bg-transparent();
      }

      .ripple-effect {
        background-color: var(--ids-color-status-danger);
      }
    }

    // ====================================================
    // Primary Button

    &.btn-primary {
      background-color: var(--ids-color-brand-primary-base);
      border-color: var(--ids-color-brand-primary-base);
      color: var(--ids-color-brand-primary-contrast);

      &.is-active,
      &:focus {
        @include solid-button-shadow();
      }

      &:hover {
        @include bg-azure-80();
        @include border-azure-80();
      }

      &[disabled] {
        @include bg-slate-20();
        @include border-slate-20();
        @include text-slate-40();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    // ====================================================
    // Primary Destructive Button

    &.btn-primary-destructive {
      @include bg-alert-error();
      @include border-alert-error();
      @include text-white();

      &.is-active,
      &:focus {
        @include solid-destructive-button-shadow();
      }

      &:hover {
        @include bg-ruby-70();
        @include border-ruby-70();
      }

      &[disabled] {
        @include bg-slate-20();
        @include border-slate-20();
        @include text-slate-40();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    // ====================================================
    // Secondary Button

    &.btn-secondary {
      @include bg-transparent();
      @include border-2();
      @include border-azure-70();
      @include text-azure-70();

      &.is-active,
      &:focus {
        @include solid-button-shadow();
      }

      &:hover {
        @include bg-slate-40();
        @include bg-azure-10();
      }

      &[disabled] {
        @include bg-transparent();
        @include border-slate-20();
        @include text-slate-30();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-base);
      }
    }

    // ====================================================
    // Light Mode Alternate

    &.color-variant-alternate,
    &.color-variant-alternate-formatter {
      @include text-slate-10();

      opacity: 0.7;

      &.is-active,
      &:focus {
        @include alternate-button-shadow();

        border-color: var(--ids-color-palette-white);
        opacity: 1;
      }

      &:hover {
        @include bg-azure-90();
        @include text-white();

        opacity: 1;
      }

      &[disabled] {
        @include bg-transparent();
        @include text-white();

        opacity: 0.3;
      }

      .ripple-effect {
        background-color: var(--ids-color-palette-white);
      }

      // ====================================================
      // Light Mode Alternate Tertiary Destructive

      &.btn-tertiary-destructive {
        @include text-ruby-70();

        opacity: 1;

        &.is-active,
        &:focus {
          @include border-ruby-70();
          @include shadow-error();
        }

        &:hover {
          @include bg-ruby-30();
          @include text-ruby-90();
        }

        &[disabled] {
          @include text-ruby-30();
          @include bg-transparent();

          opacity: 0.7;
        }

        .ripple-effect {
          background-color: var(--ids-color-status-danger);
        }
      }

      // ====================================================
      // Light Mode Alternate Primary

      &.btn-primary {
        @include text-slate-10();

        background-color: var(--ids-color-palette-azure-40);
        border-color: var(--ids-color-palette-azure-40);
        color: var(--ids-color-brand-primary-contrast);
        opacity: 1;

        &.is-active,
        &:focus {
          @include alternate-button-shadow();

          border-color: var(--ids-color-palette-white);
        }

        &:hover {
          @include bg-azure-30();
          @include text-white();
        }

        &[disabled] {
          @include bg-azure-30();
          @include border-azure-30();
          @include text-white();

          opacity: 0.7;
        }

        .ripple-effect {
          background-color: var(--ids-color-brand-primary-contrast);
        }
      }

      // ====================================================
      // Light Mode Alternate Primary Destructive

      &.btn-primary-destructive {
        @include bg-ruby-70();
        @include border-ruby-70();
        @include text-white();

        opacity: 1;

        &.is-active,
        &:focus {
          @include solid-destructive-button-shadow();
        }

        &:hover {
          @include bg-ruby-80();
          @include border-ruby-80();
        }

        &[disabled] {
          @include bg-slate-20();
          @include border-slate-20();
          @include text-slate-40();
        }

        .ripple-effect {
          background-color: var(--ids-color-brand-primary-contrast);
        }
      }

      // ====================================================
      // Light Mode Alternate Secondary

      &.btn-secondary {
        @include border-2();
        @include border-azure-40();
        @include bg-transparent();
        @include text-azure-40();

        opacity: 1;

        &.is-active,
        &:focus {
          @include alternate-button-shadow();
        }

        &:hover {
          @include bg-azure-90();
          @include border-azure-30();
          @include text-white();
        }

        &[disabled] {
          @include bg-slate-90();
          @include border-slate-20();
          @include text-slate-20();

          opacity: 0.7;
        }

        .ripple-effect {
          background-color: var(--ids-color-brand-primary-contrast);
        }
      }
    }

    &.color-variant-alternate-formatter {
      opacity: 0.8;

      &.is-active,
      &:focus {
        border-color: var(--ids-color-palette-azure-50);
        box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-60);
      }

      .ripple-effect {
        background-color: var(--ids-color-palette-azure-40);
      }

      &.ids-menu-button.compact {
        @include p-4();
        @include pl-8();
      }
    }
  }

  // ====================================================
  // Dark Mode

  &[mode='dark'] {
    @include text-white();

    &.is-active,
    &:focus {
      @include border-azure-50();
      @include shadow();
    }

    &:hover {
      @include text-azure-30();
      @include bg-slate-90();
    }

    &[disabled] {
      @include bg-transparent();
      @include text-slate-40();
    }

    .ripple-effect {
      background-color: var(--ids-color-palette-azure-40);
    }

    // ====================================================
    // Dark Mode Tertiary Destructive Button

    &.btn-tertiary-destructive {
      @include text-ruby-40();

      &.is-active,
      &:focus {
        @include border-ruby-40();
        @include shadow-error();
      }

      &:hover {
        @include bg-ruby-30();
        @include text-ruby-80();
      }

      &[disabled] {
        @include text-ruby-30();
        @include bg-transparent();
      }

      .ripple-effect {
        background-color: var(--ids-color-status-danger);
      }
    }

    // ====================================================
    // Dark Mode Primary Button

    &.btn-primary {
      @include bg-azure-40();
      @include border-azure-40();

      color: var(--ids-color-palette-white);

      &.is-active,
      &:focus {
        @include solid-button-shadow();
      }

      &:hover {
        @include bg-azure-30();
        @include border-azure-30();
      }

      &[disabled] {
        @include bg-slate-90();
        @include border-slate-90();
        @include text-slate-40();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    // ====================================================
    // Dark Mode Primary Destructive Button

    &.btn-primary-destructive {
      @include bg-ruby-40();
      @include border-ruby-40();
      @include text-slate-90();

      &.is-active,
      &:focus {
        @include solid-destructive-button-shadow();
      }

      &:hover {
        @include bg-ruby-30();
        @include border-ruby-30();
      }

      &[disabled] {
        @include bg-slate-90();
        @include border-slate-90();
        @include text-slate-40();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    // ====================================================
    // Dark Mode Secondary Button

    &.btn-secondary {
      @include border-azure-60();
      @include border-2();
      @include bg-transparent();
      @include text-azure-60();

      &.is-active,
      &:focus {
        @include solid-button-shadow();
      }

      &:hover {
        @include border-azure-30();
        @include text-azure-30();
        @include bg-slate-90();
      }

      &[disabled] {
        @include bg-slate-90();
        @include border-slate-40();
        @include text-slate-40();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    // ====================================================
    // Dark Mode Alternate

    &.color-variant-alternate {
      @include text-white();

      &:hover {
        @include bg-azure-90();
      }

      &[disabled] {
        @include bg-transparent();
        @include text-slate-40();
      }

      // ====================================================
      // Dark Mode Alternate Tertiary Destructive Button

      &.btn-tertiary-destructive {
        @include text-ruby-40();

        &.is-active,
        &:focus {
          @include border-ruby-50();
          @include shadow-error();
        }

        &:hover {
          @include bg-ruby-50();
          @include text-ruby-100();
        }

        &[disabled] {
          @include text-ruby-30();
          @include bg-transparent();

          opacity: 0.7;
        }

        .ripple-effect {
          background-color: var(--ids-color-status-danger);
        }
      }

      // ====================================================
      // Dark Mode Primary Alternate

      &.btn-primary {
        &:hover {
          @include bg-azure-30();
          @include border-azure-30();
        }

        &[disabled] {
          @include bg-slate-90();
          @include border-slate-90();
        }
      }

      // ====================================================
      // Dark Mode Primary Alternate Destructive Button

      &.btn-primary-destructive {
        @include bg-ruby-40();
        @include border-ruby-40();
        @include text-slate-90();

        &.is-active,
        &:focus {
          @include solid-destructive-button-shadow();
        }

        &:hover {
          @include bg-ruby-30();
          @include border-ruby-30();
        }

        &[disabled] {
          @include bg-slate-90();
          @include border-slate-90();
          @include text-slate-40();
        }

        .ripple-effect {
          background-color: var(--ids-color-brand-primary-contrast);
        }
      }

      // ====================================================
      // Dark Mode Secondary Alternate

      &.btn-secondary {
        @include bg-transparent();
        @include border-2();
        @include border-azure-60();
        @include text-azure-60();

        &:hover {
          @include bg-azure-90();
          @include border-azure-30();
          @include text-azure-30();
        }

        &[disabled] {
          @include bg-slate-90();
          @include border-graphite-40();
          @include text-graphite-40();
        }
      }
    }

    // ====================================================
    // Dark Mode Alternate Formatter

    &.color-variant-alternate-formatter {
      @include text-slate-70();

      &.is-active,
      &:focus {
        border-color: var(--ids-color-palette-azure-50);
        box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-40);
      }
    }
  }

  // ====================================================
  // High-Contrast Mode

  &[mode='contrast'] {
    @include text-slate-80();

    &.is-active,
    &:focus {
      @include border-azure-80();
      @include shadow();
    }

    &:hover {
      @include bg-azure-10();
      @include text-azure-80();
    }

    &[disabled] {
      @include bg-transparent();
      @include text-slate-40();
    }

    // ====================================================
    // High-Contrast Mode Tertiary Destructive Button

    &.btn-tertiary-destructive {
      @include text-ruby-60();

      &.is-active,
      &:focus {
        @include border-ruby-60();
        @include shadow-error();
      }

      &:hover {
        @include bg-ruby-10();
        @include text-ruby-80();
      }

      &[disabled] {
        @include text-ruby-30();
        @include bg-transparent();
      }

      .ripple-effect {
        background-color: var(--ids-color-status-danger);
      }
    }

    // ====================================================
    // High-Contrast Mode Primary Button

    &.btn-primary {
      @include bg-azure-80();
      @include text-white();

      &:hover {
        @include bg-azure-90();
      }

      &[disabled] {
        @include bg-slate-20();
        @include text-slate-40();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    // ====================================================
    // High-Contrast Mode Primary Destructive Button

    &.btn-primary-destructive {
      @include bg-ruby-60();
      @include border-ruby-60();
      @include text-white();

      &.is-active,
      &:focus {
        @include solid-destructive-button-shadow();
      }

      &:hover {
        @include bg-ruby-70();
        @include border-ruby-70();
      }

      &[disabled] {
        @include bg-slate-20();
        @include border-slate-20();
        @include text-slate-40();
      }

      .ripple-effect {
        background-color: var(--ids-color-brand-primary-contrast);
      }
    }

    // ====================================================
    // High-Contrast Mode Secondary Button

    &.btn-secondary {
      @include border-2();
      @include bg-transparent();
      @include border-azure-80();
      @include text-azure-80();

      &:hover {
        @include bg-azure-10();
        @include border-azure-90();
        @include text-azure-90();
      }

      &[disabled] {
        @include bg-slate-10();
        @include border-slate-50();
        @include text-slate-50();
      }
    }

    // ====================================================
    // High-Contrast Mode Alternate

    &.color-variant-alternate {
      @include text-slate-10();

      opacity: 1;

      &:hover {
        @include bg-azure-90();
        @include text-white();
      }

      &[disabled] {
        @include bg-transparent();
        @include text-slate-40();
      }

      // ====================================================
      // High-Contrast Mode Alternate Tertiary Destructive Button

      &.btn-tertiary-destructive {
        @include text-ruby-60();

        &.is-active,
        &:focus {
          @include border-ruby-60();
          @include shadow-error();
        }

        &:hover {
          @include bg-ruby-30();
          @include text-ruby-80();
        }

        &[disabled] {
          @include text-ruby-30();
          @include bg-transparent();
        }

        .ripple-effect {
          background-color: var(--ids-color-status-danger);
        }
      }

      // ====================================================
      // High-Contrast Mode Alternate Primary

      &.btn-primary {
        @include bg-azure-60();
        @include border-azure-60();
        @include text-white();

        &:hover {
          @include bg-azure-50();
          @include text-white();
        }

        &[disabled] {
          @include bg-slate-70();
          @include border-slate-70();

          opacity: 0.7;
        }
      }

      // ====================================================
      // High-Contrast Mode Alternate Primary Destructive Button

      &.btn-primary-destructive {
        @include bg-ruby-60();
        @include border-ruby-60();
        @include text-white();

        &.is-active,
        &:focus {
          @include solid-destructive-button-shadow();
        }

        &:hover {
          @include bg-ruby-70();
          @include border-ruby-70();
        }

        &[disabled] {
          @include bg-slate-20();
          @include border-slate-20();
          @include text-slate-40();
        }

        .ripple-effect {
          background-color: var(--ids-color-brand-primary-contrast);
        }
      }

      // ====================================================
      // High-Contrast Mode Alternate Secondary

      &.btn-secondary {
        @include border-2();
        @include border-azure-60();
        @include bg-transparent();
        @include text-azure-60();

        &:hover {
          @include border-azure-30();
          @include text-azure-30();
          @include bg-azure-90();
        }

        &[disabled] {
          @include bg-slate-90();
          @include border-graphite-40();
          @include text-graphite-30();

          opacity: 0.7;
        }
      }
    }

    &.color-variant-alternate-formatter {
      @include text-white();

      &.is-active,
      &:focus {
        border-color: var(--ids-color-palette-azure-40);
        box-shadow: 0 0 3px 1px var(--ids-color-palette-azure-50);
      }

      .ripple-effect {
        background-color: var(--ids-color-palette-azure-40);
      }
    }
  }
}

/**
 * Provides the standard color rules for buttons that need box shadow
 */
@mixin ids-standard-contextual-button-colors() {
  &.btn-primary {
    // ====================================================
    // Primary Dark Mode

    &[mode='dark'] {
      &.is-active,
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-slate-90),
          0 0 0 3px var(--ids-color-palette-azure-60),
          0 0 4px 2px rgba(141 201 230 / 0.3);
      }

      &.color-variant-alternate {
        &.is-active,
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Primary High-Contrast Mode

    &[mode='contrast'] {
      &.is-active,
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-slate-10),
          0 0 0 3px var(--ids-color-palette-azure-90),
          0 0 4px 2px rgba(41 41 41 / 0.3);
      }

      &.color-variant-alternate {
        &.is-active,
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }
  }

  &.btn-secondary {
    // ====================================================
    // Secondary Dark Mode
    &[mode='dark'] {
      &.is-active,
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-slate-90),
          0 0 0 3px var(--ids-color-palette-azure-60),
          0 0 4px 2px rgba(141 201 230 / 0.3);
      }

      &.color-variant-alternate {
        &.is-active,
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }

    // ====================================================
    // Secondary High-Contrast Mode

    &[mode='contrast'] {
      &.is-active,
      &:focus {
        box-shadow:
          0 0 0 2px var(--ids-color-palette-slate-10),
          0 0 0 3px var(--ids-color-palette-azure-90),
          0 0 4px 2px rgba(41 41 41 / 0.3);
      }

      &.color-variant-alternate {
        &.is-active,
        &:focus {
          @include alternate-button-shadow();
        }
      }
    }
  }
}

@mixin ids-modal-button-colors() {
  // ====================================================
  // Primary Button

  &.btn-primary {
    background-color: var(--ids-color-brand-primary-contrast);
    color: var(--ids-color-brand-primary-base);

    &.is-active,
    &:focus {
      @include modal-button-shadow();
    }

    &:hover {
      color: var(--ids-color-palette-azure-80);
    }

    &[disabled] {
      opacity: 0.3;
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-primary-base);
    }
  }

  // ====================================================
  // Secondary/Tertiary Button

  &.btn-secondary,
  &.btn-tertiary {
    @include bg-slate-30();

    background-color: var(--ids-color-brand-primary-contrast);
    color: var(--ids-color-brand-secondary-contrast);

    &.is-active,
    &:focus {
      @include modal-button-shadow();
    }

    &:hover {
      color: var(--ids-color-palette-slate-100);
    }

    &[disabled] {
      @include bg-slate-20();
      @include border-slate-20();
    }

    .ripple-effect {
      background-color: var(--ids-color-brand-secondary-lighter);
    }
  }
}
