.visual {
  border: 1px solid #999;
}


.scrollable {
  background-color: white;

  max-height: 400px;
  max-width: 400px;
  overflow: scroll;
  /* position: relative; */
}

.spacer {
  height: 300px;
  width: 400px;
}

.scrolled-element {
  position: relative;
}

.scrolled-element-y {
  height: 1200px;
}

.scrolled-element-x {
  width: 1200px;
}

.scrolled-element-both {
  height: 1200px;
  width: 1200px;
}

#scroll-container-positioned {
  position: absolute;
  left: 500px;
  top: 50px;
}

/*
 *
 */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  width: 100%;
}

.inner {
  position: relative;
  width: 45%;
  height: 200px;
  background-color: pink;
  padding: 0 15px;
}

.positioned {
  background-color: red;
  width: 50px;
  height: 50px;
}



.relative {
  position: relative;
}
