<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Ids Form</ids-text>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding-x="md">
      <ids-layout-grid-cell>
        <ids-button id="btn-toggle-compact" appearance="tertiary">
          <ids-icon icon="settings"></ids-icon>
          <span>Toggle Compact</span>
        </ids-button>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-form submit-button="btn-submit" id="sample-form">
      <ids-layout-grid cols="1" cols-md="2" padding="md">
        <ids-layout-grid-cell>
          <ids-dropdown id="company-name" label="Company Name" value="" dirty-tracker validate="required" size="md" allow-blank="true">
            <ids-list-box>
              <ids-list-box-option value="" selected>None</ids-list-box-option>
              <ids-list-box-option value="acme">Acme, Inc.</ids-list-box-option>
              <ids-list-box-option value="infor">Widget Corp</ids-list-box-option>
            </ids-list-box>
          </ids-dropdown>
          <ids-input id="purchase-form" label="Purchase Form" value="3567" dirty-tracker validate="required" size="md"></ids-input>
          <ids-lookup id="issue-methods" label="Issue Methods" title="Select an Item" field="description" value="102,103" dirty-tracker validate="required" size="md"></ids-lookup>
          <ids-upload label="Attachments" id="attachments" dirty-tracker validate="required" size="md"></ids-upload>
          <ids-textarea id="notes" label="Notes" dirty-tracker validate="required" size="md"></ids-textarea>
          <ids-checkbox id="freight" label="Freight" checked dirty-tracker validate="required" no-margin></ids-checkbox>
          <ids-button id="btn-submit" appearance="primary" type="submit">
            <span>Submit</span>
          </ids-button>
        </ids-layout-grid-cell>
        <ids-layout-grid-cell>
          <ids-color-picker id="ship-color" label="Ship Color" value="red-80" clearable dirty-tracker validate="required" size="md"></ids-color-picker>
          <ids-date-picker id="ship-date" label="Ship Date" value="3/4/2023" mask dirty-tracker validate="required" size="md"></ids-date-picker>
          <ids-time-picker label="Ship Time" id="ship-time" mask="true" dirty-tracker validate="required" size="md"></ids-time-picker>

          <ids-spinbox id="product-quantity" label="Quantity" dirty-tracker validate="required" value="0">

          </ids-spinbox>
          <ids-radio-group label="Ship Type" dirty-tracker validate="required" id="ship-type">
            <ids-radio value="opt1" label="Boat"></ids-radio>
            <ids-radio value="opt2" label="Truck" checked="true"></ids-radio>
          </ids-radio-group>
          <ids-switch id="send-notifications" label="Send notifications" checked="true"></ids-switch>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-form>
  </ids-container>
</body>
</html>
