<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-text font-size="12" type="h1">Custom Icons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto="true" gap="md">
       <ids-layout-grid-cell>
        <span class="ids-icon-container">
          <ids-text font-size="10" mode="light">Custom Airplane</ids-text><br>
          <ids-icon icon="custom-airplane" size="large"></ids-icon>
          <ids-icon icon="custom-airplane"></ids-icon>
        </span>
        <span class="ids-icon-container">
          <ids-text font-size="10" mode="light">Custom Cargo Ship</ids-text><br>
          <ids-icon icon="custom-cargo-ship" size="large"></ids-icon>
          <ids-icon icon="custom-cargo-ship"></ids-icon>
        </span>
        <span class="ids-icon-container">
          <ids-text font-size="10" mode="light">Custom Popup Media</ids-text><br>
          <ids-icon icon="custom-popup-media" size="large"></ids-icon>
          <ids-icon icon="custom-popup-media"></ids-icon>
        </span>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
