<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Custom Icons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" gap="md" padding-x="md">
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Custom Airplane</ids-text><br>
        <ids-icon icon="custom-airplane" size="large"></ids-icon>
        <ids-icon icon="custom-airplane"></ids-icon>
      </span>
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Custom Cargo Ship</ids-text><br>
        <ids-icon icon="custom-cargo-ship" size="large"></ids-icon>
        <ids-icon icon="custom-cargo-ship"></ids-icon>
      </span>
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Custom Popup Media</ids-text><br>
        <ids-icon icon="custom-popup-media" size="large"></ids-icon>
        <ids-icon icon="custom-popup-media"></ids-icon>
      </span>
    </ids-layout-grid>

    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">App Icons (Module Nav)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid auto-fit="true" gap="md" padding-x="md">
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Admin Console</ids-text><br>
        <ids-icon icon="icon-app-ac" width="40" height="40" stroke="none" viewBox="0 0 40 40"></ids-icon>
      </span>
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Job Console</ids-text><br>
        <ids-icon icon="icon-app-jo" width="40" height="40" stroke="none" viewBox="0 0 40 40"></ids-icon>
      </span>
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Landing Page Designer</ids-text><br>
        <ids-icon icon="icon-app-lmd" width="40" height="40" stroke="none" viewBox="0 0 40 40"></ids-icon>
      </span>
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Process Server Administrator</ids-text><br>
        <ids-icon icon="icon-app-psa" width="40" height="40" stroke="none" viewBox="0 0 40 40"></ids-icon>
      </span>
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Proxy Management</ids-text><br>
        <ids-icon icon="icon-app-pm" width="40" height="40" stroke="none" viewBox="0 0 40 40"></ids-icon>
      </span>
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">Security System Management</ids-text><br>
        <ids-icon icon="icon-app-ssm" width="40" height="40" stroke="none" viewBox="0 0 40 40"></ids-icon>
      </span>
      <span class="ids-icon-container">
        <ids-text font-size="10" mode="light">User Management</ids-text><br>
        <ids-icon icon="icon-app-um" width="40" height="40" stroke="none" viewBox="0 0 40 40"></ids-icon>
      </span>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
