<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container color-variant="alternate" role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" hidden></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1" color-variant="alternate">Icons (Alternate Color Variant)</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid class="ids-icon-list" auto-fit="true" gap="md" padding-x="md">
      <ids-layout-grid-cell>
        <span class="ids-icon-container">
          <ids-text font-size="10" color-variant="alternate">icon-settings</ids-text><br />
          <ids-icon icon="settings" size="large" color-variant="alternate"></ids-icon>
          <ids-icon icon="settings" color-variant="alternate"></ids-icon>
          <ids-icon icon="settings" size="xsmall" color-variant="alternate"></ids-icon>
        </span>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
