ids-text {
  &.date::part(text) {
    margin-top: 4px;
    font-size: 14px;
    display: block;
  }
}

ids-icon {
  &[icon='success'] {
    color: green;
  }
  
  &[icon='rejected-outline'] {
    color: red;
  }
}

[mode='contrast'] {
  ids-icon[icon='rejected-outline'] {
    color: #7b0f11;
  }
}
