<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid>
      <ids-text font-size="12" type="h1">List Builder</ids-text>
    </ids-layout-grid>

    <ids-layout-grid cols="3" gap="md">
      <ids-layout-grid-cell>
        <ids-list-builder height="310px" virtual-scroll="false">
          <template>
            <ids-text font-size="16" type="span">${manufacturerName}</ids-text>
          </template>
        </ids-list-builder>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
