<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">List Builder (Multiple Selection)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" padding-x="md">
      <ids-layout-grid-cell>
        <ids-list-builder height="310px" selectable="multiple" id="list-builder-2" hide-checkboxes="true">
          <template>
            <ids-text font-size="16" type="span">${manufacturerName}</ids-text>
          </template>
        </ids-list-builder>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
