@use '../../themes/mixins/ids-core-mixins.scss' as mixins;
@import '../../themes/mixins/ids-clearable-mixin';
@import '../../themes/mixins/ids-dirty-tracker-mixin';
@import '../../themes/mixins/ids-validation-mixin';

// Field Sizes
$textarea-size-sm: 150px;
$textarea-size-md: 362px;
$textarea-size-lg: 400px;
$textarea-size-full: 100%;

// Set default size
$textarea-size-default: $textarea-size-md;
$textarea-size-default-height: 120px;

.ids-textarea {
  display: block;
  margin-bottom: var(--ids-space-70);
  font-size: var(--ids-font-size-40);
  font-family: var(--ids-font-family-default);

  .hidden {
    display: none;
  }

  .textarea-print {
    display: none;
    white-space: pre-line;
  }

  .textarea-character-counter {
    display: inline-block;
    min-height: auto;
    width: $textarea-size-default;

    &.almost-empty {
      color: var(--ids-textarea-character-count-color-text-warning);
    }
  }

  .field-container {
    margin: var(--ids-space-none);
    padding: var(--ids-space-none);
    position: relative;
    display: flex;
    max-width: $textarea-size-default;

    // textarea sizes: [sm, md, lg, full]
    &.sm {
      max-width: $textarea-size-sm;

      ~ .textarea-character-counter {
        width: $textarea-size-sm;
      }
    }

    &.md {
      max-width: $textarea-size-md;

      ~ .textarea-character-counter {
        width: $textarea-size-md;
      }
    }

    &.lg {
      max-width: $textarea-size-lg;

      ~ .textarea-character-counter {
        width: $textarea-size-lg;
      }
    }

    &.full {
      max-width: $textarea-size-full;

      ~ .textarea-character-counter {
        width: $textarea-size-full;
      }
    }
  }

  .ids-textarea-field {
    @include mixins.antialiased();

    background-color: var(--ids-textarea-color-background-default);
    border: 1px solid;
    border-color: var(--ids-textarea-color-border-default);
    color: var(--ids-textarea-color-text-default);
    box-sizing: border-box;
    margin-bottom: var(--ids-space-30);
    padding: var(--ids-space-50);
    font-size: var(--ids-font-size-40);
    appearance: none;
    font-family: var(--ids-font-family-default);
    border-collapse: separate;
    border-radius: var(--ids-border-radius-01);
    display: inline-block;
    min-height: $textarea-size-default-height;
    resize: none;
    text-align: left;
    width: 100%;

    &[readonly] {
      background-color: var(--ids-textarea-color-background-readonly);
      border-color: var(--ids-textarea-color-border-readonly);
      color: var(--ids-textarea-color-text-readonly);
    }

    &[disabled] {
      background-color: var(--ids-textarea-color-background-disabled);
      border-color: var(--ids-textarea-color-border-disabled);
      color: var(--ids-textarea-color-text-disabled);
    }

    &:not([disabled]):not([readonly]):not(:focus):hover {
      border-color: var(--ids-textarea-color-border-hover);
    }

    &:focus {
      border-color: var(--ids-textarea-color-border-focus);
      box-shadow: var(--ids-textarea-shadow-focus);
      outline: none;
      outline-color: transparent;
    }

    &[readonly],
    &[disabled] {
      ~ .textarea-character-counter {
        display: none;
      }
    }

    &.resizable {
      resize: vertical;
    }

    &[rows] {
      height: auto;
    }

    &.bg-transparent {
      background-color: transparent;

      &:focus {
        border-color: var(--ids-textarea-color-border-focus);
      }
    }

    &.text-ellipsis {
      text-overflow: ellipsis;
    }


    // textarea text-align: [left, center, right]
    &.left {
      text-align: start;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: end;
    }

    // textarea message: [alert, error, info, success]
    &.alert,
    &.alert:hover {
      border-color: var(--ids-textarea-alert-color-border-default);
      color: var(--ids-textarea-alert-color-text-default);

      &:focus {
        border-color: var(--ids-textarea-alert-color-border-alert-focus);
        box-shadow: var(--ids-textarea-shadow-alert-focus);
      }

      &[disabled] {
        border-color: var(--ids-textarea-alert-color-border-disabled);
        color: var(--ids-textarea-alert-color-text-disabled);
      }
    }

    &.error,
    &.error:hover {
      border-color: var(--ids-textarea-color-border-error-default);
      color: var(--ids-textarea-color-text-error);

      &:focus {
        border-color: var(--ids-textarea-color-border-error-focus);
        box-shadow: var(--ids-textarea-shadow-error-focus);
      }

      &[disabled] {
        border-color: var(--ids-textarea-color-border-error-disabled);
        color: var(--ids-textarea-color-text-error-disabled);
      }
    }

    &.info,
    &.info:hover {
      border-color: var(--ids-textarea-color-border-info-default);
      color: var(--ids-textarea-color-text-info-default);

      &:focus {
        border-color: var(--ids-textarea-color-border-info-focus);
        box-shadow: rgba(0 102 212 / 0.3) 0 0 3px 2px;
      }

      &[disabled] {
        border-color: var(--ids-textarea-color-border-info-disabled);
        color: var(--ids-textarea-color-text-info-disabled);
      }
    }

    &.success,
    &.success:hover {
      border-color: var(--ids-textarea-color-border-success-default);
      color: var(--ids-textarea-color-text-success-default);

      &:focus {
        border-color: var(--ids-textarea-color-border-success-focus);
        box-shadow: var(--ids-textarea-shadow-success-focus);
      }

      &[disabled] {
        border-color: var(--ids-textarea-color-border-success-disabled);
        color: var(--ids-textarea-color-text-success-disabled);
      }
    }

    ~ .btn-clear {
      margin-top: var(--ids-space-30);
      position: absolute;
      right: 0;
    }
  }

  // Error Styles
  .error {
    .ids-textarea-field {
      border-color: var(--ids-textarea-color-border-error-default);
    }
  }


  .validation-message {
    margin-top: var(--ids-space-30);
  }

  &.disabled {
    .label-text {
      color: var(--ids-textarea-label-color-text-disabled);

      &.required::after {
        color: var(--ids-textarea-label-color-text-disabled);
      }
    }
  }
}

.ids-label-text {
  @include mixins.antialiased();

  color: var(--ids-textarea-label-color-text-default);
  margin-bottom: var(--ids-space-40);
  align-items: baseline;
  font-family: var(--ids-font-family-default);
  display: flex;

  // Simulate standard label text size while empty with a non-breaking space
  &.empty {
    &::before {
      content: '\00a0';
    }
  }

  &.required {
    &::after {
      position: relative;
      padding-inline: var(--ids-space-20);
      font-size: var(--ids-font-size-50);
      content: '*';
      color: var(--ids-input-required-indicator-color-text-default);
      font-family: var(--ids-font-family-default);
      margin-top: -10px;
      top: 1px;
    }

    &.no-required-indicator::after,
    &.empty::after {
      content: '';
    }
  }
}

.label-state-collapsed {
  .ids-label-text.empty {
    margin: var(--ids-space-none);
    visibility: hidden;
    height: 0;
  }
}

// Print Style Sheet
@media print {
  .ids-textarea {
    .textarea-character-counter,
    .ids-textarea-field {
      display: none;
    }
  }

  .textarea-print {
    display: inline-block;
    height: auto;
    width: auto;
  }
}
