<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">IDS Error Page</ids-text>
      </ids-layout-grid-cell>
    </ids-layout-grid>

    <ids-layout-grid auto="true">
      <ids-layout-grid-cell>
        <ids-error-page
          id="error-page-1"
          visible="true"
          icon="empty-error-loading"
          label="Access Denied"
          description="Configuration Manager access has been denied."
          button-text="Return"
        ></ids-error-page>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
