.ids-card-content-variant {
  padding: 15px 16px;
  display: flex;
  align-items: center;
  font-family: "source sans pro",helvetica,arial,sans-serif;

  .content {
    margin-right: auto;

    &-status {
      padding-left: 18px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: 2px;
        border-radius: 50%;
        top: 4px;
      }

      &.success {
        color: #2AC371;

        &::before {
          background: #2AC371;
        }
      }

      &.error {
        color: #DA1217;

        &::before {
          background: #DA1217;
        }
      }

      &.alert {
        color: #F98300;

        &::before {
          background: #F98300;
        }
      }
    }

    &-title {
      color: #2F2F32;
      font-size: 16px;

      .available {
        color: #2AC371;
      }

      .busy {
        color: #DA1217;
      }

      .away {
        color: #F98300;
      }
    }

    &-desc {
      color: #606066;
      margin-top: 2px;
    }
  }

  ids-image {
    padding-right: 16px;
  }
}

[slot='card-content'] {
  display: flex;
  align-items: center;
  padding: 15px 16px;
  gap: 16px;
}