<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <%= htmlWebpackPlugin.options.font %>
</head>

<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true">
      <ids-text font-size="12" type="h1">Menu Button (Change Content on Selection)</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="4" gap="md">
      <ids-layout-grid-cell>

        <ids-menu-button id="menu-button" icon="settings" type="tertiary" menu="my-menu" dropdown-icon>
          <span>Choose a Program Type...</span>
        </ids-menu-button>
        <ids-popup-menu id="my-menu" target="menu-button" trigger-type="click">
          <ids-menu-group select="single" id="programs">
            <ids-menu-header>Program Types</ids-menu-header>
            <ids-menu-item value="career-space">Career Space</ids-menu-item>
            <ids-menu-item value="employee-transition-programs">Employee Transition Programs</ids-menu-item>
            <ids-menu-item value="process-server">Process Server</ids-menu-item>
            <ids-menu-item value="candidate-transition-programs" selected="true">Candidate Transition Programs</ids-menu-item>
          </ids-menu-group>
        </ids-popup-menu>

      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>

</html>
