<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= htmlWebpackPlugin.options.font %>
</head>
<body>
  <ids-container role="main" padding="8" hidden>
    <ids-theme-switcher mode="light"></ids-theme-switcher>
    <ids-layout-grid auto-fit="true" padding="md">
      <ids-text font-size="12" type="h1">Menu Buttons</ids-text>
    </ids-layout-grid>
    <ids-layout-grid cols="2" gap="md" padding-x="md">
      <ids-layout-grid-cell>
          <ids-menu-button id="menu-button" icon="settings" appearance="tertiary" menu="my-menu" dropdown-icon>
            <span>Settings</span>
          </ids-menu-button>
          <ids-popup-menu id="my-menu" target="menu-button" trigger-type="click">
            <ids-menu-group>
              <ids-menu-item>Personalize Columns...</ids-menu-item>
            </ids-menu-group>
            <ids-separator></ids-separator>
            <ids-menu-group select="single" id="sizes">
              <ids-menu-header>Row Height</ids-menu-header>
              <ids-menu-item disabled="true" value="extra-small">Extra Small</ids-menu-item>
              <ids-menu-item value="small">Small</ids-menu-item>
              <ids-menu-item value="medium">Medium</ids-menu-item>
              <ids-menu-item value="large" selected="true">Large</ids-menu-item>
            </ids-menu-group>
            <ids-separator></ids-separator>
            <ids-menu-group select="multiple" keep-open="true">
              <ids-menu-header>Filtering Options</ids-menu-header>
              <ids-menu-item selected="true">Show Filter Row</ids-menu-item>
              <ids-menu-item value="run-filter">Run Filter</ids-menu-item>
              <ids-menu-item value="clear-filter">Clear Filter</ids-menu-item>
            </ids-menu-group>
          </ids-popup-menu>

          <ids-menu-button id="icon-button" menu="icon-menu" icon="more" tooltip="Multiselect">
            <span class="audible">Icon only button</span>
          </ids-menu-button>
          <ids-popup-menu id="icon-menu" target="icon-button" trigger-type="click">
            <ids-menu-group select="multiple" keep-open="true">
              <ids-menu-item value="1">Option One</ids-menu-item>
              <ids-menu-item value="2">Option Two</ids-menu-item>
              <ids-menu-item value="3">Option Three</ids-menu-item>
            </ids-menu-group>
          </ids-popup-menu>

          <ids-menu-button id="icon-button-no-arrow" menu="icon-menu-no-arrow" icon="add" tooltip="No arrow">
            <span class="audible">Icon only no arrow</span>
          </ids-menu-button>
          <ids-popup-menu id="icon-menu-no-arrow" arrow="none" target="icon-button" trigger-type="click">
            <ids-menu-group>
              <ids-menu-item value="1">Option One</ids-menu-item>
              <ids-menu-item value="2">Option Two</ids-menu-item>
              <ids-menu-item value="3">Option Three</ids-menu-item>
            </ids-menu-group>
          </ids-popup-menu>
      </ids-layout-grid-cell>
    </ids-layout-grid>
  </ids-container>
</body>
</html>
