/* Ids Upload Advanced File */
@use '../../themes/mixins/ids-core-mixins.scss' as mixins;

// Flex item will not grow or shrink
@mixin flex-item-stable() {
  flex-grow: 0;
  flex-shrink: 0;
}

.ids-upload-advanced-file {
  display: block;

  .hidden {
    display: none;
  }

  .container {
    margin-top: var(--ids-space-xs);
    padding: var(--ids-space-xxxs);
    border: 1px solid var(--ids-upload-advanced-file-color-border-default);
    border-style: dashed;
    border-radius: var(--ids-border-radius-xxs);

    .file-row {
      align-items: center;
      display: flex;

      .status {
        @include flex-item-stable();
      }

      .file-name {
        min-width: 0;
        flex-grow: 1;
      }

      .file-name span {
        @include mixins.antialiased();

        display: block;
        font-weight: var(--ids-font-weight-normal);
        margin: var(--ids-space-none);
        font-family: var(--ids-font-family-default);
        text-overflow: ellipsis;
      }

      .file-progress {
        display: contents;
      }

      .size {
        @include flex-item-stable();

        display: block;
        margin-inline-start: var(--ids-space-12);
      }

      .progress-text {
        @include mixins.antialiased();

        font-weight: var(--ids-font-weight-normal);
        display: block;
        margin: var(--ids-space-none);
        font-family: var(--ids-font-family-default);
        min-width: 48px;
        text-overflow: ellipsis;
      }

      .percent {
        color: var(--ids-color-primary-60);
        font-weight: bold;
      }

      .bar {
        margin-left: 3px;
        margin-right: 3px;
      }

      .btn-close {
        @include flex-item-stable();

        padding-inline: var(--ids-space-xxxs);
      }
    }

    .status .ids-alert,
    .status ids-alert {
      display: block;
      padding: var(--ids-space-xs);
      padding-bottom: var(--ids-space-xxs);
      margin: var(--ids-space-none);
    }

    .error-row,
    .btn-start,
    .status .not-started,
    .status .completed,
    .status .errored {
      display: none;
    }

    .error-row,
    .progress-row {
      padding-inline: var(--ids-space-12);
      padding-bottom: var(--ids-space-xxs);
    }

    .progress-row {
      padding-inline: var( --ids-space-24);
      align-items: center;
      display: flex;
      min-height: 28px;

      .progress-bar,
      .ids-progress-bar {
        padding-inline-end: var(--ids-space-xxs);
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }

  &.not-started {
    .container {
      .btn-start,
      .status .not-started {
        display: block;
      }

      .error-row,
      .status .in-process,
      .status .completed,
      .status .errored {
        display: none;
      }

      .progress-row {
        padding-inline-start: var( --ids-space-24);
        padding-inline-end: var(--ids-space-xxxs);
      }

      .progress-row .progress-bar {
        padding-inline-end: var(--ids-space-xxxs);
      }

      .progress-row .btn-start {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        top: 2px;
      }
    }
  }

  &.completed {
    .container {
      border-color: var(--ids-upload-advanced-color-border-complete-default);

      .status .completed {
        display: block;
      }

      .file-name {
        color: var(--ids-upload-advanced-file-color-text-complete);
      }

      .error-row,
      .progress-row,
      .btn-start,
      .status .not-started,
      .status .in-process,
      .status .errored {
        display: none;
      }
    }
  }

  &.errored {
    .container {
      border-color: var(--ids-upload-advanced-color-border-error-default);

      .error-row,
      .status .errored {
        display: block;
      }

      .progress-row,
      .btn-start,
      .status .not-started,
      .status .in-process,
      .status .completed {
        display: none;
      }
    }
  }

  &.disabled {
    color: var(--ids-upload-advanced-color-text-disabled);
    user-select: none;

    .container {
      border-color: var(--ids-upload-advanced-file-color-border-disabled);
      user-select: none;
    }

    &.completed {
      .container {
        border-color: var(--ids-upload-advanced-color-border-complete-disabled);
      }

      .container .file-name {
        color: var(--ids-upload-advanced-color-text-complete-disabled);
      }
    }

    &.errored {
      .container {
        border-color: var(--ids-upload-advanced-file-color-border-error-disabled);
      }
    }
  }
}
