/* Ids Upload Advanced File */
@import '../../core/ids-base';

// Flex item will not grow or shrink
@mixin flex-item-stable() {
  flex-grow: 0;
  flex-shrink: 0;
}

.ids-upload-advanced-file {
  @include block();

  .hidden {
    display: none;
  }

  .container {
    @include border-1();
    @include border-slate-50();
    @include mt-8();
    @include p-2();

    border-style: dashed;
    border-radius: var(--ids-border-radius-xs);

    .file-row {
      @include flex();

      align-items: center;

      .status {
        @include flex-item-stable();
      }

      .file-name {
        @include min-w-0();

        flex-grow: 1;
      }

      .file-name span {
        @include antialiased();
        @include font-sans();
        @include font-normal();
        @include block();
        @include m-0();

        text-overflow: ellipsis;
      }

      .file-progress {
        display: contents;
      }

      .size {
        @include block();
        @include ml-12();
        @include flex-item-stable();
      }

      .progress-text {
        @include antialiased();
        @include font-sans();
        @include font-normal();
        @include block();
        @include m-0();

        min-width: 48px;
        text-overflow: ellipsis;
      }

      .percent {
        color: var(--ids-color-palette-azure-60);
        font-weight: bold;
      }

      .bar {
        margin-left: 3px;
        margin-right: 3px;
      }

      .btn-close {
        @include mx-2();
        @include flex-item-stable();
      }
    }

    .status .ids-alert,
    .status ids-alert {
      @include block();
      @include p-8();
      @include pb-4();
      @include m-0();
    }

    .error-row,
    .btn-start,
    .status .not-started,
    .status .completed,
    .status .errored {
      display: none;
    }

    .error-row,
    .progress-row {
      @include px-12();
      @include pb-4();
    }

    .progress-row {
      @include flex();
      @include px-28();

      align-items: center;
      min-height: 28px;

      .progress-bar,
      .ids-progress-bar {
        @include pr-4();

        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }

  &.not-started {
    .container {
      .btn-start,
      .status .not-started {
        @include block();
      }

      .error-row,
      .status .in-process,
      .status .completed,
      .status .errored {
        display: none;
      }

      .progress-row {
        @include pl-28();
        @include pr-2();
      }

      .progress-row .progress-bar {
        @include pr-2();
      }

      .progress-row .btn-start {
        @include relative();

        flex-grow: 0;
        flex-shrink: 0;
        top: 2px;
      }
    }
  }

  &.completed {
    .container {
      @include border-emerald-80();

      .status .completed {
        @include block();
      }

      .file-name {
        @include text-emerald-80();
      }

      .error-row,
      .progress-row,
      .btn-start,
      .status .not-started,
      .status .in-process,
      .status .errored {
        display: none;
      }
    }
  }

  &.errored {
    .container {
      @include border-ruby-60();

      .error-row,
      .status .errored {
        @include block();
      }

      .progress-row,
      .btn-start,
      .status .not-started,
      .status .in-process,
      .status .completed {
        display: none;
      }
    }
  }

  &.disabled {
    @include text-slate-30();

    user-select: none;

    .container {
      @include border-slate-30();

      user-select: none;
    }

    &.completed {
      .container {
        @include border-emerald-30();
      }

      .container .file-name {
        @include text-emerald-30();
      }
    }

    &.errored {
      .container {
        @include border-ruby-30();
      }
    }
  }
}
