/* Ids Upload Advanced */
@import '../../core/ids-base';

.ids-upload-advanced {
  @include block();
  @include mb-16();

  .hidden {
    @include hidden();
  }

  .droparea {
    @include border-1();
    @include flex();
    @include relative();
    @include rounded-default();

    align-items: center;
    border-style: dashed;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    padding: 0 20px;

    .droparea-label {
      @include antialiased();
      @include block();
      @include no-select();

      text-align: center;
    }

    .hyperlink {
      @include border-1();
      @include border-solid();
      @include border-transparent();
      @include cursor-pointer();
      @include text-azure-60();

      pointer-events: auto;
      text-decoration: underline;
    }

    .file-input {
      @include absolute();

      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      width: 0.1px;
      z-index: -1;

      &:focus ~ .droparea-label .hyperlink {
        @include border-azure-60();
      }
    }

    &:hover {
      @include bg-slate-20();
      @include border-slate-60();
      @include text-slate-100();
    }

    &.hover {
      @include bg-azure-10();
      @include border-azure-60();
    }
  }

  .errorarea {
    @include border-1();
    @include border-transparent();
    @include hidden();
    @include mt-8();
    @include p-2();
    @include rounded-default();

    border-style: dashed;

    &.has-error {
      @include border-ruby-60();
      @include flex();
    }

    .status ids-alert {
      @include block();
      @include p-8();
      @include m-0();

      flex-grow: 0;
      flex-shrink: 0;
    }

    .error-row {
      @include antialiased();
      @include font-sans();
      @include font-normal();
      @include p-8();
      @include pl-0();
    }

    .error-data-container {
      max-height: 90px;
      overflow-y: auto;
    }
  }

  &.disabled {
    .droparea {
      .hyperlink {
        cursor: default;
        pointer-events: none;
      }
    }

    .errorarea.has-error {
      @include border-ruby-30();
      @include text-slate-30();
    }
  }
}

// Handle Themes
.ids-upload-advanced[mode='light'] {
  .droparea {
    @include bg-slate-10();
    @include border-slate-50();
    @include text-slate-50();

    .droparea-label {
      @include text-slate-100();
    }
  }

  &.disabled {
    .droparea,
    .droparea.hover,
    .droparea:hover {
      @include bg-slate-10();
      @include border-slate-30();
      @include text-slate-30();

      .droparea-label,
      .hyperlink {
        @include cursor-default();
        @include text-slate-30();
      }
    }
  }
}

.ids-upload-advanced[mode='dark'] {
  .droparea {
    @include bg-slate-70();
    @include border-slate-50();
    @include text-slate-20();

    &:hover,
    &.hover {
      @include bg-slate-80();
      @include border-slate-50();
    }
  }

  &.disabled .droparea {
    &:hover,
    &.hover {
      @include bg-slate-70();
      @include border-slate-50();
    }
  }
}

.ids-upload-advanced[mode='contrast'] {
  .droparea {
    @include bg-white();
    @include border-slate-50();
    @include text-slate-70();

    &:hover,
    &.hover {
      @include bg-slate-10();
      @include border-slate-50();
    }
  }

  &.disabled .droparea {
    &:hover,
    &.hover {
      @include bg-white();
      @include border-slate-50();
    }
  }
}

.ids-upload-advanced[version='classic'][mode='light'] {
  .droparea {
    @include bg-graphite-10();
    @include border-graphite-50();
    @include text-graphite-80();

    &:hover,
    &.hover {
      @include bg-graphite-20();
      @include border-graphite-50();
    }
  }

  &.disabled .droparea {
    &:hover,
    &.hover {
      @include bg-graphite-20();
      @include border-graphite-50();
    }
  }
}

.ids-upload-advanced[version='classic'][mode='dark'] {
  .droparea {
    @include bg-classic-slate-80();
    @include border-classic-slate-50();
    @include text-classic-slate-30();

    &:hover,
    &.hover {
      @include bg-classic-slate-70();
      @include border-classic-slate-50();
    }
  }

  &.disabled .droparea {
    &:hover,
    &.hover {
      @include bg-classic-slate-80();
      @include border-classic-slate-50();
    }
  }
}

.ids-upload-advanced[version='classic'][mode='contrast'] {
  .droparea {
    @include bg-white();
    @include border-graphite-50();
    @include text-graphite-100();

    &:hover,
    &.hover {
      @include bg-graphite-10();
      @include border-graphite-50();
    }
  }

  &.disabled .droparea {
    &:hover,
    &.hover {
      @include bg-white();
      @include border-graphite-50();
    }
  }
}
