/* Ids Upload Advanced */
@import '../../core/ids-base';

.ids-upload-advanced {
  @include block();

  margin-bottom: 16px;

  .hidden {
    display: none;
  }

  .droparea {
    @include border-1();
    @include flex();
    @include relative();
    @include rounded-default();
    @include bg-slate-10();
    @include border-slate-50();
    @include text-slate-50();

    align-items: center;
    border-style: dashed;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    padding: 0 20px;

    .icon {
      @include mb-4();
    }

    .droparea-label {
      @include antialiased();
      @include block();
      @include text-slate-100();

      text-align: center;
      user-select: none;
    }

    .hyperlink {
      pointer-events: auto;

      &::part(link) {
        text-decoration: underline;
      }
    }

    .file-input {
      @include absolute();

      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      width: 0.1px;
      z-index: -1;

      &:focus ~ .droparea-label .hyperlink::part(link) {
        border: 1px solid var(--ids-color-palette-azure-60);
        box-shadow: 0 0 4px 3px rgb(54 138 192 / 0.3);
      }
    }

    &:hover {
      @include bg-slate-20();
      @include border-slate-60();
      @include text-slate-100();
    }

    &.dragenter {
      @include bg-azure-10();
      @include border-azure-60();
    }
  }

  .toolbararea {
    height: 42px;
    opacity: 1;

    &.before-remove-transition {
      height: 8px;
      opacity: 0;
      transition: 0.3s all ease-out;
    }

    ~.filesarea .ids-upload-advanced-file:first-of-type .container,
    ~.filesarea ids-upload-advanced-file:first-of-type::part(container) {
      @include mt-0();
    }

    .ids-toolbar-section.align-end {
      flex: auto;
    }
  }

  .errorarea {
    @include border-1();
    @include border-transparent();
    @include mt-8();
    @include p-2();
    @include rounded-default();

    display: none;
    border-style: dashed;
    align-items: center;

    &.has-error {
      @include border-ruby-60();
      @include flex();
    }

    .status {
      flex-grow: 0;
      flex-shrink: 0;

      .ids-alert,
      ids-alert {
        @include block();
        @include p-8();
        @include pb-4();
        @include m-0();
      }
    }

    .error-row {
      @include min-w-0();

      flex-grow: 1;

      span {
        @include antialiased();
        @include font-sans();
        @include font-normal();
        @include block();
        @include m-0();

        text-overflow: ellipsis;
      }
    }

    .btn-close {
      @include mx-2();

      flex-grow: 0;
      flex-shrink: 0;
    }

    .error-data-container {
      max-height: 90px;
      overflow-y: auto;
    }
  }

  &.disabled {
    .droparea {
      .hyperlink {
        cursor: default;
        pointer-events: none;
      }
    }

    .droparea,
    .droparea.dragenter,
    .droparea:hover {
      @include bg-slate-10();
      @include border-slate-30();
      @include text-slate-30();

      .droparea-label {
        @include cursor-default();
        @include text-slate-30();
      }
    }

    .errorarea.has-error {
      @include border-ruby-30();
      @include text-slate-30();
    }
  }
}

// Handle Themes
.ids-upload-advanced[mode='dark'] {
  .droparea {
    @include bg-slate-70();
    @include border-slate-50();
    @include text-slate-20();

    &:hover {
      @include bg-slate-60();
      @include border-slate-40();
    }

    &.dragenter {
      @include bg-slate-80();
      @include border-azure-60();
    }

    .droparea-label {
      @include text-slate-30();
    }

    .file-input:focus ~ .droparea-label .hyperlink::part(link) {
      border: 1px solid var(--ids-color-palette-azure-60);
      box-shadow: 0 0 4px 2px rgb(141 201 230 / 0.1);
    }
  }

  &.disabled .droparea {
    @include text-slate-50();

    &:hover,
    &.dragenter {
      @include bg-slate-70();
      @include border-slate-50();
    }

    .droparea-label {
      @include text-slate-50();
    }
  }
}

.ids-upload-advanced[mode='contrast'] {
  .droparea {
    @include bg-white();
    @include border-slate-50();
    @include text-slate-50();

    &:hover {
      @include bg-slate-10();
      @include border-slate-50();
    }

    &.dragenter {
      @include bg-azure-10();
      @include border-azure-60();
    }
  }

  &.disabled .droparea {
    @include text-slate-40();
    @include border-slate-30();

    &:hover,
    &.dragenter {
      @include bg-white();
      @include border-slate-30();
    }

    .droparea-label {
      @include text-slate-40();
    }
  }
}
