/* Ids Upload Advanced */
@use '../../themes/mixins/ids-core-mixins.scss' as mixins;

.ids-upload-advanced {
  display: block;
  margin-bottom: var(--ids-space-60);

  .hidden {
    display: none;
  }

  .droparea {
    color: var(--ids-upload-advanced-color-text-default);
    background-color: var(--ids-upload-advanced-color-background-default);
    border-width: 1px;
    border-color: var(--ids-upload-advanced-color-border-default);
    position: relative;
    align-items: center;
    display: flex;
    border-radius: var(--ids-border-radius-01);
    border-style: dashed;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    padding: 0 20px;

    .icon {
      margin-bottom: 4px;
    }

    .droparea-label {
      @include mixins.antialiased();

      color: var(--ids-upload-advanced-label-color-text);
      display: block;
      text-align: center;
      user-select: none;
    }

    .hyperlink {
      pointer-events: auto;

      &::part(link) {
        text-decoration: underline;
      }
    }

    .file-input {
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      width: 0.1px;
      z-index: -1;

      &:focus ~ .droparea-label .hyperlink::part(link) {
        border: 1px solid var(--ids-upload-advanced-color-border-focus);
        box-shadow: var(--ids-upload-advanced-link-shadow-focus);
      }
    }

    &:hover {
      background-color: var(--ids-upload-advanced-color-background-hover);
      border-color: var(--ids-upload-advanced-color-border-hover);
      color: var(--ids-upload-advanced-color-text-hover);
    }

    &.dragenter {
      background-color: var(--ids-upload-advanced-color-background-drag-enter);
      border-color: var(--ids-upload-advanced-color-border-drag-enter);
    }
  }

  .toolbararea {
    height: 42px;
    opacity: 1;

    &.before-remove-transition {
      height: 8px;
      opacity: 0;
      transition: 0.3s all ease-out;
    }

    ~.filesarea .ids-upload-advanced-file:first-of-type .container,
    ~.filesarea ids-upload-advanced-file:first-of-type::part(container) {
      margin-top: 0;
    }

    .ids-toolbar-section.align-end {
      flex: auto;
    }
  }

  .errorarea {
    border: 1px solid transparent;
    margin-top: var(--ids-space-40);
    padding: var(--ids-space-20);
    display: none;
    border-radius: var(--ids-border-radius-01);
    border-style: dashed;
    align-items: center;

    &.has-error {
      display: flex;
      border-color: var(--ids-upload-advanced-error-area-color-border-error);
    }

    .status {
      flex-grow: 0;
      flex-shrink: 0;

      .ids-alert,
      ids-alert {
        display: block;
        padding: var(--ids-space-40);
        padding-bottom: var(--ids-space-30);
        margin: 0;
      }
    }

    .error-row {
      min-width: 0;
      flex-grow: 1;

      span {
        @include mixins.antialiased();

        display: block;
        font-weight: var(--ids-font-weight-normal);
        margin: 0;
        font-family: var(--ids-font-family-default);
        text-overflow: ellipsis;
      }
    }

    .btn-close {
      padding-inline: var(--ids-space-20);
      flex-grow: 0;
      flex-shrink: 0;
    }

    .error-data-container {
      max-height: 90px;
      overflow-y: auto;
    }
  }

  &.disabled {
    .droparea {
      .hyperlink {
        cursor: default;
        pointer-events: none;
      }
    }

    .droparea,
    .droparea.dragenter,
    .droparea:hover {
      background-color: var(--ids-upload-advanced-color-background-disabled);
      border-color: var(--ids-upload-advanced-color-border-disabled);
      color: var(--ids-upload-advanced-color-text-disabled);

      .droparea-label {
        cursor: default;
        color: var(--ids-upload-advanced-color-text-disabled);
      }
    }

    .errorarea.has-error {
      border-color: var(--ids-upload-advanced-area-color-border-error-disabled);
      color: var(--ids-upload-advanced-color-text-error-disabled);
    }
  }
}
