/* Ids Hyperlink Component */
@use '../../themes/ids-core-mixins' as mixins;

.ids-hyperlink {
  @include mixins.antialiased();

  border: 1px solid transparent;
  border-radius: var(--ids-border-radius);
  cursor: var(--ids-cursor-actionable);
  display: inline-block;
  font-family: var(--ids-font-family);
  font-size: var(--ids-font-size);
  font-weight: var(--ids-font-weight-normal);
  padding: var(--ids-spacing-md);
  position: relative;
  margin: calc(var(--ids-spacing-md) * -1);

  &.disabled,
  &[disabled] {
    cursor: var(--ids-cursor-normal);
    pointer-events: none;
    user-select: none;
  }

  &:focus {
    outline: none;
  }

  &.bold {
    font-weight: var(--ids-font-weight-bold);
  }

  &.hitbox::after {
    content: '';
    display: block;
    height: var(--ids-size-md);
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
  }

  /* Ids Typography System */
  &.ids-text-10 {
    font-size: var(--ids-font-size-xxs);
    text-transform: var(--ids-text-transform);
  }

  &.ids-text-12,
  &.ids-text-xs {
    font-size: var(--ids-font-size-xs);
    text-transform: var(--ids-text-transform);
  }

  &.ids-text-14,
  &.ids-text-sm {
    font-size: var(--ids-font-size-sm);
  }

  &.ids-text-16,
  &.ids-text,
  &.ids-text-base {
    font-size: var(--ids-font-size-md);
  }

  &.ids-text-20 {
    font-size: var(--ids-font-size-lg);
  }

  &.ids-text-24,
  &.ids-text-lg {
    font-size: var(--ids-font-size-xxl);
  }

  &.ids-text-28 {
    font-size: var(--ids-font-size-xxl);
  }

  &.ids-text-32,
  &.ids-text-xl {
   font-size: var(--ids-font-size-3xl);
  }

  &.ids-text-40 {
    font-size: var(--ids-font-size-4xl);
  }

  &.ids-text-48 {
    font-size: var(--ids-font-size-5xl);
  }

  &.ids-text-60 {
    font-size: var(--ids-font-size-6xl);
  }

  &.ids-text-72 {
    font-size: var(--ids-font-size-7xl);
    margin-bottom: 0;
  }

  // =========================================
  // Theme colors are applied when `color="unset"` is not set
  &:not(.ids-hyperlink-color-unset) {
    color: var(--ids-hyperlink-text-color);

    &:focus {
      border: 1px solid var(--ids-hyperlink-text-color);
      box-shadow: var(--ids-focus-ring-shadow);
    }

    &:hover:not([disabled]):not(.ids-text-decoration-hover):not(.disabled),
    &:active:not([disabled]):not(.ids-text-decoration-hover):not(.disabled) {
      color: var(--ids-hyperlink-hover-text-color);
    }

    &.disabled,
    &[disabled] {
      color: var(--ids-hyperlink-disabled-text-color);
    }

    // ===============================================
    // Color Variants
    &.color-variant-breadcrumb {
      color: var(--ids-body-subtle-text-color);

      &.disabled,
      &[disabled] {
        color: var(--ids-body-disabled-text-color);
      }
    }

    &.color-variant-alternate {
      color: var(--ids-body-inverse-text-color);
    }
  }
}

.ids-text-decoration-none {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.ids-text-decoration-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:host(:not([allow-empty-href='false'])) {
  .ids-hyperlink:not(.ids-text-decoration-none):not(.color-variant-breadcrumb):not(.ids-text-decoration-hover) {
    text-decoration: underline;
  }
}
