/* Ids Hyperlink Css */
@import '../../core/ids-base';

/* Ids Typography System */
.ids-text-10 {
  @include text-10();
  @include text-uppercase();
}

.ids-text-12,
.ids-text-xs {
  @include text-12();
  @include text-uppercase();
}

.ids-text-14,
.ids-text-sm {
  @include text-14();
}

.ids-text-16,
.ids-text-base {
  @include text-16();
}

.ids-text-20 {
  @include text-20();
}

.ids-text-24,
.ids-text-lg {
  @include text-24();
}

.ids-text-28 {
  @include text-28();
}

.ids-text-32,
.ids-text-xl {
  @include text-32();
}

.ids-text-40 {
  @include text-40();
}

.ids-text-48 {
  @include text-48();
}

.ids-text-60 {
  @include text-60();
}

.ids-text-72 {
  @include text-72();
  @include mb-0();
}

.ids-hyperlink {
  @include antialiased();
  @include cursor-pointer();
  @include font-sans();
  @include font-normal();
  @include p-4();
  @include rounded-default();
  @include mb-8();
  @include relative();
  @include text-16();

  border: 1px solid transparent;
  display: inline-block;
  margin: -4px;

  &.disabled,
  &[disabled] {
    @include cursor-default();

    pointer-events: none;
    user-select: none;
  }

  &:focus {
    outline: none;
  }

  &.bold {
    @include font-bold();
  }

  &.hitbox::after {
    content: '';
    display: block;
    height: 44px;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
  }

  // =========================================
  // Theme colors are applied when `color="unset"` is not set
  &:not(.ids-hyperlink-color-unset) {
    &[version='new'][mode='light'],
    &:not([mode]) {
      @include text-azure-60();

      &:focus {
        border: 1px solid var(--ids-color-palette-azure-60);
        box-shadow: 0 0 4px 3px rgb(54 138 192 / 0.3);
      }

      &:hover:not([disabled]):not(.ids-text-decoration-hover):not(.disabled),
      &:active:not([disabled]):not(.ids-text-decoration-hover):not(.disabled) {
        @include text-azure-70();
      }

      &.disabled,
      &[disabled] {
        @include text-slate-40();
      }
    }

    &[version='new'][mode='dark'] {
      @include text-azure-40();

      &:focus {
        border: 1px solid var(--ids-color-palette-azure-60);
        box-shadow: 0 0 4px 2px rgb(141 201 230 / 0.3);
      }

      &:hover:not([disabled]):not(.ids-text-decoration-hover):not(.disabled),
      &:active:not([disabled]):not(.ids-text-decoration-hover):not(.disabled) {
        @include text-azure-60();
      }

      &.disabled,
      &[disabled] {
        @include text-slate-50();
      }
    }

    &[version='new'][mode='contrast'] {
      @include text-azure-90();

      &:focus {
        border: 1px solid var(--ids-color-palette-azure-90);
        box-shadow: 0 0 4px 2px rgb(41 41 41 / 0.3);
      }

      &:hover:not([disabled]):not(.ids-text-decoration-hover):not(.disabled),
      &:active:not([disabled]):not(.ids-text-decoration-hover):not(.disabled) {
        @include text-azure-100();
      }

      &.disabled,
      &[disabled] {
        @include text-slate-50();
      }
    }

    &[version='classic'][mode='light'] {
      @include text-azure-70();

      &:focus {
        box-shadow: 0 0 4px 3px rgb(54 138 192 / 0.3);
      }

      &:hover:not([disabled]):not(.ids-text-decoration-hover):not(.disabled),
      &:active:not([disabled]):not(.ids-text-decoration-hover):not(.disabled) {
        @include text-azure-80();
      }

      &.disabled,
      &[disabled] {
        @include text-graphite-40();
      }
    }

    &[version='classic'][mode='dark'] {
      @include text-azure-40();

      &:focus {
        box-shadow: 0 0 4px 3px rgb(141 201 230 / 0.3);
      }

      &:hover:not([disabled]):not(.ids-text-decoration-hover):not(.disabled),
      &:active:not([disabled]):not(.ids-text-decoration-hover):not(.disabled) {
        @include text-azure-50();
      }

      &.disabled,
      &[disabled] {
        @include text-classic-slate-50();
      }
    }

    &[version='classic'][mode='contrast'] {
      @include text-azure-90();

      &:focus {
        border: 1px solid var(--ids-color-palette-azure-90);
        box-shadow: 0 0 4px 2px rgb(41 41 41 / 0.3);
      }

      &:hover:not([disabled]):not(.ids-text-decoration-hover):not(.disabled),
      &:active:not([disabled]):not(.ids-text-decoration-hover):not(.disabled) {
        @include text-azure-100();
      }

      &.disabled,
      &[disabled] {
        @include text-classic-slate-50();
      }
    }

    // ===============================================
    // Color Variants
    &.color-variant-breadcrumb {
      &[version='new'][mode='light'],
      &:not([mode]) {
        @include text-slate-60();

        &.disabled,
        &[disabled] {
          @include text-slate-30();
        }
      }

      &[version='new'][mode='dark'] {
        @include text-slate-40();

        &.disabled,
        &[disabled] {
          @include text-slate-60();
        }
      }

      &[version='new'][mode='contrast'] {
        @include text-slate-80();

        &.disabled,
        &[disabled] {
          @include text-slate-30();
        }
      }

      &[version='classic'][mode='light'] {
        @include text-slate-60();

        &.disabled,
        &[disabled] {
          @include text-slate-30();
        }
      }

      &[version='classic'][mode='dark'] {
        @include text-slate-40();

        &.disabled,
        &[disabled] {
          @include text-classic-slate-50();
        }
      }

      &[version='classic'][mode='contrast'] {
        @include text-slate-80();

        &.disabled,
        &[disabled] {
          @include text-slate-50();
        }
      }

      &:not([mode]) {
        @include text-slate-60();
      }
    }

    &.color-variant-alternate {
      &.disabled,
      &[disabled] {
        opacity: 0.7;
      }

      &[version='new'][mode='light'],
      &:not([mode]) {
        @include text-white();
      }

      &[version='new'][mode='dark'] {
        @include text-white();
      }

      &[version='new'][mode='contrast'] {
        @include text-white();
      }

      &[version='classic'][mode='light'] {
        @include text-white();
      }

      &[version='classic'][mode='dark'] {
        @include text-white();
      }

      &[version='classic'][mode='contrast'] {
        @include text-white();
      }
    }
  }
}

.ids-text-decoration-none {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.ids-text-decoration-hover {
  text-decoration: none;

  &[href]:hover {
    text-decoration: underline;
  }
}
