# This workflow will only run on push to the main branch.  It will do a clean install of node dependencies, build the source code and deploy to S3.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2

    - uses: szenius/set-timezone@v1.0
      with:
        timezoneLinux: "America/New_York"
        timezoneMacos: "America/New_York"
        timezoneWindows: "America/New_York"

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache multiple paths
      uses: actions/cache@v2
      with:
        path: node_modules
        key: ids-enterprise-wc-020

    - name: Install Dependencies
      run: npm ci

    - name: Build and Compile
      run: npm run build

    - name: Run Tests For Percy Baselines
      run: npx percy exec -- npm run test:percy
      env:
        PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}

    - name: Extract branch name
      shell: bash
      run: |
        echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Copy wc dist-demo files to S3
      run: |
       branch_name=${{ steps.extract_branch.outputs.branch }}
       echo "Deploying ${branch_name//./_}"
       aws s3 cp demo-dist/ "s3://wc-demos/${branch_name//./_}" --recursive
       aws configure set preview.cloudfront true
       aws cloudfront create-invalidation --distribution-id E2Q51X0UO412XH --paths /${branch_name//./_} || true
