# This workflow will do a clean install of node dependencies, build the source code and run tests and linters across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Build Check

on:
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize, unlabeled ]

jobs:
  build:

    if: "!contains(github.event.pull_request.labels.*.name, 'skip ci tests')"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2

    - uses: szenius/set-timezone@v1.0
      with:
        timezoneLinux: "America/New_York"
        timezoneMacos: "America/New_York"
        timezoneWindows: "America/New_York"

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache multiple paths
      uses: actions/cache@v2
      with:
        path: node_modules
        key: ids-enterprise-wc-032

    - name: Install Dependencies
      run: npm ci

    - name: Run Lint Checks
      run: npm run lint

    - name: Build and Compile
      run: npm run build

    - name: Run Tests (including Percy)
      run: npx percy exec -- npm run test:ci
      env:
        PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
