# This workflow will do a clean install of node dependencies, build the source code and run tests and linters across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Build Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Cache multiple paths
      uses: actions/cache@v2
      with:
        path: node_modules
        key: 0009
    
    - name: Install Dependencies
      run: npm i
      
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
       languages: javascript

    - name: Run a test build
      run: npm run build
    
    - name: Run Lint Checks
      run: npm run lint
      
    - name: Run tests with Test Coverage
      run: npm run test:coverage

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Run Percy Tests
      uses: percy/exec-action@v0.3.1
      with:
        command: "npm run test:ci"
      env:
        PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
        
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
