/* Ids Line Chart Component */
@import '../../components/ids-axis-chart/ids-axis-chart';

.ids-axis-chart {
  // Dot Styles
  .markers {
    @for $i from 1 through 21 {
      circle.color-#{$i} {
        fill: var(--color-#{$i});
      }
    }
  }

  // Line Styles
  .marker-lines {
    fill: none;
    stroke-width: 2;

    @for $i from 1 through 21 {
      .data-line.color-#{$i} {
        stroke: var(--color-#{$i});
      }
    }
  }
}
