/* Ids Line Chart Component */
@import '../../components/ids-axis-chart/ids-axis-chart';

.ids-axis-chart {
  // Extend the dot area for hover events
  .markers circle {
    stroke-width: var(--ids-space-40);
    stroke: transparent;
  }

  // Dot Styles
  .markers {
    @for $i from 1 through 21 {
      circle.color-#{$i} {
        fill: var(--ids-chart-color-#{$i});
      }
    }
  }

  // Line Styles
  .marker-lines {
    fill: none;
    stroke-width: var(--ids-space-20);

    @for $i from 1 through 21 {
      .data-line.color-#{$i} {
        stroke: var(--ids-chart-color-#{$i});
      }
    }
  }

  .markers [part='marker'],
  .marker-lines [part='line'] {
    outline: none;
  }
}

.ids-chart-container.selectable {
  .ids-axis-chart {
    .markers [part='marker'],
    .marker-lines [part='line'] {
      cursor: var(--ids-cursor-pointer);

      &.selected,
      &[selected] {
        opacity: 1;
      }

      &.not-selected {
        opacity: 0.35;
      }
    }
  }
}

// End animation at the right place
@keyframes animate-line {
  to {
    stroke-dashoffset: 0;
  }
}
