/* Ids Tag Component */
@import '../ids-base/ids-base';

// Host styles are needed here for "placed" components like Popup.
// (acts as a CSS "reset" without needing a real one)
:host {
  @include block();

  min-height: calc(100vh - 16px);
}

.ids-container {
  @include absolute();
  @include bg-white();
  @include outline-none();
  @include p-8();

  height: 100%;
  margin: 0;
  overflow: auto;
  width: 100%;

  &[scrollable='false'] {
    overflow: hidden;
  }
}

// Handle Themes
.ids-container[mode='light'] {
  @include bg-white();
}

.ids-container[mode='dark'] {
  @include bg-slate-90();
}

.ids-container[mode='contrast'] {
  @include bg-slate-10();
}

.ids-container[version='classic'][mode='light'] {
  @include bg-graphite-10();
}

.ids-container[version='classic'][mode='dark'] {
  @include bg-classic-slate-90();
}

.ids-container[version='classic'][mode='contrast'] {
  @include bg-graphite-20();
}
