@import '../../core/ids-base';

.ids-progress-chart {
  @include antialiased();
  @include font-sans();

  contain: content;
  display: flex;
  flex-direction: column;
  margin: 0 0 8px;

  .labels {
    @include text-graphite-50();

    font-size: 16px;
    display: inline-flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 8px;
    width: 100%;
    align-items: flex-end;

    .label-main {
      display: inline-flex;
      margin: 0 4px 0 0;

      &::part(text) {
        color: currentColor;
        font-family: inherit;
        font-size: inherit;
      }
    }

    .label-progress {
      display: inline-flex;
      margin: 0 4px;

      &::part(text) {
        color: currentColor;
        font-family: inherit;
        font-size: inherit;
      }
    }

    .label-end {
      display: flex;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      justify-content: flex-end;
    }

    .label-total {
      position: absolute;

      &::part(text) {
        color: currentColor;
        font-family: inherit;
        font-size: inherit;
      }
    }
  }

  .bar {
    border-radius: 2px;
    min-height: 28px;
    min-width: 66px;
    display: flex;
    position: relative;

    .bar-total {
      border-radius: inherit;
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
    }

    .bar-progress {
      border-radius: inherit;
      display: flex;
      top: 0;
      left: 0;
      height: inherit;
    }
  }
}

.ids-progress-chart[version='new'] {
  &[mode='light'] {
    .bar {
      .bar-total {
        @include bg-slate-30();
      }

      .bar-progress {
        @include bg-slate-60();
      }
    }

    .labels {
      @include text-slate-60();
    }
  }

  &[mode='dark'] {
    .bar {
      .bar-total {
        @include bg-slate-50();
      }

      .bar-progress {
        @include bg-azure-60();
      }
    }

    .labels {
      @include text-slate-30();
    }
  }

  &[mode='contrast'] {
    .bar {
      .bar-total {
        @include bg-slate-40();
      }

      .bar-progress {
        @include bg-azure-90();
      }
    }

    .labels {
      @include text-slate-90();
    }
  }
}

.ids-progress-chart[version='classic'] {
  ids-icon {
    margin: 0;
  }

  &[mode='light'] {
    .bar {
      .bar-total {
        background-color: #bdbdbd;
      }

      .bar-progress {
        background-color: #5c5c5c;
      }
    }

    .labels {
      color: #5c5c5c;
    }
  }

  &[mode='dark'] {
    .bar {
      .bar-total {
        background-color: #50535a;
      }

      .bar-progress {
        background-color: #368ac0;
      }
    }

    .labels {
      color: #abaeb7;
    }
  }

  &[mode='contrast'] {
    .bar {
      .bar-total {
        background-color: #737373;
      }

      .bar-progress {
        background-color: #383838;
      }
    }

    .labels {
      color: #383838;
    }
  }
}
