.ids-progress-chart {
  contain: content;
  display: flex;
  flex-direction: column;
  font-family: var(--ids-progress-chart-font-family);
  margin: var(--ids-progress-chart-margin);

  .labels {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    color: var(--ids-progress-chart-label-color-text);
    font-size: var(--ids-progress-chart-label-font-size);
    margin-bottom: var(--ids-progress-chart-label-margin-bottom);
    position: relative;
    width: 100%;

    .label-main {
      display: inline-flex;
      margin: var(--ids-progress-chart-label-main-margin);

      &::part(text) {
        color: currentColor;
        font-family: inherit;
        font-size: inherit;
      }
    }

    .label-progress {
      display: inline-flex;
      margin: var(--ids-progress-chart-label-progress-margin);

      &::part(text) {
        color: currentColor;
        font-family: inherit;
        font-size: inherit;
      }
    }

    .label-end {
      display: flex;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      justify-content: flex-end;
    }

    .label-total {
      position: absolute;

      &::part(text) {
        color: currentColor;
        font-family: inherit;
        font-size: inherit;
      }
    }
  }

  .bar {
    border-radius: var(--ids-progress-chart-bar-border-radius);
    min-height: var(--ids-progress-chart-height-min);
    min-width: var(--ids-progress-chart-bar-width-min);
    display: flex;
    position: relative;

    .bar-total {
      background-color: var(--ids-progress-chart-total-color-background);
      border-radius: inherit;
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
    }

    .bar-progress {
      background-color: var(--ids-progress-chart-bar-progress-color-background);
      border-radius: inherit;
      display: flex;
      top: 0;
      left: 0;
      height: inherit;
    }
  }
}
